Repository apache/doris, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gavinchou, @dataroaring, @BiteTheDDDDt, @CalvinKirs, @morningman, @yiguolei, @xiaokang, @luwei16, @dearding, @swjtu-zhanglei, @deardeng, @w41ter

.github/CODEOWNERS:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# for more syntax help and usage example
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

be/src/io/ @gavinchou @dataroaring
be/src/agent/be_exec_version_manager.cpp @BiteTheDDDDt
fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java @dataroaring @CalvinKirs @morningman
**/pom.xml @CalvinKirs @morningman
fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java @dataroaring @morningman @yiguolei @xiaokang
fe/fe-core/src/main/java/org/apache/doris/cloud/ @luwei16 @gavinchou @dearding @dataroaring
cloud/src/meta-service/*job* @luwei16 @gavinchou @dataroaring
cloud/src/meta-service/*meta_service_txn* @swjtu-zhanglei @gavinchou @dataroaring
cloud/src/meta-service/*resource* @deardeng @gavinchou @dataroaring
cloud/src/resource-manager/* @deardeng @gavinchou @dataroaring
cloud/src/recycler/* @swjtu-zhanglei @gavinchou @dataroaring
be/src/cloud/*compact* @luwei16 @gavinchou @dataroaring
be/src/cloud/*schema* @luwei16 @gavinchou @dataroaring
cloud/ @gavinchou @dataroaring @w41ter
be/src/cloud/ @gavinchou @dataroaring
gensrc/proto/olap_file.proto @gavinchou @dataroaring @yiguolei
gensrc/proto/cloud.proto @gavinchou @dataroaring @w41ter

[opt](nereids) simplify cast date like from high scale to small scale (#47036)
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rules/SimplifyComparisonPredicate.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rules/SimplifyComparisonPredicateTest.java
  regression-test/data/nereids_rules_p0/infer_predicate/extend_infer_equal_predicate.out
  regression-test/suites/nereids_rules_p0/partition_prune/month_quarter_cast_in_prune.groovy
Owners: none

[opt](nereids) simplify cast date like from high scale to small scale (#47036)
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rules/SimplifyComparisonPredicate.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rules/SimplifyComparisonPredicateTest.java
  regression-test/data/nereids_rules_p0/infer_predicate/extend_infer_equal_predicate.out
  regression-test/suites/nereids_rules_p0/partition_prune/month_quarter_cast_in_prune.groovy
Owners: none

fix comments
  fe/fe-core/src/main/java/org/apache/doris/analysis/CastExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DataDescription.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/cloud/load/CloudLoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/commands/CopyIntoCommand.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/commands/info/CopyIntoInfo.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
Owners: @gavinchou, @dataroaring, @w41ter

fix license
  regression-test/suites/cloud_p0/node_mgr/test_cloud_decommission.groovy
Owners: none

[cases](regression-test) add nereids check
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
Owners: none

[fix](restore) Release snapshots after the FINISHED state persisted
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
Owners: none

[fix](restore) Add local snapshot lock to protect snapshot dir
  be/src/olap/snapshot_manager.cpp
  be/src/olap/snapshot_manager.h
  be/src/runtime/snapshot_loader.cpp
Owners: none

format
  fe/fe-core/src/main/java/org/apache/doris/analysis/TimeLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/TimeLiteral.java
Owners: none

reserve ports
  docker/thirdparties/docker-compose/hive/hive-2x.yaml.tpl
  docker/thirdparties/docker-compose/hive/hive-2x_settings.env
  docker/thirdparties/docker-compose/hive/hive-3x.yaml.tpl
  docker/thirdparties/run-thirdparties-docker.sh
Owners: none

[fix](merge-on-write) Remove pending delete bitmap check when `commit_txn()` (#47136)
  cloud/src/meta-service/meta_service.cpp
  cloud/src/meta-service/meta_service_txn.cpp
  cloud/test/meta_service_test.cpp
  gensrc/proto/cloud.proto
Owners: @gavinchou, @dataroaring, @w41ter

[fix](merge-on-write) Remove pending delete bitmap check when `commit_txn()` (#47136)
  cloud/src/meta-service/meta_service.cpp
  cloud/src/meta-service/meta_service_txn.cpp
  cloud/test/meta_service_test.cpp
  gensrc/proto/cloud.proto
Owners: @gavinchou, @dataroaring, @w41ter

fix
  fe/fe-core/src/main/java/org/apache/doris/analysis/TimeLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/TimeLiteral.java
Owners: none

[feature](backup) backup restore colocate table (#46059)
  fe/fe-core/src/main/java/org/apache/doris/analysis/RestoreStmt.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupHandler.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupJob.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/test/java/org/apache/doris/backup/RestoreJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/OlapTableTest.java
  regression-test/suites/backup_restore/test_backup_restore_colocate.groovy
Owners: none

[feature](backup) backup restore colocate table (#46059)
  fe/fe-core/src/main/java/org/apache/doris/analysis/RestoreStmt.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupHandler.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupJob.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/test/java/org/apache/doris/backup/RestoreJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/OlapTableTest.java
  regression-test/suites/backup_restore/test_backup_restore_colocate.groovy
Owners: none

[fix](restore) Release snapshots after the FINISHED state is persisted (#47277)
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
Owners: none

[fix](restore) Release snapshots after the FINISHED state is persisted (#47277)
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
Owners: none

[fix](restore) Release snapshots after the FINISHED state is persisted (#47277)
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
Owners: none

[fix](restore) Release snapshots after the FINISHED state is persisted (#47277)
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
Owners: none

[Fix](Variant) fix variant may lost schema info when meet TXN_CONFLICT in cloud mode
  cloud/src/meta-service/meta_service.cpp
  cloud/src/meta-service/meta_service_schema.cpp
  cloud/src/meta-service/meta_service_schema.h
  regression-test/data/variant_p0/schema_change/schema_change_with_txn_conflict.out
  regression-test/suites/variant_p0/schema_change/schema_change_with_txn_conflict.groovy
Owners: @gavinchou, @dataroaring, @w41ter

[fix](bug) Fix `Config.max_query_retry_time=1` analysis planner is null
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Owners: none

[fix](Nereids) fix fold constant of time acquired functions
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  regression-test/suites/nereids_p0/expression/fold_constant/fold_constant_date_arithmatic.groovy
Owners: none

[fix](case) fix group commit and cluster key case (#47141)
  regression-test/suites/insert_p0/insert_group_commit_into_unique.groovy
  regression-test/suites/unique_with_mow_c_p0/test_compact_multi_segments.groovy
Owners: none

[fix](case) fix group commit and cluster key case (#47141)
  regression-test/suites/insert_p0/insert_group_commit_into_unique.groovy
  regression-test/suites/unique_with_mow_c_p0/test_compact_multi_segments.groovy
Owners: none

fix
  fe/fe-core/src/main/java/org/apache/doris/analysis/TimeLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/TimeLiteral.java
Owners: none

[fix](test) fix case test_index_io_context
  be/src/olap/rowset/segment_v2/inverted_index_fs_directory.cpp
  regression-test/suites/fault_injection_p0/test_index_io_context.groovy
Owners: none

1
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropColumnClause.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/DropColumnClauseTest.java
Owners: none

update
  docker/thirdparties/run-thirdparties-docker.sh
Owners: none

branch-2.1: [fix](bug) Fix dead lock in Tablet Stat Mgr (#47242)
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletStatMgr.java
  fe/fe-core/src/main/java/org/apache/doris/metric/MetricRepo.java
Owners: none

upd
  be/test/exec/hash_map/cast_type.h
  be/test/exec/hash_map/distinct_agg_hash_map.cpp
Owners: none

[Fix](test) Fix Show Data Case (#47224)
  cloud/src/common/config.h
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  regression-test/plugins/aliyun_oss_sdk.groovy
  regression-test/plugins/cloud_show_data_plugin.groovy
  regression-test/suites/show_data_p2/test_cloud_follower_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_mtmv_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_schema_change_add_and_drop_column_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_schema_change_add_and_drop_index_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_schema_change_reorder_column_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_delete_table_rows_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_drop_and_recover_partition_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_drop_table_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_truncate_table_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_disable_compaction_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_inverted_index_v1_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_inverted_index_v2_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_lz4_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_zstd_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_agg_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_dup_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_mor_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_mow_partial_update_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_mow_show_data.groovy
Owners: @gavinchou, @dataroaring, @w41ter

[Fix](test) Fix Show Data Case (#47224)
  cloud/src/common/config.h
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  regression-test/plugins/aliyun_oss_sdk.groovy
  regression-test/plugins/cloud_show_data_plugin.groovy
  regression-test/suites/show_data_p2/test_cloud_follower_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_mtmv_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_schema_change_add_and_drop_column_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_schema_change_add_and_drop_index_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_schema_change_reorder_column_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_delete_table_rows_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_drop_and_recover_partition_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_drop_table_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_truncate_table_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_disable_compaction_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_inverted_index_v1_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_inverted_index_v2_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_lz4_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_zstd_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_agg_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_dup_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_mor_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_mow_partial_update_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_mow_show_data.groovy
Owners: @gavinchou, @dataroaring, @w41ter

[fix](restore) Add a local snapshot lock to protect snapshot dir (#47279)
  be/src/olap/snapshot_manager.cpp
  be/src/olap/snapshot_manager.h
  be/src/runtime/snapshot_loader.cpp
Owners: none

[fix](restore) Add a local snapshot lock to protect snapshot dir (#47279)
  be/src/olap/snapshot_manager.cpp
  be/src/olap/snapshot_manager.h
  be/src/runtime/snapshot_loader.cpp
Owners: none

[fix](restore) Add a local snapshot lock to protect snapshot dir (#47279)
  be/src/olap/snapshot_manager.cpp
  be/src/olap/snapshot_manager.h
  be/src/runtime/snapshot_loader.cpp
Owners: none

[Fix](test) Fix Show Data Case (#47224)
  cloud/src/common/config.h
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  regression-test/plugins/aliyun_oss_sdk.groovy
  regression-test/plugins/cloud_show_data_plugin.groovy
  regression-test/suites/show_data_p2/test_cloud_follower_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_mtmv_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_schema_change_add_and_drop_column_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_schema_change_add_and_drop_index_show_data.groovy
  regression-test/suites/show_data_p2/test_table_modification/test_cloud_schema_change_reorder_column_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_delete_table_rows_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_drop_and_recover_partition_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_drop_table_show_data.groovy
  regression-test/suites/show_data_p2/test_table_operation/test_cloud_truncate_table_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_disable_compaction_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_inverted_index_v1_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_inverted_index_v2_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_lz4_show_data.groovy
  regression-test/suites/show_data_p2/test_table_property/test_cloud_zstd_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_agg_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_dup_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_mor_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_mow_partial_update_show_data.groovy
  regression-test/suites/show_data_p2/test_table_type/test_cloud_mow_show_data.groovy
Owners: @gavinchou, @dataroaring, @w41ter

[fix](cloud-mow)Fe should process KV_TXN_CONFLICT_RETRY_EXCEEDED_MAX_TIMES when geting delete bitmap lock fail (#47161)
  fe/fe-core/src/main/java/org/apache/doris/cloud/transaction/CloudGlobalTransactionMgr.java
  regression-test/data/fault_injection_p0/cloud/test_cloud_mow_stream_load_with_txn_conflict.out
  regression-test/suites/fault_injection_p0/cloud/test_cloud_mow_stream_load_with_txn_conflict.groovy
Owners: @gavinchou, @dataroaring, @w41ter

[fix](cloud-mow)Fe should process KV_TXN_CONFLICT_RETRY_EXCEEDED_MAX_TIMES when geting delete bitmap lock fail (#47161)
  fe/fe-core/src/main/java/org/apache/doris/cloud/transaction/CloudGlobalTransactionMgr.java
  regression-test/data/fault_injection_p0/cloud/test_cloud_mow_stream_load_with_txn_conflict.out
  regression-test/suites/fault_injection_p0/cloud/test_cloud_mow_stream_load_with_txn_conflict.groovy
Owners: @gavinchou, @dataroaring, @w41ter

[fix](cloud-mow)Fe should process KV_TXN_CONFLICT_RETRY_EXCEEDED_MAX_TIMES when geting delete bitmap lock fail (#47161)
  fe/fe-core/src/main/java/org/apache/doris/cloud/transaction/CloudGlobalTransactionMgr.java
  regression-test/data/fault_injection_p0/cloud/test_cloud_mow_stream_load_with_txn_conflict.out
  regression-test/suites/fault_injection_p0/cloud/test_cloud_mow_stream_load_with_txn_conflict.groovy
Owners: @gavinchou, @dataroaring, @w41ter

DE
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Owners: none

[fix](cloud-mow) Make delete bitmap cache expired time more reasonable
  be/src/cloud/config.cpp
Owners: @gavinchou, @dataroaring
