Repository apache/doris, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gavinchou, @dataroaring, @BiteTheDDDDt, @CalvinKirs, @morningman, @yiguolei, @xiaokang, @luwei16, @dearding, @swjtu-zhanglei, @deardeng, @w41ter

fix
  fe/fe-core/src/main/java/org/apache/doris/analysis/TimeLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/TimeLiteral.java
Owners: none

NED
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Owners: none

[fix](inverted index) Add missing memory usage calculation for BKD index
  be/src/olap/rowset/segment_v2/inverted_index_searcher.cpp
  be/test/olap/rowset/segment_v2/inverted_index_searcher_test.cpp
Owners: none

update
  docker/thirdparties/docker-compose/iceberg/iceberg.yaml.tpl
Owners: none

branch-3.0: [fix](ccr) Wrong tosql for alt tbl enable feature #46620 (#47208)
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterTableStmt.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AlterTableStmtTest.java
Owners: none

[fix](binlog) Binlog ts not initialized (#47174)
  fe/fe-core/src/main/java/org/apache/doris/binlog/BinlogManager.java
Owners: none

[fix](binlog) Binlog ts not initialized (#47174)
  fe/fe-core/src/main/java/org/apache/doris/binlog/BinlogManager.java
Owners: none

branch-3.0: [fix](sql) Wrong result of tosql for drop column with rollup #47153 (#47205)
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropColumnClause.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/DropColumnClauseTest.java
Owners: none

[fix](binlog) Binlog ts not initialized (#47174)
  fe/fe-core/src/main/java/org/apache/doris/binlog/BinlogManager.java
Owners: none

[opt](kerberos) use ticket patch instead of keytab
  be/src/common/config.cpp
  be/src/common/config.h
  be/src/common/kerberos/kerberos_config.cpp
  be/src/common/kerberos/kerberos_config.h
  be/src/common/kerberos/kerberos_ticket_cache.cpp
  be/src/common/kerberos/kerberos_ticket_cache.h
  be/src/io/fs/hdfs_file_system.h
  be/src/io/hdfs_builder.cpp
  be/src/io/hdfs_builder.h
  fe/fe-core/src/test/java/org/apache/doris/datasource/iceberg/dlf/client/IcebergDLFExternalCatalogTest.java
Owners: @gavinchou, @dataroaring

2
  fe/fe-core/src/test/java/org/apache/doris/datasource/iceberg/dlf/client/IcebergDLFExternalCatalogTest.java
Owners: none

add log
  cloud/src/meta-service/meta_service_schema.cpp
Owners: @gavinchou, @dataroaring, @w41ter

upd
  be/test/exec/hash_map/cast_type.h
  be/test/exec/hash_map/distinct_agg_hash_map.cpp
Owners: none

[test](mtmv) Fix mv regression test fail occasionally and add some log (#47103)
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  regression-test/data/mv_p0/await/await.out
  regression-test/data/nereids_rules_p0/mv/external_table/part_partition_invalid.out
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/suites/mv_p0/await/await.groovy
  regression-test/suites/nereids_p0/hint/test_use_mv.groovy
  regression-test/suites/nereids_rules_p0/mv/external_table/part_partition_invalid.groovy
  regression-test/suites/nereids_rules_p0/mv/is_in_debug_mode/is_in_debug_mode.groovy
  regression-test/suites/nereids_rules_p0/mv/union_rewrite/usercase_union_rewrite.groovy
Owners: none

[test](mtmv) Fix mv regression test fail occasionally and add some log (#47103)
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  regression-test/data/mv_p0/await/await.out
  regression-test/data/nereids_rules_p0/mv/external_table/part_partition_invalid.out
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/suites/mv_p0/await/await.groovy
  regression-test/suites/nereids_p0/hint/test_use_mv.groovy
  regression-test/suites/nereids_rules_p0/mv/external_table/part_partition_invalid.groovy
  regression-test/suites/nereids_rules_p0/mv/is_in_debug_mode/is_in_debug_mode.groovy
  regression-test/suites/nereids_rules_p0/mv/union_rewrite/usercase_union_rewrite.groovy
Owners: none

[fix](Nereids) fix fold constant of time acquired functions (#47288)
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  regression-test/suites/nereids_p0/expression/fold_constant/fold_constant_date_arithmatic.groovy
Owners: none

[fix](Nereids) fix fold constant of time acquired functions (#47288)
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  regression-test/suites/nereids_p0/expression/fold_constant/fold_constant_date_arithmatic.groovy
Owners: none

fix test
  regression-test/suites/mv_p0/no_await/no_await.groovy
Owners: none

[test](mtmv) Fix mv regression test fail occasionally and add some log (#47103)
  regression-test/data/mv_p0/await/await.out
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/suites/mv_p0/await/await.groovy
  regression-test/suites/nereids_p0/hint/test_use_mv.groovy
  regression-test/suites/nereids_rules_p0/mv/union_rewrite/usercase_union_rewrite.groovy
Owners: none

fix test 1
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Owners: none

1
  regression-test/suites/nereids_rules_p0/mv/create_part_and_up/range_datetime_part_up_rewrite.groovy
Owners: none

tpcds 24
  regression-test/suites/inverted_index_p1/tpcds_sf1_index/sql/q24_1.sql
  regression-test/suites/inverted_index_p1/tpcds_sf1_index/sql/q24_2.sql
  regression-test/suites/tpcds_sf1000_p2/sql/q24_1.sql
  regression-test/suites/tpcds_sf1000_p2/sql/q24_2.sql
  regression-test/suites/tpcds_sf100_dup_without_key_p2/sql/q24_2.sql
  regression-test/suites/tpcds_sf100_p2/sql/q24_1.sql
  regression-test/suites/tpcds_sf100_p2/sql/q24_2.sql
  regression-test/suites/tpcds_sf1_p1/sql/q24_1.sql
  regression-test/suites/tpcds_sf1_p1/sql/q24_2.sql
  regression-test/suites/tpcds_sf1_unique_ck_p1/spill/q24_1.groovy
  regression-test/suites/tpcds_sf1_unique_ck_p1/spill/q24_2.groovy
  regression-test/suites/tpcds_sf1_unique_ck_p1/sql/q24_1.sql
  regression-test/suites/tpcds_sf1_unique_ck_p1/sql/q24_2.sql
  regression-test/suites/tpcds_sf1_unique_p1/spill/q24_1.groovy
  regression-test/suites/tpcds_sf1_unique_p1/spill/q24_2.groovy
  regression-test/suites/tpcds_sf1_unique_p1/sql/q24_1.sql
  regression-test/suites/tpcds_sf1_unique_p1/sql/q24_2.sql
Owners: none

F
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Owners: none

[fix](load) fix table sink memory usage counter
  be/src/olap/memtable_writer.cpp
  be/src/vec/sink/writer/async_result_writer.cpp
  be/src/vec/sink/writer/async_result_writer.h
  be/src/vec/sink/writer/iceberg/viceberg_table_writer.cpp
  be/src/vec/sink/writer/iceberg/viceberg_table_writer.h
  be/src/vec/sink/writer/vhive_table_writer.h
  be/src/vec/sink/writer/vtablet_writer.h
  be/src/vec/sink/writer/vtablet_writer_v2.h
Owners: none

add comment
  be/src/vec/sink/writer/async_result_writer.cpp
Owners: none

1
  regression-test/suites/mtmv_p0/test_base_mtmv.groovy
Owners: none

[test](mtmv) Fix regression test unstable and add relevant test log (#46299)
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/mv/InitMaterializationContextHook.java
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/suites/export_p0/test_export_table_with_materialized_view.groovy
  regression-test/suites/nereids_rules_p0/mv/external_table/mv_contain_external_table.groovy
  regression-test/suites/nereids_rules_p0/mv/external_table/part_partition_invalid.groovy
  regression-test/suites/nereids_rules_p0/mv/external_table/single_external_table.groovy
  regression-test/suites/nereids_syntax_p0/mv/ut/distinctQuery.groovy
  regression-test/suites/rollup_p0/test_materialized_view.groovy
Owners: none

[test](mtmv) Fix sync mv not partition in rewrite test and some other test problems (#46546)
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  regression-test/data/mv_p0/unique_rewrite/unique_rewrite.out
  regression-test/data/nereids_syntax_p0/mv/newMv/multi_slot4.out
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/suites/auth_call/test_ddl_mv_auth.groovy
  regression-test/suites/auth_p0/test_select_column_auth.groovy
  regression-test/suites/correctness_p0/test_mv_case/test_mv_case.groovy
  regression-test/suites/ddl_p0/create_view_nereids/create_view_use_mv.groovy
  regression-test/suites/mv_p0/no_await/no_await.groovy
  regression-test/suites/mv_p0/unique_rewrite/unique_rewrite.groovy
  regression-test/suites/nereids_rules_p0/mv/nested_mtmv/nested_mtmv.groovy
  regression-test/suites/nereids_syntax_p0/mv/newMv/multi_slot4.groovy
  regression-test/suites/schema_change_p0/test_dup_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_mv_schema_change.groovy
Owners: none

[test](mtmv) Fix mv regression test fail occasionally and add some log (#47103)
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  regression-test/data/mv_p0/await/await.out
  regression-test/data/nereids_rules_p0/mv/external_table/part_partition_invalid.out
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/suites/mv_p0/await/await.groovy
  regression-test/suites/nereids_rules_p0/mv/external_table/part_partition_invalid.groovy
  regression-test/suites/nereids_rules_p0/mv/is_in_debug_mode/is_in_debug_mode.groovy
  regression-test/suites/nereids_rules_p0/mv/union_rewrite/usercase_union_rewrite.groovy
Owners: none

1
  regression-test/suites/mtmv_p0/test_base_mtmv.groovy
Owners: none

1
  regression-test/suites/mtmv_p0/test_base_mtmv.groovy
Owners: none

fix reg case
  regression-test/suites/external_table_p0/jdbc/test_oracle_jdbc_catalog.groovy
Owners: none

[refactor](neredis)Remove dependency of old planner partition prune code in DeleteJobCommand (#47234)
  fe/fe-core/src/main/java/org/apache/doris/load/DeleteHandler.java
  fe/fe-core/src/main/java/org/apache/doris/load/DeleteJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/commands/DeleteFromCommand.java
  regression-test/data/delete_p0/test_basic_delete_job.out
  regression-test/suites/delete_p0/test_basic_delete_job.groovy
Owners: none

[refactor](neredis)Remove dependency of old planner partition prune code in DeleteJobCommand (#47234)
  fe/fe-core/src/main/java/org/apache/doris/load/DeleteHandler.java
  fe/fe-core/src/main/java/org/apache/doris/load/DeleteJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/commands/DeleteFromCommand.java
  regression-test/data/delete_p0/test_basic_delete_job.out
  regression-test/suites/delete_p0/test_basic_delete_job.groovy
Owners: none

add regression case
  regression-test/suites/control_p0/test_set_max_retry.groovy
Owners: none

1
  regression-test/suites/mtmv_p0/test_base_mtmv.groovy
Owners: none

[fix](date_function) fix str_to_date function return wrong microsecond issue
  fe/fe-core/src/main/java/org/apache/doris/analysis/DateLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  regression-test/suites/nereids_p0/sql_functions/datetime_functions/test_date_function_v2.groovy
Owners: none

update
  fe/fe-core/src/main/java/org/apache/doris/analysis/DateLiteral.java
Owners: none

fix reg case
  regression-test/suites/external_table_p0/jdbc/test_oracle_jdbc_catalog.groovy
Owners: none

fix code style
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/InferPredicatesTest.java
Owners: none

.github/CODEOWNERS:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# for more syntax help and usage example
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

be/src/io/ @gavinchou @dataroaring
be/src/agent/be_exec_version_manager.cpp @BiteTheDDDDt
fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java @dataroaring @CalvinKirs @morningman
**/pom.xml @CalvinKirs @morningman
fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java @dataroaring @morningman @yiguolei @xiaokang
fe/fe-core/src/main/java/org/apache/doris/cloud/ @luwei16 @gavinchou @dearding @dataroaring
cloud/src/meta-service/*job* @luwei16 @gavinchou @dataroaring
cloud/src/meta-service/*meta_service_txn* @swjtu-zhanglei @gavinchou @dataroaring
cloud/src/meta-service/*resource* @deardeng @gavinchou @dataroaring
cloud/src/resource-manager/* @deardeng @gavinchou @dataroaring
cloud/src/recycler/* @swjtu-zhanglei @gavinchou @dataroaring
be/src/cloud/*compact* @luwei16 @gavinchou @dataroaring
be/src/cloud/*schema* @luwei16 @gavinchou @dataroaring
cloud/ @gavinchou @dataroaring @w41ter
be/src/cloud/ @gavinchou @dataroaring
gensrc/proto/olap_file.proto @gavinchou @dataroaring @yiguolei
gensrc/proto/cloud.proto @gavinchou @dataroaring @w41ter
