Repository apache/doris, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gavinchou, @dataroaring, @BiteTheDDDDt, @CalvinKirs, @morningman, @yiguolei, @xiaokang, @luwei16, @dearding, @swjtu-zhanglei, @deardeng, @w41ter

add agg function pull up in PullUpPredicate(e.g. a>10 min(a)-> min(a)>10)
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/PullUpPredicates.java
  regression-test/data/nereids_rules_p0/infer_predicate/pull_up_predicate_agg.out
  regression-test/suites/nereids_rules_p0/infer_predicate/pull_up_predicate_agg.groovy
Owners: none

fix regression
  regression-test/data/nereids_rules_p0/infer_predicate/pull_up_predicate_agg.out
  regression-test/suites/nereids_rules_p0/infer_predicate/pull_up_predicate_agg.groovy
Owners: none

add fold const in pull up preidcates from aggregate
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/InferPredicates.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/PullUpPredicates.java
Owners: none

[feature](nereids) support pull up predicates from aggregate min/max/avg, and add qualifier when pull up predicates from project
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/PullUpPredicates.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/PredicateInferUtils.java
Owners: none

add fe ut
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/InferPredicatesTest.java
Owners: none

update
  regression-test/data/inverted_index_p0/ssb_unique_sql_zstd/sql/q4.3.out
  regression-test/suites/inverted_index_p0/ssb_unique_sql_zstd/sql/q4.3.sql
Owners: none

remove some spill variable fuzzy
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Owners: none

adjust
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Owners: none

[fix](hive docker)Reserve host port for hive2 namenode and datanode (#47262)
  docker/thirdparties/docker-compose/hive/hive-2x.yaml.tpl
  docker/thirdparties/docker-compose/hive/hive-2x_settings.env
  docker/thirdparties/docker-compose/hive/hive-3x.yaml.tpl
  docker/thirdparties/run-thirdparties-docker.sh
Owners: none

[fix](hive docker)Reserve host port for hive2 namenode and datanode (#47262)
  docker/thirdparties/docker-compose/hive/hive-2x.yaml.tpl
  docker/thirdparties/docker-compose/hive/hive-2x_settings.env
  docker/thirdparties/docker-compose/hive/hive-3x.yaml.tpl
  docker/thirdparties/run-thirdparties-docker.sh
Owners: none

[fix](hive docker)Reserve host port for hive2 namenode and datanode (#47262)
  docker/thirdparties/docker-compose/hive/hive-2x.yaml.tpl
  docker/thirdparties/docker-compose/hive/hive-2x_settings.env
  docker/thirdparties/docker-compose/hive/hive-3x.yaml.tpl
  docker/thirdparties/run-thirdparties-docker.sh
Owners: none

update
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Owners: none

1
  regression-test/suites/mtmv_p0/test_base_mtmv.groovy
Owners: none

1
  regression-test/suites/mtmv_p0/test_base_mtmv.groovy
Owners: none

1
  regression-test/suites/mtmv_p0/test_base_mtmv.groovy
Owners: none

[fix](merge-on-write) Remove pending delete bitmap check when `commit_txn()` (#47136)
  cloud/src/meta-service/meta_service.cpp
  cloud/src/meta-service/meta_service_txn.cpp
  cloud/test/meta_service_test.cpp
  gensrc/proto/cloud.proto
Owners: @gavinchou, @dataroaring, @w41ter

upd
  be/src/exprs/runtime_filter.cpp
  be/src/exprs/runtime_filter.h
  be/src/olap/column_predicate.h
  be/src/olap/olap_common.h
  be/src/pipeline/common/runtime_filter_consumer.cpp
  be/src/pipeline/common/runtime_filter_consumer.h
  be/src/pipeline/exec/olap_scan_operator.cpp
  be/src/pipeline/exec/olap_scan_operator.h
  be/src/pipeline/exec/scan_operator.cpp
  be/src/pipeline/exec/scan_operator.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
Owners: none

[chore](beut) Remove invalid argument in be-ut and fix wrong path in .gitignore (#47202)
  .gitignore
  run-be-ut.sh
Owners: none

[chore](beut) Remove invalid argument in be-ut and fix wrong path in .gitignore (#47202)
  .gitignore
  run-be-ut.sh
Owners: none

[fix](cloud-mow)Fix case test_schema_change_with_mow_txn_conflict (#47044)
  be/src/cloud/cloud_schema_change_job.cpp
  regression-test/suites/schema_change_p0/test_schema_change_with_mow_txn_conflict.groovy
Owners: @gavinchou, @dataroaring

N
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Owners: none

DEV
  fe/fe-core/src/main/java/org/apache/doris/common/profile/Profile.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/RuntimeProfile.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/DebugUtil.java
  gensrc/thrift/FrontendService.thrift
Owners: none

branch-3.0: [test](case) Add nereids check (#47214)
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
Owners: none

upd
  be/src/exprs/runtime_filter.cpp
  be/src/exprs/runtime_filter.h
  be/src/olap/column_predicate.h
  be/src/olap/olap_common.h
  be/src/pipeline/common/runtime_filter_consumer.cpp
  be/src/pipeline/common/runtime_filter_consumer.h
  be/src/pipeline/exec/olap_scan_operator.cpp
  be/src/pipeline/exec/olap_scan_operator.h
  be/src/pipeline/exec/scan_operator.cpp
  be/src/pipeline/exec/scan_operator.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
Owners: none

add comment
  cloud/src/meta-service/meta_service.cpp
Owners: @gavinchou, @dataroaring, @w41ter

F
  regression-test/suites/query_profile/s3_load_profile_test.groovy
Owners: none

FIX RE TEST
  regression-test/suites/query_profile/s3_load_profile_test.groovy
Owners: none

NED
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BulkLoadJob.java
Owners: none

NED
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
Owners: none

dev
  be/src/pipeline/exec/scan_operator.cpp
  be/src/pipeline/exec/scan_operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/util/runtime_profile.cpp
  be/src/util/runtime_profile.h
  be/src/util/runtime_profile_counter_tree_node.cpp
  be/src/util/runtime_profile_counter_tree_node.h
  be/test/CMakeLists.txt
  be/test/util/runtime_profile_counter_tree_node_test.cpp
  be/test/util/runtime_profile_profile_level_test.cpp
  be/test/util/runtime_profile_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/common/profile/ExecutionProfile.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/Profile.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/RuntimeProfile.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
  gensrc/thrift/RuntimeProfile.thrift
  regression-test/suites/bloom_filter_p0/test_bloom_filter_hit.groovy
  regression-test/suites/bloom_filter_p0/test_bloom_filter_hit_with_renamed_column.groovy
  regression-test/suites/inverted_index_p0/test_arrayInvertedIdx_profile.groovy
  regression-test/suites/query_profile/adaptive_pipeline_task_serial_read_on_limit.groovy
  regression-test/suites/query_profile/s3_load_profile_test.groovy
  regression-test/suites/query_profile/scanner_profile.groovy
  regression-test/suites/query_profile/test_profile.groovy
  tools/clickbench-tools/conf/doris-cluster.conf
Owners: none

update
  fe/fe-core/src/main/java/org/apache/doris/analysis/DateLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/StrToDate.java
Owners: none

1
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/es/EsExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergRestExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/jdbc/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/paimon/PaimonExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/ConnectorProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AWSGlueProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AliyunDLFProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/DataProcProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/HMSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/IcebergRestProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/MetastoreProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/HDFSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/S3Properties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/StorageProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/trinoconnector/TrinoConnectorExternalCatalog.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/jdbc/JdbcExternalCatalogTest.java
Owners: @dataroaring, @CalvinKirs, @morningman

2
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/ConnectorProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/PropertyUtils.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AWSGlueProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AliyunDLFProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/DataProcProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/HMSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/IcebergRestProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/HDFSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/S3Properties.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/GlueTest.java
Owners: none

8
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/ConnectionProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/ConnectorProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/PropertyUtils.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AliyunDLFProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/MetastoreProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/StorageProperties.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/property/metastore/AliyunDLFPropertiesTest.java
Owners: none

6
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/paimon/PaimonExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/paimon/PaimonHMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/catalog/IcebergCatalogProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AWSGlueProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/HMSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/IcebergRestProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/S3Properties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/StorageProperties.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogAPITest.java
Owners: none

34
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/CatalogProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/catalog/PaimonCatalogProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AliyunDLFProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/HMSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/HDFSProperties.java
Owners: none

7
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/StorageProperties.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogAPITest.java
Owners: none

2
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-common/src/main/java/org/apache/doris/common/ConfigurationUtils.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/CatalogProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/ConnectorProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/catalog/PaimonCatalogProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AWSGlueProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AliyunDLFProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/DataProcProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/HMSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/IcebergRestProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/MetastoreProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/S3Properties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/StorageProperties.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogAPITest.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/GlueTest.java
Owners: none

8
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/paimon/PaimonExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/paimon/PaimonHMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/ConnectionProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/connection/IcebergConnectionProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/connection/PaimonConnectionProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AWSGlueProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/FileMetastoreProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/MetastoreProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/S3Properties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/StorageProperties.java
Owners: none

5
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/CatalogProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/catalog/PaimonCatalogProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/AliyunDLFProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/HMSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/metastore/MetastoreProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/HDFSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/storage/StorageProperties.java
Owners: none

.github/CODEOWNERS:

#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# for more syntax help and usage example
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#codeowners-syntax

be/src/io/ @gavinchou @dataroaring
be/src/agent/be_exec_version_manager.cpp @BiteTheDDDDt
fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java @dataroaring @CalvinKirs @morningman
**/pom.xml @CalvinKirs @morningman
fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java @dataroaring @morningman @yiguolei @xiaokang
fe/fe-core/src/main/java/org/apache/doris/cloud/ @luwei16 @gavinchou @dearding @dataroaring
cloud/src/meta-service/*job* @luwei16 @gavinchou @dataroaring
cloud/src/meta-service/*meta_service_txn* @swjtu-zhanglei @gavinchou @dataroaring
cloud/src/meta-service/*resource* @deardeng @gavinchou @dataroaring
cloud/src/resource-manager/* @deardeng @gavinchou @dataroaring
cloud/src/recycler/* @swjtu-zhanglei @gavinchou @dataroaring
be/src/cloud/*compact* @luwei16 @gavinchou @dataroaring
be/src/cloud/*schema* @luwei16 @gavinchou @dataroaring
cloud/ @gavinchou @dataroaring @w41ter
be/src/cloud/ @gavinchou @dataroaring
gensrc/proto/olap_file.proto @gavinchou @dataroaring @yiguolei
gensrc/proto/cloud.proto @gavinchou @dataroaring @w41ter
