Repository apache/doris, pull requests merged in 2020-06, with the labels that each got.

#3718 [Spark load][Fe 2/5] Update push task thrift interface
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/Types.thrift
Labels: approved, area/load, kind/feature

#3731 [Bug][FsBroker] NPE throw when username is empty
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
Labels: approved, area/broker, kind/bug

#3701 [MemTracker] add log depth & auto unregister
  be/src/runtime/mem_tracker.cpp
  be/src/runtime/mem_tracker.h
Labels: approved, area/sql/execution, kind/cleanup

#3722 [Bug] Fix bug that runningprofile show time problem in FE web page and add the runingprofile doc
  docs/en/administrator-guide/runing-profile.md
  docs/zh-CN/administrator-guide/running-profile.md
  fe/src/main/java/org/apache/doris/common/util/DebugUtil.java
Labels: area/profile, kind/documentation

#3749 Fix bitmap internal _type misuse
  be/src/util/bitmap_value.h
  be/test/util/bitmap_value_test.cpp
Labels: approved, area/util, kind/bug

#3745 Add a link to Tablet Meta URL
  docs/en/administrator-guide/operation/tablet-repair-and-balance.md
  docs/zh-CN/administrator-guide/operation/tablet-repair-and-balance.md
  fe/src/main/java/org/apache/doris/common/proc/TabletsProcDir.java
  fe/src/main/java/org/apache/doris/http/action/SystemAction.java
Labels: approved, kind/api-change, kind/enhancement

#3712 [Spark load][Fe 1/5] Add spark etl job config
  fe/src/main/java/org/apache/doris/load/loadv2/etl/EtlJobConfig.java
Labels: api-review, approved, area/load

#3724 Fix large string val allocation failure
  be/src/exprs/anyval_util.h
  be/src/exprs/bitmap_function.cpp
  be/src/runtime/free_pool.hpp
  be/src/udf/udf.cpp
  be/src/udf/udf.h
  be/src/udf/udf_internal.h
Labels: approved, area/udf, kind/api-change

#3736 [HttpServer] capture convert exception
  be/src/http/action/compaction_action.cpp
  be/src/http/action/meta_action.cpp
Labels: approved, area/rpc, kind/bug

#3691 [refactor] Simple refactor on class Reader
  be/src/olap/reader.cpp
  be/src/olap/reader.h
Labels: approved, area/storage, kind/cleanup

#3732 [Config] Add new BE config for tcmalloc
  be/src/common/config.h
  be/src/service/doris_main.cpp
  docs/en/administrator-guide/config/be_config.md
  docs/zh-CN/administrator-guide/config/be_config.md
Labels: approved, area/config, kind/bug

#3604 (#3464) fix Query failed when fact table has no data in join case
  fe/src/main/java/org/apache/doris/planner/DistributedPlanner.java
  fe/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: approved, area/sql/planner

#3753 [FIX] fix binaryPredicte's equals function ignore op
  fe/src/main/java/org/apache/doris/analysis/BinaryPredicate.java
  fe/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/src/test/java/org/apache/doris/analysis/SelectStmtTest.java
Labels: approved, area/sql/planner, kind/bug

#3765 [Bug][Outfile] Fix bug that column separator is missing in output file.
  be/src/runtime/file_result_writer.cpp
  docs/en/administrator-guide/outfile.md
  docs/zh-CN/administrator-guide/outfile.md
Labels: approved, kind/bug

#3755 [Plugin] Add timeout of connection when downloading the plugins from URL
  docs/en/extending-doris/plugin-development-manual.md
  docs/zh-CN/extending-doris/plugin-development-manual.md
  fe/src/main/java/org/apache/doris/common/util/Util.java
  fe/src/main/java/org/apache/doris/plugin/PluginZip.java
  fe/src/test/java/org/apache/doris/plugin/PluginZipTest.java
Labels: approved, area/plugin, kind/bug

#3694 [Enhancement] Improve the performance of query with IN predicate
  be/src/common/config.h
  be/src/exec/olap_common.h
  be/src/exec/olap_scan_node.cpp
  be/src/exec/olap_scan_node.h
  docs/en/administrator-guide/config/be_config.md
  docs/en/administrator-guide/variables.md
  docs/zh-CN/administrator-guide/config/be_config.md
  docs/zh-CN/administrator-guide/variables.md
  fe/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/src/main/java/org/apache/doris/qe/MasterOpExecutor.java
  fe/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/PaloInternalService.thrift
Labels: area/sql/execution, kind/enhancement

#3703 [Load] Add more metric to trace the time cost in stream load and make brpc_num_threads configurable
  be/src/common/config.h
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_context.cpp
  be/src/runtime/stream_load/stream_load_context.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/service/brpc_service.cpp
  docs/en/administrator-guide/config/be_config.md
  docs/en/administrator-guide/load-data/stream-load-manual.md
  docs/zh-CN/administrator-guide/config/be_config.md
  docs/zh-CN/administrator-guide/load-data/stream-load-manual.md
Labels: approved, area/config, kind/api-change, kind/enhancement

#3751 [Doris On ES] Bug-Fix for incorrect result for docvalue scan mode
  be/src/exec/es/es_scan_reader.cpp
  be/src/exec/es/es_scroll_parser.cpp
Labels: approved, area/doris-on-es, kind/bug

#3766 [Bug] Clear Txn when load been cancelled
  fe/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
Labels: approved, kind/bug

#3772 Fix the error selectedIndexId when keysType of table is UNIQUE
  fe/src/main/java/org/apache/doris/planner/MaterializedViewSelector.java
  fe/src/test/java/org/apache/doris/planner/MaterializedViewFunctionTest.java
Labels: approved, area/materialized-view, kind/bug

#3777 [Website] Fix CREATE RESOURCE sidebar text and link not right bug
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/administrator-guide/running-profile.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/CREATE RESOURCE.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/DROP RESOURCE.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/SHOW RESOURCES.md
Labels: area/website, kind/cleanup

#3770 Add some log to make it easier to find out bug
  fe/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: approved, kind/enhancement

#3773 fix some flaw in format-code tutorial
  docs/en/developer-guide/format-code.md
  docs/zh-CN/developer-guide/format-code.md
Labels: approved, kind/documentation

#3741 Ignore broken disks when BE starts up
  be/src/olap/data_dir.cpp
  be/src/olap/data_dir.h
  be/src/olap/utils.cpp
  be/src/olap/utils.h
  be/src/service/doris_main.cpp
  docs/en/administrator-guide/config/be_config.md
  docs/zh-CN/administrator-guide/config/be_config.md
Labels: area/config

#3758 [Doris On ES] Add more detailed error message when fail to create es table
  fe/src/main/java/org/apache/doris/catalog/EsTable.java
  fe/src/main/java/org/apache/doris/external/EsRestClient.java
  fe/src/main/java/org/apache/doris/external/EsStateStore.java
  fe/src/main/java/org/apache/doris/planner/EsScanNode.java
  fe/src/test/java/org/apache/doris/es/EsStateStoreTest.java
Labels: approved, area/doris-on-es

#3780 [BUG] Fix location url in agg_fn_evaluator
  be/src/exprs/agg_fn_evaluator.cpp
  be/src/exprs/agg_fn_evaluator.h
Labels: approved

#3782 Add getValueFn and removeFn to properties
  fe/src/main/java/org/apache/doris/catalog/AggregateFunction.java
Labels: approved

#3768 Disable Bitmap or Hll type in keys or in values with incorrect agg-type
  fe/src/main/java/org/apache/doris/analysis/ColumnDef.java
  fe/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/src/main/java/org/apache/doris/catalog/AggregateType.java
  fe/src/test/java/org/apache/doris/analysis/CreateTableStmtTest.java
Labels: approved, kind/bug

#3750 [Bug] Fix a bug that tablet may be modified to BETA_ROWSET after cloned
  be/src/olap/rowset/rowset_meta.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_meta.h
  be/src/olap/tablet_schema.cpp
  be/src/olap/tablet_schema.h
  be/src/util/uid_util.h
  be/test/olap/CMakeLists.txt
  be/test/olap/tablet_meta_test.cpp
Labels: approved, area/storage, kind/bug

#3713 Use BackendStatus to show BE's infomation in `show backends;`
  docs/en/sql-reference/sql-statements/Administration/SHOW BACKENDS.md
  docs/zh-CN/sql-reference/sql-statements/Administration/SHOW BACKENDS.md
  fe/src/main/java/org/apache/doris/common/proc/BackendsProcDir.java
  fe/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/src/main/java/org/apache/doris/system/Backend.java
Labels: approved, area/statement, kind/enhancement

#3786 [Bug] Fix bug that should not use "!=" to judge the equivalence of Type
  fe/src/main/java/org/apache/doris/analysis/CompoundPredicate.java
  fe/src/main/java/org/apache/doris/analysis/DataDescription.java
  fe/src/main/java/org/apache/doris/analysis/LiteralExpr.java
  fe/src/main/java/org/apache/doris/analysis/SlotRef.java
  fe/src/main/java/org/apache/doris/planner/LoadScanNode.java
Labels: approved, area/load, kind/bug

#3790 Fix colocate group replay NPE
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
Labels: approved, area/colocated, kind/bug

#3793 Fix largeint max min bug
  be/src/exprs/expr_value.h
Labels: approved, kind/bug

#3795 [Bug] Fix bug that checkpoint thread failed to start
  fe/src/main/java/org/apache/doris/PaloFe.java
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/src/main/java/org/apache/doris/common/util/Daemon.java
  fe/src/main/java/org/apache/doris/master/Checkpoint.java
Labels: area/catalog, kind/bug

#3774 [Doris On ES] [1/3] Add ES QueryBuilders for debug mode
  fe/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/src/main/java/org/apache/doris/catalog/EsTable.java
  fe/src/main/java/org/apache/doris/common/proc/EsPartitionsProcDir.java
  fe/src/main/java/org/apache/doris/common/proc/EsShardProcDir.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsIndexState.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsMajorVersion.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsNodeInfo.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsRestClient.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsShardRouting.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsStateStore.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsTableState.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsUtil.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/ExternalDataSourceException.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/QueryBuilders.java
  fe/src/main/java/org/apache/doris/planner/EsScanNode.java
  fe/src/test/java/org/apache/doris/es/EsStateStoreTest.java
  fe/src/test/java/org/apache/doris/external/elasticsearch/EsUtilTest.java
  fe/src/test/java/org/apache/doris/external/elasticsearch/QueryBuildersTest.java
Labels: area/doris-on-es, kind/refactor

#3804 [Bug] Fix SchemaChangeJobV2's meta persist bug
  fe/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/src/main/java/org/apache/doris/common/SchemaVersionAndHash.java
  fe/src/main/java/org/apache/doris/persist/EditLog.java
  fe/src/test/java/org/apache/doris/alter/SchemaChangeJobV2Test.java
Labels: area/catalog, area/schema-change, kind/bug

#3813 [Doris On ES] Skip function_call expr when process predicate
  be/src/exec/es/es_predicate.cpp
Labels: area/doris-on-es, kind/bug

#3800 Logstash doris output plugin
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/extending-doris/logstash.md
  docs/zh-CN/extending-doris/logstash.md
  extension/logstash/Gemfile
  extension/logstash/LICENSE
  extension/logstash/README.md
  extension/logstash/Rakefile
  extension/logstash/lib/logstash/outputs/doris.rb
  extension/logstash/lib/logstash/util/shortname_resolver.rb
  extension/logstash/logstash-output-doris.gemspec
Labels: approved, area/logstash, kind/feature, release-note

#3826 Remove unused import
  fe/src/main/java/org/apache/doris/mysql/privilege/UserProperty.java
Labels: approved, area/build

#3838 stop travis building when an error occurred [master]
  .travis.yml
Labels: approved, area/build

#3830 [Bug] Fix a bug that insert null bitmap crashes BE
  be/src/exec/tablet_sink.cpp
Labels: approved, area/storage, kind/bug

#3837 [FE] add db&tbl info in broker load log
  fe/src/main/java/org/apache/doris/load/loadv2/LoadLoadingTask.java
Labels: kind/cleanup

#3820 [Spill To Disk] Analytic_Eval_Node Support Spill Disk and Del Some Unless Code
  be/src/exec/analytic_eval_node.cpp
  be/src/exec/analytic_eval_node.h
  be/src/exec/exchange_node.cpp
  be/src/runtime/CMakeLists.txt
  be/src/runtime/buffered_block_mgr.cpp
  be/src/runtime/buffered_block_mgr.h
  be/src/runtime/buffered_block_mgr2.cc
  be/src/runtime/buffered_block_mgr2.h
  be/src/runtime/buffered_tuple_stream.cpp
  be/src/runtime/buffered_tuple_stream.h
  be/src/runtime/buffered_tuple_stream_ir.cpp
  be/src/runtime/data_stream_recvr.cc
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/merge_sorter.cpp
  be/src/runtime/merge_sorter.h
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  fe/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
Labels: approved, area/sql/execution

#3844 [UDF] StringVal::operator==(): avoid pass NULL to memcmp()
  be/src/udf/udf.h
Labels: approved

#3846 fix for be server crash which throwing syntax error when parse json …
  be/src/exprs/json_functions.cpp
Labels: approved, area/load, kind/bug

#3815 Optimize the logic for getting TabletMeta from TabletInvertedIndex to reduce frequency of getting read lock
  fe/src/main/java/org/apache/doris/catalog/TabletInvertedIndex.java
  fe/src/main/java/org/apache/doris/master/MasterImpl.java
  fe/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
  fe/src/main/java/org/apache/doris/transaction/PublishVersionDaemon.java
Labels: area/catalog, kind/enhancement

#3808 [Doc] Add docs to OLAP_SCAN_NODE query profile
  be/src/exec/olap_scan_node.cpp
  be/src/exec/olap_scan_node.h
  be/src/exec/olap_scanner.cpp
  be/src/exec/scan_node.cpp
  be/src/exec/scan_node.h
  be/src/olap/file_stream.cpp
  be/src/olap/olap_common.h
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/segment_v2/page_io.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  docs/en/administrator-guide/running-profile.md
  docs/zh-CN/administrator-guide/running-profile.md
  fe/src/main/java/org/apache/doris/common/util/RuntimeProfile.java
Labels: kind/documentation, kind/enhancement

#3799 [Dynamic Partition] Use ZonedDateTime to support set timezone
  docs/en/administrator-guide/dynamic-partition.md
  docs/zh-CN/administrator-guide/dynamic-partition.md
  fe/src/main/java/org/apache/doris/catalog/DynamicPartitionProperty.java
  fe/src/main/java/org/apache/doris/clone/DynamicPartitionScheduler.java
  fe/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
  fe/src/main/java/org/apache/doris/common/util/TimeUtils.java
  fe/src/test/java/org/apache/doris/catalog/DynamicPartitionTableTest.java
  fe/src/test/java/org/apache/doris/common/util/DynamicPartitionUtilTest.java
Labels: approved, area/catalog, kind/enhancement

#3819 [Spark load][Fe 4/6] Add hive external table and update hive table syntax in loadstmt
  docs/en/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
  fe/src/main/cup/sql_parser.cup
  fe/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/src/main/java/org/apache/doris/analysis/DataDescription.java
  fe/src/main/java/org/apache/doris/analysis/FromClause.java
  fe/src/main/java/org/apache/doris/analysis/LoadStmt.java
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/src/main/java/org/apache/doris/catalog/HiveTable.java
  fe/src/main/java/org/apache/doris/catalog/Table.java
  fe/src/main/java/org/apache/doris/load/BrokerFileGroup.java
  fe/src/main/java/org/apache/doris/load/loadv2/SparkLoadJob.java
  fe/src/main/java/org/apache/doris/load/loadv2/etl/EtlJobConfig.java
  fe/src/test/java/org/apache/doris/analysis/DataDescriptionTest.java
  fe/src/test/java/org/apache/doris/catalog/HiveTableTest.java
Labels: approved, area/load, kind/feature

#3835 [Metrics] Add metrics document and 2 new metrics of TCP
  be/src/util/system_metrics.cpp
  be/src/util/system_metrics.h
  be/test/util/system_metrics_test.cpp
  be/test/util/test_data/net_snmp_normal
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/administrator-guide/operation/monitor-metrics/be-metrics.md
  docs/en/administrator-guide/operation/monitor-metrics/fe-metrics.md
  docs/zh-CN/administrator-guide/operation/monitor-metrics/be-metrics.md
  docs/zh-CN/administrator-guide/operation/monitor-metrics/fe-metrics.md
  fe/pom.xml
  fe/src/main/java/org/apache/doris/metric/MetricRepo.java
  fe/src/main/java/org/apache/doris/metric/SystemMetrics.java
  fe/src/test/java/org/apache/doris/metric/MetricsTest.java
  fe/src/test/resources/data/net_snmp_normal
Labels: approved, area/metrics, kind/documentation

#3744 [Feature] Add QueryDetail to store query statistics.
  be/src/http/action/stream_load.cpp
  be/src/runtime/client_cache.cpp
  be/src/runtime/memory/chunk_allocator.cpp
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/tmp_file_mgr.cc
  be/src/util/doris_metrics.cpp
  be/src/util/doris_metrics.h
  be/src/util/metrics.cpp
  be/src/util/metrics.h
  be/src/util/system_metrics.cpp
  be/src/util/thrift_server.cpp
  be/test/http/metrics_action_test.cpp
  be/test/util/doris_metrics_test.cpp
  be/test/util/new_metrics_test.cpp
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/administrator-guide/http-actions/connection-action.md
  docs/en/administrator-guide/http-actions/profile-action.md
  docs/en/administrator-guide/http-actions/query-detail-action.md
  docs/en/administrator-guide/http-actions/show-data-action.md
  docs/zh-CN/administrator-guide/http-actions/connection-action.md
  docs/zh-CN/administrator-guide/http-actions/profile-action.md
  docs/zh-CN/administrator-guide/http-actions/query-detail-action.md
  docs/zh-CN/administrator-guide/http-actions/show-data-action.md
  fe/src/main/java/org/apache/doris/PaloFe.java
  fe/src/main/java/org/apache/doris/common/ThreadPoolManager.java
  fe/src/main/java/org/apache/doris/common/util/RuntimeProfile.java
  fe/src/main/java/org/apache/doris/http/HttpServer.java
  fe/src/main/java/org/apache/doris/http/rest/ConnectionAction.java
  fe/src/main/java/org/apache/doris/http/rest/ProfileAction.java
  fe/src/main/java/org/apache/doris/http/rest/QueryDetailAction.java
  fe/src/main/java/org/apache/doris/http/rest/ShowDataAction.java
  fe/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/src/main/java/org/apache/doris/metric/Metric.java
  fe/src/main/java/org/apache/doris/metric/MetricRepo.java
  fe/src/main/java/org/apache/doris/qe/ConnectContext.java
  fe/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/src/main/java/org/apache/doris/qe/QueryDetail.java
  fe/src/main/java/org/apache/doris/qe/QueryDetailQueue.java
  fe/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/src/test/java/org/apache/doris/common/util/RuntimeProfileTest.java
  fe/src/test/java/org/apache/doris/qe/QueryDetailQueueTest.java
Labels: api-review, approved, area/metrics, kind/enhancement

#3888 [Fix][Bug] Fix compile and UT bug
  be/src/util/system_metrics.cpp
  be/test/olap/rowset/segment_v2/segment_test.cpp
  fe/src/main/java/org/apache/doris/metric/MetricRepo.java
Labels: area/build, kind/bug

#3851 [Enhancement] Replace N/A use NULL
  fe/src/main/java/org/apache/doris/alter/RollupJob.java
  fe/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/src/main/java/org/apache/doris/alter/SchemaChangeJob.java
  fe/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/src/main/java/org/apache/doris/analysis/DescribeStmt.java
  fe/src/main/java/org/apache/doris/backup/Repository.java
  fe/src/main/java/org/apache/doris/catalog/DynamicPartitionProperty.java
  fe/src/main/java/org/apache/doris/catalog/MetadataViewer.java
  fe/src/main/java/org/apache/doris/clone/DynamicPartitionScheduler.java
  fe/src/main/java/org/apache/doris/clone/TabletSchedCtx.java
  fe/src/main/java/org/apache/doris/common/FeConstants.java
  fe/src/main/java/org/apache/doris/common/proc/IndexSchemaProcNode.java
  fe/src/main/java/org/apache/doris/common/proc/TablesProcDir.java
  fe/src/main/java/org/apache/doris/common/proc/TabletsProcDir.java
  fe/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
  fe/src/main/java/org/apache/doris/common/util/TimeUtils.java
  fe/src/main/java/org/apache/doris/load/EtlStatus.java
  fe/src/main/java/org/apache/doris/load/ExportMgr.java
  fe/src/main/java/org/apache/doris/load/Load.java
  fe/src/main/java/org/apache/doris/load/LoadJob.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
  fe/src/main/java/org/apache/doris/mysql/privilege/PaloAuth.java
  fe/src/main/java/org/apache/doris/mysql/privilege/RoleManager.java
  fe/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/src/main/java/org/apache/doris/service/FrontendOptions.java
  fe/src/main/java/org/apache/doris/system/Backend.java
  fe/src/test/java/org/apache/doris/common/proc/DbsProcDirTest.java
  fe/src/test/java/org/apache/doris/common/util/TimeUtilsTest.java
  fe/src/test/java/org/apache/doris/qe/StmtExecutorTest.java
Labels: approved, kind/enhancement

#3882 Show create table result with bitmap column should not return default value
  fe/src/main/java/org/apache/doris/catalog/Column.java
Labels: approved

#3890 [Bug][RoutineLoad] Fix bug that exception thrown when txn of a routineload task become visible
  fe/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/src/main/java/org/apache/doris/load/routineload/RoutineLoadTaskInfo.java
Labels: approved, area/load, kind/bug

#3886 [Planner] Set MysqlScanNode's cardinality to avoid unexpected shuffle join
  fe/src/main/java/org/apache/doris/planner/DistributedPlanner.java
  fe/src/main/java/org/apache/doris/planner/MysqlScanNode.java
  fe/src/test/java/org/apache/doris/planner/QueryPlanTest.java
Labels: approved, area/sql/planner, kind/bug

#3867 [Doris On ES][Docs] refator documentation for doe
  docs/en/extending-doris/doris-on-es.md
  docs/zh-CN/extending-doris/doris-on-es.md
Labels: approved, area/doris-on-es, kind/documentation

#3891 [Enhancement] make metrics api more clear
  be/src/http/action/metrics_action.cpp
  docs/en/administrator-guide/operation/monitor-metrics/be-metrics.md
  docs/en/administrator-guide/operation/monitor-metrics/fe-metrics.md
  docs/zh-CN/administrator-guide/operation/monitor-metrics/be-metrics.md
  docs/zh-CN/administrator-guide/operation/monitor-metrics/fe-metrics.md
  fe/src/main/java/org/apache/doris/http/rest/MetricsAction.java
Labels: api-review, approved

#3812 Forbidden float column in short key
  fe/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/src/main/java/org/apache/doris/analysis/CreateMaterializedViewStmt.java
  fe/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/src/main/java/org/apache/doris/analysis/MVColumnItem.java
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/src/main/java/org/apache/doris/catalog/PrimitiveType.java
  fe/src/main/java/org/apache/doris/catalog/Type.java
  fe/src/test/java/org/apache/doris/analysis/CreateMaterializedViewStmtTest.java
  fe/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  fe/src/test/java/org/apache/doris/utframe/DorisAssert.java
Labels: approved, area/catalog, kind/bug

#3896 Modify docs format
  docs/zh-CN/sql-reference/sql-functions/date-time-functions/curdate.md
Labels: kind/documentation

#3762 [Memory Engine] MemTablet creation and compatibility handling in BE
  be/src/agent/task_worker_pool.cpp
  be/src/http/action/meta_action.cpp
  be/src/olap/base_tablet.cpp
  be/src/olap/base_tablet.h
  be/src/olap/data_dir.cpp
  be/src/olap/data_dir.h
  be/src/olap/memory/mem_tablet.cpp
  be/src/olap/memory/mem_tablet.h
  be/src/olap/storage_engine.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_manager.h
  be/src/olap/tablet_meta.cpp
  be/test/olap/memory/mem_tablet_test.cpp
  gensrc/thrift/MasterService.thrift
Labels: area/storage/in-memory, kind/refactor

#3822 Add segment v2 footer meta viewer
  be/src/tools/meta_tool.cpp
  docs/en/administrator-guide/operation/tablet-meta-tool.md
  docs/zh-CN/administrator-guide/operation/tablet-meta-tool.md
Labels: approved, kind/enhancement

#3881 [BUG]Fix broker read buffer size from input stream
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
Labels: approved, area/broker, kind/enhancement

#3903 [Bug] Make compaction metrics value is right
  be/src/olap/base_compaction.cpp
  be/src/olap/cumulative_compaction.cpp
Labels: approved, kind/bug

#3900 [Doris On ES] Support fetch `_id` field from ES
  be/src/exec/es/es_scan_reader.cpp
  be/src/exec/es/es_scroll_parser.cpp
  fe/src/main/java/org/apache/doris/common/FeNameFormat.java
  fe/src/test/java/org/apache/doris/common/ExceptionChecker.java
  fe/src/test/java/org/apache/doris/common/FeNameFormatTest.java
Labels: api-review, approved, area/doris-on-es, kind/enhancement

#3872 [Bug] Fix bug that BE crash when doing Insert Operation
  be/src/exec/exec_node.cpp
  be/src/exec/tablet_sink.cpp
  be/src/runtime/buffered_block_mgr2.cc
  be/src/runtime/data_spliter.cpp
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/dpp_sink.cpp
  be/src/runtime/export_sink.cpp
  be/src/runtime/memory_scratch_sink.cpp
  be/src/runtime/mysql_table_sink.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/result_sink.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/util/dummy_runtime_profile.h
  be/src/util/runtime_profile.cpp
  be/src/util/runtime_profile.h
  be/test/exec/plain_text_line_reader_bzip_test.cpp
  be/test/exec/plain_text_line_reader_gzip_test.cpp
  be/test/exec/plain_text_line_reader_lz4frame_test.cpp
  be/test/exec/plain_text_line_reader_lzop_test.cpp
  be/test/exec/plain_text_line_reader_uncompressed_test.cpp
  be/test/runtime/buffered_tuple_stream_test.cpp
  be/test/runtime/data_stream_test.cpp
  be/test/runtime/sorter_test.cpp
  fe/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: approved, area/load, kind/bug

#3902 Support max_stream_load_timeout_second config in fe
  docs/en/administrator-guide/config/fe_config.md
  docs/zh-CN/administrator-guide/config/fe_config.md
  fe/src/main/java/org/apache/doris/common/Config.java
  fe/src/main/java/org/apache/doris/transaction/GlobalTransactionMgr.java
Labels: approved, area/config

#3716 [Spark load][Fe 5/6] Fe submit spark etl job
  fe/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/src/main/java/org/apache/doris/common/Pair.java
  fe/src/main/java/org/apache/doris/common/util/BrokerUtil.java
  fe/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/src/main/java/org/apache/doris/load/Load.java
  fe/src/main/java/org/apache/doris/load/loadv2/BrokerLoadPendingTask.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadJobScheduler.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadTask.java
  fe/src/main/java/org/apache/doris/load/loadv2/SparkEtlJobHandler.java
  fe/src/main/java/org/apache/doris/load/loadv2/SparkLoadJob.java
  fe/src/main/java/org/apache/doris/load/loadv2/SparkLoadPendingTask.java
  fe/src/main/java/org/apache/doris/load/loadv2/SparkPendingTaskAttachment.java
  fe/src/main/java/org/apache/doris/persist/EditLog.java
  fe/src/main/java/org/apache/doris/persist/OperationType.java
  fe/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  fe/src/main/java/org/apache/doris/planner/BrokerScanNode.java
  fe/src/test/java/org/apache/doris/common/util/BrokerUtilTest.java
  fe/src/test/java/org/apache/doris/load/loadv2/BrokerLoadPendingTaskTest.java
  fe/src/test/java/org/apache/doris/load/loadv2/LoadJobTest.java
  fe/src/test/java/org/apache/doris/load/loadv2/SparkLoadPendingTaskTest.java
Labels: approved, area/load, kind/feature

#3913 [Bug] Checkpoint thread is not running
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/src/main/java/org/apache/doris/common/util/MasterDaemon.java
  fe/src/main/java/org/apache/doris/journal/bdbje/BDBJEJournal.java
  fe/src/main/java/org/apache/doris/master/Checkpoint.java
  fe/src/test/java/org/apache/doris/alter/RollupJobV2Test.java
  fe/src/test/java/org/apache/doris/analysis/DescribeStmtTest.java
  fe/src/test/java/org/apache/doris/http/DorisHttpTestCase.java
  fe/src/test/java/org/apache/doris/qe/ShowExecutorTest.java
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
Labels: approved, area/catalog, kind/bug

#3899 [Bug] fix mem_tracker use-after-free & add UT for it
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/runtime/routine_load/routine_load_task_executor.h
  be/test/exec/tablet_sink_test.cpp
  be/test/exprs/string_functions_test.cpp
  be/test/util/system_metrics_test.cpp
  run-ut.sh
Labels: approved

#3320 (#3319) support java version hyperloglog
  be/test/olap/hll_test.cpp
  fe/src/main/java/org/apache/doris/load/loadv2/Hll.java
  fe/src/test/java/org/apache/doris/load/loadv2/HllTest.java
Labels: approved, kind/enhancement

#3918 [Bug] Fix bug that BE crash when doing some queries
  be/src/runtime/data_stream_recvr.cc
Labels: area/sql/execution, kind/bug

#3717 [Spark load][Fe 6/6] Fe process etl and loading state job
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/src/main/java/org/apache/doris/common/DataQualityException.java
  fe/src/main/java/org/apache/doris/load/EtlStatus.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadEtlChecker.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadLoadingChecker.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/src/main/java/org/apache/doris/load/loadv2/SparkEtlJobHandler.java
  fe/src/main/java/org/apache/doris/load/loadv2/SparkLoadJob.java
  fe/src/main/java/org/apache/doris/master/MasterImpl.java
  fe/src/main/java/org/apache/doris/task/PushTask.java
  fe/src/main/java/org/apache/doris/transaction/TxnCommitAttachment.java
  fe/src/test/java/org/apache/doris/load/loadv2/SparkEtlJobHandlerTest.java
  fe/src/test/java/org/apache/doris/load/loadv2/SparkLoadJobTest.java
Labels: api-review, area/load, kind/api-change, kind/feature

#3922 [Doc] Fix audit-plugin doc error
  docs/zh-CN/extending-doris/audit-plugin.md
Labels: approved, good first issue, kind/documentation

#3858 [Running_Profile] Fix all counter in DataStreamRecv and change the image path in docs
  be/src/exec/exchange_node.cpp
  be/src/runtime/data_stream_recvr.cc
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/spill_sorter.cc
  be/src/util/runtime_profile.h
  docs/.vuepress/public/images/running_profile.png
  docs/en/administrator-guide/running-profile.md
  docs/zh-CN/administrator-guide/running-profile.md
Labels: approved, area/profile, kind/documentation, kind/enhancement

#3850 [FE] Prohibit pointing helper to itself when starting FE
  docs/en/installing/install-deploy.md
  docs/zh-CN/installing/install-deploy.md
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
Labels: area/catalog, kind/enhancement

#3916 [Bug] Can not use non-key column as partition column in duplicate table
  fe/src/main/java/org/apache/doris/analysis/HashDistributionDesc.java
  fe/src/main/java/org/apache/doris/analysis/RangePartitionDesc.java
  fe/src/test/java/org/apache/doris/catalog/CreateTableTest.java
  fe/src/test/java/org/apache/doris/common/ExceptionChecker.java
  fe/src/test/java/org/apache/doris/http/DorisHttpTestCase.java
  fe/src/test/java/org/apache/doris/planner/QueryPlanTest.java
Labels: approved, area/catalog, kind/bug

#3727 (#3726) [Spark Load] Rollup Tree Builder
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/MinimumCoverageRollupTreeBuilder.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/RollupTreeBuilder.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/RollupTreeNode.java
Labels: approved, area/load, kind/feature

#3729 (#3728) Using SparkDpp to complete some calculation in Spark Load
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/ColumnParser.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/DorisKryoRegistrator.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/DorisRangePartitioner.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/DppColumns.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/DppResult.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/DppUtils.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/SparkDpp.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/SparkRDDAggregator.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/StringAccumulator.java
  fe/src/test/java/org/apache/doris/load/loadv2/dpp/DorisRangePartitionerTest.java
  fe/src/test/java/org/apache/doris/load/loadv2/dpp/DppUtilsTest.java
  fe/src/test/java/org/apache/doris/load/loadv2/dpp/MinimumCoverageRollupTreeBuilderTest.java
Labels: approved, area/load, kind/feature

#3924 [Doris On ES][Docs] update document for best practices
  docs/en/extending-doris/doris-on-es.md
  docs/zh-CN/extending-doris/doris-on-es.md
Labels: approved, area/doris-on-es, kind/documentation

#3878 [optimize] Optimize spark load/broker load reading parquet format file
  be/src/exec/CMakeLists.txt
  be/src/exec/broker_reader.cpp
  be/src/exec/buffered_reader.cpp
  be/src/exec/buffered_reader.h
  be/src/exec/parquet_reader.cpp
  be/src/exec/parquet_scanner.cpp
  be/test/exec/CMakeLists.txt
  be/test/exec/buffered_reader_test.cpp
  be/test/exec/test_data/buffered_reader/buffered_reader_test_file
  be/test/exec/test_data/buffered_reader/buffered_reader_test_file.txt
  run-ut.sh
Labels: approved, area/broker, area/load, kind/enhancement

#3760 Support external users to contribute udf
  be/CMakeLists.txt
  be/src/udf/udf.h
  be/src/udf/udf_internal.h
  contrib/udf/CMakeLists.txt
  contrib/udf/build_udf.sh
  contrib/udf/src/udf_samples/CMakeLists.txt
  contrib/udf/src/udf_samples/uda_sample.cpp
  contrib/udf/src/udf_samples/uda_sample.h
  contrib/udf/src/udf_samples/udf_sample.cpp
  contrib/udf/src/udf_samples/udf_sample.h
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/extending-doris/udf/contribute-udf.md
  docs/en/extending-doris/udf/user-defined-function.md
  docs/en/extending-doris/user-defined-function.md
  docs/zh-CN/extending-doris/udf/contribute-udf.md
  docs/zh-CN/extending-doris/udf/user-defined-function.md
  docs/zh-CN/extending-doris/user-defined-function.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/create-function.md
Labels: approved, area/udf, kind/documentation, kind/enhancement

#3927 Add spark etl job main class
  be/src/olap/push_handler.cpp
  be/src/olap/push_handler.h
  fe/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/src/main/java/org/apache/doris/analysis/GrantStmt.java
  fe/src/main/java/org/apache/doris/analysis/LoadStmt.java
  fe/src/main/java/org/apache/doris/analysis/RevokeStmt.java
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/src/main/java/org/apache/doris/catalog/ResourceMgr.java
  fe/src/main/java/org/apache/doris/common/Config.java
  fe/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/src/main/java/org/apache/doris/load/BrokerFileGroup.java
  fe/src/main/java/org/apache/doris/load/EtlStatus.java
  fe/src/main/java/org/apache/doris/load/loadv2/BrokerLoadJob.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
  fe/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/src/main/java/org/apache/doris/load/loadv2/SparkEtlJobHandler.java
  fe/src/main/java/org/apache/doris/load/loadv2/SparkLoadJob.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/DorisKryoRegistrator.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/GlobalDictBuilder.java
  fe/src/main/java/org/apache/doris/load/loadv2/dpp/SparkDpp.java
  fe/src/main/java/org/apache/doris/load/loadv2/etl/EtlJobConfig.java
  fe/src/main/java/org/apache/doris/load/loadv2/etl/SparkEtlJob.java
  fe/src/main/java/org/apache/doris/mysql/privilege/PaloAuth.java
  fe/src/main/java/org/apache/doris/mysql/privilege/PaloRole.java
  fe/src/main/java/org/apache/doris/persist/DropResourceOperationLog.java
  fe/src/main/java/org/apache/doris/persist/EditLog.java
  fe/src/main/java/org/apache/doris/persist/PrivInfo.java
  fe/src/test/java/org/apache/doris/analysis/GrantStmtTest.java
  fe/src/test/java/org/apache/doris/analysis/LoadStmtTest.java
  fe/src/test/java/org/apache/doris/load/loadv2/SparkEtlJobHandlerTest.java
  fe/src/test/java/org/apache/doris/load/loadv2/etl/SparkEtlJobTest.java
  fe/src/test/java/org/apache/doris/mysql/privilege/AuthTest.java
Labels: area/load, kind/feature

#3910 [Bug] Unify the timezone
  fe/src/main/java/org/apache/doris/catalog/DynamicPartitionProperty.java
  fe/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
  fe/src/main/java/org/apache/doris/common/util/TimeUtils.java
  fe/src/main/java/org/apache/doris/qe/GlobalVariable.java
  fe/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/src/test/java/org/apache/doris/common/util/DynamicPartitionUtilTest.java
  fe/src/test/java/org/apache/doris/qe/VariableMgrTest.java
Labels: approved, area/catalog, kind/bug

#3921 [Bug] Enable to get TCP metrics for linux kernel 2.x
  be/src/util/system_metrics.cpp
  docs/en/administrator-guide/operation/monitor-metrics/be-metrics.md
  docs/en/administrator-guide/operation/monitor-metrics/fe-metrics.md
  docs/zh-CN/administrator-guide/operation/monitor-metrics/be-metrics.md
  docs/zh-CN/administrator-guide/operation/monitor-metrics/fe-metrics.md
  fe/src/main/java/org/apache/doris/metric/MetricRepo.java
  fe/src/main/java/org/apache/doris/metric/SystemMetrics.java
Labels: approved, area/metrics, kind/bug

#3925 [log] Downgrade a log in RunLengthByteReader from WARNING to VLOG
  be/src/olap/rowset/run_length_byte_reader.cpp
  be/src/olap/rowset/run_length_byte_writer.h
Labels: approved, kind/cleanup

#3940 Add doc of `enable_materialized_view`
  docs/en/administrator-guide/config/fe_config.md
  docs/zh-CN/administrator-guide/config/fe_config.md
Labels: approved, kind/documentation

#3928 [Bug Fix]Fix the core in Data_Stream_Recvr
  be/src/runtime/data_stream_recvr.cc
  be/src/runtime/data_stream_recvr.h
Labels: area/sql/execution, kind/bug

#3939 Add code debugging document under windows Intellj IDEA
  docs/.vuepress/public/images/DEBUG1.png
  docs/.vuepress/public/images/DEBUG2.png
  docs/.vuepress/public/images/DEBUG3.png
  docs/.vuepress/public/images/DEBUG4.png
  docs/.vuepress/public/images/DEBUG5.png
  docs/.vuepress/sidebar/zh-CN.js
  docs/zh-CN/developer-guide/fe-idea-dev.md
Labels: approved, good first issue, kind/documentation

#3932 [Doris On ES][Optimization] Ignore _total node for efficiency and fully trusted document count
  be/src/exec/es/es_scan_reader.cpp
  be/src/exec/es/es_scroll_parser.cpp
  be/src/exec/es/es_scroll_parser.h
Labels: kind/enhancement

#3454 [Doris On ES] Split /_cluster/state to [indexName/_mappings, indexName/_search_shards]
  docs/en/extending-doris/doris-on-es.md
  docs/zh-CN/extending-doris/doris-on-es.md
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/src/main/java/org/apache/doris/catalog/Database.java
  fe/src/main/java/org/apache/doris/catalog/EsTable.java
  fe/src/main/java/org/apache/doris/common/proc/EsPartitionsProcDir.java
  fe/src/main/java/org/apache/doris/common/proc/EsShardProcDir.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsFieldInfos.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsRepository.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsRestClient.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsShardPartitions.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsShardRouting.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsStateStore.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsTablePartitions.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsTableState.java
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsUtil.java
  fe/src/main/java/org/apache/doris/planner/EsScanNode.java
  fe/src/test/java/org/apache/doris/catalog/CatalogTestUtil.java
  fe/src/test/java/org/apache/doris/external/elasticsearch/EsRepositoryTest.java
  fe/src/test/resources/data/es/es7_mappings.json
  fe/src/test/resources/data/es/mappings.json
  fe/src/test/resources/data/es/search_shards.json
Labels: approved, area/doris-on-es, kind/enhancement

#3951 [Bug]Dynamic partition check interval seconds is not right
  fe/src/main/java/org/apache/doris/clone/DynamicPartitionScheduler.java
  fe/src/main/java/org/apache/doris/common/Config.java
Labels: approved, kind/bug

#3941 [Doris On ES][Bug-fix] Solve the problem of time format processing
  be/src/exec/es/es_scroll_parser.cpp
  be/src/exec/es/es_scroll_parser.h
Labels: approved, area/doris-on-es, kind/bug

#3519 Check backend disk has available capactiy by storage medium before create table
  docs/en/administrator-guide/config/fe_config.md
  docs/en/getting-started/data-partition.md
  docs/en/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
  docs/zh-CN/administrator-guide/config/fe_config.md
  docs/zh-CN/getting-started/data-partition.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
  fe/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/src/main/java/org/apache/doris/common/Config.java
  fe/src/main/java/org/apache/doris/system/Backend.java
  fe/src/main/java/org/apache/doris/system/SystemInfoService.java
  fe/src/test/java/org/apache/doris/catalog/ColocateTableTest.java
  fe/src/test/java/org/apache/doris/catalog/CreateTableTest.java
  fe/src/test/java/org/apache/doris/utframe/AnotherDemoTest.java
  fe/src/test/java/org/apache/doris/utframe/UtFrameUtils.java
Labels: api-review, approved, area/catalog, kind/api-change

#3961 [Doris On ES][Bug-fix] Sync ES metadata failure after restart or upgrade FE
  fe/src/main/java/org/apache/doris/external/elasticsearch/EsRepository.java
  fe/src/test/java/org/apache/doris/metric/MetricsTest.java
Labels: approved, area/doris-on-es, kind/bug

#3934 [Refactor] Replace some boost to std in OlapScanNode
  be/src/exec/olap_scan_node.cpp
  be/src/exec/olap_scan_node.h
  fe/src/main/java/org/apache/doris/system/Backend.java
Labels: approved, kind/refactor

#3947 [Enhance] Add prepare phase for some timestamp functions
  be/src/common/daemon.cpp
  be/src/exec/schema_scanner/schema_tables_scanner.cpp
  be/src/exprs/CMakeLists.txt
  be/src/exprs/timestamp_functions.cpp
  be/src/exprs/timestamp_functions.h
  be/src/exprs/timezone_db.cpp
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/udf/udf.cpp
  be/src/util/CMakeLists.txt
  be/src/util/cgroup_util.cpp
  be/src/util/timezone_utils.cpp
  be/src/util/timezone_utils.h
  docs/en/sql-reference/sql-functions/date-time-functions/to_date.md
  docs/zh-CN/sql-reference/sql-functions/date-time-functions/convert_tz.md
  docs/zh-CN/sql-reference/sql-functions/date-time-functions/to_date.md
  fe/src/main/java/org/apache/doris/rewrite/FEFunctions.java
  gensrc/script/doris_builtins_functions.py
  run-ut.sh
Labels: approved, area/sql/function, kind/enhancement

#3948 Support rpc_timeout property in stream load request to cancel request in fe in time when stream load request is timeout
  be/src/http/action/stream_load.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  fe/src/main/java/org/apache/doris/catalog/Database.java
  fe/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/src/main/java/org/apache/doris/transaction/GlobalTransactionMgr.java
  gensrc/thrift/FrontendService.thrift
Labels: approved, area/load, kind/enhancement

#3953 [Bug] Fix bug that default_rowset_type have a session variable
  docs/en/administrator-guide/variables.md
  docs/zh-CN/administrator-guide/variables.md
  fe/src/main/java/org/apache/doris/analysis/SetVar.java
  fe/src/main/java/org/apache/doris/qe/GlobalVariable.java
  fe/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/src/main/java/org/apache/doris/system/HeartbeatFlags.java
Labels: approved, area/config, kind/bug

#3975 [UT] resolve metric ut fails for Doris FE
  fe/src/test/java/org/apache/doris/metric/MetricsTest.java
Labels: approved, area/test, kind/bug

#3973 [Bug] Insert may leak DeltaWriter when re-analyzed
  be/src/runtime/tablets_channel.cpp
  fe/src/main/java/org/apache/doris/analysis/InsertStmt.java
Labels: SQL Bug, approved

#3938 (#3061) add user doc for build global dict
  docs/zh-CN/administrator-guide/load-data/spark-load-manual.md
Labels: approved, area/load, kind/documentation
