Repository apache/doris, pull requests merged in 2021-08, with the labels that each got.

#6335 [RoutineLoad] Support alter broker list and topic for kafka routine load
  docs/en/sql-reference/sql-statements/Data Manipulation/SHOW CREATE ROUTINE LOAD.md
  docs/en/sql-reference/sql-statements/Data Manipulation/alter-routine-load.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/SHOW CREATE ROUTINE LOAD.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/alter-routine-load.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/RoutineLoadDataSourceProperties.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Separator.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowCreateRoutineLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/KafkaProgress.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadProgress.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AlterRoutineLoadStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/RoutineLoadDataSourcePropertiesTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/RoutineLoadJobTest.java
Labels: approved, area/routine load, kind/enhancement, reviewed

#6342 [Bug][RoutineLoad] Avoid TOO_MANY_TASKS error
  be/src/runtime/routine_load/data_consumer.cpp
  be/src/runtime/routine_load/routine_load_task_executor.cpp
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadTaskScheduler.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/RoutineLoadManagerTest.java
Labels: approved, area/routine load, kind/bug, reviewed

#6348 [Bug] fix violating C/C++ aliasing rules cause a error hash value in …
  be/src/exec/olap_scanner.cpp
  be/src/exprs/bloomfilter_predicate.h
  be/src/olap/rowset/segment_v2/bloom_filter_index_writer.cpp
Labels: approved, area/runtime-filter, kind/bug, reviewed

#6361 Use fmt and std::from_chars to make convert integer to string and convert string to integer more efficient
  be/src/exec/es_scan_node.cpp
  be/src/exec/odbc_connector.cpp
  be/src/exprs/cast_functions.cpp
  be/src/olap/reader.cpp
  be/src/runtime/fold_constant_mgr.cpp
  be/src/runtime/large_int_value.cpp
  be/src/runtime/large_int_value.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/util/arrow/row_batch.cpp
  be/src/util/date_func.cpp
  be/test/runtime/large_int_value_test.cpp
Labels: approved, kind/enhancement, reviewed

#6339 [Improve] Add FE function `timestamp`
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FEFunctions.java
  fe/fe-core/src/test/java/org/apache/doris/planner/ConstantExpressTest.java
Labels: approved, area/sql/function, good first issue, reviewed

#6364 [BUG] Fix bug in fe metric Http restful API
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/MetricsAction.java
Labels: approved, area/httpv2, area/metrics, kind/api-change, kind/bug, reviewed

#6308 [Bug] Fix bug that broker can't load OSS/S3A files
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
Labels: approved, area/broker, kind/bug, reviewed

#6325 Fix ugi confusion bug in apache hdfs broker
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
Labels: approved, area/broker, good first issue, reviewed

#6344 add stream load demo
  .gitignore
  samples/doris-demo/pom.xml
  samples/doris-demo/stream-load-demo/docs/instructions.md
  samples/doris-demo/stream-load-demo/pom.xml
  samples/doris-demo/stream-load-demo/src/main/java/org/apache/doris/demo/stream/DorisStreamLoader.java
Labels: approved, area/load, area/samples, reviewed

#6347 [BUG][ARRAY] fix array bound bug
  fe/fe-core/src/main/java/org/apache/doris/catalog/PrimitiveType.java
Labels: approved, area/array-type, good first issue, kind/bug, reviewed

#6352 add flink mysql cdc to doris demo
  samples/doris-demo/flink-demo/docs/instructions.md
  samples/doris-demo/flink-demo/pom.xml
  samples/doris-demo/flink-demo/src/main/java/org/apache/doris/demo/flink/FlinkConnectorMysqlCDCDemo.java
Labels: approved, area/samples, reviewed

#6362 Add a description of the restriction of the materialized view on the use of the unique model
  docs/en/administrator-guide/materialized_view.md
  docs/zh-CN/administrator-guide/materialized_view.md
Labels: approved, kind/documentation, reviewed

#6368 [Bug] fix overflow while convert fixed char to number
  be/src/olap/types.h
Labels: approved, kind/bug, reviewed

#6350 [Bug][Optimize] Fix race condition problem and optimize do_money_format function
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/gutil/strings/numbers.cc
  be/src/gutil/strings/numbers.h
  be/test/exprs/string_functions_test.cpp
Labels: kind/enhancement, approved, area/sql/function, reviewed

#6261 [Feature] Support alias function
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-reference/sql-functions/digital-masking.md
  docs/en/sql-reference/sql-statements/Data Definition/create-function.md
  docs/en/sql-reference/sql-statements/Data Definition/show-functions.md
  docs/zh-CN/sql-reference/sql-functions/digital-masking.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/create-function.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/show-functions.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateFunctionStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LiteralExpr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/AliasFunction.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Function.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/RewriteAliasFunctionRule.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateFunctionTest.java
Labels: kind/feature, approved, api-review, area/sql/function, reviewed

#6321 Fix 6320 Optimize lock when check error storage
  be/src/agent/task_worker_pool.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/tablet_manager.cpp
  be/src/util/doris_metrics.cpp
  be/src/util/doris_metrics.h
  be/test/util/doris_metrics_test.cpp
Labels: kind/enhancement, area/storage, approved, reviewed

#6353 add systemd service config file
  tools/systemd/doris-be.service
  tools/systemd/doris-fe.service
Labels: good first issue, approved, area/easy-to-use, reviewed

#6365 [Alter] Support doing compaction for tablets under alter operation
  be/src/olap/cumulative_compaction_policy.cpp
  be/src/olap/cumulative_compaction_policy.h
  be/src/olap/delta_writer.cpp
  be/src/olap/olap_snapshot_converter.cpp
  be/src/olap/olap_snapshot_converter.h
  be/src/olap/push_handler.cpp
  be/src/olap/schema_change.cpp
  be/src/olap/schema_change.h
  be/src/olap/snapshot_manager.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_manager.h
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_meta.h
  be/src/olap/task/engine_storage_migration_task.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PrimitiveType.java
  fe/fe-core/src/main/java/org/apache/doris/load/DeleteHandler.java
Labels: kind/enhancement, approved, area/delete, area/compact, area/alter, reviewed

#6372 [DOC]Add a profile counter of local exchange send bytes
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/data_stream_sender.h
  docs/en/administrator-guide/running-profile.md
  docs/zh-CN/administrator-guide/running-profile.md
Labels: good first issue, approved, area/profile, reviewed

#6374 [BUG] Fix query failure caused by using case-insensitive system view names in information_schema.
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BaseTableRef.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/SelectStmtTest.java
Labels: kind/bug, area/mysql-compatibility, approved, reviewed

#6379 [BUG] Fix Left Semi Join Got a Wrong Result
  be/src/exec/hash_table.hpp
Labels: kind/bug, area/sql/execution, approved, reviewed

#6393 [Enhance][Fold constant] Support fold constants in `InlineView` by BE
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/QueryStmtTest.java
Labels: kind/enhancement, area/sql/planner, approved, reviewed

#6289 [New Feature] Support synchronizing MySQL binlog in real time [stage 1]
  fe/fe-core/pom.xml
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/BinlogDesc.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ChannelDescription.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateDataSyncJobStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/JobName.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/PauseSyncJobStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ResumeSyncJobStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowSyncJobStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StopSyncJobStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaReader.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaWriter.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/DataSyncJobType.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncChannel.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncChannelCallback.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncChannelHandle.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncChecker.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncDataConsumer.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncDataReceiver.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncFailMsg.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncJobManager.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncLifeCycle.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncPendingTask.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/SyncTxnParam.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalConfigs.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalSyncChannel.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalSyncDataConsumer.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalSyncDataReceiver.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalSyncJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalUtils.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/SyncCanalClient.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/model/Data.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/model/Events.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/position/EntryPosition.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/position/PositionMeta.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/position/PositionRange.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateDataSyncJobStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/sync/SyncJobManagerTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/sync/SyncJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/sync/canal/CanalSyncDataTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/sync/canal/CanalSyncJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/sync/canal/CanalTestUtil.java
Labels: kind/feature, approved, reviewed, area/mysql-binlog

#6247 [Feature] Support for querying the trash used capacity
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
  be/src/service/backend_service.cpp
  be/src/service/backend_service.h
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-reference/sql-statements/Administration/SHOW TRASH.md
  docs/zh-CN/sql-reference/sql-statements/Administration/SHOW TRASH.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowTrashDiskStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowTrashStmt.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/ProcService.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/TrashProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/TrashProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/DebugUtil.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/common/GenericPoolTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/MockedBackendFactory.java
  gensrc/thrift/BackendService.thrift
Labels: kind/feature, area/storage, approved, api-review, reviewed

#6290 [Config] Add default configuration of load_parallelism
  docs/en/administrator-guide/config/fe_config.md
  docs/zh-CN/administrator-guide/config/fe_config.md
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
Labels: area/load, approved, area/config, reviewed

#6367 [Bug][Bloom Filter] Fix bug of bloom filter null value flag not be reset
  be/src/olap/rowset/segment_v2/bloom_filter_index_writer.cpp
Labels: kind/bug, area/storage, approved, reviewed

#6371 [DOC] Update dynamic-partition.md
  docs/zh-CN/administrator-guide/dynamic-partition.md
Labels: kind/documentation, approved, reviewed

#6377 [bugfix] RowBatchBuilder.buildPartitionUpdateRequest() partRowMap.get with cache key real value.
  fe/fe-core/src/main/java/org/apache/doris/qe/cache/RowBatchBuilder.java
Labels: kind/bug, good first issue, approved, area/sql/cache, reviewed

#6388 [Bug] Fix be core when failed to add batch
  be/src/exec/tablet_sink.cpp
Labels: kind/bug, area/load, approved, reviewed

#6396 [http][manager] Add manager related http interface.
  be/src/common/configbase.cpp
  be/src/common/configbase.h
  be/src/http/CMakeLists.txt
  be/src/http/action/config_action.cpp
  be/src/http/action/config_action.h
  be/src/service/http_service.cpp
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/administrator-guide/http-actions/fe/manager/cluster-action.md
  docs/en/administrator-guide/http-actions/fe/manager/node-action.md
  docs/en/administrator-guide/http-actions/fe/manager/query-profile-action.md
  docs/en/administrator-guide/http-actions/fe/set-config-action.md
  docs/zh-CN/administrator-guide/http-actions/fe/manager/cluster-action.md
  docs/zh-CN/administrator-guide/http-actions/fe/manager/node-action.md
  docs/zh-CN/administrator-guide/http-actions/fe/manager/query-profile-action.md
  docs/zh-CN/administrator-guide/http-actions/fe/set-config-action.md
  fe/fe-core/src/main/java/org/apache/doris/common/ConfigBase.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/MultiProfileTreeBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/ProfileTreeBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/ProfileManager.java
  fe/fe-core/src/main/java/org/apache/doris/http/rest/SetConfigAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/SetConfigAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/ClusterAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/HttpUtils.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/NodeAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/QueryProfileAction.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/task/ExportExportingTask.java
Labels: kind/feature, approved, api-review, reviewed, area/manager

#6383 [Improvement] Imporve metrics text format for FE (#6382)
  fe/fe-core/src/main/java/org/apache/doris/metric/DorisMetricRegistry.java
  fe/fe-core/src/main/java/org/apache/doris/metric/MetricRepo.java
  fe/fe-core/src/main/java/org/apache/doris/metric/PrometheusMetricVisitor.java
Labels: good first issue, approved, area/metrics, area/easy-to-use, reviewed

#6389 [Doc] Add document for datax and sample codes
  README.md
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/best-practices/samples.md
  docs/en/best-practices/systemd.md
  docs/en/extending-doris/datax.md
  docs/zh-CN/best-practices/samples.md
  docs/zh-CN/best-practices/systemd.md
  docs/zh-CN/extending-doris/datax.md
Labels: kind/documentation, approved, reviewed

#6387 [Alter] Support alter table and column's comment
  docs/en/sql-reference/sql-statements/Data Definition/ALTER TABLE.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/ALTER TABLE.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/alter/AlterOpType.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ModifyColumnCommentClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ModifyTableCommentClause.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/ModifyCommentOperationLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterTest.java
  fe/fe-core/src/test/java/org/apache/doris/persist/ModifyCommentOperationLogTest.java
  fe/fe-core/src/test/java/org/apache/doris/persist/ReplaceTableOperationLogTest.java
Labels: kind/feature, approved, area/alter, reviewed

#6394 [RoutineLoad] Support pause or resume all routine load jobs
  docs/en/sql-reference/sql-statements/Data Manipulation/PAUSE ROUTINE LOAD.md
  docs/en/sql-reference/sql-statements/Data Manipulation/RESUME ROUTINE LOAD.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/PAUSE ROUTINE LOAD.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/RESUME ROUTINE LOAD.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/PauseRoutineLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ResumeRoutineLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/RoutineLoadManagerTest.java
Labels: kind/enhancement, approved, area/routine load, reviewed

#6400 [Bug][Fold constant] remove reanalyze in get constant expr
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FoldConstantsRule.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/QueryStmtTest.java
Labels: kind/bug, area/sql/planner, approved, reviewed

#6404 Fixed BUG that caused export and backup to fail
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
Labels: kind/bug, area/broker, approved, reviewed

#6407 [Bug]fix wrong title at 'show trash'
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowTrashStmt.java
Labels: kind/bug, approved, reviewed

#6425 [Bug] fix compile error in AliasFunction
  fe/fe-core/src/main/java/org/apache/doris/catalog/AliasFunction.java
Labels: approved, reviewed

#6402 [Repository] Normalize the path of file on repository
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupJob.java
  fe/fe-core/src/main/java/org/apache/doris/backup/Repository.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/test/java/org/apache/doris/backup/RepositoryTest.java
Labels: kind/bug, approved, area/backup, reviewed

#6395 [bugfix] issue-6390 , wrong result in query view with an added null column
  fe/fe-core/src/main/java/org/apache/doris/analysis/IsNullPredicate.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
Labels: kind/bug, good first issue, area/sql/planner, approved, reviewed

#6426 [Bug] Return error if user failed to pause/resume a certain routine load job
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
Labels: kind/bug, approved, area/routine load, reviewed

#6434 fix typo: '一下' -> '以下'
  docs/zh-CN/administrator-guide/config/be_config.md
  docs/zh-CN/administrator-guide/http-actions/cancel-label.md
  docs/zh-CN/administrator-guide/http-actions/get-load-state.md
  docs/zh-CN/administrator-guide/ldap.md
  docs/zh-CN/administrator-guide/materialized_view.md
  docs/zh-CN/getting-started/advance-usage.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/ALTER TABLE.md
Labels: kind/documentation, approved, reviewed

#6192 ADD: support sql block rule
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/administrator-guide/block-rule/sql-block.md
  docs/zh-CN/administrator-guide/block-rule/sql-block.md
  fe/fe-core/SchemaChangeV2Test
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterSqlBlockRuleStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateSqlBlockRuleStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropSqlBlockRuleStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowSqlBlockRuleStmt.java
  fe/fe-core/src/main/java/org/apache/doris/blockrule/SqlBlockRule.java
  fe/fe-core/src/main/java/org/apache/doris/blockrule/SqlBlockRuleMgr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaReader.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaWriter.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/metric/MetricRepo.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/CommonUserProperties.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/PaloAuth.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/UserProperty.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/UserPropertyMgr.java
  fe/fe-core/src/main/java/org/apache/doris/persist/DropSqlBlockRuleOperationLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/plugin/AuditEvent.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectContext.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/AlterSqlBlockRuleStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateSqlBlockRuleStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/blockrule/SqlBlockRuleMgrTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/UserPropertyTest.java
  fe/fe-core/src/test/java/org/apache/doris/qe/ShowExecutorTest.java
Labels: kind/feature, approved, area/sql-block-list, reviewed

#6440 fix typo: '分许'->'分离'
  docs/zh-CN/best-practices/fe-load-balance.md
Labels: kind/documentation, approved, reviewed

#6438 [BUG][Memory] fix memory tracker DCHECK fail in debug mode and Fix Process Memory limit fail
  be/src/exec/olap_scan_node.cpp
Labels: approved, reviewed

#6439 [Docs] Support json file format in routine load doc
  docs/en/administrator-guide/load-data/routine-load-manual.md
  docs/zh-CN/administrator-guide/load-data/routine-load-manual.md
Labels: kind/documentation, approved, reviewed

#6381 [Log] Modify some log level on BE side
  be/src/exec/olap_scan_node.cpp
  be/src/runtime/plan_fragment_executor.cpp
  fe/fe-core/src/test/java/org/apache/doris/utframe/UtFrameUtils.java
Labels: approved, area/easy-to-use, reviewed

#6408 [BUG] Fix potential overflow exception when do money format for double
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/test/exprs/string_functions_test.cpp
Labels: kind/bug, approved, area/sql/function, reviewed

#6445 [Docs] fix typo: dynamic_partitoin -> dynamic_partition
  docs/en/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
Labels: approved, reviewed

#6420 Add statistics struct and Support manually inject statistics
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterTableStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowTableStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/Util.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStats.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/OlapTableStats.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/Statistics.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/TableStats.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/TabletStats.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
Labels: kind/feature, approved, api-review, reviewed, area/statistics

#6256 [feature]:support spark connector sink data to doris
  extension/spark-doris-connector/src/main/java/org/apache/doris/spark/DorisStreamLoad.java
  extension/spark-doris-connector/src/main/java/org/apache/doris/spark/exception/StreamLoadException.java
  extension/spark-doris-connector/src/main/java/org/apache/doris/spark/rest/RestService.java
  extension/spark-doris-connector/src/main/java/org/apache/doris/spark/rest/models/Backend.java
  extension/spark-doris-connector/src/main/java/org/apache/doris/spark/rest/models/BackendRow.java
  extension/spark-doris-connector/src/main/java/org/apache/doris/spark/rest/models/RespContent.java
  extension/spark-doris-connector/src/main/scala/org/apache/doris/spark/sql/DorisSourceProvider.scala
  extension/spark-doris-connector/src/main/scala/org/apache/doris/spark/sql/DorisWriterOption.scala
  extension/spark-doris-connector/src/main/scala/org/apache/doris/spark/sql/DorisWriterOptionKeys.scala
  extension/spark-doris-connector/src/test/scala/org/apache/doris/spark/sql/DataframeSinkDoris.scala
Labels: kind/feature, area/spark-connector, approved, reviewed

#6435 [Improvement]flink/spark connector: add sources/javadoc plugins
  .gitignore
  extension/flink-doris-connector/build.sh
  extension/flink-doris-connector/pom.xml
  extension/spark-doris-connector/build.sh
  extension/spark-doris-connector/pom.xml
Labels: approved, reviewed

#6436 Fix the problem that there may be redundant retries when the query result export fails
  be/src/common/status.h
  be/src/runtime/file_result_writer.cpp
Labels: approved, reviewed

#6459 [Bug]fix `Wrong use on SCOPED_RAW_TIMER`
  be/test/util/thread_test.cpp
Labels: approved, reviewed

#6469 [Build] Reduce the parallel of build
  build.sh
  run-be-ut.sh
Labels: area/build, approved, reviewed

#6410 [Feature] Support exact percentile aggregate function
  be/src/exprs/aggregate_functions.cpp
  be/src/exprs/aggregate_functions.h
  be/src/util/counts.h
  be/test/exprs/CMakeLists.txt
  be/test/exprs/percentile_test.cpp
  be/test/util/CMakeLists.txt
  be/test/util/counts_test.cpp
  docs/en/sql-reference/sql-functions/aggregate-functions/percentile.md
  docs/zh-CN/sql-reference/sql-functions/aggregate-functions/percentile.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
Labels: kind/feature, approved, area/sql/function, reviewed

#6449 [Improve]The connector supports spark 3.0, flink 1.13
  docs/en/extending-doris/flink-doris-connector.md
  docs/en/extending-doris/spark-doris-connector.md
  docs/zh-CN/extending-doris/flink-doris-connector.md
  docs/zh-CN/extending-doris/spark-doris-connector.md
  extension/spark-doris-connector/build.sh
  extension/spark-doris-connector/pom_3.0.xml
Labels: area/spark-connector, approved, area/flink-connector, reviewed

#6270 [Improvement] spark load without agg and de/serialization
  be/src/olap/push_handler.cpp
  be/src/olap/push_handler.h
Labels: approved, area/spark-load, reviewed

#6451 [Bug][MemLimit] Modify the memory limit of storage page cache
  be/src/common/config.h
  be/src/olap/lru_cache.cpp
  be/src/olap/page_cache.cpp
  be/src/olap/row_block.cpp
  be/src/runtime/bufferpool/buffer_pool.cc
  be/src/runtime/exec_env_init.cpp
  be/src/util/parse_util.cpp
  be/src/util/parse_util.h
  be/test/util/parse_util_test.cpp
  fe/fe-core/SchemaChangeV2Test
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectContext.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: kind/bug, approved, area/config, resource-limit, reviewed

#6465 [Bug] Fix bug that check point load image failed in some circumstance
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
Labels: kind/bug, approved, reviewed, area/metadata

#6470 [Doc] Add sidebar for percentile doc
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-reference/sql-functions/aggregate-functions/percentile.md
  docs/zh-CN/sql-reference/sql-functions/aggregate-functions/percentile.md
  docs/zh-CN/sql-reference/sql-functions/aggregate-functions/percentile_approx.md
Labels: kind/documentation, approved, reviewed

#6473 make flink datastream source parameterized
  extension/flink-doris-connector/src/main/java/org/apache/doris/flink/datastream/DorisSourceFunction.java
  extension/flink-doris-connector/src/main/java/org/apache/doris/flink/deserialization/SimpleListDeserializationSchema.java
  extension/flink-doris-connector/src/main/scala/org/apache/doris/flink/datastream/ScalaValueReader.scala
Labels: kind/enhancement, approved, area/flink-connector, reviewed

#6482 [BUG]fix result_writer may coredump
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/buffer_control_block.h
  be/src/runtime/file_result_writer.cpp
  be/src/runtime/mysql_result_writer.cpp
Labels: kind/bug, area/sql/execution, approved, reviewed

#6384 [Optimize] Speed up converting the data of other type to string in mysql_result_writer
  be/CMakeLists.txt
  be/src/exec/odbc_connector.cpp
  be/src/exec/parquet_writer.cpp
  be/src/exprs/time_operators.cpp
  be/src/gutil/strings/numbers.cc
  be/src/gutil/strings/numbers.h
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/src/runtime/decimalv2_value.cpp
  be/src/runtime/decimalv2_value.h
  be/src/runtime/export_sink.cpp
  be/src/runtime/file_result_writer.cpp
  be/src/runtime/large_int_value.h
  be/src/runtime/mysql_result_writer.cpp
  be/src/runtime/mysql_table_writer.cpp
  be/src/runtime/raw_value.h
  be/src/service/backend_service.cpp
  be/src/util/arrow/row_batch.cpp
  be/src/util/date_func.cpp
  be/src/util/date_func.h
  be/src/util/mysql_global.h
  be/src/util/mysql_row_buffer.cpp
  be/src/util/mysql_row_buffer.h
  be/test/gutil/CMakeLists.txt
  be/test/gutil/strings/numbers_test.cpp
  be/test/runtime/decimalv2_value_test.cpp
  be/test/util/CMakeLists.txt
  be/test/util/date_func_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/planner/Planner.java
Labels: kind/enhancement, approved, reviewed

#6486 [Doc] Modify README to add some statistical indicators
  README.md
  be/src/runtime/routine_load/data_consumer_group.cpp
  fe/pom.xml
Labels: area/community, kind/documentation, approved, reviewed

#6380 [BUG] Fixed the materialized number of resultExprs/constExprs and output slot of Union Node is inconsistent.
  fe/fe-core/src/main/java/org/apache/doris/planner/DistributedPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SetOperationNode.java
  fe/fe-core/src/test/java/org/apache/doris/planner/PlannerTest.java
Labels: kind/bug, area/sql/planner, approved, reviewed

#6403 [Feature] Supports case-insensitive table names.
  docs/en/administrator-guide/variables.md
  docs/en/installing/install-deploy.md
  docs/zh-CN/administrator-guide/variables.md
  docs/zh-CN/installing/install-deploy.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableName.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Database.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/qe/GlobalVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/VariableMgr.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/TableNameComparedLowercaseTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/TableNameStoredLowercaseTest.java
Labels: approved, api-review, reviewed, area/metadata

#6430 [Doc]Update hit-the-rollup.md
  docs/en/getting-started/hit-the-rollup.md
  docs/zh-CN/getting-started/hit-the-rollup.md
Labels: kind/documentation, approved, reviewed

#6292 [Optimize] Make light schema change complete more faster
  fe/fe-core/src/main/java/org/apache/doris/alter/AlterHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeConstants.java
Labels: kind/enhancement, approved, area/alter, reviewed

#6517 [Document] update docker env version to 1.3.1
  docs/en/community/release-process.md
  docs/en/installing/compilation.md
  docs/zh-CN/community/release-process.md
  docs/zh-CN/installing/compilation.md
Labels: kind/documentation, approved, reviewed

#6397 [Optimize] Support send batch parallelism for olap table sink
  be/src/common/config.h
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/http/action/stream_load.cpp
  be/src/http/http_common.h
  be/src/olap/memtable_flush_executor.cpp
  be/src/olap/memtable_flush_executor.h
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/service/internal_service.cpp
  be/src/util/doris_metrics.h
  be/src/util/threadpool.h
  be/test/exec/tablet_sink_test.cpp
  docs/en/administrator-guide/config/be_config.md
  docs/en/administrator-guide/variables.md
  docs/en/sql-reference/sql-statements/Data Manipulation/BROKER LOAD.md
  docs/en/sql-reference/sql-statements/Data Manipulation/ROUTINE LOAD.md
  docs/en/sql-reference/sql-statements/Data Manipulation/STREAM LOAD.md
  docs/zh-CN/administrator-guide/config/be_config.md
  docs/zh-CN/administrator-guide/variables.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/BROKER LOAD.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/ROUTINE LOAD.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/STREAM LOAD.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateRoutineLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/update/UpdatePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapTableSink.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/task/LoadTaskInfo.java
  fe/fe-core/src/main/java/org/apache/doris/task/StreamLoadTask.java
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/BrokerLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/OlapTableSinkTest.java
  gensrc/proto/internal_service.proto
  gensrc/thrift/DataSinks.thrift
  gensrc/thrift/FrontendService.thrift
Labels: kind/enhancement, area/load, approved, reviewed

#6191 support routine load isolation_level read_committed
  thirdparty/vars.sh
Labels: area/dependency, approved, area/routine load, reviewed

#6448 [Bug] Regularly clean up old DeleteInfos in the DeleteHandler
  docs/en/administrator-guide/config/fe_config.md
  docs/zh-CN/administrator-guide/config/fe_config.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowDeleteStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/load/DeleteHandler.java
Labels: kind/bug, good first issue, area/catalog, approved, reviewed

#6513 [Optimize][Clone] Take version count into consideration when choosing src replica for clone task
  fe/fe-core/src/main/java/org/apache/doris/clone/TabletSchedCtx.java
Labels: kind/enhancement, approved, reviewed, area/tablet-scheduler

#6475 [Proposal] create table like clause support copy rollup
  docs/en/sql-reference/sql-statements/Data Definition/CREATE TABLE LIKE.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/CREATE TABLE LIKE.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableLikeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateTableLikeTest.java
Labels: kind/feature, good first issue, approved, reviewed
