Repository apache/doris, pull requests merged in 2021-07, with the labels that each got.

#6083 [Feature] Extract wide common factors
  docs/en/administrator-guide/variables.md
  docs/zh-CN/administrator-guide/variables.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BinaryPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CastExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DecimalLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionParams.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LiteralExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/ExprRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/ExtractCommonFactorsRule.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/BinaryPredicateTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/InPredicateTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/RangeCompareTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/SelectStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/rewrite/ExtractCommonFactorsRuleFunctionTest.java
  fe/fe-core/src/test/java/org/apache/doris/rewrite/ExtractCommonFactorsRuleTest.java
Labels: approved, area/sql/planner, kind/feature

#6094 [DOC]In the official website operation manual, add the window function instruction document
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-reference/sql-functions/window-function.md
  docs/zh-CN/sql-reference/sql-functions/window-function.md
Labels: approved, kind/documentation

#6106 [Doc] Avoid ambiguity
  docs/en/getting-started/basic-usage.md
  docs/zh-CN/getting-started/basic-usage.md
Labels: approved, kind/documentation

#6120 [Bug] Add readlock when calling get_rowset_by_version()
  be/src/olap/schema_change.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
Labels: approved, area/alter, kind/bug

#6122 [Doc] Provide precautions for jdk version switching in the compilation document
  docker/README.md
  docs/en/installing/compilation.md
  docs/zh-CN/installing/compilation.md
Labels: approved, kind/documentation

#6126 [Docs] Typo fix on CREATE TABLE.md
  docs/en/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
Labels: approved, good first issue, kind/documentation

#6128 [Bug] fix `show dynamic partition tables;` replicationNum is wrong
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
Labels: approved, area/dynamic-partition

#6136 [Bug] Fix bug of NPE caused by the absence of table in replay process.
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ColocateTableIndex.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
Labels: approved, area/catalog, area/editlog-replay, kind/bug

#6056 [DOC]Doris BE development and debugging environment construction
  docs/.vuepress/public/images/image-20210618091006146.png
  docs/.vuepress/public/images/image-20210618095240216.png
  docs/.vuepress/public/images/image-20210618104042192.png
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/developer-guide/be-vscode-dev.md
  docs/en/installing/compilation.md
  docs/zh-CN/developer-guide/be-vscode-dev.md
  docs/zh-CN/installing/compilation.md
Labels: approved, area/build, kind/documentation

#6077 [Feature] Support RuntimeFilter in Doris (BE Implement)
  .clang-format
  be/src/common/config.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/hash_join_node.h
  be/src/exec/hash_join_node_ir.cpp
  be/src/exec/hash_table.cpp
  be/src/exec/hash_table.h
  be/src/exec/hash_table.hpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/olap_scan_node.h
  be/src/exec/olap_scanner.cpp
  be/src/exec/olap_scanner.h
  be/src/exprs/CMakeLists.txt
  be/src/exprs/bloomfilter_predicate.cpp
  be/src/exprs/bloomfilter_predicate.h
  be/src/exprs/expr_context.h
  be/src/exprs/in_predicate.cpp
  be/src/exprs/in_predicate.h
  be/src/exprs/literal.h
  be/src/exprs/runtime_filter.cpp
  be/src/exprs/runtime_filter.h
  be/src/exprs/runtime_filter_rpc.cpp
  be/src/olap/CMakeLists.txt
  be/src/olap/bloom_filter_predicate.cpp
  be/src/olap/bloom_filter_predicate.h
  be/src/olap/in_list_predicate.cpp
  be/src/olap/in_list_predicate.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/rowset/segment_v2/bloom_filter.cpp
  be/src/olap/rowset/segment_v2/bloom_filter.h
  be/src/runtime/CMakeLists.txt
  be/src/runtime/decimal_value.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/runtime_filter_mgr.cpp
  be/src/runtime/runtime_filter_mgr.h
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
  be/test/exec/hash_table_test.cpp
  be/test/exprs/CMakeLists.txt
  be/test/exprs/bloom_filter_predicate_test.cpp
  be/test/exprs/runtime_filter_test.cpp
  be/test/olap/CMakeLists.txt
  be/test/olap/bloom_filter_column_predicate_test.cpp
  be/test/olap/in_list_predicate_test.cpp
  be/test/olap/rowset/segment_v2/segment_test.cpp
  gensrc/proto/internal_service.proto
  gensrc/proto/palo_internal_service.proto
  gensrc/thrift/Exprs.thrift
  gensrc/thrift/Opcodes.thrift
  gensrc/thrift/PaloInternalService.thrift
  gensrc/thrift/PlanNodes.thrift
  gensrc/thrift/Types.thrift
Labels: approved, area/runtime-filter, kind/feature

#6147 [bugfix] Page title error
  docs/en/sql-reference/sql-functions/window-function.md
  docs/zh-CN/sql-reference/sql-functions/window-function.md
Labels: approved, kind/documentation

#6110 [Feature] ADD: show create routine load
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-reference/sql-statements/Data Manipulation/SHOW CREATE ROUTINE LOAD.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/SHOW CREATE ROUTINE LOAD.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowCreateRoutineLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/RoutineLoadJobTest.java
Labels: approved, area/routine load, kind/feature

#6117 Add update time to show table status
  be/src/exec/schema_scanner/schema_tables_scanner.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Table.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TempPartitions.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
Labels: approved, area/catalog, kind/enhancement

#6163 routine_load_extractCommonFactors_null_pointer
  fe/fe-core/src/main/java/org/apache/doris/rewrite/ExtractCommonFactorsRule.java
Labels: approved, area/routine load, kind/bug

#6107 feat: Implementation Datax doriswriter plugin
  extension/DataX/doriswriter/doc/doriswriter.md
  extension/DataX/doriswriter/pom.xml
  extension/DataX/doriswriter/src/main/assembly/package.xml
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisFlushBatch.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisJsonCodec.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisWriter.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisWriterEmitter.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/Key.java
  extension/DataX/doriswriter/src/main/resources/plugin.json
  extension/DataX/doriswriter/src/main/resources/plugin_job_template.json
Labels: approved, area/datax, kind/feature

#6140 [Feature] support bit_length function
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/test/exprs/string_functions_test.cpp
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-reference/sql-functions/string-functions/bit_length.md
  docs/zh-CN/sql-reference/sql-functions/string-functions/bit_length.md
  gensrc/script/doris_builtins_functions.py
Labels: approved, area/sql/function, kind/feature

#6149 Switch SpringBoot built-in container to jetty
  docs/en/administrator-guide/config/fe_config.md
  docs/zh-CN/administrator-guide/config/fe_config.md
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/org/apache/doris/PaloFe.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/HttpServer.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/config/WebConfigurer.java
Labels: area/fe-http-server, kind/bug

#6153 [Feature] basic property related classes supports create, query, read, write, etc.
  fe/fe-common/src/main/java/org/apache/doris/common/property/PropertiesSet.java
  fe/fe-common/src/main/java/org/apache/doris/common/property/PropertySchema.java
  fe/fe-common/src/test/java/org/apache/doris/common/property/PropertiesSetTest.java
  fe/fe-common/src/test/java/org/apache/doris/common/property/PropertySchemaTest.java
  gensrc/thrift/FrontendService.thrift
Labels: approved, good first issue, kind/enhancement, kind/refactor

#6157 [BUG][Leak] fix new-delete-type-mismatch in StorageBackend
  be/src/util/storage_backend.h
  docs/en/installing/compilation.md
  docs/zh-CN/installing/compilation.md
Labels: approved, kind/bug

#6165 [Bug]:fix when data null , flink-connector throw NullPointerException
  extension/flink-doris-connector/src/main/java/org/apache/doris/flink/table/DorisDynamicOutputFormat.java
Labels: approved, area/flink-connector, kind/bug

#6172 [Bug] Fix the bug of bucket shuffle join cause error paln
  fe/fe-core/src/main/java/org/apache/doris/planner/DistributedPlanner.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
Labels: approved, area/sql/planner, kind/bug

#6175 [Bug] Fix bug of TDisk have wrong static_cast
  be/src/agent/task_worker_pool.cpp
Labels: approved

#6177 [Bug]fix the calculation of the "_start_trash_sweep" run interval.
  be/src/olap/olap_server.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
Labels: approved, area/storage, kind/bug

#6169 help doc error
  docs/zh-CN/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
Labels: approved, kind/documentation

#6105 Align Date and Datetime by 16 bytes
  fe/fe-core/src/main/java/org/apache/doris/analysis/TupleDescriptor.java
Labels: approved, area/sql/planner

#6129 [Bug] Create dynamic partition table failed with enable create_history_partition and not specify the start value
  docs/en/administrator-guide/dynamic-partition.md
  docs/en/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
  docs/zh-CN/administrator-guide/dynamic-partition.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/CREATE TABLE.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/DynamicPartitionProperty.java
  fe/fe-core/src/main/java/org/apache/doris/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/common/ErrorCode.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/DynamicPartitionTableTest.java
Labels: approved, area/dynamic-partition, kind/bug

#6141 [refactor] Make Regex more simple and clear
  fe/fe-core/src/main/java/org/apache/doris/common/ConfigBase.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/TimeUtils.java
Labels: good first issue, kind/refactor

#6161 Add "LOAD WITH HDFS" model, and make hdfs_reader support hdfs ha
  be/src/exec/hdfs_file_reader.cpp
  docs/en/sql-reference/sql-statements/Data Manipulation/BROKER LOAD.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/BROKER LOAD.md
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerUtil.java
  fe/fe-core/src/main/java/org/apache/doris/planner/BrokerScanNode.java
  gensrc/thrift/PlanNodes.thrift
Labels: approved, area/load, kind/feature

#6180 [optimize] Optimize bloomfilter performance
  be/CMakeLists.txt
  be/src/exec/olap_scan_node.h
  be/src/exec/olap_scanner.cpp
  be/src/exec/olap_scanner.h
  be/src/exprs/CMakeLists.txt
  be/src/exprs/block_bloom_filter.hpp
  be/src/exprs/block_bloom_filter_avx_impl.cc
  be/src/exprs/block_bloom_filter_impl.cc
  be/src/exprs/bloomfilter_predicate.cpp
  be/src/exprs/bloomfilter_predicate.h
  be/src/exprs/runtime_filter.cpp
  be/src/olap/bloom_filter_predicate.cpp
  be/src/olap/bloom_filter_predicate.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/rowset/segment_v2/block_split_bloom_filter.cpp
  be/src/olap/rowset/segment_v2/block_split_bloom_filter.h
  be/src/olap/rowset/segment_v2/bloom_filter.h
  be/src/runtime/primitive_type.h
  be/test/exprs/bloom_filter_predicate_test.cpp
  be/test/olap/bloom_filter_column_predicate_test.cpp
  build.sh
Labels: area/runtime-filter, kind/enhancement

#6187 [Log] Optimize delete error message
  fe/fe-core/src/main/java/org/apache/doris/load/DeleteHandler.java
Labels: approved, area/delete, kind/enhancement

#6189 [Thirdparty] Move DataTables download url to a fixed download address
  .github/PULL_REQUEST_TEMPLATE.md
  thirdparty/vars.sh
Labels: approved, area/dependency

#6190 [Bug][Dynamic partition] Forward show dynamic partition tables stmt to Master
  fe/fe-core/src/main/java/org/apache/doris/analysis/AdminShowConfigStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/RoutineLoadDataSourceProperties.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowDynamicPartitionStmt.java
  fe/fe-core/src/main/java/org/apache/doris/clone/DynamicPartitionScheduler.java
Labels: approved, area/dynamic-partition, kind/bug

#6159 Add a property to limit user instance num.
  docs/en/administrator-guide/config/fe_config.md
  docs/en/administrator-guide/config/user_property.md
  docs/en/sql-reference/sql-statements/Account Management/SET PROPERTY.md
  docs/zh-CN/administrator-guide/config/fe_config.md
  docs/zh-CN/administrator-guide/config/user_property.md
  docs/zh-CN/sql-reference/sql-statements/Account Management/SET PROPERTY.md
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/metric/MetricRepo.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/CommonUserProperties.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/PaloAuth.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/UserProperty.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/UserPropertyMgr.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/QeProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/QeProcessorImpl.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/UserPropertyTest.java
Labels: kind/feature, kind/meta-version-change, resource-limit

#6174 [enhancement] Optimize load CSV file memory allocate
  be/src/exec/broker_scanner.cpp
  be/src/exec/broker_scanner.h
  be/src/exec/tablet_info.h
  be/test/exec/multi_bytes_separator_test.cpp
Labels: approved, area/load, kind/enhancement

#6109 [Bug] Fix bug that adding conflicting partition doesn't report errors
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/RangePartitionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/PartitionsProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/SparkLoadPendingTask.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/RangePartitionInfoTest.java
Labels: approved, area/catalog, kind/bug

#6198 [DynamicPartition] Fix UT and add more tests for dynamic partition
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/DynamicPartitionProperty.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableProperty.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/DynamicPartitionTableTest.java
Labels: area/dynamic-partition, area/test

#6023 Support alter default bucket_num of table
  docs/en/sql-reference/sql-statements/Data Definition/ALTER TABLE.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/ALTER TABLE.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/alter/AlterOpType.java
  fe/fe-core/src/main/java/org/apache/doris/alter/AlterOperations.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ModifyDistributionClause.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/DistributionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HashDistributionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/ModifyTableDefaultDistributionBucketNumOperationLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterTest.java
Labels: approved, area/alter, area/catalog, good first issue, kind/feature

#6204 [Bug] Filter out unavaliable backends when getting tablet location
  be/src/http/action/stream_load.cpp
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/test/java/org/apache/doris/http/DorisHttpTestCase.java
Labels: area/sql/planner, kind/bug

#6096 [Bug] Fix bug that nondeterministic functions should not be rewrote in create view stmt
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/developer-guide/cpp-format-code.md
  docs/en/developer-guide/java-format-code.md
  docs/zh-CN/developer-guide/cpp-format-code.md
  docs/zh-CN/developer-guide/java-format-code.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExpressionFunctions.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectContext.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FEFunctions.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateViewTest.java
  gensrc/script/doris_builtins_functions.py
  gensrc/script/gen_builtins_functions.py
Labels: approved, area/sql/planner, kind/bug

#6142 fix parameter from routineLoad md file about ifnull
  docs/zh-CN/administrator-guide/load-data/routine-load-manual.md
Labels: approved, area/routine load, kind/documentation

#6188 [DataX] Refactor doriswriter
  extension/DataX/README
  extension/DataX/doriswriter/doc/doriswriter.md
  extension/DataX/doriswriter/doc/mysql2doris.json
  extension/DataX/doriswriter/pom.xml
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisFlushBatch.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisJsonCodec.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisWriter.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisWriterEmitter.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/Key.java
  extension/DataX/init-env.sh
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
Labels: area/datax, kind/enhancement, kind/refactor

#6226 [JoinReorder] Implement a better join reorder algorithm
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BinaryPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DescriptorTable.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FromClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Subquery.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableRef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TupleDescriptor.java
  fe/fe-core/src/main/java/org/apache/doris/common/CheckedMath.java
  fe/fe-core/src/main/java/org/apache/doris/load/ExportJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AggregationNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AnalyticEvalNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AnalyticPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AssertNumRowsNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/CrossJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/EmptySetNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/EsScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/ExchangeNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/LoadScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/MergeJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/MergeNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/MysqlScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OdbcScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/Planner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/RepeatNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/ScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SelectNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SetOperationNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SortNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/SingleNodePlannerTest.java
  fe/fe-core/src/test/resources/log4j2.xml
Labels: approved, area/sql/planner, kind/feature

#6217 [Doc][DynamicPartition] add dynamic partition creation rules
  docs/en/administrator-guide/dynamic-partition.md
  docs/zh-CN/administrator-guide/dynamic-partition.md
Labels: approved, area/dynamic-partition, kind/documentation

#6239 [Community] Add an github action to auto add 'approved' label
  .github/workflows/approve-label.yml
Labels: approved

#6211 [s3][bug] Remove log4j1
  fe/fe-core/src/main/java/org/apache/doris/analysis/StorageBackend.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StorageDesc.java
Labels: approved, kind/bug

#6184 [Bug-Fix] Fix bug that show view report "Unresolved table reference" error
  docs/en/sql-reference/sql-statements/Data Manipulation/SHOW STREAM LOAD.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/SHOW STREAM LOAD.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/QueryStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SetOperationStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/WithClause.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/SelectStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/ShowViewStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/DorisAssert.java
Labels: approved, area/show stmt, kind/bug

#6205 [Optimize] Using custom conf dir to save log config of Spring
  be/src/exec/tablet_sink.cpp
  fe/fe-core/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/PartitionKeyDesc.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Database.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/Log4jConfig.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/HttpServer.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/config/SpringLog4j2Config.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AssertNumRowsNode.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/TabletQuorumFailedException.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/UtFrameUtils.java
Labels: approved, area/config, kind/bug

#6208 [Compatibility] Change the response body of load info api in httpv2.
  fe/fe-core/src/main/java/org/apache/doris/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/GetLoadInfoAction.java
Labels: approved, area/httpv2, area/load

#6216 [Optimize] Use flat_hash_set to replace unorderd_set in InPredicate
  be/src/olap/in_list_predicate.cpp
  be/src/olap/in_list_predicate.h
  be/src/olap/reader.cpp
  be/test/olap/in_list_predicate_test.cpp
  be/test/olap/rowset/segment_v2/segment_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
Labels: Performance, approved

#6215 [Bug][RoutineLoad] Fix bug that routine load thread on BE may be blocked
  be/src/util/blocking_priority_queue.hpp
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
Labels: approved, area/routine load, kind/bug

#6182 [Docs] Add like, regexp function documents
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-reference/sql-functions/string-functions/append_trailing_char_if_absent.md
  docs/en/sql-reference/sql-functions/string-functions/like/like.md
  docs/en/sql-reference/sql-functions/string-functions/like/not_like.md
  docs/en/sql-reference/sql-functions/string-functions/regexp/not_regexp.md
  docs/en/sql-reference/sql-functions/string-functions/regexp/regexp.md
  docs/en/sql-reference/sql-functions/string-functions/regexp/regexp_extract.md
  docs/en/sql-reference/sql-functions/string-functions/regexp/regexp_replace.md
  docs/zh-CN/sql-reference/sql-functions/string-functions/append_trailing_char_if_absent.md
  docs/zh-CN/sql-reference/sql-functions/string-functions/like/like.md
  docs/zh-CN/sql-reference/sql-functions/string-functions/like/not_like.md
  docs/zh-CN/sql-reference/sql-functions/string-functions/regexp/not_regexp.md
  docs/zh-CN/sql-reference/sql-functions/string-functions/regexp/regexp.md
  docs/zh-CN/sql-reference/sql-functions/string-functions/regexp/regexp_extract.md
  docs/zh-CN/sql-reference/sql-functions/string-functions/regexp/regexp_replace.md
Labels: area/sql/function, kind/documentation

#6186 [BUG] avoid std::function copy in client cache
  be/src/runtime/client_cache.cpp
  be/src/runtime/client_cache.h
  be/src/util/thrift_client.h
Labels: approved

#6213 [Bug][RoutineLoad] Can not match whole json in routine load
  be/src/exprs/json_functions.cpp
  be/test/exprs/json_function_test.cpp
Labels: approved, area/routine load, kind/bug

#6051 [Bug-fix] Decimal Divide, Mod Zero Result Should be NULL.
  be/src/exprs/decimalv2_operators.cpp
  be/src/runtime/decimalv2_value.cpp
Labels: area/sql/function, kind/bug

#6092 [Feature] Add an indicator called errorRowsAfterResumed to distinguish between …
  fe/fe-core/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/KafkaRoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadStatistic.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/RoutineLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/transaction/GlobalTransactionMgrTest.java
Labels: approved, area/routine load, good first issue, kind/enhancement, kind/meta-version-change

#6209 [BDBJE] Add a tool to view the data in BEBJE
  docs/en/administrator-guide/operation/metadata-operation.md
  docs/zh-CN/administrator-guide/operation/metadata-operation.md
  fe/fe-core/src/main/java/org/apache/doris/PaloFe.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/BDBJEDatabaseProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/BDBJEJournalDataProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/BDBJEProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/ProcService.java
  fe/fe-core/src/main/java/org/apache/doris/http/action/SystemAction.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBDebugger.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
Labels: approved, area/bdbje, area/easy-to-use

#6228 [Bug] Fix the bug of cast string to datetime return not null
  be/src/runtime/datetime_value.cpp
  be/src/runtime/datetime_value.h
  be/test/exprs/timestamp_functions_test.cpp
  be/test/runtime/datetime_value_test.cpp
Labels: area/sql/function, kind/bug

#6254 [MINOR] Fix the comment about usage of build.sh
  build.sh
Labels: approved, area/script

#6257 Errors during mysql connection establishment should be warned
  fe/fe-core/src/main/java/org/apache/doris/mysql/nio/AcceptListener.java
Labels: approved, area/easy-to-use, good first issue

#6154 [DOC] Add docs of Runtime Filter
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/administrator-guide/runtime-filter.md
  docs/zh-CN/administrator-guide/runtime-filter.md
Labels: approved, area/runtime-filter, kind/documentation

#6210 [HttpV2] Add more httpv2 APIs
  fe/fe-core/src/main/java/org/apache/doris/PaloFe.java
  fe/fe-core/src/main/java/org/apache/doris/common/parquet/BrokerInputFile.java
  fe/fe-core/src/main/java/org/apache/doris/common/parquet/LocalInputFile.java
  fe/fe-core/src/main/java/org/apache/doris/common/parquet/ParquetReader.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerReader.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerUtil.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/restv2/ImportAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/restv2/MetaInfoActionV2.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/restv2/StatisticAction.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/SparkEtlJobHandler.java
  fe/fe-core/src/test/java/org/apache/doris/common/parquet/ParquetReaderTest.java
  fe/fe-core/src/test/java/org/apache/doris/common/util/BrokerUtilTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/SparkEtlJobHandlerTest.java
  fe/pom.xml
Labels: api-review, approved, area/httpv2

#6212 [Config] set spark load and odbc table feature enable by default
  be/src/exec/orc_scanner.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/BrokerDesc.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
Labels: approved, area/fe-config

#6250 fix sync es metadata issue on jdk 13
  fe/pom.xml
Labels: approved, area/dependency, good first issue

#6258 [UT] Fix CreateMaterializedViewStmtTest failed
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
Labels: approved, area/test, kind/bug

#6115 [Feature] Support data encrypt/decrypt
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-reference/sql-statements/Data Definition/CREATE ENCRYPTKEY.md
  docs/en/sql-reference/sql-statements/Data Definition/DROP ENCRYPTKEY.md
  docs/en/sql-reference/sql-statements/Data Definition/SHOW ENCRYPTKEYS.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/CREATE ENCRYPTKEY.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/DROP ENCRYPTKEY.md
  docs/zh-CN/sql-reference/sql-statements/Data Definition/SHOW ENCRYPTKEYS.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateEncryptKeyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropEncryptKeyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/EncryptKeyName.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/EncryptKeyRef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowEncryptKeysStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StringLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Database.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/DatabaseEncryptKey.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/EncryptKey.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/EncryptKeyHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/EncryptKeySearchDesc.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/RewriteEncryptKeyRule.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/ShowEncryptKeysStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateEncryptKeyTest.java
Labels: api-review, approved, area/sql/function, kind/feature, kind/meta-version-change

#6233 [Feature] Support calc constant expr by BE
  be/src/runtime/CMakeLists.txt
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/runtime/fold_constant_mgr.cpp
  be/src/runtime/fold_constant_mgr.h
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
  docs/en/administrator-guide/variables.md
  docs/zh-CN/administrator-guide/variables.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/GroupByClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InformationFunction.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/QueryStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SetOperationStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StatementBase.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SysVariableDesc.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PrimitiveType.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/ExprRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FoldConstantsRule.java
  fe/fe-core/src/main/java/org/apache/doris/rpc/BackendServiceClient.java
  fe/fe-core/src/main/java/org/apache/doris/rpc/BackendServiceProxy.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/QueryStmtTest.java
  gensrc/proto/internal_service.proto
  gensrc/proto/palo_internal_service.proto
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/PaloInternalService.thrift
Labels: approved, area/sql/planner, kind/feature

#6200 [Performance] Optimize the performance of tabletReport
  docs/en/administrator-guide/config/fe_config.md
  docs/zh-CN/administrator-guide/config/fe_config.md
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableProperty.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/TimeUtils.java
  fe/fe-core/src/main/java/org/apache/doris/master/PartitionInMemoryInfoCollector.java
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DbUsedDataQuotaInfoCollector.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/DynamicPartitionTableTest.java
Labels: approved, area/tablet-report, kind/bug, kind/enhancement

#6099 [Enhance] improve performance of init_scan_key by sharing the schema
  be/src/olap/generic_iterators.cpp
  be/src/olap/reader.cpp
  be/src/olap/row_cursor.cpp
  be/src/olap/row_cursor.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/olap/schema.h
  be/test/olap/row_cursor_test.cpp
Labels: approved, area/storage, good first issue, kind/enhancement

#6223 [ODBC] Support ODBC external table of SQLServer and revise the doc.
  docs/en/extending-doris/odbc-of-doris.md
  docs/zh-CN/extending-doris/odbc-of-doris.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/OdbcTable.java
Labels: approved, area/odbc, kind/feature

#6231 [DOC] Add a catalog of best practices, and the implementation of Doris FE load balancing
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/best-practices/fe-load-balance.md
  docs/zh-CN/best-practices/fe-load-balance.md
Labels: approved, kind/documentation

#6237 [Feature] Support setting concurrency for thread pool token
  be/src/util/threadpool.cpp
  be/src/util/threadpool.h
  be/test/util/threadpool_test.cpp
Labels: approved, area/basic component, kind/feature

#6266 [BUG] Fix `GROUPING func` and `ORDER BY` use simultaneously to report NullPointerException
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
Labels: approved, kind/bug

#6273 [Bug] Fix the bug in `from_date_format_str` function
  be/src/runtime/datetime_value.cpp
  be/test/runtime/datetime_value_test.cpp
Labels: approved, area/sql/execution, area/sql/function, kind/bug

#6253 [Improvement][Vectorized] Lower/upper case tranfer function vertorized
  be/src/exprs/string_functions.cpp
  be/src/util/vectorized-tool/lower.h
  be/src/util/vectorized-tool/lower_upper_impl.h
  be/src/util/vectorized-tool/upper.h
  be/test/exprs/string_functions_test.cpp
Labels: Vectorization, approved, area/sql/function

#6274 [Feature] Modify the cost evaluation algorithm of Broadcast and Shuffle Join
  fe/fe-core/src/main/java/org/apache/doris/planner/DistributedPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/JoinCostEvaluation.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/test/java/org/apache/doris/planner/JoinCostEvaluationTest.java
Labels: approved, area/sql/planner, kind/enhancement

#6310 [fix] change min_bytes_per_broker_scanner's Chinese translation.
  docs/en/administrator-guide/config/fe_config.md
  docs/zh-CN/administrator-guide/config/fe_config.md
Labels: approved, kind/documentation

#6315 fix doc issue
  docs/zh-CN/administrator-guide/config/be_config.md
Labels: approved, kind/documentation

#6305 [Bug] Fix core dump in BloomFilter while build Runtime Filter right table string column contains null
  be/src/exprs/bloomfilter_predicate.h
  be/src/exprs/runtime_filter.h
  be/test/exprs/bloom_filter_predicate_test.cpp
Labels: approved, area/runtime-filter, kind/bug

#6294 [UT] Fix MaterializedViewFunctionTest run failed
  fe/fe-core/src/test/java/org/apache/doris/planner/MaterializedViewFunctionTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/DorisAssert.java
Labels: approved, area/test, reviewed

#6301 Doris developers quickly use the development sample code framework,
  samples/doris-demo/README.md
  samples/doris-demo/flink-demo/pom.xml
  samples/doris-demo/pom.xml
  samples/doris-demo/spark-demo/pom.xml
  samples/doris-demo/spring-jdbc-demo/pom.xml
  samples/doris-demo/stream-load-demo/pom.xml
Labels: approved, area/community, area/samples, reviewed

#6207 [New Feature][Meta][Image] Add file header and footer for image
  fe/fe-common/src/main/java/org/apache/doris/common/io/CountingDataOutputStream.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeConstants.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeMetaFormat.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaFooter.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaHeader.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaIndex.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaJsonHeader.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaMagicNumber.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaReader.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaWriter.java
  fe/fe-core/src/main/java/org/apache/doris/system/SystemInfoService.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CatalogTest.java
  fe/fe-core/src/test/java/org/apache/doris/cluster/SystemInfoServiceTest.java
Labels: approved, kind/meta-version-change

#6214 [Profile] Support show load profile for broker load job
  be/src/common/config.h
  be/src/exec/base_scanner.h
  be/src/exec/broker_scanner.cpp
  be/src/exec/buffered_reader.cpp
  be/src/exec/buffered_reader.h
  be/src/exec/json_scanner.cpp
  be/src/exec/orc_scanner.cpp
  be/src/exec/parquet_scanner.cpp
  be/test/exec/buffered_reader_test.cpp
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowLoadProfileStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowQueryProfileStmt.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/MultiProfileTreeBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/PlanTreeBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/ProfileTreeBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/ProfileManager.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/org/apache/doris/planner/DataPartition.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanNode.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/task/ExportExportingTask.java
Labels: approved, area/load, area/profile, kind/feature, reviewed

#6230 [Update] Support update syntax
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/administrator-guide/update.md
  docs/en/sql-reference/sql-statements/Data Manipulation/SHOW EXPORT.md
  docs/en/sql-reference/sql-statements/Data Manipulation/UPDATE.md
  docs/zh-CN/administrator-guide/update.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/SHOW EXPORT.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/UPDATE.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/IntLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LargeIntLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/UpdateStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/load/ExportJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/load/update/UpdateManager.java
  fe/fe-core/src/main/java/org/apache/doris/load/update/UpdatePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/load/update/UpdateStmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/planner/EsScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapTableSink.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/Planner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PredicatePushDown.java
  fe/fe-core/src/main/java/org/apache/doris/planner/ScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectContext.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/QueryState.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/TransactionState.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/InsertStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/UpdateStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/common/ThreadPoolManagerTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/update/UpdateManagerTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/update/UpdateStmtExecutorTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/UpdatePlannerTest.java
Labels: api-review, approved, area/update, kind/feature, reviewed

#6284 [BUG] fix(bucket): fix fe bucket_hash_value for bool value
  fe/fe-core/src/main/java/org/apache/doris/analysis/BoolLiteral.java
  fe/spark-dpp/src/main/java/org/apache/doris/load/loadv2/dpp/DppUtils.java
Labels: area/metadata, kind/bug

#6297 [Doc]Compile and automatically create fe doris-meta and be storage directories
  build.sh
Labels: approved, area/easy-to-use, area/script, reviewed

#6298 [Doc]Modify the storage path configuration instructions in the installation and BE configuration documents
  docs/zh-CN/administrator-guide/config/be_config.md
  docs/zh-CN/installing/install-deploy.md
Labels: approved, kind/documentation, reviewed

#6300 [BUG][stack-buffer-overflow] fix overflow while caculate hash code in…
  be/src/olap/types.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/tuple.h
  be/src/util/parse_util.cpp
  be/test/olap/column_vector_test.cpp
Labels: approved, area/array-type, area/sql/execution, kind/bug

#6306 [Metrics][Load] Add metrics to monitor the size of queued tasks in load thread pool
  be/src/olap/tablet.cpp
  be/src/service/internal_service.cpp
  be/src/util/doris_metrics.h
Labels: approved, area/load, area/metrics, reviewed

#6317 [Bug][Load]Fix BE coredump when flushing memtable
  be/src/olap/rowset/beta_rowset_writer.cpp
Labels: approved, area/storage, kind/bug

#6341 [refactor] Remove palo_internal_service.proto and PInternalService from code base
  be/src/gen_cpp/CMakeLists.txt
  be/src/runtime/data_stream_mgr.h
  be/src/service/brpc_service.cpp
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
  gensrc/proto/internal_service.proto
  gensrc/proto/palo_internal_service.proto
Labels: approved, kind/bug, kind/refactor, reviewed

#6293 [Feature] Support config max length of zone map index
  be/src/common/configbase.cpp
  be/src/olap/field.h
  be/src/olap/olap_define.h
  be/src/olap/rowset/segment_v2/zone_map_index.cpp
  be/src/olap/rowset/segment_v2/zone_map_index.h
  be/src/olap/types.cpp
  be/src/olap/types.h
  be/src/runtime/descriptors.cpp
  be/src/runtime/row_batch.cpp
  be/src/runtime/row_batch.h
  be/src/service/doris_main.cpp
  be/test/olap/rowset/segment_v2/zone_map_index_test.cpp
Labels: approved, area/storage, kind/enhancement, reviewed

#6314 [Bug] Fix show load like match
  fe/fe-core/src/main/java/org/apache/doris/analysis/CancelLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/ShowLoadStmtTest.java
Labels: approved, area/easy-to-use, kind/enhancement, reviewed

#6331 [Bug] Fix BE coredump for 'ferror(nullptr)' in UserFunctionCache
  be/src/runtime/user_function_cache.cpp
Labels: approved, area/udf, kind/bug, reviewed

#6333 [Feature][LDAP] Add LDAP authentication login and LDAP group authorization support.
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/administrator-guide/ldap.md
  docs/en/sql-reference/sql-statements/Administration/SET LDAP_ADMIN_PASSWORD.md
  docs/zh-CN/administrator-guide/ldap.md
  docs/zh-CN/sql-reference/sql-statements/Administration/SET LDAP_ADMIN_PASSWORD.md
  fe/conf/ldap.conf
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/PaloFe.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SetLdapPassVar.java
  fe/fe-core/src/main/java/org/apache/doris/common/ConfigBase.java
  fe/fe-core/src/main/java/org/apache/doris/common/ErrorCode.java
  fe/fe-core/src/main/java/org/apache/doris/common/LdapConfig.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/SymmetricEncryption.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/ldap/LdapAuthenticate.java
  fe/fe-core/src/main/java/org/apache/doris/ldap/LdapClient.java
  fe/fe-core/src/main/java/org/apache/doris/ldap/LdapPrivsChecker.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlAuthSwitchPacket.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlClearTextPacket.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlProto.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/PaloAuth.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/PaloRole.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/UserPrivTable.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/LdapInfo.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectContext.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SetExecutor.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/ldap/LdapAuthenticateTest.java
  fe/fe-core/src/test/java/org/apache/doris/ldap/LdapClientTest.java
  fe/fe-core/src/test/java/org/apache/doris/ldap/LdapPrivsCheckerTest.java
  fe/fe-core/src/test/java/org/apache/doris/mysql/MysqlProtoTest.java
  fe/fe-core/src/test/java/org/apache/doris/persist/LdapInfoTest.java
Labels: approved, area/ldap, kind/feature, reviewed

#6334 [Change] Make different versions of image format imcompatible
  fe/fe-core/src/main/java/org/apache/doris/common/MetaHeader.java
Labels: approved, area/metadata, kind/bug, reviewed
