Repository apache/doris, pull requests merged in 2022-12, with the labels that each got.

#14702 [fix](bitmapfilter) fix core dump caused by bitmap filter
  be/src/vec/exec/join/vnested_loop_join_node.cpp
  regression-test/data/query_p0/join/test_bitmap_filter.out
  regression-test/suites/query_p0/join/test_bitmap_filter.groovy
Labels: kind/test, approved, area/vectorization, reviewed, dev/1.2.0

#14706 [doc](community) update release-verify doc when gpg import
  docs/en/community/release-and-verify/release-verify.md
  docs/zh-CN/community/release-and-verify/release-verify.md
Labels: kind/docs, approved, reviewed

#14696 [opt](docs) Add select except usage in select doc
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/SELECT.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/SELECT.md
Labels: kind/docs, approved, reviewed

#14689 [enhancement](macOS) Make CLion work out of the box
  be/CMakeLists.txt
  be/src/tools/CMakeLists.txt
Labels: approved, reviewed

#14635 [Enhancement](bitmapfilter) Support bitmap filter to apply zone_map index to filter pages
  be/src/exprs/bitmapfilter_predicate.h
  be/src/exprs/runtime_filter.cpp
  be/src/exprs/runtime_filter.h
  be/src/olap/bitmap_filter_predicate.h
  be/src/olap/olap_common.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/util/bitmap_value.h
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scan_node.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/runtime/shared_hash_table_controller.h
Labels: approved, area/vectorization, reviewed, dev/1.2.0

#14180 [enhancement](Nereids) avoid add project that output same with child to memo
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/memo/MemoTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinSemiJoinTransposeProjectTest.java
Labels: area/nereids

#14664 [Enhancement](profile) enhance column predicates display on profile
  be/src/olap/bitmap_filter_predicate.h
  be/src/olap/bloom_filter_predicate.h
  be/src/olap/column_predicate.h
  be/src/olap/comparison_predicate.h
  be/src/olap/in_list_predicate.h
  be/src/olap/like_column_predicate.h
  be/src/olap/null_predicate.h
  be/src/olap/rowset/segment_v2/segment_iterator.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/scan/new_olap_scanner.h
Labels: area/vectorization

#14717 [fix](join) runtime filter shared from other instance wasn't be published
  be/src/vec/exec/join/vhash_join_node.cpp
Labels: area/vectorization

#14711 [enhancement](memtracker) Optimize exec node memory tracking
  be/src/exec/analytic_eval_node.cpp
  be/src/exec/assert_num_rows_node.cpp
  be/src/exec/blocking_join_node.cpp
  be/src/exec/broker_scan_node.cpp
  be/src/exec/cross_join_node.cpp
  be/src/exec/csv_scan_node.cpp
  be/src/exec/es_http_scan_node.cpp
  be/src/exec/except_node.cpp
  be/src/exec/exchange_node.cpp
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/intersect_node.cpp
  be/src/exec/merge_node.cpp
  be/src/exec/mysql_scan_node.cpp
  be/src/exec/odbc_scan_node.cpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/partitioned_aggregation_node.cc
  be/src/exec/repeat_node.cpp
  be/src/exec/schema_scan_node.cpp
  be/src/exec/select_node.cpp
  be/src/exec/set_operation_node.cpp
  be/src/exec/spill_sort_node.cc
  be/src/exec/table_function_node.cpp
  be/src/exec/topn_node.cpp
  be/src/exec/union_node.cpp
  be/src/runtime/memory/mem_tracker.cpp
  be/src/runtime/memory/mem_tracker.h
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/src/runtime/memory/mem_tracker_limiter.h
  be/src/runtime/thread_context.cpp
  be/src/runtime/thread_context.h
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vjoin_node_base.cpp
  be/src/vec/exec/join/vnested_loop_join_node.cpp
  be/src/vec/exec/scan/new_es_scan_node.cpp
  be/src/vec/exec/scan/new_jdbc_scan_node.cpp
  be/src/vec/exec/scan/new_odbc_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vaggregation_node.h
  be/src/vec/exec/vanalytic_eval_node.cpp
  be/src/vec/exec/vbroker_scan_node.cpp
  be/src/vec/exec/vexchange_node.cpp
  be/src/vec/exec/vmysql_scan_node.cpp
  be/src/vec/exec/vschema_scan_node.cpp
  be/src/vec/exec/vset_operation_node.cpp
  be/src/vec/exec/vsort_node.cpp
Labels: area/vectorization

#14708 [improvement](multi-catalog) return root cause of exception
  fe/fe-core/src/main/java/org/apache/doris/common/util/Util.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalSchemaCache.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveScanProvider.java
Labels: area/planner, dev/1.2.0

#14672 [test](decimalv3) add regression test cases for decimalv3
  be/src/olap/rowset/segment_v2/bloom_filter_index_writer.cpp
  be/src/vec/aggregate_functions/aggregate_function_stddev.cpp
  be/src/vec/data_types/data_type_decimal.cpp
  be/src/vec/data_types/data_type_decimal.h
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/io/io_helper.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TypeDef.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  regression-test/data/bloom_filter_p0/test_create_table_with_bloom_filter.out
  regression-test/data/correctness_p0/test_select_variance_agg.out
  regression-test/data/datatype_p0/decimalv3/test_agg_tab_decimalv3.out
  regression-test/data/datatype_p0/decimalv3/test_dup_tab_decimalv3.out
  regression-test/data/datatype_p0/decimalv3/test_uniq_tab_decimalv3.out
  regression-test/data/ddl_p0/test_ctas_decimalv3.out
  regression-test/data/schema_change_p0/decimalv3/test_agg_keys_schema_change_decimalv3.out
  regression-test/suites/bloom_filter_p0/test_create_table_with_bloom_filter.groovy
  regression-test/suites/correctness_p0/test_select_variance_agg.groovy
  regression-test/suites/datatype_p0/decimalv3/test_agg_tab_decimalv3.groovy
  regression-test/suites/datatype_p0/decimalv3/test_dup_tab_decimalv3.groovy
  regression-test/suites/datatype_p0/decimalv3/test_uniq_tab_decimalv3.groovy
  regression-test/suites/ddl_p0/test_ctas_decimalv3.groovy
  regression-test/suites/schema_change_p0/decimalv3/test_agg_keys_schema_change_decimalv3.groovy
Labels: area/planner, kind/test, area/vectorization

#14719 [fix](function) StringRef should not be key of timezone cache
  be/src/vec/functions/function_convert_tz.h
Labels: area/sql/function, area/vectorization, reviewed

#14703 [improvement](thrift-rpc) retry open
  be/src/runtime/client_cache.cpp
Labels: dev/1.1.5

#14725 [enhancement](Nereids): Use long bitmap in DPHyp
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/JoinOrderJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/CircleDetector.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/Edge.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/GraphSimplifier.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/HyperGraph.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/Node.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/SubgraphEnumerator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/bitmap/Bitmap.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/bitmap/LongBitmap.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/bitmap/LongBitmapIterator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/bitmap/LongBitmapReverseIterator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/bitmap/LongBitmapSubsetIterator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/receiver/AbstractReceiver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/receiver/Counter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/receiver/PlanReceiver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/BitSetTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/BitmapTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/GraphSimplifierTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/SubgraphEnumeratorTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/HyperGraphBuilder.java
Labels: approved, reviewed, area/nereids

#14728 [fix](tpch) tcph q12: disable join reorder
  tools/tpch-tools/queries/q12.sql
Labels: approved, reviewed, dev/1.2.0

#13659 [Feature](Nereids)support nereids event for logging the cascades states and transformation.
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/Job.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/ApplyRuleJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/CostAndEnforcerJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/DeriveStatsJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/OptimizeGroupExpressionJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/OptimizeGroupJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/rewrite/RewriteBottomUpJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/rewrite/RewriteTopDownJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/rewrite/VisitorRewriteJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/CounterType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/Event.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/EventChannel.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/EventConsumer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/EventEnhancer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/EventFilter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/EventProducer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/EventSwitchParser.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/README.md
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/TracerSupplier.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/consumer/FileDumpConsumer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/consumer/LogConsumer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/consumer/PrintConsumer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/enhancer/AddCounterEventEnhancer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/event/CostStateUpdateEvent.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/event/CounterEvent.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/event/EnforcerEvent.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/event/FunctionCallEvent.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/event/GroupMergeEvent.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/event/StateEvent.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/event/StatsStateEvent.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/event/TransformEvent.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/EnforceMissingPropertiesHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/AbstractPlan.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/VariableMgr.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/metrics/EventTest.java
Labels: approved, reviewed, area/nereids

#14727 [chore](fix)build docs fix
  .github/workflows/build-extension.yml
Labels: approved, reviewed

#14524 [feature](compaction) support vertical_compaction & ordered_data_compaction
  be/src/common/config.h
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  be/src/olap/iterators.h
  be/src/olap/merger.cpp
  be/src/olap/merger.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/rowset/CMakeLists.txt
  be/src/olap/rowset/beta_rowset.cpp
  be/src/olap/rowset/beta_rowset.h
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/beta_rowset_reader.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset.h
  be/src/olap/rowset/rowset_factory.cpp
  be/src/olap/rowset/rowset_factory.h
  be/src/olap/rowset/rowset_meta.h
  be/src/olap/rowset/rowset_reader.h
  be/src/olap/rowset/rowset_reader_context.h
  be/src/olap/rowset/rowset_writer.h
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/src/olap/rowset/vertical_beta_rowset_writer.cpp
  be/src/olap/rowset/vertical_beta_rowset_writer.h
  be/src/olap/snapshot_manager.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/task/engine_checksum_task.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/olap_data_convertor.h
  be/src/vec/olap/vertical_block_reader.cpp
  be/src/vec/olap/vertical_block_reader.h
  be/src/vec/olap/vertical_merge_iterator.cpp
  be/src/vec/olap/vertical_merge_iterator.h
  be/src/vec/olap/vgeneric_iterators.cpp
  be/test/CMakeLists.txt
  be/test/io/cache/remote_file_cache_test.cpp
  be/test/olap/ordered_data_compaction_test.cpp
  be/test/olap/rowid_conversion_test.cpp
  be/test/olap/rowset/beta_rowset_test.cpp
  be/test/olap/rowset/segment_v2/segment_test.cpp
  be/test/olap/segcompaction_test.cpp
  be/test/testutil/mock_rowset.h
  be/test/vec/olap/vertical_compaction_test.cpp
  regression-test/data/compaction/test_compaction_agg_keys_with_delete.out
  regression-test/data/compaction/test_compaction_dup_keys_with_delete.out
  regression-test/data/compaction/test_compaction_uniq_keys_with_delete.out
  regression-test/data/compaction/test_vertical_compaction_agg_keys.out
  regression-test/data/compaction/test_vertical_compaction_dup_keys.out
  regression-test/data/compaction/test_vertical_compaction_uniq_keys.out
  regression-test/suites/compaction/test_compaction_agg_keys_with_delete.groovy
  regression-test/suites/compaction/test_compaction_dup_keys_with_delete.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys_with_delete.groovy
  regression-test/suites/compaction/test_vertical_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_uniq_keys.groovy
Labels: kind/docs, kind/test, approved, area/vectorization, reviewed

#14732 [fix](tcmalloc) gc does not work in some cases
  be/src/common/daemon.cpp
Labels: approved, reviewed

#14745 [fix](improvement)(meta) fix alter catalog properties issues and reformat code
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogFactory.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AlterCatalogNameStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AlterCatalogPropsStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
Labels: approved, reviewed

#14535 [enhancement](compaction) opt compaction task producer and quick compaction (#13495)
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/olap/base_compaction.cpp
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  be/src/olap/cumulative_compaction.cpp
  be/src/olap/cumulative_compaction_policy.cpp
  be/src/olap/cumulative_compaction_policy.h
  be/src/olap/delta_writer.cpp
  be/src/olap/merger.cpp
  be/src/olap/olap_server.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/test/olap/cumulative_compaction_policy_test.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#14731 [bugfix](compaction) fix quick compaction core
  be/src/olap/tablet.cpp
Labels: reviewed, dev/1.1.5

#14738 [fix](tcmalloc) gc does not work in somecases
  be/src/common/daemon.cpp
Labels: dev/1.1.5

#14710 [Docs](memory) fix document directory and fix memtracker accuracy bug
  docs/dev.json
  docs/en/docs/admin-manual/maint-monitor/memory-management/be-oom-analysis.md
  docs/en/docs/admin-manual/maint-monitor/memory-management/memory-limit-exceeded-analysis.md
  docs/en/docs/admin-manual/maint-monitor/memory-management/memory-tracker.md
  docs/sidebars.json
Labels: kind/docs, dev/1.2.0-merged

#14692 [test](jdbc)add new extremum case
  docker/thirdparties/docker-compose/postgresql/init/02-create-table.sql
  docker/thirdparties/docker-compose/postgresql/init/03-insert.sql
  regression-test/data/jdbc_p0/test_jdbc_query_pg.out
  regression-test/suites/jdbc_p0/test_jdbc_query_pg.groovy
Labels: kind/test

#14749 [fix](regression-test) Add test data for test_mysql_jdbc_catalog and fix mysql-5.7.yaml about UTF8
  docker/thirdparties/docker-compose/mysql/init/03-create-table.sql
  docker/thirdparties/docker-compose/mysql/init/04-insert.sql
  docker/thirdparties/docker-compose/mysql/mysql-5.7.yaml
  regression-test/data/jdbc_catalog_p0/test_mysql_jdbc_catalog.out
Labels: approved, reviewed

#14755 [typo](docs)merge memory-management directory into maint-monitor
  docs/zh-CN/docs/admin-manual/maint-monitor/memory-management/be-oom-analysis.md
  docs/zh-CN/docs/admin-manual/maint-monitor/memory-management/memory-limit-exceeded-analysis.md
  docs/zh-CN/docs/admin-manual/maint-monitor/memory-management/memory-tracker.md
Labels: kind/docs, approved, reviewed

#14752 [minor](tools) delete unused script
  tools/find_libjvm.sh
Labels: approved, reviewed

#14748 [minor](decimal) degrade log level for overflow decimal
  be/src/vec/data_types/data_type_decimal.h
Labels: approved, area/vectorization, reviewed, dev/1.2.0

#14747 [fix](planner) Fix wrong results when select from view which has with clause
  fe/fe-core/src/main/java/org/apache/doris/analysis/QueryStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/WithClause.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/SelectStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateViewTest.java
  regression-test/data/correctness/test_view_with_with_clause.out
  regression-test/suites/correctness/test_view_with_with_clause.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.0

#14766 [improvement](compaction) use read lock in set cu point
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
Labels: reviewed

#14758 [Chore](workflow) move clang-tidy to code-checks
  .github/workflows/clang-format.yml
  .github/workflows/code-checks.yml
  .github/workflows/shellcheck.yml
  build-support/shell-check.sh
Labels: approved, area/sql/function, area/vectorization, reviewed

#14777 [fix](tcmalloc_gc) optimize policy of tcmalloc gc
  be/src/common/daemon.cpp
Labels: approved, reviewed, dev/1.1.5

#14751 [chore](github) Optimize the workflow FE Code Style Checker
  .github/workflows/checkstyle.yaml
Labels: approved, reviewed

#14730 [feature](nereids)merge proj-proj in post process
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/MergeProjectPostProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeProjects.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/algebra/Project.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalProject.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/postprocess/MergeProjectPostProcessTest.java
Labels: area/nereids

#14785 [typo](fix)Upgrade 1.2, Java UDF function depends on the installation method
  docs/en/docs/admin-manual/cluster-management/upgrade.md
  docs/en/docs/faq/install-faq.md
  docs/en/docs/install/install-deploy.md
  docs/zh-CN/docs/admin-manual/cluster-management/upgrade.md
  docs/zh-CN/docs/faq/install-faq.md
  docs/zh-CN/docs/install/install-deploy.md
Labels: kind/docs, approved, reviewed

#14786 [branch-1.1](log) add tracing log for publish task
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/olap/data_dir.h
  be/src/olap/task/engine_publish_version_task.cpp
  be/src/olap/txn_manager.cpp
  be/src/olap/txn_manager.h
  be/test/olap/delta_writer_test.cpp
  be/test/olap/txn_manager_test.cpp
Labels: approved, reviewed, dev/1.1.5

#14795 [typo](docs)Documentation 1.2 Feature version annotation
  docs/en/docs/ecosystem/external-table/hive-of-doris.md
  docs/en/docs/ecosystem/external-table/hudi-external-table.md
  docs/en/docs/ecosystem/external-table/iceberg-of-doris.md
  docs/en/docs/ecosystem/external-table/jdbc-of-doris.md
  docs/en/docs/ecosystem/external-table/odbc-of-doris.md
  docs/en/docs/ecosystem/udf/java-user-defined-function.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/ARRAY.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/DATETIMEV2.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/DATEV2.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/JSONB.md
  docs/en/docs/sql-manual/sql-reference/Utility-Statements/REFRESH.md
  docs/en/docs/sql-manual/sql-reference/Utility-Statements/SWITCH.md
  docs/zh-CN/docs/ecosystem/external-table/hive-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/hudi-external-table.md
  docs/zh-CN/docs/ecosystem/external-table/iceberg-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/jdbc-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/odbc-of-doris.md
  docs/zh-CN/docs/ecosystem/udf/java-user-defined-function.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_avg.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/ARRAY.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/DATETIMEV2.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/DATEV2.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/JSONB.md
  docs/zh-CN/docs/sql-manual/sql-reference/Utility-Statements/REFRESH.md
  docs/zh-CN/docs/sql-manual/sql-reference/Utility-Statements/SWITCH.md
Labels: kind/docs, approved, reviewed

#14734 [improvement](multi-catalog) support specify hadoop username
  be/src/io/hdfs_builder.cpp
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogProperty.java
Labels: kind/docs, approved, reviewed, area/multi-catalog, dev/1.2.0

#14700 [Improvement](meta)add IsCurrent column in show catalogs result
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-CATALOGS.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-CATALOGS.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowCatalogStmt.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/ShowCatalogStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
Labels: kind/docs, area/planner, approved, reviewed

#14762 [fix](DOE) Support ES index which contains dynamic_templates
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/EsUtil.java
  fe/fe-core/src/test/java/org/apache/doris/external/elasticsearch/EsUtilTest.java
  fe/fe-core/src/test/resources/data/es/es6_dynamic_templates_mapping.json
  fe/fe-core/src/test/resources/data/es/es6_only_dynamic_templates_mapping.json
  fe/fe-core/src/test/resources/data/es/es7_dynamic_templates_mapping.json
  fe/fe-core/src/test/resources/data/es/es7_only_dynamic_templates_mapping.json
  fe/fe-core/src/test/resources/data/es/es8_dynamic_templates_mapping.json
  fe/fe-core/src/test/resources/data/es/es8_only_dynamic_templates_mapping.json
Labels: approved, reviewed

#14794 [fix](multi-catalog) fix persist issue about jdbc catalog and class loader issue
  be/src/olap/tablet_manager.cpp
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerUtil.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/PooledHiveMetaStoreClient.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HiveMetaStoreCache.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/pom.xml
  regression-test/suites/external_catalog_p0/hive/test_hive_orc.groovy
  regression-test/suites/external_catalog_p0/hive/test_hive_other.groovy
  regression-test/suites/external_catalog_p0/hive/test_hive_parquet.groovy
  regression-test/suites/external_table_tecent_emr_p2/hive/test_external_catalog_hive.groovy
  regression-test/suites/external_table_tecent_emr_p2/hive/test_external_hive.groovy
  regression-test/suites/jdbc_catalog_p0/test_mysql_jdbc_catalog.groovy
  regression-test/suites/query_p0/system/test_query_sys.groovy
  regression-test/suites/statistics/alter_col_stats.groovy
  regression-test/suites/tpch_sf1_p0/multi_catalog_query/hive_catalog_orc.groovy
  regression-test/suites/tpch_sf1_p0/multi_catalog_query/hive_catalog_parquet.groovy
Labels: kind/test, area/multi-catalog, dev/1.2.0

#14750 [fix](statistics) fix missing scanBytes and scanRows in query statist…
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scan_node.h
Labels: area/vectorization, usercase, dev/1.2.1, dev/1.1.5

#14773 [typo](docs) fix DATA_QUALITY_ERROR typo and related error msg
  be/src/olap/schema_change.cpp
  docs/en/docs/admin-manual/maint-monitor/be-olap-error-code.md
  docs/en/docs/advanced/materialized-view.md
  docs/zh-CN/docs/admin-manual/maint-monitor/be-olap-error-code.md
  docs/zh-CN/docs/advanced/materialized-view.md
Labels: kind/docs, dev/1.2.1

#14791 [enhancement](regression) don't terminate when encountering one stmt exception
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/ScriptSource.groovy
Labels: kind/test

#14735 [enhancement](BE)add metric for too many version
  be/src/olap/delta_writer.cpp
  be/src/olap/push_handler.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
Labels: approved, reviewed

#14806 [improvement](profile) add detail memory counter for exec nodes
  be/src/vec/common/sort/heap_sorter.cpp
  be/src/vec/common/sort/heap_sorter.h
  be/src/vec/common/sort/sorter.cpp
  be/src/vec/common/sort/sorter.h
  be/src/vec/common/sort/topn_sorter.cpp
  be/src/vec/common/sort/topn_sorter.h
  be/src/vec/core/sort_cursor.h
  be/src/vec/exec/join/process_hash_table_probe_impl.h
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/scanner_context.cpp
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/scan/vscan_node.h
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vaggregation_node.h
  be/src/vec/exec/vanalytic_eval_node.cpp
  be/src/vec/exec/vanalytic_eval_node.h
  be/src/vec/exec/vset_operation_node.cpp
  be/src/vec/exec/vset_operation_node.h
  be/src/vec/exec/vsort_node.cpp
  be/src/vec/exec/vsort_node.h
  be/src/vec/exprs/vectorized_agg_fn.cpp
  be/src/vec/exprs/vectorized_agg_fn.h
  be/src/vec/runtime/vdata_stream_recvr.cpp
  be/src/vec/runtime/vdata_stream_recvr.h
  be/src/vec/sink/vdata_stream_sender.cpp
Labels: area/vectorization

#14763 [Pipeline](regression) Add ssb flat for pipeline
  be/src/vec/exec/vsort_node.cpp
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.4.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.3.out
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.4.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.3.sql
Labels: kind/test, approved, area/vectorization, reviewed

#14814 [refactor](date function) simplify function template arguments
  be/src/vec/functions/function_date_or_datetime_computation.cpp
  be/src/vec/functions/function_date_or_datetime_computation.h
  be/src/vec/functions/function_date_or_datetime_computation_v2.cpp
Labels: area/sql/function, area/vectorization

#14769 [fix](runtime profile) Fix HighWaterMarkCounter update max Bug
  be/src/util/runtime_profile.h
Labels: area/vectorization

#14787 [Refactor](pipeline) Refactor operator and builder code of pipeline
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/pipeline/CMakeLists.txt
  be/src/pipeline/exec/aggregation_sink_operator.cpp
  be/src/pipeline/exec/aggregation_sink_operator.h
  be/src/pipeline/exec/aggregation_source_operator.cpp
  be/src/pipeline/exec/aggregation_source_operator.h
  be/src/pipeline/exec/empty_set_operator.cpp
  be/src/pipeline/exec/empty_set_operator.h
  be/src/pipeline/exec/exchange_sink_operator.cpp
  be/src/pipeline/exec/exchange_sink_operator.h
  be/src/pipeline/exec/exchange_source_operator.cpp
  be/src/pipeline/exec/exchange_source_operator.h
  be/src/pipeline/exec/olap_scan_operator.cpp
  be/src/pipeline/exec/operator.cpp
  be/src/pipeline/exec/operator.h
  be/src/pipeline/exec/repeat_operator.cpp
  be/src/pipeline/exec/repeat_operator.h
  be/src/pipeline/exec/result_sink_operator.cpp
  be/src/pipeline/exec/result_sink_operator.h
  be/src/pipeline/exec/scan_operator.cpp
  be/src/pipeline/exec/scan_operator.h
  be/src/pipeline/exec/sort_sink_operator.cpp
  be/src/pipeline/exec/sort_sink_operator.h
  be/src/pipeline/exec/sort_source_operator.cpp
  be/src/pipeline/exec/sort_source_operator.h
  be/src/pipeline/exec/streaming_aggregation_sink_operator.cpp
  be/src/pipeline/exec/streaming_aggregation_sink_operator.h
  be/src/pipeline/exec/streaming_aggregation_source_operator.cpp
  be/src/pipeline/exec/streaming_aggregation_source_operator.h
  be/src/pipeline/exec/table_function_operator.cpp
  be/src/pipeline/exec/table_function_operator.h
  be/src/pipeline/pipeline.cpp
  be/src/pipeline/pipeline.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/pipeline/task_scheduler.h
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/vscan_node.h
  be/src/vec/exec/vaggregation_node.h
  be/src/vec/sink/vdata_stream_sender.h
  be/src/vec/sink/vresult_sink.h
Labels: area/vectorization

#14830 [fix](build)fix get params display exception
  build.sh
Labels: approved, reviewed

#14826 [Bug](date function) Fix date_add function
  fe/fe-core/src/main/java/org/apache/doris/analysis/DateLiteral.java
Labels: area/planner, approved, reviewed

#14805 [Enhancement](docs) Added grouping sets syntax for group by.
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/SELECT.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/SELECT.md
Labels: kind/docs

#14839 [fix](ColumnVector) ColumnVector::insert_date_column crashed
  be/src/vec/columns/column_vector.h
  be/test/CMakeLists.txt
  be/test/vec/core/column_vector_test.cpp
Labels: approved, area/vectorization, reviewed, dev/1.2.1

#14821 [fix](vectorization) Fix right outer join core with conjunct
  be/src/vec/exec/join/vhash_join_node.cpp
Labels: approved, reviewed, dev/1.1.5-merged

#14825 [fix](const_expr) fix coredump caused by unsupported cast const expr
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scan_node.h
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/scan/vscan_node.h
  be/src/vec/exprs/varray_literal.cpp
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/exprs/vexpr.h
  be/src/vec/exprs/vruntimefilter_wrapper.h
  regression-test/suites/query_p0/sql_functions/cast_function/test_cast_function.groovy
Labels: kind/test, area/vectorization, bug/sqlsmith, dev/1.2.1

#14844 [fix](ColumnVector) cherrypick#14839 ColumnVector::insert_date_column crashed
  be/src/vec/columns/column_vector.h
  be/test/CMakeLists.txt
  be/test/vec/core/column_vector_test.cpp
Labels: approved, reviewed

#14845 [typo](docs)add release notes
  docs/en/docs/releasenotes/release-1.1.0.md
  docs/en/docs/releasenotes/release-1.1.1.md
  docs/en/docs/releasenotes/release-1.1.2.md
  docs/en/docs/releasenotes/release-1.1.3.md
  docs/en/docs/releasenotes/release-1.1.4.md
  docs/sidebars.json
  docs/zh-CN/docs/releasenotes/release-1.1.0.md
  docs/zh-CN/docs/releasenotes/release-1.1.1.md
  docs/zh-CN/docs/releasenotes/release-1.1.2.md
  docs/zh-CN/docs/releasenotes/release-1.1.3.md
  docs/zh-CN/docs/releasenotes/release-1.1.4.md
Labels: kind/docs, approved, reviewed

#14802 [Enhancement](Nereids) Explain display extra information
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Group.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/AbstractPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/Plan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalCTE.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalFilter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/TreeStringUtils.java
  regression-test/suites/nereids_syntax_p0/explain.groovy
Labels: kind/test, approved, reviewed, area/nereids

#14832 [Exec](Profile) Register to Fetch Result time and Write Result time in FE to debug
  fe/fe-core/src/main/java/org/apache/doris/common/util/QueryPlannerProfile.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: reviewed

#14809 [fix](fe)fix select from temporary partition bug
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  regression-test/data/correctness_p0/test_temp_partition.out
  regression-test/suites/correctness_p0/test_temp_partition.groovy
Labels: kind/test, approved, reviewed, dev/1.2.1

#14849 [Regression](Fix) fix the regression of pipeline and ConcurrentModificationException failed
  be/src/pipeline/exec/aggregation_source_operator.h
  be/src/pipeline/exec/sort_source_operator.h
  be/src/pipeline/exec/streaming_aggregation_source_operator.h
  be/src/pipeline/task_scheduler.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/InternalSchemaInitializer.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeConstants.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/TestWithFeService.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/UtFrameUtils.java
  regression-test/pipeline/p0/conf/regression-conf.groovy
  regression-test/suites/correctness/test_view_with_with_clause.groovy
Labels: kind/test, approved, reviewed

#14596 [refactor](odbc)move param to config
  be/src/common/config.h
  be/src/exec/odbc_connector.cpp
  be/src/exec/odbc_connector.h
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#14843 [typo](docs)Add array function version number
  docs/en/docs/sql-manual/sql-functions/array-functions/array.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_avg.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_compact.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_contains.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_difference.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_distinct.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_enumerate.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_except.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_intersect.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_join.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_max.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_min.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_popback.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_position.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_product.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_range.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_remove.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_size.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_slice.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_sort.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_sum.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_union.md
  docs/en/docs/sql-manual/sql-functions/array-functions/array_with_constant.md
  docs/en/docs/sql-manual/sql-functions/array-functions/arrays_overlap.md
  docs/en/docs/sql-manual/sql-functions/array-functions/countequal.md
  docs/en/docs/sql-manual/sql-functions/array-functions/element_at.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_avg.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_compact.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_contains.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_difference.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_distinct.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_enumerate.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_except.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_intersect.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_join.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_max.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_min.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_popback.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_position.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_product.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_range.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_remove.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_size.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_slice.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_sort.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_sum.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_union.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_with_constant.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/arrays_overlap.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/countequal.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/element_at.md
Labels: kind/docs, approved, reviewed

#14860 [typo](docs)delete the offline fe parameters
  docs/en/docs/admin-manual/config/fe-config.md
  docs/zh-CN/docs/admin-manual/config/fe-config.md
Labels: kind/docs, approved, reviewed

#14835 [Pipeline](dategen) Support datagen node
  be/src/pipeline/CMakeLists.txt
  be/src/pipeline/exec/datagen_operator.cpp
  be/src/pipeline/exec/datagen_operator.h
  be/src/pipeline/exec/operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
Labels: approved, reviewed

#14813 [chore](macOS) Fix the compilation errors when building third party libraries
  thirdparty/build-thirdparty.sh
Labels: reviewed, dev/1.2.1

#14858 [fix](if) fix coredump of if const
  be/src/vec/functions/if.cpp
  regression-test/data/query_p0/sql_functions/conditional_functions/test_conditional_function.out
  regression-test/suites/query_p0/sql_functions/conditional_functions/test_conditional_function.groovy
Labels: kind/test, area/sql/function, area/vectorization, dev/1.2.1, dev/1.1.5

#14854 [fix](jdbc) fix logger error of statusLogger unrecognized
  be/src/util/jni-util.cpp
  fe/java-udf/pom.xml
  fe/java-udf/src/main/resources/log4j.properties
  fe/java-udf/src/main/resources/package.xml
Labels: approved, reviewed, dev/1.2.1

#14865 [docs](readme)update 1.2.0 release note
  README.md
Labels: kind/docs, approved, reviewed

#14869 [typo](docs) Fixed label_clean_interval_second's incorrect default value
  docs/en/docs/admin-manual/config/fe-config.md
  docs/zh-CN/docs/admin-manual/config/fe-config.md
Labels: kind/docs

#14246 [fix](audit) fix duplicate audit log.
  fe/fe-core/src/main/antlr4/org/apache/doris/parser/DorisSqlSeparator.g4
  fe/fe-core/src/main/java/org/apache/doris/common/util/SqlUtils.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/common/util/SqlUtilsTest.java
  fe/fe-core/src/test/java/org/apache/doris/qe/ConnectProcessorTest.java
Labels: reviewed, area/nereids

#14831 [fix](agg)having clause should use alias if there is no group by clause
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/correctness_p0/test_group_having_alias.out
  regression-test/suites/correctness_p0/test_group_having_alias.groovy
Labels: area/planner, kind/test, dev/1.2.1, dev/1.1.5

#14848 [test](catalog)Lsy emr hive case
  regression-test/data/external_table_emr_p2/hive/test_external_catalog_hive.out
  regression-test/suites/external_table_emr_p2/es/test_external_es.groovy
  regression-test/suites/external_table_emr_p2/hive/test_external_catalog_hive.groovy
  regression-test/suites/external_table_emr_p2/hive/test_external_hive.groovy
  regression-test/suites/external_table_emr_p2/mysql/test_external_mysql.groovy
  regression-test/suites/external_table_emr_p2/mysql/test_external_resource_mysql.groovy
  regression-test/suites/external_table_emr_p2/pg/test_external_pg.groovy
  regression-test/suites/external_table_tecent_emr_p2/hive/test_external_catalog_hive.groovy
Labels: kind/test

#14712 [enhancement](memory) Add Memory GC when the available memory of the BE process is lacking
  be/src/common/config.h
  be/src/common/daemon.cpp
  be/src/olap/lru_cache.cpp
  be/src/olap/lru_cache.h
  be/src/olap/page_cache.cpp
  be/src/olap/page_cache.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/memory/chunk_allocator.cpp
  be/src/runtime/memory/chunk_allocator.h
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/src/runtime/memory/mem_tracker_limiter.h
  be/src/runtime/memory/thread_mem_tracker_mgr.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/query_fragments_ctx.h
  be/src/runtime/thread_context.h
  be/src/util/mem_info.cpp
  be/src/util/mem_info.h
Labels: approved, area/vectorization, reviewed

#14864 [chore](macOS) Resolve the issue with missing python program
  be/src/vec/aggregate_functions/aggregate_function_sequence_match.h
  docs/en/community/developer-guide/fe-idea-dev.md
  docs/zh-CN/community/developer-guide/fe-idea-dev.md
  fe/fe-core/pom.xml
Labels: kind/docs, approved, area/vectorization, reviewed, dev/1.2.1

#14801 [Chore](clang-tidy) remove misc-unused-parameters check
  .clang-tidy
Labels: approved, reviewed

#14775 [improvement](config) update high_priority_flush_thread_num_per_store default value to 6
  be/src/common/config.h
Labels: approved, reviewed, dev/1.2.1, dev/1.1.5

#14878 [fix](if) cherry-pick fix coredump of if const (#14858)
  be/src/vec/functions/if.cpp
Labels: approved, reviewed

#14894 [release notes](docs)release notes 1.2.0
  docs/en/docs/releasenotes/release-1.2.0.md
  docs/images/coldrun.png
  docs/images/hotrun.png
  docs/images/lightschemachange_compare.png
  docs/images/mergeonwrite_ssb.png
  docs/sidebars.json
  docs/zh-CN/docs/releasenotes/release-1.2.0.md
Labels: kind/docs, approved, reviewed

#14796 [enhancement](compaction) add some trigger and delete useless log
  be/src/common/config.h
  be/src/olap/compaction.cpp
  be/src/olap/tablet_manager.cpp
Labels: reviewed

#14836 [bugfix](compaction) fix promotion size bug
  be/src/common/config.h
  be/src/olap/cumulative_compaction_policy.cpp
  be/src/olap/cumulative_compaction_policy.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/test/olap/cumulative_compaction_policy_test.cpp
Labels: area/vectorization, reviewed, dev/1.2.1

#14889 [improvement](config) update high_priority_flush_thread_num_per_store default value to 6 (#14775)
  be/src/common/config.h
Labels: approved, reviewed

#14866 [fix](nereids)translate is not null predicate mistake
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/ExpressionTranslator.java
  regression-test/data/bloom_filter_p0/test_bloom_filter_is_not_null.out
  regression-test/suites/bloom_filter_p0/test_bloom_filter_is_not_null.groovy
Labels: kind/test, approved, reviewed, area/nereids

#14797 [refactor](statistics) Remove deprecated statistics related codes
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterTableStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowAnalyzeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowTableStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisTaskExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStat.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/MetaStatisticsTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/PartitionStats.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/SQLStatisticsTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/SampleSQLStatisticsTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/Statistics.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsDesc.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsJob.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsJobManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsJobScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsTaskResult.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsTaskScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/TableStats.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/cascades/DeriveStatsJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/stats/StatsCalculatorTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/ColumnStatsTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/PartitionStatsTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/SQLStatisticsTaskTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/SampleSQLStatisticsTaskTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/StatisticsJobSchedulerTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/StatisticsJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/StatisticsManagerTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/StatisticsTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/TableStatsTest.java
Labels: area/planner, area/nereids

#14861 [Improvement](multi catalog)Add comment to external hms table show create table output.
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
Labels: approved, area/multi-catalog

#14891 [fix](multi-catalog) check new catalog name is used or not before rename
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
Labels: approved, reviewed

#14818 [Minor](Planner): remove redundant SessionVariable
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: area/planner, reviewed

#14897 [fix] 'SHOW ROLES' statement does not display resource privilege (#14812)
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/RoleManager.java
Labels: approved, reviewed, dev/1.2.1

#14501 [Vectorized](jdbc) add check type for jdbc table
  be/src/vec/exec/vjdbc_connector.cpp
  be/src/vec/exec/vjdbc_connector.h
  docs/en/docs/ecosystem/external-table/jdbc-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/jdbc-of-doris.md
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
  regression-test/suites/jdbc_p0/test_jdbc_query_pg.groovy
Labels: kind/docs, kind/test, approved, area/vectorization, reviewed, usercase, dev/1.2.1

#14793 [fix](multi-catalog) use last used database for catalog when switch back
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  regression-test/suites/external_table_emr_p2/hive/test_external_catalog_hive.groovy
  regression-test/suites/external_table_emr_p2/hive/test_external_hive.groovy
Labels: area/load, kind/docs, area/planner, kind/test, area/sql/function, area/vectorization, dev/1.2.1

#14903 [minor](typo) Fix typo
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/load/update/UpdatePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/NestedLoopJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OriginalPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
Labels: area/load, area/planner, approved, reviewed, area/nereids

#13861 [enhancement](chore) remove sf1DataPath conf from regression-conf.groovy
  regression-test/conf/regression-conf.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/Config.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/ConfigOptions.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/ScriptContext.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/SuiteContext.groovy
  regression-test/pipeline/p0/conf/regression-conf.groovy
  regression-test/pipeline/p1/conf/regression-conf.groovy
  regression-test/suites/datev2/ssb_sf1_p1/load.groovy
  regression-test/suites/datev2/tpcds_sf1_p1/load.groovy
  regression-test/suites/datev2/tpch_sf1_p1/load.groovy
  regression-test/suites/datev2/tpch_sf1_p1/tpch_sf1/load.groovy
  regression-test/suites/decimalv3/tpch_sf1_p1/load.groovy
  regression-test/suites/index_p0/load.groovy
  regression-test/suites/primary_index/ssb_unique_load_zstd_p0/four/load_four_step.groovy
  regression-test/suites/primary_index/ssb_unique_load_zstd_p0/one/load_one_step.groovy
  regression-test/suites/primary_index/ssb_unique_load_zstd_p0/three/load_three_step.groovy
  regression-test/suites/primary_index/ssb_unique_load_zstd_p0/two/load_two_step.groovy
  regression-test/suites/primary_index/ssb_unique_sql_zstd_p0/load.groovy
  regression-test/suites/primary_index/test_unique_mow_sequence.groovy
  regression-test/suites/ssb_sf0.1_p1/load.groovy
  regression-test/suites/ssb_sf1/load.groovy
  regression-test/suites/ssb_sf1_p2/load.groovy
  regression-test/suites/ssb_unique_load_zstd_p0/load_four_step/load.groovy
  regression-test/suites/ssb_unique_load_zstd_p0/load_one_step/load.groovy
  regression-test/suites/ssb_unique_load_zstd_p0/load_three_step/load.groovy
  regression-test/suites/ssb_unique_load_zstd_p0/load_two_step/load.groovy
  regression-test/suites/ssb_unique_sql_zstd_p0/load.groovy
  regression-test/suites/tpcds_sf1_p1/load.groovy
  regression-test/suites/tpcds_sf1_unique_p1/load.groovy
  regression-test/suites/tpch_sf0.1_p1/load.groovy
  regression-test/suites/tpch_sf0.1_unique_p1/load.groovy
  regression-test/suites/tpch_sf1_p2/load.groovy
  regression-test/suites/tpch_sf1_unique_p2/load.groovy
Labels: kind/test

#14918 [bugfix](conf) remove useless conf
  be/src/common/config.h
Labels: approved, reviewed

#14909 [Pipeline](fix) fix enable_pipeline_engine variable not work
  be/src/pipeline/pipeline_fragment_context.h
  be/src/runtime/exec_env.h
  be/src/runtime/export_task_mgr.cpp
  be/src/runtime/export_task_mgr.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/plan_fragment_executor.h
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/runtime/stream_load/stream_load_executor.h
  fe/fe-core/src/main/java/org/apache/doris/common/util/VectorizedUtil.java
  fe/fe-core/src/main/java/org/apache/doris/load/update/UpdateStmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: area/load, reviewed

#14784 [feature](nereids) Support `using join` syntax
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/JoinType.java
  regression-test/data/nereids_syntax_p0/using_join.out
  regression-test/suites/nereids_syntax_p0/using_join.groovy
Labels: kind/test, approved, reviewed, area/nereids

#14683 [feature](Nereids) support push down no group agg to olap scan
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriteJobExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/implementation/LogicalOlapScanToPhysicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushAggregateToOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownProjectThroughLimit.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/PushDownAggOperator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalOlapScan.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslatorTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/postprocess/MergeProjectPostProcessTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PruneOlapScanTabletTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushAggregateToOlapScanTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanEqualsTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanToStringTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/PlanConstructor.java
Labels: approved, reviewed, area/nereids

#14898 [Pipeline](hashjoin) Support hash join on pipeline engine
  be/src/pipeline/CMakeLists.txt
  be/src/pipeline/exec/hashjoin_build_sink.cpp
  be/src/pipeline/exec/hashjoin_build_sink.h
  be/src/pipeline/exec/hashjoin_probe_operator.cpp
  be/src/pipeline/exec/hashjoin_probe_operator.h
  be/src/pipeline/exec/operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
  be/src/vec/exec/join/vjoin_node_base.cpp
  be/src/vec/exec/join/vjoin_node_base.h
  be/src/vec/exec/vrepeat_node.h
  be/src/vec/exec/vtable_function_node.h
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q1.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q1.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q1.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q2.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q2.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q2.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.4.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q4.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q4.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q4.3.out
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q1.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q1.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q1.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q2.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q2.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q2.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.4.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q4.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q4.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q4.3.sql
Labels: kind/test, approved, area/vectorization, reviewed

#14816 [Fix](Nereids)fix event channel loop until queue is not empty.
  fe/fe-core/src/main/java/org/apache/doris/nereids/metrics/EventChannel.java
  fe/fe-core/src/main/java/org/apache/doris/qe/VariableMgr.java
Labels: area/nereids

#14881 [Bug](predicate) fix ccore dump on varchar with in list predicate
  be/src/olap/bitmap_filter_predicate.h
  be/src/olap/bloom_filter_predicate.h
  be/src/olap/comparison_predicate.h
  be/src/olap/in_list_predicate.h
  be/src/runtime/primitive_type.h
  regression-test/data/tpcds_sf1_unique_p1/sql/sqlsmith01.out
  regression-test/suites/tpcds_sf1_unique_p1/sql/sqlsmith01.sql
Labels: kind/test, approved, reviewed, bug/sqlsmith, dev/1.2.1

#14804 [fix](schemachange) fix the schema change that causes the be core dump.
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AddColumnClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterTableClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ModifyColumnClause.java
  fe/fe-core/src/test/java/org/apache/doris/alter/SchemaChangeJobV2Test.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AddColumnClauseTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/ModifyColumnClauseTest.java
  regression-test/suites/schema_change_p0/test_agg_keys_schema_change.groovy
Labels: area/planner, kind/test, approved, reviewed, affects-1.1, dev/1.2.1, dev/1.1.5

#14927 [typo](docs)Java udf and Jdbc doc fix
  .github/workflows/build-extension.yml
  docs/en/docs/ecosystem/external-table/jdbc-of-doris.md
  docs/en/docs/ecosystem/udf/java-user-defined-function.md
  docs/zh-CN/docs/ecosystem/external-table/jdbc-of-doris.md
  docs/zh-CN/docs/ecosystem/udf/java-user-defined-function.md
Labels: kind/docs, approved, reviewed

#14789 [improvement](docs) add docs for alter catalog stmt
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-CATALOG.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-CATALOG.md
Labels: kind/docs, approved, reviewed

#14842 [refactor](resource) unified resource user interface
  docs/en/docs/advanced/cold_hot_separation.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-RESOURCE.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-RESOURCE.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-POLICY.md
  docs/zh-CN/docs/advanced/cold_hot_separation.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-RESOURCE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-RESOURCE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-POLICY.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/OutFileClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StorageDesc.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BlobStorage.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BrokerStorage.java
  fe/fe-core/src/main/java/org/apache/doris/backup/HdfsStorage.java
  fe/fe-core/src/main/java/org/apache/doris/backup/S3Storage.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HMSResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HdfsResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Resource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ResourceMgr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/S3Resource.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerUtil.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/org/apache/doris/planner/BrokerScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HiveScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HudiScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/LoadScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/QueryScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/policy/StoragePolicy.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/ExternalFileTableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/HdfsTableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/task/NotifyUpdateStoragePolicyTask.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterTest.java
  fe/fe-core/src/test/java/org/apache/doris/backup/S3StorageTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/ResourceMgrTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/S3ResourceTest.java
  regression-test/suites/cold_heat_separation/policy/alter.groovy
  regression-test/suites/cold_heat_separation/policy/create.groovy
  regression-test/suites/cold_heat_separation/policy/drop.groovy
  regression-test/suites/cold_heat_separation/policy/show.groovy
  regression-test/suites/cold_heat_separation/use_policy/alter_table_add_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/create_table_use_partition_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/create_table_use_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/modify_partition_add_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/use_default_storage_policy.groovy
Labels: kind/docs, kind/api-change, area/planner, kind/test, approved, api-review, reviewed, area/multi-catalog

#14922 [improvement](multi-catalog)Support invalid/not invalid option for refresh catalog and db.
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/RefreshCatalogStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/RefreshDbStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/RefreshManager.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/ExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogFactory.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogLog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/EsExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalObjectLog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
Labels: area/planner, approved, reviewed, area/multi-catalog

#14822 [fix](aggregate) agg table and unique table get different result when…
  be/src/olap/generic_iterators.cpp
Labels: reviewed, dev/1.2.1, dev/1.1.5

#14938 [Improvement](multi-catalog) add show create catalog stmt
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-CATALOG.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-CATALOG.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowCreateCatalogStmt.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
Labels: kind/docs, area/planner, approved, reviewed, area/multi-catalog

#14924 [Docs](jdbc catalog) add docs for jdbc catalog
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
Labels: kind/docs, approved, reviewed, area/multi-catalog

#14953 [Regression](pipeline) remove ssb test for pipeline
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.4.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q1.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q1.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q1.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q2.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q2.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q2.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.4.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q4.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q4.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q4.3.out
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.4.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q1.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q1.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q1.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q2.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q2.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q2.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.4.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q4.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q4.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q4.3.sql
Labels: kind/test

#14934 [pipeline](refactor) do some refactor for code and comments
  be/src/pipeline/exec/hashjoin_probe_operator.cpp
  be/src/pipeline/exec/hashjoin_probe_operator.h
  be/src/pipeline/exec/operator.h
  be/src/pipeline/exec/repeat_operator.cpp
  be/src/pipeline/exec/repeat_operator.h
  be/src/pipeline/exec/table_function_operator.cpp
  be/src/pipeline/exec/table_function_operator.h
  be/src/pipeline/task_scheduler.cpp
Labels: approved, reviewed

#14923 [vectorized](pipeline) support assert num rows operator
  be/src/pipeline/exec/assert_num_rows_operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/vec/exec/vassert_num_rows_node.cpp
  be/src/vec/exec/vassert_num_rows_node.h
Labels: area/vectorization, reviewed

#14948 [enhancement](memory) Support query memroy overcommit
  be/src/common/config.h
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/src/runtime/memory/mem_tracker_limiter.h
  be/src/util/mem_info.cpp
Labels: area/storage/in-memory, area/memory-consumption

#14911 [Refactor](NLJ) refactor the nested loop join node
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/vec/core/block.cpp
  be/src/vec/exec/join/vjoin_node_base.cpp
  be/src/vec/exec/join/vnested_loop_join_node.cpp
  be/src/vec/exec/join/vnested_loop_join_node.h
Labels: area/vectorization, reviewed

#14901 [Exec][Pipeline] Remove AggContext's lock
  be/src/pipeline/exec/agg_context.cpp
  be/src/pipeline/exec/agg_context.h
Labels: reviewed

#14890 [improvement](vanalytic) improve memory counter
  be/src/vec/exec/vanalytic_eval_node.cpp
  be/src/vec/exec/vanalytic_eval_node.h
Labels: area/vectorization

#14868 [feature](pipeline) add inersect/except operators
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/pipeline/CMakeLists.txt
  be/src/pipeline/exec/operator.h
  be/src/pipeline/exec/set_probe_sink_operator.cpp
  be/src/pipeline/exec/set_probe_sink_operator.h
  be/src/pipeline/exec/set_sink_operator.cpp
  be/src/pipeline/exec/set_sink_operator.h
  be/src/pipeline/exec/set_source_operator.cpp
  be/src/pipeline/exec/set_source_operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/pipeline/pipeline_fragment_context.h
  be/src/pipeline/pipeline_task.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/vexcept_node.cpp
  be/src/vec/exec/vexcept_node.h
  be/src/vec/exec/vintersect_node.cpp
  be/src/vec/exec/vintersect_node.h
  be/src/vec/exec/vset_operation_node.cpp
  be/src/vec/exec/vset_operation_node.h
Labels: approved, area/vectorization, reviewed

#14959 [Bug](pipeline) Fix double prepare on pipeline engine
  be/src/runtime/fragment_mgr.cpp
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.4.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q1.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q1.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q1.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q2.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q2.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q2.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.3.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q3.4.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q4.1.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q4.2.out
  regression-test/data/datev2/ssb_sf1_p1/sql/pipeline_q4.3.out
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q1.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q2.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q3.4.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_flat_q4.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q1.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q1.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q1.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q2.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q2.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q2.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.3.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q3.4.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q4.1.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q4.2.sql
  regression-test/suites/datev2/ssb_sf1_p1/sql/pipeline_q4.3.sql
Labels: kind/test, approved, reviewed

#14851 [Feature](Nereids)support select-except
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalProject.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/expressions/SelectExceptTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanToStringTest.java
  regression-test/data/nereids_syntax_p0/select_except.out
  regression-test/suites/nereids_syntax_p0/select_except.groovy
Labels: kind/test, approved, reviewed, area/nereids

#14899 [typo](docs)optimize the FE config document
  docs/en/docs/admin-manual/config/fe-config.md
  docs/zh-CN/docs/admin-manual/config/fe-config.md
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
Labels: kind/docs, approved, reviewed

#14957 [typo](docs)optimize the BE config document
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#14960 [chore](regression) use correct bucket path in regression conf
  regression-test/conf/regression-conf.groovy
Labels: kind/test

#14963 [vectorzied](pipeline) support union node operator
  be/src/pipeline/exec/const_value_operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/vec/exec/vunion_node.cpp
  be/src/vec/exec/vunion_node.h
Labels: approved, area/vectorization, reviewed

#14961 [Bug](predicate) fix undefined behavior on in list predicate
  be/src/olap/in_list_predicate.h
Labels: approved, reviewed, usercase, dev/1.2.1

#14958 [Bugfix](Jsonb) fix jsonb load in unique key model
  be/src/vec/utils/template_helpers.hpp
  regression-test/data/jsonb_p0/test_jsonb_load_unique_key_and_function.out
  regression-test/data/jsonb_p0/test_jsonb_unique_key.csv
  regression-test/suites/jsonb_p0/test_jsonb_load_unique_key_and_function.groovy
Labels: kind/test, approved, area/vectorization, reviewed, dev/1.2.1

#14892 [fix](statistics) Fix NPE when update analysis job status
  fe/fe-core/src/main/java/org/apache/doris/catalog/InternalSchemaInitializer.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisTaskScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/BaseAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HiveAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/IcebergAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/MVAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/OlapAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsCache.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsCacheKey.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsCacheLoader.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsRepository.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/CacheTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/MVStatisticsTest.java
Labels: approved, reviewed, area/nereids, dev/1.2.1

#14853 [fix](statistics) fix CpuTimeMS in audit log when enable_vectorized_e…
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/scanner_scheduler.cpp
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/scan/vscan_node.h
  be/src/vec/exec/scan/vscanner.cpp
  be/src/vec/exec/scan/vscanner.h
Labels: approved, area/vectorization, reviewed, dev/1.2.1

#14930 [feature-wip](MTMV) Support mapping the partition rule of base table to the materialized view
  fe/fe-core/pom.xml
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnPartitionDesc.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateMultiTableMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/PartitionDesc.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ListPartitionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/RangePartitionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableIf.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/MultiTableMaterializedViewTest.java
  fe/pom.xml
Labels: area/planner, approved, reviewed, area/multi-table-materialized-view

#14893 [fix](Nereids): just allow crossjoin empty condition.
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/NereidsParserTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/AnalyzeSubQueryTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/RegisterCTETest.java
Labels: approved, reviewed, area/nereids

#14951 [fix](csv-reader) fix be crash when reading invalid value
  be/src/exec/text_converter.hpp
  be/src/vec/core/block.cpp
  be/src/vec/core/block.h
Labels: approved, area/vectorization, reviewed, dev/1.2.1

#14976 [fix](fe-meta) NPE in DataProperty when upgrading to 1.2.x
  fe/fe-core/src/main/java/org/apache/doris/catalog/DataProperty.java
Labels: kind/fix, approved, reviewed, area/metadata, dev/1.2.1

#14774 [Vectorized](operator) support analytic eval operator
  be/src/pipeline/CMakeLists.txt
  be/src/pipeline/exec/analytic_sink_operator.cpp
  be/src/pipeline/exec/analytic_sink_operator.h
  be/src/pipeline/exec/analytic_source_operator.cpp
  be/src/pipeline/exec/analytic_source_operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/vec/exec/vanalytic_eval_node.cpp
  be/src/vec/exec/vanalytic_eval_node.h
Labels: approved, area/vectorization, reviewed

#14984 [Bug](DictoryColumn) reverse the _codes.size() replace _reserve_size
  be/src/vec/columns/column_dictionary.h
Labels: area/vectorization

#14981 [bugfix](compaction) fix compaction trigger
  be/src/agent/task_worker_pool.cpp
  be/src/olap/delta_writer.cpp
  be/src/vec/olap/vertical_merge_iterator.cpp
Labels: approved, area/vectorization, reviewed

#14733 [ehancement](nereids) Read lock table when analyze and generate query plan
  fe/fe-core/src/main/java/org/apache/doris/nereids/CascadesContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/NereidsAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindRelation.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/ReadLockTest.java
Labels: approved, reviewed, area/nereids

#14895 [fix](nereids)add slot desc for order key
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
Labels: approved, reviewed, area/nereids

#14952 [fix](Nereids): fix push filter through outer join in ReorderJoinRule.
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ReorderJoin.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/ReorderJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/sqltest/MultiJoinTest.java
Labels: approved, reviewed, area/nereids

#14870 [typo](docs) fix get starting
  docs/en/docs/get-starting/get-starting.md
  docs/en/docs/install/install-deploy.md
  docs/zh-CN/docs/admin-manual/cluster-management/upgrade.md
  docs/zh-CN/docs/get-starting/get-starting.md
  docs/zh-CN/docs/install/install-deploy.md
  docs/zh-CN/docs/sql-manual/sql-reference/Operators/in.md
Labels: kind/docs, approved, reviewed

#13914 [feature](function)Support negative index for function split_part
  be/src/exprs/string_functions.cpp
  be/src/vec/functions/function_string.h
  be/test/exprs/string_functions_test.cpp
  be/test/vec/function/function_string_test.cpp
  docs/en/docs/sql-manual/sql-functions/string-functions/split_part.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/split_part.md
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function.groovy
Labels: kind/docs, kind/test, approved, area/sql/function, area/vectorization, reviewed

#14837 [enhancement](function) remove useless functions in fe
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FEFunctions.java
Labels: approved, area/sql/function, reviewed

#14965 [Chore](phmap) upgrade phmap to 1.3.8
  be/src/util/brpc_client_cache.h
  be/src/util/doris_metrics.h
  dist/LICENSE-dist.txt
  thirdparty/CHANGELOG.md
  thirdparty/vars.sh
Labels: approved, reviewed

#14900 [improvement](vertical_compaction) reduce segments load in vertical merger
  be/src/olap/row.h
  be/src/vec/olap/vertical_block_reader.cpp
  be/src/vec/olap/vertical_block_reader.h
  be/src/vec/olap/vertical_merge_iterator.cpp
  be/src/vec/olap/vertical_merge_iterator.h
Labels: area/vectorization

#13741 [feature](split_by_string)support split by string function
  be/src/vec/functions/function_string.cpp
  be/src/vec/functions/function_string.h
  be/test/vec/function/function_string_test.cpp
  docs/en/docs/sql-manual/sql-functions/string-functions/split_by_string.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/split_by_string.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/string_functions/test_split_by_string.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_split_by_string.groovy
Labels: kind/docs, kind/test, approved, area/sql/function, area/vectorization

#14986 [enhancement](pipeline) support jdbc scan, jdbc sink, odbc scan and odbc sink node for pipeline.
  be/src/pipeline/exec/table_sink_operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
Labels: approved, reviewed

#14962 [fix](nereids) Support syntax of nested CTE
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  regression-test/data/nereids_syntax_p0/cte.out
  regression-test/suites/nereids_syntax_p0/cte.groovy
Labels: kind/test, reviewed, area/nereids

#15012 [ehancement](nereids) Waits read lock up to 1 minute
  fe/fe-core/src/main/java/org/apache/doris/nereids/CascadesContext.java
Labels: area/nereids

#15004 [Bug](compile) Fix compiling error if set ENABLE_STACKTRACE
  be/CMakeLists.txt
  be/src/common/status.h
Labels: approved, reviewed

#14967 [feature](nereids)support 'isNull' expression
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisLexer.g4
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
Labels: approved, reviewed, area/nereids

#15008 [fix](nereids)FoldConstantRuleOnFe bug: npe if function do not have child, like current_date
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/FoldConstantRuleOnFE.java
Labels: area/nereids

#10392 [Enhancement][Vectorized] Use SIMD to skip batches of null data in nu…
  be/src/vec/aggregate_functions/aggregate_function_null.h
Labels: area/vectorization, reviewed
