Repository apache/doris, pull requests merged in 2022-09, with the labels that each got.

#12113 [fix](join)join reorder by mistake
  fe/fe-core/src/main/java/org/apache/doris/analysis/FromClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/correctness_p0/test_join_should_not_reorder.out
  regression-test/suites/correctness_p0/test_join_should_not_reorder.groovy
Labels: area/planner, kind/test, reviewed, dev/1.1.2

#12234 [fix](yearweek) fixed the yearweek result error when mode is set to 1
  be/src/vec/runtime/vdatetime_value.cpp
  regression-test/data/query_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/query_p0/sql_functions/datetime_functions/test_date_function.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#12048 [feature-wip](new-scan)Add new file scan node
  be/src/exec/exec_node.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/scan/new_file_arrow_scanner.cpp
  be/src/vec/exec/scan/new_file_arrow_scanner.h
  be/src/vec/exec/scan/new_file_scan_node.cpp
  be/src/vec/exec/scan/new_file_scan_node.h
  be/src/vec/exec/scan/new_file_scanner.cpp
  be/src/vec/exec/scan/new_file_scanner.h
  be/src/vec/exec/scan/new_file_text_scanner.cpp
  be/src/vec/exec/scan/new_file_text_scanner.h
  be/src/vec/exec/scan/vscanner.h
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#12174 [Improvement](load) accelerate tablet sink
  be/src/exec/tablet_sink.h
  be/src/vec/columns/column.h
  be/src/vec/columns/column_array.h
  be/src/vec/columns/column_complex.h
  be/src/vec/columns/column_const.h
  be/src/vec/columns/column_decimal.h
  be/src/vec/columns/column_dictionary.h
  be/src/vec/columns/column_dummy.h
  be/src/vec/columns/column_fixed_length_object.h
  be/src/vec/columns/column_impl.h
  be/src/vec/columns/column_nullable.h
  be/src/vec/columns/column_string.h
  be/src/vec/columns/column_vector.h
  be/src/vec/columns/predicate_column.h
  be/src/vec/core/block.cpp
  be/src/vec/core/block.h
  be/src/vec/sink/vtablet_sink.cpp
  be/src/vec/sink/vtablet_sink.h
Labels: area/vectorization

#12214 [Improvement](compaction) copy row in batch in VCollectIterator&VGenericIterator
  be/src/olap/compaction.cpp
  be/src/vec/olap/vcollect_iterator.cpp
  be/src/vec/olap/vgeneric_iterators.cpp
Labels: approved, area/vectorization, reviewed

#12232 [bug](Nereids) get error row_desc() when have projection
  be/src/vec/exec/file_scan_node.cpp
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vanalytic_eval_node.cpp
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/exec/vtable_function_node.cpp
  be/src/vec/exec/vunion_node.cpp
Labels: approved, area/vectorization, reviewed

#12175 [fix](array-type) array_sort function with empty input
  be/src/vec/functions/array/function_array_sort.h
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions_by_literal.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_by_literal.groovy
Labels: kind/test, area/array-type, area/vectorization, reviewed

#12231 [bugfix](index) index page should not be bitshuffle decoded
  be/src/olap/rowset/segment_v2/indexed_column_reader.cpp
  be/src/olap/rowset/segment_v2/indexed_column_reader.h
  be/src/olap/rowset/segment_v2/page_io.cpp
  be/src/olap/rowset/segment_v2/page_io.h
  regression-test/data/index_p0/test_decimal_bitmap_index_multi_page.out
  regression-test/suites/index_p0/load.groovy
  regression-test/suites/index_p0/test_decimal_bitmap_index_multi_page.groovy
Labels: kind/test, dev/1.1.2

#12242 [fix](dbt)fix dbt run abnormal
  extension/dbt-doris/dbt/include/doris/macros/materializations/incremental/incremental.sql
Labels: approved, reviewed

#12249 [fix](remote)Fix bug for Segment::open() in case: config::file_cache_type
  be/src/olap/rowset/segment_v2/segment.cpp
Labels: approved, reviewed

#12219 [feature](function) support now/current_timestamp functions with precision
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/vec/data_types/data_type_time_v2.cpp
  be/src/vec/functions/function_date_or_datetime_computation.cpp
  be/src/vec/functions/function_date_or_datetime_computation.h
  be/src/vec/runtime/vdatetime_value.cpp
  be/src/vec/runtime/vdatetime_value.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FoldConstantsRule.java
  gensrc/script/doris_builtins_functions.py
  gensrc/thrift/PaloInternalService.thrift
  regression-test/data/query_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/query_p0/sql_functions/datetime_functions/test_date_function.groovy
Labels: area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed

#12250 [enhancement](Nereids)ban groupPlan() pattern to avoid misuse
  fe/fe-core/src/main/java/org/apache/doris/nereids/pattern/generator/PatternGeneratorAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscom.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomProject.java
Labels: approved, reviewed, area/nereids

#12245 [fix](join) fix join reorder bug, pick from master
  fe/fe-core/src/main/java/org/apache/doris/analysis/FromClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
Labels: dev/merge-1.1.2

#12152 [fix](rpc) fix that coordinator rpc timeout too large may make show load blocked for long time
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  regression-test/suites/query_p0/sql_functions/window_functions/test_window_function.groovy
Labels: kind/fix, area/load, kind/test, area/rpc, reviewed, dev/1.1.2

#12258 [fix](emptynode)fix empty node bug in vec engine
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  regression-test/data/correctness_p0/test_outer_join_with_empty_node.out
  regression-test/suites/correctness_p0/test_outer_join_with_empty_node.groovy
Labels: area/planner, kind/test, reviewed

#12224 [fix](new-scan) fix potential wrong cancel when sql has limit
  be/src/common/config.h
  be/src/vec/exec/scan/scanner_scheduler.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/AdminCopyTabletStmt.java
Labels: area/planner, area/vectorization, reviewed

#12194 [enhancement](Nereids)enable normalize aggregate rule
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/RewriteJob.java
Labels: area/nereids

#12244 [typo](docs)Modify the maximum handle parameter reference
  docs/en/docs/install/install-deploy.md
Labels: kind/docs, approved, reviewed

#12229 [doc](website) update SHOW-PROC doc
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-FRONTENDS.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-PROC.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-FRONTENDS.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-PROC.md
Labels: kind/docs, approved, reviewed

#12269 [Enhancement](doc) :memo: fix create table doc typo
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
Labels: kind/docs, approved, reviewed

#12248 [docs]update users numbers
  README.md
  docs/en/docs/summary/basic-summary.md
  docs/zh-CN/docs/summary/basic-summary.md
Labels: kind/docs, approved, reviewed

#12144 [fix](doc) stream load 'format' parameter description
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
Labels: kind/docs, approved, reviewed

#12228 [feature-wip](parquet-reader) bug fix, the number of rows are different among columns in a block
  be/src/vec/exec/format/parquet/vparquet_column_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_column_reader.h
  be/src/vec/exec/format/parquet/vparquet_group_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#12291 [Fix](build) Fix build failed for dev-1.1.2
  be/src/olap/tablet_manager.cpp
Labels: approved, reviewed

#12292 [dev-1.1.2](parquet-reader) fix dead log of parquet reader prefetch thread
  be/src/exec/parquet_reader.cpp
  be/src/exec/parquet_reader.h
Labels: approved, dev/1.1.2

#12288 [typo](docs)Fix admin copy table format
  docs/en/docs/sql-manual/sql-reference/Database-Administration-Statements/ADMIN-COPY-TABLET.md
  docs/zh-CN/docs/sql-manual/sql-reference/Database-Administration-Statements/ADMIN-COPY-TABLET.md
Labels: kind/docs, approved, reviewed

#12259 [Enhancement](compaction) empty string optimize for binary dict code
  be/src/olap/compaction.cpp
  be/src/olap/rowset/segment_v2/binary_dict_page.cpp
  be/src/olap/rowset/segment_v2/binary_dict_page.h
Labels: approved, reviewed

#11646 [feature-wip](MTMV) Support creating materialized view for multiple tables
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateMultiTableMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVColumnItem.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVRefreshInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVRefreshIntervalTriggerInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVRefreshTriggerInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/MaterializedView.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTableFactory.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Table.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableIf.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateMultiTableMaterializedViewStmtTest.java
Labels: area/planner, approved, reviewed, area/multi-table-materialized-view

#12297 [typo](docs)Sidebar fix
  docs/sidebars.json
Labels: kind/docs, approved, reviewed

#12284 [chore](deps) strip debug info of thirdparty dependencies
  thirdparty/build-thirdparty.sh
Labels: area/dependency, kind/chore

#12304 [dev-1.1.2][chore] Update thirdparties to be same as master@08c5e0b1
  thirdparty/CHANGELOG.md
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/apache-arrow-7.0.0.patch
  thirdparty/patches/brpc-1.1.0-_dl_sym.patch
  thirdparty/patches/brpc-1.2.0.patch
  thirdparty/patches/opentelemetry-cpp-1.4.0.patch
  thirdparty/patches/vectorscan-5.4.7.patch
  thirdparty/vars.sh
Labels: dev/1.1.2

#11454 [feature](nereids) Convert subqueries into algebraic expressions and …
  fe/fe-core/src/main/java/org/apache/doris/nereids/CascadesContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/NereidsAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/ExpressionTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AdjustApplyFromCorrelatToUnCorrelatJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AnalyzeSubqueryRulesJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/ConvertApplyToJoinJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/RewriteJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/AnalyzeSubquery.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/Scope.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/implementation/LogicalAssertNumRowsToPhysicalAssertNumRows.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ApplyPullFilterOnAgg.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ApplyPullFilterOnProjectUnderAgg.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ExistsApplyToJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/InApplyToJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushApplyUnderFilter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushApplyUnderProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ScalarApplyToJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/JoinEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Alias.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/AssertNumRowsElement.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Exists.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/InSubquery.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/ListQuery.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/ScalarSubquery.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/SlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/SubqueryExpr.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/DefaultSubExprRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/ExpressionVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/PlanType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalApply.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalAssertNumRows.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalCorrelatedJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalAssertNumRows.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/visitor/PlanVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/Utils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/expressions/SubqueryTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/AnalyzeWhereSubqueryTest.java
  regression-test/suites/nereids_syntax_p0/sub_query_correlated.groovy
Labels: area/planner, kind/test, area/vectorization, area/nereids

#12264 [fix](doc)remove duplicate "comments"
  docs/en/community/how-to-contribute/how-to-contribute.md
Labels: kind/docs, approved, reviewed

#12287 [chore](log) add cluster and tag message to exception
  fe/fe-core/src/main/java/org/apache/doris/clone/BeLoadRebalancer.java
  fe/fe-core/src/main/java/org/apache/doris/clone/DiskRebalancer.java
  fe/fe-core/src/main/java/org/apache/doris/clone/TabletScheduler.java
Labels: approved, reviewed

#11101 [doc] fix some docs issue
  docs/en/community/developer-guide/be-vscode-dev.md
  docs/zh-CN/community/developer-guide/be-vscode-dev.md
Labels: kind/docs, approved, reviewed

#12314 [fix](outerjoin)the hash output slots should contain all slots from children for outer join
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
Labels: approved, reviewed, dev/1.1.2

#12300 [chore](docs)Add compile check for document format
  .github/workflows/build-extension.yml
Labels: approved, reviewed

#12271 [Enhancement](array-type) Support Floating/Decimal type for array aggregation functions
  be/src/vec/functions/array/function_array_aggregation.cpp
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/array_functions/test_array_aggregation_functions.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_aggregation_functions.groovy
Labels: kind/test, approved, area/sql/function, area/array-type, area/vectorization, reviewed

#12237 [Feature](array-type) Support is-null-predicate for array type
  be/src/exprs/is_null_predicate.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/IsNullPredicate.java
Labels: area/planner, approved, area/array-type, reviewed

#12207 [feature](nereids) add weekOfYear to support ssb-flat benchmark
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/WeekOfYear.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/TypeCoercionUtils.java
  regression-test/data/datatype_p0/date/test_weekofyear.out
  regression-test/suites/datatype_p0/date/test_weekofyear.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#12131 update data-model document problem
  docs/en/docs/data-table/data-model.md
  docs/zh-CN/docs/data-table/data-model.md
Labels: kind/docs, approved, reviewed

#12262 [fix](array-type) revert ARRAY<NOT_NULL(T)>
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ArrayLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ArrayType.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateTableTest.java
Labels: area/planner, approved, area/array-type, reviewed

#12318 [chore](docs)github workflow build docs check fix
  .github/workflows/build-extension.yml
Labels: approved, reviewed

#12320 [dev-1.1.2] Modify `exec_mem_limit` default value and mem limit exceed log printing
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/src/runtime/memory/mem_tracker_limiter.h
  be/src/runtime/runtime_state.cpp
  docs/en/administrator-guide/variables.md
  docs/en/extending-doris/logstash.md
  docs/en/getting-started/advance-usage.md
  docs/en/sql-reference/sql-statements/Data Manipulation/EXPORT.md
  docs/en/sql-reference/sql-statements/Data Manipulation/STREAM LOAD.md
  docs/zh-CN/administrator-guide/export-manual.md
  docs/zh-CN/administrator-guide/variables.md
  docs/zh-CN/extending-doris/logstash.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/BROKER LOAD.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/EXPORT.md
  docs/zh-CN/sql-reference/sql-statements/Data Manipulation/STREAM LOAD.md
  fe/fe-core/src/main/java/org/apache/doris/load/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: approved, reviewed

#12280 [fix](dbt)fix dbt incremental bug
  extension/dbt-doris/dbt/include/doris/macros/materializations/incremental/incremental.sql
Labels: reviewed

#12324 [Bug](function) disable LUT for yearweek
  be/src/vec/runtime/vdatetime_value.cpp
Labels: approved, area/vectorization, reviewed

#12319 [fix](compile)compile error when use clang on aarch64 platform
  be/src/geo/geo_types.cpp
  be/src/glibc-compatibility/memcpy/memcpy_aarch64.cpp
Labels: approved, reviewed

#12323 [typo](docs)The table_function calling reset() function should set _eos to false
  be/src/exprs/table_function/table_function.h
Labels: approved, reviewed

#12317 [typo](docs)Replace table link fix
  docs/en/docs/advanced/alter-table/replace-table.md
  docs/zh-CN/docs/advanced/alter-table/replace-table.md
Labels: kind/docs, approved, reviewed

#12309 [typo](docs) mix of SSD and HDD disks should specify the storage directory only
  docs/en/docs/admin-manual/config/be-config.md
  docs/en/docs/install/install-deploy.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/install/install-deploy.md
Labels: kind/docs, approved, reviewed

#12272 [enhancement](Nereids)print slot name in explain string
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotRef.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Database.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Table.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PlanTranslatorContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalRelation.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslatorTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/RewriteTopDownJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/AggregateDisassembleTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/FindHashConditionForJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/NormalizeAggregateTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushDownPredicateTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushDownPredicateThroughAggregationTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/stats/StatsCalculatorTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanEqualsTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanOutputTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanToStringTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/PlanConstructor.java
Labels: area/planner, approved, reviewed, area/nereids

#12310 [improvement](sink) avoid frequent allocation and deallocation when serializing block
  be/src/vec/core/block.cpp
  be/src/vec/core/block.h
  be/src/vec/sink/vdata_stream_sender.cpp
  be/src/vec/sink/vdata_stream_sender.h
Labels: area/vectorization

#12302 [Bug](load) fix missing nullable info in stream load
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
Labels: area/planner, area/vectorization, reviewed, dev/1.1.3

#12322 [feature-wip](array-type) Add some regression tests for nested array
  be/src/olap/rowset/beta_rowset_reader.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/ArrayLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
  regression-test/data/load/insert/test_insert_nested_array.out
  regression-test/suites/load/insert/test_insert_nested_array.groovy
Labels: area/planner, kind/test, approved, reviewed

#12347 [fix](nereids) bug: tpch-q12 meets "invalid PrimitiveType" error
  fe/fe-core/src/main/java/org/apache/doris/analysis/Predicate.java
Labels: area/planner

#12346 [fix](Nereids)get NPE and group not be optimized when add REWRITE rule to Cascades Optimizer
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/ApplyRuleJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RulePromise.java
Labels: area/nereids

#12332 [fix](memtracker) Fix the exceeded limit of the first query execution
  be/src/exec/olap_scan_node.cpp
  be/src/runtime/memory/mem_tracker_limiter.h
  be/src/vec/exec/volap_scan_node.cpp
Labels: area/memory-consumption, area/vectorization, reviewed, dev/1.1.2

#12311 [regression](load)split dataset to cover more situations
  regression-test/suites/ssb_sf1/load.groovy
  regression-test/suites/tpch_sf1_p1/load.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/load.groovy
Labels: kind/test

#12330 [doc](broker-load)About the modification of broker load specifying hdfs user name param…
  docs/en/docs/data-operate/import/import-way/broker-load-manual.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
  docs/zh-CN/docs/data-operate/import/import-way/broker-load-manual.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
Labels: kind/docs

#12350 [Bug](load) block call clear_column_data may have ref not equal 1
  be/src/vec/core/block.cpp
  be/src/vec/exec/vbroker_scan_node.cpp
Labels: approved, area/vectorization, reviewed

#12354 [enhancement](chore)add single space separator rule to fe check style
  fe/check/checkstyle/checkstyle.xml
  fe/check/checkstyle/suppressions.xml
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/ExpressionTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/pattern/generator/LogicalLeafPatternGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/pattern/generator/PatternGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/SimplifyNotExprRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeConsecutiveFilters.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/WeekOfYear.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/JoinUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/ExpressionRewriteTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/AnalyzeWhereSubqueryTest.java
Labels: approved, reviewed, area/nereids

#12327 [Doc](CTAS) Mod ut and doc, add key type desc.
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE-AS-SELECT.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE-AS-SELECT.md
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateTableAsSelectStmtTest.java
Labels: kind/docs, approved, reviewed

#12261 [fix](join) hash join should use children's output tuple ids instead of output tableref ids
  fe/fe-core/src/main/java/org/apache/doris/analysis/AggregateInfo.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  regression-test/suites/correctness_p0/test_outer_join_with_grouping.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q10.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q11.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q12.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q13.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q14.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q15.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q17.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q18.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q19.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q2.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q22.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q3.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q5.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q7.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q8.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q9.groovy
Labels: area/planner, kind/test

#11942 [Enhancement](restore) restore table or partition with the same replication num as before the backup
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/RESTORE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/RESTORE.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/RestoreStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowRestoreStmt.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupHandler.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/test/java/org/apache/doris/backup/RestoreJobTest.java
Labels: kind/docs, area/planner, reviewed, dev/1.1.2

#12341 [enhancement](array-type) Split Array Offsets and String Offsets
  be/src/vec/columns/column.h
  be/src/vec/columns/column_array.cpp
  be/src/vec/columns/column_array.h
  be/src/vec/columns/column_string.cpp
  be/src/vec/columns/columns_common.cpp
  be/src/vec/columns/columns_common.h
  be/src/vec/data_types/data_type_array.cpp
  be/src/vec/functions/array/function_array_aggregation.cpp
  be/src/vec/functions/array/function_array_distinct.h
  be/src/vec/functions/array/function_array_element.h
  be/src/vec/functions/array/function_array_index.h
  be/src/vec/functions/array/function_array_join.h
  be/src/vec/functions/array/function_array_remove.h
  be/src/vec/functions/array/function_array_reverse.h
  be/src/vec/functions/array/function_array_sort.h
  be/src/vec/functions/array/function_array_utils.h
  be/src/vec/functions/function_string.h
  be/test/vec/core/block_test.cpp
  be/test/vec/core/column_array_test.cpp
  be/test/vec/utils/arrow_column_to_doris_column_test.cpp
Labels: area/sql/function, area/array-type, area/vectorization

#12345 [fix](nereids) fix dead loop in unnesting subquery rule
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ApplyPullFilterOnAgg.java
Labels: area/nereids

#12294 [feature-wip](parquet-reader) bug fix, get the correct group reader
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.h
Labels: area/vectorization

#12372 [test](nereids) add subquery regression Testing
  regression-test/data/nereids_syntax_p0/sub_query_correlated.out
  regression-test/suites/nereids_syntax_p0/sub_query_correlated.groovy
Labels: kind/test

#12342 [docs](spark-load) set hadoop env
  docs/en/docs/data-operate/import/import-way/spark-load-manual.md
  docs/zh-CN/docs/data-operate/import/import-way/spark-load-manual.md
Labels: kind/docs, approved, reviewed

#12382 [DOCS](function) Add docs for new time functions
  docs/en/docs/sql-manual/sql-functions/date-time-functions/current_timestamp.md
  docs/en/docs/sql-manual/sql-functions/date-time-functions/now.md
  docs/zh-CN/docs/sql-manual/sql-functions/date-time-functions/current_timestamp.md
  docs/zh-CN/docs/sql-manual/sql-functions/date-time-functions/now.md
Labels: kind/docs, approved, reviewed

#12376 [typo](docs)Sql blacklist documentation fix
  docs/en/docs/admin-manual/sql-interception.md
  docs/en/docs/data-operate/import/import-way/stream-load-manual.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-SQL-BLOCK-RULE.md
  docs/zh-CN/docs/admin-manual/sql-interception.md
  docs/zh-CN/docs/data-operate/import/import-way/stream-load-manual.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-SQL-BLOCK-RULE.md
Labels: kind/docs, approved, reviewed

#12283 [fix](array-type) add data valid check for ARRAY type while insert or load
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/olap/row_block2.cpp
  be/src/runtime/types.cpp
  be/src/vec/sink/vtablet_sink.cpp
  be/src/vec/sink/vtablet_sink.h
  regression-test/data/load/insert/test_array_string_insert.out
  regression-test/suites/load/insert/test_array_insert.groovy
  regression-test/suites/load/insert/test_array_string_insert.groovy
  regression-test/suites/load_p0/broker_load/test_array_load.groovy
Labels: kind/test, area/array-type, area/vectorization

#12358 [enhancement](explain)add projections and output id in explain string
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanNode.java
  regression-test/suites/nereids_syntax_p0/explain.groovy
Labels: area/planner, kind/test

#12393 [fix](nereids) NormalizeAggregate rule cause FE inifite loop
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalAggregate.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanEqualsTest.java
Labels: area/nereids

#12395 [fix](exec-node) fix nullptr of runtime state
  be/src/exec/es_http_scan_node.cpp
  be/src/exec/exec_node.h
  be/src/vec/exec/ves_http_scan_node.cpp
Labels: kind/fix, approved, area/vectorization, reviewed

#12377 [Enhancement](docker): Add elasticsearch docker file
  docker/thirdparties/docker-compose/elasticsearch.yaml
  docker/thirdparties/start-thirdparties-docker.sh
Labels: approved, reviewed

#12240 [enhancement](test) add some p0 cases
  regression-test/data/correctness_p0/test_char_implicit_cast.out
  regression-test/data/correctness_p0/test_lag_lead_window.out
  regression-test/data/correctness_p0/test_outer_join_with_window_function.out
  regression-test/data/correctness_p0/test_select_constant.out
  regression-test/data/correctness_p0/test_select_stddev_variance_window.out
  regression-test/data/correctness_p0/test_select_with_predicate_like.out
  regression-test/data/correctness_p0/test_stddev_variance_window.csv
  regression-test/data/query_p0/sql_functions/convertion_functions/sql/castAccessible.out
  regression-test/data/query_p0/sql_functions/horology_functions/sql/dateTimeOperatorsAccessible.out
  regression-test/data/query_p0/sql_functions/horology_functions/sql/extractAccessible.out
  regression-test/data/rollup_p0/test_materialized_view.out
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/suites/correctness_p0/test_char_implicit_cast.groovy
  regression-test/suites/correctness_p0/test_lag_lead_window.groovy
  regression-test/suites/correctness_p0/test_outer_join_with_window_function.groovy
  regression-test/suites/correctness_p0/test_select_constant.groovy
  regression-test/suites/correctness_p0/test_select_stddev_variance_window.groovy
  regression-test/suites/correctness_p0/test_select_with_predicate_like.groovy
  regression-test/suites/query_p0/sql_functions/convertion_functions/sql/castAccessible.sql
  regression-test/suites/query_p0/sql_functions/horology_functions/sql/atTimeZoneAccessible.sql
  regression-test/suites/query_p0/sql_functions/horology_functions/sql/dateTimeOperatorsAccessible.sql
  regression-test/suites/query_p0/sql_functions/horology_functions/sql/extractAccessible.sql
  regression-test/suites/rollup_p0/test_materialized_view.groovy
Labels: kind/test, approved, reviewed

#12379 [Improvement](vectorized) change `static_cast` to `assert_cast` for reference
  be/src/vec/columns/column_complex.h
  be/src/vec/columns/column_decimal.cpp
  be/src/vec/columns/column_decimal.h
  be/src/vec/columns/column_fixed_length_object.h
  be/src/vec/columns/column_vector.cpp
  be/src/vec/columns/column_vector.h
Labels: approved, area/vectorization, reviewed

#12129 [feature-wip](nereids) Support having clause
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AnalyzeRulesJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/ResolveHaving.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/ExpressionReplacer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/PlanType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalHaving.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/visitor/PlanVisitor.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/HavingClauseTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/TestWithFeService.java
  regression-test/data/nereids_syntax_p0/having.out
  regression-test/suites/nereids_syntax_p0/having.groovy
Labels: kind/test, approved, reviewed, area/nereids

#12265 [Enhancement](regression) add regression tests for `executeSQL` http rest api
  regression-test/suites/http_rest_api/post/test_query_stmt.groovy
Labels: kind/test

#12394 [Enhancement](sparkload) cast the src slot types of bitmap columns to bitmap in spark load
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/SparkLoadJob.java
Labels: area/load, approved, area/spark-load, reviewed

#12388 [fix](regression p0) fix regression p0 test qt_window_hang2 always failed because of timeout
  regression-test/suites/query_p0/sql_functions/window_functions/test_window_function.groovy
Labels: kind/test, approved, reviewed

#12385 [chore](profile) add some counters in aggregatation & sender
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vaggregation_node.h
  be/src/vec/sink/vdata_stream_sender.cpp
  be/src/vec/sink/vdata_stream_sender.h
Labels: approved, area/vectorization, reviewed

#12371 [chore](ut) enable asan core dump when running be ut
  run-be-ut.sh
Labels: approved, reviewed

#12360 [Enhancement](log) improve error msg for delta writer fail (#12121)
  be/src/runtime/tablets_channel.cpp
Labels: reviewed

#12357 [Bug](remote) Fix BE crash because of call the future's get method twice
  be/src/io/cache/sub_file_cache.cpp
  be/src/io/cache/whole_file_cache.cpp
Labels: approved, reviewed

#12334 [Opt](vectorized) speed up hash function compute in hash partition
  be/src/vec/columns/column.h
  be/src/vec/columns/column_array.cpp
  be/src/vec/columns/column_array.h
  be/src/vec/columns/column_complex.h
  be/src/vec/columns/column_const.cpp
  be/src/vec/columns/column_const.h
  be/src/vec/columns/column_decimal.cpp
  be/src/vec/columns/column_decimal.h
  be/src/vec/columns/column_dummy.h
  be/src/vec/columns/column_nullable.cpp
  be/src/vec/columns/column_nullable.h
  be/src/vec/columns/column_string.h
  be/src/vec/columns/column_vector.cpp
  be/src/vec/columns/column_vector.h
  be/src/vec/exprs/vruntimefilter_wrapper.cpp
  be/src/vec/sink/vdata_stream_sender.cpp
Labels: area/vectorization, reviewed

#12010 [Feature](Vectorized) support jdbc scan node
  be/src/exec/exec_node.cpp
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/user_function_cache.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/vjdbc_connector.cpp
  be/src/vec/exec/vjdbc_connector.h
  be/src/vec/exec/vjdbc_scan_node.cpp
  be/src/vec/exec/vjdbc_scan_node.h
  docs/en/docs/ecosystem/external-table/jdbc-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/jdbc-of-doris.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Resource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ResourceMgr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Table.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableIf.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/org/apache/doris/planner/JdbcScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OdbcScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticalType.java
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/PlanNodes.thrift
  gensrc/thrift/Types.thrift
Labels: kind/docs, area/planner, area/vectorization

#12336 [Improvement](sort) Accumulate blocks to do partial sort
  be/src/vec/exec/vsort_node.cpp
  be/src/vec/exec/vsort_node.h
  regression-test/data/query_p0/sql_functions/window_functions/test_window_function.out
  regression-test/suites/query_p0/sql_functions/window_functions/test_window_function.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#12391 [fix](Nereids)plan translator lost other conjuncts on hash join node
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  regression-test/data/nereids_syntax_p0/join.out
  regression-test/suites/nereids_syntax_p0/join.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#12374 [feature](Nereids) let nullable of Year, weekOfYear and Divide be the same as implementation in BE
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Divide.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/WeekOfYear.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/Year.java
Labels: approved, reviewed, area/nereids

#12356 [Refactor](Nereids) Simplify get input and output slots for plan/expression.
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/UnboundLogicalProperties.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/AnalyzeSubquery.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/AggregateDisassemble.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/AbstractPushDownProjectRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MultiJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/NormalizeAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneAggChildColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneFilterChildColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneJoinChildrenColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneOlapScanPartition.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneSortChildColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushPredicateThroughAggregation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushPredicateThroughJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/JoinEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/TreeNode.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Expression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/AbstractPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/Plan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/AbstractLogicalPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalApply.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalAssertNumRows.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalBinary.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalFilter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalHaving.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalLeaf.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalLimit.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalSelectHint.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalSort.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalSubQueryAlias.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalTopN.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalUnary.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/AbstractPhysicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/AbstractPhysicalPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalAssertNumRows.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalDistribute.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalFilter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalHashJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalLimit.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalLocalQuickSort.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalNestedLoopJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalQuickSort.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalTopN.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/ExpressionUtils.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/JoinUtils.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/SlotExtractor.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/RewriteTopDownJobTest.java
Labels: area/nereids

#12321 [Function](ELT)Add elt function for doris
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/vec/functions/function_string.cpp
  be/src/vec/functions/function_string.h
  be/test/exprs/string_functions_test.cpp
  be/test/vec/function/function_string_test.cpp
  docs/en/docs/sql-manual/sql-functions/string-functions/elt.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/elt.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function.groovy
Labels: kind/docs, kind/test, approved, area/sql/function, area/vectorization, reviewed

#12396 [fix](Nereids)lowest cost plan map do not be merged when do group merge
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Group.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/memo/MemoCopyInTest.java
Labels: area/nereids

#12276 [enhancement](spark-load)support dynamic set env
  fe/fe-core/src/main/java/org/apache/doris/catalog/SparkResource.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/SparkEtlJobHandler.java
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/SparkLoadJobTest.java
Labels: area/load, area/spark-load, reviewed

#12353 [fix](array-type) ARRAY is not supported in bloomfilter index
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
  regression-test/suites/bloom_filter_p0/test_bloom_filter.groovy
Labels: kind/test, area/array-type

#12406 [Doc](balance)add replica balance speed param
  docs/en/docs/admin-manual/maint-monitor/tablet-repair-and-balance.md
  docs/zh-CN/docs/admin-manual/maint-monitor/tablet-repair-and-balance.md
Labels: kind/docs

#12423 [fix](nereids) cast left child of TimestampArithmetic to wrong type in BindFunction
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/TimestampArithmetic.java
Labels: approved, reviewed, area/nereids

#12362 [Bug](NodeChannel) Fix OOM caused by pending queue in sink send (#12359)
  be/src/common/config.h
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/vec/sink/vtablet_sink.cpp
Labels: area/vectorization, reviewed, dev/1.1.2

#12392 [dev-1.1.2][fix] avoid thread blocks on wait_for_start()
  be/src/common/config.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/plan_fragment_executor.h
  be/src/runtime/query_fragments_ctx.h
  be/src/util/doris_metrics.h
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/sink/vdata_stream_sender.h
Labels: dev/1.1.2

#12408 [Bug](doe) fix closing scanner twice
  be/src/vec/exec/ves_http_scanner.cpp
  be/src/vec/exec/ves_http_scanner.h
Labels: kind/fix, area/vectorization

#12375 [FOLLOWUP](load) fix nullable and add regression
  .licenserc.yaml
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadingTaskPlanner.java
  regression-test/data/load_p0/stream_load/load_nullable_to_not_nullable.out
  regression-test/suites/load_p0/stream_load/data/test_time.data
  regression-test/suites/load_p0/stream_load/load_nullable_to_not_nullable.groovy
Labels: area/load, kind/test, approved, reviewed

#12436 [enhancement](tcmalloc) add aggressive_memory_decommit conf and make …
  be/src/common/config.h
  be/src/runtime/bufferpool/system_allocator.cc
  be/src/service/doris_main.cpp
Labels: approved, reviewed, dev/1.1.2

#12415 [bugfix](report) fix bug in continuous version miss check
  be/src/olap/tablet.cpp
Labels: approved, reviewed, dev/1.1.2

#12442 [refactor](shuffle) remove unused code
  be/src/vec/sink/vdata_stream_sender.cpp
  be/src/vec/sink/vdata_stream_sender.h
Labels: approved, area/vectorization, reviewed

#12405 [fix](memtracker) fix memtracker did not subtract the memory released by load channel c…
  be/src/olap/delta_writer.cpp
Labels: approved, reviewed, dev/1.1.2

#12422 [feature-wip](parquet-reader) bug fix, create compress codec before parsing dictionary
  be/src/vec/exec/file_hdfs_scanner.cpp
  be/src/vec/exec/file_hdfs_scanner.h
  be/src/vec/exec/format/parquet/parquet_common.cpp
  be/src/vec/exec/format/parquet/parquet_common.h
  be/src/vec/exec/format/parquet/vparquet_column_chunk_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_page_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_page_reader.h
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#12446 [fix](Nereids) throw IndexOutOfBoundsException in DistributionSpecHash#equalsSatisfy
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpecHash.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/properties/DistributionSpecHashTest.java
Labels: approved, reviewed, area/nereids

#12434 [enhancement](generic_iterator) fix num check and add some notes
  be/src/vec/olap/vgeneric_iterators.cpp
Labels: approved, area/vectorization, reviewed

#12455 [typo](docs) INSERT documentation fix
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/INSERT.md
Labels: kind/docs, approved, reviewed

#12432 [Bug](remote) Fix the judgment logic of cache cleaner
  be/src/io/cache/file_cache_manager.cpp
Labels: approved, reviewed

#12459 use pooled stub to call rpc on be instead of one stub
  fe/fe-core/src/main/java/org/apache/doris/rpc/BackendServiceClient.java
  fe/fe-core/src/main/java/org/apache/doris/rpc/BackendServiceProxy.java
Labels: dev/1.1.2

#12458 (brpc) using pooled connection and enlarge brpc connection timeout an…
  be/src/util/brpc_client_cache.h
  be/src/vec/sink/vdata_stream_sender.h
Labels: dev/1.1.2

#12451 [enhancement](tcmalloc) add tcmalloc aggressive_memory_decommit conf
  be/src/common/config.h
  be/src/service/doris_main.cpp
Labels: approved, reviewed, dev/1.1.2

#10443 using pooled connection and enlarge brpc connection timeout and retry…
  be/src/util/brpc_client_cache.h
  be/src/vec/sink/vdata_stream_sender.h
Labels: area/vectorization, reviewed, dev/merge-1.1.2

#12378 [enhancement](array-type) avoid abuse of Offset and Offset64
  be/src/vec/columns/column.h
  be/src/vec/columns/column_array.cpp
  be/src/vec/columns/column_array.h
  be/src/vec/columns/columns_common.cpp
  be/src/vec/data_types/data_type_array.cpp
  be/test/vec/core/block_test.cpp
  be/test/vec/core/column_array_test.cpp
  be/test/vec/utils/arrow_column_to_doris_column_test.cpp
Labels: approved, area/array-type, area/vectorization, reviewed

#12313 [fix](grouping sets) columns in grouping sets should not be in selectstmt‘s AggFunc
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/suites/query_p0/grouping_sets/test_grouping_sets.groovy
Labels: kind/fix, area/planner, kind/test, reviewed, dev/1.1.3

#11999 [Enhancement](Error Msg) show details of COLUMN and TABLE name regex
  fe/fe-core/src/main/java/org/apache/doris/analysis/AddRollupClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyzeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropColumnClause.java
  fe/fe-core/src/main/java/org/apache/doris/common/ErrorCode.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeNameFormat.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/PartitionsProcDir.java
Labels: area/planner, approved, reviewed

#12095 [fix](planner) fix orthogonal_bitmap_union_count plan : wrong PREAGGREGATION
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
Labels: area/planner, dev/1.1.2

#12417 [docs](quick-compaction) enable quick compaction by default
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#12437 [fix](agg) crash caused by failure of prepare
  be/src/vec/exec/vaggregation_node.cpp
Labels: area/vectorization

#12439 [feature](Nereids): Left deep tree join order.
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinCommute.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinCommuteProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscom.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinReorderCommon.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinReorderContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/ThreeJoinHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/ExpressionUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/JoinCommuteTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomProjectTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/PlanChecker.java
Labels: area/nereids

#12444 [enhancement](nereids) add syntax support for fractional literal
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisLexer.g4
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/NereidsParserTest.java
Labels: area/nereids

#11702 [feature](function)Support function "current_date" in FE
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FEFunctions.java
  fe/fe-core/src/test/java/org/apache/doris/planner/ConstantExpressTest.java
Labels: area/sql/function

#12460 [fix](stream load) Fix wrong conversion of null value when vstream load json format
  be/src/vec/exec/vjson_scanner.cpp
Labels: approved, area/vectorization, reviewed

#12469 [improve](Nereids): check same logicalProperty when insert a Group.
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/memo/MemoCopyInTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/PlanChecker.java
Labels: area/nereids

#12495 [improvment](planner) unset common fields to reduce plan thrift size
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExprSubstitutionMap.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: kind/improvement, area/planner, approved, reviewed, dev/1.1.2

#12485 [fix](vectorized load) fix incomplete errmsg when find partition failed [#12484]
  be/src/vec/sink/vtablet_sink.cpp
Labels: approved, area/vectorization, reviewed, dev/1.1.2

#12473 [fix](doc) remove the ambiguity in the description of the operating instructions document
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/DELETE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/DELETE.md
Labels: kind/docs, approved, reviewed

#12493 [doc](performance) performance doc and script update
  docs/en/docs/benchmark/ssb.md
  docs/en/docs/benchmark/tpch.md
  docs/zh-CN/docs/benchmark/ssb.md
  docs/zh-CN/docs/benchmark/tpch.md
  tools/ssb-tools/bin/gen-ssb-data.sh
  tools/ssb-tools/bin/run-ssb-flat-queries.sh
  tools/ssb-tools/bin/run-ssb-queries.sh
  tools/tpch-tools/bin/run-tpch-queries.sh
Labels: kind/docs, approved, reviewed

#12487 [bugfix](odbc) escape identifiers for sqlserver and postgresql
  fe/fe-core/src/main/java/org/apache/doris/catalog/OdbcTable.java
Labels: kind/fix, approved, area/odbc, reviewed, kind/need-regression-test, dev/1.1.3

#12477 [feature-wip](parquet-reader) bug fix, footer buffer is small when reading many columns
  be/src/vec/exec/format/parquet/parquet_thrift_util.h
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#12438 [improvement](error info)improve the s3 path err msg
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExportStmt.java
Labels: area/planner

#12281 [feature-wip](new-scan) Add memtracker and span for new olap scan node
  be/src/util/CMakeLists.txt
  be/src/util/telemetry/open_telemetry_scop_wrapper.hpp
  be/src/util/telemetry/telemetry.h
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/scan/scanner_context.h
  be/src/vec/exec/scan/scanner_scheduler.cpp
  be/src/vec/exec/scan/vscan_node.cpp
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#12486 [fix](Nereids) column prune generate empty project list on join's child
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneAggChildColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneJoinChildrenColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushPredicateThroughJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/ExpressionUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/ColumnPruningTest.java
Labels: approved, reviewed, area/nereids

#12463 [Enhancement](array-type) Add readable information in subquery for array type
  fe/fe-core/src/main/java/org/apache/doris/analysis/Subquery.java
Labels: area/planner, approved, area/array-type, reviewed

#12474 [regression](array-type) add some case for array insert
  regression-test/data/load/insert/test_array_insert.out
  regression-test/suites/load/insert/test_array_insert.groovy
Labels: kind/test, approved, area/array-type, reviewed

#12494 [fix](Nereids) subquery predicate's slot appears in having's output by mistake
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/ResolveHaving.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/HavingClauseTest.java
Labels: approved, reviewed, area/nereids

#12349 [Improvement](sort) improve partial sort algorithm
  be/src/util/simd/bits.h
  be/src/vec/columns/column.cpp
  be/src/vec/columns/column.h
  be/src/vec/columns/column_decimal.cpp
  be/src/vec/columns/column_decimal.h
  be/src/vec/columns/column_nullable.cpp
  be/src/vec/columns/column_nullable.h
  be/src/vec/columns/column_string.cpp
  be/src/vec/columns/column_string.h
  be/src/vec/columns/column_vector.cpp
  be/src/vec/columns/column_vector.h
  be/src/vec/core/sort_block.cpp
  be/src/vec/core/sort_block.h
  be/src/vec/exec/vsort_node.cpp
  be/src/vec/exec/vsort_node.h
Labels: approved, area/vectorization, reviewed

#12497 [improve](Nereids): add optionalAnd to refactor code.
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/ExpressionTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpec.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinCommute.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinReorderCommon.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ApplyPullFilterOnAgg.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/FindHashConditionForJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeConsecutiveFilters.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeConsecutiveLimits.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MultiJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushApplyUnderFilter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushPredicateThroughAggregation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushPredicateThroughJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/AbstractPhysicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/ExpressionUtils.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/PlanUtils.java
Labels: area/nereids

#12364 [feature-wip](unique-key-merge-on-write) update delete bitmap when increamental clone
  be/src/olap/memtable.cpp
  be/src/olap/rowset/rowset_tree.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/task/engine_clone_task.cpp
Labels: reviewed

#12421 [fix](nereids) fix uncorrelated subquery can't get the correct result
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PlanTranslatorContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/InApplyToJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ScalarApplyToJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/AssertNumRowsElement.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalAssertNumRows.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AssertNumRowsNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/CrossJoinNode.java
  regression-test/data/nereids_syntax_p0/sub_query_correlated.out
  regression-test/suites/nereids_syntax_p0/sub_query_correlated.groovy
Labels: area/planner, kind/test, area/nereids

#12464 [Feature](Nereids) Main framework for selecting rollup index.
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/LogicalPlanAdapter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/RewriteJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/ResolveHaving.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/mv/SelectRollup.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/AggregateDisassemble.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/NormalizeAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/SwapFilterAndProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/ExpressionReplacer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/algebra/Filter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/algebra/Project.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/ExpressionUtils.java
  fe/fe-core/src/main/java/org/apache/doris/planner/MaterializedViewSelector.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslatorTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/mv/SelectRollupTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanToStringTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/PlanChecker.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/PlanConstructor.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/TestWithFeService.java
  regression-test/data/nereids_syntax_p0/rollup.out
  regression-test/suites/nereids_syntax_p0/rollup.groovy
Labels: area/planner, kind/test, area/nereids

#12482 [enhancement](Nereids) add type coercion between decimal and integral
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/TypeCoercionUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/TypeCoercionTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/TypeCoercionUtilsTest.java
Labels: reviewed, area/nereids

#12517 [fix](regression-test) Remove some regression cases for nereids temporarily which blocked the pipeline
  regression-test/data/nereids_syntax_p0/sub_query_correlated.out
  regression-test/suites/nereids_syntax_p0/sub_query_correlated.groovy
Labels: kind/fix, kind/test, area/nereids

#12418 [fix](profile) fix query instance profile may be lost.
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: approved, reviewed

#12516 [Enhancement](ChunkAllocator) Constructor of singleton class should be private
  be/src/runtime/memory/chunk_allocator.h
Labels: approved, reviewed

#12491 [improvement](new-scan) avoid too many scanner context scheduling
  be/src/vec/exec/scan/scanner_context.cpp
  be/src/vec/exec/scan/scanner_context.h
  be/src/vec/exec/scan/scanner_scheduler.cpp
  regression-test/suites/rollup/test_materialized_view_date.groovy
Labels: kind/improvement, kind/test, area/vectorization, reviewed, area/multi-catalog

#12499 [Doc](Streamload) update streamload default timeout
  docs/en/docs/data-operate/import/import-way/stream-load-manual.md
  docs/zh-CN/docs/data-operate/import/import-way/stream-load-manual.md
Labels: kind/docs, approved, reviewed

#12504 [fix](array-type) support to export the array type to hdfs
  be/src/runtime/export_sink.cpp
  regression-test/suites/export/test_array_export.groovy
Labels: kind/test, approved, area/array-type, reviewed
