Repository apache/doris, pull requests merged in 2022-05, with the labels that each got.

#8860 [feature-wip](statistics) step3: schedule the statistics tasks and update relevant info
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterTableStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowTableStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStats.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/Statistics.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsTaskResult.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsTaskScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatsType.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/TableStats.java
Labels: kind/feature, kind/docs, area/planner, approved, area/sql/function, area/vectorization, reviewed, area/statistics, dev/backlog

#9337 [doc] fix compile guide on ubuntu
  docs/en/install/source-install/compilation.md
Labels: kind/docs, approved, reviewed

#9263 [Doc]: add error doc for action_table.dat
  docs/en/faq/install-faq.md
  docs/zh-CN/faq/install-faq.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9316 [Doc] Add Flink Connector Sink Bitmap Type Doc
  docs/en/ecosystem/flink-doris-connector.md
  docs/zh-CN/ecosystem/flink-doris-connector.md
Labels: kind/docs, approved, reviewed

#9319 [Doc] update doris manager doc
  docs/en/ecosystem/doris-manager/compiling-deploying.md
  docs/en/ecosystem/doris-manager/space-list.md
  docs/zh-CN/ecosystem/doris-manager/compiling-deploying.md
  docs/zh-CN/ecosystem/doris-manager/space-list.md
Labels: kind/docs, approved, reviewed

#9339 [fix](truncate) fix bug that truncate partition throw NPE
  .gitignore
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/CaseSensibility.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/TruncateTableTest.java
  fe/fe-core/src/test/resources/help-resource.zip
Labels: kind/fix, area/catalog, approved, reviewed, dev/1.0.1

#9182 FIX: en doc edit link 404
  docs/.vuepress/config.js
Labels: approved, reviewed, dev/backlog, kind/check-failed

#9212 [Bug] [Lateral-View] fix outer combinator not work on non-vectorized
  be/src/exec/table_function_node.cpp
  be/src/exec/table_function_node.h
  be/src/vec/exec/vtable_function_node.cpp
  be/src/vec/exec/vtable_function_node.h
  be/src/vec/functions/function_fake.cpp
  be/src/vec/functions/function_fake.h
  be/src/vec/functions/simple_function_factory.h
  regression-test/data/query/sql_functions/table_function/explode_json_array.out
Labels: kind/fix, area/sql/function, area/vectorization, reviewed, dev/1.0.1

#9323 [Bug] [Build] fix clang build fail
  be/src/exec/broker_scan_node.h
  be/src/exec/broker_scanner.h
Labels: approved, area/vectorization, reviewed

#9344 [BUG] fix bug for vectorized compaction
  be/src/common/config.h
  be/src/olap/compaction.cpp
  be/src/olap/merger.cpp
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/vec/olap/block_reader.cpp
Labels: approved, area/vectorization, reviewed, dev/backlog

#9266 [fix](catalog) fix bug that replica missing version cause query -214 error
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Replica.java
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/fe-core/src/main/java/org/apache/doris/persist/BackendReplicasInfo.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/PublishVersionDaemon.java
  fe/fe-core/src/test/java/org/apache/doris/persist/BackendReplicaInfosTest.java
  fe/fe-core/src/test/java/org/apache/doris/transaction/GlobalTransactionMgrTest.java
Labels: kind/fix, area/catalog, approved, reviewed, dev/1.0.1

#9321 [doc] Update sequence-column-manual.md
  docs/en/data-operate/update-delete/sequence-column-manual.md
  docs/zh-CN/data-operate/update-delete/sequence-column-manual.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9338 [fix] handle merge in window_funnel_init and add test
  be/src/exprs/aggregate_functions.cpp
  regression-test/data/query/aggregate/window_funnel.out
  regression-test/suites/query/aggregate/window_funnel.groovy
Labels: kind/test, approved, reviewed, dev/1.0.1

#9347 [DOCS] Remove deprecated config and add new config
  docs/en/admin-manual/config/be-config.md
  docs/zh-CN/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9349 [Doc] Implement java-format-code.md for IDEA
  docs/en/developer-guide/java-format-code.md
  docs/zh-CN/developer-guide/java-format-code.md
Labels: kind/docs, approved, reviewed

#9352 [typo]getting started doc
  docs/en/get-starting/get-starting.md
  docs/zh-CN/get-starting/get-starting.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9248 [Refactor] Forbidden rowset v1
  be/src/olap/storage_engine.cpp
  docs/en/admin-manual/config/fe-config.md
  docs/zh-CN/admin-manual/config/fe-config.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableProperty.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/system/HeartbeatFlags.java
  fe/fe-core/src/main/java/org/apache/doris/task/AgentBatchTask.java
  fe/fe-core/src/main/java/org/apache/doris/task/CreateReplicaTask.java
  fe/fe-core/src/main/java/org/apache/doris/task/CreateRollupTask.java
  fe/fe-core/src/main/java/org/apache/doris/task/SchemaChangeTask.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterJobV2Test.java
  fe/fe-core/src/test/java/org/apache/doris/task/AgentTaskTest.java
Labels: kind/docs, area/storage, approved, kind/refactor, reviewed, dev/backlog

#9324 [fix][doc]add design doc
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/design/Flink doris connector Design.md
  docs/en/design/doris_storage_optimization.md
  docs/en/design/grouping_sets_design.md
  docs/en/design/metadata-design.md
  docs/zh-CN/design/doris_storage_optimization.md
  docs/zh-CN/design/flink_doris_connector_design.md
  docs/zh-CN/design/grouping_sets_design.md
  docs/zh-CN/design/metadata-design.md
  docs/zh-CN/design/spark_load.md
Labels: kind/docs, approved, reviewed

#9315 [Vectorized][Bug-Fix] Fix bug of outer join with delete column
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  regression-test/data/query/join/sql/test_outer_join_with_delete_column.out
  regression-test/suites/query/join/ddl/table_1.sql
  regression-test/suites/query/join/ddl/table_2.sql
  regression-test/suites/query/join/load.groovy
  regression-test/suites/query/join/sql/test_outer_join_with_delete_column.sql
Labels: area/planner, kind/test, reviewed, dev/1.0.1, kind/check-failed

#9096 [Enhancement](regression-test) support exclude suite/group/directory
  docs/zh-CN/developer-guide/regression-testing.md
  regression-test/conf/regression-conf.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/Config.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/ConfigOptions.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/RegressionTest.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/ScriptSource.groovy
  run-regression-test.sh
Labels: kind/docs, kind/test, approved, reviewed, dev/backlog, kind/check-failed

#9336 set name for scanner threads and fix compile error in clang
  be/src/exec/base_scanner.h
  be/src/exec/broker_scan_node.cpp
  be/src/exec/broker_scanner.h
  be/src/exec/olap_scan_node.cpp
  be/src/util/thread.cpp
  be/src/util/thread.h
  be/src/vec/exec/vbroker_scan_node.cpp
  be/src/vec/exec/vbroker_scan_node.h
  be/src/vec/exec/vbroker_scanner.h
Labels: approved, area/vectorization, reviewed

#9354 [Bug] [Memtracker] DCHECK failed in vetorized exec engine fold constant execute
  be/src/runtime/fold_constant_executor.cpp
Labels: kind/fix, approved, reviewed, dev/backlog

#9356 [docs] Fix some typos in documentation.
  docs/en/community/how-to-contribute/how-to-contribute.md
  docs/en/data-table/index/bloomfilter.md
  docs/zh-CN/community/how-to-contribute/how-to-contribute.md
Labels: kind/docs, approved, reviewed

#9357 [fix]Add http header size parameter
  docs/en/admin-manual/config/fe-config.md
  docs/zh-CN/admin-manual/config/fe-config.md
  fe/fe-core/src/main/java/org/apache/doris/PaloFe.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/HttpServer.java
Labels: kind/docs, approved, area/httpv2, reviewed, dev/1.0.1

#9361 [doc]update member.md
  docs/zh-CN/community/team.md
Labels: kind/docs, approved, reviewed

#9364 [fixbug][catalog] catalog could not load from image
  fe/fe-core/src/main/java/org/apache/doris/alter/AlterJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
Labels: kind/fix, approved, reviewed, area/metadata, dev/1.0.1

#9142 [fix](backup) Remove colocate_with property when backing up a table
  docs/en/admin-manual/data-admin/backup.md
  docs/zh-CN/admin-manual/data-admin/backup.md
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableProperty.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/OlapTableTest.java
Labels: kind/fix, kind/docs, kind/api-change, area/colocated, approved, area/backup, reviewed, dev/1.0.1

#9198 [enhancement] (odbc) support more ODBC Connection Parameters for odbc external table
  docs/en/ecosystem/external-table/odbc-of-doris.md
  docs/en/faq/install-faq.md
  docs/en/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-RESOURCE.md
  docs/zh-CN/ecosystem/external-table/odbc-of-doris.md
  docs/zh-CN/faq/install-faq.md
  docs/zh-CN/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-RESOURCE.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/MysqlTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OdbcCatalogResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OdbcTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Resource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/S3Resource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/SparkResource.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/OdbcCatalogResourceTest.java
Labels: kind/fix, kind/docs, approved, area/odbc, reviewed

#9294 [Enhancement](regression-test) Support suite plugin to add third-part…
  docs/zh-CN/developer-guide/regression-testing.md
  regression-test/conf/regression-conf.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/Config.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/ConfigOptions.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/RegressionTest.groovy
  regression-test/plugins/plugin_example.groovy
  regression-test/suites/demo/test_plugin.groovy
Labels: kind/docs, kind/test, approved, reviewed

#9320 [doc][community] add more collaborator and modify documents
  .asf.yaml
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/community/how-to-contribute/contributor-guide.md
  docs/en/community/how-to-contribute/how-to-be-a-committer.md
  docs/en/developer-guide/cpp-format-code.md
  docs/zh-CN/community/how-to-contribute/contributor-guide.md
  docs/zh-CN/community/how-to-contribute/how-to-be-a-committer.md
  docs/zh-CN/developer-guide/cpp-format-code.md
Labels: kind/community, kind/docs, approved, reviewed, dev/backlog

#9341 [doc]fix geo funtion st_distance_sphere
  docs/en/sql-manual/sql-functions/spatial-functions/st_distance_sphere.md
  docs/zh-CN/sql-manual/sql-functions/spatial-functions/st_distance_sphere.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9367 The description of the metadata design document is not clear
  docs/en/design/metadata-design.md
  docs/zh-CN/design/metadata-design.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9151 Support hive with HA HDFS. Pass ha configuration through hive create table properties.
  docs/en/ecosystem/external-table/hive-of-doris.md
  docs/zh-CN/ecosystem/external-table/hive-of-doris.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeConstants.java
  fe/fe-core/src/main/java/org/apache/doris/planner/BrokerScanNode.java
Labels: kind/docs, area/planner, approved, reviewed, dev/1.0.1

#9378 [refactor][file result sink]remove file result writer from result sink
  be/src/runtime/file_result_writer.cpp
  be/src/runtime/file_result_writer.h
  be/src/runtime/result_sink.cpp
  be/src/runtime/result_sink.h
  be/src/vec/sink/result_sink.cpp
  gensrc/thrift/DataSinks.thrift
Labels: approved, kind/refactor, area/outfile, area/vectorization, reviewed, dev/backlog

#9379 [fix][compaction] Rowset::end_version null pointer
  be/src/olap/compaction.cpp
Labels: approved, reviewed, compaction

#9317 [doc]Add binlog to load and import the doris table and the original table …
  docs/en/data-operate/import/import-way/binlog-load-manual.md
  docs/zh-CN/data-operate/import/import-way/binlog-load-manual.md
Labels: kind/docs, reviewed, dev/backlog, kind/check-failed

#9389 [Feature] dbt add partition_type support
  extension/dbt-doris/dbt/adapters/doris/impl.py
  extension/dbt-doris/dbt/include/doris/macros/adapters/relation.sql
  extension/dbt-doris/dbt/include/doris/macros/materializations/table/create_table_as.sql
Labels: approved, reviewed

#9360 [Bug][stream-vec-load] Null data load do not skip the same place data
  be/src/olap/rowset/segment_v2/column_writer.cpp
  be/src/olap/rowset/segment_v2/column_writer.h
  be/src/vec/sink/vtablet_sink.cpp
Labels: kind/fix, area/vectorization

#9410 [Refactor] not return too much msg for manual compact action
  be/src/common/status.h
  be/src/http/action/compaction_action.cpp
Labels: approved, reviewed, dev/1.0.1, compaction

#9415 [doc] modify and translate some comment of ddl
  docs/en/data-table/data-model.md
Labels: kind/docs, approved, reviewed

#9413 [Doc]Fix some path error in regression-testing doc
  docs/zh-CN/developer-guide/regression-testing.md
Labels: kind/docs, approved, reviewed

#9401 [Enhancement] improve the performance of multi distinct
  be/src/exprs/aggregate_functions.cpp
Labels: kind/performance, approved, dev/backlog

#9397 [fix][doc]Chinese and English homepage link error
  docs/en/README.md
  docs/zh-CN/README.md
Labels: kind/docs, approved, reviewed

#9393 [doc] Add window functions sql help doc
  be/test/util/arrow/arrow_work_flow_test.cpp
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-AVG.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-COUNT.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-DENSE-RANK.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-FIRST-VALUE.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-LAG.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-LAST-VALUE.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-LEAD.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-MAX.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-MIN.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-RANK.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-ROW-NUMBER.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-SUM.md
  docs/en/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-AVG.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-COUNT.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-DENSE-RANK.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-FIRST-VALUE.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-LAG.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-LAST-VALUE.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-LEAD.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-MAX.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-MIN.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-RANK.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-ROW-NUMBER.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-SUM.md
  docs/zh-CN/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9386 [fix][doc]style issues
  docs/en/sql-manual/sql-reference/Database-Administration-Statements/ADMIN-SET-REPLICA-STATUS.md
  docs/zh-CN/sql-manual/sql-reference/Database-Administration-Statements/ADMIN-SET-REPLICA-STATUS.md
Labels: kind/docs, approved, reviewed

#9387 [doc] add github checks doc
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/developer-guide/github-checks.md
  docs/zh-CN/developer-guide/github-checks.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9383 [Improvement] Enable vectorized compaction by default
  be/src/common/config.h
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  docs/en/admin-manual/config/be-config.md
  docs/zh-CN/admin-manual/config/be-config.md
Labels: kind/docs, approved, area/compact, reviewed, area/be-config, dev/backlog

#9390 [doc]add error reason for storage medium
  docs/en/faq/install-faq.md
  docs/zh-CN/faq/install-faq.md
Labels: kind/docs, approved, reviewed

#9271 [Feature] CTAS support insert data
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableAsSelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: area/planner, approved, reviewed, dev/backlog

#9123 [enhancement](load) optimize load string data and dict page write
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/olap/rowset/segment_v2/binary_dict_page.cpp
  be/src/olap/rowset/segment_v2/binary_plain_page.h
  be/src/olap/rowset/segment_v2/bitshuffle_page.h
Labels: area/load, kind/performance, approved, reviewed, dev/1.0.1

#9087 [Enhancement] [Vectorized] Refactor and optimize BinaryOperation
  be/src/vec/data_types/data_type_decimal.h
  be/src/vec/data_types/number_traits.h
  be/src/vec/functions/divide.cpp
  be/src/vec/functions/function.h
  be/src/vec/functions/function_binary_arithmetic.h
  be/src/vec/functions/function_binary_arithmetic_to_null_type.h
  be/src/vec/functions/function_bit.cpp
  be/src/vec/functions/function_cast.h
  be/src/vec/functions/int_div.cpp
  be/src/vec/functions/int_div.h
  be/src/vec/functions/math.cpp
  be/src/vec/functions/minus.cpp
  be/src/vec/functions/modulo.cpp
  be/src/vec/functions/multiply.cpp
  be/src/vec/functions/plus.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.0.1

#9376 [BUG][Vectorized] fix `replace_if_not_null` in vectorized compaction
  be/src/vec/aggregate_functions/aggregate_function_reader.cpp
  be/src/vec/aggregate_functions/aggregate_function_window.h
Labels: kind/docs, area/compact, area/vectorization, reviewed, dev/backlog

#9398 [doc]Add hll usage documentation
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/advanced/using-hll.md
  docs/zh-CN/advanced/using-hll.md
Labels: kind/docs, approved, reviewed

#9245 [Bug] (fix) DeltaWriter::mem_consumption() coredump
  be/src/olap/delta_writer.cpp
  be/src/olap/delta_writer.h
  be/src/runtime/tablets_channel.cpp
Labels: kind/fix, area/load, approved, reviewed, dev/1.0.1

#9431 [DOC]Improve fe idea dev
  docs/en/developer-guide/fe-idea-dev.md
  docs/zh-CN/developer-guide/fe-idea-dev.md
Labels: kind/docs, approved, reviewed

#9423 [doc]fix typo in en faq and format pattern
  docs/.vuepress/sidebar/en.js
  docs/en/sql-manual/sql-functions/aggregate-functions/group_concat.md
  docs/en/sql-manual/sql-functions/date-time-functions/dayofmonth.md
  docs/en/sql-manual/sql-functions/date-time-functions/dayofyear.md
  docs/en/sql-manual/sql-functions/date-time-functions/monthname.md
  docs/en/sql-manual/sql-functions/encrypt-digest-functions/aes.md
  docs/en/sql-manual/sql-functions/spatial-functions/st_contains.md
  docs/en/sql-manual/sql-functions/spatial-functions/st_geometryfromtext.md
  docs/en/sql-manual/sql-functions/spatial-functions/st_point.md
  docs/en/sql-manual/sql-functions/string-functions/ascii.md
  docs/en/sql-manual/sql-functions/string-functions/char_length.md
  docs/en/sql-manual/sql-functions/string-functions/concat_ws.md
  docs/en/sql-manual/sql-functions/string-functions/reverse.md
  docs/en/sql-manual/sql-reference/Data-Types/DATE.md
  docs/en/sql-manual/sql-reference/Data-Types/DOUBLE.md
Labels: kind/docs, approved, reviewed

#9412 [Bug] CTAS create table by partition list
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateTableAsSelectStmtTest.java
Labels: approved, reviewed, kind/behavior-changed

#9370 [chore](FE Code Style) Fix wrong checkstyle action configuration
  .github/workflows/checkstyle.yaml
Labels: kind/chore, approved, reviewed, dev/backlog

#9430 [doc]Add create java udf document
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/ecosystem/udf/java-user-defined-function.md
  docs/zh-CN/ecosystem/udf/java-user-defined-function.md
Labels: kind/docs, approved, reviewed

#9363 [fix]Stream load 307 temporary redirection authentication information is lost
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/RestBaseController.java
Labels: kind/fix, approved, area/httpv2, reviewed, area/stream-load, dev/1.0.1

#8874 [refactor] some code cleanup for min/max function.
  be/src/exprs/aggregate_functions.cpp
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
Labels: area/load, kind/docs, area/planner, kind/test, approved, area/sql/function, kind/refactor, area/routine load, area/vectorization, reviewed, dev/1.0.1, kind/check-failed

#8980 [fix](rewrite) The where condition cannot be pushed down because ther…
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/InferFiltersRule.java
  fe/fe-core/src/test/java/org/apache/doris/rewrite/InferFiltersRuleTest.java
Labels: area/load, kind/docs, area/planner, approved, area/optimizer, area/routine load, area/vectorization, reviewed, dev/1.0.1, kind/check-failed

#9119 [Vectorized][Function]fix return type&&support hll_union_agg/group_concat agg to win function
  be/src/vec/aggregate_functions/aggregate_function.h
  be/src/vec/aggregate_functions/aggregate_function_hll_union_agg.h
  be/src/vec/aggregate_functions/aggregate_function_stddev.h
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  regression-test/data/correctness/test_select_variance_agg.out
  regression-test/suites/correctness/test_select_variance_agg.groovy
Labels: kind/fix, kind/test, approved, area/vectorization, reviewed, dev/1.0.1, kind/check-failed

#9445 [Doc] Add Spark 3.2.0 description for spark-doris-connector
  docs/en/ecosystem/spark-doris-connector.md
  docs/zh-CN/ecosystem/spark-doris-connector.md
Labels: kind/docs, approved, reviewed

#9438 [style]add IntelliJ code style xml
  build-support/IntelliJ-code-format.xml
  docs/en/developer-guide/java-format-code.md
  docs/zh-CN/developer-guide/java-format-code.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9418 [Bug] Missing error tablet list when close_wait return error
  be/src/olap/delta_writer.cpp
  be/src/olap/delta_writer.h
  be/src/runtime/load_channel.h
  be/src/runtime/tablets_channel.cpp
  be/src/runtime/tablets_channel.h
Labels: kind/fix, area/load, approved, reviewed, dev/1.0.1

#8919 [Feature] (sql digest) support sql digest
  docs/en/ecosystem/audit-plugin.md
  docs/zh-CN/ecosystem/audit-plugin.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyticExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyticWindow.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ArithmeticExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ArrayLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BetweenPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BinaryPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CaseExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CastExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CompoundPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExistsPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FromClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InlineViewRef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/IsNullPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LikePredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LimitElement.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LiteralExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/OrderByElement.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/OutFileClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/QueryStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectListItem.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SetOperationStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Subquery.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableRef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TimestampArithmeticExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/WithClause.java
  fe/fe-core/src/main/java/org/apache/doris/plugin/AuditEvent.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/org/apache/doris/planner/SqlDigestTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/UtFrameUtils.java
  fe_plugins/auditloader/src/main/java/org/apache/doris/plugin/audit/AuditLoaderPlugin.java
  fe_plugins/auditloader/src/main/java/org/apache/doris/plugin/audit/DorisStreamLoader.java
Labels: kind/feature, kind/docs, area/planner, approved, reviewed, dev/backlog

#9449 [Fix](schema_hash) Fix bug that introduced by removing schema_hash
  be/src/agent/task_worker_pool.cpp
  be/src/olap/data_dir.cpp
  be/src/olap/snapshot_manager.cpp
  be/src/olap/storage_migration_v2.cpp
  be/src/olap/task/engine_batch_load_task.cpp
  be/src/olap/task/engine_clone_task.cpp
  be/src/olap/task/engine_publish_version_task.cpp
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
Labels: kind/fix, area/planner, approved, area/vectorization, reviewed, dev/backlog

#9450 Update data-partition.md
  docs/zh-CN/data-table/data-partition.md
Labels: kind/docs, approved, reviewed

#9451 [doc] Update DECIMAL.md
  docs/en/sql-manual/sql-reference/Data-Types/DECIMAL.md
  docs/zh-CN/sql-manual/sql-reference/Data-Types/DECIMAL.md
Labels: kind/docs, approved, reviewed

#9448 [doc] update data-model.md and data-partition.md
  docs/zh-CN/data-table/data-model.md
  docs/zh-CN/data-table/data-partition.md
Labels: kind/docs

#9421 [fix](s3)(int-overflow) manage s3 temp file path and fix row batch offset int overflow bug
  be/src/common/config.h
  be/src/exec/s3_writer.cpp
  be/src/runtime/row_batch.cpp
  be/src/runtime/tmp_file_mgr.cc
  be/src/runtime/tmp_file_mgr.h
  be/src/service/brpc_service.cpp
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
Labels: kind/fix, approved, reviewed

#9447 [fix] UT MathFunctionTest.round_test fix
  be/src/vec/functions/function_binary_arithmetic.h
  regression-test/data/query/sql_functions/math_functions/test_round.out
  regression-test/suites/query/sql_functions/math_functions/test_round.groovy
Labels: kind/fix, kind/test, approved, area/sql/function, area/vectorization, reviewed, dev/backlog

#9457 [fix](ut) fix DeltaWriter::close_wait parameter mismatch in delta_writer_test
  be/src/olap/delta_writer.cpp
  be/test/olap/delta_writer_test.cpp
  be/test/olap/engine_storage_migration_task_test.cpp
Labels: kind/fix, kind/test, dev/1.0.1

#9314 [feature] (vec) instead of converting line to src tuple for stream load in vectorized.
  be/src/exec/base_scanner.cpp
  be/src/exec/base_scanner.h
  be/src/exec/broker_scanner.cpp
  be/src/exec/broker_scanner.h
  be/src/vec/exec/vbroker_scan_node.cpp
  be/src/vec/exec/vbroker_scan_node.h
  be/src/vec/exec/vbroker_scanner.cpp
  be/src/vec/exec/vbroker_scanner.h
  be/test/exec/multi_bytes_separator_test.cpp
  be/test/vec/exec/vbroker_scan_node_test.cpp
  be/test/vec/exec/vbroker_scanner_test.cpp
Labels: approved, area/vectorization, reviewed

#9454 [Doc] 添加CTAS文档
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE-AS-SELECT.md
  docs/zh-CN/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE-AS-SELECT.md
Labels: kind/docs, approved, reviewed

#9455 [docs][typo] Fix some typoes in "update.md" content.
  docs/en/data-operate/update-delete/update.md
  docs/zh-CN/data-operate/update-delete/update.md
Labels: kind/docs, approved, reviewed

#9473 [fix] modify all OLAP_LOG_WARNING to LOG(WARNING)
  be/src/agent/heartbeat_server.cpp
  be/src/olap/bloom_filter_reader.cpp
  be/src/olap/bloom_filter_writer.cpp
  be/src/olap/byte_buffer.cpp
  be/src/olap/data_dir.cpp
  be/src/olap/decimal12.h
  be/src/olap/delete_handler.cpp
  be/src/olap/file_helper.cpp
  be/src/olap/file_stream.cpp
  be/src/olap/file_stream.h
  be/src/olap/in_stream.cpp
  be/src/olap/lru_cache.h
  be/src/olap/olap_cond.cpp
  be/src/olap/olap_index.cpp
  be/src/olap/olap_server.cpp
  be/src/olap/out_stream.cpp
  be/src/olap/out_stream.h
  be/src/olap/reader.cpp
  be/src/olap/row_block.cpp
  be/src/olap/row_cursor.cpp
  be/src/olap/rowset/bit_field_reader.cpp
  be/src/olap/rowset/bit_field_writer.cpp
  be/src/olap/rowset/column_data.cpp
  be/src/olap/rowset/column_data_writer.cpp
  be/src/olap/rowset/column_reader.cpp
  be/src/olap/rowset/column_reader.h
  be/src/olap/rowset/column_writer.cpp
  be/src/olap/rowset/column_writer.h
  be/src/olap/rowset/run_length_byte_writer.cpp
  be/src/olap/rowset/run_length_integer_writer.cpp
  be/src/olap/rowset/segment_group.cpp
  be/src/olap/rowset/segment_reader.cpp
  be/src/olap/rowset/segment_writer.cpp
  be/src/olap/stream_index_reader.cpp
  be/src/olap/stream_index_writer.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/task/engine_batch_load_task.cpp
  be/src/olap/task/engine_checksum_task.cpp
  be/src/olap/utils.cpp
  be/src/olap/wrapper_field.cpp
Labels: approved, reviewed, dev/backlog

#9301 [feature-wip] (memory tracker) (step6, End) Fix some details
  be/src/exec/olap_scanner.cpp
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/http/action/compaction_action.h
  be/src/olap/reader.cpp
  be/src/olap/row_block.cpp
  be/src/olap/row_block2.cpp
  be/src/olap/rowset/segment_v2/binary_dict_page.cpp
  be/src/olap/rowset/segment_v2/zone_map_index.cpp
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/task/engine_alter_tablet_task.cpp
  be/src/olap/task/engine_batch_load_task.cpp
  be/src/olap/task/engine_checksum_task.cpp
  be/src/olap/task/engine_clone_task.cpp
  be/src/runtime/load_channel.cpp
  be/src/runtime/load_channel.h
  be/src/runtime/load_channel_mgr.cpp
  be/src/runtime/load_channel_mgr.h
  be/src/runtime/mem_pool.cpp
  be/src/runtime/mem_tracker.cpp
  be/src/runtime/mem_tracker.h
  be/src/runtime/mem_tracker_task_pool.cpp
  be/src/runtime/mem_tracker_task_pool.h
  be/src/runtime/memory/chunk_allocator.cpp
  be/src/runtime/result_file_sink.cpp
  be/src/runtime/tablets_channel.cpp
  be/src/runtime/tablets_channel.h
  be/src/runtime/tcmalloc_hook.h
  be/src/runtime/thread_context.cpp
  be/src/runtime/thread_context.h
  be/src/runtime/thread_mem_tracker_mgr.cpp
  be/src/runtime/thread_mem_tracker_mgr.h
  be/src/service/doris_main.cpp
  be/src/service/internal_service.cpp
Labels: kind/improvement, area/memory-consumption, area/vectorization, reviewed, dev/backlog

#9484 [refactor] delete some unused macro definition
  be/src/olap/utils.h
Labels: approved, reviewed

#9391 [Feature] show create materialized view
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/advanced/materialized-view.md
  docs/en/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-MATERIALIZED-VIEW.md
  docs/zh-CN/advanced/materialized-view.md
  docs/zh-CN/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-MATERIALIZED-VIEW.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowCreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/ShowCreateMaterializedViewStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/UtFrameUtils.java
Labels: kind/docs, area/planner, approved, reviewed, dev/backlog

#9402 [Feature] support utf8mb4 for mysql external table
  be/src/exec/mysql_scan_node.cpp
  be/src/exec/mysql_scanner.cpp
  be/src/exec/mysql_scanner.h
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  be/src/runtime/mysql_table_sink.cpp
  be/src/runtime/mysql_table_writer.cpp
  be/src/runtime/mysql_table_writer.h
  be/src/vec/sink/vmysql_table_sink.cpp
  be/src/vec/sink/vmysql_table_writer.cpp
  docs/en/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-EXTERNAL-TABLE.md
  docs/zh-CN/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-EXTERNAL-TABLE.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/DescribeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/MysqlTable.java
  fe/fe-core/src/main/java/org/apache/doris/planner/MysqlTableSink.java
  gensrc/thrift/DataSinks.thrift
  gensrc/thrift/Descriptors.thrift
Labels: kind/docs, area/planner, approved, area/vectorization, reviewed

#9437 [regression] add regression test for compaction
  regression-test/conf/regression-conf.groovy
  regression-test/data/compaction/test_compaction.out
  regression-test/framework/src/main/groovy/org/apache/doris/regression/Config.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/ConfigOptions.groovy
  regression-test/suites/compaction/test_compaction.groovy
Labels: kind/test, approved, reviewed

#9478 [Refactor](backend) Refactor the logic of selecting Backend in FE.
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/LoadAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/util/LoadSubmitter.java
  fe/fe-core/src/main/java/org/apache/doris/qe/InsertStreamTxnExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/MultiLoadMgr.java
  fe/fe-core/src/main/java/org/apache/doris/system/BeSelectionPolicy.java
  fe/fe-core/src/main/java/org/apache/doris/system/SystemInfoService.java
  fe/fe-core/src/test/java/org/apache/doris/backup/RestoreJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/ModifyBackendTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/sync/canal/CanalSyncDataTest.java
  fe/fe-core/src/test/java/org/apache/doris/qe/MultiLoadMgrTest.java
  fe/fe-core/src/test/java/org/apache/doris/system/SystemInfoServiceTest.java
Labels: kind/improvement, approved, kind/refactor, reviewed, dev/1.0.1

#9479 Hardening Recommendations Disable TRACE/TRAC methods
  fe/fe-core/src/main/java/org/apache/doris/httpv2/interceptor/ServletTraceIterceptor.java
Labels: approved, area/httpv2, reviewed, dev/1.0.1

#9470 [refactor](Nereids): refactor
  .github/workflows/labeler/scope-label-conf.yml
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/Job.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/ApplyRuleJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/CostAndEnforcerJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/DeriveStatsJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/ExploreGroupJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/ExplorePlanJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/OptimizeGroupJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/OptimizePlanJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Group.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/AbstractPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/Plan.java
Labels: kind/feature, approved, area/optimizer, reviewed, dev/backlog, area/nereids

#9373 [fix](docs)update fe check style doc
  docs/en/developer-guide/java-format-code.md
  docs/zh-CN/developer-guide/java-format-code.md
Labels: kind/docs

#9462 [bugfix](vtablet_sink) fix max_pending_bytes for vtablet_sink
  be/src/vec/sink/vtablet_sink.cpp
Labels: approved, area/vectorization, reviewed, dev/1.0.1

#9427 fix bug for OLAP_SUCCESS with Status
  be/src/olap/storage_migration_v2.cpp
  be/src/olap/tablet_manager.cpp
Labels: approved, reviewed

#9206 [feature]: support row policy filter
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-POLICY.md
  docs/zh-CN/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-POLICY.md
  docs/zh-CN/sql-manual/sql-reference/Data-Definition-Statements/Drop/DROP-POLICY.md
  docs/zh-CN/sql-manual/sql-reference/Show-Statements/SHOW-POLICY.md
  docs/zh-CN/sql-manual/sql-reference/Show-Statements/SHOW-SQL-BLOCK-RULE.md
  fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreatePolicyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropPolicyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowPolicyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StmtRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/UserIdentity.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaReader.java
  fe/fe-core/src/main/java/org/apache/doris/common/MetaWriter.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/policy/DropPolicyLog.java
  fe/fe-core/src/main/java/org/apache/doris/policy/FilterType.java
  fe/fe-core/src/main/java/org/apache/doris/policy/Policy.java
  fe/fe-core/src/main/java/org/apache/doris/policy/PolicyMgr.java
  fe/fe-core/src/main/java/org/apache/doris/policy/PolicyTypeEnum.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/SparkLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/policy/PolicyTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/TestWithFeService.java
Labels: kind/feature, kind/docs, area/planner, kind/meta-version-change, approved, reviewed

#9429 [chore](fe code style)add suppressions to fe check style
  fe/check/checkstyle/checkstyle.xml
  fe/check/checkstyle/suppressions.xml
  fe/pom.xml
Labels: kind/chore

#9358 fix #9351 can't load parquet file with column name case sensitive with Doris column
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/planner/BrokerScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadScanNode.java
Labels: kind/fix, good first issue, area/load, area/planner, approved, reviewed, dev/1.0.1

#9471 [fix]binlog load fails because txn exceeds the default value
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalSyncChannel.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
Labels: area/load, approved, reviewed, dev/1.0.1

#9497 [Improvement] Cleanup unused empty files
  CMakeLists.txt
  be/src/util/sse2neo.h
Labels: reviewed, dev/backlog

#9514 [Enhancement] Check status precise_code instead of construct OLAPInternalError
  be/src/agent/task_worker_pool.cpp
  be/src/common/status.h
  be/src/http/action/compaction_action.cpp
  be/src/olap/collect_iterator.cpp
  be/src/olap/data_dir.cpp
  be/src/olap/file_stream.cpp
  be/src/olap/memtable.cpp
  be/src/olap/push_handler.cpp
  be/src/olap/rowset/column_data.cpp
  be/src/olap/rowset/column_reader.cpp
  be/src/olap/rowset/column_reader.h
  be/src/olap/rowset/rowset_meta_manager.cpp
  be/src/olap/rowset/segment_reader.cpp
  be/src/olap/schema_change.cpp
  be/src/olap/storage_migration_v2.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet_meta_manager.cpp
  be/src/olap/task/engine_batch_load_task.cpp
  be/src/olap/task/engine_clone_task.cpp
  be/src/olap/task/engine_publish_version_task.cpp
  be/src/olap/tuple_reader.cpp
  be/src/olap/utils.h
  be/src/tools/meta_tool.cpp
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/vcollect_iterator.cpp
Labels: approved, reviewed, area/error-code, dev/backlog

#9494 [Bug] (load) Broker load kerberos auth fail
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
Labels: kind/fix, approved, reviewed, area/broker-load, dev/1.0.1

#9496 [Refactor][doc] Incorrect sequence numbers in revision documents.
  docs/zh-CN/sql-manual/sql-reference/Show-Statements/SHOW-LOAD-WARNINGS.md
  docs/zh-CN/sql-manual/sql-reference/Show-Statements/SHOW-LOAD.md
  docs/zh-CN/sql-manual/sql-reference/Show-Statements/SHOW-RESOURCES.md
  docs/zh-CN/sql-manual/sql-reference/Show-Statements/SHOW-SNAPSHOT.md
Labels: kind/docs, approved, reviewed

#9517 [regression]add the regression test for json load
  regression-test/data/load/stream_load/multi_line_json.json
  regression-test/data/load/stream_load/nest_json.json
  regression-test/data/load/stream_load/simple_json.json
  regression-test/suites/load/stream_load/test_json_load.groovy
Labels: kind/test, approved

#9518 [bugfix](load) fix coredump in ordinal index flush
  be/src/olap/rowset/segment_v2/binary_dict_page.cpp
  be/src/olap/rowset/segment_v2/bitshuffle_page.h
  be/src/olap/rowset/segment_v2/page_builder.h
Labels: area/storage, approved, reviewed, dev/1.0.1

#9538 [fix](load) column_writer append fail should return error immediately to catch the problem early
  be/src/olap/rowset/segment_v2/segment_writer.cpp
Labels: approved, reviewed, dev/backlog

#9534 [bugfix]Clean the version.sh file before build, otherwise the version informa…
  build.sh
Labels: approved, dev/backlog

#9535 [Refactor][doc]Add ARM architecture compilation tutorial content
  docs/en/install/source-install/compilation-arm.md
  docs/zh-CN/install/source-install/compilation-arm.md
Labels: kind/docs, approved, reviewed

#9170 [feature-wip](array-type) array_contains support more nested data types
  be/src/vec/columns/column.h
  be/src/vec/columns/column_decimal.h
  be/src/vec/columns/column_nullable.h
  be/src/vec/data_types/data_type_date.cpp
  be/src/vec/data_types/data_type_date.h
  be/src/vec/data_types/data_type_date_time.cpp
  be/src/vec/data_types/data_type_date_time.h
  be/src/vec/exec/vunion_node.cpp
  be/src/vec/functions/array/function_array_element.h
  be/src/vec/functions/array/function_array_index.h
  be/test/vec/function/function_array_element_test.cpp
  be/test/vec/function/function_array_index_test.cpp
  be/test/vec/function/function_test_util.cpp
  be/test/vec/function/function_test_util.h
  gensrc/script/doris_builtins_functions.py
Labels: area/planner, approved, area/sql/function, area/array-type, area/vectorization, reviewed

#9491 [Improvement] remove unnecessary memcpy in OlapBlockDataConvertor
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/olap_data_convertor.h
Labels: area/vectorization, reviewed, dev/backlog

#9528 [doc] [Improved] The flink connector documentation is perfect
  docs/en/ecosystem/spark-doris-connector.md
  docs/zh-CN/ecosystem/spark-doris-connector.md
Labels: kind/docs, approved, reviewed

#9311 [feature]add vectorized vjson_scanner
  be/src/exec/base_scanner.cpp
  be/src/exec/base_scanner.h
  be/src/exec/broker_scan_node.cpp
  be/src/exec/json_scanner.cpp
  be/src/exec/json_scanner.h
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/vjson_scanner.cpp
  be/src/vec/exec/vjson_scanner.h
  be/test/CMakeLists.txt
  be/test/vec/exec/vjson_scanner_test.cpp
Labels: approved, area/vectorization, reviewed, dev/backlog

#9493 [BUG][Function] fix case when function return null with abs func…
  be/src/exprs/case_expr.cpp
  be/src/exprs/case_expr.h
  regression-test/data/correctness/test_case_when.out
  regression-test/suites/correctness/test_case_when.groovy
Labels: kind/fix, kind/test, approved, reviewed, dev/1.0.1

#9530 [Fix](Lateral View) Error view includes lateral view
  fe/fe-core/src/main/java/org/apache/doris/analysis/InlineViewRef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/QueryStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableRef.java
Labels: kind/fix, area/planner, approved, area/view, reviewed, area/lateral-view, dev/1.0.1

#9553 [refactor] Clean es tcp scannode and related thrift definitions
  be/src/exec/CMakeLists.txt
  be/src/exec/es/es_predicate.h
  be/src/exec/es_scan_node.cpp
  be/src/exec/es_scan_node.h
  be/src/exec/exec_node.cpp
  be/src/exprs/expr_context.h
  be/src/gen_cpp/CMakeLists.txt
  be/src/runtime/client_cache.h
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/util/thrift_rpc_helper.cpp
  be/test/CMakeLists.txt
  be/test/exec/es_scan_node_test.cpp
  gensrc/thrift/PaloExternalDataSourceService.thrift
Labels: approved, reviewed, dev/1.0.1

#9556 [bugfix](vectorized) vectorized write: invalid memory access caused by podarray resize
  be/src/vec/olap/olap_data_convertor.cpp
Labels: approved, area/vectorization, reviewed, dev/backlog

#9561 [Doc] Added the help-resource.zip generation steps to the IDEA development documentation
  docs/en/developer-guide/fe-idea-dev.md
  docs/zh-CN/developer-guide/fe-idea-dev.md
Labels: kind/docs, approved, reviewed

#9571 [doc]fix doc typo in data-model and date data type
  docs/en/data-table/data-model.md
  docs/en/sql-manual/sql-reference/Data-Types/DATE.md
Labels: kind/docs, approved, reviewed

#9568 [Doc]Add show tables help documentation
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-manual/sql-reference/Show-Statements/SHOW-TABLES.md
  docs/zh-CN/sql-manual/sql-reference/Show-Statements/SHOW-TABLES.md
Labels: kind/docs, reviewed

#9566 optimize lz4 compress and decompress speed by reusing context
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/column_reader.h
  be/src/olap/rowset/segment_v2/column_writer.cpp
  be/src/olap/rowset/segment_v2/column_writer.h
  be/src/olap/rowset/segment_v2/indexed_column_reader.cpp
  be/src/olap/rowset/segment_v2/indexed_column_reader.h
  be/src/olap/rowset/segment_v2/indexed_column_writer.cpp
  be/src/olap/rowset/segment_v2/indexed_column_writer.h
  be/src/util/block_compression.cpp
  be/src/util/block_compression.h
  be/test/util/block_compression_test.cpp
Labels: approved, reviewed, dev/1.0.1

#9247 [BUG][Function] fix last_value get wrong result when have order by cl…
  be/src/vec/aggregate_functions/aggregate_function_window.h
  be/test/vec/function/function_bitmap_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyticExpr.java
  regression-test/data/correctness/test_last_value_window.out
  regression-test/suites/correctness/test_last_value_window.groovy
Labels: area/planner, kind/test, area/vectorization, reviewed, dev/1.0.1, kind/check-failed

#9595 [doc]Change the JAR folder in the Flink-Doris-Connector document to lib
  docs/en/ecosystem/flink-doris-connector.md
  docs/zh-CN/ecosystem/flink-doris-connector.md
Labels: kind/docs, approved, reviewed

#9559 [feature-wip](hudi) Step1: Support create hudi external table
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/ecosystem/external-table/hudi-external-table.md
  docs/en/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-EXTERNAL-TABLE.md
  docs/zh-CN/ecosystem/external-table/hudi-external-table.md
  docs/zh-CN/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-EXTERNAL-TABLE.md
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Table.java
  fe/fe-core/src/main/java/org/apache/doris/external/hudi/HudiProperty.java
  fe/fe-core/src/main/java/org/apache/doris/external/hudi/HudiTable.java
  fe/fe-core/src/main/java/org/apache/doris/external/hudi/HudiUtils.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateTableStmtTest.java
  fe/pom.xml
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/Types.thrift
Labels: kind/docs, area/planner, approved, reviewed, dev/backlog, area/hudi

#9564 [fix](storage-vectorized) fix VMergeIterator core dump
  be/src/vec/olap/vgeneric_iterators.cpp
Labels: approved, area/vectorization, reviewed, dev/1.0.1

#9547 [Bug][Vectorized] Fix BE crash with delete condition and enable_storage_vectorization
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  regression-test/data/delete/test_delete.out
  regression-test/suites/delete/test_delete.groovy
Labels: kind/fix, kind/test, approved, area/vectorization, reviewed, dev/1.0.1

#9408 [Bug][Vectorized] Fix insert bimmap column with nullable column
  be/src/vec/sink/vtablet_sink.cpp
  be/src/vec/sink/vtablet_sink.h
  regression-test/suites/query/load.groovy
Labels: area/load, kind/test, approved, area/vectorization, reviewed, dev/backlog, dev/1.0.1

#9609 [doc]add largeint doc
  docs/.vuepress/sidebar/en.js
  docs/.vuepress/sidebar/zh-CN.js
  docs/en/sql-manual/sql-reference/Data-Types/LARGEINT.md
Labels: kind/docs, approved, reviewed

#9605 [doc]Added a problem with spark Load usage
  docs/en/data-operate/import/import-way/spark-load-manual.md
  docs/zh-CN/data-operate/import/import-way/spark-load-manual.md
Labels: kind/docs, approved, reviewed

#9602 Upgrade clang-format in BE Code Formatter workflow
  .github/workflows/clang-format.yml
  be/src/exprs/table_function/explode_json_array.h
  be/src/olap/rowset/segment_v2/binary_plain_page.h
  be/src/vec/common/cow.h
  be/test/util/threadpool_test.cpp
  docs/en/developer-guide/cpp-format-code.md
  docs/zh-CN/developer-guide/cpp-format-code.md
Labels: kind/docs, kind/chore, approved, area/vectorization, reviewed, dev/backlog

#9554 Add StoragePolicyResource for Remote Storage
  fe/fe-core/src/main/java/org/apache/doris/catalog/Resource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ResourceMgr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/StoragePolicyResource.java
Labels: kind/feature, approved, api-review, reviewed, area/remote-storage

#9620 [Improvement] make BE can exit normally and ASAN memory leak checking work properly
  be/src/runtime/minidump.cpp
  be/src/util/priority_thread_pool.hpp
  be/src/util/priority_work_stealing_thread_pool.hpp
Labels: approved, reviewed, dev/backlog

#9615 [Bug][Compile] clang compile fail on vparquet_scanner
  be/src/exec/parquet_scanner.h
  be/src/vec/exec/vparquet_scanner.h
Labels: approved, area/vectorization, reviewed, dev/backlog

#9614 [regression] add some case for json load regression test
  regression-test/data/load/stream_load/simple_object_json.json
  regression-test/suites/load/stream_load/test_json_load.groovy
Labels: kind/test, approved, reviewed, dev/backlog

#9612 [BUG] fix information_schema.columns results not correctly on vec engine
  be/src/vec/exec/vmysql_scan_node.cpp
  be/src/vec/exec/vodbc_scan_node.cpp
  be/src/vec/exec/vschema_scan_node.cpp
  regression-test/data/account/test_information_schema.out
  regression-test/suites/account/test_information_schema.groovy
Labels: kind/fix, kind/test, approved, area/vectorization, reviewed, dev/1.0.1

#9607 [bug] (init) Java version check fail
  fe/fe-core/src/main/java/org/apache/doris/common/util/JdkUtils.java
Labels: approved, reviewed, dev/backlog

#9498 [optimize] push down predicate past two phase aggregate
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/test/java/org/apache/doris/planner/PlannerTest.java
Labels: kind/fix, area/planner, approved, area/optimizer, reviewed, dev/1.0.1

#9569 [vec](load) fix core of segment_writer while it is not thread-safe
  be/src/olap/memtable.cpp
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset_writer.h
Labels: area/vectorization, reviewed, dev/backlog

#9586 [fix](storage) low_cardinality_optimize core dump when is null predicate
  be/src/olap/comparison_predicate.cpp
  be/src/vec/columns/column_dictionary.h
Labels: area/vectorization, reviewed, dev/1.0.1

#9660 [Improvement] Add compaction regression test case for different data models
  regression-test/data/compaction/test_compaction_agg_keys.out
  regression-test/data/compaction/test_compaction_dup_keys.out
  regression-test/data/compaction/test_compaction_uniq_keys.out
  regression-test/suites/compaction/test_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys.groovy
Labels: kind/test, approved

#9665 [website] fix doris website with no link to the Privacy Policy.
  docs/.vuepress/theme/components/Footer.vue
Labels: kind/community, approved, reviewed

#9679 [doc]Fixed a error in the Bitmap Index section of the document
  docs/en/data-table/index/bitmap-index.md
  docs/zh-CN/data-table/index/bitmap-index.md
Labels: kind/docs, approved, reviewed, dev/backlog

#9672 [REFACTOR] reorder license header and import statement
  regression-test/suites/compaction/test_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys.groovy
Labels: kind/test, approved, reviewed, dev/backlog

#9667 [Config](Project) Project optimization is enabled by default
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: approved, area/optimizer, area/fe-config, reviewed, dev/backlog

#9651 [Doc] Update Streamload 2pc doc
  docs/en/data-operate/import/import-way/stream-load-manual.md
  docs/zh-CN/data-operate/import/import-way/stream-load-manual.md
Labels: kind/docs, approved, reviewed

#9610 [BUG] fix bug for vectorized compaction
  be/src/olap/compaction.cpp
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/vcollect_iterator.cpp
  be/src/vec/olap/vcollect_iterator.h
  be/src/vec/olap/vgeneric_iterators.cpp
Labels: approved, area/vectorization, reviewed, dev/1.0.1

#9677 [enhancement][be] Improve debugging experience
  be/CMakeLists.txt
  build.sh
  run-be-ut.sh
Labels: approved, reviewed, dev/backlog

#9537 [Feature] cancel load support state
  fe/fe-core/src/main/java/org/apache/doris/analysis/CancelLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/common/CaseSensibility.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CancelLoadStmtTest.java
Labels: kind/feature, area/load, area/planner, approved, reviewed, dev/backlog

#9681 Fix some typos in be/.
  be/src/common/config.h
  be/src/exec/lzo_decompressor.cpp
  be/src/exec/partitioned_aggregation_node.h
  be/src/gutil/strings/split.cc
  be/src/olap/compaction.cpp
  be/src/olap/memtable.cpp
  be/src/olap/olap_index.cpp
  be/src/olap/rowset/run_length_integer_writer.h
  be/src/olap/rowset/segment_reader.cpp
  be/src/olap/rowset/segment_v2/binary_dict_page.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/runtime/datetime_value.h
  be/src/runtime/disk_io_mgr.h
  be/src/runtime/mem_pool.h
  be/src/runtime/spill_sorter.cc
  be/src/util/cgroup_util.cpp
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/runtime/vdatetime_value.h
  be/src/vec/sink/vtablet_sink.cpp
  be/test/runtime/disk_io_mgr_test.cpp
Labels: approved, reviewed, kind/typo, dev/backlog

#9574 [Bug] Fix timestamp_diff issue when timeunit is year and month
  be/src/runtime/datetime_value.h
  be/src/vec/runtime/vdatetime_value.h
  regression-test/data/query/sql_functions/datetime_functions/test_timestampdiff.out
  regression-test/suites/query/sql_functions/datetime_functions/test_timestampdiff.groovy
Labels: kind/test, area/vectorization

#9521 [improvement][performance] improve lru cache resize performance and memory usage
  be/src/olap/lru_cache.cpp
  be/src/olap/lru_cache.h
  be/test/olap/lru_cache_test.cpp
Labels: kind/improvement, approved, reviewed

#9472 [Enhancement] improve parquet reader via arrow's prefetch and multi thread
  be/src/common/config.h
  be/src/exec/parquet_reader.cpp
  be/src/exec/parquet_reader.h
Labels: kind/improvement, area/load, approved, reviewed, dev/1.0.1

#9436 [Spark Load]fix min_value of GlobalDict will be negative number in spark load
  fe/spark-dpp/src/main/java/org/apache/doris/load/loadv2/dpp/GlobalDictBuilder.java
Labels: approved, area/spark-load, reviewed, dev/backlog

#9368 [refactor][rowset]move rowset writer to a single place
  be/src/olap/base_tablet.h
  be/src/olap/compaction.cpp
  be/src/olap/data_dir.cpp
  be/src/olap/delta_writer.cpp
  be/src/olap/push_handler.cpp
  be/src/olap/schema_change.cpp
  be/src/olap/schema_change.h
  be/src/olap/storage_migration_v2.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_manager.h
  be/src/olap/tablet_meta.cpp
Labels: approved, kind/refactor, reviewed, dev/backlog

#9598 [feature](nereids): add join rules base code
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinCommutative.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinExchange.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscom.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLeftAssociative.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/JoinType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/JoinReorderContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
Labels: approved, area/optimizer, reviewed, dev/backlog, area/nereids

#9590 [Docs] Fix error command of meta tool docs
  docs/en/admin-manual/maint-monitor/tablet-meta-tool.md
  docs/zh-CN/admin-manual/maint-monitor/tablet-meta-tool.md
Labels: kind/docs, reviewed, dev/backlog

#9154 adjust read unit of http to optimize stream load
  be/src/http/action/stream_load.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/stream_load/stream_load_pipe.h
  thirdparty/patches/libevent.patch
Labels: kind/improvement, approved, reviewed, area/stream-load, dev/1.0.1
