Repository apache/doris, pull requests merged in 2022-10, with the labels that each got.

#13102 [fix](test) add sync for some cases and adjust data path for tpch_uni…
  regression-test/suites/load_p0/stream_load/load_json_with_jsonpath.groovy
  regression-test/suites/load_p0/stream_load/test_json_load.groovy
  regression-test/suites/tpcds_sf1_unique_p1/load.groovy
  regression-test/suites/tpch_unique_sql_zstd_p0/load.groovy
Labels: kind/test, approved, reviewed

#13101 [fix](compaction) don't log cumu policy name for quick compaction
  be/src/olap/compaction.cpp
Labels: approved, reviewed, dev/1.1.3

#13095 [feature-wip](parquet-reader) add detail profile for parquet reader
  be/src/io/buffered_reader.cpp
  be/src/io/buffered_reader.h
  be/src/io/hdfs_file_reader.cpp
  be/src/vec/exec/format/parquet/parquet_common.h
  be/src/vec/exec/format/parquet/vparquet_column_chunk_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_column_chunk_reader.h
  be/src/vec/exec/format/parquet/vparquet_column_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_column_reader.h
  be/src/vec/exec/format/parquet/vparquet_group_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_group_reader.h
  be/src/vec/exec/format/parquet/vparquet_page_index.h
  be/src/vec/exec/format/parquet/vparquet_page_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_page_reader.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.h
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/test/vec/exec/parquet/parquet_reader_test.cpp
  be/test/vec/exec/parquet/parquet_thrift_test.cpp
Labels: area/vectorization, area/multi-catalog

#13108 [feature-wip](unique-key-merge-on-write) Do not allow alter mow property
  fe/fe-core/src/main/java/org/apache/doris/analysis/ModifyTablePropertiesClause.java
Labels: area/planner, approved, reviewed

#13105 [fix](test) add sync and drop table for insert.groovy and test_array_…
  regression-test/suites/insert_p0/insert.groovy
  regression-test/suites/load_p0/broker_load/test_array_load.groovy
  regression-test/suites/tpcds_sf1_unique_p1/load.groovy
Labels: kind/test, approved, reviewed

#13049 [Enhancement](optimize) optimize for function multiply on decimalv2
  be/src/vec/functions/function_binary_arithmetic.h
  be/src/vec/functions/multiply.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#12792 [Docs] Add python env for Mac M1
  docs/en/community/developer-guide/fe-idea-dev.md
  docs/zh-CN/community/developer-guide/fe-idea-dev.md
Labels: kind/docs, approved, reviewed

#12912 [Bug](parquet) fix parquet write setting property is not effective
  be/src/runtime/file_result_writer.cpp
  be/src/vec/runtime/vfile_result_writer.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/OutFileClause.java
Labels: area/planner, approved, area/vectorization, reviewed, dev/1.1.3

#13047 [typo][doc]replace unuse parameter max_base_compaction_concurrency
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#13061 [typo](doc) Modify the comment of light schema change
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
Labels: kind/docs, approved, reviewed

#13062 [Regression](load) Add broker load regression test.
  be/src/common/config.h
  regression-test/conf/regression-conf.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/suites/load_p0/broker_load/ddl/filter_create.sql
  regression-test/suites/load_p0/broker_load/ddl/filter_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/null_default_create.sql
  regression-test/suites/load_p0/broker_load/ddl/null_default_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/part_create.sql
  regression-test/suites/load_p0/broker_load/ddl/part_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/path_column_create.sql
  regression-test/suites/load_p0/broker_load/ddl/path_column_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/reverse_create.sql
  regression-test/suites/load_p0/broker_load/ddl/reverse_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/set1_create.sql
  regression-test/suites/load_p0/broker_load/ddl/set1_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/set2_create.sql
  regression-test/suites/load_p0/broker_load/ddl/set2_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/set3_create.sql
  regression-test/suites/load_p0/broker_load/ddl/set3_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/set4_create.sql
  regression-test/suites/load_p0/broker_load/ddl/set4_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/set5_create.sql
  regression-test/suites/load_p0/broker_load/ddl/set5_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/set6_create.sql
  regression-test/suites/load_p0/broker_load/ddl/set6_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/set7_create.sql
  regression-test/suites/load_p0/broker_load/ddl/set7_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/upper_case_create.sql
  regression-test/suites/load_p0/broker_load/ddl/upper_case_drop.sql
  regression-test/suites/load_p0/broker_load/test_broker_load.groovy
Labels: kind/test, approved, reviewed

#13065 [Bug](Decimal) retain Decimal trailing zero when select on fe
  fe/fe-core/src/main/java/org/apache/doris/common/util/LiteralUtils.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  regression-test/data/query_p0/sql_functions/array_functions/sql/q02.out
Labels: approved, reviewed

#13073 [fix](fe-core) TestWithFeService do not clean up dorisHome
  fe/fe-core/src/test/java/org/apache/doris/utframe/TestWithFeService.java
Labels: approved, reviewed

#13085 [enhancement](memory) Fix `USE_MEM_TRACKER=OFF` compile
  be/src/runtime/thread_context.cpp
  be/src/runtime/thread_context.h
Labels: reviewed

#13058 [fix](BE) fix the stream load error when upgrade BE from 1.1.2 to master
  be/src/exec/olap_scanner.cpp
  be/src/exec/tablet_info.cpp
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/volap_scanner.cpp
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapTableSink.java
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/PlanNodes.thrift
Labels: area/planner, area/vectorization

#13116 [fix](spark-load) no need to filter row group when doing spark load
  be/src/common/config.h
  be/src/exec/arrow/arrow_reader.cpp
  be/src/exec/arrow/arrow_reader.h
  be/src/exec/arrow/parquet_reader.cpp
  be/src/exec/arrow/parquet_reader.h
  be/src/exec/base_scanner.h
  be/src/vec/exec/format/generic_reader.h
  be/src/vec/exec/format/parquet/vparquet_group_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_group_reader.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.h
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/test/vec/exec/parquet/parquet_reader_test.cpp
  be/test/vec/exec/parquet/parquet_thrift_test.cpp
  regression-test/conf/regression-conf.groovy
  regression-test/suites/load_p0/broker_load/test_broker_load.groovy
Labels: kind/fix, kind/test, area/spark-load, area/vectorization

#13112 [fix](string) allocate memory according to actual size instead of max…
  be/src/olap/wrapper_field.cpp
Labels: approved, reviewed, dev/1.1.3

#13127 [improvement](runtimefilter) shorter time prepare consumes
  be/src/runtime/runtime_filter_mgr.cpp
  be/src/runtime/runtime_filter_mgr.h
Labels: approved, reviewed, dev/1.1.3

#13128 [type](docs)fix slack link
  README.md
Labels: kind/docs, approved, reviewed

#12848 [feature-wip](new-scan)Add new jdbc scanner and new jdbc scan node
  be/src/exec/exec_node.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/scan/new_jdbc_scan_node.cpp
  be/src/vec/exec/scan/new_jdbc_scan_node.h
  be/src/vec/exec/scan/new_jdbc_scanner.cpp
  be/src/vec/exec/scan/new_jdbc_scanner.h
Labels: area/vectorization, reviewed, area/multi-catalog

#13081 [Fix](doc) Remove unsupported parameter
  docs/zh-CN/docs/install/source-install/compilation.md
Labels: kind/docs, approved, reviewed

#13066 [Fix](Load) fix bug that last line of data lost for stream load
  be/src/exec/plain_text_line_reader.cpp
  regression-test/data/load_p0/stream_load/test_line_delimiter.csv
  regression-test/suites/load_p0/stream_load/test_stream_load.groovy
Labels: kind/test, dev/1.1.3

#13068 [docs](unique-key-merge-on-write) add document for unique key merge o…
  docs/en/docs/data-table/best-practice.md
  docs/en/docs/data-table/data-model.md
  docs/zh-CN/docs/data-table/best-practice.md
  docs/zh-CN/docs/data-table/data-model.md
Labels: kind/docs, approved, reviewed

#13137 [typo](docs)fix data cache sidebar error
  docs/dev.json
  docs/sidebars.json
Labels: kind/docs, approved, reviewed

#13076 [improvement](load) config flush_thread_num_per_store to be 6 by default
  be/src/common/config.h
Labels: approved, reviewed, kind/behavior-changed, dev/1.1.3

#13135 [fix](file-scanner) fix some logic about broker load with parquet with new file scanner
  be/src/agent/heartbeat_server.cpp
  be/src/exprs/expr_context.h
  be/src/olap/tablet_manager.cpp
  be/src/vec/exec/format/parquet/vparquet_page_reader.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/src/vec/exec/scan/vfile_scanner.h
  regression-test/data/load_p0/broker_load/test_broker_load.out
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case1_create.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case1_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case2_create.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case2_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case3_create.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case3_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case4_create.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case4_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case5_create.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case5_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case6_create.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case6_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case7_create.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case7_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case8_create.sql
  regression-test/suites/load_p0/broker_load/ddl/parquet_s3_case8_drop.sql
  regression-test/suites/load_p0/broker_load/test_broker_load.groovy
Labels: kind/fix, kind/test, approved, area/vectorization, reviewed, area/multi-catalog

#13072 [feature-wip](parquet-reader) prepare for BE benchmark
  be/src/vec/exec/format/parquet/parquet_pred_cmp.h
  be/src/vec/exec/format/parquet/vparquet_column_reader.cpp
Labels: area/vectorization, area/multi-catalog

#13122 [feature-wip](parquet-reader) optimize the performance of column conversion
  be/src/vec/exec/format/parquet/parquet_common.cpp
  be/src/vec/exec/format/parquet/parquet_common.h
  be/src/vec/exec/format/parquet/parquet_pred_cmp.h
  be/src/vec/exec/format/parquet/vparquet_column_chunk_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_column_reader.cpp
Labels: area/vectorization, area/multi-catalog

#13165 [Bug](libjvm) reorder initialization of JNI
  be/src/service/doris_main.cpp
Labels: approved, reviewed

#13173 [typo](docs)Fix jump link 404 in external storage load.md
  docs/en/docs/data-operate/import/import-scenes/external-storage-load.md
  docs/zh-CN/docs/data-operate/import/import-scenes/external-storage-load.md
Labels: kind/docs, approved, reviewed

#13178 [typo](docs)SQL Server 2017 version ODBC usage instructions
  docs/en/docs/ecosystem/external-table/odbc-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/odbc-of-doris.md
Labels: kind/docs, approved, reviewed

#13172 Update outfile.md
  docs/en/docs/admin-manual/cluster-management/elastic-expansion.md
  docs/en/docs/admin-manual/config/be-config.md
  docs/en/docs/admin-manual/maint-monitor/metadata-operation.md
  docs/en/docs/advanced/alter-table/schema-change.md
  docs/en/docs/data-operate/export/outfile.md
Labels: kind/docs

#13170 [typo](docs)Fix jump link 404 in jdbc load.md
  docs/en/docs/data-operate/import/import-scenes/jdbc-load.md
  docs/zh-CN/docs/data-operate/import/import-scenes/jdbc-load.md
Labels: kind/docs, approved, reviewed

#13134 [fix](be_ut) fix some be ut failure
  be/src/geo/geo_functions.cpp
  be/src/geo/geo_functions.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/runtime/thread_context.cpp
  be/src/util/mem_info.h
  be/src/vec/functions/functions_geo.cpp
  be/test/exec/multi_bytes_separator_test.cpp
  be/test/exec/tablet_sink_test.cpp
  be/test/exprs/math_functions_test.cpp
  be/test/olap/cumulative_compaction_policy_test.cpp
  be/test/olap/delete_handler_test.cpp
  be/test/olap/delta_writer_test.cpp
  be/test/olap/generic_iterators_test.cpp
  be/test/olap/lru_cache_test.cpp
  be/test/olap/memory/mem_tablet_test.cpp
  be/test/olap/row_cursor_test.cpp
  be/test/olap/rowset/beta_rowset_test.cpp
  be/test/olap/rowset/rowset_converter_test.cpp
  be/test/olap/rowset/segment_v2/segment_test.cpp
  be/test/olap/tablet_meta_test.cpp
  be/test/runtime/CMakeLists.txt
  be/test/runtime/fragment_mgr_test.cpp
  be/test/runtime/load_channel_mgr_test.cpp
  be/test/runtime/small_file_mgr_test.cpp
  be/test/runtime/test_env.cc
  be/test/tools/benchmark_tool.cpp
  be/test/util/arrow/arrow_work_flow_test.cpp
  be/test/vec/exec/vgeneric_iterators_test.cpp
  be/test/vec/function/function_geo_test.cpp
Labels: dev/1.1.3

#13019 [Improvement](outfile) Support ORC format in outfile
  be/src/runtime/file_result_writer.h
  be/src/vec/CMakeLists.txt
  be/src/vec/runtime/vfile_result_writer.cpp
  be/src/vec/runtime/vfile_result_writer.h
  be/src/vec/runtime/vorc_writer.cpp
  be/src/vec/runtime/vorc_writer.h
  be/src/vec/runtime/vparquet_writer.cpp
  be/src/vec/runtime/vparquet_writer.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/OutFileClause.java
  gensrc/thrift/DataSinks.thrift
Labels: area/planner, approved, area/vectorization, reviewed

#13028 [enhancement](array-type) Handle cast empty string value to array
  be/src/vec/data_types/data_type_array.cpp
  regression-test/data/query_p0/sql_functions/cast_function/test_cast_array_function.out
  regression-test/data/query_p0/sql_functions/cast_function/test_cast_string_to_array.out
  regression-test/suites/query_p0/sql_functions/cast_function/test_cast_array_function.groovy
  regression-test/suites/query_p0/sql_functions/cast_function/test_cast_array_functions_by_literal.groovy
  regression-test/suites/query_p0/sql_functions/cast_function/test_cast_string_to_array.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#13186 [fix](be_ut) fix hll_test, vexpr_test and lru_cache_test failure
  be/src/olap/lru_cache.h
  be/test/olap/hll_test.cpp
  be/test/olap/lru_cache_test.cpp
  be/test/vec/exprs/vexpr_test.cpp
Labels: approved, reviewed

#13187 [fix](ut) Fix ut affected by MemTracker
  be/src/runtime/memory/mem_tracker_task_pool.cpp
  be/src/runtime/thread_context.cpp
Labels: dev/merged-1.1.3

#13148 [fix](flinkCDC Demo):fix flinkcdc demo execution error
  samples/doris-demo/flink-demo-v1.1/src/main/java/org/apache/doris/demo/flink/Cdc2DorisSQLDemo.java
Labels: approved, reviewed

#13097 [doc][ifx](multi-catalog) add doc for multi catalog and fix refresh bug
  docs/en/docs/admin-manual/privilege-ldap/user-privilege.md
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Drop/DROP-CATALOG.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-CATALOGS.md
  docs/en/docs/sql-manual/sql-reference/Utility-Statements/REFRESH-CATALOG.md
  docs/en/docs/sql-manual/sql-reference/Utility-Statements/SWITCH.md
  docs/sidebars.json
  docs/zh-CN/docs/admin-manual/privilege-ldap/user-privilege.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Drop/DROP-CATALOG.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-CATALOGS.md
  docs/zh-CN/docs/sql-manual/sql-reference/Utility-Statements/REFRESH-CATALOG.md
  docs/zh-CN/docs/sql-manual/sql-reference/Utility-Statements/SWITCH.md
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
Labels: kind/docs, approved, reviewed, area/multi-catalog

#13151 [typo](docs)Sql doc link fix
  docs/en/docs/get-starting/get-starting.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-ROLLUP.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-MATERIALIZED-VIEW.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/CREATE-SYNC-JOB.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-STATUS.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-STREAM-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/CREATE-SYNC-JOB.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-STREAM-LOAD.md
Labels: kind/docs, approved, reviewed

#13194 [fix](be_ut) Fix mem_limit_test ut failure
  be/test/runtime/mem_limit_test.cpp
Labels: approved, reviewed, dev/merged-1.1.3

#13177 [typo](docs)Fix Docs Install Deploy
  docs/en/docs/install/install-deploy.md
Labels: kind/docs, approved, reviewed

#13182 [typo](docs)fix community module error url
  docs/en/community/how-to-contribute/how-to-contribute.md
  docs/en/community/release-and-verify/release-doris-manager.md
  docs/en/community/release-and-verify/release-verify.md
  docs/zh-CN/community/release-and-verify/release-verify.md
Labels: kind/docs, approved, reviewed

#13179 [fix](docs) fix trim, lower, upper function docs error
  docs/en/docs/sql-manual/sql-functions/string-functions/lower.md
  docs/en/docs/sql-manual/sql-functions/string-functions/rtrim.md
  docs/en/docs/sql-manual/sql-functions/string-functions/trim.md
  docs/en/docs/sql-manual/sql-functions/string-functions/upper.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/lower.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/rtrim.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/trim.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/upper.md
Labels: kind/docs, approved, reviewed

#13198 [fix](be_ut) fix tablet_sink_test ut failure
  be/test/exec/tablet_sink_test.cpp
Labels: dev/1.1.3

#12363 [feature-wip](unique-key-merge-on-write) fix that versions of multiple replicas are inconsistent when rebalance
  be/src/agent/task_worker_pool.cpp
  be/src/olap/task/engine_publish_version_task.cpp
Labels: reviewed

#13191 [enhancement](test) Rewrite test_update_schema_change case
  regression-test/data/schema_change_p0/test_update_schema_change.out
  regression-test/suites/schema_change_p0/test_update_schema_change.groovy
  regression-test/suites/schema_change_p0/test_update_schema_change.sql
Labels: kind/test, approved, reviewed

#13192 [fix](regression-test) fix test_segment_iterator_delete using order_qt_sql
  regression-test/data/delete_p0/test_segment_iterator_delete.out
  regression-test/suites/delete_p0/test_segment_iterator_delete.groovy
Labels: kind/test, approved, reviewed

#13185 [enhancement](regression-test) add sync for tests containing stream load
  regression-test/suites/csv_header_p0/test_csv_with_header.groovy
  regression-test/suites/load_p0/stream_load/load_json_null_to_nullable.groovy
  regression-test/suites/load_p0/stream_load/load_nullable_to_not_nullable.groovy
  regression-test/suites/load_p0/stream_load/test_stream_load.groovy
Labels: kind/test, approved, reviewed

#13201 [typo](docs)Add be Parameter Description
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#12856 [Enhancement](runtime filter)optimize for runtime filter
  be/src/exec/olap_scan_node.h
  be/src/exec/olap_scanner.cpp
  be/src/exec/olap_scanner.h
  be/src/exprs/bloomfilter_predicate.cpp
  be/src/exprs/bloomfilter_predicate.h
  be/src/exprs/create_predicate_function.h
  be/src/exprs/hybrid_set.h
  be/src/exprs/minmax_predicate.h
  be/src/exprs/runtime_filter.cpp
  be/src/exprs/runtime_filter.h
  be/src/exprs/runtime_filter_slots.h
  be/src/olap/bloom_filter_predicate.cpp
  be/src/olap/bloom_filter_predicate.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/runtime/primitive_type.cpp
  be/src/runtime/primitive_type.h
  be/src/runtime/row_batch.cpp
  be/src/util/hash_util.hpp
  be/src/vec/columns/column.h
  be/src/vec/data_types/data_type.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/scan/new_olap_scanner.h
  be/src/vec/exec/scan/vscan_node.h
  be/src/vec/exec/volap_scan_node.h
  be/src/vec/exec/volap_scanner.cpp
  be/src/vec/exec/volap_scanner.h
  be/src/vec/exprs/vbloom_predicate.cpp
  be/src/vec/exprs/vbloom_predicate.h
  be/src/vec/exprs/vexpr.h
  be/test/exprs/bloom_filter_predicate_test.cpp
  be/test/olap/bloom_filter_column_predicate_test.cpp
Labels: approved, area/vectorization, reviewed

#13167 [fix](string) Fix over-allocated memory for string type
  be/src/olap/wrapper_field.cpp
Labels: approved, reviewed, dev/1.1.3

#13203 [typo](docs) fix the bad link of delete-recover.md
  docs/zh-CN/docs/admin-manual/data-admin/delete-recover.md
Labels: kind/docs, approved, reviewed

#13196 [chore](be config) remove config use_mmap_allocate_chunk
  be/src/common/config.h
  be/src/runtime/memory/system_allocator.cpp
  be/test/runtime/memory/chunk_allocator_test.cpp
  be/test/runtime/memory/system_allocator_test.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#13175 [typo](docs)Fix Docs 404 Url
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-PARTITION.md
Labels: kind/docs, approved, reviewed

#13206 [fix](Nereids) plan broadcast join for right semi join by mistake
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/JoinType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/JoinUtils.java
Labels: approved, reviewed, area/nereids

#13136 [Enhancement](statistics) optimize the default configuration related to statistics, etc.
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyzeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/clone/ColocateTableCheckerAndBalancer.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/policy/PolicyMgr.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsJob.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsJobManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsJobScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsTask.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/StatisticsJobSchedulerTest.java
Labels: approved, reviewed

#13189 [fix](rowset) fix that rowset writer doesn't process the return value , which may result in data loss
  be/src/olap/rowset/beta_rowset_writer.cpp
Labels: approved, reviewed, dev/1.1.3

#13162 [fix](be) Open the project expressions properly.
  be/src/exec/exec_node.cpp
  regression-test/suites/correctness/test_view_varchar_length.groovy
Labels: kind/test, approved, reviewed

#13209 [Regression](outfile) Fix concurrency test failure caused by outfile
  regression-test/suites/export_p0/test_outfile.groovy
  regression-test/suites/export_p0/test_outfile_expr.groovy
  regression-test/suites/export_p0/test_outfile_parquet.groovy
  regression-test/suites/export_p0/test_outfile_separator.groovy
Labels: kind/test, approved, reviewed

#13210 [enhancement](regression-test) add sync for unique table debug test
  regression-test/suites/data_model_p0/unique/test_unique_table_debug_data.groovy
Labels: kind/test

#13183 [schema change](fix) fix coredump of schema change
  be/src/vec/olap/olap_data_convertor.cpp
Labels: approved, area/vectorization, reviewed

#13208 [fix](test) resolve load in tpch_sf100_unique_p2 and tpch_sf10_unique_p2
  regression-test/suites/tpch_sf100_unique_p2/load_four_step/load.groovy
  regression-test/suites/tpch_sf100_unique_p2/load_one_step/load.groovy
  regression-test/suites/tpch_sf100_unique_p2/load_three_step/load.groovy
  regression-test/suites/tpch_sf100_unique_p2/load_two_step/load.groovy
  regression-test/suites/tpch_sf10_unique_p2/load_four_step/load.groovy
  regression-test/suites/tpch_sf10_unique_p2/load_one_step/load.groovy
  regression-test/suites/tpch_sf10_unique_p2/load_three_step/load.groovy
  regression-test/suites/tpch_sf10_unique_p2/load_two_step/load.groovy
Labels: kind/test

#13217 [fix](be_ut) fix endless loop in parquet scan when do parquet_scanner_test ut and es_http_scan_node_test failure
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/test/exec/parquet_scanner_test.cpp
Labels: approved, reviewed, dev/1.1.3

#13222 [chore](release build) copy license and notice file to output folder and strip debug info from meta tool
  be/src/tools/CMakeLists.txt
  build.sh
Labels: approved, reviewed

#13219 [compaction](http_action) enable be run manual compaction concurrently
  be/src/http/action/compaction_action.cpp
  be/src/http/action/compaction_action.h
Labels: approved, reviewed

#13211 [fix](sort)should not change resolvedTupleExprs in toThrift method
  fe/fe-core/src/main/java/org/apache/doris/planner/SortNode.java
Labels: area/planner, approved, reviewed, dev/1.1.3

#13212 [feature-wip](multi-catalog) Optimize the performance of boolean & dictionary decoding
  be/src/vec/exec/format/parquet/parquet_common.cpp
  be/src/vec/exec/format/parquet/parquet_common.h
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#13027 [feature-wip](new-scan) Add new ES scanner and new ES scan node
  be/src/exec/exec_node.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/scan/new_es_scan_node.cpp
  be/src/vec/exec/scan/new_es_scan_node.h
  be/src/vec/exec/scan/new_es_scanner.cpp
  be/src/vec/exec/scan/new_es_scanner.h
  be/src/vec/exec/scan/new_odbc_scanner.cpp
Labels: approved, area/vectorization, reviewed

#13074 [Bug](array-type) Fix memory buffer overflow
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/column_reader.h
  be/src/olap/rowset/segment_v2/column_writer.cpp
  regression-test/data/query_p0/sql_functions/array_functions/sql/q03.out
  regression-test/suites/query_p0/sql_functions/array_functions/sql/q03.sql
Labels: kind/test, approved, reviewed

#13088 [refractor](vectorized) refractor some insert_xxx functions
  be/src/vec/columns/column_vector.h
  be/src/vec/columns/predicate_column.h
Labels: approved, area/vectorization, reviewed

#13091 [feature](nereids) dump physical tree and memo
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpec.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalDistribute.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalFilter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalHashJoin.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatsDeriveResult.java
Labels: approved, reviewed, area/nereids

#13207 [Improvement](runtimefilter) DO NOT allocate memory for bbf in prepare phase
  be/src/exprs/bloomfilter_predicate.h
  be/src/exprs/runtime_filter.cpp
  be/src/exprs/runtime_filter.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/runtime_filter_mgr.h
Labels: approved, reviewed, dev/1.1.4

#13214 [Improvement](like function) avoid to convert const column to full column
  be/src/vec/functions/like.cpp
  be/src/vec/functions/like.h
Labels: approved, area/sql/function, area/vectorization, reviewed

#13237 [typo](docs)add hive-bitmap compile and package des
  docs/en/community/developer-guide/fe-idea-dev.md
  docs/en/docs/data-operate/import/import-way/spark-load-manual.md
  docs/en/docs/ecosystem/external-table/hive-bitmap-udf.md
  docs/zh-CN/community/developer-guide/fe-idea-dev.md
  docs/zh-CN/docs/data-operate/import/import-way/spark-load-manual.md
  docs/zh-CN/docs/ecosystem/external-table/hive-bitmap-udf.md
Labels: kind/docs, approved, reviewed

#13220 [Bug](replace function) fix be infinite loop and oom when use replace with an empty old str
  be/src/vec/functions/function_string.h
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function.groovy
Labels: kind/test, approved, area/sql/function, area/vectorization, reviewed, bug/sqlsmith, dev/1.1.3

#13234 [improvement](test) set default value of parallel config items to 10
  regression-test/framework/src/main/groovy/org/apache/doris/regression/Config.groovy
Labels: kind/test, approved, reviewed

#13229 [improvement](mysql-to-doris)Fully resolved Mysql external table issues
  extension/mysql_to_doris/README.md
  extension/mysql_to_doris/all_tables.sh
  extension/mysql_to_doris/bin/e_auto.sh
  extension/mysql_to_doris/bin/e_mysql_to_doris.sh
  extension/mysql_to_doris/conf/doris_tables
  extension/mysql_to_doris/conf/mysql_tables
  extension/mysql_to_doris/lib/mysql_to_doris.sh
  extension/mysql_to_doris/user_define_tables.sh
Labels: approved, reviewed

#13218 [fix](statstics) Incorrectly using the number of buckets to determine whether the table is partitioned
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsManager.java
Labels: area/planner

#13163 [regression](load)Open broker load regression test
  regression-test/conf/regression-conf.groovy
  regression-test/suites/load_p0/broker_load/test_broker_load.groovy
Labels: kind/test, reviewed, area/multi-catalog

#13271 [fix](regression) Remove unstable regression test for nereids
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q21.groovy
Labels: kind/test

#13215 [typo](docs)fix 404 error url
  docs/en/docs/admin-manual/maint-monitor/metadata-operation.md
  docs/en/docs/advanced/alter-table/schema-change.md
  docs/en/docs/ecosystem/logstash.md
  docs/zh-CN/docs/data-operate/export/outfile.md
  docs/zh-CN/docs/ecosystem/logstash.md
Labels: kind/docs, approved, reviewed

#13278 [improvement](datax)And ali datax unified configuration naming, modify maxBatchSize to batchSize
  extension/DataX/doriswriter/doc/doriswriter.md
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/Keys.java
  extension/DataX/doriswriter/src/test/java/com/alibaba/datax/plugin/writer/doriswriter/TestDorisWriterLoad.java
Labels: approved, reviewed

#13263 [fix](new-scann) scanner may be marked close twice
  be/src/vec/exec/scan/scanner_context.cpp
  be/src/vec/exec/scan/vscanner.h
Labels: kind/fix, approved, area/vectorization, reviewed

#13169 [typo](docs) Fix the jump link 404 in basic usage.md
  docs/en/docs/data-table/basic-usage.md
  docs/zh-CN/docs/data-table/basic-usage.md
Labels: kind/docs, approved, reviewed

#13250 [fix](olap) fix core dump caused by LikeColumnPredicate with nullable…
  be/src/olap/like_column_predicate.cpp
  regression-test/data/correctness_p0/test_like_predicate_with_nullable.out
  regression-test/suites/correctness_p0/test_like_predicate_with_nullable.groovy
Labels: kind/test, approved, reviewed

#13149 [typo](docs)Fix FE Configuration Jump Link 404
  docs/en/docs/admin-manual/http-actions/fe/table-schema-action.md
Labels: kind/docs, approved, reviewed

#13176 [typo](docs)Fix Docs Error Urls
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-REPLACE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-ALTER-TABLE-MATERIALIZED-VIEW.md
Labels: kind/docs, approved, reviewed

#13225 [fix](array-type) fix get_data_at for zero element array
  be/src/vec/columns/column_array.cpp
  be/src/vec/exprs/vliteral.cpp
Labels: approved, area/array-type, area/vectorization, reviewed

#13280 [typo](docs)Modification instructions and examples for adding schema change key columns
  docs/en/docs/advanced/alter-table/schema-change.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-COLUMN.md
  docs/zh-CN/docs/advanced/alter-table/schema-change.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-COLUMN.md
Labels: kind/docs

#13205 [regression-test](unique) Check the table version upper 1 before select operation.
  regression-test/suites/primary_index/ssb_unique_load_zstd_p0/four/load_four_step.groovy
  regression-test/suites/primary_index/ssb_unique_load_zstd_p0/one/load_one_step.groovy
  regression-test/suites/primary_index/ssb_unique_load_zstd_p0/three/load_three_step.groovy
  regression-test/suites/primary_index/ssb_unique_load_zstd_p0/two/load_two_step.groovy
Labels: kind/test

#13078 [typo](docs)add orthogonal bitmap function note.
  docs/en/docs/advanced/orthogonal-bitmap-manual.md
  docs/zh-CN/docs/advanced/orthogonal-bitmap-manual.md
Labels: kind/docs, approved, reviewed

#13238 [Bug](predicate) Cover all const predicates in scan node
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/functions/like.h
Labels: area/sql/function, area/vectorization

#13276 [function](datev2) Complements for datev2 functions
  gensrc/script/doris_builtins_functions.py
  regression-test/data/correctness_p0/test_outer_join_with_window_function_datev2.out
  regression-test/suites/correctness_p0/test_outer_join_with_window_function_datev2.groovy
Labels: kind/test, area/sql/function

#13041 [docs](broker load) add doc for property load_parallelism
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
Labels: kind/docs, approved, reviewed

#13262 [enhancement](memtracker) Add independent and unique scanner mem tracker for each query
  be/src/runtime/memory/mem_tracker_task_pool.cpp
  be/src/runtime/memory/mem_tracker_task_pool.h
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/runtime/thread_context.cpp
  be/src/runtime/thread_context.h
  be/src/vec/exec/scan/new_es_scan_node.cpp
  be/src/vec/exec/scan/new_es_scan_node.h
  be/src/vec/exec/scan/new_es_scanner.cpp
  be/src/vec/exec/scan/new_es_scanner.h
  be/src/vec/exec/scan/new_file_arrow_scanner.cpp
  be/src/vec/exec/scan/new_file_arrow_scanner.h
  be/src/vec/exec/scan/new_file_scan_node.cpp
  be/src/vec/exec/scan/new_file_scan_node.h
  be/src/vec/exec/scan/new_file_scanner.cpp
  be/src/vec/exec/scan/new_file_scanner.h
  be/src/vec/exec/scan/new_file_text_scanner.cpp
  be/src/vec/exec/scan/new_file_text_scanner.h
  be/src/vec/exec/scan/new_jdbc_scan_node.cpp
  be/src/vec/exec/scan/new_jdbc_scan_node.h
  be/src/vec/exec/scan/new_jdbc_scanner.cpp
  be/src/vec/exec/scan/new_jdbc_scanner.h
  be/src/vec/exec/scan/new_odbc_scan_node.cpp
  be/src/vec/exec/scan/new_odbc_scan_node.h
  be/src/vec/exec/scan/new_odbc_scanner.cpp
  be/src/vec/exec/scan/new_odbc_scanner.h
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scan_node.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/scan/new_olap_scanner.h
  be/src/vec/exec/scan/scanner_scheduler.cpp
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/src/vec/exec/scan/vfile_scanner.h
  be/src/vec/exec/scan/vscanner.cpp
  be/src/vec/exec/scan/vscanner.h
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/exec/volap_scan_node.h
  be/src/vec/exec/volap_scanner.cpp
  be/src/vec/exec/volap_scanner.h
Labels: area/memory-consumption, area/vectorization

#13300 [fix](sort)should not change resolvedTupleExprs in toThrift method
  fe/fe-core/src/main/java/org/apache/doris/planner/SortNode.java
Labels: dev/1.1.4

#13292 [improvement](config) set enable_local_exchange default value to true
  be/src/vec/sink/vdata_stream_sender.h
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  tools/tpch-tools/queries/q3.sql
Labels: approved, area/vectorization, reviewed

#12993 [community](asf) add branch-1.1-lts protection
  .asf.yaml
Labels: reviewed

#13039 [Vectorized][Function] support date_trunc and countequal function
  be/src/vec/functions/array/function_array_index.cpp
  be/src/vec/functions/array/function_array_index.h
  be/src/vec/functions/function_timestamp.cpp
  be/src/vec/runtime/vdatetime_value.cpp
  be/src/vec/runtime/vdatetime_value.h
  be/test/vec/function/function_time_test.cpp
  docs/en/docs/sql-manual/sql-functions/array-functions/countequal.md
  docs/en/docs/sql-manual/sql-functions/date-time-functions/date_trunc.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/countequal.md
  docs/zh-CN/docs/sql-manual/sql-functions/date-time-functions/date_trunc.md
  gensrc/script/doris_builtins_functions.py
Labels: kind/docs, approved, area/sql/function, area/vectorization, reviewed

#13301 [enhancement](memory) Print memory usage log when memory allocation fails
  be/src/runtime/memory/system_allocator.cpp
  be/src/vec/common/allocator.h
Labels: area/storage/in-memory, approved, area/vectorization, reviewed

#13296 [typo](docs)Fix a document problem
  docs/en/docs/data-table/data-partition.md
  docs/zh-CN/docs/data-table/data-partition.md
Labels: kind/docs, approved, reviewed

#13255 [feature](config)Add hide config to hide config in webserver for safety.
  be/src/common/config.h
  be/src/http/default_path_handlers.cpp
Labels: approved, reviewed

#13129 jsonb parse function and load
  be/src/exprs/anyval_util.cpp
  be/src/util/jsonb_parser.h
  be/src/util/jsonb_writer.h
  be/src/vec/CMakeLists.txt
  be/src/vec/functions/function_jsonb.cpp
  be/src/vec/functions/simple_function_factory.h
  be/src/vec/sink/vtablet_sink.cpp
  be/test/CMakeLists.txt
  be/test/vec/function/function_jsonb_test.cpp
  be/test/vec/function/function_test_util.h
  fe/fe-core/src/main/java/org/apache/doris/planner/LoadScanNode.java
  gensrc/script/doris_builtins_functions.py
Labels: area/planner, area/sql/function, area/vectorization

#13290 [cleanup](config) remove unused config push_write_mbytes_per_sec
  be/src/common/config.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/test/olap/rowset/segment_v2/segment_test.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/en/docs/data-operate/import/import-way/routine-load-manual.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/data-operate/import/import-way/routine-load-manual.md
Labels: kind/docs

#13282 [feature-wip](multi-catalog) support csv reader
  be/src/io/file_factory.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/format/csv/vcsv_reader.cpp
  be/src/vec/exec/format/csv/vcsv_reader.h
  be/src/vec/exec/format/generic_reader.h
  be/src/vec/exec/scan/vfile_scanner.cpp
Labels: area/vectorization, area/multi-catalog

#13257 [feature-wip](multi-catalog) optimize parquet profile & add null map timer
  be/src/util/runtime_profile.h
  be/src/vec/exec/format/parquet/parquet_common.h
  be/src/vec/exec/format/parquet/vparquet_column_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_column_reader.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.h
Labels: area/vectorization, reviewed, area/multi-catalog

#13184 [feature-wip](parquet-reader) fix string test and support decimal64
  be/src/vec/exec/format/parquet/parquet_pred_cmp.h
  be/src/vec/exec/format/parquet/vparquet_page_index.cpp
  be/src/vec/exec/format/parquet/vparquet_page_index.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
Labels: area/vectorization, area/multi-catalog

#13286 [Improvement](join) refine prefetch strategy
  be/src/vec/common/columns_hashing_impl.h
  be/src/vec/common/hash_table/hash_table.h
  be/src/vec/exec/join/vhash_join_node.cpp
Labels: area/vectorization

#13298 [fix](bitmap_intersect) fix `bitmap_intersect` result error
  be/src/exprs/bitmap_function.cpp
  regression-test/data/query_p0/sql_functions/aggregate_functions/test_aggregate_all_functions.out
  regression-test/suites/query_p0/sql_functions/aggregate_functions/test_aggregate_all_functions.groovy
Labels: kind/test, dev/1.1.4

#13320 [Enhancement](function) optimize decimal minus and plus
  be/src/vec/functions/minus.cpp
  be/src/vec/functions/plus.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#13333 [fix](regression) rowsDisjointWindows output is not ordered
  regression-test/data/query_p0/sql_functions/window_functions/sql/rowsDisjointWindows.out
  regression-test/suites/query_p0/sql_functions/window_functions/sql/rowsDisjointWindows.sql
Labels: kind/test

#13317 [fix](test) make output of test stable
  regression-test/data/github_events_p2/sql/repositoriesWithTheHighestGrowthYoY.out
  regression-test/data/github_events_p2/sql/repositoriesWithTheMaximumAmountOfIssues1.out
  regression-test/data/github_events_p2/sql/repositoriesWithTheMaximumAmountOfIssues2.out
  regression-test/suites/github_events_p2/sql/proportionsBetweenStarsAndForks2.sql
  regression-test/suites/github_events_p2/sql/repositoriesWithTheHighestGrowthYoY.sql
  regression-test/suites/github_events_p2/sql/repositoriesWithTheMaximumAmountOfIssues1.sql
  regression-test/suites/github_events_p2/sql/repositoriesWithTheMaximumAmountOfIssues2.sql
  regression-test/suites/query_p0/cache/partition_cache.groovy
Labels: kind/test

#13310 [regression](bloom filter) add test case for is not null
  regression-test/data/bloom_filter_p0/test_bloom_filter_is_not_null.out
  regression-test/suites/bloom_filter_p0/test_bloom_filter_is_not_null.groovy
Labels: kind/test, approved, reviewed

#13305 [bugfix](compatibility) Fix a compatibility problem case by enum value changed
  gensrc/thrift/Exprs.thrift
Labels: reviewed

#13306 [Bug](bloomfilter) fix concurrency bug caused by bloom filter
  be/src/runtime/fragment_mgr.cpp
Labels: approved, reviewed

#13302 [enhancement](memtracker) Print query memory usage log every second when `memory_verbose_track` is enabled
  be/src/runtime/memory/mem_tracker_task_pool.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/runtime/thread_context.h
  be/src/service/doris_main.cpp
Labels: area/memory-consumption, reviewed

#13289 [improvement](olap) cache value of has_null in ColumnNullable
  be/src/olap/like_column_predicate.cpp
  be/src/olap/null_predicate.cpp
  be/src/util/simd/bits.h
  be/src/vec/columns/column_nullable.cpp
  be/src/vec/columns/column_nullable.h
  regression-test/data/correctness_p0/test_null_predicate.out
  regression-test/suites/correctness_p0/test_null_predicate.groovy
Labels: kind/test, area/vectorization

#12781 [Enhancement](broker)Doris support obs broker load
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExportStmt.java
  fs_brokers/apache_hdfs_broker/pom.xml
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
Labels: area/planner, approved, reviewed

#12498 [feature](restore) add restore new property 'reserve_dynamic_partition_enable'
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/RESTORE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Backup-and-Restore/RESTORE.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/RestoreStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowRestoreStmt.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupHandler.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableProperty.java
  fe/fe-core/src/test/java/org/apache/doris/backup/RestoreJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/OlapTableTest.java
Labels: kind/docs, area/planner, approved, reviewed

#13316 [Bug](predicate) fix nullptr in scan node
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/volap_scan_node.cpp
Labels: area/vectorization

#13293 [improve](Nereids): avoid duplicated stats derive.
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/DeriveStatsJob.java
Labels: approved, reviewed, area/nereids

#13216 [improve](Nereids): split otherJoinCondition with List.
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscom.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinCommute.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscom.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinLogicalJoinTranspose.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinLogicalJoinTransposeProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinSemiJoinTranspose.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/ExpressionRewrite.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/implementation/LogicalJoinToHashJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/implementation/LogicalJoinToNestedLoopJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateOuter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ExistsApplyToJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/FindHashConditionForJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/InApplyToJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MultiJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushFilterInsideJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownFilterThroughJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownJoinOtherCondition.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ScalarApplyToJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/algebra/Join.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalApply.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/AbstractPhysicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalHashJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalNestedLoopJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/ExpressionUtils.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/JoinUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/memo/MemoRewriteTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/properties/ChildOutputPropertyDeriverTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/properties/RequestPropertyDeriverTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscomTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/FindHashConditionForJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/LimitPushDownTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushFilterInsideJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownFilterThroughJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownJoinOtherConditionTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/sqltest/SqlTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanEqualsTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanToStringTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/AnalyzeSubQueryTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/AnalyzeWhereSubqueryTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/LogicalPlanBuilder.java
Labels: approved, reviewed, area/nereids

#13332 [fix](hash)update_hashes_with_value method should handle if input value is null
  be/src/vec/columns/column_decimal.cpp
  be/src/vec/columns/column_string.h
  be/src/vec/columns/column_vector.cpp
Labels: approved, area/vectorization, reviewed

#13342 [fix](ci) rename the checks name for branch-1.1
  .asf.yaml
Labels: approved, reviewed

#13315 [Bug](function) fix core dump on case when have 1000 condition
  be/src/vec/functions/function_case.h
  regression-test/data/query/sql_functions/case_function/test_case_function.out
  regression-test/suites/query/sql_functions/case_function/test_case_function.groovy
Labels: kind/test, area/sql/function, area/vectorization, dev/1.1.4

#13267 [fix](DynamicPartition) Not check max_dynamic_partition_num when disable DynamicPartition
  fe/fe-core/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
Labels: approved, area/dynamic-partition, reviewed

#13233 [bugfix](datatimev2) fix value column loss precision and scale
  be/src/olap/field.h
Labels: reviewed

#13335 [Improvement](join) compute hash values by vectorized way
  be/src/vec/common/columns_hashing.h
  be/src/vec/common/columns_hashing_impl.h
  be/src/vec/common/hash_table/hash_table.h
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
Labels: area/vectorization

#13337 [refactor](Nereids): refactor UT by using Pattern and rename to remove consecutive
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeFilters.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeLimits.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeProjects.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ScalarApplyToJoin.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/ExtractSingleTableExpressionFromDisjunctionTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/MergeFiltersTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/MergeLimitsTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/MergeProjectsTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/NormalizeAggregateTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownFilterThroughAggregationTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/expressions/ViewTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/LogicalPlanBuilder.java
Labels: approved, reviewed, area/nereids

#13111 [Enhancement](load) remove load mem limit
  docs/en/docs/advanced/variables.md
  docs/en/docs/sql-manual/sql-reference/Account-Management-Statements/SET-PROPERTY.md
  docs/zh-CN/docs/advanced/variables.md
  docs/zh-CN/docs/sql-manual/sql-reference/Account-Management-Statements/SET-PROPERTY.md
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/CommonUserProperties.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/PaloAuth.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/UserProperty.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/UserPropertyMgr.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/task/StreamLoadTask.java
  fe/fe-core/src/test/java/org/apache/doris/planner/ResourceTagQueryTest.java
  fe/fe-core/src/test/java/org/apache/doris/qe/SessionVariablesTest.java
Labels: area/load, kind/docs, approved, area/routine load, reviewed

#13344 [chore](build release) remove doris home and user info from doris_be --version output
  gensrc/script/gen_build_version.sh
Labels: approved, reviewed, dev/1.1.4

#13228 [feature](agg) support `any`,`any_value` agg functions.
  be/src/exprs/aggregate_functions.cpp
  be/src/exprs/aggregate_functions.h
  be/src/vec/aggregate_functions/aggregate_function_min_max.cpp
  be/src/vec/aggregate_functions/aggregate_function_min_max.h
  docs/en/docs/sql-manual/sql-functions/aggregate-functions/any_value.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/aggregate-functions/any_value.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  regression-test/data/query_p0/aggregate/aggregate.out
  regression-test/suites/query_p0/aggregate/aggregate.groovy
Labels: kind/docs, kind/test, approved, area/vectorization, reviewed

#13193 [feature](function) support `initcap` string function.
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/util/simd/vstring_function.h
  be/src/vec/functions/function_string.cpp
  docs/en/docs/sql-manual/sql-functions/string-functions/initcap.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/initcap.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function.groovy
Labels: kind/docs, kind/test, area/sql/function, area/vectorization, reviewed

#12786 [fix](array-type) fix the wrong result when import array element with…
  be/src/vec/data_types/data_type_array.cpp
  regression-test/data/load_p0/broker_load/simple_array.data
  regression-test/data/load_p0/broker_load/test_array_load.out
Labels: approved, area/array-type, area/vectorization, reviewed

#13227 [fix](join) should call getOutputTblRefIds to get child's tuple info
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  regression-test/data/query/join/test_join3.out
Labels: area/planner, dev/1.1.3

#13358 [Doc](Readme)Update the 1.1.3 release note.
  README.md
Labels: kind/docs, approved, reviewed

#13319 [improvemnt](doc) refine doc for unique key data model
  docs/en/docs/data-table/data-model.md
  docs/zh-CN/docs/data-table/data-model.md
Labels: kind/docs, approved, reviewed

#13125 [fix](sort) fix nullable column sorting incorrectly
  be/src/vec/core/sort_block.h
  regression-test/data/correctness_p0/test_sort.out
  regression-test/suites/correctness_p0/test_sort.groovy
Labels: kind/test, area/vectorization, reviewed

#13312 [ResourceTag](tag) Unified tag format verification
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/resource/Tag.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/ReplicaAllocationTest.java
Labels: approved, reviewed

#10170 [Enhancement](optimizer) Support select table sample
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/SELECT.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/SELECT.md
  fe/fe-core/pom.xml
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/BaseTableRef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableRef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableSample.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TupleDescriptor.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/SelectStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/mv/SelectRollupTest.java
Labels: kind/docs, area/planner, approved, reviewed, area/statistics, area/nereids

#13303 [enhancement](statistics) Support to drop table or partition statistics
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterTableStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropTableStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/Statistics.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/TableStats.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/StatisticsManagerTest.java
Labels: area/planner

#13273 [improvement](schema change) avoid using column ptr swap
  be/src/olap/schema_change.cpp
  be/src/vec/columns/column_nullable.h
  regression-test/data/schema_change_p0/test_alter_table_column_nullable.out
  regression-test/suites/schema_change_p0/test_alter_table_column_nullable.groovy
Labels: kind/test, area/vectorization, reviewed

#13336 [fix](jsonreader) teach jsonreader to release memory
  be/src/exec/json_scanner.cpp
  be/src/exec/json_scanner.h
Labels: approved, reviewed, dev/1.1.4

#13353 [feature](Nereids): use Multi join to rearrange join to eliminate cross join by using predicate.
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/FindHashConditionForJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MultiJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ReorderJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/JoinType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/PlanType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalFilter.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/ssb/SSBJoinReorderTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/JoinReorderTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/ReorderJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/sqltest/MultiJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/AnalyzeWhereSubqueryTest.java
Labels: approved, reviewed, area/nereids

#13348 [Improvement](predicates) Use datev2 as the compatible type between string and datev2
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StringLiteral.java
Labels: area/planner, approved, reviewed

#13346 [Bug](function) Fix constant predicate evaluation
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/functions/function_coalesce.cpp
  regression-test/data/correctness_p0/test_pushdown_constant.out
  regression-test/suites/correctness_p0/test_pushdown_constant.groovy
Labels: kind/test, approved, area/sql/function, area/vectorization, reviewed, bug/sqlsmith

#13381 [Fix](agg) fix bitmap agg core dump when phmap pointer assert alignment
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vaggregation_node.h
Labels: area/vectorization, reviewed, bug/sqlsmith

#13247 [fix](agg)count function should return 0 for null value
  be/src/vec/aggregate_functions/aggregate_function_count.h
Labels: area/vectorization, reviewed
