Repository apache/doris, pull requests merged in 2022-11, with the labels that each got.

#13691 [fix](planner) infer predicate could generate predicates in another scope
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  regression-test/suites/correctness/test_infer_predicate.groovy
Labels: area/planner, kind/test, reviewed, dev/1.1.4

#13829 [fix](thrift) fix that thrift struct sequence number is not consistent in 1.1-lts and master
  gensrc/thrift/PaloInternalService.thrift
Labels: approved, reviewed

#13819 [Bug](function) change log fatal to log warning to avoid code dump on nullable double column cast to decimal column
  be/src/vec/data_types/data_type_decimal.cpp
  be/src/vec/data_types/data_type_decimal.h
Labels: area/vectorization

#13720 [enhancement](explain) add cardinality to explain string and explain graph
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AggregationNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AnalyticEvalNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AssertNumRowsNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/CrossJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/EmptySetNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SelectNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SetOperationNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SortNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/TableFunctionNode.java
Labels: area/planner, approved, reviewed, area/nereids

#13840 [Bug](delete) Fix wrong delete operation
  be/src/olap/column_predicate.h
  be/src/olap/comparison_predicate.h
  be/src/olap/in_list_predicate.h
  be/src/olap/null_predicate.h
  be/src/olap/rowset/segment_v2/column_reader.cpp
  regression-test/data/delete_p0/test_zone_map_delete.out
  regression-test/suites/delete_p0/test_zone_map_delete.groovy
Labels: kind/test, approved, reviewed

#13837 [Bug](test) fix some test cases with random results
  regression-test/data/query_p0/sql_functions/window_functions/test_window_function.out
  regression-test/suites/query_p0/sql_functions/window_functions/test_window_function.groovy
Labels: kind/test

#13646 [enhancement](metric)Add metric for exec_state prepare function
  be/src/runtime/fragment_mgr.cpp
Labels: kind/docs, reviewed

#13833 Revert "[enhancement](compaction) opt compaction task producer and quick compaction"
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/olap/base_compaction.cpp
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  be/src/olap/cumulative_compaction.cpp
  be/src/olap/cumulative_compaction_policy.cpp
  be/src/olap/cumulative_compaction_policy.h
  be/src/olap/delta_writer.cpp
  be/src/olap/merger.cpp
  be/src/olap/olap_server.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/test/olap/cumulative_compaction_policy_test.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, kind/revert, reviewed

#13805 [feature](Nereids): add rule for matching plan into HyperGraph.
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinReorderContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/joinreorder/HyperGraphJoinReorder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/joinreorder/HyperGraphJoinReorderGroupPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/joinreorder/hypergraph/Edge.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/joinreorder/hypergraph/HyperGraph.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/joinreorder/hypergraph/Node.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/joinreorder/hypergraph/Receiver.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/JoinReorderTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/joinreorder/HyperGraphJoinReorderGroupPlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/joinreorder/HyperGraphJoinReorderTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/joinreorder/hypergraph/HyperGraphTest.java
Labels: area/nereids

#13808 [fix](analytic) fix coredump cause by empty analytic parameter types
  be/src/vec/exprs/vectorized_agg_fn.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionParams.java
  gensrc/thrift/Exprs.thrift
Labels: area/planner, approved, area/vectorization, reviewed

#13822 [Bugfix](upgrade) Fix 1.1 upgrade 1.2 coredump when schema change
  be/src/olap/schema_change.cpp
Labels: kind/api-change

#13756 [feature](nereids) add rule for semi/anti join exploration, when there is project between them
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinSemiJoinTransposeProject.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinSemiJoinTransposeProjectTest.java
Labels: area/nereids

#13844 [feature](syntax) support SELECT * EXCEPT
  docs/en/docs/data-table/basic-usage.md
  docs/zh-CN/docs/data-table/basic-usage.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectList.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/SelectStmtTest.java
  regression-test/suites/correctness/test_select_except.groovy
Labels: kind/docs, area/planner, kind/test, approved, reviewed

#13835 [enhancement](Nereids) add merge project rule to column prune rule set
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ColumnPruning.java
Labels: reviewed, area/nereids

#13845 [enhancement](nereids) use join estimation v2 only when stats derive v2 is enable
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/JoinEstimation.java
Labels: approved, reviewed, area/nereids

#13854 [javaudf](string) Fix string format in java udf
  be/src/vec/aggregate_functions/aggregate_function_java_udaf.h
  be/src/vec/functions/function_java_udf.cpp
  fe/java-udf/src/main/java/org/apache/doris/udf/UdafExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfUtils.java
  fe/java-udf/src/test/java/org/apache/doris/udf/UdfExecutorTest.java
  regression-test/data/javaudf_p0/test_javaudf_string.out
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/StringTest.java
  regression-test/suites/javaudf_p0/test_javaudf_string.groovy
Labels: kind/test, area/sql/function, area/vectorization

#13781 [improvement](memory) simplify memory config related to tcmalloc
  be/src/common/config.h
  be/src/common/daemon.cpp
  be/src/service/doris_main.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, kind/api-change, approved, reviewed, kind/behavior-changed, dev/1.1.4

#13803 [fix](spark load)The where condition does not take effect when spark load loads the file
  fe/spark-dpp/src/main/java/org/apache/doris/load/loadv2/dpp/SparkDpp.java
Labels: area/spark-load, reviewed

#13874 [enhancement](olap scanner) Scanner row bytes buffer is too small bug
  be/src/exec/olap_scanner.cpp
Labels: approved, reviewed, dev/1.1.4

#13870 [minor](log) remove some e.printStackTrace()
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/common/GenericPool.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/SmallFileMgr.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FEFunctions.java
Labels: approved, area/sql/function, reviewed

#13860 [enhancement](test) retry start be or fe when port has been bind.
  fe/fe-core/src/test/java/org/apache/doris/utframe/UtFrameUtils.java
Labels: approved, reviewed

#13853 [docs](tablet-docs) fix the tablet-repair-and-balance.md doucument.
  docs/en/docs/admin-manual/maint-monitor/tablet-repair-and-balance.md
  docs/zh-CN/docs/admin-manual/maint-monitor/tablet-repair-and-balance.md
Labels: kind/docs, approved, reviewed

#13834 [doc](spark-doris-connetor)Add spark Doris connector to support streamload documentation
  docs/en/docs/ecosystem/spark-doris-connector.md
  docs/zh-CN/docs/ecosystem/spark-doris-connector.md
Labels: kind/docs, approved, reviewed

#13866 [fix](join)ColumnNullable need handle const column with nullable const value
  be/src/vec/columns/column_nullable.cpp
  regression-test/data/correctness_p0/test_outer_join_with_cross_join.out
  regression-test/suites/correctness_p0/test_outer_join_with_cross_join.groovy
Labels: kind/test, area/vectorization

#13862 [enhancement](profile) add profile to show column predicates
  be/src/olap/bloom_filter_predicate.h
  be/src/olap/column_predicate.h
  be/src/olap/comparison_predicate.h
  be/src/olap/in_list_predicate.h
  be/src/olap/iterators.h
  be/src/olap/like_column_predicate.h
  be/src/olap/null_predicate.h
  be/src/olap/reader.h
  be/src/olap/rowset/beta_rowset_reader.h
  be/src/olap/rowset/rowset_reader.h
  be/src/olap/rowset/segment_v2/segment_iterator.h
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/scan/new_olap_scanner.h
  be/src/vec/olap/block_reader.h
  be/src/vec/olap/vcollect_iterator.h
  be/src/vec/olap/vgeneric_iterators.cpp
Labels: area/vectorization

#13755 [fix](dynamic-partition) fix wrong check of replication num
  docs/en/docs/advanced/partition/dynamic-partition.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/zh-CN/docs/advanced/partition/dynamic-partition.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  fe/fe-core/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/DynamicPartitionTableTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/ModifyBackendTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/DorisAssert.java
Labels: kind/fix, kind/docs, usercase

#13815 [regression](join) add right anti join with other predicate regression case
  regression-test/data/query/join/test_join.out
  regression-test/suites/query/join/test_join.groovy
Labels: kind/test, reviewed

#13830 [meta](recover) change dropInfo and RecoverInfo to GSON
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/persist/DropInfo.java
  fe/fe-core/src/main/java/org/apache/doris/persist/RecoverInfo.java
Labels: kind/meta-version-change

#13890 [chore](macOS) Fix compilation errors caused by the deprecated function
  be/src/vec/exec/format/json/new_json_reader.cpp
Labels: approved, area/vectorization, reviewed

#13886 [enhancement](Nereids) add eliminate unnecessary project rule
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriteJobExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateUnnecessaryProject.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateUnnecessaryProjectTest.java
Labels: approved, reviewed, area/nereids

#13604 [fix](fe) Inconsistent behavior for string comparison in FE and BE
  fe/fe-core/src/main/java/org/apache/doris/analysis/StringLiteral.java
  regression-test/data/query_p0/sort/sort.out
  regression-test/suites/query_p0/sort/sort.groovy
Labels: area/planner, kind/test

#13725 [enhancement](Nereids) generate correct distribution spec after project
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/ChildOutputPropertyDeriver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpecHash.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/OrderSpec.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/properties/DistributionSpecHashTest.java
Labels: approved, reviewed, area/nereids

#13898 [fix](Nereids) throw NPE when call getOutputExprIds in LogicalProperties
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/LogicalProperties.java
Labels: approved, reviewed, area/nereids

#13402 [Improve](Nereids): refactor eliminate outer join
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateOuter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateOuterJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/ExpressionUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateOuterTest.java
Labels: area/nereids

#13836 [fix](rpc) The proxy removed when rpc exception occurs is not an abnormal proxy
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/rpc/BackendServiceProxy.java
Labels: dev/1.1.4

#13869 [Vectorized](function) support topn_array function
  be/src/vec/aggregate_functions/aggregate_function_topn.cpp
  be/src/vec/aggregate_functions/aggregate_function_topn.h
  be/test/vec/aggregate_functions/agg_test.cpp
  be/test/vec/aggregate_functions/vec_window_funnel_test.cpp
  docs/en/docs/sql-manual/sql-functions/aggregate-functions/topn_array.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/aggregate-functions/topn_array.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
  regression-test/data/correctness_p0/test_select_stddev_variance_window.out
  regression-test/data/query_p0/sql_functions/aggregate_functions/test_aggregate_collect.out
  regression-test/data/query_p0/sql_functions/window_functions/test_select_stddev_variance_window.out
  regression-test/suites/correctness_p0/test_select_stddev_variance_window.groovy
  regression-test/suites/query_p0/sql_functions/aggregate_functions/test_aggregate_collect.groovy
  regression-test/suites/query_p0/sql_functions/window_functions/test_select_stddev_variance_window.groovy
Labels: kind/docs, kind/test, approved, area/vectorization, reviewed

#13900 [Enhancement](Nereids)optimize merge group in memo
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
Labels: approved, reviewed, area/nereids

#13397 [improvement](scan) speed up inserting strings into ColumnString
  be/src/olap/rowset/segment_v2/binary_plain_page.h
  be/src/vec/columns/column.h
  be/src/vec/columns/column_complex.h
  be/src/vec/columns/column_dictionary.h
  be/src/vec/columns/column_jsonb.h
  be/src/vec/columns/column_nullable.h
  be/src/vec/columns/column_string.h
  be/src/vec/columns/predicate_column.h
Labels: approved, area/vectorization, reviewed

#13887 [Opt](function) opt the function of ndv
  be/src/vec/aggregate_functions/aggregate_function_approx_count_distinct.h
  be/src/vec/columns/column_decimal.h
  be/src/vec/columns/columns_number.h
Labels: area/vectorization, reviewed

#13766 [feature](function)add regexp functions: regexp_replace_one, regexp_extract_all
  be/src/vec/functions/function_regexp.cpp
  be/test/vec/function/function_like_test.cpp
  docs/en/docs/sql-manual/sql-functions/string-functions/regexp/regexp_extract.md
  docs/en/docs/sql-manual/sql-functions/string-functions/regexp/regexp_extract_all.md
  docs/en/docs/sql-manual/sql-functions/string-functions/regexp/regexp_replace_one.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/regexp/regexp_extract_all.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/regexp/regexp_replace_one.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function_regexp.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function_regexp.groovy
Labels: kind/docs, kind/test, area/sql/function, area/vectorization

#12742 [feature](nereids) support common table expression
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/CascadesContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/StatementContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/NereidsAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundAlias.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AnalyzeRulesJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/pre/PlanPreprocessors.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CTEContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/RegisterCTE.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/PlanType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalCTE.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalSubQueryAlias.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/visitor/PlanVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/HavingClauseTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/NereidsParserTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanToStringTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/AnalyzeWhereSubqueryTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/RegisterCTETest.java
  regression-test/data/nereids_syntax_p0/cte.out
  regression-test/suites/nereids_syntax_p0/cte.groovy
Labels: kind/test, approved, reviewed, area/nereids

#13919 [Load](Sink) remove validate the column data when data is NULL
  be/src/vec/sink/vtablet_sink.cpp
Labels: area/vectorization

#13858 [feature](new-scan) support transactional insert in new scan framework
  be/src/runtime/fragment_mgr.cpp
  be/src/vec/exec/format/csv/csv_reader.cpp
  be/src/vec/exec/format/csv/csv_reader.h
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/src/vec/exprs/vcast_expr.cpp
  be/src/vec/functions/simple_function_factory.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/ArrayLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BoolLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CastExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DateLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DecimalLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FloatLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/IntLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/JsonLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LargeIntLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LiteralExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MaxLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/NullLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StringLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PrimitiveType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/main/java/org/apache/doris/qe/InsertStreamTxnExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/ArrayLiteralTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/InsertArrayStmtTest.java
  regression-test/conf/regression-conf.groovy
  regression-test/data/insert_p0/txn_insert.out
  regression-test/suites/insert_p0/txn_insert.groovy
Labels: area/planner, kind/test, area/sql/function, area/vectorization

#13908 [fix](doc) fix 404 link
  docs/zh-CN/docs/admin-manual/maint-monitor/tablet-repair-and-balance.md
Labels: kind/docs, approved, reviewed

#13897 [regression-test](query) Add the regression case of the query under the large wide table.
  regression-test/data/query/large_wide_table/large_wide_table.out
  regression-test/suites/query/large_wide_table/ddl/create.sql
  regression-test/suites/query/large_wide_table/ddl/insert.sql
  regression-test/suites/query/large_wide_table/large_wide_table.groovy
Labels: kind/test, approved, reviewed

#13895 [fix](storage) evaluate_and of ComparisonPredicateBase has logical error
  be/src/olap/comparison_predicate.h
Labels: approved, reviewed

#13885 [fix](unique-key-merge-on-write) Types don't match when calling IndexedColumnIterator::seek_at_or_after
  be/src/olap/rowset/segment_v2/indexed_column_reader.h
Labels: reviewed

#13847 [fix](sequence) fix that update table core dump with sequence column
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/scan/new_olap_scanner.h
  be/src/vec/exec/volap_scanner.cpp
  be/src/vec/exec/volap_scanner.h
  be/src/vec/olap/block_reader.cpp
  regression-test/data/data_model_p0/unique/test_unique_table_sequence.out
  regression-test/data/data_model_p0/unique/unique_key_data1.csv
  regression-test/data/data_model_p0/unique/unique_key_data2.csv
  regression-test/suites/data_model_p0/unique/test_unique_table_sequence.groovy
Labels: kind/test, approved, area/vectorization, reviewed, dev/1.1.4

#13719 [Bugfix](MV) Fixed load negative values into bitmap type materialized views successfully under non-vectorization
  be/src/exprs/bitmap_function.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateMaterializedViewStmt.java
Labels: area/planner, approved, reviewed

#13795 [enhancement](memtracker) Refactor load channel + memtable mem tracker
  be/src/common/config.h
  be/src/exec/blocking_join_node.cpp
  be/src/exec/broker_scan_node.cpp
  be/src/exec/es_http_scan_node.cpp
  be/src/exec/except_node.cpp
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/exec/hash_join_node.cpp
  be/src/exec/intersect_node.cpp
  be/src/exec/olap_scan_node.cpp
  be/src/exec/olap_scan_node.h
  be/src/exec/olap_scanner.cpp
  be/src/exec/olap_scanner.h
  be/src/olap/delta_writer.cpp
  be/src/olap/delta_writer.h
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/olap/tablet_manager.cpp
  be/src/runtime/load_channel.cpp
  be/src/runtime/load_channel.h
  be/src/runtime/load_channel_mgr.cpp
  be/src/runtime/load_channel_mgr.h
  be/src/runtime/memory/mem_tracker.h
  be/src/runtime/memory/mem_tracker_limiter.h
  be/src/runtime/memory/mem_tracker_task_pool.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/runtime/runtime_filter_mgr.cpp
  be/src/runtime/runtime_filter_mgr.h
  be/src/runtime/tablets_channel.cpp
  be/src/runtime/tablets_channel.h
  be/src/runtime/thread_context.cpp
  be/src/runtime/thread_context.h
  be/src/service/doris_main.cpp
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/vblocking_join_node.cpp
  be/src/vec/exec/vbroker_scan_node.cpp
  be/src/vec/exec/ves_http_scan_node.cpp
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/exec/vschema_scan_node.cpp
  be/test/olap/delta_writer_test.cpp
Labels: area/vectorization

#13868 [fix](function) fix coredump cause by return type mismatch of vectorized repeat function
  be/src/vec/exprs/vectorized_fn_call.cpp
Labels: kind/api-change, area/vectorization

#13827 [fix](agg)fix group by constant value bug
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/trino_p0/sql/group_by/runConstantGroupBy_order.out
Labels: area/planner

#13922 [fix](Nereids) finalize local aggregate should not turn on stream pre agg
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/implementation/LogicalAggToPhysicalHashAgg.java
Labels: approved, reviewed, area/nereids

#13434 [feature](nereids) Support authentication
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AnalyzeRulesJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/UserAuthentication.java
  regression-test/suites/account_p0/test_nereids_authentication.groovy
Labels: kind/test, approved, reviewed, area/nereids

#13871 [Feature](join) Support null aware left anti join
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/JoinOperator.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StmtRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableRef.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/JoinType.java
  fe/fe-core/src/main/java/org/apache/doris/planner/DistributedPlanColocateRule.java
  fe/fe-core/src/main/java/org/apache/doris/planner/DistributedPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/RuntimeFilterGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/ExprRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/InferFiltersRule.java
  regression-test/data/correctness_p0/test_null_aware_left_anti_join.out
  regression-test/suites/correctness_p0/test_null_aware_left_anti_join.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/explain/test_q16.groovy
Labels: area/planner, kind/test, approved, area/vectorization, reviewed, area/nereids

#13046 [Fix](Nereids)add comments to CostAndEnforcerJob and fix view test case
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/CostAndEnforcerJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/OptimizeGroupExpressionJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Group.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/ChildrenPropertiesRegulator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/EnforceMissingPropertiesHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/RequestPropertyDeriver.java
  regression-test/data/nereids_syntax_p0/view.out
  regression-test/suites/nereids_syntax_p0/view.groovy
Labels: kind/test, approved, reviewed, area/nereids

#13926 [Vectorized](function) support bitmap_to_array function
  be/src/util/bitmap_value.h
  be/src/vec/functions/function_bitmap.cpp
  docs/en/docs/sql-manual/sql-functions/bitmap-functions/bitmap_to_array.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/bitmap-functions/bitmap_to_array.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/bitmap_functions/test_bitmap_function.out
  regression-test/suites/query_p0/sql_functions/bitmap_functions/test_bitmap_function.groovy
Labels: kind/docs, kind/test, approved, area/sql/function, area/array-type, area/vectorization, reviewed

#13838 [docs](round) complement round function documentation
  docs/en/docs/sql-manual/sql-functions/math-functions/round.md
  docs/zh-CN/docs/sql-manual/sql-functions/math-functions/round.md
Labels: kind/docs, reviewed

#13925 [fix] check catalog enable exception message spelling mistake
  fe/fe-core/src/main/java/org/apache/doris/common/util/Util.java
Labels: approved, reviewed

#13326 [Enhancement](function) optimize the `upper` and `lower` functions using the simd instruction.
  be/src/vec/functions/function_string.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#13918 [revert](Nereids): revert GroupExpression Children ImmutableList.
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
Labels: area/nereids

#13731 [optimization](array-type) update the exception message when create t…
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  regression-test/suites/datatype_p0/string/test_string_basic.groovy
Labels: area/planner, kind/test, area/array-type, reviewed

#13794 [Bug](array-type) Fix array product calculate decimal type return wrong result
  be/src/vec/aggregate_functions/aggregate_function_product.h
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions_by_literal.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_by_literal.groovy
Labels: kind/test, area/array-type, area/vectorization

#13947 [chore](be web ui)upgrade jquery version to 3.6.0
  be/src/http/web_page_handler.cpp
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Labels: kind/chore

#13909 [enhancement](chore) remove debug log which is really too frequent
  be/src/olap/tablet_manager.cpp
Labels: approved, reviewed

#13792 [doc](jsonb type)add documents for JSONB datatype
  docs/en/docs/sql-manual/sql-functions/json-functions/jsonb_extract.md
  docs/en/docs/sql-manual/sql-functions/json-functions/jsonb_parse.md
  docs/en/docs/sql-manual/sql-functions/json-functions/jsonb_tutorial.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/JSONB.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/json-functions/jsonb_extract.md
  docs/zh-CN/docs/sql-manual/sql-functions/json-functions/jsonb_parse.md
  docs/zh-CN/docs/sql-manual/sql-functions/json-functions/jsonb_tutorial.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/JSONB.md
Labels: kind/docs, approved, reviewed

#13916 [BugFix](Concat) output of string concat function exceeds UINT makes crash
  be/src/vec/functions/function_string.h
  regression-test/suites/tpcds_sf1_p1/functions_test/test_string_concat_extremely_long_string.groovy
Labels: kind/test, area/sql/function, area/vectorization, bug/sqlsmith, dev/1.1.4

#13920 [Improvement](javaudf) support different date argument for date/datetime type
  be/src/vec/functions/function_java_udf.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateFunctionStmt.java
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdafExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfUtils.java
  regression-test/data/javaudf_p0/test_javaudf_date.out
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/DateTest1.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/DateTest2.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/DateTest3.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/DateTimeTest1.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/DateTimeTest2.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/DateTimeTest3.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/DoubleTest.java
  regression-test/suites/javaudf_p0/test_javaudf_date.groovy
Labels: area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed

#13896 [refactor](crossjoin) refactor cross join
  be/src/exec/exec_node.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/vblocking_join_node.cpp
  be/src/vec/exec/vblocking_join_node.h
  be/src/vec/exec/vcross_join_node.h
  be/src/vec/exec/vnested_loop_join_node.cpp
  be/src/vec/exec/vnested_loop_join_node.h
Labels: approved, area/vectorization, reviewed

#13948 [fix](meta)(recover) fix recover info persist bug
  fe/fe-core/src/main/java/org/apache/doris/persist/RecoverInfo.java
  fe/fe-core/src/test/java/org/apache/doris/persist/DropAndRecoverInfoTest.java
Labels: kind/fix, approved, reviewed

#13955 [branch-1.1](fix) avoid fatal log
  be/src/exec/olap_scan_node.cpp
Labels: usercase, dev/1.1.4

#13899 [improvement](exec) add more debug info on fragment exec error
  be/src/runtime/fragment_mgr.cpp
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: reviewed

#13746 [enhancement](multi-catalog)Persist external catalog related metadata.
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/RefreshManager.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/EsExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/EsExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/ExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/ExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/EsExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalObjectLog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InitCatalogLog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InitDatabaseLog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InitTableLog.java
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/EsUtil.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/org/apache/doris/qe/MasterCatalogExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
  gensrc/thrift/FrontendService.thrift
Labels: kind/meta-version-change, approved, reviewed, area/nereids, area/multi-catalog

#13938 [enhancment](Nereids) enable push down filter through aggregation
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriteJobExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
Labels: approved, reviewed, area/nereids

#13881 [enhancement](Nereids) remove unnecessary int cast
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/TypeCoercion.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/FunctionRegistryTest.java
Labels: approved, reviewed, area/nereids

#13730 [enhancement](Nereids) remove unnecessary string cast
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/ExpressionNormalization.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/SimplifyCastRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/CharLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/StringLikeLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/StringLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/VarcharLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/coercion/CharacterType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/TypeCoercionUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/ssb/SSBJoinReorderTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/ExpressionRewriteTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/ExpressionRewriteTestHelper.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/FoldConstantTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/TypeCoercionTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/TypeCoercionUtilsTest.java
Labels: approved, reviewed, area/nereids

#13950 [minor](error msg) Fix wrong error message
  be/src/service/doris_main.cpp
  be/src/util/libjvm_loader.cpp
Labels: approved, reviewed

#12866 [enhancement](compaction) introduce segment compaction (#12609)
  be/src/common/config.h
  be/src/common/status.h
  be/src/olap/compaction.cpp
  be/src/olap/delta_writer.cpp
  be/src/olap/delta_writer.h
  be/src/olap/olap_server.cpp
  be/src/olap/rowset/beta_rowset.cpp
  be/src/olap/rowset/beta_rowset.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/src/olap/schema_change.h
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
  be/src/util/doris_metrics.h
  be/src/vec/olap/vgeneric_iterators.cpp
  be/src/vec/olap/vgeneric_iterators.h
  be/test/CMakeLists.txt
  be/test/olap/segcompaction_test.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/en/docs/admin-manual/maint-monitor/be-olap-error-code.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/maint-monitor/be-olap-error-code.md
Labels: kind/docs, area/vectorization, reviewed

#13957 [fix](Nerieds) fix tpch and support trace plan's change event
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/exceptions/ParseException.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/ExpressionTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/Job.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/ApplyRuleJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/rewrite/RewriteBottomUpJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/rewrite/RewriteTopDownJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownFilterThroughProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ReorderJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/ExplicitlyCastableSignature.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/IdenticalSignature.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/ImplicitlyCastableSignature.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/NullOrIdenticalSignature.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/Avg.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/Year.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/DecimalType.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/tpch/AnalyzeTPCHTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/LimitClauseTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/NereidsParserTest.java
  regression-test/suites/nereids_syntax_p0/function.groovy
Labels: area/planner, kind/test, reviewed, area/nereids

#13942 [chore](be web ui)upgrade jquery version to 3.6.0
  be/src/http/web_page_handler.cpp
  dist/LICENSE-dist.txt
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Labels: kind/chore, approved, reviewed

#13960 [fix](load) Fix load channel mgr lock
  be/src/olap/delta_writer.cpp
  be/src/runtime/load_channel_mgr.h
  be/src/vec/exec/join/vhash_join_node.cpp
Labels: approved, area/vectorization, reviewed

#13966 [fix](tablet sink) fallback to non-vectorized interface in tablet_sink if is in progress of upgrding from 1.1-lts to 1.2-lts
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/vec/sink/vtablet_sink.cpp
  be/src/vec/sink/vtablet_sink.h
  be/test/vec/exec/vtablet_sink_test.cpp
Labels: approved, area/vectorization, reviewed

#13962 [Improvement](javaudf) improve java class loader usage
  be/src/runtime/user_function_cache.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateFunctionStmt.java
Labels: area/planner, approved, reviewed

#13974 [typo](doc) fixed spelling errors
  docs/en/docs/data-table/data-partition.md
  docs/zh-CN/docs/data-table/data-partition.md
Labels: kind/docs, approved, reviewed

#13975 [doc](routineload)Common mistakes in adding routine load
  docs/en/docs/faq/data-faq.md
  docs/zh-CN/docs/faq/data-faq.md
Labels: kind/docs, approved, reviewed

#13979 [fix](join)ColumnNullable need handle const column with nullable const value (#13866)
  be/src/vec/columns/column_nullable.cpp
Labels: usercase, dev/merged-1.1.4

#13940 [enhancement](test) support tablet repair and balance process in ut
  fe/fe-core/src/main/java/org/apache/doris/catalog/Tablet.java
  fe/fe-core/src/main/java/org/apache/doris/clone/TabletSchedCtx.java
  fe/fe-core/src/main/java/org/apache/doris/clone/TabletScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/test/java/org/apache/doris/cluster/DecommissionBackendTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/TestWithFeService.java
Labels: approved, reviewed

#13932 [refactor](iceberg-hudi) disable iceberg and hudi table by default
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/GrantStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/RevokeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/DatabaseProperty.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateTableStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/GrantStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/LoadStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/mysql/privilege/AuthTest.java
Labels: area/planner, area/multi-catalog

#13988 [fix](storage) rm unacessary check (#13986)
  be/src/olap/rowset/beta_rowset_writer.cpp
Labels: approved, reviewed

#13969 [feature-wip](dlf) prepare to support aliyun dlf
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterCatalogPropertyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateCatalogStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/EsExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/EsExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeNameFormat.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/Util.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogFactory.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/EsExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveScanProvider.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
  fe/pom.xml
Labels: area/planner, approved, reviewed, area/multi-catalog

#13980 [feature](compaction) support vertical compaction
  be/src/common/config.h
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  be/src/olap/iterators.h
  be/src/olap/merger.cpp
  be/src/olap/merger.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/rowset/CMakeLists.txt
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/beta_rowset_reader.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset_factory.cpp
  be/src/olap/rowset/rowset_reader.h
  be/src/olap/rowset/rowset_reader_context.h
  be/src/olap/rowset/rowset_writer.h
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/src/olap/rowset/vertical_beta_rowset_writer.cpp
  be/src/olap/rowset/vertical_beta_rowset_writer.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/task/engine_checksum_task.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/olap_data_convertor.h
  be/src/vec/olap/vertical_block_reader.cpp
  be/src/vec/olap/vertical_block_reader.h
  be/src/vec/olap/vertical_merge_iterator.cpp
  be/src/vec/olap/vertical_merge_iterator.h
  be/src/vec/olap/vgeneric_iterators.cpp
  be/test/CMakeLists.txt
  be/test/vec/olap/vertical_compaction_test.cpp
  gensrc/proto/olap_file.proto
  regression-test/data/compaction/test_vertical_compaction_agg_keys.out
  regression-test/data/compaction/test_vertical_compaction_dup_keys.out
  regression-test/data/compaction/test_vertical_compaction_uniq_keys.out
  regression-test/suites/compaction/test_vertical_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_uniq_keys.groovy
Labels: kind/test, area/vectorization

#13763 [feature](function)add search functions: multi_search_all_positions & multi_match_any
  be/src/vec/CMakeLists.txt
  be/src/vec/functions/functions_multi_string_position.cpp
  be/src/vec/functions/functions_multi_string_search.cpp
  be/src/vec/functions/regexps.h
  be/src/vec/functions/simple_function_factory.h
  docs/en/docs/sql-manual/sql-functions/string-functions/search/multi_match_any.md
  docs/en/docs/sql-manual/sql-functions/string-functions/search/multi_search_all_positions.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/search/multi_match_any.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/search/multi_search_all_positions.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/search_functions/test_multi_string_position.out
  regression-test/data/query_p0/sql_functions/search_functions/test_multi_string_search.out
  regression-test/suites/query_p0/sql_functions/search_functions/test_multi_string_position.groovy
  regression-test/suites/query_p0/sql_functions/search_functions/test_multi_string_search.groovy
Labels: kind/docs, kind/test, approved, area/sql/function, area/vectorization, reviewed

#13984 [fix](thread) catch exception of std::thread
  be/src/exec/hash_join_node.cpp
Labels: dev/1.1.4

#13954 [chore](gutil) remove some gutil macros and solve some macro conflict with brpc
  be/src/agent/agent_server.cpp
  be/src/agent/agent_server.h
  be/src/common/signal_handler.h
  be/src/gutil/integral_types.h
  be/src/gutil/macros.h
  be/src/gutil/once.cc
  be/src/gutil/port.h
  be/src/gutil/strings/numbers.cc
  be/src/gutil/strings/numbers.h
  be/src/gutil/strtoint.cc
  be/src/runtime/cache/result_node.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/runtime/thread_context.h
  be/src/service/brpc.h
  be/src/service/brpc_conflict.h
  be/src/util/threadpool.cpp
  be/src/vec/runtime/vdata_stream_recvr.cpp
  be/test/util/easy_json-test.cpp
Labels: approved, area/vectorization, reviewed, disscuss needed

#13951 [security](fe jar) upgrade commons-codec:commons-codec to 1.13
  fe/pom.xml
  fs_brokers/apache_hdfs_broker/pom.xml
Labels: approved, reviewed

#13849 [typo](docs) fix docs，delete redundant words
  docs/zh-CN/docs/data-operate/import/import-scenes/load-atomicity.md
Labels: kind/docs, approved, reviewed

#13953 [fix](repeat)remove unmaterialized expr from repeat node
  fe/fe-core/src/main/java/org/apache/doris/analysis/GroupingInfo.java
  regression-test/data/correctness_p0/test_subquery_grouping.out
  regression-test/suites/correctness_p0/test_subquery_grouping.groovy
Labels: area/planner, kind/test, reviewed, usercase, dev/1.1.4

#14011 [chore](version) rename version to 1.1-lts
  gensrc/script/gen_build_version.sh
Labels: approved, reviewed

#14010 [typo](docs)fix config doc
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#13976 [feature](Nereids) support statement having aggregate function in order by list
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AnalyzeRulesJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/ResolveAggregateFunctions.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/clickbench/AnalyzeClickBenchTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/clickbench/ClickBenchTestBase.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/clickbench/ClickBenchUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/ResolveAggregateFunctionsTest.java
Labels: approved, reviewed, area/nereids

#13745 [enhancement](Nereids) remove unnecessary decimal cast
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/SimplifyCastRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/Literal.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/ExpressionRewriteTest.java
Labels: approved, reviewed, area/nereids

#14001 [typo](doc) fix get-starting doc
  docs/zh-CN/docs/get-starting/get-starting.md
Labels: kind/docs, reviewed

#13967 [fix](load) fix a bug that reduce memory work on hard limit might be …
  be/src/runtime/load_channel_mgr.h
Labels: approved, reviewed

#13681 [enhancement](Nereids) support otherJoinConjuncts in cascades join reorder
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscom.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinReorderContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscom.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/ThreeJoinHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/JoinUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscomProjectTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscomTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomProjectTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/LogicalPlanBuilder.java
Labels: approved, reviewed, area/nereids

#12620 [refactor](cv)wait on condition variable more gently
  be/src/agent/task_worker_pool.cpp
  be/src/util/blocking_priority_queue.hpp
  be/src/util/blocking_queue.hpp
  be/src/util/threadpool.cpp
  be/src/vec/exec/scan/scanner_context.cpp
Labels: approved, area/vectorization, reviewed

#13985 [enhancement](profile) add instanceNum, tableIds to profile.
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  fe/fe-core/src/main/java/org/apache/doris/common/util/ProfileManager.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: area/vectorization

#14035 [bug](like function)fix like '' (empty string) get wrong result with all rows
  be/src/vec/functions/like.cpp
  be/test/vec/function/function_like_test.cpp
  regression-test/data/query/sql_functions/string_functions/test_string_function_like_pushdown.out
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function_like.out
  regression-test/suites/query/sql_functions/string_functions/test_string_function_like_pushdown.groovy
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function_like.groovy
Labels: kind/test, area/sql/function, area/vectorization

#13973 [Enhancement](function) add to_bitmap() function with int type
  be/src/exprs/bitmap_function.cpp
  be/src/exprs/bitmap_function.h
  be/src/vec/functions/function_always_not_nullable.h
  be/src/vec/functions/function_bitmap.cpp
  be/src/vec/functions/hll_hash.cpp
  gensrc/script/doris_builtins_functions.py
Labels: approved, area/sql/function, area/vectorization, reviewed

#13936 [Enhancement](Dictionary-codec) update dict once on same segment
  be/src/olap/in_list_predicate.h
  be/src/olap/rowset/beta_rowset.cpp
  be/src/olap/rowset/segment_v2/segment.cpp
  be/src/olap/rowset/segment_v2/segment.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/vec/columns/column.h
  be/src/vec/columns/column_dictionary.h
  be/test/io/cache/remote_file_cache_test.cpp
  be/test/olap/rowset/segment_v2/segment_test.cpp
  be/test/tools/benchmark_tool.cpp
Labels: approved, area/vectorization, reviewed

#14030 [feature](Nereids) bind alias in group by list
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/clickbench/AnalyzeClickBenchTest.java
Labels: approved, reviewed, area/nereids

#14045 [thirdpart](lib) Add lock free queue of concurrentqueue
  dist/licenses/LICENSE-concurrentqueue.txt
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Labels: approved, reviewed

#14015 [feature-wip](multi-catalog) fix page index
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#14056 [fix](Nereids) Use simple cost to calculate benefit and avoid unuseless calculation
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/joinreorder/hypergraph/GraphSimplifier.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/joinreorder/hypergraph/Node.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/joinreorder/hypergraph/GraphSimplifierTest.java
Labels: area/nereids

#13994 [feature](multi-catalog) Support data on s3-compatible oss and support aliyun DLF
  .asf.yaml
  build.sh
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE-AS-SELECT.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE-AS-SELECT.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeConstants.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/EsExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/PooledHiveMetaStoreClient.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/QueryScanProvider.java
Labels: kind/docs, area/planner, reviewed, area/multi-catalog

#13978 [Bug](Bitmap) fix sub_bitmap calculate wrong result to return null
  be/src/util/bitmap_value.h
  docs/en/docs/ecosystem/external-table/jdbc-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/jdbc-of-doris.md
  regression-test/data/query_p0/sql_functions/bitmap_functions/test_bitmap_function.out
  regression-test/suites/query_p0/sql_functions/bitmap_functions/test_bitmap_function.groovy
Labels: kind/docs, kind/test, reviewed, usercase

#14058 [Bug](build) fix compile fail on Segment::open
  be/src/olap/in_list_predicate.h
  be/src/olap/rowset/beta_rowset_writer.cpp
Labels: approved, reviewed

#13826 [regression](Nereids) add tpch regression test cases
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/Avg.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/Sum.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/DecimalType.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/expressions/GetDataTypeTest.java
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q1.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q10.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q11.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q12.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q13.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q14.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q15.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q16.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q17.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q18.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q19.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q2.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q20.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q21.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q22.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q3.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q4.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q5.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q6.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q7.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q8.groovy
  regression-test/suites/tpch_sf1_p1/tpch_sf1/nereids/q9.groovy
Labels: kind/test, approved, reviewed, area/nereids

#14037 [enhancement](Nereids) tpch q21 anti and semi join reorder
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/JoinEstimation.java
Labels: approved, reviewed, area/nereids

#13761 [chore](bin) do not set heap limit for tcmalloc until doris does not …
  bin/start_be.sh
Labels: approved, reviewed, usercase

#14068 [fix](statistics) ColumnStatistics was changed unexpectedly when show stats
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/OlapTableStats.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/TableStats.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/TabletStats.java
Labels: approved, reviewed

#12996 [Nereids][Improve] infer predicate after push down predicate
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/JobType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/BatchRulesJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriteJobExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/rewrite/VisitorRewriteJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/InferPredicates.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PredicatePropagation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PullUpPredicates.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Expression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/InferPredicatesTest.java
Labels: approved, reviewed, area/nereids

#14049 [fix](keyranges) fix the split error of keyranges
  be/src/exec/olap_common.h
  be/test/exec/olap_common_test.cpp
  regression-test/data/query_p0/aggregate/aggregate.out
  regression-test/suites/query_p0/aggregate/aggregate.groovy
Labels: kind/test, reviewed, dev/1.2.0

#13970 [Enhancement](function)use extern template to date_time_add
  be/src/vec/functions/function_date_or_datetime_computation.h
Labels: area/sql/function, area/vectorization

#13086 [feature](information_schema) add `backends` information_schema table
  be/src/exec/CMakeLists.txt
  be/src/exec/schema_scan_node.cpp
  be/src/exec/schema_scanner.cpp
  be/src/exec/schema_scanner.h
  be/src/exec/schema_scanner/schema_backends_scanner.cpp
  be/src/exec/schema_scanner/schema_backends_scanner.h
  be/src/vec/exec/vschema_scan_node.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/SchemaTableType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/SchemaTable.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SchemaScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  gensrc/thrift/Data.thrift
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/PlanNodes.thrift
  regression-test/suites/correctness/test_backends_table.groovy
Labels: area/planner, kind/test, approved, area/vectorization, reviewed

#13430 [feature](inverted index)WIP inverted index api: SQL syntax and metadata
  be/src/olap/CMakeLists.txt
  be/src/olap/inverted_index_parser.cpp
  be/src/olap/inverted_index_parser.h
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/tablet_schema.h
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateIndexClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/IndexDef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InvertedIndexUtil.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowIndexStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Index.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateIndexClauseTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/IndexDefTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/OlapTableTest.java
  fe/fe-core/src/test/java/org/apache/doris/persist/TableAddOrDropColumnsInfoTest.java
  gensrc/proto/olap_file.proto
  gensrc/thrift/Descriptors.thrift
  regression-test/data/index_p0/test_bitmap_index.out
  regression-test/data/index_p0/test_decimal_bitmap_index_multi_page.out
  regression-test/suites/index_p0/test_index_meta.groovy
Labels: kind/api-change, area/planner, kind/test, approved, api-review, reviewed

#13941 [fix](JSON) Fail to parse JSONPath (libc++)
  be/src/exprs/json_functions.cpp
  be/src/exprs/json_functions.h
  be/src/util/string_util.h
  be/src/vec/functions/function_json.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#13906 [fix](ctas) text column type len = 1 when create table as select
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnDef.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  regression-test/data/ddl_p0/test_ctas.out
  regression-test/suites/ddl_p0/test_ctas.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.1.4

#14061 [bug](ColumnDecimal)call set_decimalv2_type when cloning ColumnDecimal
  be/src/vec/columns/column_decimal.cpp
  be/test/CMakeLists.txt
  be/test/vec/columns/column_decimal_test.cpp
Labels: approved, area/vectorization, reviewed

#14081 [Compile](join) Boost compiling and linking
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
Labels: area/vectorization

#13995 [docs](array-type) update the docs to specify how to use array function when import data
  docs/en/docs/data-operate/import/load-manual.md
  docs/zh-CN/docs/data-operate/import/load-manual.md
Labels: area/load, kind/docs, area/planner, approved, reviewed

#14042 [feature](nereids) binding slot in order by that not show in project
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AnalyzeRulesJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/PlanPostProcessors.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CheckAnalysis.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/FillUpMissingSlots.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/clickbench/AnalyzeClickBenchTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/tpch/AnalyzeTPCHTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/tpch/TPCHUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/FillUpMissingSlotsTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/LogicalPlanBuilder.java
Labels: approved, reviewed, area/nereids

#14083 [improve](Nereids): remove redundant code, add annotation.
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Group.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/Utils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/memo/MemoTest.java
Labels: approved, reviewed, area/nereids

#14079 [fix](Nereids) aggregate disassemble generate error output list on GLOBAL phase aggregate
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/AggregateDisassemble.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/AggregateDisassembleTest.java
Labels: approved, reviewed, area/nereids

#12390 [performance-wip] (vectorization) Opt HashJoin Performance
  be/src/vec/common/hash_table/join_hash_map.h
  be/src/vec/common/hash_table/join_hash_table.h
Labels: area/load, kind/docs, area/planner, kind/test, area/sql/function, area/spark-load, area/routine load, area/vectorization, area/nereids

#14103 [fix](compile) fix compile error
  be/src/vec/exec/vmysql_scan_node.h
Labels: approved, area/vectorization, reviewed

#14047 [feature](table-valued-function) Support `desc from s3()` and modify the syntax of tvf
  docs/en/docs/sql-manual/sql-functions/table-functions/numbers.md
  docs/zh-CN/docs/sql-manual/sql-functions/table-functions/numbers.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/DescribeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableValuedFunctionRef.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/NumbersTableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/S3TableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/TableValuedFunctionIf.java
  regression-test/suites/correctness_p0/table_valued_function/test_numbers.groovy
  regression-test/suites/http_rest_api/post/test_query_stmt.groovy
  regression-test/suites/query_p0/sql_functions/datetime_functions/test_date_function.groovy
Labels: kind/docs, area/planner, kind/test, api-review, reviewed

#13949 [enhancement](Nereids) use post-order to generate runtime filter in RuntimeFilterGenerator
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/RuntimeFilterTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/RuntimeFilterContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/RuntimeFilterGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/RuntimeFilter.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/postprocess/RuntimeFilterTest.java
Labels: approved, reviewed, area/nereids

#14111 [fix](bug): tpch-q12 invalid type (#12347)
  fe/fe-core/src/main/java/org/apache/doris/analysis/Predicate.java
Labels: approved, reviewed, usercase

#13905 [refractor](array) refractor DataTypeArray from_string
  be/src/exec/broker_scanner.cpp
  be/src/vec/data_types/data_type_array.cpp
  regression-test/data/load_p0/broker_load/simple_array.csv
  regression-test/data/load_p0/broker_load/test_array_load.out
  regression-test/data/load_p0/stream_load/test_stream_load.out
  regression-test/data/query_p0/sql_functions/cast_function/test_cast_string_to_array.out
Labels: area/array-type, area/vectorization, reviewed

#14074 [Enhancement](profile) modify some profiles
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exprs/vliteral.cpp
  regression-test/suites/rollup/test_materialized_view_date.groovy
Labels: kind/test, area/vectorization

#14119 [fix](load) fix that load channel failed to be released in time
  be/src/exec/tablet_sink.cpp
Labels: reviewed

#14133 [chore](bin) check max_vm_count in start_be.sh
  bin/start_be.sh
Labels: approved, reviewed, dev/1.1.4

#14106 [Bug](udf) fix java-udaf process string type error and add some tests
  be/src/vec/aggregate_functions/aggregate_function_java_udaf.h
  docs/en/docs/ecosystem/udf/java-user-defined-function.md
  docs/zh-CN/docs/ecosystem/udf/java-user-defined-function.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateFunctionStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Function.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ScalarFunction.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdafExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfExecutor.java
  regression-test/data/javaudf_p0/test_javaudaf_my_date_datetime.out
  regression-test/data/javaudf_p0/test_javaudaf_mygroupconcat_string.out
  regression-test/data/javaudf_p0/test_javaudaf_mysum_decimal.out
  regression-test/data/javaudf_p0/test_javaudaf_mysum_double.out
  regression-test/data/javaudf_p0/test_javaudaf_mysum_float_double.out
  regression-test/data/javaudf_p0/test_javaudaf_mysum_int.out
  regression-test/data/javaudf_p0/test_javaudaf_null_test.out
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/MyDayDate.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/MyGroupConcatString.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/MyHourDateTime.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/MySumDecimal.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/MySumDouble.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/MySumFloat.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/MySumInt.java
  regression-test/java-udf-src/src/main/java/org/apache/doris/udf/UdafNullTest.java
  regression-test/suites/javaudf_p0/test_javaudaf_my_date_datetime.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_mygroupconcat_string.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_mysum_decimal.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_mysum_float_double.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_mysum_int.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_null_test.groovy
Labels: kind/docs, area/planner, kind/test, approved, area/vectorization, reviewed

#13921 [improvement](join) Share hash table in fragments for broadcast join
  be/src/exprs/runtime_filter.cpp
  be/src/exprs/runtime_filter.h
  be/src/exprs/runtime_filter_slots.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/query_fragments_ctx.h
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
  be/src/vec/runtime/shared_hash_table_controller.cpp
  be/src/vec/runtime/shared_hash_table_controller.h
  be/src/vec/runtime/shared_hashtable_controller.cpp
  be/src/vec/runtime/shared_hashtable_controller.h
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  gensrc/thrift/PlanNodes.thrift
Labels: area/planner, approved, area/vectorization, reviewed

#14136 [fix](chore) read max_map_count from proc instead of sysctl
  bin/start_be.sh
Labels: dev/1.1.4

#14130 [feature](table-valued-function)S3 table valued function supports `parquet/orc/json` file format
  be/src/service/internal_service.cpp
  be/src/vec/exec/format/json/new_json_reader.cpp
  be/src/vec/exec/format/json/new_json_reader.h
  be/src/vec/exec/format/orc/vorc_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.h
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/QueryScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/TVFScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/ExternalFileTableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/S3TableValuedFunction.java
Labels: area/planner, approved, area/vectorization, reviewed, kind/need-regression-test

#14124 [Bug](outfile) Fix wrong decimal format for ORC
  be/src/vec/runtime/vorc_writer.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/OutFileClause.java
Labels: area/planner, area/vectorization, reviewed

#13961 [fix](nereids) cannot collect decimal column stats
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnDef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DecimalLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStat.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsTaskScheduler.java
Labels: area/planner, approved, reviewed

#14077 [fix](grouping)the grouping expr should check col name from base table first, then alias
  fe/fe-core/src/main/java/org/apache/doris/analysis/QueryStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/correctness_p0/test_grouping_with_alias.out
  regression-test/suites/correctness_p0/test_grouping_with_alias.groovy
  regression-test/suites/query/keyword/test_keyword.groovy
Labels: area/planner, kind/test, usercase, dev/1.1.4

#12366 [Fix] add hll param for if function
  gensrc/script/doris_builtins_functions.py
  regression-test/suites/query_p0/sql_functions/conditional_functions/test_if.groovy
Labels: kind/test, area/sql/function
