Repository apache/doris, pull requests merged in 2022-06, with the labels that each got.

#9894 [Enhancement] Remove minidump
  be/CMakeLists.txt
  be/src/common/config.h
  be/src/runtime/CMakeLists.txt
  be/src/runtime/minidump.cpp
  be/src/runtime/minidump.h
  be/src/service/doris_main.cpp
  be/test/CMakeLists.txt
  be/test/runtime/minidump_test.cpp
  docs/en/developer-guide/minidump.md
  docs/en/faq/install-faq.md
  docs/zh-CN/developer-guide/minidump.md
  docs/zh-CN/faq/install-faq.md
Labels: kind/docs, reviewed

#9893 [Bug][Vectorized] fix core dump on vcase_expr::close
  be/src/vec/exec/volap_scanner.cpp
  be/src/vec/exprs/vcase_expr.cpp
  be/src/vec/exprs/vexpr.h
  be/src/vec/functions/function_case.h
  be/src/vec/utils/util.hpp
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.0.1

#9889 [test]Adding Window Funnel function causes be crash for regression test
  regression-test/data/query/sql_functions/window_functions/test_window_funnel.out
  regression-test/suites/query/sql_functions/window_functions/test_window_funnel.groovy
Labels: kind/test

#9832 [test] add rollup test for regression-test
  regression-test/data/rollup/test_rollup_agg.out
  regression-test/suites/rollup/test_rollup_agg.groovy
Labels: kind/test, reviewed

#9827 [tools][doc]add ssb flat tools, and update performance doc
  docs/.vuepress/public/images/ssb_v11_v015_compare.png
  docs/en/benchmark/ssb.md
  docs/zh-CN/benchmark/ssb.md
  tools/ssb-tools/ddl/create-ssb-flat-table.sql
  tools/ssb-tools/ddl/create-ssb-tables.sql
  tools/ssb-tools/load-ssb-dimension-data.sh
  tools/ssb-tools/load-ssb-fact-data.sh
  tools/ssb-tools/load-ssb-flat-data.sh
  tools/ssb-tools/run-ssb-flat-queries.sh
  tools/ssb-tools/run-ssb-queries.sh
  tools/ssb-tools/ssb-queries/q1.1.sql
  tools/ssb-tools/ssb-queries/q1.2.sql
  tools/ssb-tools/ssb-queries/q1.3.sql
  tools/ssb-tools/ssb-queries/q2.1.sql
  tools/ssb-tools/ssb-queries/q2.2.sql
  tools/ssb-tools/ssb-queries/q2.3.sql
  tools/ssb-tools/ssb-queries/q3.1.sql
  tools/ssb-tools/ssb-queries/q3.2.sql
  tools/ssb-tools/ssb-queries/q3.3.sql
  tools/ssb-tools/ssb-queries/q3.4.sql
  tools/ssb-tools/ssb-queries/q4.1.sql
  tools/ssb-tools/ssb-queries/q4.2.sql
  tools/ssb-tools/ssb-queries/q4.3.sql
Labels: kind/docs, approved, reviewed, dev/backlog

#9818 handle ComlumnDictionary in evaluate_and and evaluate_or
  be/src/olap/comparison_predicate.cpp
Labels: kind/fix, approved, reviewed, dev/1.0.1

#9888 [test]add gis function test case
  regression-test/data/query/sql_functions/spatial_functions/test_gis_function.out
  regression-test/suites/query/sql_functions/spatial_functions/test_gis_function.groovy
Labels: kind/test

#9892 [doc][fix]Update the description of the doris In_memory attribute to avoid users from interpreting it as an in-memory table
  docs/en/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/zh-CN/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
Labels: kind/docs, approved, reviewed

#9897 [test] Add datetime function test for regression test.
  regression-test/data/query/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/query/sql_functions/datetime_functions/test_date_function.groovy
Labels: kind/test

#9901 [Feature] add `weekday` function on vectorized engine
  be/src/vec/functions/date_time_transforms.h
  be/src/vec/functions/time_of_function.cpp
  be/test/vec/function/function_time_test.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.0.1

#9739 [Enhancement][fix] Add a rewrite rule to optimize InPredicate.
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DecimalLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FloatLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/RewriteInPredicateRule.java
  fe/fe-core/src/test/java/org/apache/doris/rewrite/RewriteInPredicateRuleTest.java
Labels: area/planner, approved, reviewed

#9902 [fix](routine-load) fix bug that routine load task can not find backend
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/system/SystemInfoService.java
  fe/fe-core/src/test/java/org/apache/doris/system/SystemInfoServiceTest.java
Labels: kind/fix, area/load, area/routine load, dev/1.0.1

#9903 [fix][doc]Fix the usage of bitmap on unique model
  docs/en/data-table/index/bitmap-index.md
  docs/zh-CN/data-table/index/bitmap-index.md
Labels: kind/docs, approved, reviewed

#9065 [fix](storage) Disable compaction before schema change is actually executed(#9032)
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  be/src/olap/cumulative_compaction_policy.cpp
  be/src/olap/schema_change.cpp
  be/src/olap/schema_change.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
Labels: kind/fix, approved, area/compact, area/alter, reviewed, dev/1.0.1

#9618 [Enhancement] Support show proc BackendLoadStatistic
  fe/fe-core/src/main/java/org/apache/doris/clone/ClusterLoadStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/BackendLoadStatisticProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/ClusterLoadStatisticProcDir.java
Labels: kind/feature, approved, reviewed, dev/1.0.1

#9815 [chore] fix some compatible problems on old linux distributions
  thirdparty/build-thirdparty.sh
Labels: kind/chore, approved, reviewed

#9859 [Vectorized][Function]fix to_bitmap to return always not nullable
  be/src/vec/functions/function_bitmap.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.0.1

#9908 [fix] Hive scan node user
  fe/fe-core/src/main/java/org/apache/doris/planner/BrokerScanNode.java
Labels: area/planner, approved, reviewed, dev/1.0.1

#9920 [test]add encryption function test case
  regression-test/data/query/sql_functions/encryption_digest_functions/test_encryption_function.out
  regression-test/suites/query/sql_functions/encryption_digest_functions/test_encryption_function.groovy
Labels: kind/test

#9918 [test]add hash function test case
  regression-test/data/query/sql_functions/hash_functions/test_hash_function.out
  regression-test/suites/query/sql_functions/hash_functions/test_hash_function.groovy
Labels: kind/test, reviewed

#9913 [test]add conditional function test case
  regression-test/data/query/sql_functions/conditional_functions/test_conditional_function.out
  regression-test/suites/query/sql_functions/conditional_functions/test_conditional_function.groovy
Labels: kind/test

#9917 [test]add json function test case
  regression-test/data/query/sql_functions/json_functions/test_json_function.out
  regression-test/suites/query/sql_functions/json_functions/test_json_function.groovy
Labels: kind/test, reviewed

#9904 [test]add string sql functions test case
  regression-test/data/query/sql_functions/string_functions/test_string_function.out
  regression-test/data/query/sql_functions/string_functions/test_string_function_like.out
  regression-test/data/query/sql_functions/string_functions/test_string_function_regexp.out
  regression-test/suites/query/sql_functions/string_functions/test_string_function.groovy
  regression-test/suites/query/sql_functions/string_functions/test_string_function_like.groovy
  regression-test/suites/query/sql_functions/string_functions/test_string_function_regexp.groovy
Labels: kind/test

#9923 [Vectorized-Load] Support vectorized load table with materialized view
  be/src/exec/tablet_sink.cpp
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/vec/core/block.cpp
  be/src/vec/core/block.h
  be/test/olap/delta_writer_test.cpp
Labels: kind/test, area/vectorization, dev/backlog

#9937 [Enhancement][Chore] remove breakpad and unused variable
  be/test/vec/exec/vorc_scanner_test.cpp
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Labels: approved, reviewed, dev/backlog

#9935 [doc][fix]English document title case
  docs/en/community/how-to-contribute/how-to-be-a-committer.md
  docs/en/community/subscribe-mail-list.md
  docs/en/downloads/downloads.md
  docs/zh-CN/downloads/downloads.md
Labels: kind/docs, approved, reviewed

#9877 [Bug] fix bugs of analyzation of rewrited SQL when triggered the materialized vew
  fe/fe-core/src/main/java/org/apache/doris/rewrite/mvrewrite/CountFieldToSum.java
  fe/fe-core/src/test/java/org/apache/doris/planner/MaterializedViewFunctionTest.java
  regression-test/suites/rollup/test_materialized_view.groovy
Labels: kind/fix, kind/test, approved, area/materialized-view, reviewed, dev/1.0.1

#9938 [bugfix] fix grammar of ADMIN SHOW TABLET STORAGE FORMAT stmt
  fe/fe-core/src/main/cup/sql_parser.cup
Labels: approved, reviewed, dev/1.0.1

#9927 [fix] (planner) slot nullable does not set correctly when plan outer join with inline view
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InlineViewRef.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  regression-test/data/correctness/test_outer_join_with_inline_view.out
  regression-test/suites/correctness/test_outer_join_with_inline_view.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.0.1

#9786 There is Policy which is not on TABLE, Policy should be a base class, and use TablePolicy to extends it.
  fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreatePolicyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StmtRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/org/apache/doris/policy/Policy.java
  fe/fe-core/src/main/java/org/apache/doris/policy/PolicyMgr.java
  fe/fe-core/src/main/java/org/apache/doris/policy/PolicyTypeEnum.java
  fe/fe-core/src/main/java/org/apache/doris/policy/RowPolicy.java
  fe/fe-core/src/test/java/org/apache/doris/policy/PolicyTest.java
Labels: area/planner, kind/meta-version-change, approved, reviewed

#9939 [Enhancement] Refactor functions in int_exp by templates
  be/src/vec/common/int_exp.h
Labels: approved, area/vectorization, reviewed

#9890 [feature] support convert alpha rowset
  be/src/common/config.h
  be/src/olap/CMakeLists.txt
  be/src/olap/convert_rowset.cpp
  be/src/olap/convert_rowset.h
  be/src/olap/olap_server.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_manager.h
Labels: approved, reviewed, dev/1.0.1

#9950 [Improvement] change the condition of vectorized compaction
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
Labels: approved, reviewed

#9929 [test]Add regression test method for agg function
  regression-test/data/query/sql_functions/aggregate_functions/test_aggregate_all_functions.out
  regression-test/suites/query/sql_functions/aggregate_functions/test_aggregate_all_functions.groovy
Labels: kind/test, reviewed

#9878 remove redundant this
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
Labels: approved, reviewed

#9712 [Bug] fix bug in time_round function
  be/src/exprs/timestamp_functions.cpp
  be/src/vec/functions/function_datetime_floor_ceil.cpp
  regression-test/data/correctness/test_time_round.out
  regression-test/suites/correctness/test_time_round.groovy
Labels: kind/fix, kind/test, area/sql/function, area/vectorization, reviewed, dev/1.0.1

#9683 [fix]Set the memory size used when FE starts according to the user's available memory at startup
  conf/fe.conf
Labels: approved, area/fe-config, reviewed, dev/1.0.1

#9933 [deps] upgrade k8s client to compitable new k8s cluster
  dist/LICENSE-dist.txt
  fe/fe-core/pom.xml
  fe/pom.xml
Labels: area/dependency, dev/backlog

#9951 [feature] Support grant node_priv to other user.
  docs/en/admin-manual/privilege-ldap/user-privilege.md
  docs/zh-CN/admin-manual/privilege-ldap/user-privilege.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/GrantStmt.java
  fe/fe-core/src/test/java/org/apache/doris/mysql/privilege/AuthTest.java
Labels: kind/feature, kind/docs, area/planner, approved, reviewed, dev/1.0.1

#9958 [fix](fe-ut) Fix FE ut when enable vectorized engine
  fe/fe-core/src/test/java/org/apache/doris/analysis/QueryStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/TableFunctionPlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/UtFrameUtils.java
Labels: kind/fix, kind/test

#9943 [fix][mem tracker] Fix logout load task mem tracker dcheck fail
  be/src/runtime/load_channel.cpp
  be/src/runtime/mem_tracker_task_pool.cpp
Labels: approved, reviewed

#9811 [Feature] [Vectorized] Some pre-refactorings or interface additions for schema change
  be/src/olap/column_mapping.h
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/olap/olap_common.h
  be/src/olap/rowset/alpha_rowset_writer.h
  be/src/olap/rowset/beta_rowset_reader.h
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset.h
  be/src/olap/rowset/rowset_writer.h
  be/src/olap/rowset/rowset_writer_context.h
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
  be/src/olap/tablet.h
  be/src/olap/tablet_schema.cpp
  be/src/olap/tablet_schema.h
  be/src/vec/common/cow.h
  be/src/vec/common/string_ref.h
  be/src/vec/exprs/vexpr_context.cpp
  be/src/vec/exprs/vexpr_context.h
  be/src/vec/functions/function_hash.cpp
  be/src/vec/functions/function_ifnull.cpp
  be/src/vec/functions/functions_geo.cpp
  be/src/vec/functions/simple_function_factory.h
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/olap_data_convertor.h
Labels: approved, area/sql/function, area/vectorization, reviewed

#9999 [test]delete bitmap_index test case
  regression-test/data/index/test_bitmap_index.out
  regression-test/suites/index/test_bitmap_index.groovy
Labels: kind/test, approved, reviewed

#10002 [fix](coordinator) fix bug that unable to generate query profile
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: kind/fix, reviewed, dev/1.0.1

#10001 [Bug] runtime filter is not used as expected
  be/src/exec/olap_scan_node.cpp
  be/src/exprs/runtime_filter.cpp
  be/src/vec/exec/volap_scan_node.cpp
Labels: approved, area/vectorization, reviewed, dev/backlog

#9982 [tools](tpc-h) Modify tpch tools
  tools/tpch-tools/README.md
  tools/tpch-tools/create-tpch-tables.sql
  tools/tpch-tools/queries/q1.sql
  tools/tpch-tools/queries/q10.sql
  tools/tpch-tools/queries/q11.sql
  tools/tpch-tools/queries/q12.sql
  tools/tpch-tools/queries/q13.sql
  tools/tpch-tools/queries/q14.sql
  tools/tpch-tools/queries/q15.sql
  tools/tpch-tools/queries/q16.sql
  tools/tpch-tools/queries/q17.sql
  tools/tpch-tools/queries/q18.sql
  tools/tpch-tools/queries/q19.sql
  tools/tpch-tools/queries/q2.sql
  tools/tpch-tools/queries/q20.sql
  tools/tpch-tools/queries/q21.sql
  tools/tpch-tools/queries/q22.sql
  tools/tpch-tools/queries/q3.sql
  tools/tpch-tools/queries/q4.sql
  tools/tpch-tools/queries/q5.sql
  tools/tpch-tools/queries/q6.sql
  tools/tpch-tools/queries/q7.sql
  tools/tpch-tools/queries/q8.sql
  tools/tpch-tools/queries/q9.sql
  tools/tpch-tools/run-tpch-queries.sh
Labels: approved, reviewed, area/tools

#9117 [enhancement][diagnostics] Add a diagnostic: detect unused includes
  .clangd
  be/src/exprs/agg_fn_evaluator.cpp
  be/src/runtime/primitive_type.cpp
  be/src/runtime/primitive_type.h
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/backlog

#9991 [fix] (planner) passthrough child in SetOperationNode is wrong when enable vectorized engine
  fe/fe-core/src/main/java/org/apache/doris/planner/SetOperationNode.java
Labels: area/planner, approved, reviewed, dev/1.0.1

#9848 [DefaultConfig]enable query vectorization and storage vectorization and storage low cardinality opt
  be/src/common/config.h
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: kind/api-change, reviewed, dev/1.0.1

#10009 [enhance] improve dict in-predicate evaluate
  be/src/olap/in_list_predicate.cpp
  be/src/vec/columns/column_dictionary.h
Labels: approved, area/vectorization, reviewed

#9972 [feature] datetime column type support auto-initialized with default …
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnDef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DataDescription.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DefaultValueExprDef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/planner/LoadScanNode.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  regression-test/data/correctness/test_current_timestamp.out
  regression-test/data/correctness/test_current_timestamp_streamload.csv
  regression-test/suites/correctness/test_current_timestamp.groovy
Labels: kind/feature, area/load, area/planner, kind/test, approved, reviewed

#9985 [fix] Fix type description in PrimitiveType
  fe/fe-core/src/main/java/org/apache/doris/catalog/PrimitiveType.java
Labels: reviewed

#9966 [test] Fix date function regression test case.
  regression-test/data/query/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/query/sql_functions/datetime_functions/test_date_function.groovy
Labels: kind/test, approved, reviewed

#9931 [fix](regression-test) fix the comparison errors caused by inconsistent accuracy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/util/OutputUtils.groovy
Labels: kind/test, approved, reviewed

#9910 [Bugfix] be crash when executing sql contains bitmap_intersect function
  be/src/exprs/bitmap_function.cpp
  regression-test/data/correctness/test_bitmap_serialize.out
  regression-test/suites/correctness/test_bitmap_serialize.groovy
Labels: kind/test, dev/1.0.1

#9856 [feature-wip](array-type) Add array type support for vectorized parquet-orc scanner
  be/src/exec/arrow/orc_reader.h
  be/src/exec/base_scanner.cpp
  be/src/vec/data_types/data_type.cpp
  be/src/vec/data_types/data_type.h
  be/src/vec/data_types/data_type_array.cpp
  be/src/vec/data_types/data_type_array.h
  be/src/vec/data_types/data_type_date.cpp
  be/src/vec/data_types/data_type_date.h
  be/src/vec/data_types/data_type_date_time.cpp
  be/src/vec/data_types/data_type_date_time.h
  be/src/vec/data_types/data_type_decimal.cpp
  be/src/vec/data_types/data_type_decimal.h
  be/src/vec/data_types/data_type_factory.cpp
  be/src/vec/data_types/data_type_factory.hpp
  be/src/vec/data_types/data_type_nullable.cpp
  be/src/vec/data_types/data_type_nullable.h
  be/src/vec/data_types/data_type_number_base.cpp
  be/src/vec/data_types/data_type_number_base.h
  be/src/vec/data_types/data_type_string.cpp
  be/src/vec/data_types/data_type_string.h
  be/src/vec/exec/varrow_scanner.cpp
  be/src/vec/functions/function_cast.h
  be/src/vec/utils/arrow_column_to_doris_column.cpp
  be/src/vec/utils/arrow_column_to_doris_column.h
  be/test/vec/utils/arrow_column_to_doris_column_test.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/backlog

#9873 [bug][hudi] use lowerCase to get hudi fileFormatType
  fe/fe-core/src/main/java/org/apache/doris/planner/HudiScanNode.java
Labels: kind/fix, area/planner, approved, reviewed, area/hudi

#10008 [test]Fix test case infinite loop
  regression-test/data/index/test_bitmap_index.out
  regression-test/suites/index/test_bitmap_index.groovy
  regression-test/suites/rollup/test_materialized_view.groovy
  regression-test/suites/rollup/test_rollup_agg.groovy
  regression-test/suites/schema_change/test_alter_table_column.groovy
Labels: kind/test, approved, reviewed

#9998 [feature-wip](array-type) support array<decimal128> in mysql_result_writer
  be/src/vec/sink/mysql_result_writer.cpp
Labels: approved, area/vectorization, reviewed

#9987 [fix](be) fix asan be set_storage_medium core (#9986)
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_meta.h
Labels: kind/fix, reviewed, dev/backlog

#10039 [website][doc]fix docs bugs with sidebar can not display and some style problems
  docs/.vuepress/config.js
  docs/.vuepress/styles/index.styl
  docs/.vuepress/theme/components/Dropdown.vue
  docs/.vuepress/theme/components/Navbar.vue
  docs/.vuepress/theme/layouts/Layout.vue
  docs/en/README.md
  docs/zh-CN/README.md
Labels: kind/docs, approved, reviewed

#10007 [Bugfix](load) fix streamload failure due to false unhealthy replica in concurrent stream load
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
Labels: kind/fix, area/load, approved, reviewed, dev/1.0.1

#10029 [doc]add create table statement for create-materialized-view doc
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-MATERIALIZED-VIEW.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-MATERIALIZED-VIEW.md
Labels: kind/docs, approved, reviewed

#9990 Add opentelemetry related third-party library.
  dist/LICENSE-dist.txt
  thirdparty/CHANGELOG.md
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/opentelemetry-cpp-1.4.0.patch
  thirdparty/vars.sh
Labels: area/dependency, reviewed

#9867 [feature](function) Add ntile function
  be/src/vec/aggregate_functions/aggregate_function_window.cpp
  be/src/vec/aggregate_functions/aggregate_function_window.h
  be/src/vec/exec/vanalytic_eval_node.cpp
  docs/.vuepress/sidebar/en/docs.js
  docs/.vuepress/sidebar/zh-CN/docs.js
  docs/en/docs/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-NTILE.md
  docs/zh-CN/docs/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-NTILE.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyticExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BuiltinAggregateFunction.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  gensrc/thrift/PlanNodes.thrift
  regression-test/data/query/sql_functions/window_functions/test_ntile_function.csv
  regression-test/data/query/sql_functions/window_functions/test_ntile_function.out
  regression-test/suites/query/sql_functions/window_functions/test_ntile_function.groovy
Labels: kind/docs, area/planner, kind/test, approved, area/vectorization, reviewed

#10047 [Bug] [Storage] DCHECK fail on in_list_pred
  be/src/olap/in_list_predicate.cpp
Labels: approved, reviewed, dev/backlog

#10050 [fix]Document image path error
  docs/.vuepress/public/images/join/image-20220523151619754.png
  docs/.vuepress/public/images/join/image-20220523151653562.png
  docs/.vuepress/public/images/join/image-20220523151902368.png
  docs/.vuepress/public/images/join/image-20220523152004731.png
  docs/.vuepress/public/images/join/image-20220523152639123.png
  docs/.vuepress/public/images/join/image-20220523153555640.png
  docs/.vuepress/public/images/join/image-20220523153600797.png
  docs/.vuepress/public/images/join/image-20220523153757607.png
  docs/.vuepress/public/images/join/image-20220523153913059.png
  docs/.vuepress/public/images/join/image-20220523153958828.png
  docs/.vuepress/public/images/join/image-20220523154712519.png
  docs/.vuepress/public/images/join/image-20220523160915229.png
  docs/zh-CN/docs/advanced/join-optimization/doris-join-optimization.md
Labels: kind/docs, approved, reviewed

#10040 [Bug] [Vectorized] code dump on aggregate node over union node
  fe/fe-core/src/main/java/org/apache/doris/planner/SetOperationNode.java
  regression-test/data/query/union/test_union.out
  regression-test/suites/query/union/test_union.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.0.1

#9995 [fix](fe) select stmt will make BE coredump when its castExpr is like cast(int as array<>)
  fe/fe-core/src/main/java/org/apache/doris/analysis/CastExpr.java
Labels: kind/fix, area/planner, approved, reviewed, dev/backlog

#10018 [dependency][enhancement] support build libhdfs in arm cpus
  be/CMakeLists.txt
  be/src/exec/CMakeLists.txt
  be/src/io/CMakeLists.txt
  be/src/io/broker_reader.cpp
  be/src/io/broker_reader.h
  be/src/io/broker_writer.cpp
  be/src/io/broker_writer.h
  be/src/io/buffered_reader.cpp
  be/src/io/buffered_reader.h
  be/src/io/file_factory.cpp
  be/src/io/file_factory.h
  be/src/io/hdfs_file_reader.cpp
  be/src/io/hdfs_file_reader.h
  be/src/io/hdfs_reader_writer.cpp
  be/src/io/hdfs_reader_writer.h
  be/src/io/hdfs_writer.cpp
  be/src/io/hdfs_writer.h
  be/src/io/local_file_reader.cpp
  be/src/io/local_file_reader.h
  be/src/io/local_file_writer.cpp
  be/src/io/local_file_writer.h
  be/src/io/s3_reader.cpp
  be/src/io/s3_reader.h
  be/src/io/s3_writer.cpp
  be/src/io/s3_writer.h
  build.sh
  dist/LICENSE-dist.txt
  run-be-ut.sh
  thirdparty/CHANGELOG.md
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/libhdfs3-master.patch
  thirdparty/vars.sh
Labels: area/dependency, approved, reviewed

#8513 [Bug] fix don't rewrite nested union statement bug
  fe/fe-core/src/main/java/org/apache/doris/analysis/StmtRewriter.java
  fe/fe-core/src/test/java/org/apache/doris/planner/PlannerTest.java
Labels: kind/fix, area/planner, approved, dev/backlog

#9887 [Enhancement] add some metrics for cpu and memory
  be/src/util/system_metrics.cpp
  be/src/util/system_metrics.h
  be/test/util/system_metrics_test.cpp
  be/test/util/test_data/vmstat_normal
Labels: kind/improvement, approved, area/metrics, reviewed, dev/backlog

#10045 [fix] (planner) produce wrong result when use bucket shuffle join with colocate left table
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  regression-test/data/correctness/test_bucket_join_with_colocate_table.out
  regression-test/suites/correctness/test_bucket_join_with_colocate_table.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.0.1

#10062 Do not send drop task when replay drop table
  fe/fe-core/src/main/java/org/apache/doris/catalog/CatalogRecycleBin.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalDataSource.java
Labels: approved, reviewed, dev/1.0.1

#10049 [test]Add drop force to cases associated with ALTER operations
  regression-test/data/correctness/test_bucket_join_with_colocate_table.out
  regression-test/suites/correctness/test_bucket_join_with_colocate_table.groovy
  regression-test/suites/index/test_bitmap_index.groovy
  regression-test/suites/rollup/test_materialized_view.groovy
  regression-test/suites/rollup/test_rollup_agg.groovy
  regression-test/suites/schema_change/test_alter_table_column.groovy
Labels: kind/test, reviewed

#9809 [feature-wip](array-type) Support array type which doesn't contain null
  be/src/runtime/types.cpp
  be/src/runtime/types.h
  be/src/vec/data_types/data_type_factory.cpp
  be/test/runtime/array_test.cpp
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ArrayLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ArrayType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ColumnType.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/RangePartitionPruneTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateTableTest.java
  gensrc/proto/types.proto
  gensrc/thrift/Types.thrift
Labels: area/planner, approved, area/vectorization, reviewed

#10036 [Enhancement]Decode bitshuffle data before adding it into PageCache
  be/src/olap/rowset/segment_v2/binary_dict_page.cpp
  be/src/olap/rowset/segment_v2/bitshuffle_page.h
  be/src/olap/rowset/segment_v2/bitshuffle_page_pre_decoder.h
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/encoding_info.cpp
  be/src/olap/rowset/segment_v2/encoding_info.h
  be/src/olap/rowset/segment_v2/indexed_column_reader.cpp
  be/src/olap/rowset/segment_v2/page_io.cpp
  be/src/olap/rowset/segment_v2/page_io.h
  be/test/olap/rowset/segment_v2/binary_dict_page_test.cpp
  be/test/olap/rowset/segment_v2/bitshuffle_page_test.cpp
Labels: kind/improvement, reviewed, dev/backlog

#10079 [BUGFIX] Fix wrong column type in result file sink
  be/src/vec/runtime/vfile_result_writer.cpp
Labels: approved, area/vectorization, reviewed, dev/1.0.1

#10053 [doc] add description of [DEFAULT CURRENT_TIMESTAMP]
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
Labels: kind/docs, approved, reviewed

#10044 [feature](multi-catalog) Change DatabaseIf APIs' return type to TableIf.
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/alter/AlterHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/AlterJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowDataStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ColocateTableIndex.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Database.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/DatabaseIf.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/InternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Table.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/ExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalDataSource.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/RowCountAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/TableRowCountAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/TableSchemaAction.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterJobV2Test.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/DropPartitionTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/AnotherDemoTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/DemoTest.java
Labels: area/load, area/planner, approved, area/routine load, reviewed, area/multi-catalog

#10058 [Improvement] add regression test for outfile
  regression-test/data/export/test_outfile.out
  regression-test/suites/export/test_outfile.groovy
Labels: kind/test, reviewed

#9803 [fix](brpc) Embed serialized request into the attachment and transmit it through http brpc
  be/src/common/config.h
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/runtime/data_stream_sender.cpp
  be/src/runtime/data_stream_sender.h
  be/src/runtime/row_batch.cpp
  be/src/runtime/row_batch.h
  be/src/service/internal_service.cpp
  be/src/service/internal_service.h
  be/src/util/brpc_client_cache.h
  be/src/util/proto_util.h
  be/src/vec/core/block.cpp
  be/src/vec/core/block.h
  be/src/vec/sink/vdata_stream_sender.cpp
  be/src/vec/sink/vdata_stream_sender.h
  be/src/vec/sink/vtablet_sink.cpp
  be/src/vec/sink/vtablet_sink.h
  be/test/vec/core/block_test.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
  gensrc/proto/internal_service.proto
Labels: kind/docs, approved, area/vectorization, reviewed, dev/1.0.1

#10080 [improvement] send merged runtime filter asynchrously
  be/src/runtime/runtime_filter_mgr.cpp
Labels: kind/improvement, approved, area/runtime-filter, reviewed, dev/backlog

#10102 [Improvement] set table name in olap scanner
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
Labels: area/planner, approved, reviewed, dev/backlog

#10092 [deps] update libhdfs3 to fix a uuid set problem
  thirdparty/CHANGELOG.md
  thirdparty/vars.sh
Labels: approved, reviewed, dev/1.0.1

#10068 [enhancement] support simd instructions on arm cpus through sse2neon
  be/CMakeLists.txt
  be/src/exprs/block_bloom_filter_impl.cc
  be/src/util/bit_util.h
  be/src/util/crc32c.cpp
  be/src/util/hash_util.hpp
  be/src/util/simd/bits.h
  be/src/util/simd/lower_upper_impl.h
  be/src/util/simd/vstring_function.h
  be/src/util/sse2neon.h
  be/src/vec/columns/column_nullable.h
  be/src/vec/columns/columns_common.cpp
  be/src/vec/common/hash_table/hash.h
  be/src/vec/common/memcmp_small.h
  be/src/vec/common/memcpy_small.h
  be/src/vec/common/string_ref.h
  be/src/vec/common/uint128.h
  build.sh
  run-be-ut.sh
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Labels: approved, area/vectorization, reviewed

#10048 [doc]Add common error messages to doris backup
  docs/en/docs/admin-manual/data-admin/backup.md
  docs/zh-CN/docs/admin-manual/data-admin/backup.md
Labels: kind/docs, approved, reviewed

#10112 [typo] Fix typos in runtime_state.cpp
  be/src/runtime/runtime_state.cpp
Labels: approved, reviewed

#10111 [typo] Fix typos in comments
  be/src/runtime/runtime_filter_mgr.h
Labels: approved, reviewed

#10109 [spell] Fix spell error in row_batch.h
  be/src/exec/broker_scan_node.cpp
  be/src/runtime/row_batch.h
Labels: approved, reviewed

#10105 [doc] Add docs for SHOW TABLETS
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-TABLETS.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-TABLETS.md
Labels: kind/docs, approved, reviewed

#10073 [fix] fix bug that show proc "/cluster_balance/history_tablets" return malformat error
  fe/fe-core/src/main/java/org/apache/doris/common/proc/TabletSchedulerDetailProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanFragment.java
  fe/fe-core/src/test/java/org/apache/doris/planner/ColocatePlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/DistributedPlannerTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/MaterializedViewFunctionTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/ResourceTagQueryTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/TableFunctionPlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/policy/PolicyTest.java
  regression-test/data/performance/redundant_conjuncts.out
  regression-test/suites/rollup/test_materialized_view.groovy
  regression-test/suites/rollup/test_rollup_agg.groovy
Labels: kind/fix, area/planner, kind/test, approved, reviewed, dev/1.0.1

#10060 [Bug] Fix bug push value predicate of unique table when have sequence column
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/beta_rowset_reader.h
Labels: kind/fix, approved, reviewed, dev/1.0.1

#10116 [Bug] return type is not always nullable of function
  be/src/udf/udf.cpp
  be/src/vec/functions/nullif.cpp
Labels: kind/fix, approved, area/sql/function, area/vectorization, reviewed, dev/1.0.1

#10055 [Enhancement] tpch q3 rewrite, change join order, make lineitem on left side
  tools/tpch-tools/queries/q3.sql
Labels: approved, reviewed, dev/backlog

#10072 [fix] (mem tracker) Fix some memory leaks, inaccurate statistics, core dump, deadlock bugs
  be/src/exec/tablet_sink.cpp
  be/src/exec/tablet_sink.h
  be/src/gutil/strings/numbers.cc
  be/src/olap/task/engine_alter_tablet_task.cpp
  be/src/olap/task/engine_batch_load_task.cpp
  be/src/olap/task/engine_checksum_task.cpp
  be/src/olap/task/engine_clone_task.cpp
  be/src/olap/task/engine_storage_migration_task_v2.cpp
  be/src/runtime/load_channel.cpp
  be/src/runtime/load_channel.h
  be/src/runtime/load_channel_mgr.cpp
  be/src/runtime/load_channel_mgr.h
  be/src/runtime/mem_tracker.cpp
  be/src/runtime/mem_tracker.h
  be/src/runtime/mem_tracker_task_pool.cpp
  be/src/runtime/thread_context.cpp
  be/src/runtime/thread_context.h
  be/src/runtime/thread_mem_tracker_mgr.cpp
  be/src/runtime/thread_mem_tracker_mgr.h
Labels: kind/fix, approved, area/memory-consumption, reviewed

#10137 [enhancement](community): polish doc to reformat
  docs/en/developer/developer-guide/java-format-code.md
  docs/zh-CN/developer/developer-guide/java-format-code.md
Labels: kind/docs, approved, reviewed

#10130 [doc]Added be enable_stream_load_record configuration description
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#10110 [improvement][config] change be 2pc config enbale defalut
  be/src/common/config.h
Labels: kind/api-change, approved, reviewed, dev/1.0.1

#10091 [doc][website]update home page content and add slack button
  docs/.vuepress/public/images/slack.png
  docs/.vuepress/styles/index.styl
  docs/.vuepress/theme/components/Common.vue
  docs/.vuepress/theme/components/Dropdown.vue
  docs/.vuepress/theme/layouts/Category.vue
  docs/.vuepress/theme/layouts/Layout.vue
  docs/.vuepress/theme/layouts/ZhCategory.vue
  docs/en/README.md
  docs/zh-CN/README.md
Labels: kind/docs, approved, reviewed

#9971 [Bugfix] Fix the bug data balance causes tablet loss
  be/src/agent/task_worker_pool.cpp
  be/src/olap/base_tablet.h
  be/src/olap/snapshot_manager.cpp
  be/src/olap/snapshot_manager.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_manager.h
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_meta.h
  be/src/olap/task/engine_clone_task.cpp
  be/src/olap/task/engine_storage_migration_task.cpp
  be/src/runtime/snapshot_loader.cpp
  be/test/olap/cumulative_compaction_policy_test.cpp
  be/test/olap/delete_handler_test.cpp
  be/test/olap/delta_writer_test.cpp
  be/test/olap/engine_storage_migration_task_test.cpp
  be/test/olap/tablet_meta_test.cpp
  be/test/olap/tablet_mgr_test.cpp
  be/test/olap/tablet_test.cpp
  be/test/olap/test_data/header_without_inc_rs.txt
  fe/fe-core/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PartitionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/clone/BeLoadRebalancer.java
  fe/fe-core/src/main/java/org/apache/doris/clone/ClusterLoadStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/clone/TabletSchedCtx.java
  fe/fe-core/src/main/java/org/apache/doris/clone/TabletScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalDataSource.java
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/fe-core/src/main/java/org/apache/doris/task/CloneTask.java
  fe/fe-core/src/main/java/org/apache/doris/task/CreateReplicaTask.java
  fe/fe-core/src/main/java/org/apache/doris/task/DropReplicaTask.java
  fe/fe-core/src/test/java/org/apache/doris/task/AgentTaskTest.java
  gensrc/proto/olap_file.proto
  gensrc/thrift/AgentService.thrift
  gensrc/thrift/MasterService.thrift
  gensrc/thrift/Types.thrift
Labels: kind/fix, approved, reviewed, dev/1.0.1

#9930 [Vectorized][UDF] support java-udaf
  be/src/util/jni-util.h
  be/src/vec/CMakeLists.txt
  be/src/vec/aggregate_functions/aggregate_function_java_udaf.h
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exprs/vectorized_agg_fn.cpp
  be/src/vec/functions/function_java_udf.cpp
  be/src/vec/functions/function_java_udf.h
  docs/en/docs/ecosystem/udf/java-user-defined-function.md
  docs/zh-CN/docs/ecosystem/udf/java-user-defined-function.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateFunctionStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/AggregateFunction.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdafExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfUtils.java
  gensrc/thrift/Types.thrift
Labels: kind/docs, area/planner, approved, area/sql/function, area/vectorization

#9997 add storage policy for remote storage migration
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-POLICY.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-POLICY.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreatePolicyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropPolicyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowPolicyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Resource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ResourceMgr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/StoragePolicyResource.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/org/apache/doris/policy/Policy.java
  fe/fe-core/src/main/java/org/apache/doris/policy/PolicyMgr.java
  fe/fe-core/src/main/java/org/apache/doris/policy/RowPolicy.java
  fe/fe-core/src/main/java/org/apache/doris/policy/StoragePolicy.java
Labels: area/load, kind/docs, area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed

#10069 [test] add cast array regression test
  regression-test/suites/query/sql_functions/array_functions/test_cast_array_functions.groovy
Labels: kind/test, approved, reviewed

#10148 [doc](website)modify home page text and navbar
  docs/.vuepress/config.js
  docs/en/README.md
Labels: kind/docs, approved, reviewed

#10065 [feature-wip](array-type) Support loading data in vectorized format
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/column_reader.h
  be/test/runtime/array_test.cpp
Labels: kind/fix, approved, area/array-type, area/vectorization, reviewed, dev/backlog

#10132 [Opt][Vectorized] Opt vectorized the unique_table in storage vectorized
  be/src/vec/olap/vgeneric_iterators.cpp
Labels: kind/improvement, approved, area/vectorization, reviewed, dev/1.0.1

#10150 [doc] add tpc-h benchmark
  docs/.vuepress/public/images/image-20220614114351241.png
  docs/.vuepress/sidebar/en/docs.js
  docs/.vuepress/sidebar/zh-CN/docs.js
  docs/en/docs/benchmark/tpch.md
  docs/zh-CN/docs/benchmark/tpch.md
Labels: kind/docs, approved, reviewed

#10157 [doc](website)remove translate warning form Chinese docs
  docs/.vuepress/theme/components/Page.vue
  docs/en/README.md
Labels: kind/docs, approved, reviewed

#9804 [Feature] compaction quickly for small data import #9791
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/common/status.h
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  be/src/olap/delta_writer.cpp
  be/src/olap/olap_server.cpp
  be/src/olap/storage_engine.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/task/engine_publish_version_task.cpp
  be/src/olap/task/engine_publish_version_task.h
Labels: approved, area/vectorization, reviewed, dev/1.0.1

#10168 [doc](website)update Chinese heme page text
  docs/zh-CN/README.md
Labels: kind/docs, approved, reviewed

#10164 [doc] update sequence en and zh-CN doc.
  docs/en/docs/data-operate/update-delete/sequence-column-manual.md
  docs/zh-CN/docs/data-operate/update-delete/sequence-column-manual.md
Labels: kind/docs, approved, reviewed

#10142 [typo] Fix typos in comments
  be/src/runtime/snapshot_loader.cpp
  be/src/runtime/thread_context.h
Labels: approved, reviewed

#10061 [refactor] remove useless plugin test code
  be/test/CMakeLists.txt
  be/test/plugin/example/CMakeLists.txt
  be/test/plugin/example/plugin_example.cpp
  be/test/plugin/plugin_loader_test.cpp
  be/test/plugin/plugin_mgr_test.cpp
  be/test/plugin/plugin_test/source/test.zip
  be/test/plugin/plugin_test/source/test.zip.md5
  be/test/plugin/plugin_zip_test.cpp
  fe/fe-core/src/test/java/org/apache/doris/plugin/PluginInfoTest.java
  fe/fe-core/src/test/java/org/apache/doris/plugin/PluginLoaderTest.java
  fe/fe-core/src/test/java/org/apache/doris/plugin/PluginMgrTest.java
  fe/fe-core/src/test/java/org/apache/doris/plugin/PluginTestUtil.java
  fe/fe-core/src/test/java/org/apache/doris/plugin/PluginZipTest.java
  run-be-ut.sh
Labels: kind/api-change, approved, kind/refactor, reviewed

#10003 [Feature] [Vectorized] Some pre-refactorings or interface additions for schema change part2
  be/src/agent/task_worker_pool.cpp
  be/src/common/config.h
  be/src/olap/push_handler.cpp
  be/src/olap/push_handler.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/rowset/beta_rowset_reader.h
  be/src/olap/schema_change.cpp
  be/src/olap/schema_change.h
  be/src/olap/tablet.cpp
  be/src/olap/task/engine_alter_tablet_task.cpp
  be/src/olap/task/engine_alter_tablet_task.h
  be/src/olap/task/engine_storage_migration_task_v2.cpp
  be/src/olap/tuple_reader.cpp
  be/src/olap/tuple_reader.h
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/runtime/thread_mem_tracker_mgr.h
  be/src/vec/columns/column.h
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/block_reader.h
  be/test/olap/schema_change_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadingTaskPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/update/UpdatePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/task/AlterReplicaTask.java
  fe/fe-core/src/test/java/org/apache/doris/planner/StreamLoadScanNodeTest.java
  gensrc/thrift/AgentService.thrift
Labels: area/load, area/planner, approved, area/spark-load, area/vectorization, reviewed

#10123 [Bug] [Regression-Test] run test_outfile failed because not use regression-conf
  regression-test/suites/export/test_outfile.groovy
Labels: kind/test, approved, reviewed, kind/need-regression-test

#10093 [improvement](profile) Add table name and predicates
  be/src/exec/olap_scan_node.cpp
  be/src/util/to_string.h
  fe/fe-core/src/main/java/org/apache/doris/common/profile/ProfileTreeBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/ProfileTreeNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/RuntimeProfile.java
Labels: approved, reviewed, dev/backlog

#9968 [Refactor] Refactor vectorized scan node
  be/src/exec/olap_scan_node.h
  be/src/exprs/expr_context.h
  be/src/vec/exec/vbroker_scan_node.cpp
  be/src/vec/exec/vbroker_scan_node.h
  be/src/vec/exec/ves_http_scan_node.cpp
  be/src/vec/exec/ves_http_scan_node.h
  be/src/vec/exec/vmysql_scan_node.cpp
  be/src/vec/exec/vmysql_scan_node.h
  be/src/vec/exec/vodbc_scan_node.cpp
  be/src/vec/exec/vodbc_scan_node.h
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/exec/volap_scan_node.h
  be/src/vec/exec/volap_scanner.cpp
  be/src/vec/exec/volap_scanner.h
  be/src/vec/exec/vschema_scan_node.cpp
  be/src/vec/exec/vschema_scan_node.h
Labels: approved, area/vectorization, reviewed

#10054 fix simdjson compile flags
  thirdparty/build-thirdparty.sh
Labels: area/dependency, reviewed

#10178 [doc](website)fix SSR bug and add algolia search
  docs/.vuepress/config.js
  docs/.vuepress/public/images/ssb_v11_v015_compare.png
  docs/.vuepress/sidebar/en/docs.js
  docs/.vuepress/sidebar/zh-CN/docs.js
  docs/.vuepress/theme/layouts/Layout.vue
Labels: approved, reviewed

#10180 [Bug] Fix _add_block_closure do not delete in ~VNodeChannel()
  be/src/vec/sink/vtablet_sink.cpp
Labels: approved, area/vectorization, reviewed

#10179 [Fix] fix vjson_scanner heap use after free when meet object or array…
  be/src/vec/exec/vjson_scanner.cpp
Labels: area/vectorization, dev/1.0.1

#10139 [Enhancement][Storage] refactor InListPredicate/NotInListPredicate
  be/src/olap/CMakeLists.txt
  be/src/olap/in_list_predicate.cpp
  be/src/olap/in_list_predicate.h
  be/src/vec/columns/column_dictionary.h
Labels: approved, area/vectorization, reviewed, dev/backlog

#10140 [fix] croaringbitmap compile support USE_AVX2=0
  thirdparty/build-thirdparty.sh
Labels: area/dependency, reviewed

#10146 [Refactor] Use iequal to replace boost::iequals
  be/src/exec/schema_scan_node.cpp
  be/src/http/action/mini_load.cpp
  be/src/olap/tablet_meta.cpp
  be/src/runtime/small_file_mgr.cpp
Labels: approved, reviewed

#10119 [test]set exec_mem_limit=8G for tpch queries
  tools/tpch-tools/queries/q1.sql
  tools/tpch-tools/queries/q10.sql
  tools/tpch-tools/queries/q11.sql
  tools/tpch-tools/queries/q12.sql
  tools/tpch-tools/queries/q13.sql
  tools/tpch-tools/queries/q14.sql
  tools/tpch-tools/queries/q15.sql
  tools/tpch-tools/queries/q16.sql
  tools/tpch-tools/queries/q17.sql
  tools/tpch-tools/queries/q18.sql
  tools/tpch-tools/queries/q19.sql
  tools/tpch-tools/queries/q2.sql
  tools/tpch-tools/queries/q20.sql
  tools/tpch-tools/queries/q21.sql
  tools/tpch-tools/queries/q22.sql
  tools/tpch-tools/queries/q3.sql
  tools/tpch-tools/queries/q4.sql
  tools/tpch-tools/queries/q5.sql
  tools/tpch-tools/queries/q6.sql
  tools/tpch-tools/queries/q7.sql
  tools/tpch-tools/queries/q8.sql
  tools/tpch-tools/queries/q9.sql
Labels: approved, reviewed

#10128 [feature] Support hive on s3.
  docs/en/docs/ecosystem/external-table/hive-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/hive-of-doris.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveTable.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HiveScanNode.java
Labels: kind/docs, area/planner, approved, reviewed, area/multi-catalog

#10184 [Bug][Vectorized] Fix DCHECK failed in VExchangeNode close twice
  be/src/vec/exec/vexchange_node.cpp
  be/src/vec/exec/vunion_node.cpp
Labels: approved, area/vectorization, reviewed

#10133 [fix] (mem tracker) Fix core dump during `transmit_block`
  be/src/runtime/thread_context.h
  be/src/service/internal_service.cpp
Labels: kind/fix, approved, area/memory-consumption, reviewed

#10201 [fix] clang compile errors fix
  be/src/vec/exec/vodbc_scan_node.h
  be/src/vec/exec/volap_scanner.h
  be/src/vec/exec/vschema_scan_node.cpp
  be/src/vec/exec/vschema_scan_node.h
Labels: approved, area/vectorization, reviewed

#10177 [FOLLOWUP] cherrypick after refactoring scan nodes
  be/src/vec/exec/volap_scan_node.cpp
Labels: approved, area/vectorization, reviewed, dev/backlog

#10183 [fix](executor) intersect operator takes too long time to execute
  be/src/vec/common/hash_table/hash_table.h
  be/src/vec/exec/vset_operation_node.h
Labels: approved, area/vectorization, reviewed, dev/1.0.1

#10165 Constrain run-regression-test mem to 2G
  run-regression-test.sh
Labels: approved, reviewed

#10126 [Vectorized][Function] add orthogonal bitmap agg functions
  be/src/exprs/bitmap_function.cpp
  be/src/runtime/string_value.h
  be/src/util/bitmap_intersect.h
  be/src/vec/CMakeLists.txt
  be/src/vec/aggregate_functions/aggregate_function_orthogonal_bitmap.cpp
  be/src/vec/aggregate_functions/aggregate_function_orthogonal_bitmap.h
  be/src/vec/aggregate_functions/aggregate_function_simple_factory.cpp
  be/test/exprs/bitmap_function_test.cpp
  docs/.vuepress/sidebar/en/docs.js
  docs/.vuepress/sidebar/zh-CN/docs.js
  docs/en/docs/sql-manual/sql-functions/bitmap-functions/intersect_count.md
  docs/zh-CN/docs/sql-manual/sql-functions/bitmap-functions/intersect_count.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
Labels: kind/docs, area/planner, approved, area/vectorization, reviewed

#10088 [feature](multi-catalog) Add HMS external data source.
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DescribeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowDataStmt.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupHandler.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupJob.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupJobInfo.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/CatalogRecycleBin.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Database.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/DatabaseIf.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/InternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Table.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableIf.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletStatMgr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/ExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/ExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/EsPartitionsProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/IndexInfoProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/PartitionsProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/StatisticProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/TableProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/TablesProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/consistency/ConsistencyChecker.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/EsExternalDataSource.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalDataSource.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalDataSource.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalDataSource.java
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/EsRepository.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/ShowAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/StorageTypeCheckAction.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/OlapTableTest.java
  fe/fe-core/src/test/java/org/apache/doris/qe/ShowExecutorTest.java
Labels: area/load, area/planner, approved, reviewed, area/multi-catalog

#10196 [doc](website)fix algolia search bug
  docs/.vuepress/config.js
  docs/.vuepress/theme/components/AlgoliaSearchBox.vue
Labels: approved, reviewed

#10174 [fix](optimizer) Fix the default join reorder algorithm
  fe/check/checkstyle/checkstyle.xml
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
Labels: kind/fix, area/planner, approved, reviewed, dev/1.0.1

#10143 [Bug] Compatible with Datagrip, fix checkStyle
  fe/fe-core/src/main/java/org/apache/doris/catalog/SchemaTable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: approved, reviewed

#10108 [feature-wip](array-type) Add array aggregation functions
  be/src/vec/CMakeLists.txt
  be/src/vec/aggregate_functions/aggregate_function.h
  be/src/vec/aggregate_functions/aggregate_function_product.h
  be/src/vec/columns/column_decimal.h
  be/src/vec/core/types.h
  be/src/vec/functions/array/function_array_aggregation.cpp
  be/src/vec/functions/array/function_array_mapped.h
  be/src/vec/functions/array/function_array_register.cpp
  be/src/vec/functions/function.h
  be/src/vec/functions/simple_function_factory.h
  be/test/CMakeLists.txt
  be/test/vec/function/function_array_aggregation_test.cpp
  be/test/vec/function/function_test_util.cpp
  be/test/vec/function/function_test_util.h
  docs/en/sql-manual/sql-functions/array-functions/array_avg.md
  docs/en/sql-manual/sql-functions/array-functions/array_max.md
  docs/en/sql-manual/sql-functions/array-functions/array_min.md
  docs/en/sql-manual/sql-functions/array-functions/array_product.md
  docs/en/sql-manual/sql-functions/array-functions/array_sum.md
  docs/zh-CN/sql-manual/sql-functions/array-functions/array_avg.md
  docs/zh-CN/sql-manual/sql-functions/array-functions/array_max.md
  docs/zh-CN/sql-manual/sql-functions/array-functions/array_min.md
  docs/zh-CN/sql-manual/sql-functions/array-functions/array_product.md
  docs/zh-CN/sql-manual/sql-functions/array-functions/array_sum.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/ArrayType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
  gensrc/script/doris_builtins_functions.py
Labels: kind/docs, approved, area/sql/function, area/vectorization, reviewed

#10186 [Improvement] build runtime filters asynchronously
  be/src/exprs/runtime_filter.cpp
  be/src/exprs/runtime_filter.h
  be/src/vec/exec/join/vhash_join_node.cpp
Labels: area/vectorization

#10153 [opt](compaction) optimize compaction in concurrent load
  be/src/common/config.h
  be/src/olap/cumulative_compaction.cpp
  be/src/olap/cumulative_compaction_policy.cpp
  be/src/olap/cumulative_compaction_policy.h
  be/src/olap/olap_server.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/test/olap/cumulative_compaction_policy_test.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/improvement, kind/docs, approved, reviewed, dev/1.0.1

#10211 [fix]InListPredicate wrong result
  be/src/olap/in_list_predicate.h
  regression-test/suites/data_model/duplicate/storage/test_dup_tab_basic_int.groovy
Labels: kind/test, approved, reviewed

#10212 [doc](website)Replace CDN files with local files
  .licenserc.yaml
  LICENSE.txt
  docs/.vuepress/config.js
  docs/.vuepress/public/css/animate.min.css
  docs/.vuepress/public/font/font.css
  docs/.vuepress/public/font/font_3319292_bdqvc63l075.svg
  docs/.vuepress/public/font/font_3319292_bdqvc63l075.ttf
  docs/.vuepress/public/font/font_3319292_bdqvc63l075.woff
  docs/.vuepress/public/font/font_3319292_bdqvc63l075.woff2
  docs/.vuepress/public/js/jquery.min.js
Labels: approved, reviewed

#10218 [bug](be) fix be block_reader.cc::_update_agg_value() mem leak.(#10216)
  be/src/vec/olap/block_reader.cpp
Labels: approved, area/vectorization, reviewed

#10234 [fix] fix pr-10165 Constrain run-regression-test mem to 2G
  run-regression-test.sh
Labels: approved, reviewed

#10070 [enhancement] Change array offset type from UInt32 to UInt64
  be/src/exec/olap_scanner.cpp
  be/src/olap/column_vector.cpp
  be/src/olap/column_vector.h
  be/src/olap/row_block2.cpp
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/column_reader.h
  be/src/olap/rowset/segment_v2/column_writer.cpp
  be/src/runtime/collection_value.cpp
  be/src/runtime/collection_value.h
  be/src/runtime/tuple.cpp
  be/src/udf/udf.h
  be/src/vec/columns/column.h
  be/src/vec/columns/column_string.cpp
  be/src/vec/columns/column_vector.cpp
  be/src/vec/data_types/data_type_array.cpp
  be/src/vec/data_types/data_type_string.cpp
  be/src/vec/functions/array/function_array_size.h
  be/src/vec/functions/function_string.h
  be/src/vec/sink/mysql_result_writer.cpp
  be/src/vec/utils/arrow_column_to_doris_column.cpp
  be/test/olap/column_vector_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/PrimitiveType.java
Labels: approved, area/sql/function, area/vectorization, reviewed

#10127 [Bug] Fix heap-use-after-free when using type array<string>
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/olap_data_convertor.h
Labels: approved, area/vectorization, reviewed

#10163 [fix](reader)replace an auto with size_t to avoid integer overflow
  be/src/olap/rowset/segment_v2/binary_dict_page.cpp
  be/src/olap/rowset/segment_v2/binary_plain_page.h
Labels: approved, reviewed

#10172 [typo] Fix typos in comments
  be/src/runtime/thread_mem_tracker_mgr.h
  be/src/runtime/user_function_cache.cpp
  be/src/service/doris_main.cpp
Labels: approved

#10205 [chore] Fix a warning reported by maven
  fe/fe-core/pom.xml
Labels: kind/chore, approved, reviewed
