Repository apache/doris, pull requests merged in 2022-08, with the labels that each got.

#11373 [typo](doc)fix be config buffer_pool_limit default value
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11376 [enhancement](memtracker) Fix MemTrackerLimiter lifecycle hidden risks
  be/src/olap/base_compaction.cpp
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  be/src/olap/cumulative_compaction.cpp
  be/src/olap/delta_writer.cpp
  be/src/olap/delta_writer.h
  be/src/olap/memtable_flush_executor.cpp
  be/src/olap/memtable_flush_executor.h
  be/src/olap/olap_server.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
  be/src/olap/task/engine_alter_tablet_task.cpp
  be/src/olap/task/engine_alter_tablet_task.h
  be/src/olap/task/engine_batch_load_task.cpp
  be/src/olap/task/engine_batch_load_task.h
  be/src/olap/task/engine_checksum_task.cpp
  be/src/olap/task/engine_checksum_task.h
  be/src/olap/task/engine_clone_task.cpp
  be/src/olap/task/engine_clone_task.h
  be/src/runtime/data_stream_mgr.cpp
  be/src/runtime/data_stream_recvr.cc
  be/src/runtime/data_stream_recvr.h
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/runtime/load_channel.cpp
  be/src/runtime/load_channel.h
  be/src/runtime/load_channel_mgr.cpp
  be/src/runtime/load_channel_mgr.h
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/src/runtime/memory/mem_tracker_limiter.h
  be/src/runtime/memory/mem_tracker_task_pool.cpp
  be/src/runtime/memory/mem_tracker_task_pool.h
  be/src/runtime/memory/thread_mem_tracker_mgr.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/runtime/sorted_run_merger.cc
  be/src/runtime/tablets_channel.cpp
  be/src/runtime/tablets_channel.h
  be/src/runtime/thread_context.cpp
  be/src/runtime/thread_context.h
  be/src/service/internal_service.cpp
  be/src/vec/runtime/vdata_stream_mgr.cpp
  be/src/vec/runtime/vdata_stream_recvr.cpp
  be/src/vec/runtime/vdata_stream_recvr.h
  be/test/runtime/mem_limit_test.cpp
  be/test/testutil/run_all_tests.cpp
Labels: area/memory-consumption, area/vectorization

#11358 [Bug](datetimev2) fix bugs for datev2/datetimev2
  be/src/vec/data_types/data_type_time_v2.cpp
  be/src/vec/functions/function_cast.h
  be/src/vec/functions/function_datetime_floor_ceil.cpp
  be/src/vec/runtime/vdatetime_value.h
  fe/fe-core/src/main/java/org/apache/doris/catalog/AggregateType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
Labels: area/sql/function, area/vectorization

#11372 [bug](storage-scanner) fix infinite loop when reading wide table
  be/src/exec/olap_scanner.cpp
  regression-test/data/query/wide_table/sql/wide_table.out
  regression-test/suites/query/wide_table/sql/wide_table.sql
Labels: kind/test, dev/1.1.2

#11363 [improvement](agg)Use phmap::flat_hash_set in AggregateFunctionUniq
  be/src/vec/aggregate_functions/aggregate_function.h
  be/src/vec/aggregate_functions/aggregate_function_nothing.h
  be/src/vec/aggregate_functions/aggregate_function_null.h
  be/src/vec/aggregate_functions/aggregate_function_uniq.h
  be/src/vec/exec/vaggregation_node.cpp
Labels: area/vectorization

#11362 [feature](load) support CLEAN LABEL stmt
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/CLEAN-LABEL.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/CLEAN-LABEL.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/CleanLabelStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/persist/CleanLabelOperationLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
  regression-test/data/load/clean_label/test_clean_label.out
  regression-test/suites/load/clean_label/test_clean_label.groovy
Labels: kind/feature, area/load, kind/docs, area/planner, kind/test, reviewed, dev/1.1.2

#11366 [chore](thirdparty) env.sh may report error while JAVA_HOME is not set
  env.sh
Labels: good first issue, kind/chore, approved, reviewed

#11367 [Bugfix](light-schema-change) Fix bf columns message miss when load
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapTableSink.java
Labels: area/planner

#11371 [Bug][Vectorized] Support the .* in hyperscan to valid the % in SQL
  be/src/vec/functions/like.cpp
  regression-test/data/query/sql_functions/string_functions/test_string_function_like.out
  regression-test/suites/query/sql_functions/string_functions/test_string_function_like.groovy
Labels: kind/test, area/sql/function, area/vectorization, reviewed

#11321 [fix](agg)Add field of 'is_first_phase' in TAggregationNode
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vaggregation_node.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/AggregateInfo.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AggregationNode.java
  gensrc/thrift/PlanNodes.thrift
Labels: area/planner, approved, area/vectorization, reviewed

#11131 [Improvement](light-schema-change) support tablet schema cache
  be/src/exec/olap_scanner.cpp
  be/src/olap/base_tablet.cpp
  be/src/olap/base_tablet.h
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  be/src/olap/data_dir.cpp
  be/src/olap/delta_writer.cpp
  be/src/olap/delta_writer.h
  be/src/olap/push_handler.cpp
  be/src/olap/push_handler.h
  be/src/olap/rowset/beta_rowset.cpp
  be/src/olap/rowset/beta_rowset.h
  be/src/olap/rowset/rowset.cpp
  be/src/olap/rowset/rowset.h
  be/src/olap/rowset/rowset_factory.cpp
  be/src/olap/rowset/rowset_factory.h
  be/src/olap/rowset/rowset_meta.h
  be/src/olap/rowset/rowset_writer_context.h
  be/src/olap/rowset/segment_v2/segment.cpp
  be/src/olap/rowset/segment_v2/segment.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/src/olap/schema_change.cpp
  be/src/olap/schema_change.h
  be/src/olap/snapshot_manager.cpp
  be/src/olap/snapshot_manager.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/tablet_schema.h
  be/src/olap/tablet_schema_cache.h
  be/src/olap/task/engine_checksum_task.cpp
  be/src/olap/task/engine_clone_task.cpp
  be/src/service/doris_main.cpp
  be/src/vec/exec/volap_scanner.cpp
  be/test/olap/delete_handler_test.cpp
  be/test/olap/engine_storage_migration_task_test.cpp
  be/test/olap/rowset/beta_rowset_test.cpp
  be/test/olap/rowset/rowset_tree_test.cpp
  be/test/olap/rowset/segment_v2/segment_test.cpp
  be/test/olap/tablet_meta_test.cpp
  be/test/olap/tablet_test.cpp
  be/test/olap/txn_manager_test.cpp
  be/test/testutil/mock_rowset.h
  be/test/testutil/run_all_tests.cpp
Labels: area/vectorization

#11301 [bug](scanner) Improve limit query performance on olapScannode and avoid infinite loop
  be/src/exec/olap_scan_node.cpp
  be/src/exec/olap_scan_node.h
  be/src/exec/olap_scanner.cpp
  be/src/exec/olap_scanner.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/query_fragments_ctx.h
  be/src/runtime/row_batch.cpp
  be/src/vec/exec/volap_scan_node.cpp
Labels: kind/fix, approved, area/vectorization, reviewed, dev/1.1.2

#11316 [fix] Fix the query result error caused by the grouping sets statemen…
  be/src/exec/repeat_node.cpp
  be/src/exec/repeat_node.h
  be/src/vec/exec/vrepeat_node.cpp
  be/src/vec/exec/vrepeat_node.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/GroupingInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/VirtualSlotRef.java
  fe/fe-core/src/main/java/org/apache/doris/planner/RepeatNode.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/RepeatNodeTest.java
  gensrc/thrift/PlanNodes.thrift
  regression-test/data/query/grouping_sets/test_grouping_sets.out
  regression-test/suites/query/grouping_sets/test_grouping_sets.groovy
Labels: area/planner, kind/test, approved, area/vectorization, reviewed, dev/1.1.2

#11387 [fix](stop-script) use kill -9 to stop fe
  bin/stop_fe.sh
Labels: approved, reviewed

#11364 [doc](intro) update the introduce
  .asf.yaml
  .github/PULL_REQUEST_TEMPLATE.md
  dist/LICENSE-dist.txt
  thirdparty/CHANGELOG.md
Labels: approved, reviewed

#11382 [test]Delete some unnecessary information
  regression-test/suites/correctness/test_lateral_view_in_subquery.groovy
Labels: kind/test, approved, reviewed

#11342 [refactor](Nereids)split rewrite and insert into memo to 2 functions
  fe/fe-core/src/main/java/org/apache/doris/catalog/Table.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/ssb/AnalyzeSSBTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/ssb/SSBJoinReorderTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/ssb/SSBTestBase.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/ssb/SSBUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/tpch/AnalyzeCheckTestBase.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/tpch/AnalyzeTPCHTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/tpch/TPCHTestBase.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/tpch/TPCHUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/memo/MemoTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/expressions/SubqueryTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/TestPlanOutput.java
Labels: reviewed, area/nereids

#11248 [feature] (Nereids) add rewrite rule to merge consecutive filter nodes
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeConsecutiveFilters.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/MergeConsecutiveFilterTest.java
Labels: reviewed, area/nereids

#11403 [fix](catalog)fix bug for lower case when rename table name
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
Labels: approved, reviewed

#11389 Fix array permute
  be/src/vec/columns/column_array.cpp
Labels: area/load, kind/docs, area/planner, kind/test, approved, area/sql/function, area/spark-load, area/routine load, area/vectorization, reviewed, area/nereids

#11395 [Fix](array) fix mysql_row_buffer may use after free when reserve() d…
  be/src/util/mysql_row_buffer.cpp
  be/src/util/mysql_row_buffer.h
Labels: approved, reviewed

#11361 [fix](planner) Fix inconsistent nullability between outputTuple and groupByExpr when executing agg query
  fe/fe-core/src/main/java/org/apache/doris/analysis/AggregateInfo.java
  regression-test/data/query/aggregate/aggregate_output_null.out
  regression-test/suites/query/aggregate/aggregate_output_null.groovy
Labels: area/planner, kind/test, reviewed

#11380 [WIP](decimalv3) Fix UTs when `decimalv3` is enabled
  be/src/vec/aggregate_functions/aggregate_function_collect.cpp
  be/src/vec/aggregate_functions/aggregate_function_uniq.cpp
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ArithmeticExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CastExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExpressionFunctions.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/IntLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/AggregateType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/AliasFunction.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ScalarType.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FEFunctions.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/RewriteBinaryPredicatesRule.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/RoundLiteralInBinaryPredicatesRule.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/DecimalLiteralTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/QueryStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/ColumnTypeTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateFunctionTest.java
  fe/fe-core/src/test/java/org/apache/doris/rewrite/RewriteBinaryPredicatesRuleTest.java
  fe/fe-core/src/test/java/org/apache/doris/rewrite/RewriteDateLiteralRuleTest.java
Labels: area/planner, area/sql/function, area/vectorization

#11379 [fix](build) The `nproc` command does not exist in macos by default, use `sysctl -n hw.logicalcpu` instead to get the number of logical cores available
  thirdparty/build-thirdparty.sh
Labels: reviewed

#10711 [Feature] Add interface to check tablet segment lost
  be/src/http/CMakeLists.txt
  be/src/http/action/check_tablet_segment_action.cpp
  be/src/http/action/check_tablet_segment_action.h
  be/src/olap/rowset/beta_rowset.cpp
  be/src/olap/rowset/beta_rowset.h
  be/src/olap/rowset/rowset.cpp
  be/src/olap/rowset/rowset.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_manager.h
  be/src/service/http_service.cpp
  be/test/testutil/mock_rowset.h
  docs/en/docs/admin-manual/http-actions/check-tablet-segment-action.md
  docs/zh-CN/docs/admin-manual/http-actions/check-tablet-segment-action.md
Labels: kind/docs, approved, reviewed, area/tablet-repair

#11365 [fix](TabletInvertedIndex) fix potential deadlock between ForkJoinPool and TabletInvertedIndex
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadColumnsInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletStatMgr.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalHiveScanProvider.java
Labels: kind/fix, area/load, area/planner, approved, area/routine load, area/tablet-report, reviewed, dev/1.1.2, affects-1.0, affects-1.1

#11397 [refactor](schema change) spark dpp need not call convert rowset during load process
  be/src/olap/push_handler.cpp
  be/src/olap/push_handler.h
  be/src/olap/schema_change.cpp
  be/src/olap/schema_change.h
Labels: approved, reviewed

#11381 [feature-wip] (parquet-reader) parse parquet schema
  be/src/util/slice.h
  be/src/vec/exec/format/parquet/schema_desc.cpp
  be/src/vec/exec/format/parquet/schema_desc.h
  be/src/vec/exec/format/parquet/vparquet_file_metadata.h
  be/test/exec/test_data/parquet_scanner/hive-complex.parquet
  be/test/vec/exec/parquet/parquet_thrift_test.cpp
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#11292 [feature-wip][multi-catalog]Support prefetch for orc file format
  be/src/exec/arrow/arrow_reader.cpp
  be/src/exec/arrow/arrow_reader.h
  be/src/exec/arrow/orc_reader.cpp
  be/src/exec/arrow/orc_reader.h
  be/src/exec/arrow/parquet_reader.cpp
  be/src/exec/arrow/parquet_reader.h
Labels: area/multi-catalog

#11384 [doc]Doc fix
  docs/en/community/how-to-contribute/pull-request.md
  docs/en/docs/get-starting/get-starting.md
  docs/zh-CN/community/how-to-contribute/pull-request.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11273 [doc] Add missing ADMIN DIAGNOSE TABLET doc
  docs/en/docs/sql-manual/sql-reference/Database-Administration-Statements/ADMIN-DIAGNOSE-TABLET.md
  docs/zh-CN/docs/sql-manual/sql-reference/Database-Administration-Statements/ADMIN-DIAGNOSE-TABLET.md
Labels: kind/docs, reviewed, synced-website, doc-1.1.x

#11394 [docs](routine-load)modify config name
  docs/en/docs/data-operate/import/import-way/routine-load-manual.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11408 [Bug](audit) Fix audit user error
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
Labels: kind/api-change, approved, reviewed

#11307 [doc][refactor](metrics) Reorganize FE and BE metrics and add document
  be/src/common/config.h
  be/src/common/daemon.cpp
  be/src/http/action/stream_load.cpp
  be/src/http/action/stream_load.h
  be/src/io/fs/local_file_reader.cpp
  be/src/olap/file_helper.cpp
  be/src/olap/file_helper.h
  be/src/olap/lru_cache.cpp
  be/src/olap/lru_cache.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/olap/segment_loader.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  be/src/util/doris_metrics.cpp
  be/src/util/doris_metrics.h
  be/src/vec/sink/vtablet_sink.cpp
  be/test/util/doris_metrics_test.cpp
  docs/en/docs/admin-manual/maint-monitor/monitor-metrics/be-metrics.md
  docs/en/docs/admin-manual/maint-monitor/monitor-metrics/fe-metrics.md
  docs/en/docs/admin-manual/maint-monitor/monitor-metrics/metrics.md
  docs/zh-CN/docs/admin-manual/maint-monitor/monitor-metrics/be-metrics.md
  docs/zh-CN/docs/admin-manual/maint-monitor/monitor-metrics/fe-metrics.md
  docs/zh-CN/docs/admin-manual/maint-monitor/monitor-metrics/metrics.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/clone/TabletChecker.java
  fe/fe-core/src/main/java/org/apache/doris/common/ThreadPoolManager.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/MetricsAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/util/LoadSubmitter.java
  fe/fe-core/src/main/java/org/apache/doris/load/ExportChecker.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/load/LoadChecker.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadTaskInfo.java
  fe/fe-core/src/main/java/org/apache/doris/load/update/UpdateStmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/fe-core/src/main/java/org/apache/doris/metric/DorisMetricRegistry.java
  fe/fe-core/src/main/java/org/apache/doris/metric/JsonMetricVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/metric/MetricRepo.java
  fe/fe-core/src/main/java/org/apache/doris/metric/MetricVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/metric/PrometheusMetricVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/metric/SimpleCoreMetricVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/nio/NMysqlServer.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/cache/CacheAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/qe/cache/PartitionCache.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/org/apache/doris/task/MasterTaskExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/LoadJobTest.java
Labels: area/load, kind/docs, area/planner, area/metrics, kind/refactor, area/routine load, area/vectorization, doc-1.1.x

#11411 [improvement](script)Audit build script
  build.sh
  fe_plugins/auditloader/build.sh
Labels: approved, area/plugin, area/script, reviewed, dev/1.1.2

#11410 [Bug](date function) `from_unixtime` return wrong result
  fe/fe-core/src/main/java/org/apache/doris/rewrite/RewriteFromUnixTimeRule.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  regression-test/data/query/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/query/sql_functions/datetime_functions/test_date_function.groovy
Labels: kind/test, dev/1.1.2

#11418 [cherry-pick][fix](TabletInvertedIndex) fix potential deadlock between ForkJoinPool and TabletInvertedIndex #11365
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadColumnsInfo.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletStatMgr.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
Labels: dev/merge-1.1.2

#11417 [improvement](script)Audit build script
  build.sh
  fe_plugins/auditloader/build.sh
Labels: area/plugin, dev/merge-1.1.2

#11414 [Bug](update) Update Stmt Fail use in predicate query
  fe/fe-core/src/main/java/org/apache/doris/analysis/UpdateStmt.java
  regression-test/data/update/test_update_unique.out
  regression-test/suites/update/test_update_unique.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.1.2

#11420 [Bug](ODBC) fix vectorized null value error report in odbc scan node
  be/src/exec/odbc_scan_node.cpp
  be/src/exec/text_converter.hpp
  be/src/vec/exec/vodbc_scan_node.cpp
  be/src/vec/exec/vodbc_scan_node.h
Labels: area/vectorization, reviewed, dev/1.1.2

#11262 [feature] (Nereids) add rule to merge consecutive project nodes
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/AggregateDisassemble.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeConsecutiveProjects.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/ExpressionReplacer.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/MergeConsecutiveProjectsTest.java
Labels: reviewed, area/nereids

#11218 [WIP][feature] support `create`,`alter`,`refresh`,`drop` stmt syntax for multi table materialized view
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateMultiTableMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVRefreshInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVRefreshIntervalTriggerInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVRefreshTriggerInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/RefreshMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
Labels: kind/feature, area/planner, approved, area/materialized-view, reviewed, area/multi-table-materialized-view

#11423 [regression](Nereids) add nereids syntax regression suite
  regression-test/suites/nereids_syntax/load.groovy
Labels: kind/test, area/nereids

#11180 [Bugfix] Fix runtimefilter access violation when stub is nullptr
  be/src/runtime/runtime_filter_mgr.cpp
Labels: reviewed

#11399 [refactor](agg) Abstract the hash operation into a method
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vaggregation_node.h
Labels: area/vectorization

#11422 [Enhancement](TabletInvertIndex) use StampLock to instead of ReentrantReadWriteLock to get better performance
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/StatisticProcNode.java
Labels: area/tablet-report

#11436 [doc]fix-doc
  docs/en/docs/admin-manual/config/fe-config.md
  docs/zh-CN/docs/admin-manual/config/fe-config.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11416 [doc](sql-block-rule) add more example
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-SQL-BLOCK-RULE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-SQL-BLOCK-RULE.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11388 [Community](readme)Update README.md
  README.md
Labels: kind/docs, approved, reviewed

#11441 [refactor](schema change)Remove delete from sc
  be/src/olap/collect_iterator.cpp
  be/src/olap/collect_iterator.h
  be/src/olap/delete_handler.cpp
  be/src/olap/delete_handler.h
  be/src/olap/olap_cond.cpp
  be/src/olap/olap_cond.h
  be/src/olap/schema_change.cpp
  be/test/olap/delete_handler_test.cpp
  regression-test/data/schema_change/test_alter_table_column_with_delete.out
  regression-test/suites/schema_change/test_alter_table_column_with_delete.groovy
Labels: kind/test, approved, reviewed

#11448 [minor](log) add some log to observe the change of table's state.
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
Labels: dev/1.1.2

#11445 [typo](docs zh-CN) how to be a committer
  docs/zh-CN/community/how-to-contribute/how-to-be-a-committer.md
Labels: kind/docs, approved, reviewed

#11433 [fix](grouping sets) Fix the query result error caused by the groupin…
  be/src/exec/repeat_node.cpp
  be/src/exec/repeat_node.h
  be/src/vec/exec/vrepeat_node.cpp
  be/src/vec/exec/vrepeat_node.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/GroupingInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotRef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/VirtualSlotRef.java
  fe/fe-core/src/main/java/org/apache/doris/planner/RepeatNode.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/RepeatNodeTest.java
  gensrc/thrift/PlanNodes.thrift
Labels: dev/merge-1.1.2

#11378 [fix](planner) Fix an issue where outputSmap's size could grow exponentially
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExprSubstitutionMap.java
Labels: kind/fix, area/planner, reviewed, dev/1.1.2

#11345 [fix](hive-table) fix bug that hive external table can not query table created by Tez
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalFileScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalHiveScanProvider.java
Labels: area/planner, area/multi-catalog, dev/1.1.2

#11400 [Improvement](regresstion test) Fix regression test case failure for ASAN build
  be/src/service/doris_main.cpp
  be/src/udf/udf.h
  regression-test/suites/ssb_sf1/nereids/q3.1.groovy
  regression-test/suites/ssb_sf1/nereids/q3.2.groovy
  regression-test/suites/ssb_sf1/nereids/q3.3.groovy
  regression-test/suites/ssb_sf1/nereids/q3.4.groovy
  regression-test/suites/ssb_sf1/nereids/q4.1.groovy
  regression-test/suites/ssb_sf1/nereids/q4.2.groovy
  regression-test/suites/ssb_sf1/nereids/q4.3.groovy
  regression-test/suites/tpcds_sf1_p1/sql/q72.sql
Labels: kind/test

#11396 [Bug](MaterializedView) Fix bug of light schema change do not set right unique id cause MV coredump
  be/src/olap/delta_writer.cpp
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/tablet_schema.h
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
Labels: area/planner, kind/test, reviewed

#11443 [WIP](decimalv3) WIP
  be/src/vec/functions/function_binary_arithmetic.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ScalarType.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateTableAsSelectStmtTest.java
Labels: area/planner, area/sql/function, area/vectorization

#11446 [enhancement](Nereids) support all join type in Nereids that could do join by HashJoinNode
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/NereidsParserTest.java
  regression-test/data/nereids_syntax/join.out
  regression-test/suites/nereids_syntax/join.groovy
Labels: kind/test, area/nereids

#11456 [doc](schema change) Correct Schema Change error description
  docs/en/docs/advanced/materialized-view.md
  docs/zh-CN/docs/advanced/materialized-view.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11434 [improvement](fe) Remove constant keys in aggregation
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/query/aggregate/aggregate.out
  regression-test/suites/query/aggregate/aggregate.groovy
Labels: area/planner, kind/test

#11487 [improvement](outfile) support multibyte separator in outfile clause
  fe/fe-core/src/main/java/org/apache/doris/analysis/OutFileClause.java
  regression-test/data/export/test_outfile_separator.out
  regression-test/suites/export/test_outfile_separator.groovy
Labels: kind/improvement, area/planner, kind/test, area/outfile, reviewed

#11463 [Bug](function) fix current_date not equal to curdate
  be/src/vec/runtime/vdatetime_value.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/DateLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  regression-test/data/query/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/query/sql_functions/datetime_functions/test_date_function.groovy
Labels: area/planner, kind/test, area/vectorization, reviewed, dev/1.1.2

#11485 [enhancement](memtracker) Optimize exceed memory limit log readability
  be/src/exec/cross_join_node.cpp
  be/src/exec/es/es_scroll_parser.cpp
  be/src/exec/except_node.cpp
  be/src/exec/hash_join_node.cpp
  be/src/exec/intersect_node.cpp
  be/src/exec/olap_scanner.cpp
  be/src/exec/partitioned_aggregation_node.cc
  be/src/exec/partitioned_hash_table.cc
  be/src/exec/set_operation_node.cpp
  be/src/exprs/anyval_util.cpp
  be/src/exprs/expr_context.cpp
  be/src/runtime/mem_pool.h
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/src/runtime/memory/mem_tracker_limiter.h
  be/src/runtime/memory/mem_tracker_task_pool.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/thread_context.cpp
  be/src/runtime/thread_context.h
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vcross_join_node.cpp
  be/src/vec/exec/vset_operation_node.cpp
Labels: area/memory-consumption, area/vectorization, dev/1.1.2

#11186 [feature](cache) Add FileCache for RemoteFile
  be/src/common/config.h
  be/src/io/CMakeLists.txt
  be/src/io/cache/file_cache.h
  be/src/io/cache/file_cache_manager.cpp
  be/src/io/cache/file_cache_manager.h
  be/src/io/cache/sub_file_cache.cpp
  be/src/io/cache/sub_file_cache.h
  be/src/io/cache/whole_file_cache.cpp
  be/src/io/cache/whole_file_cache.h
  be/src/olap/rowset/segment_v2/segment.cpp
Labels: approved, reviewed

#11490 [improvement](error info)improve the create table err msg
  fe/fe-core/src/main/java/org/apache/doris/analysis/KeysDesc.java
Labels: area/planner

#11481 [Bug](compile) Fix compile hyperscan failed when build thirdparty
  thirdparty/build-thirdparty.sh
Labels: approved, reviewed

#11479 [Enhancement](IdGenerator) Use IdGeneratorBuffer to get better performance for getNextId operation when create table, truncate table, add partition and so on
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/MetaIdGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/IdGeneratorUtil.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalDataSource.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
Labels: kind/performance, area/catalog, approved, reviewed

#11437 [regression-test](datatype)SQL query conditions, if the data type is expanded with single quotes…
  regression-test/data/query/test_data_type_marks.out
  regression-test/suites/query/test_data_type_marks.groovy
Labels: kind/test

#11471 [doc](website)fe elastic scaling documentation issue
  docs/en/docs/admin-manual/cluster-management/elastic-expansion.md
  docs/zh-CN/docs/admin-manual/cluster-management/elastic-expansion.md
Labels: kind/docs, reviewed, synced-website, doc-1.1.x

#11504 [fix](doc)Document correction, delete some old document content, add some explanatory information
  docs/en/docs/admin-manual/privilege-ldap/user-privilege.md
  docs/en/docs/advanced/broker.md
  docs/en/docs/data-operate/export/export-manual.md
  docs/en/docs/data-operate/import/import-scenes/external-storage-load.md
  docs/en/docs/data-operate/import/import-way/binlog-load-manual.md
  docs/en/docs/data-operate/import/import-way/broker-load-manual.md
  docs/en/docs/data-operate/import/import-way/load-json-format.md
  docs/en/docs/data-operate/import/import-way/routine-load-manual.md
  docs/en/docs/data-operate/import/import-way/spark-load-manual.md
  docs/en/docs/data-operate/import/import-way/stream-load-manual.md
  docs/en/docs/data-table/basic-usage.md
  docs/en/docs/faq/install-faq.md
  docs/en/docs/install/install-deploy.md
  docs/en/docs/sql-manual/sql-reference/Account-Management-Statements/CREATE-USER.md
  docs/zh-CN/docs/advanced/broker.md
  docs/zh-CN/docs/data-operate/export/export-manual.md
  docs/zh-CN/docs/data-operate/import/import-scenes/external-storage-load.md
  docs/zh-CN/docs/data-operate/import/import-way/binlog-load-manual.md
  docs/zh-CN/docs/data-operate/import/import-way/broker-load-manual.md
  docs/zh-CN/docs/data-operate/import/import-way/routine-load-manual.md
  docs/zh-CN/docs/data-operate/import/import-way/spark-load-manual.md
  docs/zh-CN/docs/data-operate/import/import-way/stream-load-manual.md
  docs/zh-CN/docs/data-table/basic-usage.md
  docs/zh-CN/docs/faq/install-faq.md
  docs/zh-CN/docs/install/install-deploy.md
  docs/zh-CN/docs/sql-manual/sql-reference/Account-Management-Statements/CREATE-USER.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11439 [doc]fix-doc
  docs/en/docs/get-starting/get-starting.md
  docs/zh-CN/docs/get-starting/get-starting.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#10792 [Feature][Materialized-View] support materialized view on vectorized engine
  .gitattributes
  be/src/olap/hll.cpp
  be/src/olap/hll.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.h
  be/src/olap/schema_change.cpp
  be/src/olap/schema_change.h
  be/src/runtime/descriptors.h
  be/src/runtime/primitive_type.h
  be/src/vec/columns/column_complex.h
  be/src/vec/exec/volap_scanner.cpp
  fe/fe-core/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/mvrewrite/CountFieldToSum.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/mvrewrite/HLLHashToSlotRefRule.java
  fe/fe-core/src/test/java/org/apache/doris/alter/RollupJobV2Test.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateMaterializedViewStmtTest.java
  regression-test/data/rollup/test_materialized_view.out
  regression-test/suites/rollup/test_materialized_view.groovy
Labels: area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed

#11169 [feature](FE): add new property to control whether use light schema change or not
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SchemaTableType.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowAlterStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableProperty.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/TimeUtils.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalDataSource.java
  fe/fe-core/src/test/java/org/apache/doris/alter/SchemaChangeHandlerTest.java
  regression-test/data/schema_change/test_agg_keys_schema_change.out
  regression-test/data/schema_change/test_agg_mv_schema_change.out
  regression-test/data/schema_change/test_agg_rollup_schema_change.out
  regression-test/data/schema_change/test_agg_vals_schema_change.out
  regression-test/data/schema_change/test_compaction_schema_change.out
  regression-test/data/schema_change/test_delete_schema_change.out
  regression-test/data/schema_change/test_dup_keys_schema_change.out
  regression-test/data/schema_change/test_dup_mv_schema_change.out
  regression-test/data/schema_change/test_dup_rollup_schema_change.out
  regression-test/data/schema_change/test_dup_vals_schema_change.out
  regression-test/data/schema_change/test_partition_schema_change.out
  regression-test/suites/schema_change/test_agg_keys_schema_change.groovy
  regression-test/suites/schema_change/test_agg_mv_schema_change.groovy
  regression-test/suites/schema_change/test_agg_rollup_schema_change.groovy
  regression-test/suites/schema_change/test_agg_vals_schema_change.groovy
  regression-test/suites/schema_change/test_alter_table_column.groovy
  regression-test/suites/schema_change/test_delete_schema_change.sql
  regression-test/suites/schema_change/test_dup_keys_schema_change.groovy
  regression-test/suites/schema_change/test_dup_mv_schema_change.groovy
  regression-test/suites/schema_change/test_dup_rollup_schema_change.groovy
  regression-test/suites/schema_change/test_dup_vals_schema_change.groovy
  regression-test/suites/schema_change/test_partition_schema_change.sql
  regression-test/suites/schema_change/test_schema_change.groovy
Labels: kind/docs, area/planner, kind/test

#11246 [WIP](optional) using hash set to distinct single value
  fe/fe-core/src/main/java/org/apache/doris/analysis/AggregateInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/planner/DistributedPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: area/planner, reviewed

#8862 [feature-wip](statistics) step5: show statistics job information
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowAnalyzeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsJob.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsJobManager.java
Labels: kind/feature, kind/docs, area/planner, area/sql/function, area/vectorization, reviewed, area/statistics, dev/backlog

#11501 [improvement](orc)improve hdfs scan performance
  thirdparty/vars.sh
Labels: approved, reviewed, area/multi-catalog

#11507 [fix](auditloader) add execute permission for build.sh
  fe_plugins/auditloader/build.sh
Labels: approved, reviewed

#11505 [tools](ssb-flat)update script for better performance
  tools/ssb-tools/run-ssb-flat-queries.sh
Labels: approved, reviewed

#11489 Support hive external table on Ali oss.
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/IcebergTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/Util.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HiveScanNode.java
Labels: area/planner, approved, reviewed, area/multi-catalog, dev/1.1.2

#11493 [feature-wip](parquet-reader)get compressed parquet page data
  be/src/io/buffered_reader.cpp
  be/src/io/buffered_reader.h
  be/src/vec/exec/format/parquet/schema_desc.cpp
  be/src/vec/exec/format/parquet/vparquet_page_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_page_reader.h
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#11374 [enhancement](Nereids)support count, min and avg function
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/ExpressionTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/Avg.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/Count.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/Min.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/expressions/ExpressionEqualsTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/expressions/ExpressionParserTest.java
  regression-test/suites/tpch_sf1/nereids/q02.groovy
  regression-test/suites/tpch_sf1/nereids/q06.groovy
  regression-test/suites/tpch_sf1/nereids/q13.groovy
  regression-test/suites/tpch_sf1/nereids/q17.groovy
  regression-test/suites/tpch_sf1/nereids/q21.groovy
  regression-test/suites/tpch_sf1/nereids/q22.groovy
Labels: area/nereids

#11459 [enhancement](Nereids)set default join type to CROSS_JOIN
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
Labels: reviewed, area/nereids

#11521 [BugFix](FE alter table)fix time accuracy to pass regression test
  fe/fe-core/src/main/java/org/apache/doris/common/util/TimeUtils.java
Labels: approved, reviewed

#11518 [feature](functions) support `add_months` on vectorized engine
  be/src/vec/functions/function_date_or_datetime_computation.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.1.2

#11520 [Bug](date function) fix wrong year for format '%x'
  be/src/vec/runtime/vdatetime_value.cpp
  be/src/vec/runtime/vdatetime_value.h
  regression-test/data/query/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/query/sql_functions/datetime_functions/test_date_function.groovy
Labels: kind/test, area/vectorization, reviewed

#11461 [improvement](agg)limit the output of agg node
  be/src/vec/aggregate_functions/aggregate_function.h
  be/src/vec/common/columns_hashing.h
  be/src/vec/common/columns_hashing_impl.h
  be/src/vec/common/hash_table/hash_map.h
  be/src/vec/common/hash_table/ph_hash_map.h
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vaggregation_node.h
  be/src/vec/exprs/vectorized_agg_fn.cpp
  be/src/vec/exprs/vectorized_agg_fn.h
Labels: approved, area/vectorization, reviewed

#11310 [feature-wip][multi-catalog]Support caseSensitive field name in file scan node
  be/src/exec/arrow/arrow_reader.cpp
  be/src/exec/arrow/arrow_reader.h
  be/src/exec/arrow/orc_reader.cpp
  be/src/exec/arrow/orc_reader.h
  be/src/exec/arrow/parquet_reader.cpp
  be/src/exec/arrow/parquet_reader.h
  be/src/vec/exec/file_arrow_scanner.cpp
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerUtil.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HudiScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalFileScanNode.java
Labels: area/planner, approved, area/vectorization, reviewed, area/multi-catalog

#11510 [fix](docs) bitmap_from_string support uint64 string, but docs is wrong
  docs/en/docs/sql-manual/sql-functions/bitmap-functions/bitmap_from_string.md
  docs/zh-CN/docs/sql-manual/sql-functions/bitmap-functions/bitmap_from_string.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11475 [refactor](schema change) Using tablet schema shared ptr instead of raw ptr
  be/src/exec/olap_scanner.cpp
  be/src/exec/olap_scanner.h
  be/src/olap/collect_iterator.cpp
  be/src/olap/compaction.cpp
  be/src/olap/delete_handler.cpp
  be/src/olap/delete_handler.h
  be/src/olap/delta_writer.cpp
  be/src/olap/iterators.h
  be/src/olap/merger.cpp
  be/src/olap/merger.h
  be/src/olap/olap_cond.h
  be/src/olap/push_handler.cpp
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/row_block.cpp
  be/src/olap/row_block.h
  be/src/olap/row_cursor.cpp
  be/src/olap/row_cursor.h
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/rowset_reader_context.h
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/src/olap/schema.h
  be/src/olap/schema_change.cpp
  be/src/olap/schema_change.h
  be/src/olap/tablet.cpp
  be/src/olap/task/engine_checksum_task.cpp
  be/src/vec/exec/volap_scanner.cpp
  be/src/vec/exec/volap_scanner.h
  be/test/olap/block_column_predicate_test.cpp
  be/test/olap/bloom_filter_column_predicate_test.cpp
  be/test/olap/comparison_predicate_test.cpp
  be/test/olap/delete_handler_test.cpp
  be/test/olap/in_list_predicate_test.cpp
  be/test/olap/null_predicate_test.cpp
  be/test/olap/row_block_test.cpp
  be/test/olap/row_block_v2_test.cpp
  be/test/olap/row_cursor_test.cpp
  be/test/olap/rowset/beta_rowset_test.cpp
  be/test/olap/rowset/segment_v2/segment_test.cpp
  be/test/util/key_util_test.cpp
Labels: approved, area/vectorization, reviewed

#11533 [feature](parquet-reader) add group filter util
  be/src/exprs/expr_context.h
  be/src/vec/exec/format/parquet/parquet_pred_cmp.h
  be/src/vec/exec/format/parquet/vparquet_group_reader.h
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#11523 [tools](tpch)update queries for better performance
  bin/stop_be.sh
  bin/stop_fe.sh
  tools/tpch-tools/queries/q1.sql
  tools/tpch-tools/queries/q10.sql
  tools/tpch-tools/queries/q11.sql
  tools/tpch-tools/queries/q13.sql
  tools/tpch-tools/queries/q15.sql
  tools/tpch-tools/queries/q18.sql
  tools/tpch-tools/queries/q2.sql
  tools/tpch-tools/queries/q20.sql
  tools/tpch-tools/queries/q21.sql
  tools/tpch-tools/queries/q22.sql
  tools/tpch-tools/queries/q4.sql
  tools/tpch-tools/queries/q7.sql
  tools/tpch-tools/queries/q8.sql
  tools/tpch-tools/queries/q9.sql
Labels: dev/1.1.2

#11551 [fix](nereids) revert tpch regession test
  regression-test/suites/tpch_sf1/nereids/q02.groovy
  regression-test/suites/tpch_sf1/nereids/q06.groovy
  regression-test/suites/tpch_sf1/nereids/q13.groovy
  regression-test/suites/tpch_sf1/nereids/q17.groovy
  regression-test/suites/tpch_sf1/nereids/q21.groovy
  regression-test/suites/tpch_sf1/nereids/q22.groovy
Labels: kind/test, approved, reviewed

#11524 [Enhancement](IdGenerator) Use IdGeneratorBuffer to get better performance for creating tablet in fe when do alter table job
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/MetaIdGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/IdGeneratorUtil.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalDataSource.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/MetaIdGeneratorTest.java
Labels: kind/performance, approved, area/alter, reviewed

#11549 [chore](build) add apache snapshot maven repo to repositories
  fe/pom.xml
Labels: reviewed

#11530 [Enhancement](vectorized) Runtime Filter support equivalent slot of outer join
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExprSubstitutionMap.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  regression-test/suites/tpch_sf1/explain/test_q10.groovy
  regression-test/suites/tpch_sf1/explain/test_q11.groovy
  regression-test/suites/tpch_sf1/explain/test_q17.groovy
  regression-test/suites/tpch_sf1/explain/test_q18.groovy
  regression-test/suites/tpch_sf1/explain/test_q2.groovy
  regression-test/suites/tpch_sf1/explain/test_q20.groovy
  regression-test/suites/tpch_sf1/explain/test_q21.groovy
  regression-test/suites/tpch_sf1/explain/test_q3.groovy
  regression-test/suites/tpch_sf1/explain/test_q5.groovy
  regression-test/suites/tpch_sf1/explain/test_q7.groovy
  regression-test/suites/tpch_sf1/explain/test_q8.groovy
  regression-test/suites/tpch_sf1/explain/test_q9.groovy
Labels: area/planner, kind/test

#11574 [doc](asf) update .asf.ymal to stop sending notification to dev@doris
  .asf.yaml
Labels: approved, reviewed

#11578 [improvement](third-party) Build re2 with release mode
  thirdparty/build-thirdparty.sh
Labels: reviewed

#11386 [improvement](profile)fix profile may cause query slow
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: reviewed

#11573 [fix](date) fix the value may be changed during the parsing of date and datetime types
  fe/fe-core/src/main/java/org/apache/doris/analysis/DateLiteral.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/DateLiteralTest.java
Labels: area/planner, reviewed

#11506 [improvement](doc)Description of bitmap type query result is null
  docs/en/docs/faq/sql-faq.md
  docs/zh-CN/docs/faq/sql-faq.md
Labels: kind/docs, approved, reviewed, doc-1.1.x, waiting-sync

#11575 [fix](doc) remove docs for direct compiling on Centos
  docs/en/docs/install/source-install/compilation.md
  docs/zh-CN/docs/install/source-install/compilation.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11488 [feature-wip](parquet-reader) add predicate filter and column reader
  be/src/vec/exec/file_hdfs_scanner.cpp
  be/src/vec/exec/file_hdfs_scanner.h
  be/src/vec/exec/format/parquet/vparquet_column_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_column_reader.h
  be/src/vec/exec/format/parquet/vparquet_group_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_group_reader.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.h
  be/test/CMakeLists.txt
  be/test/vec/exec/parquet/parquet_reader_test.cpp
Labels: area/vectorization, area/multi-catalog

#11541 [feature-wip](unique-key-merge-on-write) optimize rowid conversion and add ut
  be/src/olap/iterators.h
  be/src/olap/merger.cpp
  be/src/olap/rowid_conversion.h
  be/src/olap/rowset/rowset_reader.h
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/vcollect_iterator.cpp
  be/src/vec/olap/vcollect_iterator.h
  be/test/olap/rowid_conversion_test.cpp
Labels: area/vectorization, reviewed

#11086 [doc](tablet-health) modify content about tablet state
  docs/en/docs/admin-manual/maint-monitor/tablet-repair-and-balance.md
  docs/zh-CN/docs/admin-manual/maint-monitor/tablet-repair-and-balance.md
Labels: kind/docs, reviewed, synced-website, doc-1.1.x

#11538 [Bug](schema change) fix core dump on vectorized_alter_table
  be/src/common/config.h
  be/src/olap/schema_change.cpp
  be/src/vec/exec/volap_scanner.cpp
  regression-test/data/rollup/test_materialized_view_hll.out
  regression-test/suites/rollup/test_materialized_view_hll.groovy
Labels: kind/test, area/vectorization

#11571 [Enhancement](hdfs) Support loading hdfs config from hdfs-site.xml
  bin/start_fe.sh
  build.sh
  conf/hdfs-site.xml
  fe/fe-core/src/main/java/org/apache/doris/backup/HdfsStorage.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerUtil.java
  fe/fe-core/src/main/java/org/apache/doris/external/iceberg/HiveCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HudiScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalHiveScanProvider.java
Labels: approved, reviewed, area/extension/hive

#11586 [Improvement](debug message) add necessary info to DCHECK message
  be/src/vec/functions/function.h
Labels: approved, area/sql/function, area/vectorization, reviewed

#11564 [Fix](stream-load-json) fix VJsonReader::_write_data_to_column invali…
  be/src/vec/exec/vjson_scanner.cpp
  regression-test/data/load/stream_load/simple_object_json.json
Labels: approved, area/vectorization, reviewed

#11513 [Refactor](Nereids) Fix expression constant and improve SlotExtractor
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundSlot.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/AbstractPushDownProjectRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MultiJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneAggChildColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneFilterChildColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneJoinChildrenColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneSortChildColumns.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushPredicateThroughAggregation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushPredicateThroughJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Expression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Literal.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/SlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/IterationVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/SlotExtractor.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/expressions/ExpressionTest.java
Labels: approved, reviewed, area/nereids

#11557 [feature-wip](unique-key-merge-on-write) speed up publish_txn
  be/src/exec/olap_scanner.cpp
  be/src/olap/delta_writer.cpp
  be/src/olap/delta_writer.h
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/olap/olap_common.h
  be/src/olap/rowset/beta_rowset.cpp
  be/src/olap/rowset/beta_rowset.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset_tree.cpp
  be/src/olap/rowset/rowset_tree.h
  be/src/olap/rowset/rowset_writer.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_meta.h
  be/src/olap/txn_manager.cpp
  be/src/olap/txn_manager.h
  be/test/olap/rowset/rowset_tree_test.cpp
  be/test/olap/tablet_test.cpp
Labels: approved, reviewed

#11468 [Refactor](push-down predicate) Derive push-down predicate from vconjuncts
  be/src/exec/olap_common.h
  be/src/exec/olap_scan_node.h
  be/src/exec/olap_utils.h
  be/src/exprs/bloomfilter_predicate.cpp
  be/src/exprs/bloomfilter_predicate.h
  be/src/exprs/runtime_filter.cpp
  be/src/exprs/runtime_filter.h
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/exec/volap_scan_node.h
  be/src/vec/exec/volap_scanner.cpp
  be/src/vec/exec/volap_scanner.h
  be/src/vec/exprs/vbloom_predicate.cpp
  be/src/vec/exprs/vbloom_predicate.h
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/exprs/vexpr.h
  be/src/vec/exprs/vexpr_context.cpp
  be/src/vec/exprs/vexpr_context.h
  be/src/vec/exprs/vin_predicate.h
  be/src/vec/exprs/vruntimefilter_wrapper.h
  be/src/vec/exprs/vslot_ref.h
  be/src/vec/functions/in.cpp
  be/src/vec/functions/in.h
Labels: area/sql/function, area/vectorization, reviewed

#11264 [feature](nereids)add InPredicate in expressions
  fe/fe-core/src/main/java/org/apache/doris/analysis/InPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/ExpressionTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/InPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/ExpressionVisitor.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/expressions/ExpressionParserTest.java
  regression-test/data/nereids_syntax_p0/inpredicate.out
  regression-test/suites/nereids_syntax_p0/inpredicate.groovy
Labels: area/planner, kind/test, reviewed, area/nereids

#11527 [fix](planner)push constant expr in predicate to outer join's other conjuncts by mistake
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  regression-test/data/correctness/test_constant_push_down_through_outer_join.out
  regression-test/suites/correctness/test_constant_push_down_through_outer_join.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.1.2

#11603 [dev-1.1.2](cherry-pick) fix bug that hive external table can not query table created by Tez
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
Labels: dev/1.1.2

#11569 [Fix](planner) Fix wrong planner with count(*) optmizer for cross join optimization
  fe/fe-core/src/main/java/org/apache/doris/analysis/AggregateInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InlineViewRef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SortNode.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateTableAsSelectStmtTest.java
  regression-test/data/query/aggregate/aggregate_count1.out
  regression-test/suites/query/aggregate/aggregate_count1.groovy
Labels: area/planner, kind/test, reviewed, dev/1.1.2

#11597 [fix] (remote) fix bug for storage policy
  be/src/olap/compaction.cpp
  be/src/olap/storage_policy_mgr.cpp
Labels: approved, reviewed

#10694 optimize topn query if order by columns is prefix of sort keys of table
  be/src/olap/iterators.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/rowset_reader_context.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.h
  be/src/vec/core/block.h
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/exec/volap_scan_node.h
  be/src/vec/exec/volap_scanner.cpp
  be/src/vec/exec/volap_scanner.h
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/vcollect_iterator.cpp
  be/src/vec/olap/vcollect_iterator.h
  be/src/vec/olap/vgeneric_iterators.cpp
  be/src/vec/olap/vgeneric_iterators.h
  be/test/vec/exec/vgeneric_iterators_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OriginalPlanner.java
  fe/fe-core/src/test/java/org/apache/doris/planner/PlannerTest.java
  gensrc/thrift/PlanNodes.thrift
Labels: area/planner, area/vectorization, reviewed

#11547 [Bug](Doris On ES) Fix es not support aliases error
  fe/fe-core/src/main/java/org/apache/doris/catalog/EsTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/JsonUtil.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/EsExternalDataSource.java
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/EsRestClient.java
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/EsUtil.java
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/MappingPhase.java
  fe/fe-core/src/main/java/org/apache/doris/planner/EsScanNode.java
  fe/fe-core/src/test/java/org/apache/doris/external/elasticsearch/EsUtilTest.java
  fe/fe-core/src/test/resources/data/es/es6_aliases_mapping.json
  fe/fe-core/src/test/resources/data/es/es6_index_mapping.json
  fe/fe-core/src/test/resources/data/es/es7_aliases_mapping.json
  fe/fe-core/src/test/resources/data/es/es7_index_mapping.json
  fe/fe-core/src/test/resources/data/es/es7_mappings.json
  fe/fe-core/src/test/resources/data/es/es8_aliases_mapping.json
  fe/fe-core/src/test/resources/data/es/es8_index_mapping.json
Labels: area/planner, approved, reviewed

#11377 [fix](docs) Fix some errors related to privilege and grant in the docs
  docs/en/docs/admin-manual/privilege-ldap/user-privilege.md
  docs/en/docs/sql-manual/sql-reference/Account-Management-Statements/GRANT.md
  docs/zh-CN/docs/admin-manual/privilege-ldap/user-privilege.md
  docs/zh-CN/docs/sql-manual/sql-reference/Account-Management-Statements/GRANT.md
Labels: kind/docs, area/planner, approved, reviewed, doc-1.2.x, waiting-sync

#11030 [feature-wip](statistics) step4.1: manually inject statistics for a table or column
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterTableStatsStmt.java
Labels: area/planner, reviewed

#11552 [improvement](datax) improvement json import and support csv writing
  extension/DataX/doriswriter/doc/doriswriter.md
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisCodec.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisCsvCodec.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisFlushBatch.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisWriter.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/DorisWriterEmitter.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/EscapeHandler.java
  extension/DataX/doriswriter/src/main/java/com/alibaba/datax/plugin/writer/doriswriter/Key.java
Labels: approved, area/datax, reviewed

#11609 [fix](doc)Modify the installation document, the description of disk space limit
  docs/en/advanced/join-optimization/doris-join-optimization.md
  docs/en/docs/install/install-deploy.md
  docs/zh-CN/advanced/join-optimization/doris-join-optimization.md
  docs/zh-CN/docs/install/install-deploy.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11587 [doc](bloomFilter)fix-doc
  docs/en/docs/data-table/index/bloomfilter.md
  docs/zh-CN/docs/data-table/index/bloomfilter.md
Labels: kind/docs, synced-website, doc-1.1.x

#11550 [improvement](alter) modify table's default replica if table is unpartitioned
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-PROPERTY.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-PROPERTY.md
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableProperty.java
  fe/fe-core/src/main/java/org/apache/doris/persist/ModifyPartitionInfo.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterTest.java
  fe/fe-core/src/test/java/org/apache/doris/persist/BatchModifyPartitionsInfoTest.java
Labels: kind/improvement, kind/docs, approved, area/alter, reviewed

#11588 [minor](log) add a warn log to observer invalid query profile
  fe/fe-core/src/main/java/org/apache/doris/common/profile/ProfileTreeBuilder.java
Labels: approved, reviewed

#11622 [dev-1.1.2](doc) fix help doc invalid format
  docs/zh-CN/sql-reference/sql-functions/bitmap-functions/intersect_count.md
Labels: dev/1.1.2

#10699 [enhancement] Improve the availability of broker load
  fs_brokers/apache_hdfs_broker/conf/apache_hdfs_broker.conf
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/BrokerConfig.java
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
Labels: area/load, area/planner, kind/test, approved, area/sql/function, area/spark-load, area/vectorization, reviewed

#11266 [feature](information_schema) add `rowsets` table into information_s…
  be/src/exec/CMakeLists.txt
  be/src/exec/schema_scanner.cpp
  be/src/exec/schema_scanner/schema_rowsets_scanner.cpp
  be/src/exec/schema_scanner/schema_rowsets_scanner.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_manager.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/SchemaTableType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/SchemaTable.java
  fe/fe-core/src/main/java/org/apache/doris/planner/BackendPartitionedSchemaScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/DistributedPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  gensrc/thrift/Descriptors.thrift
Labels: area/planner

#11213 [feature-wip](array-type) support the array type in reverse function
  be/src/vec/functions/array/function_array_reverse.h
  be/src/vec/functions/function_reverse.h
  be/src/vec/functions/function_string.cpp
  be/src/vec/functions/function_string.h
  docs/en/docs/sql-manual/sql-functions/string-functions/reverse.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/reverse.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query/sql_functions/array_functions/test_array_functions.out
  regression-test/suites/query/sql_functions/array_functions/test_array_functions.groovy
Labels: kind/docs, kind/test, approved, area/sql/function, area/vectorization, reviewed

#11529 [fix](array-type) collect_list without GROUP BY for NOT NULL column
  be/src/vec/exec/vaggregation_node.cpp
  regression-test/data/query/sql_functions/aggregate_functions/test_aggregate_collect.out
  regression-test/suites/query/sql_functions/aggregate_functions/test_aggregate_collect.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#11595 [fix](regexpr)regexpr functions' contexts should be THREAD_LOCAL
  be/src/vec/functions/function_regexp.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#11616 [Bug](show data skew)fix show data skew logic
  fe/fe-core/src/main/java/org/apache/doris/catalog/MetadataViewer.java
Labels: kind/fix, approved, area/show stmt, affects-1.0, affects-1.1

#11612 [fix](ui)source map files not included in production builds
  ui/config/webpack.common.js
Labels: approved, reviewed

#11188 [doc][fix] Fix the duplicate partition name in example of CREATE TABLE
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
Labels: kind/docs, reviewed, synced-website, doc-1.1.x

#11605 [dev-1.1.2][fix](parquet-reader) fix concurrency bug
  be/src/exec/parquet_reader.cpp
  be/src/exec/parquet_reader.h
  be/src/exec/parquet_scanner.cpp
Labels: dev/1.1.2

#11634 [Enhancement](hdfs) Support loading hdfs config for be from hdfs-site.xml
  be/CMakeLists.txt
  bin/start_be.sh
  docs/en/docs/ecosystem/external-table/hive-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/hive-of-doris.md
Labels: kind/improvement, area/extension/hive

#11631 [fix](like-predicate) Add missing functions in LikeColumnPredicate
  be/src/olap/like_column_predicate.cpp
  be/src/olap/like_column_predicate.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/vec/exec/volap_scan_node.cpp
  be/src/vec/exec/volap_scan_node.h
  be/src/vec/functions/like.cpp
  be/src/vec/functions/like.h
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/block_reader.h
Labels: area/sql/function, area/vectorization, reviewed

#11604 [feature](Nereids): Enable the costAndEnforcerJob
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/PlannerContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/cost/CostCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/CostAndEnforcerJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/GroupExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/ChildOutputPropertyDeriver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpec.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpecAny.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpecGather.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpecHash.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpecReplicated.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/EnforceMissingPropertiesHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/OrderSpec.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/PhysicalProperties.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/RequestPropertyDeriver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/implementation/LogicalOlapScanToPhysicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/AbstractPhysicalPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/JoinUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/CostAndEnforcerJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/cascades/DeriveStatsJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/JoinCommuteTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomProjectTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/JoinLAsscomTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/implementation/LogicalProjectToPhysicalProjectTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/stats/StatsCalculatorTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanEqualsTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanOutputTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/PlanConstructor.java
Labels: area/nereids

#11643 [thirdparty](brpc) fix _dl_sym undefined reference on Ubuntu22.04
  thirdparty/download-thirdparty.sh
  thirdparty/patches/brpc-1.1.0-_dl_sym.patch
Labels: dev/1.1.2

#11641 [improvement](config)Use session variable to replace configuration for 'enable_function_pushdown'
  be/src/common/config.h
  be/src/exec/olap_scan_node.cpp
  be/src/runtime/runtime_state.h
  be/src/vec/exec/volap_scan_node.cpp
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
  regression-test/data/query/sql_functions/string_functions/test_string_function_like_pushdown.out
  regression-test/suites/query/sql_functions/string_functions/test_string_function_like_pushdown.groovy
Labels: kind/test, area/vectorization

#11632 [chore](regression-test) Add drop table in aggregate_count1
  regression-test/suites/query/aggregate/aggregate_count1.groovy
Labels: kind/test

#11635 [doc](fix)add show query profile doc
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-QUERY-PROFILE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-QUERY-PROFILE.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11620 [minor](fe): remove redundant log and unused code.
  fe/fe-common/src/main/java/org/apache/doris/common/io/OutputBuffer.java
  fe/fe-core/src/main/java/org/apache/doris/common/AliasGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AnalyticEvalNode.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/AbortTransactionException.java
  fe/spark-dpp/src/main/java/org/apache/doris/load/loadv2/etl/SparkEtlJob.java
Labels: area/planner

#11598 [fix](scanner) delete predicates might be inconsistent with rowset readers
  be/src/exec/olap_scanner.cpp
  be/src/olap/merger.cpp
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/vec/exec/volap_scanner.cpp
Labels: area/vectorization, reviewed, dev/1.1.2

#11512 [fix](docs) Fix Chinese description in En dos
  docs/en/docs/get-starting/get-starting.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x

#11653 [fix](script) Fix hdfs-site.xml file name typo.
  bin/start_be.sh
Labels: approved, reviewed

#11652 [Bug](schema change) Fix bug for vectorized schema change
  be/src/olap/schema_change.cpp
Labels: approved, reviewed

#11655 [remote-udaf](python-samples) use python to impl remote avg and sum s…
  samples/doris-demo/remote-udaf-python-demo/README.md
  samples/doris-demo/remote-udaf-python-demo/function_server_demo.py
  samples/doris-demo/remote-udaf-python-demo/proto/function_service.proto
  samples/doris-demo/remote-udaf-python-demo/proto/types.proto
Labels: approved, reviewed

#11660 [Fix](doc) Fix doe doc error
  docs/en/docs/ecosystem/external-table/doris-on-es.md
  docs/zh-CN/docs/ecosystem/external-table/doris-on-es.md
Labels: kind/docs, approved, reviewed, synced-website, doc-1.1.x
