Repository apache/doris, pull requests merged in 2023-04, with the labels that each got.

#18299 [fix](Nereids): fix JoinReorderContext in withXXX() of LogicalJoin.
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/LogicalJoinSemiJoinTranspose.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/LogicalJoinSemiJoinTransposeProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinAssoc.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinAssocProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscom.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/PushdownProjectThroughInnerJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/PushdownProjectThroughSemiJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinSemiJoinTranspose.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinSemiJoinTransposeProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
Labels: approved, reviewed, area/nereids

#18245 [fix](parquet-reader) reset value idx in bool rle decoder
  be/src/vec/exec/format/parquet/bool_rle_decoder.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/IcebergExternalTable.java
  regression-test/data/external_table_emr_p2/hive/test_external_catalog_glue_table.out
  regression-test/suites/external_table_emr_p2/hive/test_external_catalog_glue_table.groovy
Labels: kind/test, area/vectorization, reviewed

#18281 [fix](doc) suggest use window function to replace running_difference
  docs/en/docs/sql-manual/sql-functions/math-functions/running_difference.md
  docs/zh-CN/docs/sql-manual/sql-functions/math-functions/running_difference.md
Labels: kind/docs

#18314 [fix](thrift_server) do not check started state in ThriftServer::join
  be/src/util/thrift_server.cpp
Labels: approved, reviewed

#18313 [improvement](test) print response of streamload
  regression-test/framework/src/main/groovy/org/apache/doris/regression/action/StreamLoadAction.groovy
Labels: kind/test, approved, reviewed

#18275 [Enhancement](Nereids)add datelikev2 type support for fold constant.
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/ExecutableFunctions.java
Labels: approved, reviewed, area/nereids

#18317 [fix](audit-log) fix slow query missing in audit log
  fe/fe-core/src/main/java/org/apache/doris/qe/AuditLogBuilder.java
Labels: approved, reviewed

#18315 [improvement](test) print exception when streamload fails
  regression-test/framework/src/main/groovy/org/apache/doris/regression/action/StreamLoadAction.groovy
Labels: kind/test

#18298 [doc](catalog) add faq for hive catalog
  docs/en/docs/advanced/partition/dynamic-partition.md
  docs/en/docs/lakehouse/file.md
  docs/en/docs/lakehouse/filecache.md
  docs/en/docs/lakehouse/multi-catalog/faq.md
  docs/en/docs/lakehouse/multi-catalog/iceberg.md
  docs/en/docs/lakehouse/multi-catalog/jdbc.md
  docs/en/docs/sql-manual/sql-reference/Database-Administration-Statements/SET-VARIABLE.md
  docs/zh-CN/docs/advanced/partition/dynamic-partition.md
  docs/zh-CN/docs/lakehouse/file.md
  docs/zh-CN/docs/lakehouse/filecache.md
  docs/zh-CN/docs/lakehouse/multi-catalog/faq.md
  docs/zh-CN/docs/lakehouse/multi-catalog/hive.md
  docs/zh-CN/docs/lakehouse/multi-catalog/iceberg.md
  docs/zh-CN/docs/lakehouse/multi-catalog/jdbc.md
  docs/zh-CN/docs/sql-manual/sql-reference/Database-Administration-Statements/SET-VARIABLE.md
Labels: kind/docs

#18305 [fix](conf) fix be JAVA_OPTS conf
  conf/be.conf
Labels: approved, reviewed

#18289 [fix](expr) Fix `VRuntimeFilterWrapper` cannot get children
  be/src/vec/exprs/vexpr.h
  be/src/vec/exprs/vruntimefilter_wrapper.h
Labels: area/vectorization

#18129 [feature](nereids) semi and anti join estimation
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/JoinEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatisticBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/Statistics.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/memo/RankTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/HyperGraphBuilder.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/StatsDeriveResultTest.java
Labels: approved, reviewed, area/nereids

#18236 [fix](load) handle null map right in OlapDataConvertor
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/olap_data_convertor.h
Labels: approved, area/vectorization, reviewed, dev/1.2.4

#18292 [fix](grouping) fix coredump of grouping function for outer join
  be/src/vec/functions/function_grouping.h
  regression-test/data/query_p0/grouping_sets/test_grouping_sets1.out
  regression-test/suites/query_p0/grouping_sets/test_grouping_sets1.groovy
Labels: kind/test, area/sql/function, area/vectorization, usercase, dev/1.2.4

#18208 [Enchancement](mysql-compatable) add regression-test for MySQLdump
  fe/fe-core/src/main/java/org/apache/doris/analysis/SchemaTableType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/SchemaTable.java
  gensrc/thrift/Descriptors.thrift
  regression-test/data/mysqldump_p0/data.csv
  regression-test/data/mysqldump_p0/test_mysqldump.out
  regression-test/suites/mysqldump_p0/test_mysqldump.groovy
Labels: area/planner, kind/test, approved, reviewed

#18267 [test](stats) Test framework for stats estimation on TPCH-1G dataset
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsErrorEstimator.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/util/StatisticsUtil.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/datasets/tpch/TPCHUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/stats/TPCHStats.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/stats/TestStats.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/TestWithFeService.java
Labels: approved, reviewed, area/nereids

#18200 [bug](function) fix count equal function return incorrect value
  be/src/vec/functions/array/function_array_index.h
  docs/en/docs/sql-manual/sql-functions/array-functions/countequal.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/countequal.md
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions_of_array_countEqual.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_of_array_countEqual.groovy
Labels: kind/docs, kind/test, approved, area/vectorization, reviewed

#18228 [Bug](materialized-view) fix where clause persistence replay incorrect
  be/src/exec/schema_scanner/schema_columns_scanner.cpp
  be/src/http/ev_http_server.cpp
  fe/fe-common/src/main/java/org/apache/doris/catalog/ScalarType.java
  fe/fe-core/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/Util.java
  fe/fe-core/src/main/java/org/apache/doris/master/MasterImpl.java
  fe/fe-core/src/main/java/org/apache/doris/task/PublishVersionTask.java
  fe/fe-core/src/test/java/org/apache/doris/alter/RollupJobV2Test.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateFunctionTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/MaterializedIndexMetaTest.java
  regression-test/data/bloom_filter_p0/test_create_table_with_bloom_filter.out
  regression-test/data/correctness_p0/table_valued_function/test_hdfs_tvf.out
  regression-test/data/datatype_p0/scalar_types/sql/infomation_schema.out
  regression-test/data/index_p0/test_bitmap_index.out
  regression-test/data/index_p0/test_decimal_bitmap_index_multi_page.out
  regression-test/data/inverted_index_p0/test_bitmap_index.out
  regression-test/suites/nereids_syntax_p0/explain.groovy
Labels: area/planner, kind/test, approved, reviewed

#18293 [feature](function)Add St_Angle/St_Azimuth function
  be/src/geo/geo_types.cpp
  be/src/geo/geo_types.h
  be/src/vec/functions/functions_geo.cpp
  be/test/vec/function/function_geo_test.cpp
  docs/en/docs/sql-manual/sql-functions/spatial-functions/st_angle.md
  docs/en/docs/sql-manual/sql-functions/spatial-functions/st_angle_sphere.md
  docs/en/docs/sql-manual/sql-functions/spatial-functions/st_area.md
  docs/en/docs/sql-manual/sql-functions/spatial-functions/st_azimuth.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/spatial-functions/st_angle.md
  docs/zh-CN/docs/sql-manual/sql-functions/spatial-functions/st_angle_sphere.md
  docs/zh-CN/docs/sql-manual/sql-functions/spatial-functions/st_area.md
  docs/zh-CN/docs/sql-manual/sql-functions/spatial-functions/st_azimuth.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/BuiltinScalarFunctions.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/StAngle.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/StAzimuth.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/ScalarFunctionVisitor.java
  gensrc/script/doris_builtins_functions.py
  regression-test/data/nereids_function_p0/fn_test.dat
  regression-test/data/nereids_function_p0/scalar_function/S.out
  regression-test/data/nereids_p0/sql_functions/spatial_functions/test_gis_function.out
  regression-test/data/query_p0/sql_functions/spatial_functions/test_gis_function.out
  regression-test/suites/nereids_function_p0/load.groovy
  regression-test/suites/nereids_function_p0/scalar_function/S.groovy
  regression-test/suites/nereids_p0/sql_functions/spatial_functions/test_gis_function.groovy
  regression-test/suites/query_p0/sql_functions/spatial_functions/test_gis_function.groovy
Labels: kind/docs, kind/test, approved, area/sql/function, area/vectorization, reviewed, area/nereids

#18283 [fix](merge-on-write) fix that failed to capture_consistent_rowsets when revise tablet meta
  be/src/olap/tablet.cpp
Labels: approved, reviewed, usercase, dev/1.2.4

#18319 [Improvement](multi catalog)Change hive metastore cache split value type to Doris defined Split. Fix split file length -1 bug.
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HiveMetaStoreCache.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalFileScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveSplitter.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
Labels: area/planner, approved, reviewed

#18152 [feature](colocate) support cross database colocate join
  docs/en/docs/advanced/join-optimization/colocation-join.md
  docs/zh-CN/docs/advanced/join-optimization/colocation-join.md
  fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ColocateGroupSchema.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ColocateTableIndex.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/clone/ColocateTableCheckerAndBalancer.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/persist/ColocatePersistInfo.java
  fe/fe-core/src/main/java/org/apache/doris/persist/TablePropertyInfo.java
  fe/fe-core/src/main/java/org/apache/doris/planner/DistributedPlanner.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/ColocateTableTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/ColocatePlanTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/TestWithFeService.java
  regression-test/data/correctness_p0/test_colocate_join.out
  regression-test/suites/correctness_p0/test_colocate_join.groovy
Labels: kind/docs, area/planner, kind/test, kind/meta-version-change

#16834 [Enhancement](HttpServer) Support https interface
  build.sh
  docs/en/docs/admin-manual/config/fe-config.md
  docs/en/docs/admin-manual/http-actions/fe/cluster-action.md
  docs/en/docs/admin-manual/http-actions/fe/colocate-meta-action.md
  docs/en/docs/admin-manual/http-actions/fe/metrics-action.md
  docs/zh-CN/docs/admin-manual/config/fe-config.md
  docs/zh-CN/docs/admin-manual/http-actions/fe/cluster-action.md
  docs/zh-CN/docs/admin-manual/http-actions/fe/colocate-meta-action.md
  docs/zh-CN/docs/admin-manual/http-actions/fe/metrics-action.md
  docs/zh-CN/docs/admin-manual/http-actions/fe/profile-action.md
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/DorisFE.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/NetUtils.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/HttpServer.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/config/HttpToHttpsJettyConfig.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/config/WebServerFactoryCustomizerConfig.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/controller/BaseController.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/meta/ColocateMetaService.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/CancelLoadAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/LoadAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/MultiAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/RestBaseController.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/StmtExecutionAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/TableQueryPlanAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/UploadAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/restv2/ImportAction.java
Labels: kind/docs, reviewed

#17160 [regression](decimalv3)Add decimal type as filter condition in regression test
  regression-test/data/decimalv3/test_decimalv3_where.out
  regression-test/suites/decimalv3/test_decimalv3_where.groovy
Labels: kind/test, usercase, dev/1.2.3

#18282 [Bug](decimal) Fix string to decimal
  be/src/util/string_parser.hpp
Labels: dev/1.2.4

#18311 [opt](array) optimize array_sortby using qsort instead of bubble sort
  be/src/vec/functions/array/function_array_sortby.cpp
Labels: approved, area/vectorization, reviewed

#18329 [typo](docs) add regression test doc & fix api doc
  docs/en/docs/admin-manual/http-actions/fe/query-profile-action.md
  docs/zh-CN/community/developer-guide/regression-testing.md
  docs/zh-CN/docs/admin-manual/http-actions/fe/query-profile-action.md
Labels: kind/docs, approved, reviewed

#18341 [fix](scan) Avoid using incorrect cache code in ComparisonPredicate
  be/src/olap/comparison_predicate.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
Labels: usercase, dev/1.2.4

#18309 [Optimization](String) Optimize q20 q21 q22 q23 LIKE_SUBSTRING (like '%xxx%')
  be/src/vec/common/string_searcher.h
  be/src/vec/common/volnitsky.h
Labels: approved, area/vectorization, reviewed

#18345 [fix](grouping) fix coredump of grouping function for outer join
  be/src/vec/functions/function_grouping.h
  regression-test/data/query_p0/grouping_sets/test_grouping_sets1.out
  regression-test/suites/query_p0/grouping_sets/test_grouping_sets1.groovy
Labels: kind/test, area/sql/function, area/vectorization

#18007 [test](jdbc catalog) add clickhouse jdbc catalog base type test
  docker/thirdparties/docker-compose/clickhouse/clickhouse.env
  docker/thirdparties/docker-compose/clickhouse/clickhouse.yaml.tpl
  docker/thirdparties/docker-compose/clickhouse/init/01-drop-db.sql
  docker/thirdparties/docker-compose/clickhouse/init/02-create-db.sql
  docker/thirdparties/docker-compose/clickhouse/init/03-create-table.sql
  docker/thirdparties/docker-compose/clickhouse/init/04-insert.sql
  docker/thirdparties/run-thirdparties-docker.sh
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
  regression-test/conf/regression-conf.groovy
  regression-test/data/jdbc_catalog_p0/test_clickhouse_jdbc_catalog.out
  regression-test/suites/jdbc_catalog_p0/test_clickhouse_jdbc_catalog.groovy
Labels: kind/test, approved, reviewed, usercase, area/multi-catalog, dev/1.2.4

#18327 [Cherry-Pick][Enhancement](grouping) Add a switch for users to force using alias name in group by and having clause
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExprSubstitutionMap.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: approved, reviewed

#18330 [fix](memory) Fix memtable flush mem tracker
  be/src/common/daemon.cpp
  be/src/olap/memtable.cpp
Labels: usercase, dev/1.2.4

#18332 [fix](scan) Avoid using incorrect cache code in ComparisonPredicate
  be/src/olap/comparison_predicate.h
  regression-test/suites/schema_change/test_schema_change_with_delete.groovy
Labels: kind/test, approved, reviewed, usercase

#18333 [feature](string_functions) The 'split_part' function supports non-constant parameters
  be/src/vec/functions/function_string.h
  regression-test/suites/query_p0/sql_functions/string_functions/test_split_part.groovy
Labels: kind/test, area/sql/function, area/vectorization

#18351 [fix](like) fix wrong result of like pattern with backslash
  be/src/vec/functions/like.cpp
  regression-test/data/query_p0/sql_functions/string_functions/like.csv
  regression-test/data/query_p0/sql_functions/string_functions/sql/analytic_query.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_1.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_2.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_3.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_4.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_5.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_6.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_7.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_8.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_9.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_begin_1.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_begin_2.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_begin_3.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_begin_4.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_begin_8.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_end_2.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_end_4.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_backslash_end_8.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_regex_wild_1.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_regex_wild_2.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_wild_many_begin_1.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_wild_many_begin_2.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_wild_many_begin_3.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_wild_one_begin_1.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_wild_one_begin_end_1.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_wild_one_begin_middle_end_1.out
  regression-test/data/query_p0/sql_functions/string_functions/sql/like_wild_one_end_1.out
  regression-test/suites/query_p0/sql_functions/string_functions/load.groovy
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_1.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_2.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_3.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_4.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_5.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_6.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_7.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_8.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_9.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_begin_1.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_begin_2.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_begin_3.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_begin_4.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_begin_8.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_end_2.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_end_4.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_backslash_end_8.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_regex_wild_1.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_regex_wild_2.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_wild_many_begin_1.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_wild_many_begin_2.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_wild_many_begin_3.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_wild_one_begin_1.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_wild_one_begin_end_1.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_wild_one_begin_middle_end_1.sql
  regression-test/suites/query_p0/sql_functions/string_functions/sql/like_wild_one_end_1.sql
Labels: kind/test, area/sql/function, area/vectorization

#18265 [fix](nereids)fix bug of SelectMaterializedIndexWithAggregate rule
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/mv/SelectMaterializedIndexWithoutAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Alias.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/AbstractPlan.java
  regression-test/data/query_p0/grouping_sets/test_grouping_sets1.out
  regression-test/data/schema_change_p0/test_dup_mv_schema_change.out
  regression-test/suites/query_p0/grouping_sets/test_grouping_sets1.groovy
  regression-test/suites/schema_change_p0/test_dup_mv_schema_change.groovy
Labels: kind/test, approved, reviewed, area/nereids

#18306 [improvement](executor) Reduce ScannnerCtx Scheduling times
  be/src/pipeline/exec/scan_operator.cpp
  be/src/vec/exec/scan/pip_scanner_context.h
  be/src/vec/exec/scan/scanner_context.cpp
  be/src/vec/exec/scan/scanner_context.h
Labels: approved, area/vectorization, reviewed

#18324 [Fix](orc-reader) Fix the scale of decimal column is incorrect when query orc tables.
  be/src/vec/exec/format/orc/vorc_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.h
  regression-test/data/external_table_emr_p2/hive/test_wide_table.out
  regression-test/suites/external_table_emr_p2/hive/test_wide_table.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#18116 [vectorized](function) Support array_shuffle and shuffle function.
  be/src/vec/CMakeLists.txt
  be/src/vec/functions/array/function_array_register.cpp
  be/src/vec/functions/array/function_array_shuffle.cpp
  docs/en/docs/sql-manual/sql-functions/array-functions/array_shuffle.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_shuffle.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions_by_literal.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions.groovy
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_by_literal.groovy
Labels: kind/docs, area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed

#18149 [fix](catalog) all properties should be checked when create unpartitioned table
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateTableTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  regression-test/suites/delete_p0/test_delete_sign_mow.sql
  regression-test/suites/dynamic_table_p0/load.groovy
  regression-test/suites/inverted_index_p0/test_array_index.groovy
  regression-test/suites/nereids_p0/test_delete_sign_mow.sql
Labels: kind/test, approved, reviewed

#18296 [feature](nereids) explain plan shape only
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisLexer.g4
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/BinaryOperator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Expression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/SlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/Plan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/commands/ExplainCommand.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/AbstractPhysicalPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalFilter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalHashAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalHashJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalNestedLoopJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalOlapScan.java
Labels: approved, reviewed, area/nereids

#17710 [Improve](FileCahe) Support the file cache profile in olap scan node and Update the profile
  be/src/io/cache/block/block_file_cache_profile.cpp
  be/src/io/cache/block/block_file_cache_profile.h
  be/src/io/cache/block/cached_remote_file_reader.cpp
  be/src/io/cache/block/cached_remote_file_reader.h
  be/src/io/io_common.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
Labels: area/vectorization, reviewed

#18352 [improve](clickhouse catalog) Add `"` wrap select column for the sql query clickhouse jdbc catalog
  fe/fe-core/src/main/java/org/apache/doris/catalog/OdbcTable.java
Labels: area/multi-catalog, dev/1.2.4

#18334 [vectorized](function) suppoort date_trunc function truncate week mode
  be/src/vec/functions/function_timestamp.cpp
  be/src/vec/runtime/vdatetime_value.cpp
  docs/en/docs/sql-manual/sql-functions/date-time-functions/date_trunc.md
  docs/zh-CN/docs/sql-manual/sql-functions/date-time-functions/date_trunc.md
Labels: kind/docs, area/sql/function, area/vectorization

#18360 [deps](arrow) update arrow download link
  thirdparty/vars.sh
Labels: approved, reviewed

#18346 [fix](merge-on-write) fix that failed to capture_consistent_rowsets when full clone
  be/src/olap/tablet.cpp
Labels: approved, reviewed

#18187 [vectorzied](jdbc) refactor jdbc table read array type
  be/src/exec/table_connector.cpp
  be/src/vec/exec/vjdbc_connector.cpp
  be/src/vec/exec/vjdbc_connector.h
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
  regression-test/data/jdbc_p0/test_jdbc_query_mysql.out
Labels: approved, area/vectorization, reviewed

#18363 [Enhancement](compaction) return error instead of core when ctx not valid
  be/src/vec/olap/vertical_merge_iterator.cpp
Labels: approved, area/vectorization, reviewed

#18335 [test](compaction) add delete test
  regression-test/data/compaction/test_compacation_with_delete.out
  regression-test/suites/compaction/test_compacation_with_delete.groovy
Labels: kind/test, approved, reviewed, usercase, dev/1.2.4

#18326 [improvement](merge-on-write) remove CHECK if lookup_row_key return unexpected status
  be/src/olap/tablet.cpp
  be/src/olap/task/engine_publish_version_task.cpp
Labels: reviewed, usercase, dev/1.2.4

#18331 [improve](nereids)compute statsRange.length() according to the column datatype
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/FilterEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/DateLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/DateTimeLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/DataType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/coercion/DateLikeType.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticRange.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/stats/FilterEstimationTest.java
Labels: approved, reviewed, area/nereids

#18225 [doc](developer-guide) add some debug tricks to dev-guide
  docs/en/community/developer-guide/be-vscode-dev.md
  docs/zh-CN/community/developer-guide/be-vscode-dev.md
Labels: kind/docs, approved, reviewed

#18301 [opt](file_reader) add prefetch buffer to read csv&json file
  be/src/io/fs/buffered_reader.cpp
  be/src/io/fs/buffered_reader.h
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/vec/exec/format/csv/csv_reader.cpp
  be/src/vec/exec/format/file_reader/new_plain_text_line_reader.cpp
  be/src/vec/exec/format/json/new_json_reader.cpp
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
Labels: approved, area/vectorization, reviewed

#18371 [fix](chore) compile failed in JdbcExecutor and be crash when enable pipeline
  be/src/pipeline/exec/scan_operator.cpp
  be/src/vec/exec/scan/pip_scanner_context.h
  be/src/vec/exec/scan/scanner_context.cpp
  be/src/vec/exec/scan/scanner_context.h
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
Labels: approved, area/vectorization, reviewed

#18276 [fix](multi-catalog) add catalog info for some show proc
  fe/fe-core/src/main/java/org/apache/doris/common/proc/CurrentQueryStatementsProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/CurrentQueryStatisticsProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/org/apache/doris/qe/QueryStatisticsItem.java
Labels: approved, reviewed

#18355 [Improvement](multi catalog)Move split size config to session variable.
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/planner/Splitter.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FileSplitStrategy.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveSplitter.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/QueryScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/TVFSplitter.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: area/planner, reviewed

#18290 [typo](doc)Fixing broken links in docker cluster docs, improving formatting.
  docs/en/docs/faq/install-faq.md
  docs/en/docs/install/construct-docker/run-docker-cluster.md
Labels: kind/docs, approved, reviewed

#18385 [typo](doc)Update install-faq.md
  docs/zh-CN/docs/faq/install-faq.md
Labels: kind/docs, approved, reviewed

#18359 [fix](SSL) fix ssl connection buffer overflow
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlChannel.java
  regression-test/suites/mysql_ssl_p0/test_ssl_wild.groovy
Labels: kind/test, usercase, dev/1.2.4

#18387 [Fix](multi-catalog) Fix crashed when hdfs get path info returning nullptr.
  be/src/io/hdfs_builder.cpp
  be/src/io/hdfs_file_reader.cpp
Labels: dev/1.2.4

#18373 [Bug](MTMV) fix waitingMTMVTaskFinished failed at test_mtmv_ssb_ddl
  regression-test/suites/mtmv_p0/ssb/test_mtmv_ssb_ddl.groovy
Labels: kind/test, approved, reviewed

#18340 [fix](file_cache) turn on file cache by FE session variable
  be/src/io/file_factory.cpp
  be/src/io/file_factory.h
  be/src/io/fs/buffered_reader.cpp
  be/src/io/fs/buffered_reader.h
  be/src/io/io_common.h
  be/src/vec/exec/format/csv/csv_reader.cpp
  be/src/vec/exec/format/json/new_json_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.h
  be/src/vec/exec/format/parquet/parquet_thrift_util.h
  be/src/vec/exec/format/parquet/vparquet_column_chunk_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_column_chunk_reader.h
  be/src/vec/exec/format/parquet/vparquet_column_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_column_reader.h
  be/src/vec/exec/format/parquet/vparquet_group_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_group_reader.h
  be/src/vec/exec/format/parquet/vparquet_page_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_page_reader.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/src/vec/exec/varrow_scanner.cpp
  be/test/vec/exec/parquet/parquet_thrift_test.cpp
Labels: approved, area/vectorization, reviewed

#18398 [typo](doc)Update SHOW-PROC.md and SHOW-CATALOGS.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-CATALOGS.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-PROC.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-PROC.md
Labels: kind/docs, approved, reviewed

#18288 [typo](doc)Small typos in docker run commands.
  docs/en/docs/install/construct-docker/run-docker-cluster.md
Labels: kind/docs, approved, reviewed

#18399 [fix](nereids) explain shape refactor
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
Labels: approved, reviewed, area/nereids

#18244 [doc](datetimefunction)Supplement the description and case of days_diff
  docs/en/docs/sql-manual/sql-functions/date-time-functions/days_diff.md
  docs/zh-CN/docs/ecosystem/mysql-to-doris.md
  docs/zh-CN/docs/sql-manual/sql-functions/date-time-functions/days_diff.md
Labels: kind/docs, approved, reviewed

#18368 [fix](column) Add unimplemented replicate function in ColumnStruct
  be/src/vec/columns/column_struct.cpp
  be/src/vec/columns/column_struct.h
  regression-test/data/query_p0/aggregate/aggregate_group_by_metric_type.out
  regression-test/suites/query_p0/aggregate/aggregate_group_by_metric_type.groovy
Labels: kind/test, area/vectorization

#18005 [feature-wip](multi-catalog)add properties converter
  docs/en/docs/sql-manual/sql-functions/table-functions/s3.md
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/org/apache/doris/analysis/BrokerDesc.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateRepositoryStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/OutFileClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StorageBackend.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StorageDesc.java
  fe/fe-core/src/main/java/org/apache/doris/backup/S3Storage.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HMSResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/S3Resource.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/PrintableMap.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/credentials/CloudCredential.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/credentials/CloudCredentialWithEndpoint.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/PooledHiveMetaStoreClient.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergDLFExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergGlueExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergHMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergRestExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/PropertyConverter.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/S3ClientBEProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/BaseProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/BosProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/CosProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/DLFProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/GlueProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/HMSProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/ObsProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/OssProperties.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/S3Properties.java
  fe/fe-core/src/main/java/org/apache/doris/policy/StoragePolicy.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/IcebergAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/ExternalFileTableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/IcebergTableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/MetadataGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/S3TableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/task/PushStoragePolicyTask.java
  fe/fe-core/src/main/java/org/apache/hadoop/hive/metastore/HiveMetaStoreClient.java
  fe/fe-core/src/test/java/org/apache/doris/backup/S3StorageTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/S3ResourceTest.java
  regression-test/suites/cold_heat_separation/policy/alter.groovy
  regression-test/suites/cold_heat_separation/policy/create.groovy
Labels: kind/docs, area/planner, kind/test, approved, reviewed

#18400 [fix](file_reader) bad_typeid when reading csv&json files
  be/src/vec/exec/format/csv/csv_reader.cpp
  be/src/vec/exec/format/json/new_json_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
Labels: approved, area/vectorization, reviewed

#18391 [chore](regression) prevent creating stmt failed in cold heat separation regression case
  regression-test/suites/cold_heat_separation/empty_table_use_policy/alter_table_add_policy.groovy
  regression-test/suites/cold_heat_separation/empty_table_use_policy/create_table_use_partition_policy.groovy
  regression-test/suites/cold_heat_separation/empty_table_use_policy/disable_storage_policy_MoW.groovy
  regression-test/suites/cold_heat_separation/empty_table_use_policy/use_default_storage_policy.groovy
  regression-test/suites/cold_heat_separation/policy/alter.groovy
  regression-test/suites/cold_heat_separation/policy/create.groovy
  regression-test/suites/cold_heat_separation/policy/drop.groovy
  regression-test/suites/cold_heat_separation_p2/create_table_use_partition_policy.groovy
  regression-test/suites/cold_heat_separation_p2/create_table_use_policy.groovy
  regression-test/suites/cold_heat_separation_p2/modify_replica_use_partition.groovy
  regression-test/suites/cold_heat_separation_p2/table_modify_resouce_and_policy.groovy
Labels: kind/test, approved, reviewed

#18365 [fix](join) fix wrong result of right join
  be/src/vec/exec/join/process_hash_table_probe_impl.h
  regression-test/data/tpcds_sf1_p1/functions_test/test_right_join.out
  regression-test/suites/tpcds_sf1_p1/functions_test/test_right_join.groovy
Labels: kind/test, area/vectorization

#18344 [Chore](build) enchancement for backend build time usage
  be/CMakeLists.txt
  be/src/vec/CMakeLists.txt
  be/src/vec/aggregate_functions/aggregate_function_max_by.cpp
  be/src/vec/aggregate_functions/aggregate_function_min_by.cpp
  be/src/vec/aggregate_functions/aggregate_function_min_max.h
  be/src/vec/aggregate_functions/aggregate_function_min_max_by.cpp
  be/src/vec/aggregate_functions/aggregate_function_min_max_by.h
  be/src/vec/aggregate_functions/aggregate_function_simple_factory.cpp
  be/src/vec/functions/function_date_or_datetime_computation_v2.cpp
  be/test/vec/aggregate_functions/agg_min_max_by_test.cpp
  be/test/vec/function/function_time_test.cpp
  build.sh
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/DateDiff.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/DaysDiff.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/HoursDiff.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/MinutesDiff.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/MonthsDiff.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/SecondsDiff.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/TimeDiff.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/WeeksDiff.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/YearsDiff.java
Labels: area/sql/function, area/vectorization, area/nereids

#18272 [tpch](nereids) trustable join condition
  fe/fe-core/src/main/java/org/apache/doris/nereids/cost/CostModelV1.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/FilterEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/JoinEstimation.java
Labels: approved, reviewed, area/nereids

#18401 [Optimization](String) Optimize the injection of statistics.
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/util/StatisticsUtil.java
Labels: area/planner, approved, reviewed

#18163 [feature](multi-catalog) support select current_catalog();
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/InformationFunction.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/BuiltinScalarFunctions.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/FoldConstantRuleOnFE.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/CurrentCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/ScalarFunctionVisitor.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  regression-test/data/jdbc_catalog_p0/test_mysql_jdbc_catalog.out
  regression-test/suites/jdbc_catalog_p0/test_mysql_jdbc_catalog.groovy
  regression-test/suites/query_p0/system/test_query_sys.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#18297 [fix](planner) decimalv2 castTo decimalv2 should change type directly
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  regression-test/data/query_p0/aggregate/select_distinct.out
  regression-test/suites/query_p0/aggregate/select_distinct.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.2.4

#18382 [Bug](ES): Es object mapping error
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/EsUtil.java
  fe/fe-core/src/test/java/org/apache/doris/external/elasticsearch/EsUtilTest.java
  fe/fe-core/src/test/resources/data/es/es6_dynamic_complex_type.json
Labels: usercase, dev/1.2.4

#18375 [Bug](DECIMALV3) fix wrong decimal scale returned by function `round`
  be/src/vec/functions/round.h
  regression-test/data/query_p0/sql_functions/math_functions/test_round.out
  regression-test/suites/query_p0/sql_functions/math_functions/test_round.groovy
Labels: kind/test, area/sql/function, area/vectorization, dev/1.2.4

#18378 [fix](alter inverted index) Temporary deal with add or drop inverted index by directly schema change
  be/src/olap/schema_change.cpp
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
Labels: reviewed

#18413 [FIX](complex-type)fix get_default to return real nested default value
  be/src/vec/data_types/data_type_array.cpp
  be/src/vec/data_types/data_type_map.cpp
  be/src/vec/data_types/data_type_map.h
  be/src/vec/data_types/data_type_struct.cpp
Labels: approved, area/vectorization, reviewed

#18386 [fix](stats) Fix analyze table failed
  fe/fe-core/src/main/java/org/apache/doris/statistics/util/StatisticsUtil.java
Labels: reviewed

#18213 [Feature](Nereids)support binary arithmetic function
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/ArithmeticFunctionBinder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/FunctionBinder.java
  regression-test/suites/nereids_p0/sql_functions/test_arith_functions.groovy
Labels: kind/test, approved, reviewed, area/nereids

#18416 [config](be) modify tablet_map_shard_size to 4 and add some log
  be/src/common/config.h
  be/src/olap/data_dir.cpp
  be/src/olap/tablet_manager.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#18439 [Bug](materialized-view) fix mv match failed when aggregate function not materialized
  fe/fe-core/src/main/java/org/apache/doris/planner/MaterializedViewSelector.java
Labels: area/planner

#18443 [fix](p0) fix grouping test case
  regression-test/data/query_p0/grouping_sets/test_grouping_sets1.out
  regression-test/suites/query_p0/grouping_sets/test_grouping_sets1.groovy
Labels: kind/test

#18426 [fix](hudi)degrade hudi version for 1.2 to fix unexpected exception
  fe/pom.xml
Labels: dev/1.2.4

#18425 [typo](doc)Add description that external table are no longer maintained
  docs/en/docs/lakehouse/external-table/es.md
  docs/en/docs/lakehouse/external-table/hive.md
  docs/en/docs/lakehouse/external-table/jdbc.md
  docs/en/docs/lakehouse/external-table/odbc.md
  docs/zh-CN/docs/lakehouse/external-table/es.md
  docs/zh-CN/docs/lakehouse/external-table/hive.md
  docs/zh-CN/docs/lakehouse/external-table/jdbc.md
  docs/zh-CN/docs/lakehouse/external-table/odbc.md
Labels: kind/docs, approved, reviewed

#18419 [Improvement](multi catalog)Cache File for Hive Table, instead of cache file splits.
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HiveMetaStoreCache.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveSplitter.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
Labels: area/planner, approved, reviewed

#18447 [fix](agg_sort)fix bug of agg sort
  be/src/vec/exprs/vectorized_agg_fn.cpp
  regression-test/data/nereids_p0/group_concat/test_group_concat.out
  regression-test/data/query_p0/group_concat/test_group_concat.out
  regression-test/suites/nereids_p0/group_concat/test_group_concat.groovy
  regression-test/suites/query_p0/group_concat/test_group_concat.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#18367 [fix](planner)use base index if the where clause is a constant value
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  regression-test/data/mv_p0/where/k123/k123.out
  regression-test/suites/mv_p0/where/k123/k123.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.4

#18395 [Fix](segment iterator) fix filter block size and filter size mismatch problem
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
Labels: reviewed

#18384 [Bug](materialized-view) fix materialized-view query match not consider with order by elements
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/mv_p0/test_dup_mv_plus/test_dup_mv_plus.out
  regression-test/suites/mv_p0/test_dup_mv_plus/test_dup_mv_plus.groovy
Labels: area/planner, kind/test, approved, reviewed

#18418 [Bug](materialized-view) fix mv define expr persistence replay incorrect after schema change
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/MaterializedIndexMeta.java
Labels: approved, reviewed

#18357 [Enchancement](materialized-view) adjust desc table all display fields
  fe/fe-core/src/main/java/org/apache/doris/analysis/DescribeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  regression-test/data/rollup/test_materialized_view_hll.out
  regression-test/data/rollup/test_materialized_view_hll_with_light_sc.out
  regression-test/data/rollup_p0/test_materialized_view.out
  regression-test/data/rollup_p0/test_rollup_agg.out
  regression-test/data/rollup_p0/test_rollup_agg_date.out
Labels: area/planner, approved, reviewed

#18441 [fix](Nereids): fix LogicalProject withXXX().
  fe/fe-core/src/main/java/org/apache/doris/nereids/cost/Cost.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/AdjustNullable.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalProject.java
Labels: approved, reviewed, area/nereids

#18376 [Refactor](Pipeline) Refactor pipeline code to improve coverage
  be/src/pipeline/pipeline.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/pipeline/pipeline_fragment_context.h
  be/src/pipeline/pipeline_task.h
  be/src/pipeline/task_scheduler.h
  be/src/runtime/fragment_mgr.cpp
  regression-test/data/query_p0/empty_table/sql/empty_set_node.out
  regression-test/data/query_p0/sql_functions/hash_functions/test_hash_function.out
  regression-test/suites/query_p0/empty_table/sql/empty_set_node.sql
  regression-test/suites/query_p0/sql_functions/hash_functions/test_hash_function.groovy
Labels: kind/test

#18393 [fix](nereids)move validate data types before EliminateUnnecessaryProject rule
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/Validator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/CheckDataTypes.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/UnsupportedTypeTest.java
  regression-test/suites/query_p0/aggregate/aggregate_group_by_metric_type.groovy
Labels: kind/test, area/nereids

#18422 [enhancement](Nereids) disable heavy operator penalty in cost model v1
  fe/fe-core/src/main/java/org/apache/doris/nereids/cost/CostModelV1.java
Labels: area/nereids

#18366 [fix](Nereids) Fixed a problem with completing ClusterName
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindRelation.java
Labels: approved, reviewed, area/nereids

#18453 [typo](docs) add autobucket to sidebars
  docs/sidebars.json
Labels: kind/docs, approved, reviewed

#18451 [fix](agg_sort)fix bug of agg sort group concat with order by
  be/src/vec/exprs/vectorized_agg_fn.cpp
  regression-test/data/query_p0/group_concat/test_group_concat.out
  regression-test/suites/query_p0/group_concat/test_group_concat.groovy
Labels: kind/test, area/vectorization

#18424 [chore](scan) Disable low cardinality optimization for compaction
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/olap/schema.cpp
  be/src/olap/schema.h
Labels: approved, reviewed

#18374 [chore](regression) print exception along with error sql when run sql file
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/ScriptSource.groovy
Labels: kind/test

#18361 [enchancement](memory) tracking lru cache memory and page memory not in cache
  be/src/olap/lru_cache.cpp
  be/src/olap/lru_cache.h
  be/src/olap/rowset/segment_v2/page_handle.h
  be/src/olap/tablet_manager.cpp
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/util/doris_metrics.cpp
  be/src/util/doris_metrics.h
Labels: usercase, dev/1.2.4

#18353 [fix](planner) enable fallback to legacy planner when execute internal query
  fe/fe-core/src/main/java/org/apache/doris/mtmv/MTMVTaskProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/pre/EliminateLogicalSelectHint.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HistogramTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HiveAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/IcebergAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/OlapAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/util/StatisticsUtil.java
Labels: approved, reviewed, area/nereids

#17864 [fix](Nereids) extract complicated time string in evaluating cost model framework
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalHashAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalQuickSort.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalStorageLayerAggregate.java
  tools/cost_model_evaluate/sql_executor.py
Labels: area/nereids

#18427 [enhancement](Nereids) adjust runtime filter parameters when enable pipeline engine
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/RuntimeFilterTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/RuntimeFilterGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/planner/RuntimeFilterGenerator.java
Labels: area/planner, approved, reviewed, area/nereids

#18437 [Improvement](DECIMAL) Improve decimal operation
  be/src/vec/data_types/data_type_decimal.h
  be/src/vec/functions/function_binary_arithmetic.h
  be/src/vec/functions/function_cast.h
  be/src/vec/functions/multiply.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#18428 [feature](Nereids): deduplicate InPredicate.
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/ExpressionNormalization.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/InPredicateDedup.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/ExpressionRewriteTest.java
Labels: approved, reviewed, area/nereids

#18440 (fix)(file cache) Fix be core while use block/whole/sub file cache
  be/src/io/cache/sub_file_cache.cpp
  be/src/io/cache/whole_file_cache.cpp
  be/src/olap/rowset/segment_v2/segment.cpp
Labels: approved, reviewed

#18454 [fix](test) fix failure of test case
  regression-test/suites/query_p0/sql_functions/math_functions/test_round.groovy
Labels: kind/test, approved, reviewed

#18295 [FIX](Map)fix calculate map offset in olap convertor
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/vec/columns/column_map.cpp
  be/src/vec/columns/column_map.h
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/olap_data_convertor.h
  regression-test/data/datatype_p2/complex_types/test_big_kv_map.out
  regression-test/suites/datatype_p2/complex_types/test_big_kv_map.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#18450 [Fix](Nereids)change bytesize setting from translate process to catalog datatype switching process
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/ExpressionTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/VarcharType.java
Labels: approved, reviewed, area/nereids

#18259 [typo](docs) fix some error in this files
  docs/en/docs/sql-manual/sql-functions/string-functions/extract_url_parameter.md
  docs/en/docs/sql-manual/sql-functions/string-functions/lcase.md
  docs/en/docs/sql-manual/sql-functions/string-functions/left.md
  docs/en/docs/sql-manual/sql-functions/string-functions/lower.md
  docs/en/docs/sql-manual/sql-functions/string-functions/parse_url.md
  docs/en/docs/sql-manual/sql-functions/string-functions/right.md
  docs/en/docs/sql-manual/sql-functions/string-functions/strleft.md
  docs/en/docs/sql-manual/sql-functions/string-functions/strright.md
  docs/en/docs/sql-manual/sql-functions/string-functions/ucase.md
  docs/en/docs/sql-manual/sql-functions/string-functions/upper.md
  docs/en/docs/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-LEAD.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-RESOURCE.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/extract_url_parameter.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/lcase.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/left.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/lower.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/parse_url.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/right.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/strleft.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/strright.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/ucase.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/upper.md
  docs/zh-CN/docs/sql-manual/sql-functions/window-functions/WINDOW-FUNCTION-LEAD.md
Labels: kind/docs, approved, reviewed

#18442 [Bug](cast) Fix bug for cast function between datetimev2 and string
  be/src/vec/data_types/data_type_time_v2.cpp
  be/src/vec/data_types/data_type_time_v2.h
  be/src/vec/runtime/vdatetime_value.cpp
  be/src/vec/runtime/vdatetime_value.h
  regression-test/data/query_p0/sql_functions/cast_function/test_cast_function.out
  regression-test/data/query_p0/sql_functions/cast_function/test_cast_with_scale_type.out
  regression-test/suites/query_p0/sql_functions/cast_function/test_cast_function.groovy
Labels: kind/test, area/vectorization

#18469 [typo](doc) Fixed typos in SHOW-PROCESSLIST.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-PROCESSLIST.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-PROCESSLIST.md
Labels: kind/docs, approved, reviewed

#18462 [cherrypick](memory) tracking lru cache memory and page memory not in cache
  be/src/olap/lru_cache.cpp
  be/src/olap/lru_cache.h
  be/src/olap/rowset/segment_v2/page_handle.h
  be/src/olap/tablet_manager.cpp
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/util/doris_metrics.cpp
  be/src/util/doris_metrics.h
Labels: approved, reviewed

#18479 [test](fix) fix test_compaction_with_delete
  regression-test/suites/compaction/test_vertical_compaction_agg_keys.groovy
Labels: kind/test

#18226 [Enhancement](iceberg table)support inPredicate for iceberg table
  fe/fe-core/src/main/java/org/apache/doris/external/iceberg/util/IcebergUtils.java
Labels: approved, reviewed, kind/need-regression-test

#18484 [fix](regression-test) fix wrong http port in regression-test case compaction-with-delete
  regression-test/suites/compaction/test_compacation_with_delete.groovy
Labels: kind/test, approved, reviewed

#18471 [fix](bdbje) handle `RollbackException` in `BDBJEJournal.open`
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBJEJournal.java
Labels: approved, reviewed, dev/1.2.4

#18436 [fix](inverted index) Fix key column match query failed
  be/src/exec/olap_common.h
  regression-test/data/inverted_index_p0/test_index_key_match_select.out
  regression-test/suites/inverted_index_p0/test_index_key_match_select.groovy
Labels: kind/test, reviewed

#17884 [Feature](multi-catalog) add refresh for catalog if it needs
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/RefreshManager.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogIf.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/RefreshCatalogTest.java
Labels: kind/docs, area/planner

#18028 [vectorized](function) support array_repeat function to be compatible with hive syntax
  be/src/vec/functions/array/function_array_with_constant.cpp
  docs/en/docs/sql-manual/sql-functions/array-functions/array_with_constant.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_with_constant.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions_by_literal.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions_with_where.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions.groovy
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_by_literal.groovy
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_with_where.groovy
Labels: kind/docs, kind/test, approved, area/sql/function, area/vectorization, reviewed

#18321 [Optimization](string) optimize constant empty string compare ( column='', column!='')
  be/src/vec/functions/functions_comparison.h
Labels: area/sql/function, area/vectorization

#18458 [optimize](string) optimize concat function by SIMD memcpy
  be/src/vec/functions/function_string.cpp
  be/src/vec/functions/function_string.h
Labels: area/sql/function, area/vectorization

#18487 [fix](profile) fix show load query profile
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/vec/exec/scan/new_olap_scanner.cpp
  docs/en/docs/admin-manual/query-profile.md
  docs/en/docs/lakehouse/multi-catalog/hive.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-LOAD-PROFILE.md
  docs/zh-CN/docs/admin-manual/query-profile.md
  docs/zh-CN/docs/lakehouse/multi-catalog/hive.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-LOAD-PROFILE.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowLoadProfileStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowQueryProfileStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
Labels: kind/docs, area/planner, approved, area/vectorization, reviewed, usercase, dev/1.2.4

#18473 [BugFix](MTMV)Set enable_mtmv_scheduler_framework master only to avoid regression fail
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  regression-test/pipeline/p0/conf/fe.conf
  regression-test/pipeline/p1/conf/fe.conf
  regression-test/suites/mtmv_p0/ssb/ddl/ssb_q41_create.sql
  regression-test/suites/mtmv_p0/ssb/ddl/ssb_q42_create.sql
  regression-test/suites/mtmv_p0/ssb/ddl/ssb_q43_create.sql
  regression-test/suites/mtmv_p0/ssb/test_mtmv_ssb_ddl.groovy
  regression-test/suites/mtmv_p0/test_alter_mtmv.groovy
  regression-test/suites/mtmv_p0/test_create_both_mtmv.groovy
  regression-test/suites/mtmv_p0/test_create_mtmv.groovy
  regression-test/suites/mtmv_p0/test_refresh_mtmv.groovy
Labels: kind/test, approved, reviewed

#18350 [Enhencement](like) fallback to re2 if hyperscan failed
  be/src/vec/functions/like.cpp
Labels: area/sql/function, area/vectorization, usercase, dev/1.2.4

#18468 [Enhencement](like) fallback to re2 if hyperscan failed pick #18350
  be/src/vec/functions/like.cpp
Labels: area/sql/function, area/vectorization

#18255 [chore](build) Build java udf by default
  build.sh
Labels: approved, reviewed

#18358 [Enchancement](compatible) show dateV2/datetimeV2 to date/datetime
  fe/fe-core/src/main/java/org/apache/doris/analysis/DescribeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/IndexSchemaProcNode.java
  regression-test/data/bloom_filter_p0/test_create_table_with_bloom_filter.out
  regression-test/data/data_model_p0/aggregate/test_aggregate_table.out
  regression-test/data/data_model_p0/duplicate/test_duplicate_table.out
  regression-test/data/index_p0/test_bitmap_index.out
  regression-test/data/query_p0/show/test_show_create_table.out
  regression-test/data/rollup/test_materialized_view_hll.out
  regression-test/data/rollup/test_materialized_view_hll_with_light_sc.out
  regression-test/data/rollup_p0/test_materialized_view.out
  regression-test/data/rollup_p0/test_rollup_agg.out
  regression-test/data/rollup_p0/test_rollup_agg_date.out
  regression-test/suites/query_p0/show/test_show_create_table.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.4

#18328 [refactor](typesystem) using typeindex to create column instead of type name because type name is not stable
  be/src/vec/columns/column_object.cpp
  be/src/vec/columns/column_struct.cpp
  be/src/vec/columns/column_vector.h
  be/src/vec/core/types.h
  be/src/vec/data_types/data_type_factory.cpp
  be/src/vec/data_types/data_type_factory.hpp
  be/src/vec/data_types/data_type_struct.cpp
  be/src/vec/exec/vjdbc_connector.cpp
  be/src/vec/exprs/vcast_expr.cpp
  be/src/vec/exprs/vschema_change_expr.cpp
  be/src/vec/functions/function_cast.h
  be/test/vec/function/function_jsonb_test.cpp
Labels: kind/test, approved, area/sql/function, area/vectorization, reviewed

#18412 [improvement](createtable)fix create table error msg in information_schema database
  fe/fe-core/src/main/java/org/apache/doris/common/ErrorCode.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
Labels: reviewed

#17865 [regression](join)Add subquery join case to regression test
  regression-test/data/query_p0/join/test_left_join_with.out
  regression-test/suites/query_p0/join/test_left_join_with.groovy
Labels: kind/test

#18493 [cherry-pick](compatible) show dateV2/datetimeV2 to date/datetime
  fe/fe-core/src/main/java/org/apache/doris/analysis/DescribeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/IndexSchemaProcNode.java
  regression-test/data/bloom_filter_p0/test_create_table_with_bloom_filter.out
  regression-test/data/data_model_p0/aggregate/test_aggregate_table.out
  regression-test/data/data_model_p0/duplicate/test_duplicate_table.out
  regression-test/data/index_p0/test_bitmap_index.out
  regression-test/data/query_p0/show/test_show_create_table.out
  regression-test/data/rollup/test_materialized_view_hll.out
  regression-test/data/rollup/test_materialized_view_hll_with_light_sc.out
  regression-test/data/rollup_p0/test_materialized_view.out
  regression-test/data/rollup_p0/test_rollup_agg.out
  regression-test/data/rollup_p0/test_rollup_agg_date.out
  regression-test/suites/query_p0/show/test_show_create_table.groovy
Labels: area/planner, kind/test

#17580 [Bugfix](backup) fix show snapshot issue
  fe/fe-core/src/main/java/org/apache/doris/backup/Repository.java
Labels: reviewed, dev/1.2.4

#17879 [Refine](sql block)unify exception catching for sql block
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: dev/1.2.4

#17736 [BugFix](backup) fix show backup with where clause
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowBackupStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
Labels: area/planner, approved, reviewed, kind/behavior-changed, dev/1.2.4

#18499 [fix](catalog) fix NPE when replay from FE image
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/master/Checkpoint.java
Labels: approved, reviewed

#18485 [fix](hdfs) not setting hadoop username when kerberos enabled
  be/src/io/fs/local_file_system.cpp
  be/src/io/fs/local_file_system.h
  be/src/io/hdfs_builder.cpp
  be/src/olap/rowset/rowset_meta_manager.cpp
  be/test/io/fs/local_file_system_test.cpp
  fe/fe-core/src/main/cup/sql_parser.cup
Labels: approved, reviewed, usercase, dev/1.2.4

#18491 [Bug](bloomfilter) Fix bloom filter for date type (#18205)
  be/src/exprs/bloomfilter_predicate.h
  be/src/vec/functions/like.cpp
Labels: area/sql/function, area/vectorization

#18277 [FE](mysql) support mysql protocol with precision and scale info for decimal type
  fe/fe-core/src/main/java/org/apache/doris/analysis/OutFileClause.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlCapability.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlSerializer.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/mysql/MysqlCapabilityTest.java
Labels: area/planner, approved, reviewed

#18474 [refactor](string) remove volnitsky search algorithm
  be/src/runtime/string_search.hpp
  be/src/vec/common/string_searcher.h
  be/src/vec/common/volnitsky.h
  be/src/vec/functions/functions_multi_string_position.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#18483 [fix](Nereids): use bottom up for SemiJoin Transpose.
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriter.java
Labels: approved, reviewed, area/nereids

#18470 [fix](nereids)PushdownAliasThroughJoin should handle same column with different alias in project list
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownAliasThroughJoin.java
  regression-test/data/nereids_syntax_p0/join_with_alias.out
  regression-test/suites/nereids_syntax_p0/join_with_alias.groovy
Labels: kind/test, approved, reviewed, area/nereids

#18464 [Fix](Nereids)fix runtime filter generation terminate incorrectly when meet NLJNode.
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/RuntimeFilterGenerator.java
Labels: approved, reviewed, area/nereids

#18490 [docs](clion) Add Clion remote development and debugging documents.
  docs/en/community/developer-guide/be-clion-dev.md
  docs/images/clion-deployment1.png
  docs/images/clion-deployment2.png
  docs/images/clion-run-debug-conf1.png
  docs/images/clion-run-debug-conf2.png
  docs/images/clion-toolchains.png
  docs/images/doris-dist-output-tree.png
  docs/sidebarsCommunity.json
  docs/zh-CN/community/developer-guide/be-clion-dev.md
Labels: kind/docs, approved, reviewed

#18463 [FIX](complex-type) fixed complex type with create_column_const_with_default_value
  be/src/vec/core/field.h
  be/src/vec/data_types/data_type_array.cpp
  be/src/vec/data_types/data_type_map.cpp
  be/test/CMakeLists.txt
  be/test/vec/data_types/complex_type_test.cpp
Labels: approved, area/vectorization, reviewed
