Repository apache/doris, pull requests merged in 2023-05, with the labels that each got.

#19228 [vectorized](function) add some check about result type in array map
  be/src/vec/exprs/lambda_function/lambda_function.h
  be/src/vec/exprs/lambda_function/varray_filter_function.cpp
  be/src/vec/exprs/lambda_function/varray_map_function.cpp
  gensrc/script/doris_builtins_functions.py
Labels: area/sql/function, area/vectorization, reviewed, dev/2.0.0-alpha1-merged

#19120 [Fix](multi-catalog) fix FE abnormal exit when replay OP_REFRESH_EXTERNAL_TABLE
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HiveMetaStoreCache.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HivePartition.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveSplitter.java
Labels: area/planner, approved, reviewed, usercase, dev/1.2.5

#19119 [enhance](be)add more profile in prefetched buffered reader
  be/src/io/fs/buffered_reader.cpp
  be/src/io/fs/buffered_reader.h
  be/src/service/internal_service.cpp
  be/test/io/fs/buffered_reader_test.cpp
Labels: approved, reviewed

#19048 [docker](hudi) add hudi docker compose
  docker/thirdparties/docker-compose/hudi/hadoop.env
  docker/thirdparties/docker-compose/hudi/hudi.yaml.tpl
  docker/thirdparties/docker-compose/hudi/scripts/config/base.properties
  docker/thirdparties/docker-compose/hudi/scripts/config/dfs-source.properties
  docker/thirdparties/docker-compose/hudi/scripts/config/hoodie-incr.properties
  docker/thirdparties/docker-compose/hudi/scripts/config/hoodie-schema.avsc
  docker/thirdparties/docker-compose/hudi/scripts/config/kafka-source.properties
  docker/thirdparties/docker-compose/hudi/scripts/config/log4j2.properties
  docker/thirdparties/docker-compose/hudi/scripts/config/schema.avsc
  docker/thirdparties/docker-compose/hudi/scripts/config/spark-defaults.conf
  docker/thirdparties/docker-compose/hudi/scripts/run_sync_tool.sh
  docker/thirdparties/docker-compose/hudi/scripts/setup_demo_container_adhoc_1.sh
  docker/thirdparties/docker-compose/hudi/scripts/setup_demo_container_adhoc_2.sh
  docker/thirdparties/run-thirdparties-docker.sh
  docs/zh-CN/community/developer-guide/regression-testing.md
Labels: kind/docs, approved, reviewed

#19026 [Fix](load) fix request_slave_tablet_pull_rowset get wrong url in case of ipv6 address
  be/src/service/internal_service.cpp
Labels: approved, reviewed

#19226 [improvement](load) log time consumed by waiting flush
  be/src/runtime/load_channel_mgr.cpp
Labels: approved, reviewed

#18834 [feature](multi-catalog) Rename multi-catalog config 'specified_database_list' to 'include_database_list', and introduce new multi-catalog config 'exclude_database_list'
  docs/en/docs/lakehouse/multi-catalog/hive.md
  docs/en/docs/lakehouse/multi-catalog/iceberg.md
  docs/en/docs/lakehouse/multi-catalog/jdbc.md
  docs/en/docs/lakehouse/multi-catalog/multi-catalog.md
  docs/zh-CN/docs/lakehouse/multi-catalog/hive.md
  docs/zh-CN/docs/lakehouse/multi-catalog/iceberg.md
  docs/zh-CN/docs/lakehouse/multi-catalog/jdbc.md
  docs/zh-CN/docs/lakehouse/multi-catalog/multi-catalog.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Resource.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  regression-test/data/jdbc_catalog_p0/test_mysql_jdbc_catalog.out
  regression-test/data/jdbc_catalog_p0/test_pg_jdbc_catalog.out
  regression-test/suites/jdbc_catalog_p0/test_mysql_jdbc_catalog.groovy
  regression-test/suites/jdbc_catalog_p0/test_pg_jdbc_catalog.groovy
Labels: kind/docs, kind/test, reviewed, dev/1.2.5

#18712 [improvement] TOperationStatus determines that a null pointer is redundant.
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerReader.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerUtil.java
Labels: approved, reviewed, dev/1.2.5

#19189 Revert "[chore](third-party) Fix the checksums of mysql (#19047)"
  thirdparty/vars.sh
Labels: approved, reviewed

#19241 [fix](regression) fix inverted_index_p1 q72.sql timeout error
  regression-test/data/inverted_index_p1/tpcds_sf1_index/sql/q72.out
  regression-test/suites/inverted_index_p1/tpcds_sf1_index/sql/q72.sql
Labels: kind/test, approved, reviewed

#19240 [fix](fe)insubquery should always be converted to semi or anti join
  fe/fe-core/src/main/java/org/apache/doris/analysis/StmtRewriter.java
  regression-test/suites/correctness_p0/test_join_without_condition.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.5

#19187 [fix](vertical_compaction) Fix `continuous_agg_count` PODArray wrong boundary judgment
  be/src/vec/common/allocator.h
  be/src/vec/olap/vertical_merge_iterator.cpp
Labels: area/vectorization, reviewed

#19010 [Enhancement](storage engine) avoid deleting tablets on unused disk
  be/src/olap/storage_engine.cpp
  be/src/olap/storage_engine.h
Labels: approved, reviewed

#19223 [improvement](log) log timeout seconds when creating partitions timeout
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
Labels: approved, reviewed

#19254 [refactor](conjuncts) simplify conjuncts in exec node
  be/src/exec/base_scanner.cpp
  be/src/exec/base_scanner.h
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/exec/scan_node.cpp
  be/src/vec/exec/scan/new_es_scan_node.cpp
  be/src/vec/exec/scan/new_es_scanner.cpp
  be/src/vec/exec/scan/new_es_scanner.h
  be/src/vec/exec/scan/new_file_scan_node.cpp
  be/src/vec/exec/scan/new_jdbc_scan_node.cpp
  be/src/vec/exec/scan/new_jdbc_scanner.cpp
  be/src/vec/exec/scan/new_jdbc_scanner.h
  be/src/vec/exec/scan/new_odbc_scan_node.cpp
  be/src/vec/exec/scan/new_odbc_scanner.cpp
  be/src/vec/exec/scan/new_odbc_scanner.h
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/src/vec/exec/scan/vfile_scanner.h
  be/src/vec/exec/scan/vmeta_scan_node.cpp
  be/src/vec/exec/scan/vmeta_scanner.cpp
  be/src/vec/exec/scan/vmeta_scanner.h
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/scan/vscan_node.h
  be/src/vec/exec/scan/vscanner.cpp
  be/src/vec/exec/scan/vscanner.h
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exprs/vexpr_context.cpp
  be/src/vec/exprs/vexpr_context.h
Labels: approved, area/vectorization, reviewed

#19270 [chore](release) build-for-release.sh support arm
  build-for-release.sh
Labels: approved, reviewed, dev/1.2.5

#19277 [branch-1.2](functions)fix min_may_by for datetimeV2
  be/src/vec/aggregate_functions/aggregate_function_min_max_by.cpp
Labels: area/vectorization

#18989 [bug](function)fix potential npe in getFunction() when fe restart
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/FunctionSetTest.java
Labels: approved, reviewed, usercase, dev/1.2.5

#17753 [Enhancement](HttpServer) Add http interface authentication for BE
  be/src/common/config.h
  be/src/http/CMakeLists.txt
  be/src/http/action/check_rpc_channel_action.cpp
  be/src/http/action/check_rpc_channel_action.h
  be/src/http/action/check_tablet_segment_action.cpp
  be/src/http/action/check_tablet_segment_action.h
  be/src/http/action/checksum_action.cpp
  be/src/http/action/checksum_action.h
  be/src/http/action/compaction_action.cpp
  be/src/http/action/compaction_action.h
  be/src/http/action/download_action.cpp
  be/src/http/action/meta_action.cpp
  be/src/http/action/meta_action.h
  be/src/http/action/metrics_action.h
  be/src/http/action/monitor_action.h
  be/src/http/action/pad_rowset_action.h
  be/src/http/action/reload_tablet_action.cpp
  be/src/http/action/reload_tablet_action.h
  be/src/http/action/reset_rpc_channel_action.cpp
  be/src/http/action/reset_rpc_channel_action.h
  be/src/http/action/restore_tablet_action.cpp
  be/src/http/action/restore_tablet_action.h
  be/src/http/action/snapshot_action.cpp
  be/src/http/action/snapshot_action.h
  be/src/http/action/tablet_migration_action.cpp
  be/src/http/action/tablet_migration_action.h
  be/src/http/action/tablets_distribution_action.cpp
  be/src/http/action/tablets_distribution_action.h
  be/src/http/action/tablets_info_action.cpp
  be/src/http/action/tablets_info_action.h
  be/src/http/action/version_action.cpp
  be/src/http/action/version_action.h
  be/src/http/default_path_handlers.cpp
  be/src/http/http_handler_with_auth.cpp
  be/src/http/http_handler_with_auth.h
  be/src/http/utils.h
  be/src/service/http_service.cpp
  be/test/CMakeLists.txt
  be/test/http/http_auth_test.cpp
  be/test/olap/tablet_test.cpp
  conf/be.conf
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
Labels: reviewed

#19264 [typo](docs)add new attention of str_to_date function
  docs/en/docs/sql-manual/sql-functions/date-time-functions/str_to_date.md
  docs/zh-CN/docs/sql-manual/sql-functions/date-time-functions/str_to_date.md
Labels: kind/docs, approved, reviewed

#19250 [bugfix](rpc) fix read-after-free problem of DeleteClosure.
  be/src/pipeline/exec/exchange_sink_buffer.cpp
  be/src/pipeline/exec/operator.h
Labels: approved, reviewed

#19268 [fix](load) exclude canceled job when canceling load
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
Labels: area/load

#19287 [fix](hll) incorrect implementation of hll_union/hll_union_agg with nullable arguments
  be/src/vec/aggregate_functions/aggregate_function_hll_union_agg.cpp
  be/src/vec/aggregate_functions/aggregate_function_simple_factory.cpp
Labels: area/vectorization

#19151 [refactor](function) ignore DST for function `from_unixtime`
  be/src/vec/runtime/vdatetime_value.cpp
  be/test/vec/function/function_time_test.cpp
  be/test/vec/utils/arrow_column_to_doris_column_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/DateLiteral.java
  regression-test/data/datatype_p0/date/test_from_unixtime.out
  regression-test/data/nereids_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/data/query_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/datatype_p0/date/test_from_unixtime.groovy
  regression-test/suites/query_p0/sql_functions/datetime_functions/test_date_function.groovy
Labels: area/planner, kind/test, approved, area/vectorization, reviewed, dev/1.2.5

#19289 [community](release) add download scripts for 2.0.0-alpha1 release
  dist/download_scripts/2.0.0-alpha1/download_x64_apache.sh
  dist/download_scripts/2.0.0-alpha1/download_x64_tsinghua.sh
Labels: approved, reviewed

#19279 [Bug](web) fix web of frontend meet error
  fe/pom.xml
Labels: reviewed

#19272 [Chore](thrift) prevent BE to be recompiled many files
  generated-source.sh
Labels: approved, reviewed

#19249 [doc](fix)fix array_map doc tag wrong
  docs/en/docs/sql-manual/sql-functions/array-functions/array_map.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_map.md
Labels: kind/docs, approved, reviewed

#19291 [fix](nereids) plan shape on tpch_sf1T q21 case
  regression-test/data/nereids_tpch_shape_sf1000_p0/shape/q21.out
  regression-test/suites/nereids_tpch_shape_sf1000_p0/shape/q21.groovy
Labels: kind/test

#19177 [opt](FileCache) Add file cache metrics and management
  be/src/http/CMakeLists.txt
  be/src/http/action/file_cache_action.cpp
  be/src/http/action/file_cache_action.h
  be/src/io/cache/block/block_file_cache.h
  be/src/io/cache/block/block_file_cache_factory.cpp
  be/src/io/cache/block/block_file_cache_factory.h
  be/src/io/cache/block/block_lru_file_cache.cpp
  be/src/io/cache/block/block_lru_file_cache.h
  be/src/io/cache/block/cached_remote_file_reader.cpp
  be/src/io/cache/block/cached_remote_file_reader.h
  be/src/io/file_factory.cpp
  be/src/io/file_factory.h
  be/src/io/fs/buffered_reader.cpp
  be/src/io/fs/buffered_reader.h
  be/src/io/fs/file_reader_options.h
  be/src/io/fs/remote_file_system.cpp
  be/src/service/http_service.cpp
  be/src/vec/exec/format/csv/csv_reader.cpp
  be/src/vec/exec/format/json/new_json_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/varrow_scanner.cpp
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
Labels: approved, area/vectorization, reviewed

#19214 [fix](memory) Fix memory leak due to incorrect block reuse of `AggregateFunctionSortData`
  be/src/vec/aggregate_functions/aggregate_function_sort.h
Labels: area/vectorization, dev/2.0.0-alpha1

#19246 [Refactor](doc)(config)(variable) use script to generate doc for FE config and session variables
  docs/en/docs/admin-manual/config/fe-config-template.md
  docs/en/docs/advanced/variables-template.md
  docs/generate-config-and-variable-doc.sh
  docs/zh-CN/docs/admin-manual/config/fe-config-template.md
  docs/zh-CN/docs/advanced/variables-template.md
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-common/src/main/java/org/apache/doris/common/ConfigBase.java
  fe/fe-common/src/main/java/org/apache/doris/common/EnvUtils.java
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/org/apache/doris/common/util/DocGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/external/iceberg/IcebergTableCreationRecordMgr.java
  fe/fe-core/src/main/java/org/apache/doris/load/DeleteJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/DppScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/load/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/SparkLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/qe/GlobalVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/VariableMgr.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendOptions.java
  fe/fe-core/src/test/java/org/apache/doris/load/DppSchedulerTest.java
Labels: area/load, kind/docs, approved, area/spark-load, reviewed

#19098 [refactor](fs)(step3)use filesystem instead of old storage, new storage just access remote object storage
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupHandler.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupJob.java
  fe/fe-core/src/main/java/org/apache/doris/backup/Repository.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeConstants.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerUtil.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/S3URI.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HiveMetaStoreCache.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/PropertyConverter.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/property/constants/S3Properties.java
  fe/fe-core/src/main/java/org/apache/doris/external/hive/util/HiveUtil.java
  fe/fe-core/src/main/java/org/apache/doris/fs/FileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/FileSystemFactory.java
  fe/fe-core/src/main/java/org/apache/doris/fs/LocalFileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/PersistentFileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/RemoteFiles.java
  fe/fe-core/src/main/java/org/apache/doris/fs/obj/BlobStorage.java
  fe/fe-core/src/main/java/org/apache/doris/fs/obj/BrokerStorage.java
  fe/fe-core/src/main/java/org/apache/doris/fs/obj/HdfsStorage.java
  fe/fe-core/src/main/java/org/apache/doris/fs/obj/S3ObjStorage.java
  fe/fe-core/src/main/java/org/apache/doris/fs/obj/S3Storage.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/BrokerFileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/ObjFileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/RemoteFile.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/RemoteFileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/S3FileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/dfs/DFSFileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveSplitter.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/QueryScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/S3TableValuedFunction.java
  fe/fe-core/src/test/java/org/apache/doris/backup/BackupJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/backup/BrokerStorageTest.java
  fe/fe-core/src/test/java/org/apache/doris/backup/RepositoryTest.java
  fe/fe-core/src/test/java/org/apache/doris/backup/RestoreJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/property/PropertyConverterTest.java
  fe/fe-core/src/test/java/org/apache/doris/fs/obj/MockedS3Client.java
  fe/fe-core/src/test/java/org/apache/doris/fs/obj/S3FileSystemTest.java
  fe/fe-core/src/test/java/org/apache/doris/fs/obj/S3ObjStorageTest.java
Labels: area/planner, approved, reviewed

#19243 [improvement](load) log time consumed by io and enlarge timeout in p0
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  regression-test/suites/load_p0/stream_load/test_csv_with_double_quotes.groovy
  regression-test/suites/load_p0/stream_load/test_csv_with_skip_lines.groovy
Labels: kind/test

#19285 [fix](memory) Allocator throws Exception instead of std::bad_alloc
  be/src/common/config.h
  be/src/runtime/exec_env_init.cpp
  be/src/runtime/memory/mem_tracker.cpp
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/runtime/thread_context.h
  be/src/vec/common/allocator.cpp
Labels: area/vectorization

#19261 [fix](fe)havingClause should be substituted the same way as resultExprs
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/correctness_p0/test_group_having_alias.out
  regression-test/suites/correctness_p0/test_group_having_alias.groovy
Labels: area/planner, kind/test, reviewed, dev/1.2.5

#19286 [doc](release note) add 2.0.0 alpha1 release note
  README.md
  docs/en/docs/releasenotes/release-2.0.0Alpha1.md
  docs/sidebars.json
  docs/zh-CN/docs/releasenotes/release-2.0.0Alpha1.md
Labels: kind/docs, approved, reviewed

#18912 [fix](thirdparty) fix opentelemetry error message compiling with ubsan
  thirdparty/patches/opentelemetry-cpp-1.4.0.patch
Labels: approved, reviewed

#19278 [enhance](Nereids): make getExplorationRule static.
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/StatementContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/Node.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/SubgraphEnumerator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/receiver/PlanReceiver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: approved, reviewed, area/nereids

#19219 [Refactor](StmtExecutor)(step-1) Extract profile logic from StmtExecutor and Coordinator
  build-for-release.sh
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowQueryProfileStmt.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/ExecutionProfile.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/Profile.java
  fe/fe-core/src/main/java/org/apache/doris/common/profile/SummaryProfile.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/Counter.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/ProfileManager.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/ProfileWriter.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/QueryPlannerProfile.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/RuntimeProfile.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/TimeUtils.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/controller/QueryProfileController.java
  fe/fe-core/src/main/java/org/apache/doris/load/ExportJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BulkLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadLoadingTask.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/QeProcessorImpl.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/task/ExportExportingTask.java
  fe/fe-core/src/test/java/org/apache/doris/common/util/RuntimeProfileTest.java
  fe/fe-core/src/test/java/org/apache/doris/common/util/TimeUtilsTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/BrokerLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/qe/SessionVariablesTest.java
  fe/fe-core/src/test/java/org/apache/doris/qe/StmtExecutorTest.java
  regression-test/suites/query_profile/test_profile.groovy
Labels: area/load, area/planner, kind/test, area/nereids, kind/behavior-changed

#19310 [enhancement](exprcontext) modify get_output_block_after_execute_expr method more clear to avoid mis usage
  be/src/vec/exprs/vexpr_context.cpp
  be/src/vec/exprs/vexpr_context.h
  be/src/vec/runtime/vfile_result_writer.cpp
  be/src/vec/sink/vjdbc_table_sink.cpp
  be/src/vec/sink/vmysql_result_writer.cpp
  be/src/vec/sink/vmysql_table_writer.cpp
  be/src/vec/sink/vodbc_table_sink.cpp
  be/src/vec/sink/vtablet_sink.cpp
Labels: approved, area/vectorization, reviewed

#19321 [fix](FileReader) broker reader is not thread-safe and can't be prefetched
  be/src/io/fs/buffered_reader.cpp
  be/src/io/fs/buffered_reader.h
Labels: approved, reviewed, usercase, dev/2.0.0-alpha1

#19314 [fix](compile) fix bug in build.sh
  build.sh
Labels: approved, reviewed

#19309 [FIX](regress_testcase)fix sync with stream load
  regression-test/suites/jsonb_p0/test_jsonb_load_unique_key_and_function.groovy
  regression-test/suites/load_p0/stream_load/test_map_load_and_function.groovy
Labels: kind/test, approved, reviewed

#19299 [refactor](scan) avoid unnecessary function call
  be/src/io/fs/file_reader.cpp
  be/src/io/fs/local_file_reader.cpp
Labels: approved, reviewed

#19308 [fix](status) do not capture stacktrace for META_KEY_NOT_FOUND
  be/src/common/status.h
Labels: approved, reviewed

#19280 [fix](nereids)fix merge project with window function bug
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rules/SimplifyArithmeticRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/MergeProjects.java
  regression-test/data/nereids_p0/aggregate/agg_window_project.out
  regression-test/suites/nereids_p0/aggregate/agg_window_project.groovy
Labels: kind/test, approved, reviewed, area/nereids

#18688 [fix](replica) Fix inconsistent replica id between FE and BE
  be/src/agent/task_worker_pool.cpp
  be/src/olap/snapshot_manager.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_meta.h
  be/src/olap/task/engine_clone_task.cpp
  be/src/olap/task/engine_storage_migration_task.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/fe-core/src/main/java/org/apache/doris/task/UpdateTabletMetaInfoTask.java
  gensrc/thrift/AgentService.thrift
Labels: dev/2.0.0-alpha1

#19252 [Feature](generic-aggregation) add some type define for generic aggregate functions support
  be/src/olap/olap_common.h
  be/src/olap/push_handler.cpp
  be/src/olap/row_cursor.cpp
  be/src/olap/task/engine_batch_load_task.cpp
  be/src/olap/wrapper_field.cpp
  be/src/olap/wrapper_field.h
  be/src/runtime/define_primitive_type.h
  be/src/runtime/primitive_type.cpp
  be/src/vec/core/types.h
  be/src/vec/data_types/data_type.cpp
  be/src/vec/data_types/data_type_agg_state.h
  be/src/vec/data_types/data_type_factory.cpp
  be/src/vec/data_types/data_type_string.h
  generated-source.sh
  gensrc/proto/types.proto
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/Types.thrift
  run-fe-ut.sh
Labels: approved, area/vectorization, reviewed

#19315 [doc](flinkconnector) fix english doc
  docs/en/docs/ecosystem/flink-doris-connector.md
Labels: kind/docs, approved, reviewed

#19311 [minor](stats) Add doc for stats framework
  fe/fe-core/src/main/java/org/apache/doris/statistics/README.md
Labels: approved, reviewed

#19330 [improvement](scripts) modify download scripts to shorten the dir name
  dist/download_scripts/1.2.3/download_arm_apache.sh
  dist/download_scripts/1.2.3/download_arm_tsinghua.sh
  dist/download_scripts/1.2.3/download_x64_apache.sh
  dist/download_scripts/1.2.3/download_x64_noavx2_apache.sh
  dist/download_scripts/1.2.3/download_x64_noavx2_tsinghua.sh
  dist/download_scripts/1.2.3/download_x64_tsinghua.sh
  dist/download_scripts/download_base.sh
Labels: approved, reviewed

#19030 [Improvement](meta) support return no partition info for show_create_table
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-TABLE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-TABLE.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowCreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/ShowCreateTableStmtTest.java
Labels: kind/docs, area/planner, approved, reviewed

#19167 [feature](table) implement the round robin selection be when create tablet
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/system/SystemInfoService.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/RoundRobinCreateTabletTest.java
Labels: approved, reviewed

#19255 [chore](fe) Fix the build on Centos 6
  fe/fe-core/pom.xml
Labels: approved, reviewed

#19247 [enchancement](statistics) support periodic collection of statistics
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyzeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/InternalSchemaInitializer.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisTaskInfo.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisTaskInfoBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisTaskScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/BaseAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/OlapAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsAutoAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsRepository.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/util/StatisticsUtil.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/statistics/AnalysisJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/AnalysisTaskExecutorTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/HistogramTaskTest.java
  regression-test/data/statistics/analyze_test.out
  regression-test/data/statistics/incremental_stats_test.out
  regression-test/data/statistics/periodic_stats_test.out
  regression-test/data/statistics/sampled_stats_test.out
  regression-test/data/statistics/show_stats_test.out
  regression-test/pipeline/p0/conf/fe.conf
  regression-test/suites/statistics/alter_col_stats.groovy
  regression-test/suites/statistics/analyze_test.groovy
  regression-test/suites/statistics/incremental_stats_test.groovy
  regression-test/suites/statistics/periodic_stats_test.groovy
  regression-test/suites/statistics/sampled_stats_test.groovy
  regression-test/suites/statistics/show_stats_test.groovy
Labels: area/planner, kind/test, reviewed

#19276 [UDF](demo) add new demo code for java udf
  docs/en/docs/ecosystem/udf/java-user-defined-function.md
  docs/zh-CN/docs/ecosystem/udf/java-user-defined-function.md
Labels: kind/docs, reviewed

#19333 Revert "[refactor](function) ignore DST for function `from_unixtime` (#19151)"
  be/src/vec/runtime/vdatetime_value.cpp
  be/test/vec/function/function_time_test.cpp
  be/test/vec/utils/arrow_column_to_doris_column_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/DateLiteral.java
  regression-test/data/datatype_p0/date/test_from_unixtime.out
  regression-test/data/nereids_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/data/query_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/datatype_p0/date/test_from_unixtime.groovy
  regression-test/suites/query_p0/sql_functions/datetime_functions/test_date_function.groovy
Labels: area/planner, kind/test, approved, area/vectorization, reviewed

#19298 [fix](jdbc catalog) fix trino jdbc catalog varchar type err
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
Labels: area/multi-catalog, dev/1.2.5

#19170 [Enhancement](Broker Load) New progress manager for showing loading progress status
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/vec/exec/scan/vfile_scanner.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BrokerLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/ProgressManager.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  gensrc/thrift/FrontendService.thrift
Labels: area/load, area/vectorization, kind/behavior-changed

#18421 [enhancement](load) merge single-replica related services as non-standalone
  be/src/common/config.h
  be/src/http/action/download_action.cpp
  be/src/http/action/download_action.h
  be/src/olap/delta_writer.cpp
  be/src/service/CMakeLists.txt
  be/src/service/doris_main.cpp
  be/src/service/http_service.cpp
  be/src/service/internal_service.cpp
  be/src/service/single_replica_load_download_service.cpp
  be/src/service/single_replica_load_download_service.h
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/improvement, kind/docs, area/brpc

#19342 [typo](docs) add mac local dev docs
  docs/en/community/developer-guide/mac-dev/be-clion-dev.md
  docs/en/community/developer-guide/mac-dev/dev-prepare.md
  docs/en/community/developer-guide/mac-dev/fe-idea-dev.md
  docs/en/docs/install/source-install/compilation-mac.md
  docs/images/mac-clion-deployment1.png
  docs/images/mac-clion-deployment2.png
  docs/images/mac-clion-deployment3.png
  docs/images/mac-clion-deployment4.png
  docs/images/mac-clion-deployment5.png
  docs/images/mac-clion-deployment6.png
  docs/images/mac-clion-deployment7.png
  docs/images/mac-idea-deployment1.png
  docs/images/mac-idea-deployment2.png
  docs/images/mac-idea-deployment3.png
  docs/images/mac-idea-deployment4.png
  docs/images/mac-idea-deployment5.png
  docs/images/mac-idea-deployment6.png
  docs/sidebarsCommunity.json
  docs/zh-CN/community/developer-guide/fe-idea-dev.md
  docs/zh-CN/community/developer-guide/mac-dev/be-clion-dev.md
  docs/zh-CN/community/developer-guide/mac-dev/dev-prepare.md
  docs/zh-CN/community/developer-guide/mac-dev/fe-idea-dev.md
  docs/zh-CN/docs/install/source-install/compilation-mac.md
Labels: kind/docs, approved, reviewed

#19353 [chore](build) Ignore clucene checks
  .clang-format-ignore
  .github/workflows/code-checks.yml
  .licenserc.yaml
  .rat-excludes
Labels: approved, reviewed

#19348 [Fix](parquet-reader) Fix dict cols not be converted back to string type in some cases.
  be/src/vec/exec/format/parquet/vparquet_group_reader.cpp
Labels: approved, area/vectorization, reviewed

#19355 [refactor](cluster)(step-1) remove cluster related stmt
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/alter/SystemHandler.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AddBackendClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterClusterClause.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterClusterStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateClusterStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropClusterStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/EnterStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LinkDbStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MigrateDbStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowClusterStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowMigrationsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/InfoSchemaDb.java
  fe/fe-core/src/main/java/org/apache/doris/cluster/BaseParam.java
  fe/fe-core/src/main/java/org/apache/doris/cluster/Cluster.java
  fe/fe-core/src/main/java/org/apache/doris/cluster/DummyCluster.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/BackendsProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/NodeAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/restv2/MetaInfoActionV2.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlProto.java
  fe/fe-core/src/main/java/org/apache/doris/persist/DropLinkDbAndUpdateDbInfo.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/LinkDbInfo.java
  fe/fe-core/src/main/java/org/apache/doris/persist/meta/MetaReader.java
  fe/fe-core/src/main/java/org/apache/doris/persist/meta/PersistMetaModules.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/system/SystemInfoService.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/MetadataGenerator.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AccessTestUtil.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AdminCancelRebalanceDiskStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AdminRebalanceDiskStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AlterClusterStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/BackendStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateClusterStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/DropClusterStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/LinkDbStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/MigrateDbStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CatalogTestUtil.java
  fe/fe-core/src/test/java/org/apache/doris/cluster/SystemInfoServiceTest.java
  fe/fe-core/src/test/java/org/apache/doris/http/DorisHttpTestCase.java
  fe/fe-core/src/test/java/org/apache/doris/qe/ShowExecutorTest.java
Labels: kind/docs, area/planner, kind/meta-version-change

#19363 [fix](meta) fix image file checksum error
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/meta/PersistMetaModules.java
Labels: approved, reviewed

#19361 [fix](olap) Not enough rows have been read with aggregate model
  be/src/exec/olap_scan_node.cpp
Labels: dev/1.2.5

#19293 [chore](build) Porting to GCC-13
  be/CMakeLists.txt
  be/src/agent/task_worker_pool.cpp
  be/src/glibc-compatibility/CMakeLists.txt
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/util/block_compression.cpp
  be/src/util/container_util.hpp
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/functions/function_json.cpp
  be/src/vec/functions/function_math_unary.h
  be/src/vec/functions/function_math_unary_to_null_type.h
  thirdparty/build-thirdparty.sh
  thirdparty/download-thirdparty.sh
  thirdparty/patches/brpc-1.4.0-gcc13.patch
Labels: approved, area/sql/function, area/vectorization, reviewed

#19349 [Improvement](fuzzy) record fuzzy variables of BE in fuzzy mode
  be/src/common/configbase.cpp
Labels: approved, reviewed

#19327 [refactor](FileCache) set FE session variable enable_file_cache=false as default
  docs/en/docs/advanced/variables.md
  docs/zh-CN/docs/advanced/variables.md
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
Labels: kind/docs, approved, reviewed

#19267 [chore](macOS) Fix JAVA_OPTS in start_be.sh
  bin/start_be.sh
Labels: approved, reviewed

#18997 [Enhencement](Export) add property for outfile/export and add test
  be/src/vec/runtime/vfile_result_writer.cpp
  be/src/vec/runtime/vfile_result_writer.h
  be/src/vec/sink/vresult_sink.h
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/EXPORT.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/OUTFILE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/EXPORT.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/OUTFILE.md
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExportStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/OutFileClause.java
  fe/fe-core/src/main/java/org/apache/doris/load/ExportJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/ExportMgr.java
  gensrc/thrift/DataSinks.thrift
  regression-test/conf/regression-conf.groovy
  regression-test/data/export_p2/test_export_max_file_size.out
  regression-test/data/export_p2/test_export_with_hdfs.out
  regression-test/data/export_p2/test_export_with_s3.out
  regression-test/suites/export_p2/test_export_max_file_size.groovy
  regression-test/suites/export_p2/test_export_with_hdfs.groovy
  regression-test/suites/export_p2/test_export_with_s3.groovy
Labels: area/load, kind/docs, area/planner, kind/test, approved, area/vectorization, reviewed

#19143 [log](fe)add log partitionInfo is null, fe not start service
  fe/fe-core/src/main/java/org/apache/doris/catalog/CatalogRecycleBin.java
Labels: approved, reviewed, dev/1.2.5

#19367 [typo](docs) fix err to mac local dev doc
  docs/en/community/developer-guide/mac-dev/dev-prepare.md
  docs/zh-CN/community/developer-guide/mac-dev/dev-prepare.md
Labels: kind/docs, approved, reviewed

#19307 [improvement](JDBC Catalog)Added Presto connection to Presto/Trino
  docs/en/docs/lakehouse/external-table/jdbc.md
  docs/en/docs/lakehouse/multi-catalog/jdbc.md
  docs/zh-CN/docs/lakehouse/external-table/jdbc.md
  docs/zh-CN/docs/lakehouse/multi-catalog/jdbc.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcTable.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  gensrc/thrift/Types.thrift
Labels: kind/docs, approved, reviewed, area/multi-catalog, dev/1.2.5

#19207 [Improvement](inverted index) Enhance compaction performance through direct inverted index merging
  be/src/common/config.h
  be/src/olap/CMakeLists.txt
  be/src/olap/compaction.cpp
  be/src/olap/compaction.h
  be/src/olap/rowid_conversion.h
  be/src/olap/rowset/segment_v2/inverted_index_compaction.cpp
  be/src/olap/rowset/segment_v2/inverted_index_compaction.h
Labels: approved, reviewed

#19329 [Doc](Decimalv3) Fixed the precision of DECIMALV3 in the document
  docs/en/docs/sql-manual/sql-reference/Data-Types/DECIMALV3.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/DECIMALV3.md
Labels: kind/docs, approved, reviewed

#19230 [bugfix](testcase) fix test_query_sys_tables decimal type precision
  regression-test/suites/query_p2/system/test_query_sys_tables.groovy
Labels: kind/test

#19368 [doc](fix) compaction config param
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#19380 [typo](docs) fix err to dynamic schema table doc
  docs/en/docs/data-table/dynamic-schema-table.md
  docs/zh-CN/docs/data-table/dynamic-schema-table.md
Labels: kind/docs, approved, reviewed

#18933 [fix](sequence-column) Fix sequence_col column used default expr insert failed
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  regression-test/data/correctness_p0/test_sequence_col_default_value.out
  regression-test/suites/correctness_p0/test_sequence_col_default_value.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.5

#19303 [chore](compile) using PCH for compilation acceleration under clang
  .licenserc.yaml
  be/CMakeLists.txt
  be/src/agent/CMakeLists.txt
  be/src/common/CMakeLists.txt
  be/src/exec/CMakeLists.txt
  be/src/exprs/CMakeLists.txt
  be/src/gen_cpp/CMakeLists.txt
  be/src/geo/CMakeLists.txt
  be/src/gutil/atomicops.h
  be/src/http/CMakeLists.txt
  be/src/io/CMakeLists.txt
  be/src/olap/CMakeLists.txt
  be/src/olap/base_compaction.cpp
  be/src/olap/compaction.cpp
  be/src/olap/cumulative_compaction.cpp
  be/src/olap/delta_writer.cpp
  be/src/olap/memtable.cpp
  be/src/olap/merger.cpp
  be/src/olap/olap_define.h
  be/src/olap/options.cpp
  be/src/olap/push_handler.cpp
  be/src/olap/reader.cpp
  be/src/olap/row_cursor.cpp
  be/src/olap/rowset/CMakeLists.txt
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/rowset.cpp
  be/src/olap/rowset/segcompaction.cpp
  be/src/olap/schema_change.cpp
  be/src/olap/segment_loader.cpp
  be/src/olap/segment_loader.h
  be/src/olap/snapshot_manager.cpp
  be/src/olap/storage_engine.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_meta.cpp
  be/src/olap/task/engine_checksum_task.cpp
  be/src/olap/txn_manager.cpp
  be/src/olap/types.h
  be/src/pch/pch.cc
  be/src/pch/pch.h
  be/src/pipeline/CMakeLists.txt
  be/src/runtime/CMakeLists.txt
  be/src/service/CMakeLists.txt
  be/src/tools/CMakeLists.txt
  be/src/util/CMakeLists.txt
  be/src/util/string_parser.cpp
  be/src/util/string_parser.hpp
  be/src/util/thrift_util.cpp
  be/src/util/trace_metrics.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/vcollect_iterator.cpp
  be/src/vec/olap/vertical_block_reader.cpp
  build.sh
  docs/en/docs/install/source-install/compilation-general.md
  docs/zh-CN/docs/install/source-install/compilation-general.md
  env.sh
  run-be-ut.sh
Labels: kind/docs, area/vectorization, reviewed

#19398 [typo](doc)fix invalid url
  docs/en/docs/install/k8s-deploy.md
  docs/zh-CN/docs/install/k8s-deploy.md
Labels: kind/docs, approved, reviewed

#18831 [Improvement] enhance show data types stmt
  fe/fe-common/src/main/java/org/apache/doris/catalog/PrimitiveType.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowDataTypesStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  regression-test/data/types/test_show_data_types.out
Labels: area/planner, approved, reviewed

#19393 [enhance](S3FileWriter) sync when s3 file writer early quits
  be/src/io/fs/s3_file_writer.cpp
Labels: approved, reviewed

#19360 [enhance](regression) add timeout for cold&heat case
  regression-test/suites/cold_heat_separation_p2/create_table_use_partition_policy.groovy
Labels: kind/test

#19399 [fix](JDBC) set jdbc parameters to compatible with both MySQL and Doris when reading boolean type
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
Labels: approved, reviewed, usercase, dev/1.2.5

#19376 [Fix](build) fix clucene build type
  thirdparty/build-thirdparty.sh
Labels: approved, reviewed

#19375 [chore](simdjson reader) default enable simdjson for json reader
  be/src/common/config.h
Labels: approved, reviewed

#19407 [fix](catalog) fix doris jdbc catalog largeint select error
  be/src/vec/exec/vjdbc_connector.cpp
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
Labels: approved, area/vectorization, reviewed, usercase, area/multi-catalog, dev/1.2.5

#19449 [typo](docs) Add an open page cache hint to the benchmark
  docs/en/docs/benchmark/ssb.md
  docs/en/docs/benchmark/tpch.md
  docs/zh-CN/docs/benchmark/ssb.md
  docs/zh-CN/docs/benchmark/tpch.md
Labels: kind/docs

#19343 [Feature](generic-aggregation) some prowork of generic aggregation
  be/src/olap/field.h
  be/src/olap/memtable.cpp
  be/src/olap/olap_common.h
  be/src/olap/reader.h
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/column_writer.cpp
  be/src/olap/rowset/segment_v2/encoding_info.cpp
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/schema_change.cpp
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/tablet_schema.h
  be/src/olap/types.cpp
  be/src/olap/types.h
  be/src/runtime/primitive_type.h
  be/src/vec/data_types/data_type_agg_state.h
  be/src/vec/data_types/data_type_factory.cpp
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/functions/function.cpp
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/block_reader.h
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/vertical_block_reader.cpp
  be/src/vec/sink/vmysql_result_writer.cpp
  be/test/olap/delta_writer_test.cpp
  be/test/olap/storage_types_test.cpp
  be/test/olap/tablet_cooldown_test.cpp
  be/test/olap/tablet_schema_helper.h
  be/test/vec/exec/vgeneric_iterators_test.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#19447 [chore](workflows) Disable PCH in GitHub workflows by default
  .github/workflows/be-ut-clang.yml
  .github/workflows/be-ut-mac.yml
  run-be-ut.sh
Labels: approved, reviewed

#19466 [fix](multicatalog) fix read parquet file failure from gfs
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergScanProvider.java
Labels: area/planner

#19256 [enhancement](memory) MemCounter supports lock-free thread safety
  be/src/runtime/memory/mem_tracker.h
Labels: approved, reviewed

#19351 [Refact](Literal)refact literal get field and value
  be/src/vec/data_types/data_type.h
  be/src/vec/data_types/data_type_array.h
  be/src/vec/data_types/data_type_bitmap.h
  be/src/vec/data_types/data_type_date.h
  be/src/vec/data_types/data_type_date_time.h
  be/src/vec/data_types/data_type_decimal.h
  be/src/vec/data_types/data_type_fixed_length_object.h
  be/src/vec/data_types/data_type_hll.h
  be/src/vec/data_types/data_type_jsonb.h
  be/src/vec/data_types/data_type_map.h
  be/src/vec/data_types/data_type_nothing.h
  be/src/vec/data_types/data_type_nullable.h
  be/src/vec/data_types/data_type_number_base.cpp
  be/src/vec/data_types/data_type_number_base.h
  be/src/vec/data_types/data_type_object.h
  be/src/vec/data_types/data_type_quantilestate.h
  be/src/vec/data_types/data_type_string.h
  be/src/vec/data_types/data_type_struct.h
  be/src/vec/data_types/data_type_time_v2.h
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/exprs/vliteral.cpp
  be/test/vec/exprs/vexpr_test.cpp
Labels: approved, area/vectorization, reviewed

#19354 [fix](scan) fix scanner mem tracker
  be/src/runtime/thread_context.h
  be/src/vec/exec/scan/scanner_scheduler.cpp
Labels: area/vectorization

#19372 [Interface](exec) Add interface for multi cast data sink
  gensrc/thrift/DataSinks.thrift
  gensrc/thrift/PaloInternalService.thrift
Labels: approved, reviewed

#19468 [chore](java udf)Add Java UDF compilation options
  build.sh
Labels: approved, reviewed

#19434 [Fix](multi catalog)Return all partition values while reading hive table.
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HiveMetaStoreCache.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/PooledHiveMetaStoreClient.java
Labels: approved, reviewed, usercase, dev/1.2.5

#19454 [bugfix](jsonb) cherry-pick for 1.2: fix jsonb parser crash on noavx2 host (#18977)
  be/src/runtime/jsonb_value.h
  be/src/util/jsonb_document.h
  be/src/util/jsonb_parser.h
  be/src/util/jsonb_parser_simd.h
  be/src/vec/functions/function_json.cpp
  be/src/vec/functions/function_jsonb.cpp
Labels: area/sql/function, area/vectorization, usercase, dev/1.2.5

#19471 [Bug](scan) forbiden push down in predicate when in_state->use_set is false
  be/src/vec/exec/scan/vscan_node.cpp
  regression-test/data/query_p0/sql_functions/test_in_expr.out
  regression-test/suites/query_p0/sql_functions/test_in_expr.groovy
Labels: kind/test, approved, area/vectorization, reviewed, usercase, dev/1.2.5

#19385 [fix](gson) avoid gson serde with EsRepository
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
Labels: dev/1.2.5

#19394 [feat](Nereids): trace enumeration of DPHyp
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/SubgraphEnumerator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/receiver/PlanReceiver.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: area/nereids

#19460 [bugfix](regression-test) add some window function test
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  regression-test/pipeline/p0/conf/regression-conf.groovy
  regression-test/suites/query_p0/sql_functions/window_functions/test_window_function.groovy
Labels: kind/test, approved, reviewed

#19469 [chore](compile) Improves PCH cache hit ratio
  be/CMakeLists.txt
  be/src/common/CMakeLists.txt
  be/src/common/config.cpp
  be/src/common/config.h
  be/src/common/configbase.cpp
  be/src/common/configbase.h
  be/src/common/signal_handler.h
  be/src/common/version_internal.cpp
  be/src/common/version_internal.h
  be/src/http/action/config_action.cpp
  be/src/http/action/version_action.cpp
  be/src/pch/pch.h
  be/src/runtime/plan_fragment_executor.cpp
  be/src/util/debug_util.cpp
  be/test/common/config_test.cpp
  be/test/common/config_validator_test.cpp
  be/test/exprs/hybrid_set_test.cpp
  be/test/testutil/test_util.cpp
  docs/en/community/developer-guide/be-clion-dev.md
  docs/zh-CN/community/developer-guide/be-clion-dev.md
Labels: kind/docs, approved, reviewed

#19439 [Improvement](scan) add a config for scan queue memory limit
  be/src/runtime/runtime_state.h
  be/src/vec/exec/scan/vscan_node.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/SetVar.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
Labels: area/planner, approved, area/vectorization, reviewed

#19451 [typo](doc) Fixed typos in variables.md
  docs/en/docs/advanced/variables.md
  docs/zh-CN/docs/advanced/variables.md
Labels: kind/docs, approved, reviewed

#19464 [typo](doc)optimize description of bitmap in materialized view document
  docs/zh-CN/docs/query-acceleration/materialized-view.md
Labels: kind/docs, approved, reviewed

#19459 [typo](doc) Fixed typos in native-user-defined-function.md
  docs/en/docs/ecosystem/udf/native-user-defined-function.md
  docs/zh-CN/docs/ecosystem/udf/native-user-defined-function.md
Labels: kind/docs, approved, reviewed

#19456 [typo](doc)Update query-analysis.md
  docs/zh-CN/docs/advanced/best-practice/query-analysis.md
Labels: kind/docs, approved, reviewed

#19325 [Chore](build) update some doc about build enviroment
  .github/workflows/be-ut-mac.yml
  .github/workflows/build-thirdparty.yml
  be/CMakeLists.txt
  be/test/util/threadpool_test.cpp
  build-support/check-format.sh
  build-support/clang-format.sh
  docs/en/community/developer-guide/cpp-format-code.md
  docs/en/docs/install/source-install/compilation-with-ldb-toolchain.md
  docs/zh-CN/community/developer-guide/cpp-format-code.md
  docs/zh-CN/docs/install/source-install/compilation-with-ldb-toolchain.md
  env.sh
Labels: kind/docs, approved, reviewed

#19345 [feature](executor) Automatically set the instance_num using the info from be.
  be/src/agent/task_worker_pool.cpp
  docs/en/docs/admin-manual/config/fe-config.md
  docs/en/docs/query-acceleration/pipeline-execution-engine.md
  docs/zh-CN/docs/admin-manual/config/fe-config.md
  docs/zh-CN/docs/query-acceleration/pipeline-execution-engine.md
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SetVar.java
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/system/Backend.java
  fe/fe-core/src/main/java/org/apache/doris/system/SystemInfoService.java
  gensrc/thrift/MasterService.thrift
  regression-test/data/dynamic_table_p0/sql/q01.out
  regression-test/suites/dynamic_table_p0/sql/q01.sql
  regression-test/suites/dynamic_table_p0/sql/q04.sql
Labels: kind/docs, area/planner, kind/test, approved, reviewed

#19142 [feature](load-refactor) Step1: InsertStmt as facade layer and run S3/Broker Load
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/BrokerDesc.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BrokerLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableAsSelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DataDescription.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DeleteStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LabelName.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadType.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MysqlLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/NativeInsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ResourceDesc.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SparkLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StorageDesc.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/UnifiedLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/UpdateStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BulkLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManagerAdapter.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OriginalPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/InsertStmtTest.java
  regression-test/suites/load_p0/broker_load/test_array_load.groovy
  regression-test/suites/load_p2/broker_load/test_broker_load.groovy
Labels: area/load, area/planner, kind/test, approved, kind/refactor, reviewed

#19396 [fix](nereids)fix bug of two phase limit
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/ChildOutputPropertyDeriver.java
  regression-test/suites/nereids_p0/limit/sql/useRestrictiveLimitFromSubq.sql
  regression-test/suites/nereids_p0/limit/sql/withGroupByInSubq.sql
  regression-test/suites/nereids_p0/limit/sql/withJoinInSubq.sql
  regression-test/suites/nereids_p0/limit/sql/withSubq.sql
Labels: kind/test, approved, reviewed, area/nereids

#19318 [fix](nereids)dphyper join reorder may lost some join conjuncts
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/receiver/PlanReceiver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Group.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  regression-test/suites/tpcds_sf1_p1/functions_test/test_dpjoin_reorder.groovy
Labels: kind/test, approved, reviewed, area/nereids

#19494 [bugfix](jdbcconnector) jdbc connector cast string to array core
  be/src/vec/exec/vjdbc_connector.cpp
Labels: approved, area/vectorization, reviewed

#19463 [fix](jdbc catalog) fix error to clickhouse uint64 type Conversion
  docker/thirdparties/docker-compose/clickhouse/init/03-create-table.sql
  docker/thirdparties/docker-compose/clickhouse/init/04-insert.sql
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
  regression-test/data/jdbc_catalog_p0/test_clickhouse_jdbc_catalog.out
  regression-test/suites/jdbc_catalog_p0/test_clickhouse_jdbc_catalog.groovy
Labels: kind/test, approved, reviewed, dev/1.2.5

#19335 [fix](bdbje) remove `System.exit(-1)` in BDBEnvironment.close()
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBEnvironment.java
Labels: approved, reviewed, dev/1.2.5

#19498 [fix](functions) Support nullable column for multi_string functions
  be/src/vec/functions/functions_multi_string_position.cpp
  be/src/vec/functions/functions_multi_string_search.cpp
  regression-test/data/query_p0/sql_functions/search_functions/test_multi_string_position.out
  regression-test/data/query_p0/sql_functions/search_functions/test_multi_string_search.out
  regression-test/suites/query_p0/sql_functions/search_functions/test_multi_string_position.groovy
  regression-test/suites/query_p0/sql_functions/search_functions/test_multi_string_search.groovy
Labels: kind/test, area/sql/function, area/vectorization, usercase, dev/1.2.5

#19448 [typo](docs) add comment of partition and key/value column
  docs/en/docs/data-table/data-model.md
  docs/en/docs/data-table/data-partition.md
  docs/zh-CN/docs/data-table/data-model.md
  docs/zh-CN/docs/data-table/data-partition.md
Labels: kind/docs, approved, reviewed

#19502 [chore](compile) Add ccache sloppiness configs in env.h
  be/CMakeLists.txt
  env.sh
Labels: approved, reviewed

#19499 [Fix](multi catalog)Fix Iceberg table query return NULL bug.
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/IcebergExternalTable.java
Labels: usercase, dev/1.2.5

#19452 [BugFix](table-value-function) Fix backends() tvf
  be/src/vec/exec/scan/vmeta_scanner.cpp
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/BackendsTableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/MetadataGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/MetadataTableValuedFunction.java
  regression-test/suites/correctness_p0/table_valued_function/test_backends_tvf.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#19513 [Fix](multi-catalog) Fix some hive partition issues.
  be/src/exec/text_converter.cpp
  be/src/exec/text_converter.hpp
  docker/thirdparties/docker-compose/hive/scripts/create_preinstalled_table.hql
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 00%3A30%3A00/decimal_par1=1/decimal_par2=1.1/decimal_par3=1.11/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 00%3A30%3A00/decimal_par1=1/decimal_par2=1.1/decimal_par3=1.12/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 00%3A30%3A00/decimal_par1=1/decimal_par2=1.2/decimal_par3=1.21/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 00%3A30%3A00/decimal_par1=1/decimal_par2=1.2/decimal_par3=1.22/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 00%3A30%3A00/decimal_par1=2/decimal_par2=2.1/decimal_par3=2.11/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 00%3A30%3A00/decimal_par1=2/decimal_par2=2.1/decimal_par3=2.12/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 00%3A30%3A00/decimal_par1=2/decimal_par2=2.2/decimal_par3=2.21/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 00%3A30%3A00/decimal_par1=2/decimal_par2=2.2/decimal_par3=2.22/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 01%3A30%3A00/decimal_par1=1/decimal_par2=1.1/decimal_par3=1.11/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 01%3A30%3A00/decimal_par1=1/decimal_par2=1.1/decimal_par3=1.12/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 01%3A30%3A00/decimal_par1=1/decimal_par2=1.2/decimal_par3=1.21/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 01%3A30%3A00/decimal_par1=1/decimal_par2=1.2/decimal_par3=1.22/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 01%3A30%3A00/decimal_par1=2/decimal_par2=2.1/decimal_par3=2.11/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 01%3A30%3A00/decimal_par1=2/decimal_par2=2.1/decimal_par3=2.12/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 01%3A30%3A00/decimal_par1=2/decimal_par2=2.2/decimal_par3=2.21/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-01-01/time_par=2023-01-01 01%3A30%3A00/decimal_par1=2/decimal_par2=2.2/decimal_par3=2.22/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 00%3A30%3A00/decimal_par1=1/decimal_par2=1.1/decimal_par3=1.11/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 00%3A30%3A00/decimal_par1=1/decimal_par2=1.1/decimal_par3=1.12/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 00%3A30%3A00/decimal_par1=1/decimal_par2=1.2/decimal_par3=1.21/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 00%3A30%3A00/decimal_par1=1/decimal_par2=1.2/decimal_par3=1.22/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 00%3A30%3A00/decimal_par1=2/decimal_par2=2.1/decimal_par3=2.11/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 00%3A30%3A00/decimal_par1=2/decimal_par2=2.1/decimal_par3=2.12/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 00%3A30%3A00/decimal_par1=2/decimal_par2=2.2/decimal_par3=2.21/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 00%3A30%3A00/decimal_par1=2/decimal_par2=2.2/decimal_par3=2.22/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 01%3A30%3A00/decimal_par1=1/decimal_par2=1.1/decimal_par3=1.11/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 01%3A30%3A00/decimal_par1=1/decimal_par2=1.1/decimal_par3=1.12/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 01%3A30%3A00/decimal_par1=1/decimal_par2=1.2/decimal_par3=1.21/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 01%3A30%3A00/decimal_par1=1/decimal_par2=1.2/decimal_par3=1.22/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 01%3A30%3A00/decimal_par1=2/decimal_par2=2.1/decimal_par3=2.11/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 01%3A30%3A00/decimal_par1=2/decimal_par2=2.1/decimal_par3=2.12/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 01%3A30%3A00/decimal_par1=2/decimal_par2=2.2/decimal_par3=2.21/data.txt
  docker/thirdparties/docker-compose/hive/scripts/preinstalled_data/csv_partition_table/table_with_pars/dt_par=2023-02-01/time_par=2023-02-01 01%3A30%3A00/decimal_par1=2/decimal_par2=2.2/decimal_par3=2.22/data.txt
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HiveMetaStoreCache.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/S3FileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/dfs/DFSFileSystem.java
  fe/spark-dpp/src/main/java/org/apache/doris/load/loadv2/dpp/SparkDpp.java
  regression-test/data/external_catalog_p0/hive/test_hive_partitions.out
  regression-test/suites/external_catalog_p0/hive/test_hive_partitions.groovy
Labels: kind/test, approved, reviewed

#18906 [opt](FileCache) use modification time to determine whether the file is changed
  be/src/io/cache/block/cached_remote_file_reader.cpp
  be/src/io/cache/block/cached_remote_file_reader.h
  be/src/io/fs/file_reader_options.h
  be/src/io/fs/remote_file_system.cpp
  be/src/vec/exec/format/csv/csv_reader.cpp
  be/src/vec/exec/format/json/new_json_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/BrokerUtil.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HiveMetaStoreCache.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/BrokerFileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/RemoteFile.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/RemoteFileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/S3FileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/fs/remote/dfs/DFSFileSystem.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FileGroupInfo.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FileQueryScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FileScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FileSplit.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/HiveScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/TVFScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergSplit.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/ExternalFileTableValuedFunction.java
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/FileSystemManager.java
  gensrc/thrift/PaloBrokerService.thrift
  gensrc/thrift/PlanNodes.thrift
Labels: area/planner, approved, area/vectorization, reviewed

#19489 [fix](NestedType) throw error when reading complex nested type in orc&parquet
  be/src/vec/exec/format/orc/vorc_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_column_reader.cpp
Labels: area/vectorization

#19517 [test](cast func) add test for cast float text to int when nereids is on
  regression-test/data/nereids_p0/sql_functions/cast_function/test_cast_function.out
  regression-test/suites/nereids_p0/sql_functions/cast_function/test_cast_function.groovy
Labels: kind/test, approved, reviewed

#19109 [refactor](function) let agg functions exception safety
  be/src/util/tdigest.h
  be/src/vec/aggregate_functions/aggregate_function_bitmap.cpp
  be/src/vec/aggregate_functions/aggregate_function_java_udaf.h
  be/src/vec/aggregate_functions/aggregate_function_min_max.h
  be/src/vec/aggregate_functions/aggregate_function_min_max_by.h
  be/src/vec/aggregate_functions/aggregate_function_percentile_approx.h
  be/src/vec/aggregate_functions/aggregate_function_reader_first_last.h
  be/src/vec/aggregate_functions/aggregate_function_window.cpp
Labels: area/vectorization

#19507 [bugfix](memory) merge block may allocate failed
  be/src/common/exception.h
  be/src/exec/rowid_fetcher.cpp
  be/src/pipeline/exec/union_sink_operator.cpp
  be/src/runtime/thread_context.h
  be/src/vec/core/block.h
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/scan/scanner_scheduler.cpp
  be/src/vec/exec/vset_operation_node.cpp
  be/src/vec/exec/vunion_node.cpp
Labels: approved, area/vectorization, reviewed

#18388 [feature](array) Add array_last lambda function
  be/src/vec/CMakeLists.txt
  docs/en/docs/sql-manual/sql-functions/array-functions/array_last.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_last.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/LambdaFunctionCallExpr.java
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/array_functions/test_array_last.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_last.groovy
Labels: kind/docs, area/planner, kind/test, area/sql/function, area/vectorization, reviewed

#19441 [fix](Nereids): avoid to push top Project of JoinCluster in PushdownProjectThroughJoin
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/PushdownProjectThroughInnerJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/PushdownProjectThroughSemiJoin.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/PushdownProjectThroughInnerJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/PushdownProjectThroughSemiJoinTest.java
  regression-test/data/nereids_tpch_shape_sf1000_p0/shape/q10.out
  regression-test/data/nereids_tpch_shape_sf1000_p0/shape/q3.out
  regression-test/data/nereids_tpch_shape_sf1000_p0/shape/q5.out
  regression-test/data/nereids_tpch_shape_sf1_p0/shape/q10.out
  regression-test/data/nereids_tpch_shape_sf1_p0/shape/q3.out
  regression-test/data/nereids_tpch_shape_sf1_p0/shape/q5.out
  regression-test/data/nereids_tpch_shape_sf500_p0/shape/q10.out
  regression-test/data/nereids_tpch_shape_sf500_p0/shape/q3.out
  regression-test/data/nereids_tpch_shape_sf500_p0/shape/q5.out
Labels: approved, reviewed, area/nereids

#19205 [enhancement](stats) Make stats cache item size configurable
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticConstants.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsCache.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsRepository.java
Labels: approved, reviewed

#19518 [Feature](torc) Support insert only transactional hive table on be side.
  be/src/vec/exec/format/orc/vorc_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.h
Labels: area/vectorization

#19528 [fix](docs) update build-extension.yml
  .github/workflows/build-extension.yml
Labels: approved, reviewed

#19483 [feature-wip](duplicate_no_keys) skip sort function if the table is duplicate without keys
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  regression-test/data/correctness/test_dup_table_without_keys_load.csv
  regression-test/suites/correctness/test_dup_table_without_keys_load.groovy
Labels: kind/test, approved, reviewed

#19387 [Fix](multi-catalog) Fix query hms tbl with compressed data files.
  fe/fe-core/src/main/java/org/apache/doris/common/util/Util.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FileQueryScanNode.java
  gensrc/thrift/PlanNodes.thrift
Labels: area/planner, approved, reviewed, dev/1.2.5

#19503 [chore](Java UDF)remove the error code and add the copy jar
  build.sh
Labels: approved, reviewed

#19531 [typo](docs) fix doc bug of 'collect_list' and 'deploy'
  docs/en/docs/install/standard-deployment.md
  docs/en/docs/sql-manual/sql-functions/aggregate-functions/collect_list.md
  docs/zh-CN/docs/install/standard-deployment.md
  docs/zh-CN/docs/sql-manual/sql-functions/aggregate-functions/collect_list.md
Labels: kind/docs, approved, reviewed

#19412 [Fix](stats) Stats persistence failed when a column is all null values
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnDef.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/InternalSchemaInitializer.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
Labels: area/planner, approved, reviewed

#18747 [Enhancement](Nereids)Add nereids minidump
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/CascadesContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/cost/Cost.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/cost/CostCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/cost/CostWeight.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/ApplyRuleJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/CostAndEnforcerJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/DeriveStatsJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/GraphSimplifier.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/rewrite/PlanTreeRewriteJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/minidump/Minidump.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/minidump/MinidumpUtils.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/minidump/NereidsTracer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/EnforceMissingPropertiesHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CheckPolicy.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/UserAuthentication.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rules/FunctionBinder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/AbstractPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalSetOperation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/AbstractPhysicalJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalDistribute.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectContext.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/memo/MemoTest.java
Labels: reviewed, area/nereids

#19068 [refactor](complex-type) refactor array/map/struct literal to not invoke execute() function in prepare state
  be/src/vec/exprs/varray_literal.cpp
  be/src/vec/exprs/vliteral.h
  be/src/vec/exprs/vmap_literal.cpp
  be/src/vec/exprs/vstruct_literal.cpp
  be/src/vec/sink/vtablet_sink.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/ArrayLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CastExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LiteralExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MapLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StructLiteral.java
  regression-test/data/load_p0/stream_load/test_map_load_and_function.out
  regression-test/data/load_p0/stream_load/test_parquet_orc_case.out
  regression-test/data/query_p0/sql_functions/array_functions/sql/q02.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_aggregation_functions.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions_by_literal.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_with_scale_type.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_aggregation_functions.groovy
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions.groovy
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_by_literal.groovy
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_with_scale_type.groovy
Labels: area/planner, kind/test, kind/refactor, area/vectorization, reviewed, kind/behavior-changed

#19046 [tpch](nereids) estimate cost with unknown column stats
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/JoinEstimation.java
Labels: approved, reviewed, area/nereids

#19542 [Chore](build) update clang-format version check
  build-support/check-format.sh
  build-support/clang-format.sh
Labels: approved, reviewed

#19508 [fix](Nereids): Should copy JoinReorderContext for PushdownProject
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinExchangeRightProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/PushdownProjectThroughInnerJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/PushdownProjectThroughSemiJoin.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/sqltest/CascadesJoinReorderTest.java
Labels: approved, reviewed, area/nereids

#19265 [fix](fe) Fix SimpleDateFormatter thread unsafe issue by replacing to DateTimeFormatter.
  fe/check/checkstyle/import-control.xml
  fe/fe-common/src/main/java/org/apache/doris/common/property/PropertySchema.java
  fe/fe-common/src/test/java/org/apache/doris/common/property/PropertySchemaTest.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/backup/BackupJob.java
  fe/fe-core/src/main/java/org/apache/doris/backup/Repository.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/TimeUtils.java
  fe/fe-core/src/main/java/org/apache/doris/external/iceberg/IcebergTableCreationRecordMgr.java
  fe/fe-core/src/main/java/org/apache/doris/external/iceberg/util/IcebergUtils.java
  fe/fe-core/src/main/java/org/apache/doris/load/StreamLoadRecordMgr.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalSyncDataConsumer.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalUtils.java
  fe/fe-core/src/main/java/org/apache/doris/mtmv/MTMVJobFactory.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rules/FoldConstantRuleOnBE.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/policy/StoragePolicy.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/cache/PartitionRange.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FoldConstantsRule.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HiveAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/IcebergAnalysisTask.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/DynamicPartitionTableTest.java
  fe/fe-core/src/test/java/org/apache/doris/common/PropertyAnalyzerTest.java
  fe/fe-core/src/test/java/org/apache/doris/common/util/TimeUtilsTest.java
  fe_plugins/auditloader/src/main/java/org/apache/doris/plugin/audit/AuditLoaderPlugin.java
Labels: area/load, area/planner, approved, reviewed, area/nereids

#19509 [fix](nereids)fix some nereids planner bugs
  be/src/vec/exec/vsort_node.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateLimitUnderApply.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/AesCryptoFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/AesDecrypt.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/AesEncrypt.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/If.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/Sm4CryptoFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/Sm4Decrypt.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/Sm4Encrypt.java
  regression-test/data/nereids_p0/sql_functions/encryption_digest/test_encryption_function.out
  regression-test/data/query_p0/sql_functions/encryption_digest/test_encryption_function.out
  regression-test/suites/nereids_p0/sql_functions/encryption_digest/test_encryption_function.groovy
  regression-test/suites/nereids_p0/sql_functions/math_functions/test_running_difference.sql
  regression-test/suites/query_p0/casesensetive_column/join_with_column_casesensetive.groovy
  regression-test/suites/query_p0/sql_functions/conditional_functions/test_nullif.groovy
  regression-test/suites/query_p0/sql_functions/encryption_digest/test_encryption_function.groovy
Labels: area/planner, kind/test, approved, area/vectorization, reviewed, area/nereids

#19563 [improvement](docker) update compilation Dockerfile
  docker/compilation/Dockerfile
Labels: approved, reviewed

#19521 [chore](cmake) fix DORIS_JAVA_HOME from JAVA_HOME
  be/CMakeLists.txt
Labels: approved, reviewed

#19538 [enhancement](exceptionsafe) force check exec node method's return value
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/runtime/plan_fragment_executor.cpp
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vanalytic_eval_node.cpp
  be/src/vec/exec/vunion_node.cpp
  be/src/vec/exec/vunion_node.h
Labels: approved, area/vectorization, reviewed
