Repository apache/doris, pull requests merged in 2023-03, with the labels that each got.

#17230 [Enchancement](schema scanner) add SchemaScanner profile
  be/src/exec/schema_scanner.cpp
  be/src/exec/schema_scanner.h
  be/src/exec/schema_scanner/schema_backends_scanner.cpp
  be/src/exec/schema_scanner/schema_charsets_scanner.cpp
  be/src/exec/schema_scanner/schema_collations_scanner.cpp
  be/src/exec/schema_scanner/schema_columns_scanner.cpp
  be/src/exec/schema_scanner/schema_files_scanner.cpp
  be/src/exec/schema_scanner/schema_partitions_scanner.cpp
  be/src/exec/schema_scanner/schema_rowsets_scanner.cpp
  be/src/exec/schema_scanner/schema_schema_privileges_scanner.cpp
  be/src/exec/schema_scanner/schema_schemata_scanner.cpp
  be/src/exec/schema_scanner/schema_table_privileges_scanner.cpp
  be/src/exec/schema_scanner/schema_tables_scanner.cpp
  be/src/exec/schema_scanner/schema_user_privileges_scanner.cpp
  be/src/exec/schema_scanner/schema_variables_scanner.cpp
  be/src/exec/schema_scanner/schema_views_scanner.cpp
  be/src/vec/exec/vschema_scan_node.cpp
Labels: approved, area/vectorization, reviewed

#17212 [enhancement](execute model) using thread pool to execute report or join task instead of staring too many thread
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/pipeline/pipeline_fragment_context.h
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/plan_fragment_executor.h
  be/src/vec/exec/join/vjoin_node_base.cpp
Labels: approved, area/vectorization, reviewed, usercase, dev/1.2.3

#17199 [fix](FileCache) load file cache before start up daemon threads
  be/src/service/doris_main.cpp
Labels: approved, reviewed

#17251 [Enhencement](test) enhencement regression test of java udf
  regression-test/suites/javaudf_p0/collect/test_javaudf_groupcount.groovy
  regression-test/suites/javaudf_p0/collect/test_javaudf_murmurhash3.groovy
  regression-test/suites/javaudf_p0/collect/test_javaudf_sessionize.groovy
  regression-test/suites/javaudf_p0/date/test_javaudf_adddays.groovy
  regression-test/suites/javaudf_p0/date/test_javaudf_addisoperioud.groovy
  regression-test/suites/javaudf_p0/date/test_javaudf_daydiff.groovy
  regression-test/suites/javaudf_p0/json/test_javaudf_convertfromcamelcase.groovy
  regression-test/suites/javaudf_p0/json/test_javaudf_converttocamelcase.groovy
  regression-test/suites/javaudf_p0/sanity/test_javaudf_assertequal.groovy
  regression-test/suites/javaudf_p0/sanity/test_javaudf_assertlessthan.groovy
  regression-test/suites/javaudf_p0/sanity/test_javaudf_assertudf.groovy
  regression-test/suites/javaudf_p0/sketch/test_javaudf_md5.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_my_date_datetime.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_mygroupconcat_string.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_mysum_decimal.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_mysum_float_double.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_mysum_int.groovy
  regression-test/suites/javaudf_p0/test_javaudaf_null_test.groovy
  regression-test/suites/javaudf_p0/test_javaudf_array.groovy
  regression-test/suites/javaudf_p0/test_javaudf_boolean.groovy
  regression-test/suites/javaudf_p0/test_javaudf_case.groovy
  regression-test/suites/javaudf_p0/test_javaudf_date.groovy
  regression-test/suites/javaudf_p0/test_javaudf_decimal.groovy
  regression-test/suites/javaudf_p0/test_javaudf_float.groovy
  regression-test/suites/javaudf_p0/test_javaudf_int.groovy
  regression-test/suites/javaudf_p0/test_javaudf_null.groovy
  regression-test/suites/javaudf_p0/test_javaudf_string.groovy
Labels: kind/test, approved, reviewed

#16315 [enhancement](k8s) Support fqdn mode for fe in k8s enviroment
  fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SystemHandler.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FrontendClause.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/FrontendsProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/telemetry/Telemetry.java
  fe/fe-core/src/main/java/org/apache/doris/deploy/DeployManager.java
  fe/fe-core/src/main/java/org/apache/doris/ha/BDBHA.java
  fe/fe-core/src/main/java/org/apache/doris/ha/MasterInfo.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/meta/MetaService.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/ClusterAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/HttpUtils.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/NodeAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/QueryProfileAction.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBEnvironment.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBJEJournal.java
  fe/fe-core/src/main/java/org/apache/doris/master/Checkpoint.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/org/apache/doris/system/FQDNManager.java
  fe/fe-core/src/main/java/org/apache/doris/system/Frontend.java
  fe/fe-core/src/main/java/org/apache/doris/system/HeartbeatMgr.java
  fe/fe-core/src/main/java/org/apache/doris/system/SystemInfoService.java
  fe/fe-core/src/test/java/org/apache/doris/system/FQDNManagerTest.java
  fe/fe-core/src/test/java/org/apache/doris/system/HeartbeatMgrTest.java
Labels: area/planner, kind/meta-version-change, approved, reviewed

#16731 segcompaction featuring verticalcompaction
  be/src/olap/merger.cpp
  be/src/olap/merger.h
  be/src/olap/olap_common.h
  be/src/olap/olap_server.cpp
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/rowset/CMakeLists.txt
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset_writer_context.h
  be/src/olap/rowset/segcompaction.cpp
  be/src/olap/rowset/segcompaction.h
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/src/vec/olap/vertical_block_reader.cpp
  be/src/vec/olap/vertical_merge_iterator.cpp
  be/test/olap/segcompaction_test.cpp
  regression-test/conf/regression-conf.groovy
  regression-test/data/segcompaction_p1/test_segcompaction_agg_keys.out
  regression-test/data/segcompaction_p1/test_segcompaction_dup_keys.out
  regression-test/data/segcompaction_p1/test_segcompaction_unique_keys.out
  regression-test/data/segcompaction_p1/test_segcompaction_unique_keys_mow.out
  regression-test/suites/segcompaction_p1/test_segcompaction_agg_keys.groovy
  regression-test/suites/segcompaction_p1/test_segcompaction_dup_keys.groovy
  regression-test/suites/segcompaction_p1/test_segcompaction_unique_keys.groovy
  regression-test/suites/segcompaction_p1/test_segcompaction_unique_keys_mow.groovy
Labels: kind/test, approved, area/vectorization, reviewed, dev/1.2.2

#17150 [feature](Nereids): pushdown Alias through Join.
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownAliasThroughJoin.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/memo/RankTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownAliasThroughJoinTest.java
Labels: approved, reviewed, area/nereids

#17232 [Bug](decimalv3) Use correct decimal scale for function round
  be/src/vec/functions/round.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  regression-test/data/query_p0/sql_functions/math_functions/test_round.out
  regression-test/suites/query_p0/sql_functions/math_functions/test_round.groovy
Labels: area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed, usercase, dev/1.2.3

#17225 [Bug](bloomfilter) Fix wrong result using bloomfilter with date type
  be/src/exprs/bloom_filter_func.h
  regression-test/data/datatype_p0/date/test_date_runtime_filter.out
  regression-test/suites/datatype_p0/date/test_date_runtime_filter.groovy
Labels: kind/test, approved, reviewed, usercase, dev/1.2.3

#17113 [improvement](doc) Supplementary Bulk Deletion Notes
  docs/en/docs/data-operate/update-delete/batch-delete-manual.md
  docs/zh-CN/docs/data-operate/update-delete/batch-delete-manual.md
Labels: kind/docs, approved, reviewed

#17194 [Bug](Materialized-View) forbiden mv rewrite on create view and remove duplicate method getIsM…
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DescriptorTable.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TupleDescriptor.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TupleIsNullPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/planner/AnalyticPlanner.java
  regression-test/data/materialized_view_p0/mv_with_view/mv_with_view.out
  regression-test/suites/materialized_view_p0/mv_with_view/mv_with_view.groovy
Labels: area/planner, kind/test, approved, reviewed

#17143 [feature](struct-type) support csv format stream load for struct type
  be/src/vec/data_types/data_type_map.cpp
  be/src/vec/data_types/data_type_struct.cpp
  be/src/vec/exprs/vexpr.cpp
  regression-test/data/load_p0/stream_load/struct_malformat.csv
  regression-test/data/load_p0/stream_load/struct_normal.csv
  regression-test/data/load_p0/stream_load/test_stream_load.out
  regression-test/suites/load_p0/stream_load/test_stream_load.groovy
Labels: kind/test, approved, area/vectorization, reviewed, area/stream-load, struct-type

#17257 [refactor](struct-type) refactor and clean unused code for struct type
  be/src/vec/columns/column_struct.cpp
  be/src/vec/columns/column_struct.h
  be/src/vec/data_types/data_type_struct.cpp
  be/src/vec/data_types/data_type_struct.h
Labels: approved, kind/refactor, area/vectorization, reviewed, struct-type

#17275 [fix](Nereids): fix master problem
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownAliasThroughJoin.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownAliasThroughJoinTest.java
Labels: area/nereids

#17021 (udf) create native function return error
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateFunctionStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/AliasFunction.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateFunctionTest.java
Labels: area/planner, reviewed, usercase, dev/1.2.3

#17209 [improvement][fix](catalog) check required properties when creating catalog and fix jdbc catalog issue
  docs/en/docs/lakehouse/multi-catalog/faq.md
  docs/zh-CN/docs/lakehouse/multi-catalog/faq.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/HdfsResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/qe/MasterCatalogExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
Labels: kind/docs, reviewed, usercase, area/multi-catalog, dev/1.2.3

#17213 [fix](memory) split mem usage thread and gc thread to different threads
  be/src/common/config.h
  be/src/common/daemon.cpp
  be/src/common/daemon.h
  be/src/util/mem_info.cpp
Labels: dev/1.2.3

#17258 [fix](memory) Avoid repeating meaningless memory gc
  be/src/olap/lru_cache.cpp
  be/src/olap/lru_cache.h
  be/src/olap/segment_loader.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/src/util/mem_info.cpp
Labels: dev/1.2.3

#17276 [fix](inverted index) fix BE coredump because of not ignore case ensitivity for column name when create index
  be/src/olap/schema_change.cpp
  be/src/olap/tablet_schema.cpp
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/IndexDef.java
  regression-test/suites/inverted_index_p0/test_add_drop_index_ignore_case_column.groovy
Labels: area/planner, kind/test, approved, reviewed

#17265 [fix](fe)should call Expr's unwrapSlotRef instead of getSrcSlotRef to prevent null pointer
  fe/fe-core/src/main/java/org/apache/doris/planner/DistributedPlanner.java
Labels: area/planner

#17261 [Enhencement](File Reader) delete old file_reader
  be/src/exec/CMakeLists.txt
  be/src/exec/arrow/arrow_reader.cpp
  be/src/exec/arrow/arrow_reader.h
  be/src/exec/arrow/parquet_reader.cpp
  be/src/exec/arrow/parquet_reader.h
  be/src/exec/plain_binary_line_reader.cpp
  be/src/exec/plain_binary_line_reader.h
  be/src/exec/plain_text_line_reader.cpp
  be/src/exec/plain_text_line_reader.h
  be/src/io/CMakeLists.txt
  be/src/io/broker_reader.cpp
  be/src/io/broker_reader.h
  be/src/io/buffered_reader.cpp
  be/src/io/buffered_reader.h
  be/src/io/file_factory.cpp
  be/src/io/file_factory.h
  be/src/io/file_reader.h
  be/src/io/hdfs_builder.h
  be/src/io/hdfs_file_reader.cpp
  be/src/io/hdfs_file_reader.h
  be/src/io/local_file_reader.cpp
  be/src/io/local_file_reader.h
  be/src/io/s3_reader.cpp
  be/src/io/s3_reader.h
  be/src/util/broker_storage_backend.cpp
  be/src/util/broker_storage_backend.h
  be/src/util/hdfs_storage_backend.cpp
  be/src/vec/exec/format/parquet/vparquet_group_reader.h
  be/src/vec/exec/varrow_scanner.cpp
  be/src/vec/exec/varrow_scanner.h
  be/src/vec/exec/vparquet_scanner.cpp
  be/src/vec/exec/vparquet_scanner.h
Labels: approved, area/vectorization, reviewed

#16997 [fix](insert) fix txn error reason clearly
  be/src/runtime/stream_load/stream_load_executor.cpp
Labels: approved, reviewed, dev/1.2.3

#17070 [fix](planner) change back legacy planner type coercion
  fe/fe-common/src/main/java/org/apache/doris/catalog/ScalarType.java
  fe/fe-common/src/main/java/org/apache/doris/catalog/Type.java
  regression-test/data/nereids_p0/union/test_union.out
  regression-test/data/query_p0/union/test_union.out
Labels: approved, kind/revert, reviewed

#17290 [Feature](multi catalog)(nereids)Support ES external table for new planner.
  fe/fe-core/src/main/java/org/apache/doris/nereids/cost/CostCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/ChildOutputPropertyDeriver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/implementation/LogicalEsScanToPhysicalEsScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/PlanType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalEsScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalEsScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/visitor/PlanVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/planner/EsScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/JdbcScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalFileScanNode.java
  regression-test/data/es_p0/test_es_query_nereids.out
  regression-test/suites/es_p0/test_es_query_nereids.groovy
Labels: area/planner, kind/test, area/nereids

#17287 [minor](log) add some logs
  be/src/pipeline/exec/exchange_sink_buffer.cpp
  be/src/vec/sink/vtablet_sink.cpp
Labels: area/vectorization

#17192 [Opt](exec) opt the dispose nullable column logic
  be/src/vec/core/block.cpp
  be/src/vec/core/block.h
  be/src/vec/exec/format/parquet/vparquet_group_reader.cpp
  be/src/vec/exec/join/vnested_loop_join_node.cpp
  be/src/vec/functions/function.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#17224 [Enhancement](tvf) support trim_double_quotes and skip_lines for S3 and HDFS table valued function
  docs/en/docs/sql-manual/sql-functions/table-functions/hdfs.md
  docs/en/docs/sql-manual/sql-functions/table-functions/s3.md
  docs/zh-CN/docs/sql-manual/sql-functions/table-functions/hdfs.md
  docs/zh-CN/docs/sql-manual/sql-functions/table-functions/s3.md
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/ExternalFileTableValuedFunction.java
Labels: kind/docs, approved, reviewed, dev/1.2.3, doris-future

#17302 [typo](readme)Fix typo in README
  README.md
Labels: kind/docs, approved, reviewed

#17119 [fix](multi-catalog) fix not find dbname from internal catalog
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlProto.java
Labels: usercase, dev/1.2.3

#17228 [Enchancement](function) nullable inline refactor of min_max_by/bitmap && add register_functio…
  be/src/vec/aggregate_functions/aggregate_function_avg.cpp
  be/src/vec/aggregate_functions/aggregate_function_bit.cpp
  be/src/vec/aggregate_functions/aggregate_function_bitmap.cpp
  be/src/vec/aggregate_functions/aggregate_function_group_concat.cpp
  be/src/vec/aggregate_functions/aggregate_function_histogram.cpp
  be/src/vec/aggregate_functions/aggregate_function_min_max.cpp
  be/src/vec/aggregate_functions/aggregate_function_min_max_by.cpp
  be/src/vec/aggregate_functions/aggregate_function_min_max_by.h
  be/src/vec/aggregate_functions/aggregate_function_orthogonal_bitmap.cpp
  be/src/vec/aggregate_functions/aggregate_function_simple_factory.h
  be/src/vec/aggregate_functions/aggregate_function_sum.cpp
  be/src/vec/aggregate_functions/aggregate_function_topn.cpp
  be/src/vec/aggregate_functions/aggregate_function_uniq.cpp
  be/src/vec/aggregate_functions/aggregate_function_window.cpp
  be/src/vec/aggregate_functions/helpers.h
  be/src/vec/core/types.h
Labels: approved, area/vectorization, reviewed

#17278 Revert "[enhancement](k8s) Support fqdn mode for fe
  fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SystemHandler.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FrontendClause.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/FrontendsProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/telemetry/Telemetry.java
  fe/fe-core/src/main/java/org/apache/doris/deploy/DeployManager.java
  fe/fe-core/src/main/java/org/apache/doris/ha/BDBHA.java
  fe/fe-core/src/main/java/org/apache/doris/ha/MasterInfo.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/meta/MetaService.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/ClusterAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/HttpUtils.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/NodeAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/QueryProfileAction.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBEnvironment.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBJEJournal.java
  fe/fe-core/src/main/java/org/apache/doris/master/Checkpoint.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/org/apache/doris/system/FQDNManager.java
  fe/fe-core/src/main/java/org/apache/doris/system/Frontend.java
  fe/fe-core/src/main/java/org/apache/doris/system/HeartbeatMgr.java
  fe/fe-core/src/main/java/org/apache/doris/system/SystemInfoService.java
  fe/fe-core/src/test/java/org/apache/doris/system/FQDNManagerTest.java
  fe/fe-core/src/test/java/org/apache/doris/system/HeartbeatMgrTest.java
Labels: area/planner, approved, kind/revert, reviewed

#17289 [refactor](function) refine function geo
  be/src/udf/udf.cpp
  be/src/udf/udf.h
  be/src/udf/udf_internal.h
  be/src/vec/functions/functions_geo.cpp
Labels: area/sql/function, area/vectorization

#17301 [enhancement](memtracker) Add special counter for memtracker and fix thread create and destroy track
  be/src/common/daemon.cpp
  be/src/common/daemon.h
  be/src/runtime/memory/mem_tracker.cpp
  be/src/runtime/memory/mem_tracker.h
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/src/runtime/memory/mem_tracker_limiter.h
  be/src/runtime/memory/thread_mem_tracker_mgr.h
  be/src/runtime/thread_context.h
Labels: approved, reviewed, usercase, dev/1.2.3

#17297 [fix](maxminby) fix coredump of maxminby of decimal type
  be/src/exprs/aggregate_functions.cpp
Labels: approved, reviewed, dev/1.1.6

#17271 [bugfix](merger) traverse rs_meta in lock
  be/src/olap/merger.cpp
Labels: approved, reviewed, dev/1.2.3

#17239 [fix](planner) ignore aux expr when do push agg op
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  regression-test/suites/query_p0/aggregate/aggregate.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.3

#17288 [enhance](Nereids): delete output in olapscan toString()
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalOlapScan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalOlapScan.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/PlanToStringTest.java
Labels: approved, reviewed, area/nereids

#17244 [fix](hdfs)(catalog) fix BE crash when hdfs-site.xml not exist in be/conf and fix compute node logic
  be/src/common/status.h
  be/src/io/fs/hdfs_file_system.cpp
  be/src/io/hdfs_builder.cpp
  be/src/io/hdfs_builder.h
  be/src/io/hdfs_writer.cpp
  be/src/io/hdfs_writer.h
  be/src/util/hdfs_storage_backend.cpp
  be/src/util/hdfs_storage_backend.h
  be/src/util/hdfs_util.cpp
  be/test/common/config_test.cpp
  be/test/common/status_test.cpp
  bin/start_be.sh
  docs/en/docs/admin-manual/config/fe-config.md
  docs/en/docs/advanced/compute_node.md
  docs/zh-CN/docs/admin-manual/config/fe-config.md
  docs/zh-CN/docs/advanced/compute_node.md
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/BackendPolicy.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalFileScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/system/BeSelectionPolicy.java
  fe/fe-core/src/test/java/org/apache/doris/system/SystemInfoServiceTest.java
  regression-test/suites/jsonb_p0/test_jsonb_load_and_function.groovy
  regression-test/suites/jsonb_p0/test_jsonb_load_unique_key_and_function.groovy
  regression-test/suites/load_p0/mysql_load/test_mysql_load.groovy
Labels: kind/docs, area/planner, kind/test, usercase, area/multi-catalog, dev/1.2.3

#17293 [fix](inverted index) fix still execute match query after drop inverted index
  be/src/vec/exec/scan/new_olap_scanner.cpp
  regression-test/suites/inverted_index_p0/test_add_drop_index_with_data.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#17190 [fix](delete) fix 'is null' or 'is not null' delete predicate will get wrong result
  be/src/olap/null_predicate.h
  regression-test/data/delete_p0/test_zone_map_delete.out
  regression-test/suites/delete_p0/test_zone_map_delete.groovy
Labels: kind/test, approved, reviewed, dev/1.2.3

#17247 [feature](json) add json_valid function
  be/src/vec/functions/function_json.cpp
  docs/en/docs/sql-manual/sql-functions/json-functions/json_valid.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/json-functions/json_valid.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/jsonb_p0/test_jsonb_load_and_function.out
  regression-test/suites/jsonb_p0/test_jsonb_load_and_function.groovy
Labels: kind/docs, kind/test, approved, area/sql/function, area/vectorization, reviewed

#16971 [fix](demo)fix cdc failed to synchronize datetime type in mysql, and added JsonDebeziumSchemaSerializer
  samples/doris-demo/flink-demo-v1.1/pom.xml
  samples/doris-demo/flink-demo-v1.1/src/main/java/org/apache/doris/demo/flink/converter/DateToStringConverter.java
  samples/doris-demo/flink-demo-v1.1/src/main/java/org/apache/doris/demo/flink/dbsync/DatabaseFullDelSync.java
  samples/doris-demo/flink-demo-v1.1/src/main/java/org/apache/doris/demo/flink/dbsync/DatabaseFullSync.java
Labels: approved, reviewed

#17311 [enhancement](functioncontext) function context should use shared ptr and simply function context
  be/src/exprs/math_functions.cpp
  be/src/runtime/free_pool.hpp
  be/src/udf/udf.cpp
  be/src/udf/udf.h
  be/src/udf/udf_internal.h
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exprs/varray_literal.cpp
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/exprs/vexpr.h
  be/src/vec/exprs/vexpr_context.cpp
  be/src/vec/exprs/vexpr_context.h
  be/src/vec/exprs/vmap_literal.cpp
  be/src/vec/exprs/vstruct_literal.cpp
  be/src/vec/functions/function.h
  be/src/vec/functions/function_convert_tz.h
  be/src/vec/functions/function_java_udf.cpp
  be/src/vec/functions/function_java_udf.h
  be/src/vec/functions/function_jsonb.cpp
  be/src/vec/functions/function_regexp.cpp
  be/src/vec/functions/function_rpc.cpp
  be/src/vec/functions/function_rpc.h
  be/src/vec/functions/function_string.h
  be/src/vec/functions/functions_geo.cpp
  be/src/vec/functions/functions_geo.h
  be/src/vec/functions/in.h
  be/src/vec/functions/like.cpp
  be/src/vec/functions/like.h
  be/src/vec/functions/random.cpp
  be/test/CMakeLists.txt
  be/test/runtime/free_pool_test.cpp
  be/test/testutil/function_utils.cpp
  be/test/testutil/function_utils.h
  be/test/udf/udf_test.cpp
  be/test/vec/function/function_test_util.h
Labels: area/sql/function, area/vectorization

#16983 [improvement](dry-run)(tvf) support csv schema in tvf and add "dry_run_query" variable
  be/src/vec/sink/vmysql_result_writer.cpp
  be/src/vec/sink/vmysql_result_writer.h
  docs/en/docs/advanced/variables.md
  docs/en/docs/lakehouse/file.md
  docs/zh-CN/docs/advanced/variables.md
  docs/zh-CN/docs/lakehouse/file.md
  fe/check/checkstyle/import-control.xml
  fe/fe-core/src/main/java/org/apache/doris/qe/CommonResultSet.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/ExternalFileTableValuedFunction.java
  fe/fe-core/src/test/java/org/apache/doris/tablefunction/ExternalFileTableValuedFunctionTest.java
  gensrc/thrift/PaloInternalService.thrift
  regression-test/suites/segcompaction_p1/test_segcompaction_unique_keys_mow.groovy
Labels: kind/docs, kind/test, area/vectorization

#17314 [fix](expr) avoid crashing caused by big depth of expression tree
  be/src/common/config.h
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/exprs/vexpr_context.h
Labels: approved, area/vectorization, reviewed, kind/behavior-changed, usercase, dev/1.1.6, dev/1.2.3

#17172 [fix](Nereids): fold 'version()' function in Nereids
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/FoldConstantRuleOnFE.java
  regression-test/suites/nereids_p0/system/test_query_sys.groovy
Labels: kind/test, approved, reviewed, area/nereids

#17237 [fix](fe)support multi distinct group_concat
  be/src/vec/aggregate_functions/aggregate_function_simple_factory.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/implementation/AggregateStrategies.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/GroupConcat.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/MultiDistinctGroupConcat.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/AggregateFunctionVisitor.java
  regression-test/data/nereids_p0/group_concat/test_group_concat.out
  regression-test/data/query_p0/group_concat/test_group_concat.out
  regression-test/suites/nereids_p0/group_concat/test_group_concat.groovy
  regression-test/suites/query_p0/group_concat/test_group_concat.groovy
Labels: area/planner, kind/test, approved, area/vectorization, reviewed, area/nereids

#17259 [fix](Nereids) fold constant on BE could not process alias
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/FoldConstantRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/FoldConstantRuleOnBE.java
Labels: approved, reviewed, area/nereids

#17350 [log](fe) add more detail log for master transfer
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/ha/MasterInfo.java
Labels: dev/1.2.3-merged

#17346 [fix](expr) avoid crashing caused by big depth of expression tree
  be/src/common/config.h
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/exprs/vexpr_context.h
Labels: approved, reviewed, dev/1.1.6

#17200 [enhancement](nereids) convert string literal to commontype in in-expr and cass-when-expr
  .licenserc.yaml
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/FunctionBinder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/TypeCoercion.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/CaseWhen.java
  regression-test/data/nereids_syntax_p0/sql/test_compare_expression.out
  regression-test/data/nereids_syntax_p0/sql/test_in_predicate_with_null.out
  regression-test/suites/nereids_syntax_p0/sql/test_compare_expression.sql
Labels: kind/test, approved, reviewed, area/nereids

#17357 [fix](hdfs)(catalog) fix BE crash when hdfs-site.xml not exist in be/conf and fix compute node logic
  be/src/common/status.cpp
  be/src/common/status.h
  be/src/io/hdfs_builder.cpp
  be/src/io/hdfs_builder.h
  be/src/io/hdfs_file_reader.cpp
  be/src/io/hdfs_writer.cpp
  be/src/io/hdfs_writer.h
  be/src/util/hdfs_storage_backend.cpp
  be/src/util/hdfs_storage_backend.h
  be/src/util/hdfs_util.cpp
  be/test/common/config_test.cpp
  be/test/common/status_test.cpp
  bin/start_be.sh
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/BackendPolicy.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalFileScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/system/BeSelectionPolicy.java
  fe/fe-core/src/test/java/org/apache/doris/system/SystemInfoServiceTest.java
Labels: area/planner

#17332 [fix](test) regression test file has been removed
  regression-test/suites/external_table_emr_p2/hive/test_tvf_p2.groovy
Labels: kind/test

#17245 [Enhencement](Jdbc catalog) Add two optional properties for jdbc catalog
  docs/en/docs/lakehouse/multi-catalog/jdbc.md
  docs/zh-CN/docs/lakehouse/multi-catalog/jdbc.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/JdbcExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  regression-test/data/jdbc_catalog_p0/test_mysql_jdbc_catalog.out
  regression-test/data/jdbc_catalog_p0/test_oracle_jdbc_catalog.out
  regression-test/data/jdbc_catalog_p0/test_pg_jdbc_catalog.out
  regression-test/suites/jdbc_catalog_p0/test_mysql_jdbc_catalog.groovy
  regression-test/suites/jdbc_catalog_p0/test_oracle_jdbc_catalog.groovy
  regression-test/suites/jdbc_catalog_p0/test_pg_jdbc_catalog.groovy
Labels: kind/docs, kind/test, usercase, dev/1.2.3

#17349 [log](schema change) add schema change type log
  be/src/olap/schema_change.cpp
Labels: usercase, dev/1.2.3

#17153 [Improvement](auth)(step-1) add ranger authorizer for hms catalog
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/HiveAccessType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/HiveObjectType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/RangerHiveAccessController.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/RangerHiveAccessControllerFactory.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/RangerHiveAuditHandler.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/RangerHiveAuthorizerProvider.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/RangerHivePlugin.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/RangerHiveResource.java
Labels: approved, area/multi-catalog

#17240 [vectorized](bug) fix some open enable_fold_constant_by_be failed cases
  be/src/runtime/fold_constant_executor.cpp
  be/src/runtime/fold_constant_executor.h
  be/src/vec/functions/function_utility.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/JsonLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/QueryStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StatementBase.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/ExprRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/FoldConstantsRule.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/QueryStmtTest.java
  gensrc/thrift/PaloInternalService.thrift
  regression-test/suites/correctness_p0/test_select_decimal.groovy
Labels: area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed, dev/1.2.3

#17325 [Bug](Block compression) Fix bug if `config::compress_rowbatches=fals…
  be/src/vec/core/block.cpp
Labels: approved, area/vectorization, reviewed, usercase, dev/1.2.3

#17076 [optimize](vectorization)Optimize to_string's performance.
  be/src/udf/udf.h
  be/src/util/bitmap_intersect.h
  be/src/util/bitmap_value.h
  be/src/vec/columns/column_array.h
  be/src/vec/columns/column_const.cpp
  be/src/vec/columns/column_const.h
  be/src/vec/common/string_ref.h
  be/src/vec/data_types/data_type_array.cpp
  be/src/vec/data_types/data_type_bitmap.cpp
  be/src/vec/data_types/data_type_date.cpp
  be/src/vec/data_types/data_type_date_time.cpp
  be/src/vec/data_types/data_type_date_time.h
  be/src/vec/data_types/data_type_decimal.cpp
  be/src/vec/data_types/data_type_hll.cpp
  be/src/vec/data_types/data_type_jsonb.cpp
  be/src/vec/data_types/data_type_map.cpp
  be/src/vec/data_types/data_type_nullable.cpp
  be/src/vec/data_types/data_type_number_base.cpp
  be/src/vec/data_types/data_type_string.cpp
  be/src/vec/data_types/data_type_struct.cpp
  be/src/vec/data_types/data_type_time.cpp
  be/src/vec/data_types/data_type_time_v2.cpp
  be/src/vec/jsonb/serialize.cpp
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/sink/vmysql_result_writer.cpp
  be/test/util/bitmap_value_test.cpp
  regression-test/data/nereids_p0/sql_functions/conditional_functions/test_query_in.out
  regression-test/suites/nereids_p0/sql_functions/conditional_functions/test_query_in.groovy
Labels: kind/test, area/vectorization

#17249 [fix](MTMV) Reset insert timeout in handleInsert
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectContext.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/qe/ConnectContextTest.java
Labels: area/planner, approved, reviewed, area/multi-table-materialized-view

#17316 [fix](docs) Add the tag <version since="dev"> for insert_timeout.
  docs/en/docs/advanced/variables.md
  docs/en/docs/data-operate/import/import-way/insert-into-manual.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/INSERT.md
  docs/en/docs/sql-manual/sql-reference/Database-Administration-Statements/SET-VARIABLE.md
  docs/zh-CN/docs/advanced/variables.md
  docs/zh-CN/docs/data-operate/import/import-way/insert-into-manual.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/INSERT.md
  docs/zh-CN/docs/sql-manual/sql-reference/Database-Administration-Statements/SET-VARIABLE.md
Labels: kind/docs, approved, reviewed

#17234 [doc](typo) external-table-load.md
  docs/en/docs/data-operate/import/import-scenes/external-table-load.md
  docs/zh-CN/docs/data-operate/import/import-scenes/external-table-load.md
Labels: kind/docs, approved, reviewed

#17292 [chore](macOS) Use LLVM Clang by default
  .github/workflows/be-ut-mac.yml
  .github/workflows/build-thirdparty.yml
  be/CMakeLists.txt
  be/test/util/threadpool_test.cpp
  build.sh
  docs/en/docs/install/source-install/compilation-mac.md
  docs/zh-CN/docs/install/source-install/compilation-mac.md
  env.sh
  run-be-ut.sh
Labels: kind/docs

#17374 [Bug](regression-test) remove some exception title on regression case
  regression-test/suites/nereids_p0/sql_functions/string_functions/test_split_part.groovy
  regression-test/suites/query_p0/sql_functions/cast_function/test_cast_function.groovy
  regression-test/suites/query_p0/sql_functions/string_functions/test_split_part.groovy
Labels: kind/test, approved, reviewed

#17364 [fix](fe)support multi distinct group_concat
  be/src/vec/aggregate_functions/aggregate_function_simple_factory.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/AggregateFunction.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
Labels: area/planner, area/vectorization, dev/1.2.3

#17382 [fix](log) use logger to replace printStackTrace()
  fe/fe-common/src/main/java/org/apache/doris/common/io/Text.java
  fe/fe-core/src/main/java/org/apache/doris/PaloFe.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/clone/TabletSchedulerStat.java
  fe/fe-core/src/main/java/org/apache/doris/ha/BDBHA.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/config/ReadEnvironment.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/controller/ConfigController.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/controller/HaController.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/controller/LogController.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/MetricsAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/RestBaseController.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBEnvironment.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBJEJournal.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBTool.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlSerializer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/CostAndEnforcerJob.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/Histogram.java
  fe/hive-udf/src/main/java/org/apache/doris/udf/BitmapAndUDF.java
  fe/hive-udf/src/main/java/org/apache/doris/udf/BitmapCountUDF.java
  fe/hive-udf/src/main/java/org/apache/doris/udf/BitmapOrUDF.java
  fe/hive-udf/src/main/java/org/apache/doris/udf/BitmapXorUDF.java
  fe/spark-dpp/src/main/java/org/apache/doris/load/loadv2/dpp/SparkRDDAggregator.java
  fe/spark-dpp/src/main/java/org/apache/doris/load/loadv2/etl/SparkEtlJob.java
Labels: area/planner, area/nereids

#17252 [fix](cooldown) Fix deadlock in tablet clone
  be/src/io/fs/s3_file_system.cpp
  be/src/olap/rowset/rowset.cpp
  be/src/olap/rowset/rowset.h
  be/src/olap/rowset/rowset_factory.h
  be/src/olap/tablet.cpp
Labels: approved, reviewed

#17367 [fix](docs) add logic for batch delete when sequence column exists
  docs/en/docs/data-operate/update-delete/batch-delete-manual.md
  docs/zh-CN/docs/data-operate/update-delete/batch-delete-manual.md
Labels: kind/docs, approved, reviewed

#17386 Revert "[fix](replica) Fix inconsistent replica id between BE and FE in corner case of tablet rebalance (#16889)"
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_manager.h
  be/src/olap/task/engine_clone_task.cpp
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
Labels: approved, reviewed

#17196 [Feature](Nereids)add check to disable unsupported type for Nereids
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/Validator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/JsonType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/TypeUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/UnsupportedTypeTest.java
  regression-test/pipeline/p0/conf/fe.conf
  regression-test/suites/nereids_p0/aggregate/aggregate.groovy
  regression-test/suites/nereids_p0/sql_functions/aggregate_functions/test_aggregate_collect.groovy
  regression-test/suites/nereids_p0/sql_functions/string_functions/test_split_by_string.groovy
  regression-test/suites/nereids_syntax_p0/array_function.groovy
  regression-test/suites/nereids_syntax_p0/test_bitmap_function_nereids.groovy
Labels: kind/test, approved, reviewed, area/nereids

#17384 [fix](vec)crashing caused by parallel output file
  be/src/vec/sink/vdata_stream_sender.cpp
  be/src/vec/sink/vdata_stream_sender.h
  be/src/vec/sink/vresult_file_sink.cpp
  be/src/vec/sink/vresult_file_sink.h
  regression-test/suites/export_p0/test_outfile.groovy
Labels: kind/test, approved, area/vectorization, reviewed, dev/1.2.3

#17380 [enhancement](transaction) Reduce hold writeLock time for DatabaseTransactionMgr to improve stability of stream load
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
Labels: dev/1.1.6, dev/1.2.3

#17403 [chore](workflow) Fix the workflow BE UT (macOS)
  run-be-ut.sh
Labels: approved, reviewed

#17269 [test](Nereids) turn on all test in scalar function w
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/TimestampArithmetic.java
  regression-test/data/nereids_function_p0/scalar_function/W.out
  regression-test/data/nereids_p0/sql_functions/conditional_functions/test_query_in.out
  regression-test/suites/nereids_function_p0/agg_function/agg.groovy
  regression-test/suites/nereids_function_p0/scalar_function/W.groovy
Labels: kind/test, approved, area/sql/function, area/vectorization, reviewed, area/nereids

#17408 [Fix](regression-test)fix some unfixed-answer test
  regression-test/suites/query_p0/sql_functions/math_functions/test_running_difference.sql
  regression-test/suites/query_p0/sql_functions/table_function/explode_json_array.groovy
Labels: kind/test

#17138 [feature](mysql) Support secure MySQL connection to FE
  build.sh
  conf/mysql_ssl_default_certificate/certificate.p12
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/common/ErrorCode.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/DummyMysqlChannel.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlCapability.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlChannel.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlHandshakePacket.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlProto.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlSslContext.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlSslPacket.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectContext.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/test/java/org/apache/doris/mysql/MysqlHandshakePacketTest.java
  regression-test/certificate.p12
  regression-test/framework/src/main/groovy/org/apache/doris/regression/Config.groovy
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/pipeline/p0/conf/fe.conf
  regression-test/pipeline/p1/conf/fe.conf
  regression-test/pipeline/p1/conf/regression-conf.groovy
  regression-test/suites/mysql_ssl_p0/test_mysql_connection.groovy
  regression-test/suites/mysql_ssl_p0/test_ssl_stability.groovy
Labels: area/load, kind/test, approved, reviewed, dev/1.2.3

#17411 [Improve](Status performance) fix the performance issue due to…
  be/src/common/status.h
  be/src/service/backend_options.cpp
  be/src/service/backend_options.h
Labels: approved, reviewed

#17362 [enhancement](stream load pipe) using queryid or load id to identify stream load pipe instead of fragment instance id
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/pipeline/pipeline_fragment_context.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/query_fragments_ctx.h
  be/src/service/internal_service.cpp
  be/test/runtime/fragment_mgr_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/InsertStreamTxnExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/rpc/BackendServiceProxy.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/TransactionEntry.java
  fe/fe-core/src/test/java/org/apache/doris/load/sync/canal/CanalSyncDataTest.java
  gensrc/proto/internal_service.proto
Labels: area/planner, approved, reviewed

#17295 [typo](docs) Optimize documents so that users can better understand.
  docs/en/docs/lakehouse/multi-catalog/jdbc.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  docs/zh-CN/docs/lakehouse/multi-catalog/jdbc.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
Labels: kind/docs, approved, reviewed

#17329 [enhancement](k8s) Support fqdn mode for fe in k8s enviroment
  fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SystemHandler.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FrontendClause.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/FrontendsProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/telemetry/Telemetry.java
  fe/fe-core/src/main/java/org/apache/doris/deploy/DeployManager.java
  fe/fe-core/src/main/java/org/apache/doris/ha/BDBHA.java
  fe/fe-core/src/main/java/org/apache/doris/ha/MasterInfo.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/meta/MetaService.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/ClusterAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/HttpUtils.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/NodeAction.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/manager/QueryProfileAction.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBEnvironment.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBJEJournal.java
  fe/fe-core/src/main/java/org/apache/doris/master/Checkpoint.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendOptions.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/org/apache/doris/system/FQDNManager.java
  fe/fe-core/src/main/java/org/apache/doris/system/Frontend.java
  fe/fe-core/src/main/java/org/apache/doris/system/HeartbeatMgr.java
  fe/fe-core/src/main/java/org/apache/doris/system/SystemInfoService.java
  fe/fe-core/src/test/java/org/apache/doris/system/FQDNManagerTest.java
  fe/fe-core/src/test/java/org/apache/doris/system/HeartbeatMgrTest.java
Labels: area/planner, approved, reviewed

#17360 [enhancement](timeout) replace query timeout with exec timeout
  fe/fe-core/src/main/java/org/apache/doris/load/update/UpdateStmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/MasterCatalogExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/MasterOpExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/MasterTxnExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/load/update/UpdateStmtExecutorTest.java
Labels: area/load, approved, reviewed

#17397 [fix](metrics)Delete the extra underline for metrics
  be/src/util/system_metrics.cpp
  be/src/util/system_metrics.h
Labels: approved, area/metrics, reviewed, dev/1.2.3

#17432 [fix](segcompaction) core when doing segcompaction for cancelling load(#16731)
  be/src/olap/rowset/beta_rowset_writer.cpp
Labels: approved, reviewed

#17424 [Improvement](auth)(step-2) add ranger authorizer for hms catalog
  docs/en/docs/lakehouse/multi-catalog/hive.md
  docs/zh-CN/docs/lakehouse/multi-catalog/hive.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/RangerHiveAccessController.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/authorizer/RangerHiveAuditLogFlusher.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/Role.java
Labels: kind/docs, approved, reviewed

#17381 [fix](rebalance) fix that the clone operation is not performed due to incorrect condition judgment
  be/src/olap/task/engine_clone_task.cpp
Labels: approved, reviewed

#17334 [fix](merge-on-write) fix that delete bitmap is not calculated correctly when clone tablet
  be/src/olap/snapshot_manager.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_meta.h
  be/src/olap/task/engine_clone_task.cpp
Labels: approved, reviewed, usercase, dev/1.2.3

#17431 [fix](orc) fix heap-use-after-free and potential memory leak of orc reader
  be/src/common/signal_handler.h
  be/src/vec/exec/format/orc/vorc_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.h
  be/src/vec/exec/scan/new_file_scan_node.cpp
  be/src/vec/exec/scan/new_file_scan_node.h
  be/src/vec/exec/scan/vmeta_scan_node.cpp
Labels: area/vectorization, dev/1.2.3

#17396 [cherry-pick](load) cherry-pick add submitter and comments to load job to branch-1.2-lts
  be/src/http/action/stream_load.cpp
  be/src/http/http_common.h
  be/src/runtime/stream_load/stream_load_context.cpp
  be/src/runtime/stream_load/stream_load_context.h
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/CREATE-ROUTINE-LOAD.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-LOAD.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/CREATE-ROUTINE-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-LOAD.md
  fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateRoutineLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowCreateLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowRoutineLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowStreamLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/LoadProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/MultiAction.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/load/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/StreamLoadRecord.java
  fe/fe-core/src/main/java/org/apache/doris/load/StreamLoadRecordMgr.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BulkLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/qe/MultiLoadMgr.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CancelLoadStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateRoutineLoadStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/LoadStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/InsertLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/LoadManagerTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/KafkaRoutineLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/RoutineLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/RoutineLoadManagerTest.java
  gensrc/thrift/BackendService.thrift
Labels: area/load, kind/docs, area/planner, area/routine load, dev/1.2.3

#17371 [Enhencement](schema_scanner) Optimize the performance of reading information schema tables
  be/src/exec/schema_scanner.cpp
  be/src/exec/schema_scanner.h
  be/src/exec/schema_scanner/schema_backends_scanner.cpp
  be/src/exec/schema_scanner/schema_charsets_scanner.cpp
  be/src/exec/schema_scanner/schema_collations_scanner.cpp
  be/src/exec/schema_scanner/schema_columns_scanner.cpp
  be/src/exec/schema_scanner/schema_columns_scanner.h
  be/src/exec/schema_scanner/schema_helper.cpp
  be/src/exec/schema_scanner/schema_helper.h
  be/src/exec/schema_scanner/schema_rowsets_scanner.cpp
  be/src/exec/schema_scanner/schema_schema_privileges_scanner.cpp
  be/src/exec/schema_scanner/schema_schemata_scanner.cpp
  be/src/exec/schema_scanner/schema_table_privileges_scanner.cpp
  be/src/exec/schema_scanner/schema_tables_scanner.cpp
  be/src/exec/schema_scanner/schema_user_privileges_scanner.cpp
  be/src/exec/schema_scanner/schema_variables_scanner.cpp
  be/src/exec/schema_scanner/schema_views_scanner.cpp
  be/src/vec/exec/vschema_scan_node.cpp
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  gensrc/thrift/FrontendService.thrift
  regression-test/data/query_p0/system/test_query_sys_tables.out
  regression-test/suites/query_p0/system/test_query_sys_tables.groovy
Labels: kind/test, area/vectorization, reviewed

#17434 [Improvement](restore) make timeout of restore job's dispatching task progress configuable
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
Labels: kind/docs, approved, reviewed, dev/1.2.3

#17440 Revert "[cherry-pick](load) cherry-pick add submitter and comments to load job to branch-1.2-lts"
  be/src/http/action/stream_load.cpp
  be/src/http/http_common.h
  be/src/runtime/stream_load/stream_load_context.cpp
  be/src/runtime/stream_load/stream_load_context.h
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/CREATE-ROUTINE-LOAD.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-LOAD.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/CREATE-ROUTINE-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-CREATE-LOAD.md
  fe/fe-common/src/main/java/org/apache/doris/common/FeMetaVersion.java
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateRoutineLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowCreateLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowRoutineLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowStreamLoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/LoadProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/MultiAction.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/load/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/StreamLoadRecord.java
  fe/fe-core/src/main/java/org/apache/doris/load/StreamLoadRecordMgr.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/BulkLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/InsertLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/qe/MultiLoadMgr.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CancelLoadStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateRoutineLoadStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/LoadStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/InsertLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/loadv2/LoadManagerTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/KafkaRoutineLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/RoutineLoadJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/load/routineload/RoutineLoadManagerTest.java
  gensrc/thrift/BackendService.thrift
Labels: area/load, kind/docs, area/planner, area/routine load

#17391 [fix](regression) Parameterize the S3 info for segcompaction regressi…
  regression-test/suites/segcompaction_p1/test_segcompaction_agg_keys.groovy
  regression-test/suites/segcompaction_p1/test_segcompaction_dup_keys.groovy
  regression-test/suites/segcompaction_p1/test_segcompaction_unique_keys.groovy
  regression-test/suites/segcompaction_p1/test_segcompaction_unique_keys_mow.groovy
Labels: kind/test, reviewed

#17429 [chore](fe) enhance mysql data type
  be/src/exec/schema_scanner/schema_columns_scanner.cpp
  regression-test/data/nereids_p0/system/test_query_sys_data_type.out
  regression-test/data/query_p0/system/test_query_sys_data_type.out
  regression-test/suites/nereids_p0/system/test_query_sys_data_type.groovy
  regression-test/suites/query_p0/system/test_query_sys_data_type.groovy
Labels: kind/test

#17406 [enhance](report) add local and remote size in tablet meta header action
  be/src/olap/tablet_meta.cpp
  be/test/olap/test_data/header_without_inc_rs.txt
  gensrc/proto/olap_file.proto
Labels: approved, reviewed

#17322 [fix](memory) Modify `mem_limit` default value
  be/src/common/config.h
  be/src/util/mem_info.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, kind/behavior-changed

#17414 [enhancement](transaction) Reduce hold writeLock time for DatabaseTransactionMgr to clear transaction
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/persist/BatchRemoveTransactionsOperationV2.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/GlobalTransactionMgr.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/FakeEditLog.java
Labels: kind/improvement, reviewed

#17324 [function](vec)use const_col to opt current functions.
  be/src/vec/functions/function_date_or_datetime_computation.h
Labels: approved, area/sql/function, area/vectorization, reviewed

#17422 [docs](typo) Correct the wrong default value of DECIMAL type displayed in the Help CREATE TABLE
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
Labels: kind/docs, approved, reviewed

#17298 [fix](array)(parquet) fix be core dump due to load from parquet file containing array types
  be/src/runtime/types.cpp
  be/src/runtime/types.h
  be/src/vec/data_types/data_type_nullable.cpp
  be/src/vec/exec/format/parquet/schema_desc.cpp
  regression-test/data/load_p0/stream_load/array_test.parquet
  regression-test/data/load_p0/stream_load/test_parquet_orc_case.out
  regression-test/suites/load_p0/stream_load/test_parquet_orc_case.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#17421 [refactor](functioncontext) remove duplicate type definition in function context
  be/src/exprs/function_filter.h
  be/src/exprs/json_functions.h
  be/src/exprs/math_functions.h
  be/src/exprs/string_functions.h
  be/src/olap/like_column_predicate.cpp
  be/src/olap/like_column_predicate.h
  be/src/olap/olap_define.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/collection_value.h
  be/src/runtime/datetime_value.h
  be/src/runtime/decimalv2_value.h
  be/src/runtime/descriptor_helper.h
  be/src/runtime/descriptors.cpp
  be/src/runtime/descriptors.h
  be/src/runtime/primitive_type.cpp
  be/src/runtime/primitive_type.h
  be/src/runtime/types.cpp
  be/src/runtime/types.h
  be/src/udf/CMakeLists.txt
  be/src/udf/uda_test_harness.h
  be/src/udf/udf.cpp
  be/src/udf/udf.h
  be/src/udf/udf_debug.h
  be/src/udf/udf_internal.h
  be/src/util/bitmap_value.h
  be/src/util/counts.h
  be/src/vec/common/string_ref.h
  be/src/vec/exec/format/parquet/schema_desc.cpp
  be/src/vec/exec/scan/new_es_scanner.cpp
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scan_node.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/src/vec/exec/scan/vmeta_scanner.cpp
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/scan/vscan_node.h
  be/src/vec/exec/scan/vscanner.cpp
  be/src/vec/exec/scan/vscanner.h
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/exprs/vexpr.h
  be/src/vec/exprs/vexpr_context.cpp
  be/src/vec/exprs/vexpr_context.h
  be/src/vec/functions/function_timestamp.cpp
  be/src/vec/functions/in.h
  be/src/vec/runtime/vdatetime_value.h
  be/test/CMakeLists.txt
  be/test/runtime/datetime_value_test.cpp
  be/test/testutil/desc_tbl_builder.cc
  be/test/testutil/function_utils.cpp
  be/test/testutil/function_utils.h
  be/test/udf/uda_test.cpp
  be/test/udf/udf_test.cpp
  be/test/util/counts_test.cpp
  be/test/vec/function/function_test_util.cpp
  be/test/vec/function/function_test_util.h
  gensrc/proto/descriptors.proto
Labels: approved, area/sql/function, area/vectorization, reviewed

#17131 [Fix](planner)fix cast error when query a view with cast to string-like type.
  fe/fe-core/src/main/java/org/apache/doris/analysis/CastExpr.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateFunctionTest.java
Labels: approved, reviewed, usercase, dev/1.1.6

#17425 [fix](regression) Adjust the test_add_drop_index case to avoid that FE failed to start when replaying the log
  regression-test/suites/inverted_index_p0/test_add_drop_index.groovy
Labels: kind/test

#17337 [fix](ParquetReader) definition level of repeated parent is wrong
  be/src/vec/exec/format/parquet/schema_desc.cpp
  be/src/vec/exec/format/parquet/vparquet_column_reader.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
Labels: approved, area/vectorization, reviewed

#17262 [Enchancement](Materialized-View) add more error infomation for select materialized view fail
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotRef.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  regression-test/suites/materialized_view_p0/mv_with_view/mv_with_view.groovy
  regression-test/suites/materialized_view_p0/test_mv_useless/test_agg_mv_useless.groovy
  regression-test/suites/materialized_view_p0/test_mv_useless/test_dup_mv_useless.groovy
  regression-test/suites/materialized_view_p0/test_mv_useless/test_uniq_mv_useless.groovy
Labels: area/planner, kind/test, approved, reviewed

#17465 [RegressionTest](Bug) fix regression test fail to find vec function microseconds_add/sub
  gensrc/script/doris_builtins_functions.py
Labels: area/sql/function

#17409 [fix](publish) fix when TabletPublishTxnTask::handle() error, transaction publish success, and query table error
  be/src/agent/task_worker_pool.cpp
Labels: reviewed, usercase, dev/1.2.3

#17347 [fix](merge-on-write) fix cu compaction correctness check
  be/src/olap/compaction.cpp
  be/src/olap/tablet.cpp
  be/src/olap/utils.h
Labels: reviewed, usercase, dev/1.2.3

#17441 [feature](filecache) add a const parameter to control the cache version
  be/src/io/cache/block/block_file_cache.cpp
  be/src/io/cache/block/block_file_cache.h
  be/src/io/cache/block/block_lru_file_cache.cpp
  be/test/io/cache/file_block_cache_test.cpp
Labels: approved, reviewed

#17428 [docs](typo) fix faq docs, already support rename column.
  docs/en/docs/faq/data-faq.md
  docs/zh-CN/docs/faq/data-faq.md
Labels: kind/docs, approved, reviewed

#17358 [doc](auth)auth doc
  docs/en/docs/admin-manual/privilege-ldap/user-privilege.md
  docs/en/docs/sql-manual/sql-reference/Account-Management-Statements/ALTER-USER.md
  docs/en/docs/sql-manual/sql-reference/Account-Management-Statements/GRANT.md
  docs/en/docs/sql-manual/sql-reference/Account-Management-Statements/REVOKE.md
  docs/zh-CN/docs/admin-manual/privilege-ldap/user-privilege.md
  docs/zh-CN/docs/sql-manual/sql-reference/Account-Management-Statements/ALTER-USER.md
  docs/zh-CN/docs/sql-manual/sql-reference/Account-Management-Statements/GRANT.md
  docs/zh-CN/docs/sql-manual/sql-reference/Account-Management-Statements/REVOKE.md
Labels: kind/docs, approved, reviewed

#17477 [fix](vec)crashing caused by parallel output file (pick #17384)
  be/src/vec/sink/vdata_stream_sender.cpp
  be/src/vec/sink/vdata_stream_sender.h
  be/src/vec/sink/vresult_file_sink.cpp
  be/src/vec/sink/vresult_file_sink.h
  regression-test/suites/export_p0/test_outfile.groovy
Labels: kind/test, area/vectorization

#17460 [fix](planner) Slots in the cojuncts of table function node didn't got materialized
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanNode.java
  regression-test/data/query_p0/lateral_view/test_with_view.out
  regression-test/suites/query_p0/lateral_view/test_with_view.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.3

#17395 [enhencement](jdbc catalog) Use Druid instead of HikariCP in JdbcClient
  be/src/runtime/user_function_cache.cpp
  be/src/runtime/user_function_cache.h
  be/src/vec/exec/vjdbc_connector.cpp
  fe/fe-core/pom.xml
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OdbcTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/JdbcExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  fe/java-udf/pom.xml
  fe/pom.xml
Labels: approved, area/vectorization, reviewed, usercase, dev/1.2.3

#17446 [fix](priv) fix duplicated priv check when check column priv
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/AccessControllerManager.java
Labels: approved, reviewed

#17418 [chore](config) Increase the default maximum depth limit for expressions
  be/src/common/config.h
Labels: approved, reviewed

#17427 [fix](type compatibility) fix unsigned int type compatibility problem
  fe/fe-core/src/main/cup/sql_parser.cup
  regression-test/data/types_p0/unsigned/test_unsigned_int_compatibility.out
  regression-test/suites/types_p0/unsigned/test_unsigned_int_compatibility.groovy
Labels: kind/test

#17342 [Improvement](meta) support return total statistics of all databases for command show proc '/jobs
  docs/en/docs/sql-manual/sql-reference/Show-Statements/SHOW-PROC.md
  docs/zh-CN/docs/sql-manual/sql-reference/Show-Statements/SHOW-PROC.md
  fe/fe-core/src/main/java/org/apache/doris/alter/AlterHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/ExportProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/JobsDbProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/JobsProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/LoadJobProcNode.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/LoadProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/RollupProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/SchemaChangeProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/load/DeleteHandler.java
  fe/fe-core/src/main/java/org/apache/doris/load/ExportMgr.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/LoadManager.java
Labels: area/load, kind/docs, approved, reviewed

#17459 [Chore](schema change) remove some unused code in schema change
  be/src/common/config.h
  be/src/olap/column_mapping.h
  be/src/olap/compaction.cpp
  be/src/olap/olap_server.cpp
  be/src/olap/push_handler.h
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/rowset_reader_context.h
  be/src/olap/schema_change.cpp
  be/src/olap/schema_change.h
  be/src/vec/functions/match.cpp
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/vcollect_iterator.cpp
  be/src/vec/olap/vertical_block_reader.cpp
  be/test/olap/rowid_conversion_test.cpp
  be/test/olap/segcompaction_test.cpp
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, area/sql/function, area/vectorization, reviewed

#17438 [fix](planner) Fix incosistency between groupby expression and output of aggregation node
  fe/fe-core/src/main/java/org/apache/doris/planner/AggregationNode.java
  regression-test/data/query_p0/aggregate/nullablity_consistency.out
  regression-test/suites/query_p0/aggregate/nullablity_consistency.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.3

#17326 [fix](restore) fix bug when replay restore with reserve dynamic partition cause OBSERVER down
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
Labels: approved, reviewed, usercase, dev/1.2.3

#17236 [Enhance](auth)Users support multiple roles
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/GrantStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/RevokeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/common/FeNameFormat.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/AuthProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/Auth.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/RoleManager.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/UserRoleManager.java
  fe/fe-core/src/main/java/org/apache/doris/persist/PrivInfo.java
  fe/fe-core/src/test/java/org/apache/doris/mysql/privilege/AuthTest.java
  regression-test/data/account_p0/test_alter_user.out
  regression-test/suites/account_p0/test_alter_user.groovy
Labels: area/planner, kind/test

#17246 [feature](cooldown)add ut for cooldown on be
  be/test/olap/tablet_cooldown_test.cpp
Labels: approved, reviewed

#17467 [fix](resource)Add s3 checker for alter resource
  fe/fe-core/src/main/java/org/apache/doris/catalog/S3Resource.java
Labels: approved, reviewed

#17450 [enhance](Nereids): refactor code in Project
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/algebra/Project.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/MergeProjectsTest.java
Labels: approved, reviewed, area/nereids

#17355 [refactor](Nereids): refactor PushdownLimit
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownLimit.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownLimitTest.java
Labels: approved, reviewed, area/nereids

#17452 [enhance](Nereids): remove rule flag in LogicalJoin
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/InferJoinNotNull.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalJoin.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/InferJoinNotNullTest.java
Labels: area/nereids

#17486 [Bug](bloomfilter) Fix wrong result using bloomfilter with date type (#17225)
  be/src/exprs/bloomfilter_predicate.h
  regression-test/data/datatype_p0/date/test_date_runtime_filter.out
  regression-test/suites/datatype_p0/date/test_date_runtime_filter.groovy
Labels: kind/test, approved, reviewed, dev/1.2.3

#17473 [Enhancement](Planner)fix unclear exception msg when create table.
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
Labels: approved, dev/1.2.3-merged

#17451 [fix](planner) Output is wrong when select from an inline view with constant expressions
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  regression-test/data/query_p0/subquery/test_subquery2.out
  regression-test/suites/query_p0/subquery/test_subquery2.groovy
Labels: approved, reviewed, dev/1.1.6

#17373 [fix](planner) only table name should convert to lowercase when create table
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableName.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TupleDescriptor.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/SelectStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/OlapScanNodeTest.java
Labels: area/planner, approved, reviewed, dev/1.2.3

#17476 [fix](bdbje) fix handle bdb RollbackException incorrectly
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBEnvironment.java
Labels: dev/1.2.3

#17463 [fix](olap)Crashing caused by IS NULL expression
  be/src/vec/columns/column.h
  be/src/vec/columns/column_nullable.h
  be/src/vec/core/block.cpp
  regression-test/data/correctness_p0/test_null_predicate.out
  regression-test/suites/correctness_p0/test_null_predicate.groovy
Labels: kind/test, area/vectorization

#15000 [Enhancement](spark load)Support for RM HA
  fe/fe-core/src/main/java/org/apache/doris/catalog/SparkResource.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/SparkResourceTest.java
Labels: dev/1.2.2

#17363 [regression-test](Nereids)add binary arithmetic test for nereids
  regression-test/data/nereids_arith_p0/binary.out
  regression-test/data/nereids_arith_p0/expr_test.dat
  regression-test/suites/nereids_arith_p0/binary.groovy
  regression-test/suites/nereids_arith_p0/load.groovy
  regression-test/suites/nereids_function_p0/load.groovy
  regression-test/suites/nereids_function_p0/script/define.py
  regression-test/suites/nereids_function_p0/script/gen.py
Labels: kind/test, approved, reviewed

#17331 [Fix](Lightweight schema Change) query error caused by array default type is unsupported
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/vec/columns/column_nullable.h
  regression-test/data/schema_change_p0/test_alter_table_column.out
  regression-test/suites/schema_change_p0/test_alter_table_column.groovy
Labels: kind/test, area/vectorization, reviewed, usercase, dev/1.2.3

#17296 [vectorized](bug) fix array constructor function change origin column from block
  be/src/vec/functions/array/function_array_constructor.cpp
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions.groovy
Labels: kind/test, approved, area/vectorization, reviewed, dev/1.2.3

#17512 [fix](insert) fix memory leak for insert transaction
  be/src/exec/plain_binary_line_reader.cpp
  be/src/exec/plain_binary_line_reader.h
  be/src/runtime/stream_load/stream_load_pipe.h
  be/src/service/internal_service.cpp
  be/src/vec/exec/format/csv/csv_reader.cpp
Labels: approved, area/vectorization, reviewed

#17468 [fix](remote)fix whole file cache and sub file cache
  be/src/io/cache/file_cache_manager.cpp
Labels: approved, reviewed

#17492 [branch-1.2](status) add be ip in status and fix some p0
  be/src/common/status.h
  regression-test/data/query_p0/group_concat/test_group_concat.out
  regression-test/suites/query_p0/group_concat/test_group_concat.groovy
  regression-test/suites/query_p0/sql_functions/cast_function/test_cast_function.groovy
  regression-test/suites/query_p0/sql_functions/string_functions/test_convert.groovy
Labels: kind/test

#17305 [enhancement](planner) support case transition of timestamp datatype when create table
  fe/fe-core/src/main/java/org/apache/doris/analysis/MultiPartitionDesc.java
  regression-test/suites/ddl_p0/test_create_table.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.3

#17405 [Fix](vectorization) fixed that when a column's _fixed_values exceeds…
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  regression-test/data/correctness/test_exceed_max_pushdown_conditions_per_column.out
  regression-test/suites/correctness/test_exceed_max_pushdown_conditions_per_column.groovy
Labels: kind/test, area/vectorization, reviewed, usercase, dev/1.2.3

#17545 [cherrypick](memory) Fix GC after env Init
  be/src/common/daemon.cpp
Labels: usercase, dev/1.2.3-merged

#17526 [cherrypick](memory) Pick memory GC refactor to avoid frequent invalid GC
  be/src/common/config.h
  be/src/common/daemon.cpp
  be/src/common/daemon.h
  be/src/olap/lru_cache.cpp
  be/src/olap/lru_cache.h
  be/src/olap/segment_loader.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/runtime/memory/mem_tracker_limiter.cpp
  be/src/util/mem_info.cpp
Labels: usercase, dev/1.2.3-merged

#17481 [docs](doc) Add docs for Apache Kyuubi
  docs/en/docs/ecosystem/kyuubi.md
  docs/sidebars.json
  docs/zh-CN/docs/ecosystem/kyuubi.md
Labels: kind/docs, approved, reviewed

#17514 [chore](macOS) Disable detect_container_overflow at BE startup
  bin/start_be.sh
Labels: approved, reviewed

#17461 [refactor](remove string val) remove string val structure, it is same with string ref
  be/src/exprs/function_filter.h
  be/src/exprs/math_functions.cpp
  be/src/exprs/math_functions.h
  be/src/exprs/string_functions.cpp
  be/src/exprs/string_functions.h
  be/src/olap/like_column_predicate.cpp
  be/src/olap/like_column_predicate.h
  be/src/olap/reader.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/runtime/decimalv2_value.h
  be/src/runtime/tablets_channel.cpp
  be/src/runtime/tablets_channel.h
  be/src/udf/udf.cpp
  be/src/udf/udf.h
  be/src/util/bitmap_value.h
  be/src/util/counts.h
  be/src/util/simd/vstring_function.h
  be/src/vec/aggregate_functions/aggregate_function_approx_count_distinct.h
  be/src/vec/aggregate_functions/aggregate_function_percentile_approx.h
  be/src/vec/common/string_ref.h
  be/src/vec/exec/scan/new_olap_scan_node.cpp
  be/src/vec/exec/scan/new_olap_scan_node.h
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/scan/vscan_node.h
  be/src/vec/functions/function_bitmap_min_or_max.h
  be/src/vec/functions/function_conv.cpp
  be/src/vec/functions/function_regexp.cpp
  be/src/vec/functions/function_string.cpp
  be/src/vec/functions/function_string.h
  be/src/vec/olap/block_reader.cpp
  be/src/vec/runtime/vdatetime_value.h
  be/src/vec/runtime/vorc_writer.cpp
  be/test/util/counts_test.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed

#17484 [enhancement](regression-test) add sleep 3s for schema change and rollup
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  regression-test/suites/datatype_p0/date/test_default_current_timestamp.groovy
  regression-test/suites/index_p0/test_bitmap_index.groovy
  regression-test/suites/inverted_index_p0/test_bitmap_index.groovy
  regression-test/suites/nereids_syntax_p0/rollup.groovy
  regression-test/suites/nereids_syntax_p0/test_materialized_view_nereids.groovy
  regression-test/suites/rollup/test_materialized_view_bitmap.groovy
  regression-test/suites/rollup/test_materialized_view_date.groovy
  regression-test/suites/rollup/test_materialized_view_hll.groovy
  regression-test/suites/rollup/test_materialized_view_hll_with_light_sc.groovy
  regression-test/suites/rollup_p0/test_materialized_view.groovy
  regression-test/suites/rollup_p0/test_rollup_add_column.groovy
  regression-test/suites/rollup_p0/test_rollup_agg.groovy
  regression-test/suites/rollup_p0/test_rollup_agg_date.groovy
  regression-test/suites/schema_change/test_alter_table_column_with_delete_drop_column_dup_key.groovy
  regression-test/suites/schema_change/test_alter_table_column_with_delete_drop_column_unique_key.groovy
  regression-test/suites/schema_change/test_schema_change_datev2_with_delete.groovy
  regression-test/suites/schema_change/test_schema_change_with_delete.groovy
  regression-test/suites/schema_change_p0/datev2/test_agg_keys_schema_change_datev2.groovy
  regression-test/suites/schema_change_p0/datev2/test_dup_keys_schema_change_datev2.groovy
  regression-test/suites/schema_change_p0/decimalv3/test_agg_keys_schema_change_decimalv3.groovy
  regression-test/suites/schema_change_p0/test_agg_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_alter_table_column.groovy
  regression-test/suites/schema_change_p0/test_alter_table_column_nullable.groovy
  regression-test/suites/schema_change_p0/test_alter_table_column_with_delete.groovy
  regression-test/suites/schema_change_p0/test_dup_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_rename_column.groovy
  regression-test/suites/schema_change_p0/test_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_update_schema_change.groovy
Labels: kind/test, reviewed

#17531 [enhancement](exception) add exception structure and using unique ptr in VExplodeBitmapTableFunction
  be/src/common/CMakeLists.txt
  be/src/common/exception.cpp
  be/src/common/exception.h
  be/src/vec/exprs/table_function/vexplode_bitmap.cpp
  be/src/vec/exprs/table_function/vexplode_bitmap.h
  be/test/CMakeLists.txt
  be/test/common/exception_test.cpp
Labels: approved, area/vectorization, reviewed

#17344 [feature](function) support type template in SQL function
  fe/fe-common/src/main/java/org/apache/doris/catalog/ArrayType.java
  fe/fe-common/src/main/java/org/apache/doris/catalog/MapType.java
  fe/fe-common/src/main/java/org/apache/doris/catalog/PrimitiveType.java
  fe/fe-common/src/main/java/org/apache/doris/catalog/TemplateType.java
  fe/fe-common/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Function.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  gensrc/script/doris_builtins_functions.py
  gensrc/script/gen_builtins_functions.py
  regression-test/data/load_p0/stream_load/test_map_load_and_function.out
  regression-test/suites/load_p0/stream_load/test_map_load_and_function.groovy
Labels: area/planner, kind/test, approved, area/sql/function, reviewed

#17336 [opt](string) optimize string equal comparision
  be/src/vec/functions/functions_comparison.h
  regression-test/data/datatype_p0/string/test_string_basic.out
  regression-test/suites/datatype_p0/string/test_string_basic.groovy
Labels: kind/test, area/sql/function, area/vectorization
