Repository apache/doris, pull requests merged in 2023-02, with the labels that each got.

#16280 [fix](Nereids): remove error regression case in nereids_p0
  regression-test/suites/nereids_p0/join/test_join.groovy
  regression-test/suites/nereids_p0/join/test_join5.groovy
  regression-test/suites/nereids_syntax_p0/group_by_constant.groovy
Labels: kind/test, reviewed

#16295 [Bug](decimalv3) always use `decimalv3` for `show create table`
  fe/fe-common/src/main/java/org/apache/doris/catalog/ScalarType.java
Labels: approved, reviewed, dev/1.2.2

#16287 [Refactor](function) Rewrite the function elt
  be/src/vec/functions/function_string.h
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function.groovy
Labels: kind/test, area/sql/function, area/vectorization, dev/1.2.2

#16281 [Bug](date) fix BE crash if month_floor 's argument is null
  be/src/vec/functions/function_datetime_floor_ceil.cpp
  regression-test/data/nereids_function_p0/scalar_function/L-Q.out
  regression-test/suites/nereids_function_p0/scalar_function/L-Q.groovy
Labels: kind/test, approved, area/sql/function, area/vectorization, reviewed, dev/1.2.2

#16159 [datev2](function) make function nullable DEPEND_ON_ARGUMENT
  be/src/vec/functions/date_time_transforms.h
  be/src/vec/functions/function.h
  be/src/vec/functions/function_date_or_datetime_computation.h
  be/src/vec/functions/function_date_or_datetime_to_something.h
  be/src/vec/functions/function_date_or_datetime_to_string.h
  be/src/vec/functions/function_timestamp.cpp
  gensrc/script/doris_builtins_functions.py
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.2.2

#16274 [Bug](function) enchance esquery error msg && forbid to_quantile_state
  be/src/vec/functions/function_fake.cpp
  be/src/vec/functions/function_fake.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
Labels: area/planner, area/sql/function, area/vectorization, dev/1.2.2

#16247 [Bug](date) remove MinuteFloor/MinuteCeil for datev2
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/MinuteCeil.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/MinuteFloor.java
  regression-test/data/nereids_function_p0/scalar_function/L-Q.out
  regression-test/suites/nereids_function_p0/scalar_function/L-Q.groovy
Labels: kind/test, approved, reviewed, area/nereids, dev/1.2.2

#15541 [function](round) fix decimal scale for scale not specified
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  regression-test/data/query_p0/sql_functions/math_functions/test_round.out
  regression-test/suites/query_p0/sql_functions/math_functions/test_round.groovy
Labels: area/planner, kind/test, reviewed, dev/1.2.2

#16317 [bugfix](collect_iterator) Fix status not match error
  be/src/vec/olap/vcollect_iterator.cpp
Labels: area/vectorization, dev/1.2.2-merged

#16196 [Chore](build) enable ignored-qualifiers check
  be/CMakeLists.txt
  be/src/exec/schema_scanner.h
  be/src/gutil/endian.h
  be/src/gutil/map-util.h
  be/src/io/fs/file_system.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_meta.h
  be/src/olap/tablet_schema.h
  be/src/olap/types.h
  be/src/pipeline/pipeline_task.h
  be/src/runtime/descriptors.h
  be/src/runtime/exec_env.h
  be/src/runtime/runtime_state.h
  be/src/udf/udf_internal.h
  be/src/vec/core/field.h
  be/src/vec/core/sort_cursor.h
  be/src/vec/data_types/data_type_time_v2.h
  be/src/vec/exec/scan/scanner_context.h
  be/src/vec/exec/vaggregation_node.h
  be/src/vec/exprs/vin_predicate.h
  be/src/vec/exprs/vslot_ref.h
  be/src/vec/utils/arrow_column_to_doris_column.cpp
  be/src/vec/utils/arrow_column_to_doris_column.h
Labels: approved, area/vectorization, reviewed

#16256 [Refactor](function) opt the exec of function with null column
  be/src/vec/exprs/vectorized_fn_call.cpp
  be/src/vec/functions/function.cpp
  be/src/vec/functions/function_cast.h
  be/src/vec/functions/function_helpers.cpp
  be/src/vec/functions/function_helpers.h
Labels: area/sql/function, area/vectorization, dev/1.2.2

#16166 [fix](hashjoin) join produce blocks with rows larger than batch size
  be/src/vec/exec/join/process_hash_table_probe_impl.h
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
Labels: area/vectorization, reviewed, bug/sqlsmith, dev/1.2.2

#16235 [Fix](Load) Disable for the developer to import fast json in fe
  fe/check/checkstyle/import-control.xml
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/MysqlLoadManager.java
  fe/fe-core/src/test/java/org/apache/doris/clone/TabletRepairAndBalanceTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/HistogramTest.java
Labels: area/load, approved, reviewed

#16268 [improvement](session variable)Add enable_file_cache session variable.
  be/src/io/file_factory.cpp
  be/src/olap/iterators.h
  be/src/vec/exec/scan/vfile_scanner.cpp
  docs/en/docs/advanced/variables.md
  docs/zh-CN/docs/advanced/variables.md
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
Labels: kind/docs, area/vectorization, area/multi-catalog

#16260 [fix](Nereids): fix regression test in A-F.out
  regression-test/data/nereids_function_p0/scalar_function/A-F.out
  regression-test/suites/nereids_function_p0/scalar_function/A-F.groovy
Labels: kind/test, approved, reviewed

#16309 [enhance](Nereids): polish code.
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/JoinOrderJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/GraphSimplifier.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscom.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/GraphSimplifierTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/MergeProjectsTest.java
Labels: approved, reviewed, area/nereids

#16185 [BugFix](sort) use correct agg function when using 2 phase sort for agg table
  be/src/olap/tablet_schema.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
  regression-test/data/query_p0/sort/sort.out
  regression-test/suites/query_p0/sort/sort.groovy
Labels: area/planner, kind/test, area/vectorization, reviewed, bug/sqlsmith

#16055 [feature](Load)Suppot skip specific lines number for csv stream load
  be/src/http/action/stream_load.cpp
  be/src/http/http_common.h
  be/src/vec/exec/format/csv/csv_reader.cpp
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/DataDescription.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LoadStmt.java
  fe/fe-core/src/main/java/org/apache/doris/load/BrokerFileGroup.java
  fe/fe-core/src/main/java/org/apache/doris/load/loadv2/MysqlLoadManager.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/LoadScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/task/LoadTaskInfo.java
  fe/fe-core/src/main/java/org/apache/doris/task/StreamLoadTask.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/analysis/DataDescriptionTest.java
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/PlanNodes.thrift
  regression-test/data/load_p0/mysql_load/mysql_load_skip_lines.csv
  regression-test/data/load_p0/mysql_load/test_mysql_load_skip_lines.out
  regression-test/data/load_p0/stream_load/csv_with_skip_lines.csv
  regression-test/data/load_p0/stream_load/test_csv_with_skip_lines.out
  regression-test/suites/load_p0/mysql_load/test_mysql_load_skip_lines.groovy
  regression-test/suites/load_p0/stream_load/test_csv_with_skip_lines.groovy
Labels: area/load, kind/docs, area/planner, kind/test, approved, area/vectorization, reviewed

#16341 [bugfix](block reader) fix status compare error
  be/src/olap/cumulative_compaction_policy.cpp
  be/src/vec/olap/block_reader.cpp
Labels: area/vectorization

#16330 [Bug](followup) fix datev2 functions
  be/src/vec/functions/function_date_or_datetime_computation.h
  gensrc/script/doris_builtins_functions.py
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.2.2

#16082 [feature-wip](multi-catalog) support iceberg union catalog, and add h…
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableIf.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/IcebergExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/IcebergExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogFactory.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InitCatalogLog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/credentials/DataLakeAWSCredentialsProvider.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergExternalCatalogFactory.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergHMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergRestExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalFileScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/QueryScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergApiSource.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergDeleteFileFilter.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergHMSSource.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergScanProvider.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergSource.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergSplit.java
Labels: area/planner, approved, reviewed, area/multi-catalog

#16190 [Enhance](fix)use std::from_chars to do str cast to float/double to avoid lose precision
  be/src/util/string_parser.hpp
  be/test/util/string_parser_test.cpp
Labels: approved, reviewed, dev/1.2.2

#16310 [Docs](pipeline) Add doc of pipeline execution engine and remove vectorized-execution-engine
  docs/en/docs/advanced/pipeline-execution-engine.md
  docs/en/docs/advanced/vectorized-execution-engine.md
  docs/images/pipeline-execution-engine.png
  docs/images/vectorized-execution-engine1.png
  docs/images/vectorized-execution-engine2.png
  docs/sidebars.json
  docs/zh-CN/docs/advanced/pipeline-execution-engine.md
  docs/zh-CN/docs/advanced/vectorized-execution-engine.md
Labels: kind/docs

#16331 [bugfix](topn) fix topn runtime predicate getting value bug for decimal type
  be/src/runtime/runtime_predicate.h
Labels: reviewed

#16302 [fix](multi-catalog) remove the eof check among parquet columns
  be/src/vec/exec/format/parquet/vparquet_group_reader.cpp
Labels: area/vectorization, reviewed, area/multi-catalog, dev/1.2.2

#16344 [fix](iceberg) fix meta persist bug of iceberg catalog
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/IcebergExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergScanProvider.java
Labels: area/planner

#16244 [fix](memtracker) Fix high frequency load slow lock in memtracker
  be/src/runtime/thread_context.h
Labels: reviewed, dev/1.2.2

#16246 [cherry-pick](memory) Fix right join overflow and high frequency load slow memtracker
  be/src/runtime/thread_context.h
  be/src/vec/exec/join/join_op.h
  be/src/vec/exec/join/process_hash_table_probe.h
  be/src/vec/exec/join/process_hash_table_probe_impl.h
  be/src/vec/exec/join/vhash_join_node.h
Labels: area/vectorization

#16311 [fix](join) crash caused by canceling query
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/runtime/shared_hash_table_controller.cpp
  be/src/vec/runtime/shared_hash_table_controller.h
Labels: area/vectorization

#16306 [test](function)add function case `date_sub(datetime,INTERVAL dayofmonth(datetime)-1 DAY)`
  regression-test/data/query_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/query_p0/sql_functions/datetime_functions/test_date_function.groovy
Labels: kind/test, approved, reviewed

#16320 [cherrypick](1.2) pick 5 date/decimal commits
  be/src/vec/functions/date_time_transforms.h
  be/src/vec/functions/function.h
  be/src/vec/functions/function_date_or_datetime_computation.h
  be/src/vec/functions/function_date_or_datetime_to_something.h
  be/src/vec/functions/function_date_or_datetime_to_string.h
  be/src/vec/functions/function_datetime_floor_ceil.cpp
  be/src/vec/functions/function_timestamp.cpp
  fe/fe-common/src/main/java/org/apache/doris/catalog/ScalarType.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/MinuteCeil.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/MinuteFloor.java
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/math_functions/test_round.out
  regression-test/suites/query_p0/sql_functions/math_functions/test_round.groovy
Labels: area/planner, kind/test, area/sql/function, area/vectorization, area/nereids, dev/1.2.2

#16342 [test](regression) add tvf regression to test the remove of EOF check
  regression-test/conf/regression-conf.groovy
  regression-test/data/external_table_emr_p2/hive/test_tvf_p2.out
  regression-test/suites/external_table_emr_p2/hive/test_tvf_p2.groovy
Labels: kind/test, approved, reviewed, area/multi-catalog, dev/1.2.2

#16329 [improvement](global context) remove some unused method from runtime state
  be/src/exec/exec_node.cpp
  be/src/exec/exec_node.h
  be/src/pipeline/exec/operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/pipeline/pipeline_task.cpp
  be/src/pipeline/pipeline_task.h
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/runtime_state.cpp
  be/src/runtime/runtime_state.h
  be/src/service/point_query_executor.h
  be/src/vec/exec/vunion_node.cpp
  be/src/vec/olap/vcollect_iterator.h
Labels: approved, area/vectorization, reviewed

#16346 [Thirdpart](lib) Add lib fast_float to replace std::from_chars() convert float/double
  dist/licenses/LICENSE-fast_float.txt
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Labels: dev/1.2.2

#16211 [bug](load) sequence column do not compare correctly in memtable
  be/src/olap/memtable.cpp
  be/test/olap/delta_writer_test.cpp
  regression-test/data/data_model_p0/unique/test_unique_table_new_sequence.out
  regression-test/data/data_model_p0/unique/test_unique_table_sequence.out
  regression-test/data/data_model_p0/unique/unique_key_data1.csv
  regression-test/data/data_model_p0/unique/unique_key_data2.csv
  regression-test/suites/data_model_p0/unique/test_unique_table_new_sequence.groovy
  regression-test/suites/data_model_p0/unique/test_unique_table_sequence.groovy
Labels: kind/test, reviewed, dev/1.2.2

#16326 [improvement](multi-catalog) increase default batch_size to 4064
  be/src/vec/exec/format/csv/csv_reader.cpp
  be/src/vec/exec/format/generic_reader.h
  be/src/vec/exec/format/json/new_json_reader.cpp
  be/src/vec/exec/format/orc/vorc_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: area/vectorization, area/multi-catalog, dev/1.2.2

#16345 [nereids](nvl) Fix function signature
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/Nvl.java
Labels: approved, reviewed, area/nereids

#16279 [typo](docs)fix docs format
  docs/en/docs/data-operate/import/import-way/load-json-format.md
  docs/en/docs/sql-manual/sql-functions/date-time-functions/week.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  docs/zh-CN/docs/data-operate/import/import-way/load-json-format.md
  docs/zh-CN/docs/sql-manual/sql-functions/date-time-functions/week.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
Labels: kind/docs, approved, reviewed

#16288 [refactor](Nereids) bind slot and function in one rule
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/NereidsAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AnalyzeRulesJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/RuntimeFilterGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/FunctionBinder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/SlotBinder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/SubExprAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/ExpressionNormalization.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/CharacterLiteralTypeCoercion.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/TypeCoercion.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalSchemaScan.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/FillUpMissingSlotsTest.java
Labels: approved, reviewed, area/nereids

#16221 [typo](doc) revise zh-CN document markdown format in ALTER-SYSTEM-DECOMMISSION-BACKEND
  docs/zh-CN/docs/sql-manual/sql-reference/Cluster-Management-Statements/ALTER-SYSTEM-DECOMMISSION-BACKEND.md
Labels: kind/docs

#16355 [Feature-WIP](inverted index) support array type for inverted index reader
  be/src/vec/exec/scan/vscan_node.cpp
  fe/fe-common/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/IndexDef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MatchPredicate.java
  regression-test/data/inverted_index_p0/test_array_index.out
  regression-test/suites/inverted_index_p0/test_array_index.groovy
Labels: area/planner, kind/test, area/vectorization, reviewed

#16357 [improvement](testcase) change order by sql in test_dup_mv_bitmap_hash.groovy to make result stable
  regression-test/data/materialized_view_p0/test_dup_mv_bitmap_hash/test_dup_mv_bitmap_hash.out
  regression-test/suites/materialized_view_p0/test_dup_mv_bitmap_hash/test_dup_mv_bitmap_hash.groovy
Labels: kind/test, approved, reviewed

#16312 [fix](Nereids): fix bugs in test join5
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpecHash.java
  regression-test/suites/nereids_p0/join/test_join5.groovy
Labels: kind/test, area/nereids

#16323 [fix](test) result order in group-by-costant case is not stable
  regression-test/data/nereids_syntax_p0/group_by_constant.out
  regression-test/suites/nereids_syntax_p0/group_by_constant.groovy
Labels: kind/test, approved, reviewed

#16271 [feature](JdbcExternalCatalog) support insert data in JdbcExternalCatalog
  be/src/exec/table_connector.cpp
  docker/thirdparties/docker-compose/mysql/init/03-create-table.sql
  docker/thirdparties/docker-compose/oracle/init/03-create-table.sql
  docker/thirdparties/docker-compose/postgresql/init/02-create-table.sql
  fe/fe-core/src/main/java/org/apache/doris/analysis/InsertStmt.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/GlobalTransactionMgr.java
  regression-test/data/jdbc_catalog_p0/test_mysql_jdbc_catalog.out
  regression-test/data/jdbc_catalog_p0/test_oracle_jdbc_catalog.out
  regression-test/data/jdbc_catalog_p0/test_pg_jdbc_catalog.out
  regression-test/suites/jdbc_catalog_p0/test_mysql_jdbc_catalog.groovy
  regression-test/suites/jdbc_catalog_p0/test_oracle_jdbc_catalog.groovy
  regression-test/suites/jdbc_catalog_p0/test_pg_jdbc_catalog.groovy
Labels: area/planner, kind/test, reviewed, area/multi-catalog, dev/1.2.2

#16304 [improvement](multi-catalog) use date/datetimev2 as default col type for catalog table
  be/src/runtime/buffer_control_block.cpp
  be/src/vec/exec/scan/vscanner.cpp
  docs/zh-CN/community/developer-guide/regression-testing.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/EsUtil.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
Labels: kind/docs, area/vectorization, area/multi-catalog, dev/1.2.2

#15971 [Feature](Nereids) Support order and limit in subquery
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundSlot.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/EliminateSpecificPlanUnderApplyJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriteJobExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CheckAfterRewrite.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/SubExprAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateLimitUnderApply.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateSortUnderApply.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/CheckRowPolicyTest.java
  regression-test/data/nereids_syntax_p0/sub_query_correlated.out
  regression-test/data/nereids_syntax_p0/sub_query_diff_old_optimize.out
  regression-test/suites/nereids_syntax_p0/sub_query_correlated.groovy
  regression-test/suites/nereids_syntax_p0/sub_query_diff_old_optimize.groovy
Labels: kind/test, approved, reviewed, area/nereids

#16299 [fix](cooldown) Fix bugs in cooldown single replica files
  be/src/agent/task_worker_pool.cpp
  be/src/olap/base_tablet.h
  be/src/olap/snapshot_manager.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/olap/tablet_manager.cpp
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_meta.h
  be/src/olap/version_graph.h
  be/test/olap/tablet_test.cpp
Labels: approved, reviewed

#16251 [refactor](row-store) make row store column a hidden column in meta
  be/src/common/consts.h
  be/src/olap/compaction.cpp
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/segment_v2/segment.cpp
  be/src/olap/rowset/segment_v2/segment.h
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/src/olap/rowset/vertical_beta_rowset_writer.cpp
  be/src/olap/schema.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/tablet_schema.h
  be/src/vec/jsonb/serialize.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnDef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
Labels: area/planner, area/vectorization

#16358 [Improve](row-store) check light schema change must enabled
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  regression-test/suites/point_query_p0/test_point_query.groovy
Labels: kind/test

#16361 [fix](scan) coredump caused by null of _scanner_ctx
  be/src/vec/exec/scan/vscan_node.cpp
Labels: area/vectorization, dev/1.2.2

#16353 [bug](jdbc) fix jdbc insert decimalv3 be core dump
  be/src/exec/table_connector.cpp
Labels: approved, reviewed, dev/1.2.2

#16308 [bug](function) fix mask_first_n function can't handle const value
  be/src/vec/functions/function_string.h
  regression-test/data/nereids_function_p0/scalar_function/L-Q.out
  regression-test/suites/nereids_function_p0/scalar_function/L-Q.groovy
Labels: kind/test, approved, area/sql/function, area/vectorization, reviewed, dev/1.2.2

#16365 [refactor](Nereids) remove trick datatype code in Expression
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Add.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/BinaryArithmetic.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/CaseWhen.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Multiply.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Subtract.java
Labels: approved, reviewed, area/nereids

#15966 [Feature](map) add map type to doris
  be/src/exprs/anyval_util.cpp
  be/src/olap/field.h
  be/src/olap/page_cache.cpp
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/column_reader.h
  be/src/olap/rowset/segment_v2/column_writer.cpp
  be/src/olap/rowset/segment_v2/column_writer.h
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/types.cpp
  be/src/olap/types.h
  be/src/runtime/CMakeLists.txt
  be/src/runtime/map_value.cpp
  be/src/runtime/map_value.h
  be/src/runtime/primitive_type.cpp
  be/src/runtime/types.cpp
  be/src/udf/udf.h
  be/src/vec/CMakeLists.txt
  be/src/vec/columns/column.h
  be/src/vec/columns/column_map.cpp
  be/src/vec/columns/column_map.h
  be/src/vec/core/field.h
  be/src/vec/core/types.h
  be/src/vec/data_types/data_type.cpp
  be/src/vec/data_types/data_type.h
  be/src/vec/data_types/data_type_factory.cpp
  be/src/vec/data_types/data_type_factory.hpp
  be/src/vec/data_types/data_type_map.cpp
  be/src/vec/data_types/data_type_map.h
  be/src/vec/exprs/vexpr.cpp
  be/src/vec/exprs/vmap_literal.cpp
  be/src/vec/exprs/vmap_literal.h
  be/src/vec/functions/array/function_array_element.h
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/olap_data_convertor.h
  be/src/vec/sink/vmysql_result_writer.cpp
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/CastExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MapLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/MapType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PrimitiveType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/Util.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlColType.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  gensrc/script/doris_builtins_functions.py
  gensrc/script/gen_builtins_functions.py
  gensrc/thrift/Exprs.thrift
Labels: area/planner, approved, area/sql/function, area/vectorization, reviewed

#16363 [fix](nereids)the order exprs in sort node should be slotRef in its tupleDesc
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  regression-test/suites/nereids_syntax_p0/test_join_nereids.groovy
Labels: kind/test, approved, reviewed, area/nereids

#16379 [feature](struct-type/map-type) Add switch for struct and map type for creating table
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CreateTableTest.java
Labels: area/planner, approved, reviewed

#16376 [chore](regression-test) Remove array config in regression test
  regression-test/suites/delete_p0/test_array_column_delete.groovy
  regression-test/suites/nereids_p0/sql_functions/array_functions/test_array_functions_of_array_difference.groovy
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_of_array_difference.groovy
Labels: kind/test, approved, area/array-type, reviewed

#16350 [fix](broker) Fix bug that heavy broker load may failed due to BrokerException which indicate the fd is not owned by client
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/BrokerFileSystem.java
  fs_brokers/apache_hdfs_broker/src/main/java/org/apache/doris/broker/hdfs/ClientContextManager.java
Labels: kind/fix, approved, reviewed, area/broker-load, dev/1.2.2

#16021 [refactor](reader) refactor broker_file_reader to get _client in the constructor
  be/src/io/fs/broker_file_reader.cpp
  be/src/io/fs/broker_file_reader.h
Labels: approved, reviewed

#16364 [Bug](CURRENT_TIMESTAMP) Fix wrong default value after schema change
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnDef.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  regression-test/data/datatype_p0/date/test_default_current_timestamp.out
  regression-test/suites/datatype_p0/date/test_default_current_timestamp.groovy
Labels: area/planner, kind/test, dev/1.2.2

#16282 [fix](Nereids): fix some bugs in DpHyper
  fe/fe-core/src/main/java/org/apache/doris/nereids/NereidsPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/JoinOrderJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/HyperGraph.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/Node.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/SubgraphEnumerator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/receiver/PlanReceiver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/MergeProjectPostProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/PlanPostProcessors.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: area/nereids

#16399 [Fix](topn) fix wrong nullable cast for RowId column and use heapsort…
  be/src/vec/common/sort/heap_sorter.cpp
  be/src/vec/common/sort/sorter.cpp
  be/src/vec/exec/vsort_node.cpp
  be/src/vec/utils/util.hpp
Labels: area/vectorization

#16394 [Bug](datev2) Fix bug when cast datev2 to date
  be/src/vec/functions/function_cast.h
  regression-test/data/datatype_p0/date/test_date_exprs.out
  regression-test/suites/datatype_p0/date/test_date_exprs.groovy
Labels: kind/test, approved, area/sql/function, area/vectorization, reviewed, dev/1.2.2

#16169 [fix](nereids) Delete invalid signature of nvl function
  regression-test/data/nereids_function_p0/scalar_function/G-K.out
  regression-test/data/nereids_function_p0/scalar_function/L-Q.out
  regression-test/suites/nereids_function_p0/scalar_function/G-K.groovy
  regression-test/suites/nereids_function_p0/scalar_function/L-Q.groovy
Labels: kind/test, approved, reviewed, area/nereids

#16370 [fix](planner) Doris returns empty sets when select from a inline view
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotRef.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/QueryStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/QueryPlanTest.java
  regression-test/data/query_p0/subquery/test_subquery2.out
  regression-test/suites/query_p0/subquery/test_subquery2.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.2.2

#16406 [Fix](point query) OlapScanNode `reuslt` could be memleak since it's …
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: area/planner

#16261 [bugfix](disk balance) remove new rowset time check when add tablet
  be/src/olap/tablet_manager.cpp
Labels: reviewed, dev/1.2.2

#16298 [feature](nereids) 4 phase aggregation
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/AggregateStrategies.java
  regression-test/data/nereids_syntax_p0/agg_4_phase.out
  regression-test/suites/nereids_syntax_p0/agg_4_phase.groovy
Labels: kind/docs, area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed, area/nereids

#16413 [fix](map-type) fix compile error
  be/src/runtime/types.cpp
  be/src/vec/exprs/vexpr.cpp
Labels: area/vectorization

#16257 [docs](docs) update en docs
  docs/en/docs/lakehouse/external-table/jdbc.md
  docs/en/docs/lakehouse/file.md
  docs/en/docs/lakehouse/multi-catalog/es.md
  docs/en/docs/lakehouse/multi-catalog/faq.md
  docs/en/docs/lakehouse/multi-catalog/jdbc.md
  docs/zh-CN/docs/lakehouse/external-table/jdbc.md
Labels: kind/docs

#16391 [improvement](compatibility) add DATA_TYPE in information schema for new types
  be/src/exec/schema_scanner/schema_columns_scanner.cpp
  regression-test/data/datatype_p0/scalar_types/sql/infomation_schema.out
  regression-test/suites/datatype_p0/scalar_types/sql/infomation_schema.sql
Labels: kind/test

#16369 [Improvement](statistics) optimise histogram keyword
  docs/en/docs/sql-manual/sql-functions/aggregate-functions/histogram.md
  docs/zh-CN/docs/sql-manual/sql-functions/aggregate-functions/histogram.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/statistics/HistogramTask.java
  regression-test/suites/nereids_p0/sql_functions/aggregate_functions/test_aggregate_histogram.groovy
  regression-test/suites/query_p0/sql_functions/aggregate_functions/test_aggregate_histogram.groovy
Labels: kind/docs, kind/test, approved, reviewed

#16305 [Improvement](statistics) show analysis job info
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowAnalyzeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisManager.java
Labels: area/planner, approved, reviewed

#16395 [typo](docs) Fixed some display errors caused by MD syntax errors
  docs/en/docs/data-operate/import/import-scenes/local-file-load.md
  docs/zh-CN/docs/data-operate/import/import-scenes/local-file-load.md
Labels: kind/docs

#16397 [Bug](date) Fix BE crash caused by function `datediff`
  be/src/vec/functions/function_date_or_datetime_computation.h
  regression-test/data/query_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/query_p0/sql_functions/datetime_functions/test_date_function.groovy
Labels: kind/test, area/sql/function, area/vectorization, dev/1.2.2

#16389 [chore](docs) fix typo in ADMIN-CHECK-TABLET
  docs/en/docs/sql-manual/sql-reference/Database-Administration-Statements/ADMIN-CHECK-TABLET.md
  docs/zh-CN/docs/sql-manual/sql-reference/Database-Administration-Statements/ADMIN-CHECK-TABLET.md
Labels: kind/docs

#16218 [feature-wip](MTMV) Support refresh mtmv
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/mtmv/MTMVJobManager.java
  fe/fe-core/src/main/java/org/apache/doris/mtmv/MTMVTaskManager.java
  fe/fe-core/src/main/java/org/apache/doris/mtmv/MTMVUtils.java
  regression-test/suites/mtmv_p0/test_create_mtmv.groovy
Labels: area/planner, kind/test, approved, reviewed, area/multi-table-materialized-view

#16381 [fix](memory) Fix request jemallloc metrics wait lock `je_malloc_mutex_lock_slow`
  be/src/common/daemon.cpp
  be/src/runtime/memory/jemalloc_hook.cpp
  be/src/util/system_metrics.cpp
  be/src/util/system_metrics.h
Labels: dev/1.2.2

#16359 [Enhancement](Stmt)ShowPartitionsStmt support forward to master
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowPartitionsStmt.java
Labels: area/planner, dev/1.2.2

#16337 [improvement](jdbc) refator jdbc of copy result set by batch
  be/src/util/CMakeLists.txt
  be/src/util/jni-util.cpp
  be/src/util/jni-util.h
  be/src/util/jni_native_method.cpp
  be/src/util/jni_native_method.h
  be/src/vec/exec/vjdbc_connector.cpp
  be/src/vec/exec/vjdbc_connector.h
  fe/java-udf/pom.xml
  fe/java-udf/src/main/java/org/apache/doris/udf/FakeDriver.java
  fe/java-udf/src/main/java/org/apache/doris/udf/JNINativeMethod.java
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcDataSource.java
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfUtils.java
Labels: approved, area/vectorization, reviewed, dev/1.2.2

#16354 [Enhancement](profile) lazy load profileContent string
  fe/fe-core/src/main/java/org/apache/doris/common/util/ProfileManager.java
Labels: dev/1.2.2

#16333 [Refactor](function) remove useless function get to create column
  be/src/vec/exprs/vcase_expr.cpp
  be/src/vec/exprs/vcast_expr.cpp
  be/src/vec/exprs/vectorized_fn_call.cpp
  be/src/vec/exprs/vin_predicate.cpp
Labels: approved, area/vectorization, reviewed

#16278 [typo](docs)Remove doris manager doc
  README.md
  docs/en/docs/ecosystem/doris-manager/cluster-managenent.md
  docs/en/docs/ecosystem/doris-manager/compiling-deploying.md
  docs/en/docs/ecosystem/doris-manager/initializing.md
  docs/en/docs/ecosystem/doris-manager/space-list.md
  docs/en/docs/ecosystem/doris-manager/space-management.md
  docs/en/docs/ecosystem/doris-manager/system-settings.md
  docs/images/doris-manager/clustermanagenent-1.png
  docs/images/doris-manager/clustermanagenent-2.png
  docs/images/doris-manager/clustermanagenent-3.png
  docs/images/doris-manager/clustermanagenent-4.png
  docs/images/doris-manager/clustermanagenent-5.png
  docs/images/doris-manager/initializing-1.png
  docs/images/doris-manager/initializing-2.png
  docs/images/doris-manager/spacelist-1.png
  docs/images/doris-manager/spacelist-10.png
  docs/images/doris-manager/spacelist-11.png
  docs/images/doris-manager/spacelist-2.png
  docs/images/doris-manager/spacelist-3.png
  docs/images/doris-manager/spacelist-4.png
  docs/images/doris-manager/spacelist-5.png
  docs/images/doris-manager/spacelist-6.png
  docs/images/doris-manager/spacelist-7.png
  docs/images/doris-manager/spacelist-8.png
  docs/images/doris-manager/spacelist-9.png
  docs/images/doris-manager/spacemanagement-1.png
  docs/images/doris-manager/spacemanagement-2.png
  docs/images/doris-manager/spacemanagement-3.png
  docs/images/doris-manager/systemsettings-1.png
  docs/images/doris-manager/systemsettings-2.png
  docs/images/doris-manager/systemsettings-3.png
  docs/images/doris-manager/systemsettings-4.png
  docs/sidebars.json
  docs/zh-CN/docs/data-operate/update-delete/sequence-column-manual.md
  docs/zh-CN/docs/ecosystem/doris-manager/cluster-managenent.md
  docs/zh-CN/docs/ecosystem/doris-manager/compiling-deploying.md
  docs/zh-CN/docs/ecosystem/doris-manager/initializing.md
  docs/zh-CN/docs/ecosystem/doris-manager/space-list.md
  docs/zh-CN/docs/ecosystem/doris-manager/space-management.md
  docs/zh-CN/docs/ecosystem/doris-manager/system-settings.md
Labels: kind/docs, reviewed

#16328 [enhancement](profile) add the profile counter RawRowsRead to record the rows read from the parquet file
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
  be/src/vec/exec/format/parquet/vparquet_reader.h
Labels: area/vectorization, dev/1.2.2

#16252 [Bug](vectorized)Fix reading date and datetime types conversion error
  be/src/util/arrow/block_convertor.cpp
Labels: approved, reviewed, dev/1.2.2

#16126 [fix](be)the set operation node should accept both nullable and non-nullable data from child node
  be/src/vec/exec/vset_operation_node.cpp
  regression-test/data/correctness_p0/test_set_operation.out
  regression-test/suites/correctness_p0/test_set_operation.groovy
Labels: kind/test, approved, area/vectorization, reviewed, dev/1.2.2

#16407 [fix](fe)only set column info for slots in sortTupleDesc
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SortInfo.java
  regression-test/data/correctness_p0/test_topn_with_cast_to_date.out
  regression-test/suites/correctness_p0/test_topn_with_cast_to_date.groovy
Labels: area/planner, kind/test, approved, reviewed

#16377 [fix](vertical compaction) fix uint32_t init value
  be/src/vec/olap/vertical_merge_iterator.h
Labels: area/vectorization, dev/1.2.2

#16408 [fix](func) fix core dump when the pattern of the regexp_extract_all function does not contain subpatterns
  be/src/vec/functions/function_regexp.cpp
  docs/en/docs/sql-manual/sql-functions/string-functions/regexp/regexp_extract_all.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/regexp/regexp_extract_all.md
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function_regexp.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function_regexp.groovy
Labels: kind/docs, kind/test, area/sql/function, area/vectorization

#16372 [fix](iceberg) fix iceberg catalog rest access
  be/src/vec/exec/format/generic_reader.h
  be/src/vec/exec/format/table/iceberg_reader.cpp
  be/src/vec/exec/format/table/iceberg_reader.h
  be/src/vec/exec/scan/scanner_scheduler.cpp
  docs/zh-CN/docs/lakehouse/multi-catalog/iceberg.md
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergExternalCatalogFactory.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergHMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergRestExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
Labels: kind/docs, approved, area/vectorization, reviewed, area/multi-catalog

#16387 [typo](docs) fix docs，chinese characters error
  docs/zh-CN/community/how-to-contribute/commit-format-specification.md
Labels: kind/docs

#16415 [fix](multi-catalog) fix recursive get schema cache bug
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/EsExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/ExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/IcebergExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/JdbcExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/EsExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/iceberg/IcebergExternalCatalog.java
  regression-test/data/external_table_emr_p2/hive/test_external_github.out
  regression-test/suites/external_table_emr_p2/hive/test_external_github.groovy
Labels: kind/test, area/multi-catalog, dev/1.2.2

#16423 [typo](docs)Add a version label to the jdbc multi-catalog
  docs/en/docs/lakehouse/multi-catalog/jdbc.md
  docs/zh-CN/docs/lakehouse/multi-catalog/jdbc.md
Labels: kind/docs, approved, reviewed

#16400 [fix](complex_type) fix clone_type_info function return default scalar type
  be/src/olap/types.cpp
  be/src/runtime/types.cpp
  be/src/vec/exprs/vexpr.cpp
Labels: approved, area/vectorization, reviewed

#16277 [fix](keywork) add TIME to keyword
  fe/fe-core/src/main/cup/sql_parser.cup
Labels: dev/1.2.2

#16263 [Improve](row-store) support row cache
  be/src/common/config.h
  be/src/olap/delta_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/rowset_writer_context.h
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/src/runtime/exec_env_init.cpp
  be/src/service/point_query_executor.cpp
  be/src/service/point_query_executor.h
  be/src/vec/jsonb/serialize.cpp
  be/src/vec/jsonb/serialize.h
  regression-test/data/point_query_p0/test_point_query.out
  regression-test/suites/point_query_p0/test_point_query.groovy
Labels: kind/test, area/vectorization, reviewed

#15831 [fix](fe)predicate is wrongly pushed through CUBE function
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  regression-test/data/query_p0/grouping_sets/test_grouping_sets.out
  regression-test/suites/query_p0/grouping_sets/test_grouping_sets.groovy
Labels: area/planner, kind/test, dev/1.2.2-merged

#16419 [fix](MTMV) Use current db to identify the MTMV tasks and jobs
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowMTMVJobStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowMTMVTaskStmt.java
  fe/fe-core/src/main/java/org/apache/doris/mtmv/MTMVJobManager.java
  fe/fe-core/src/main/java/org/apache/doris/mtmv/MTMVTaskManager.java
  fe/fe-core/src/test/java/org/apache/doris/mtmv/ShowMTMVJobStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/mtmv/ShowMTMVTaskStmtTest.java
Labels: area/planner, approved, reviewed

#16420 [build-support](code-style): Add more config in IntelliJ-code-format.xml
  build-support/IntelliJ-code-format.xml
Labels: approved, reviewed

#16368 [enhance](Nereids): polish code
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriteJobExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/AdjustNullable.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushFilterInsideJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalFilter.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscomProjectTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscomTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLeftAssociateTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinRightAssociateTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/JoinCommuteTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/JoinExchangeTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomProjectTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinLogicalJoinTransposeProjectTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinLogicalJoinTransposeTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinSemiJoinTransposeProjectTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinSemiJoinTransposeTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateOuterJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/ExtractFilterFromCrossJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushFilterInsideJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownFilterThroughJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/ReorderJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/LogicalPlanBuilder.java
Labels: approved, reviewed, area/nereids

#15663 [Improvement](topn) order by key topn query optimization
  be/src/olap/iterators.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/beta_rowset_reader.h
  be/src/olap/rowset/rowset_reader_context.h
  be/src/olap/rowset/segment_v2/empty_segment_iterator.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/runtime/runtime_predicate.cpp
  be/src/vec/core/block.cpp
  be/src/vec/core/block.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/vcollect_iterator.cpp
  be/src/vec/olap/vcollect_iterator.h
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OriginalPlanner.java
Labels: area/planner, area/vectorization

#16325 [bugfix](RemoteUDF) fix remote udf retrun `rpc env init error`
  be/src/vec/functions/function_rpc.cpp
  samples/doris-demo/remote-udf-cpp-demo/cpp_function_service_demo.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.2.2

#16433 [chore](type-info) Remove unused method in TypeInfo
  be/src/olap/types.h
Labels: approved, reviewed

#16430 [Fix](load) Fix memory leak for stream load 2pc
  be/src/http/action/stream_load_2pc.cpp
  be/src/http/action/stream_load_2pc.h
Labels: dev/1.2.2

#16405 [fix](regression-test) fix external table p2 case bug
  regression-test/suites/external_table_emr_p2/hive/test_external_hive.groovy
Labels: kind/test, approved, reviewed, dev/1.2.2

#16373 [regression](fix) 1. fix broker load test case and add orc test 2. se…
  regression-test/pipeline/p0/conf/regression-conf.groovy
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case1_create.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case1_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case2_create.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case2_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case3_create.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case3_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case4_create.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case4_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case5_create.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case5_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case6_create.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case6_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case7_create.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case7_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case8_create.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case8_drop.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case9_create.sql
  regression-test/suites/load_p0/broker_load/ddl/orc_s3_case9_drop.sql
  regression-test/suites/load_p0/broker_load/test_broker_load.groovy
Labels: kind/test

#16336 [fix](merge-on-write) fix that the query result has duplicate keys
  be/src/olap/compaction.cpp
  be/src/olap/merger.cpp
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/vertical_beta_rowset_writer.cpp
  be/test/olap/rowid_conversion_test.cpp
Labels: approved, reviewed, dev/1.2.2

#16284 [fix](docs) fix the 404 bad link of website doc
  docs/en/docs/admin-manual/maint-monitor/memory-management/be-oom-analysis.md
  docs/en/docs/admin-manual/maint-monitor/monitor-alert.md
  docs/en/docs/advanced/compute_node.md
  docs/en/docs/advanced/resource.md
  docs/en/docs/releasenotes/release-1.2.0.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-RESOURCE.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
  docs/zh-CN/docs/admin-manual/maint-monitor/memory-management/be-oom-analysis.md
  docs/zh-CN/docs/admin-manual/maint-monitor/monitor-alert.md
  docs/zh-CN/docs/advanced/compute_node.md
  docs/zh-CN/docs/advanced/resource.md
  docs/zh-CN/docs/releasenotes/release-1.2.0.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-RESOURCE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/BROKER-LOAD.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Load/STREAM-LOAD.md
Labels: kind/docs, reviewed

#16421 [fix](ut) TestDeltaWriter fail
  be/test/olap/delta_writer_test.cpp
Labels: dev/1.2.2

#15562 [fix](restore) do not set default replication_allocation when restore…
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableProperty.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/OlapTableTest.java
Labels: dev/1.2.2

#16422 [Fix](load)Use lower case for load column names.
  fe/fe-core/src/main/java/org/apache/doris/analysis/DataDescription.java
  fe/fe-core/src/main/java/org/apache/doris/load/Load.java
  regression-test/data/load_p0/stream_load/test_orc_case.orc
  regression-test/data/load_p0/stream_load/test_parquet_case.parquet
  regression-test/data/load_p0/stream_load/test_parquet_orc_case.out
  regression-test/suites/load_p0/stream_load/test_parquet_orc_case.groovy
Labels: area/load, area/planner, kind/test, approved, reviewed

#16435 [Bug](mark join) Fix mark join with other conjuncts
  be/src/vec/exec/join/process_hash_table_probe_impl.h
  regression-test/data/correctness/test_subquery_in_disjunction.out
  regression-test/suites/correctness/test_subquery_in_disjunction.groovy
  regression-test/suites/datatype_p0/date/test_date_exprs.groovy
Labels: kind/test, area/vectorization, dev/1.2.2

#16293 [Bug](broker load) fix hll_hash(null) in broker load report incorrect Exception
  fe/fe-core/src/main/java/org/apache/doris/analysis/DataDescription.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/DataDescriptionTest.java
Labels: area/planner, approved, reviewed, dev/1.2.2

#16388 [improvement](multi-catalog) push down all predicates into rowgroup/page filtering for ParquetReader
  be/src/vec/exec/format/parquet/parquet_common.cpp
  be/src/vec/exec/format/parquet/parquet_common.h
  be/src/vec/exec/format/parquet/parquet_pred_cmp.h
  be/src/vec/exec/format/parquet/vparquet_page_index.cpp
  be/src/vec/exec/format/parquet/vparquet_page_index.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
Labels: approved, area/vectorization, reviewed, area/multi-catalog

#15614 [Feature](Nereids) Add hint to enable pre-aggregation when scan OLAP table.
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/mv/AbstractSelectMaterializedIndexRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/mv/SelectMaterializedIndexWithAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/mv/SelectMaterializedIndexWithoutAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalOlapScan.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/mv/SelectRollupIndexTest.java
Labels: approved, reviewed, area/nereids

#16441 [enhancement](mpp process) remove unused method and make report process more clear
  be/src/runtime/buffer_control_block.cpp
  be/src/runtime/buffer_control_block.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/plan_fragment_executor.h
  be/src/runtime/result_buffer_mgr.cpp
  be/src/runtime/result_buffer_mgr.h
  be/src/service/backend_service.cpp
  be/src/service/backend_service.h
  be/test/CMakeLists.txt
  be/test/runtime/buffer_control_block_test.cpp
  fe/fe-core/src/test/java/org/apache/doris/common/GenericPoolTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/MockedBackendFactory.java
  gensrc/thrift/BackendService.thrift
Labels: approved, reviewed

#16412 [enhancement](stream receiver) make stream receiver exception safe
  be/src/util/proto_util.h
  be/src/vec/common/sort/sorter.cpp
  be/src/vec/core/block.h
  be/src/vec/core/block_spill_reader.cpp
  be/src/vec/core/block_spill_reader.h
  be/src/vec/core/sort_cursor.h
  be/src/vec/exec/vexchange_node.cpp
  be/src/vec/runtime/vdata_stream_recvr.cpp
  be/src/vec/runtime/vdata_stream_recvr.h
  be/test/vec/core/block_spill_test.cpp
Labels: approved, area/vectorization, reviewed

#16427 [DecimalV3](opt) opt the function of decimalv3 to_string logic
  be/src/exec/olap_common.h
  be/src/exprs/runtime_filter.h
  be/src/vec/core/types.h
  be/src/vec/data_types/data_type_decimal.cpp
  be/src/vec/exprs/vliteral.cpp
  be/src/vec/functions/function_cast.h
  be/src/vec/io/io_helper.h
  be/src/vec/utils/histogram_helpers.hpp
Labels: area/sql/function, area/vectorization, dev/1.2.2

#16460 [Bug](sort) disable 2phase read for sort by expressions exclude slotref
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OriginalPlanner.java
  regression-test/data/query_p0/sort/sort.out
  regression-test/suites/query_p0/sort/sort.groovy
Labels: area/planner, kind/test

#16470 [improvement](compaction) enable compaction if state is TABLET_NOTREADY
  be/src/olap/cumulative_compaction_policy.cpp
  be/src/olap/tablet.cpp
Labels: dev/1.2.2

#16120 [Fix](Nereids)fix runtime filter cannot generate when expression is cast.
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/RuntimeFilterTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/RuntimeFilterContext.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/RuntimeFilterGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/RuntimeFilter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/ExpressionUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/postprocess/RuntimeFilterTest.java
  regression-test/suites/nereids_syntax_p0/runtime_filter.groovy
Labels: kind/test, approved, reviewed, area/nereids

#16476 [fix](pipeline) incorrect result when disabling sharing hash table
  be/src/vec/sink/vdata_stream_sender.h
Labels: area/vectorization

#16482 [pick](compaction)pick 16470
  be/src/olap/cumulative_compaction_policy.cpp
  be/src/olap/tablet.cpp
Labels: approved, reviewed

#16468 [fix](func) fix truncate float type result error
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/math_functions/test_round.out
  regression-test/suites/query_p0/sql_functions/math_functions/test_round.groovy
Labels: kind/test, approved, area/sql/function, reviewed

#16386 [fix](nereids) FE nereids use DateV2Literal instead of 'cast datev2'
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/ExpressionTranslator.java
Labels: approved, reviewed, area/nereids

#16454 [Doc](Jdbc Catlog) JDBC Catalog support `Insert` operation
  docs/en/docs/lakehouse/multi-catalog/jdbc.md
  docs/zh-CN/docs/lakehouse/multi-catalog/jdbc.md
Labels: kind/docs

#16464 [typo](doc)Modify thrift_rpc_timeout_ms default value documentation
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#16462 [enhancement](compaction) set base compaction idle schedule
  be/src/common/config.h
  be/src/olap/base_compaction.cpp
  be/src/util/thread.cpp
  be/src/util/thread.h
Labels: approved, reviewed, dev/1.1.6

#16452 [typo](docs) Fix some errors in the description
  docs/en/docs/data-operate/import/import-scenes/load-data-convert.md
  docs/zh-CN/docs/data-operate/import/import-scenes/load-data-convert.md
Labels: kind/docs

#16474 [Bug](share hash table) Support shared hash table on Nereids
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: area/nereids

#16229 [fix](doc): fix typo of `tpch.md` and `ssb.md`
  docs/zh-CN/docs/benchmark/tpch.md
Labels: kind/docs, reviewed

#16491 [fix](Nereids): fix filter.
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/PlanUtils.java
Labels: approved, reviewed, area/nereids

#16382 [Feature](array-function) Support array functions for nested type datev2 and datetimev2
  be/src/vec/aggregate_functions/aggregate_function_collect.cpp
  be/src/vec/data_types/data_type_time_v2.cpp
  be/src/vec/data_types/data_type_time_v2.h
  be/src/vec/functions/array/function_array_distinct.h
  be/src/vec/functions/array/function_array_element.h
  be/src/vec/functions/array/function_array_index.h
  be/src/vec/functions/array/function_array_join.h
  be/src/vec/functions/array/function_array_remove.h
  be/src/vec/functions/array/function_array_set.h
  be/src/vec/functions/array/function_array_sort.h
  be/src/vec/functions/array/function_arrays_overlap.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/array_functions/test_array_aggregation_functions.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions_by_literal.out
  regression-test/data/query_p0/sql_functions/cast_function/test_cast_string_to_array.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_aggregation_functions.groovy
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions.groovy
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_by_literal.groovy
  regression-test/suites/query_p0/sql_functions/cast_function/test_cast_string_to_array.groovy
Labels: area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed, dev/1.2.2

#16429 [fix](iceberg) update iceberg docs and add credential properties
  docs/en/docs/lakehouse/multi-catalog/iceberg.md
  docs/zh-CN/docs/lakehouse/multi-catalog/iceberg.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/S3Resource.java
Labels: kind/docs, approved, reviewed, area/multi-catalog, dev/1.2.2

#16402 [fix](hashjoin) join produce blocks with rows larger than batch size: handle join with other conjuncts
  be/src/vec/exec/join/process_hash_table_probe.h
  be/src/vec/exec/join/process_hash_table_probe_impl.h
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
  regression-test/data/correctness_p0/test_left_anti_join_batch_size.out
  regression-test/suites/correctness_p0/test_left_anti_join_batch_size.sql
Labels: kind/test, area/vectorization, reviewed

#16401 [fix](planner) npe in RewriteBinaryPredicatesRule
  fe/fe-core/src/main/java/org/apache/doris/rewrite/RewriteBinaryPredicatesRule.java
Labels: approved, reviewed, dev/1.2.2

#16489 [Bug](point query) Reusable in PointQueryExecutor should call init b…
  be/src/service/point_query_executor.cpp
Labels: reviewed

#16493 [improvement](fuzzy) print fuzzy session variable in FE audit log
  fe/fe-core/src/main/java/org/apache/doris/plugin/AuditEvent.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/VariableMgr.java
Labels: reviewed, dev/1.2.2

#16486 [Fix](multi catalog)(planner) Fix external table statistic collection bug.
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HiveAnalysisTask.java
Labels: area/multi-catalog

#16510 [Bug](fix) right anti join error result when batch size is low
  be/src/vec/exec/join/vnested_loop_join_node.cpp
  regression-test/suites/query_p0/join/test_join.groovy
Labels: kind/test, area/vectorization

#15830 [enhancement](load) Change transaction limit from global level to db level
  docs/en/docs/admin-manual/config/fe-config.md
  docs/zh-CN/docs/admin-manual/config/fe-config.md
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterDatabaseQuotaStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowDataStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Database.java
  fe/fe-core/src/main/java/org/apache/doris/common/proc/DbsProcDir.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/ParseUtil.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalSyncChannel.java
  fe/fe-core/src/main/java/org/apache/doris/transaction/DatabaseTransactionMgr.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/AlterDatabaseQuotaStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/common/proc/DbsProcDirTest.java
Labels: area/load, kind/docs, area/planner, approved, reviewed

#16479 [fix](planner)group_concat lost order by info in second phase merge agg
  fe/fe-core/src/main/java/org/apache/doris/analysis/AggregateInfo.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/GroupConcat.java
  regression-test/data/nereids_p0/group_concat/test_group_concat.out
  regression-test/data/query_p0/group_concat/test_group_concat.out
  regression-test/suites/nereids_p0/group_concat/test_group_concat.groovy
  regression-test/suites/query_p0/group_concat/test_group_concat.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids, usercase, dev/1.2.2

#16518 [Bug](log) add some log to find out bug
  be/src/vec/exec/vaggregation_node.cpp
  fe/fe-core/src/main/java/org/apache/doris/planner/AggregationNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanFragment.java
  fe/fe-core/src/main/java/org/apache/doris/planner/PlanNode.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: area/planner, approved, area/vectorization, reviewed

#16507 [fix](runtime-filter)(branch-1.2) add the `_acquire_runtime_filter` method that was accidentally deleted
  be/src/vec/exec/scan/vscan_node.cpp
Labels: area/vectorization, dev/1.2.2-merged

#16535 [fix](hashjoin) join produce blocks with rows larger than batch size
  be/src/vec/exec/join/process_hash_table_probe.h
  be/src/vec/exec/join/process_hash_table_probe_impl.h
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
Labels: area/vectorization

#16501 [fix](docs) add the batch interval time of sink in spark connector doc
  docs/en/docs/ecosystem/spark-doris-connector.md
  docs/zh-CN/docs/ecosystem/spark-doris-connector.md
Labels: kind/docs, approved, reviewed

#16530 [enhancement][docs] add docs for newly added two compaction method (#16529)
  docs/en/docs/advanced/best-practice/compaction.md
  docs/sidebars.json
  docs/zh-CN/docs/advanced/best-practice/compaction.md
Labels: kind/docs, approved, reviewed

#16488 [fix](cooldown) Rewrite update cooldown conf
  be/src/agent/task_worker_pool.cpp
  be/src/olap/olap_server.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/CatalogRecycleBin.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Tablet.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletInvertedIndex.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TabletMeta.java
  fe/fe-core/src/main/java/org/apache/doris/cooldown/CooldownConf.java
  fe/fe-core/src/main/java/org/apache/doris/cooldown/CooldownConfHandler.java
  fe/fe-core/src/main/java/org/apache/doris/cooldown/CooldownConfList.java
  fe/fe-core/src/main/java/org/apache/doris/cooldown/CooldownException.java
  fe/fe-core/src/main/java/org/apache/doris/cooldown/CooldownHandler.java
  fe/fe-core/src/main/java/org/apache/doris/cooldown/CooldownJob.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/persist/meta/MetaPersistMethod.java
  fe/fe-core/src/main/java/org/apache/doris/persist/meta/PersistMetaModules.java
  fe/fe-core/src/test/java/org/apache/doris/backup/CatalogMocker.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CatalogTestUtil.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/TabletTest.java
  fe/fe-core/src/test/java/org/apache/doris/clone/ClusterLoadStatisticsTest.java
  fe/fe-core/src/test/java/org/apache/doris/clone/RebalancerTestUtil.java
  fe/fe-core/src/test/java/org/apache/doris/common/util/UnitTestUtil.java
  fe/fe-core/src/test/java/org/apache/doris/cooldown/CooldownJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/http/DorisHttpTestCase.java
  fe/fe-core/src/test/java/org/apache/doris/load/DeleteHandlerTest.java
  gensrc/thrift/MasterService.thrift
  regression-test/suites/cold_heat_separation/policy/alter.groovy
  regression-test/suites/cold_heat_separation/policy/create.groovy
  regression-test/suites/cold_heat_separation/policy/drop.groovy
  regression-test/suites/cold_heat_separation/policy/show.groovy
  regression-test/suites/cold_heat_separation/use_policy/alter_table_add_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/create_table_use_partition_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/create_table_use_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/modify_partition_add_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/use_default_storage_policy.groovy
Labels: kind/test, approved, reviewed

#16516 [Fix](bucket) fix partition with no history data && AutoBucketUtilsTest (#16515)
  fe/fe-core/src/main/java/org/apache/doris/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/test/java/org/apache/doris/common/util/AutoBucketUtilsTest.java
Labels: approved, reviewed, dev/1.2.2
