Repository apache/doris, pull requests merged in 2023-06, with the labels that each got.

#20251 [fix](checksum) delete predicates might be inconsistent with rowset readers in checksum task
  be/src/olap/reader.cpp
  be/src/olap/task/engine_checksum_task.cpp
Labels: approved, reviewed, dev/1.2.5

#20153 [Enhancement](merge-on-write) Performance optimization of calculations of delete bitmap between segments
  be/src/olap/CMakeLists.txt
  be/src/olap/delete_bitmap_calculator.cpp
  be/src/olap/delete_bitmap_calculator.h
  be/src/olap/delta_writer.cpp
  be/src/olap/tablet.cpp
  be/src/olap/tablet.h
  be/test/CMakeLists.txt
  be/test/olap/delete_bitmap_calculator_test.cpp
Labels: good first issue, reviewed

#19594 [refactor](dynamic table) Make segment_writer unaware of dynamic schema, and ensure parsing is exception-safe.
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset_writer.h
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/rowset/segment_v2/segment_writer.h
  be/src/vec/columns/column_object.cpp
  be/src/vec/columns/column_object.h
  be/src/vec/common/schema_util.cpp
  be/src/vec/common/schema_util.h
  be/src/vec/data_types/convert_field_to_type.cpp
  be/src/vec/data_types/convert_field_to_type.h
  be/src/vec/data_types/get_least_supertype.cpp
  be/src/vec/data_types/get_least_supertype.h
  be/src/vec/exec/format/json/new_json_reader.cpp
  be/src/vec/json/json_parser.cpp
  be/src/vec/json/parse2column.cpp
  be/src/vec/json/parse2column.h
  be/src/vec/olap/olap_data_convertor.cpp
  lowercase.json
  regression-test/data/dynamic_table_p0/floating_point.json
  regression-test/data/dynamic_table_p0/floating_point2.json
  regression-test/data/dynamic_table_p0/floating_point3.json
  regression-test/data/dynamic_table_p0/invalid_dimension.json
  regression-test/data/dynamic_table_p0/invalid_format.json
  regression-test/data/dynamic_table_p0/load.out
  regression-test/data/dynamic_table_p0/lowercase.json
  regression-test/data/dynamic_table_p0/sql/q05.out
  regression-test/data/dynamic_table_p0/uppercase.json
  regression-test/suites/dynamic_table_p0/load.groovy
Labels: kind/test, approved, area/vectorization, reviewed

#20228 [fix](regression-test) add jdbc timeout
  regression-test/framework/src/main/groovy/org/apache/doris/regression/Config.groovy
Labels: kind/test, approved, reviewed

#20222 [fix][regression-test] set timeout of curl in regression test to avoid hanged when be crashed.
  regression-test/plugins/plugin_curl_requester.groovy
  regression-test/suites/compaction/test_compacation_with_delete.groovy
  regression-test/suites/compaction/test_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_compaction_agg_keys_with_delete.groovy
  regression-test/suites/compaction/test_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_compaction_dup_keys_with_delete.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys_row_store.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys_with_delete.groovy
  regression-test/suites/compaction/test_vertical_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_uniq_keys.groovy
  regression-test/suites/json_p0/test_json_load_and_function.groovy
  regression-test/suites/jsonb_p0/test_jsonb_load_and_function.groovy
  regression-test/suites/load_p0/stream_load/test_map_load_and_compaction.groovy
  regression-test/suites/schema_change/test_number_overflow.groovy
  regression-test/suites/schema_change_p0/datev2/test_agg_keys_schema_change_datev2.groovy
  regression-test/suites/schema_change_p0/datev2/test_dup_keys_schema_change_datev2.groovy
  regression-test/suites/schema_change_p0/datev2/test_schema_change_varchar_to_datev2.groovy
  regression-test/suites/schema_change_p0/decimalv3/test_agg_keys_schema_change_decimalv3.groovy
  regression-test/suites/schema_change_p0/test_agg_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_vals_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_vals_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_vals_schema_change.groovy
  regression-test/suites/schema_change_p0/test_varchar_schema_change.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_agg_keys.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_agg_keys_index.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_dup_keys.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_dup_keys_index.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_unique_keys.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_unique_keys_index.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_unique_keys_mow.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_unique_keys_mow_index.groovy
Labels: kind/test, approved, reviewed

#20280 [fix](nereids)fix fold constant rule of case when expr
  fe/fe-core/src/main/java/org/apache/doris/analysis/CaseExpr.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rules/FoldConstantRuleOnFE.java
  regression-test/data/nereids_p0/sql_functions/string_functions/test_string_function_like.out
  regression-test/suites/nereids_p0/sql_functions/string_functions/test_string_function_like.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#20235 [bug](parse) fix can't create aggregate column with agg_state
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnDef.java
Labels: area/planner, approved, reviewed

#20217 [pipeline](load) support pipeline load
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/routine_load/routine_load_task_executor.cpp
  be/src/runtime/stream_load/stream_load_executor.cpp
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/KafkaTaskInfo.java
  fe/fe-core/src/main/java/org/apache/doris/load/routineload/RoutineLoadJob.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/InsertStreamTxnExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  gensrc/thrift/BackendService.thrift
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/PaloInternalService.thrift
Labels: area/load, area/planner, approved, reviewed

#20291 [upgrade](femeta) fe meta could not upgrade successfully because we change resource groups to workload groups
  fe/fe-core/src/main/java/org/apache/doris/persist/meta/MetaPersistMethod.java
  fe/fe-core/src/main/java/org/apache/doris/persist/meta/PersistMetaModules.java
Labels: approved, reviewed, resource-group

#20052 [Fix](Nereids) fix some insert into select bugs
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/NereidsAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindInsertTargetTable.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CheckTypeToInsertTargetColumn.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ColumnPruning.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/PlanType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/algebra/Project.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/commands/InsertIntoTableCommand.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalOlapTableSink.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/PhysicalOlapTableSink.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/visitor/PlanVisitor.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/ExplainInsertCommandTest.java
  regression-test/data/nereids_p0/insert_into_table/complex_insert.out
  regression-test/data/nereids_p0/update/update_unique_table.out
  regression-test/suites/nereids_p0/insert_into_table/aggregate.groovy
  regression-test/suites/nereids_p0/insert_into_table/complex_insert.groovy
  regression-test/suites/nereids_p0/insert_into_table/duplicate.groovy
  regression-test/suites/nereids_p0/insert_into_table/no_partition.groovy
  regression-test/suites/nereids_p0/insert_into_table/type_cast_aggregate.groovy
  regression-test/suites/nereids_p0/insert_into_table/type_cast_duplicate.groovy
  regression-test/suites/nereids_p0/insert_into_table/type_cast_unique.groovy
  regression-test/suites/nereids_p0/insert_into_table/unique.groovy
  regression-test/suites/nereids_p0/insert_into_table/unsupport_type.groovy
Labels: kind/test, approved, reviewed, area/nereids

#20260 [fix](multi catalog)Fix nereids planner text format include extra column index bug.
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FileQueryScanNode.java
  regression-test/data/external_catalog_p0/hive/test_hive_other.out
  regression-test/suites/external_catalog_p0/hive/test_hive_other.groovy
Labels: area/planner, kind/test

#20293 [Fix](Nereids) regression test test_bitmap_filter_nereids could not run
  regression-test/suites/query_p0/join/test_bitmap_filter_nereids.groovy
Labels: kind/test

#20220 [Improve](Scan) add a session variable to make scan run serial
  be/src/runtime/runtime_state.h
  be/src/vec/exec/scan/vscan_node.h
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
Labels: reviewed

#20295 [Fix](Nereids) Fix function test case unstable by adding order by
  regression-test/suites/nereids_syntax_p0/function.groovy
Labels: kind/test, approved, reviewed

#20210 [fix](docs)Correct the year and month format placeholder to lower case
  docs/en/docs/sql-manual/sql-functions/date-time-functions/date_format.md
Labels: kind/docs, approved, reviewed

#20289 [Bug](exec) push down no group by agg min cause error result
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/column_reader.h
  regression-test/data/query_p0/aggregate/aggregate_not_group_null.out
  regression-test/suites/query_p0/aggregate/aggregate_not_group_null.groovy
Labels: kind/test, approved, reviewed

#20322 [fix](regression-test) fix multi-thread problem of regression-test
  regression-test/suites/compaction/test_compacation_with_delete.groovy
  regression-test/suites/compaction/test_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_compaction_agg_keys_with_delete.groovy
  regression-test/suites/compaction/test_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_compaction_dup_keys_with_delete.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys_row_store.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys_with_delete.groovy
  regression-test/suites/compaction/test_vertical_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_uniq_keys.groovy
  regression-test/suites/json_p0/test_json_load_and_function.groovy
  regression-test/suites/jsonb_p0/test_jsonb_load_and_function.groovy
  regression-test/suites/load_p0/stream_load/test_map_load_and_compaction.groovy
  regression-test/suites/schema_change/test_number_overflow.groovy
  regression-test/suites/schema_change_p0/datev2/test_agg_keys_schema_change_datev2.groovy
  regression-test/suites/schema_change_p0/datev2/test_dup_keys_schema_change_datev2.groovy
  regression-test/suites/schema_change_p0/datev2/test_schema_change_varchar_to_datev2.groovy
  regression-test/suites/schema_change_p0/decimalv3/test_agg_keys_schema_change_decimalv3.groovy
  regression-test/suites/schema_change_p0/test_agg_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_vals_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_vals_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_vals_schema_change.groovy
  regression-test/suites/schema_change_p0/test_varchar_schema_change.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_agg_keys.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_agg_keys_index.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_dup_keys.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_dup_keys_index.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_unique_keys.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_unique_keys_index.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_unique_keys_mow.groovy
  regression-test/suites/segcompaction_p2/test_segcompaction_unique_keys_mow_index.groovy
Labels: kind/test, approved, reviewed

#20315 [bug](udaf) fix java-udaf test case failed with decimal
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfUtils.java
Labels: approved, reviewed

#20347 [fix](regression-test) variable's scope returned by curl
  regression-test/suites/compaction/test_compacation_with_delete.groovy
  regression-test/suites/compaction/test_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_compaction_agg_keys_with_delete.groovy
  regression-test/suites/compaction/test_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_compaction_dup_keys_with_delete.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys_row_store.groovy
  regression-test/suites/compaction/test_compaction_uniq_keys_with_delete.groovy
  regression-test/suites/compaction/test_vertical_compaction_agg_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_dup_keys.groovy
  regression-test/suites/compaction/test_vertical_compaction_uniq_keys.groovy
  regression-test/suites/load_p0/stream_load/test_map_load_and_compaction.groovy
  regression-test/suites/schema_change_p0/datev2/test_agg_keys_schema_change_datev2.groovy
  regression-test/suites/schema_change_p0/datev2/test_dup_keys_schema_change_datev2.groovy
  regression-test/suites/schema_change_p0/datev2/test_schema_change_varchar_to_datev2.groovy
  regression-test/suites/schema_change_p0/decimalv3/test_agg_keys_schema_change_decimalv3.groovy
  regression-test/suites/schema_change_p0/test_agg_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_agg_vals_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_dup_vals_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_keys_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_mv_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_rollup_schema_change.groovy
  regression-test/suites/schema_change_p0/test_uniq_vals_schema_change.groovy
  regression-test/suites/schema_change_p0/test_varchar_schema_change.groovy
Labels: kind/test, approved, reviewed

#20319 [fix](planner)Fix missing kw for workload
  docs/en/docs/admin-manual/workload-group.md
  docs/zh-CN/docs/admin-manual/workload-group.md
  fe/fe-core/src/main/jflex/sql_scanner.flex
Labels: kind/docs, approved, reviewed, resource-group

#19326 [feature-wip](duplicate-no-keys) schame change support for duplicate no keys
  docs/en/docs/data-table/data-model.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/zh-CN/docs/data-table/data-model.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ModifyTablePropertiesClause.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterJobV2Test.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateTableStmtTest.java
  regression-test/data/data_model_p0/duplicate/test_duplicate_table_without_keys.out
  regression-test/suites/data_model_p0/duplicate/test_duplicate_table_without_keys.groovy
Labels: kind/docs, area/planner, kind/test, approved, reviewed

#20209 [fix](nereids)dphyper join reorder may cache wrong project list for project node
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/HyperGraph.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/joinorder/hypergraph/receiver/PlanReceiver.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/algebra/Project.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/DataType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/PlanUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/parser/NereidsParserTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/types/DataTypeTest.java
  regression-test/data/cte_reuse/q23.out
  regression-test/data/cte_reuse/q24.out
  regression-test/data/cte_reuse/q31.out
  regression-test/data/nereids_p0/lateral_view/test_issue_8850.out
  regression-test/data/nereids_tpcds_shape_sf100_p0/shape/query75.out
  regression-test/suites/nereids_p0/lateral_view/test_issue_8850.sql
Labels: kind/test, approved, reviewed, area/nereids

#20278 [pipeline](rpc) support closure reuse in pipeline exec engine
  be/src/pipeline/exec/exchange_sink_buffer.cpp
  be/src/pipeline/exec/exchange_sink_buffer.h
  be/src/vec/sink/vdata_stream_sender.h
Labels: area/pipeline

#20338 [Bug](runtime filter) fix NPE if runtime filter has no target
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
Labels: approved, reviewed

#20245 [typo](docs)Correct the getting started document
  docs/en/docs/get-starting/get-starting.md
Labels: kind/docs, approved, reviewed

#20200 [enhancement](struct-type)support comment for struct field
  docs/en/docs/sql-manual/sql-reference/Data-Types/STRUCT.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/STRUCT.md
  fe/fe-common/src/main/java/org/apache/doris/catalog/StructField.java
  fe/fe-core/src/main/cup/sql_parser.cup
  regression-test/suites/query_p0/show/test_complex_type_unique_key.groovy
Labels: kind/docs, kind/test, approved, reviewed, struct-type

#20330 [Fix](Nereids) should not gather data when sink
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  regression-test/suites/nereids_p0/insert_into_table/aggregate.groovy
  regression-test/suites/nereids_p0/insert_into_table/complex_insert.groovy
  regression-test/suites/nereids_p0/insert_into_table/duplicate.groovy
  regression-test/suites/nereids_p0/insert_into_table/no_partition.groovy
  regression-test/suites/nereids_p0/insert_into_table/type_cast_aggregate.groovy
  regression-test/suites/nereids_p0/insert_into_table/type_cast_duplicate.groovy
  regression-test/suites/nereids_p0/insert_into_table/type_cast_unique.groovy
  regression-test/suites/nereids_p0/insert_into_table/unique.groovy
  regression-test/suites/nereids_p0/insert_into_table/unsupport_type.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#20266 [Docs](inverted index) update docs for inverted index parser_mode and match_phrase support
  docs/en/docs/data-table/index/inverted-index.md
  docs/zh-CN/docs/data-table/index/inverted-index.md
Labels: kind/docs, approved, reviewed

#20337 [Profile](exec) Remove unless profile in pipeline exec engine
  be/src/exec/exec_node.cpp
  be/src/pipeline/exec/datagen_operator.cpp
  be/src/pipeline/exec/mysql_scan_operator.cpp
  be/src/pipeline/exec/operator.cpp
  be/src/pipeline/exec/operator.h
  be/src/pipeline/exec/schema_scan_operator.cpp
  be/src/pipeline/exec/streaming_aggregation_sink_operator.cpp
  be/src/pipeline/exec/streaming_aggregation_source_operator.cpp
  be/src/pipeline/exec/union_sink_operator.cpp
Labels: area/pipeline

#20316 [Bug](pipeline) Fix memory leak if query is canceled caused by memory limit
  be/src/pipeline/task_scheduler.cpp
Labels: approved, reviewed, area/pipeline

#20320 [typo](docs) fix release note 2.0 zh url
  docs/zh-CN/docs/releasenotes/release-2.0.0Alpha1.md
Labels: kind/docs, approved, reviewed

#20264 [refactor](stats) Persist status of analyze task to FE meta data
  docs/en/docs/query-acceleration/statistics.md
  docs/zh-CN/docs/query-acceleration/statistics.md
  fe/fe-common/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyzeDBStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyzeProperties.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyzeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyzeTblStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DropAnalyzeJobStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowAnalyzeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowAnalyzeTaskStatus.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/InternalSchemaInitializer.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Table.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableIf.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/ExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/ExpressionEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/persist/AnalyzeDeletionLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
  fe/fe-core/src/main/java/org/apache/doris/qe/DdlExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisInfo.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisInfoBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/BaseAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HMSAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HistogramTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HiveAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/IcebergAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/MVAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/OlapAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticConstants.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsAutoAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsCleaner.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsRepository.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/util/StatisticsUtil.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/AnalysisJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/AnalysisTaskExecutorTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/HistogramTaskTest.java
  tools/tpch-tools/conf/doris-cluster.conf
Labels: kind/docs, area/planner, approved, reviewed, area/nereids

#20349 [fix](olap) deletion statement with space conditions did not take effect
  be/src/olap/delete_handler.cpp
  be/test/olap/delete_handler_test.cpp
  regression-test/data/delete_p0/test_delete.out
  regression-test/suites/delete_p0/test_delete.groovy
Labels: kind/test

#20294 [Feature](array-functions)improve array functions for array_last_index
  be/src/vec/CMakeLists.txt
  be/src/vec/functions/array/function_array_first_or_last_index.cpp
  be/src/vec/functions/array/function_array_register.cpp
  docs/en/docs/sql-manual/sql-functions/array-functions/array_last_index.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_last_index.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/LambdaFunctionCallExpr.java
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/array_functions/test_array_last_index_function.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_last_index_function.groovy
Labels: kind/docs, area/planner, kind/test, approved, reviewed

#20360 [fix](regression) rm github_token, no need for it
  regression-test/pipeline/common/check-pr-if-need-run-build.sh
Labels: approved, reviewed

#20248 [Improve](json-array)Support json array with nereids bool
  be/src/vec/functions/function_json.cpp
Labels: approved, reviewed

#20364 [Bug](DecimalV3) fix decimalv3 functions (#19801)
  be/src/vec/aggregate_functions/aggregate_function_topn.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
Labels: area/planner, area/vectorization

#20331 [fix](Nereids) forbid unexpected expression on filter and fix two more bugs
  fe/fe-common/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/AdjustAggregateNullableForEmptySet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CheckAfterRewrite.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CheckAnalysis.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/WindowFunctionChecker.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/WindowExpression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/ExpressionTrait.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/CheckAnalysisTest.java
  regression-test/suites/mv_p0/test_create_mv_complex_type/test_create_mv_complex_type.groovy
  regression-test/suites/nereids_arith_p0/bitmap.groovy
  regression-test/suites/nereids_syntax_p0/forbid_unexpected_type.groovy
  regression-test/suites/query_p0/aggregate/aggregate_group_by_metric_type.groovy
  regression-test/suites/query_p0/join/test_bitmap_filter_nereids.groovy
Labels: kind/test, approved, reviewed, area/nereids

#20371 [fix](nereids) fix "cannot find fragment id for scan"
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/FragmentProcessor.java
Labels: area/nereids

#20369 [chore](third-party) Bump the version of hadoop_libs
  thirdparty/vars.sh
Labels: approved, reviewed

#20333 [Enhancement](tvf) Backends tvf supports authentication
  docs/en/docs/sql-manual/sql-functions/table-functions/backends.md
  docs/zh-CN/docs/sql-manual/sql-functions/table-functions/backends.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowBackendsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/TableValuedFunctionRef.java
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/PrivPredicate.java
Labels: kind/docs, area/planner, approved, reviewed

#20357 [typo](docs) Update the `help create` command display
  docs/en/docs/data-table/basic-usage.md
  docs/zh-CN/docs/data-table/basic-usage.md
Labels: kind/docs

#20109 [refactor](jdbc catalog) Refactored JDBC Client into Abstract Base Class and Database-specific Subclasses
  docs/en/docs/lakehouse/external-table/jdbc.md
  docs/en/docs/lakehouse/multi-catalog/jdbc.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  docs/zh-CN/docs/lakehouse/external-table/jdbc.md
  docs/zh-CN/docs/lakehouse/multi-catalog/jdbc.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcTable.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClickHouseClient.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClientConfig.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcMySQLClient.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcOceanBaseClient.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcOracleClient.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcPostgreSQLClient.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcSQLServerClient.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcSapHanaClient.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcTrinoClient.java
  regression-test/data/jdbc_catalog_p0/test_clickhouse_jdbc_catalog.out
  regression-test/data/jdbc_catalog_p0/test_mysql_jdbc_catalog.out
  regression-test/data/jdbc_catalog_p0/test_pg_jdbc_catalog.out
Labels: kind/docs, approved, reviewed, kind/behavior-changed, area/multi-catalog

#20361 [fix](match) fix match query with compound predicates return -6003
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.h
  regression-test/data/inverted_index_p0/test_match_query_without_index.out
  regression-test/suites/inverted_index_p0/test_match_query_without_index.groovy
Labels: kind/test, reviewed

#20377 [fix](workload-group) fix incorrect memoryLimitPercent value
  fe/fe-core/src/main/java/org/apache/doris/resource/workloadgroup/WorkloadGroup.java
Labels: approved, reviewed, resource-group

#20373 [fix](Nereids) should not inherit child's limit and offset when generate exchange node
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/planner/ExchangeNode.java
Labels: area/planner, approved, reviewed, area/nereids

#20344 [fix](match query) fix array column match query failed without inverted index
  be/src/vec/functions/match.cpp
  be/src/vec/functions/match.h
  regression-test/data/inverted_index_p0/test_array_index.out
  regression-test/suites/inverted_index_p0/test_array_index.groovy
Labels: kind/test, reviewed

#20363 [Enchancement](function) optimize for padding function && add string length check on string op
  be/src/vec/columns/column_string.h
  be/src/vec/functions/function_string.h
  regression-test/suites/query_p1/test_big_pad.groovy
Labels: kind/test, approved, reviewed

#20279 [fix](regression) test_partial_update_with_row_column
  regression-test/suites/unique_with_mow_p0/partial_update/test_partial_update_with_row_column.groovy
Labels: kind/test

#20375 [DOCS](data-types) remove old types
  docs/en/docs/sql-manual/sql-reference/Data-Types/DATE.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/DATETIME.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/DATETIMEV2.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/DATEV2.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/DECIMAL.md
  docs/en/docs/sql-manual/sql-reference/Data-Types/DECIMALV3.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/DATE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/DATETIME.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/DATETIMEV2.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/DATEV2.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/DECIMAL.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Types/DECIMALV3.md
Labels: kind/docs, approved, reviewed

#20335 [typo](docs)clearly describe the rename syntax
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-RENAME.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-RENAME.md
Labels: kind/docs, approved, reviewed

#20390 [fix](dynamic_partition) fix dead lock when modify dynamic partition property for olap table
  fe/fe-core/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/DynamicPartitionTableTest.java
Labels: approved, reviewed, kind/behavior-changed, dev/1.2.5

#20305 [opt](MergedIO) optimize merge small IO and prevent amplified read
  be/src/common/config.cpp
  be/src/common/config.h
  be/src/io/fs/buffered_reader.cpp
  be/src/io/fs/buffered_reader.h
  be/src/vec/exec/format/parquet/vparquet_reader.cpp
Labels: approved, reviewed

#20325 [improvement](inverted index) skip write index on load and generate index on compaction
  be/src/olap/delta_writer.cpp
  be/src/olap/rowset/beta_rowset.cpp
  be/src/olap/rowset/segment_v2/segment_writer.cpp
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/tablet_schema.h
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-TABLE.md
  fe/fe-core/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/backup/RestoreJob.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/TableProperty.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/PropertyAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/master/ReportHandler.java
  fe/fe-core/src/main/java/org/apache/doris/task/CreateReplicaTask.java
  fe/fe-core/src/test/java/org/apache/doris/task/AgentTaskTest.java
  gensrc/proto/olap_file.proto
  gensrc/thrift/AgentService.thrift
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q01_bool.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q02_tinyint.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q03_smallint.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q04_int.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q05_bigint.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q06_largeint.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q07_float.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q08_double.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q09_decimal.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q10_decimalv3.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q11_date.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q12_datetime.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q13_datev2.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q14_datetimev2.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q15_char.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q16_varchar.out
  regression-test/data/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q17_string.out
  regression-test/suites/datatype_p0/scalar_types/load.groovy
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q01_bool.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q02_tinyint.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q03_smallint.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q04_int.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q05_bigint.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q06_largeint.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q07_float.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q08_double.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q09_decimal.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q10_decimalv3.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q11_date.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q12_datetime.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q13_datev2.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q14_datetimev2.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q15_char.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q16_varchar.sql
  regression-test/suites/datatype_p0/scalar_types/sql/dup_inverted_index_skip_q17_string.sql
Labels: kind/docs, kind/test

#20302 [fix](inverted index) fix transaction id changed when light index change
  fe/fe-core/src/main/java/org/apache/doris/alter/IndexChangeJob.java
Labels: reviewed

#20323 [typo](docs) Add a demo of export minio
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/EXPORT.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/EXPORT.md
Labels: kind/docs, approved, reviewed

#20382 [docs](workload-group) add user binding workload group docs
  docs/en/docs/admin-manual/workload-group.md
  docs/zh-CN/docs/admin-manual/workload-group.md
Labels: kind/docs

#20297 [docs](load-balancing):delete duplicate sentences and improve the documentation description
  docs/en/docs/admin-manual/cluster-management/load-balancing.md
  docs/zh-CN/docs/admin-manual/cluster-management/load-balancing.md
Labels: kind/docs, approved, reviewed

#20071 [Doc](statistics) supplement stats doc (regression test and automatic collection)
  docs/en/docs/query-acceleration/statistics.md
  docs/zh-CN/docs/query-acceleration/statistics.md
  fe/fe-core/src/main/java/org/apache/doris/statistics/README.md
Labels: kind/docs, approved, reviewed

#19096 [docs](auth): forbid 127.0.0.1 passwd free login
  docs/en/docs/get-starting/get-starting.md
Labels: kind/docs, approved, reviewed

#20277 [typo](doc)Update stream-load-manual.md
  docs/zh-CN/docs/data-operate/import/import-way/stream-load-manual.md
Labels: kind/docs, approved, reviewed

#20262 [typo](doc)Update compilation-general.md
  docs/en/docs/install/source-install/compilation-general.md
Labels: kind/docs, approved, reviewed

#20261 [typo](doc)Update compilation-general.md
  docs/zh-CN/docs/install/source-install/compilation-general.md
Labels: kind/docs, approved, reviewed

#20292 [typo](doc)Update runtime-filter.md
  docs/zh-CN/docs/query-acceleration/join-optimization/runtime-filter.md
Labels: kind/docs, approved, reviewed

#20163 [fix](doc) remove the description of the removed config serialize_batch
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: area/load, kind/docs, area/planner, kind/test, approved, reviewed, area/nereids, area/pipeline

#19457 [typo](doc) Fixed typos in hive.md
  docs/zh-CN/docs/lakehouse/external-table/hive.md
Labels: kind/docs, approved, reviewed

#20400 [fix](community) fix PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: approved, reviewed

#20399 [pipeline](opt) Opt fragment instance prepare performance by thread pool
  be/src/runtime/fragment_mgr.cpp
Labels: approved, reviewed

#20404 [Fix]fix lazy open commit info lose
  be/src/vec/sink/vtablet_sink.cpp
  be/src/vec/sink/vtablet_sink.h
  regression-test/suites/rollup_p0/test_materialized_view_lazy_open.groovy
Labels: kind/test, approved, reviewed

#20392 [performance](load) improve memtable sort performance
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/vec/core/block.h
  be/test/CMakeLists.txt
  be/test/olap/memtable_sort_test.cpp
  thirdparty/build-thirdparty.sh
  thirdparty/vars.sh
Labels: reviewed

#20398 [build](scripts) modify build-for-release.sh
  build-for-release.sh
Labels: approved, reviewed, dev/1.2.5, dev/2.0-beta

#20298 [Enchancement](Agg State) storage function name and result is nullable in agg state type
  be/CMakeLists.txt
  be/src/olap/tablet_meta.cpp
  be/src/olap/tablet_schema.cpp
  be/src/olap/tablet_schema.h
  be/src/runtime/types.h
  be/src/vec/data_types/data_type_agg_state.h
  be/src/vec/data_types/data_type_factory.cpp
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exprs/vectorized_agg_fn.cpp
  be/src/vec/exprs/vectorized_fn_call.cpp
  be/src/vec/functions/function_agg_state.h
  fe/fe-common/src/main/java/org/apache/doris/catalog/AggStateType.java
  fe/fe-common/src/main/java/org/apache/doris/catalog/ScalarType.java
  fe/fe-common/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnDef.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Function.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/AggStateType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/DataType.java
  fe/fe-core/src/main/java/org/apache/doris/persist/gson/GsonUtils.java
  gensrc/proto/data.proto
  gensrc/proto/olap_file.proto
  gensrc/thrift/Descriptors.thrift
  gensrc/thrift/Types.thrift
Labels: area/planner, approved, reviewed, area/nereids

#20366 [fix](regression) exclude test_analyze_stats_p1 suite
  regression-test/pipeline/p0/conf/regression-conf.groovy
Labels: kind/test

#20253 [fix](memory) Fix query memory tracking
  be/src/olap/page_cache.h
  be/src/olap/rowset/segment_v2/page_handle.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/runtime/plan_fragment_executor.cpp
Labels: area/pipeline

#20306 [Fix] Change open tablet log level
  be/src/vec/sink/vtablet_sink.cpp
Labels: approved, reviewed

#20299 [cherry-pick-1.2][improvement](load)disable shrink memory by default
  be/src/common/config.h
  be/src/olap/delta_writer.cpp
Labels: approved, reviewed

#19582 [typo](doc) Fixed typos in bitmap_subset_limit.md
  docs/zh-CN/docs/sql-manual/sql-functions/bitmap-functions/bitmap_subset_limit.md
Labels: kind/docs, approved, reviewed

#20372 [chore](regression) add case in test_delete
  regression-test/data/delete_p0/test_delete.out
  regression-test/suites/delete_p0/test_delete.groovy
Labels: kind/test, approved, reviewed

#20407 [fix](pipeline) Comment unstable p1 tests
  regression-test/suites/statistics_p1/analyze_stats.groovy
Labels: kind/test, approved, reviewed

#20417 [Bug](function) fix equals implements not judge order by elements of function call expr
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  regression-test/data/query_p0/group_concat/test_group_concat.out
  regression-test/suites/query_p0/group_concat/test_group_concat.groovy
Labels: area/planner, kind/test

#20085 [Improve](array-function)Improve array function intersect
  be/src/vec/functions/array/function_array_intersect.cpp
  be/src/vec/functions/array/function_array_map.h
  be/src/vec/functions/array/function_array_nary.h
  be/src/vec/functions/array/function_array_set.h
  be/src/vec/functions/array/function_array_union.cpp
  be/src/vec/functions/array/function_array_utils.h
  fe/fe-common/src/main/java/org/apache/doris/catalog/Type.java
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions.out
  regression-test/data/query_p0/sql_functions/array_functions/test_array_functions_by_literal.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_functions_by_literal.groovy
Labels: kind/test, area/sql/function, area/vectorization, reviewed

#20244 [enhancement](merge-on-write) avoid unecessary pk index iteration while memtable flushing
  be/src/olap/tablet.cpp
Labels: area/planner, reviewed

#20380 [fix](nereids)change defaultConcreteType function's return value for decimal
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/Nvl.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/DecimalV2Type.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/types/DecimalV3Type.java
  regression-test/data/nereids_p0/sql_functions/conditional_functions/test_coalesce.out
  regression-test/data/nereids_p0/sql_functions/conditional_functions/test_nullif.out
Labels: approved, reviewed, area/nereids

#20412 [fix](stats) Analysis info lost after checkpoint
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyzeTblStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/persist/meta/MetaPersistMethod.java
  fe/fe-core/src/main/java/org/apache/doris/persist/meta/PersistMetaModules.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisManager.java
Labels: area/planner, approved, reviewed

#20329 [fix](multicatalog) support read from hive table with HIVE_UNION_SUBDIR in path location
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/HiveMetaStoreCache.java
Labels: approved, reviewed

#19540 [Improvement](planner) expand sql-block-rule to make it can be used on all kinds of sql stmt
  docs/en/docs/admin-manual/sql-interception.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-SQL-BLOCK-RULE.md
  docs/zh-CN/docs/admin-manual/sql-interception.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-SQL-BLOCK-RULE.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateSqlBlockRuleStmt.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  regression-test/suites/sql_block_rule_p0/test_sql_block_rule.groovy
Labels: kind/docs, area/planner, kind/test, approved, reviewed

#20418 [Chore](docs)Remove the Committer-related description in the contribution guide
  docs/en/community/how-to-contribute/contributor-guide.md
  docs/zh-CN/community/how-to-contribute/contributor-guide.md
Labels: kind/docs

#20239 [fix](dynamic partition) partition create failed after alter distributed column
  fe/fe-core/src/main/java/org/apache/doris/analysis/HashDistributionDesc.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HashDistributionInfo.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/InternalCatalog.java
  regression-test/pipeline/p0/conf/fe.conf
  regression-test/pipeline/p1/conf/fe.conf
  regression-test/suites/partition_p0/dynamic_partition/test_dynamic_partition_with_alter.groovy
  regression-test/suites/partition_p0/dynamic_partition/test_dynamic_partition_with_rename.groovy
Labels: area/planner, kind/test, approved, reviewed, usercase, dev/1.2.5, dev/2.0-beta

#20290 [Optimize](function) Optimize locate function by compare across strings
  be/src/vec/functions/function_string.cpp
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function.groovy
Labels: kind/test, approved, reviewed

#20269 [fix](nereids) select with specified partition name is not work as expected
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneOlapScanPartition.java
  regression-test/data/nereids_syntax_p0/select_partition.out
  regression-test/suites/nereids_syntax_p0/select_partition.groovy
Labels: kind/test, area/nereids

#20341 [fix](nereids) avg size of column stats always be 0
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  regression-test/data/cte_reuse/q11.out
  regression-test/data/cte_reuse/q14.out
  regression-test/data/cte_reuse/q23.out
  regression-test/data/cte_reuse/q24.out
  regression-test/data/cte_reuse/q31.out
  regression-test/data/cte_reuse/q4.out
  regression-test/data/cte_reuse/q47.out
  regression-test/data/cte_reuse/q57.out
  regression-test/data/cte_reuse/q59.out
  regression-test/data/cte_reuse/q64.out
  regression-test/data/cte_reuse/q74.out
  regression-test/suites/cte_reuse/ddl/call_center.sql
  regression-test/suites/cte_reuse/ddl/catalog_page.sql
  regression-test/suites/cte_reuse/ddl/catalog_returns.sql
  regression-test/suites/cte_reuse/ddl/catalog_sales.sql
  regression-test/suites/cte_reuse/ddl/customer.sql
  regression-test/suites/cte_reuse/ddl/customer_address.sql
  regression-test/suites/cte_reuse/ddl/customer_demographics.sql
  regression-test/suites/cte_reuse/ddl/date_dim.sql
  regression-test/suites/cte_reuse/ddl/household_demographics.sql
  regression-test/suites/cte_reuse/ddl/income_band.sql
  regression-test/suites/cte_reuse/ddl/inventory.sql
  regression-test/suites/cte_reuse/ddl/item.sql
  regression-test/suites/cte_reuse/ddl/promotion.sql
  regression-test/suites/cte_reuse/ddl/reason.sql
  regression-test/suites/cte_reuse/ddl/ship_mode.sql
  regression-test/suites/cte_reuse/ddl/store.sql
  regression-test/suites/cte_reuse/ddl/store_returns.sql
  regression-test/suites/cte_reuse/ddl/store_sales.sql
  regression-test/suites/cte_reuse/ddl/time_dim.sql
  regression-test/suites/cte_reuse/ddl/warehouse.sql
  regression-test/suites/cte_reuse/ddl/web_page.sql
  regression-test/suites/cte_reuse/ddl/web_returns.sql
  regression-test/suites/cte_reuse/ddl/web_sales.sql
  regression-test/suites/cte_reuse/ddl/web_site.sql
  regression-test/suites/cte_reuse/load.groovy
  regression-test/suites/cte_reuse/q11.groovy
  regression-test/suites/cte_reuse/q14.groovy
  regression-test/suites/cte_reuse/q23.groovy
  regression-test/suites/cte_reuse/q24.groovy
  regression-test/suites/cte_reuse/q31.groovy
  regression-test/suites/cte_reuse/q4.groovy
  regression-test/suites/cte_reuse/q47.groovy
  regression-test/suites/cte_reuse/q57.groovy
  regression-test/suites/cte_reuse/q59.groovy
  regression-test/suites/cte_reuse/q64.groovy
  regression-test/suites/cte_reuse/q74.groovy
Labels: kind/test, reviewed, area/nereids

#20268 [Fix](Nereids) Fix minidump using put all of hashmap
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/DeriveStatsJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
Labels: approved, reviewed, area/nereids

#20428 [fix](workload-group) fix workload group non-existence error
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/resource/workloadgroup/WorkloadGroupMgr.java
Labels: approved, reviewed, workload-group

#20429 [enhancement](function) Compatible with python 2.6 and keep the codestyle consistent
  gensrc/script/gen_builtins_functions.py
Labels: approved, area/script, reviewed, python

#20430 [branch-1.1][Fix](dyncmic-partition) Check bucket size before find tablet
  be/src/exec/tablet_sink.cpp
Labels: approved, reviewed, dev/1.1.6-merged

#20374 [Fix](Nereids) Fix duplicated name in view does not throw exception
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindExpression.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/ExplainInsertCommandTest.java
  regression-test/suites/nereids_p0/subquery/test_duplicate_name_in_view.groovy
Labels: kind/test, approved, reviewed, area/nereids

#20310 [fix](Nereids): fix filter can't be pushdown unionAll
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownFilterThroughSetOperation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalExcept.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalIntersect.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalSetOperation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalUnion.java
  regression-test/data/nereids_tpcds_shape_sf100_p0/shape/query75.out
Labels: approved, reviewed, area/nereids

#20438 [fix](be)result_filter_data should be filled by 0 when can_filter_all is true
  be/src/vec/exprs/vexpr_context.cpp
  regression-test/data/correctness_p0/test_function_conjunct.out
  regression-test/suites/correctness_p0/test_function_conjunct.groovy
Labels: kind/test, approved, reviewed, dev/2.0-beta

#20355 [fix](MTMV) Support star expressions in select list
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateMultiTableMaterializedViewStmt.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/MultiTableMaterializedViewTest.java
Labels: area/planner, approved, reviewed, area/multi-table-materialized-view

#20440 [fix](Nereids) throw NPE when sql cannot be parsed by all planner
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
Labels: approved, reviewed, dev/2.0-beta

#20434 [fix](planner)Fix query hang when using queue
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: approved, reviewed, workload-group

#20340 [improve](nereids)derive analytics node stats
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/FilterEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/JoinEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatisticBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsRepository.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/HyperGraphBuilder.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/StatsDeriveResultTest.java
  regression-test/data/nereids_tpcds_shape_sf100_p0/shape/query11.out
  regression-test/data/nereids_tpcds_shape_sf100_p0/shape/query4.out
  regression-test/data/nereids_tpcds_shape_sf100_p0/shape/query44.out
  regression-test/data/nereids_tpcds_shape_sf100_p0/shape/query70.out
  regression-test/data/nereids_tpcds_shape_sf100_p0/shape/query74.out
Labels: approved, reviewed, area/nereids, dev/2.0-beta

#20008 [Fix](Planner)fix cast date/datev2/datetime to float/double return null.
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/test/java/org/apache/doris/analysis/ExprTest.java
  regression-test/data/query_p0/sql_functions/horology_functions/sql/dateTimeOperatorsAccessible.out
  regression-test/suites/query_p0/cast/test_cast.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.2.5

#20408 [fix](sequence) value predicates shouldn't be push down when has sequence column
  be/src/olap/rowset/beta_rowset_reader.cpp
  regression-test/data/data_model_p0/unique/test_unique_value_predicate.out
  regression-test/suites/data_model_p0/unique/test_unique_value_predicate.groovy
Labels: kind/test, approved, reviewed

#20449 [fix](audit) Fix the error of peakMemoryBytes in the audit log
  be/src/runtime/buffer_control_block.h
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/query_statistics.cpp
  be/src/runtime/query_statistics.h
Labels: approved, reviewed, area/statistics

#20457 [typo](doc) Remove useless hints
  docs/en/docs/ecosystem/flink-doris-connector.md
  docs/zh-CN/docs/ecosystem/flink-doris-connector.md
Labels: kind/docs, approved, reviewed

#20455 [cherry-pick-1.1][fix](dynamic partition) partition create failed after modify comment
  fe/fe-core/src/main/java/org/apache/doris/catalog/Catalog.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HashDistributionInfo.java
Labels: approved, reviewed

#20425 [fix](regression) add sync after streamload in test_stream_load
  regression-test/suites/load_p0/stream_load/test_stream_load.groovy
Labels: kind/test

#20460 [enhancement](profile) add build get child next time
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vjoin_node_base.h
Labels: approved, reviewed

#20448 [fix](executor)Fix duplicate timer and add open timer
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vhash_join_node.h
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/exec/scan/vscan_node.h
Labels: approved, area/profile, reviewed

#20422 [fix](conf) fix fe host in doris-cluster.conf
  tools/tpch-tools/conf/doris-cluster.conf
Labels: dev/2.0-beta

#20446 [fix](load) fix generate delete bitmap in memtable flush
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset_writer.h
Labels: reviewed, dev/1.2.5, dev/2.0-beta

#20288 [fix](regression-test) Add lost ddl file for tpcds_sf1_p2
  regression-test/suites/tpcds_sf1_p2/ddl/catalog_page.sql
  regression-test/suites/tpcds_sf1_p2/load.groovy
Labels: kind/test, approved, reviewed

#20321 [feature](profile)Add the filtering info of the in filter in profile
  be/src/exprs/hybrid_set.h
  be/src/exprs/runtime_filter.cpp
  be/src/olap/in_list_predicate.h
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/vec/exec/scan/new_olap_scan_node.cpp
Labels: approved, reviewed, dev/2.0-beta

#20402 [fix][refactor](backend-policy)(compute) refactor the hierarchy of external scan node and fix compute node bug
  fe/fe-core/src/main/java/org/apache/doris/planner/BackendPartitionedSchemaScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/DataGenScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/EsScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/FileLoadScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/JdbcScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/MysqlScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OdbcScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/ScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SchemaScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/TestExternalTableScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/ExternalScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FederationBackendPolicy.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FileQueryScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/FileScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/MetadataScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/TVFScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/hudi/HudiScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/external/iceberg/IcebergScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/test/java/org/apache/doris/qe/CoordinatorTest.java
  regression-test/data/es_p0/test_es_query.out
  regression-test/data/es_p0/test_es_query_no_http_url.out
  regression-test/suites/es_p0/test_es_query.groovy
  regression-test/suites/es_p0/test_es_query_nereids.groovy
  regression-test/suites/es_p0/test_es_query_no_http_url.groovy
  regression-test/suites/external_table_emr_p2/hive/test_external_yandex_nereids.groovy
Labels: area/planner, kind/test

#20443 [bug](jdbc) fix trino date/datetime filter
  fe/fe-core/src/main/java/org/apache/doris/planner/OdbcScanNode.java
Labels: area/planner, dev/1.2.5, dev/2.0-beta

#20339 [improvement](profile)add max/min rpc time
  be/src/pipeline/exec/exchange_sink_buffer.cpp
  be/src/pipeline/exec/exchange_sink_buffer.h
  be/src/pipeline/exec/exchange_sink_operator.cpp
  be/src/pipeline/exec/exchange_sink_operator.h
  be/src/service/internal_service.cpp
  be/src/util/time.h
  gensrc/proto/internal_service.proto
Labels: area/profile, reviewed, area/pipeline

#20378 [fix](load) in strict mode, return error for insert if datatype convert fails
  be/src/pipeline/pipeline_task.cpp
  be/src/runtime/runtime_state.h
  be/src/vec/functions/function_cast.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/BinaryPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StringLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
  regression-test/data/insert_p0/insert_invalid.out
  regression-test/data/nereids_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/data/query_p0/sql_functions/datetime_functions/test_date_function.out
  regression-test/suites/data_model_p0/duplicate/storage/test_dup_tab_date_nullable.groovy
  regression-test/suites/insert_p0/insert_invalid.groovy
  regression-test/suites/nereids_p0/sql_functions/datetime_functions/test_date_function.groovy
  regression-test/suites/query_p0/sql_functions/datetime_functions/test_date_function.groovy
Labels: area/planner, kind/test, approved, reviewed, area/pipeline, dev/2.0-beta

#20397 [Improve](array-functions) support array first function
  docs/en/docs/sql-manual/sql-functions/array-functions/array_first.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_first.md
  fe/fe-core/src/main/java/org/apache/doris/analysis/LambdaFunctionCallExpr.java
  regression-test/data/query_p0/sql_functions/array_functions/test_array_first.out
  regression-test/suites/query_p0/sql_functions/array_functions/test_array_first.groovy
Labels: kind/docs, area/planner, kind/test, approved, reviewed

#20479 [Fix](Planner) Fix function do not have equal function and substitutition failed
  fe/fe-core/src/main/java/org/apache/doris/catalog/Function.java
  regression-test/suites/query_p0/aggregate/aggregate_grouping_function.groovy
Labels: kind/test, approved, reviewed

#20205 [fix](http) Let the sdk find the httpclient package determined
  fe/fe-core/src/main/java/org/apache/doris/fs/obj/S3ObjStorage.java
Labels: approved, reviewed, dev/1.2.5

#20471 [fix](docker)Fix docker example script
  docker/runtime/docker-compose-demo/build-cluster/docker-compose/3fe_3be/docker-compose.yaml
  docker/runtime/docker-compose-demo/build-cluster/rum-command/3fe_3be.sh
Labels: approved, reviewed

#20473 [feature](docker)Docker example hive-broker-doris
  docker/runtime/docker-compose-demo/example/hdfs-broker-doris/broker-init.sql
  docker/runtime/docker-compose-demo/example/hdfs-broker-doris/docker-compose.yaml
  docker/runtime/docker-compose-demo/example/hdfs-broker-doris/doris-init.sql
  docker/runtime/docker-compose-demo/example/hdfs-broker-doris/hdfs-init.sql
  docker/runtime/docker-compose-demo/example/hdfs-broker-doris/user_basic_data.sql
Labels: approved, reviewed

#20474 [fix](docker)Add container graceful exit logic
  docker/runtime/be/resource/init_be.sh
  docker/runtime/fe/resource/init_fe.sh
Labels: approved, reviewed

#20414 [Fix] (tablet) fix tablet queryable set (#20413)
  fe/fe-core/src/main/java/org/apache/doris/catalog/Tablet.java
  fe/fe-core/src/main/java/org/apache/doris/clone/TabletScheduler.java
Labels: approved, reviewed, dev/2.0-beta

#20467 [fix](load) fix unified load redirect status delegate error
  fe/fe-core/src/main/java/org/apache/doris/analysis/UnifiedLoadStmt.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/LoadStmtTest.java
Labels: area/planner, approved, reviewed

#20487 [fix](regression-test) retry more to avoid dynamic partition create timeout
  regression-test/pipeline/p0/conf/fe.conf
  regression-test/pipeline/p1/conf/fe.conf
  regression-test/suites/partition_p0/dynamic_partition/test_dynamic_partition_with_alter.groovy
  regression-test/suites/partition_p0/dynamic_partition/test_dynamic_partition_with_rename.groovy
Labels: kind/test, approved, reviewed

#20447 [typo](docs)modify http_port to webserver_port
  docs/en/docs/admin-manual/maint-monitor/memory-management/memory-tracker.md
  docs/zh-CN/docs/admin-manual/maint-monitor/memory-management/memory-tracker.md
Labels: kind/docs, approved, reviewed

#20456 [improvement](column reader) lazy load indices
  be/src/olap/rowset/segment_v2/column_reader.cpp
  be/src/olap/rowset/segment_v2/column_reader.h
Labels: dev/2.0-beta

#20484 [Fix](WorkloadGroup)Fix query queue nereids bug
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/qe/Coordinator.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: area/planner, workload-group, area/pipeline, dev/2.0-beta

#20211 [fix](Nereids) give clean error message when there are subquery in the on clause
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CheckAnalysis.java
Labels: approved, reviewed, area/nereids, dev/2.0-beta

#20362 [refactor](nereids) skip forbid_unknown_col_stats check for invisible column
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/ExpressionEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/FilterEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticConstants.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsCache.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/stats/FilterEstimationTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/CacheTest.java
Labels: area/planner, approved, reviewed, area/nereids, dev/2.0-beta

#20192 [sample](doris-soruce-demo)add read doris demo by thrift
  samples/doris-demo/doris-source-demo/README.md
  samples/doris-demo/doris-source-demo/pom.xml
  samples/doris-demo/doris-source-demo/src/main/java/org/apache/doris/sdk/DorisReaderExample.java
  samples/doris-demo/pom.xml
Labels: approved, reviewed

#20463 [fix](regression) fix export file case
  regression-test/framework/src/main/groovy/org/apache/doris/regression/suite/Suite.groovy
  regression-test/suites/export/test_array_export.groovy
  regression-test/suites/export/test_map_export.groovy
  regression-test/suites/export/test_struct_export.groovy
  regression-test/suites/export_p2/test_export_with_s3.groovy
Labels: kind/test, approved, reviewed, dev/2.0-beta

#20313 [Feature](Nereids)support update.
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisLexer.g4
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/Explainable.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/commands/ExplainCommand.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/commands/InsertIntoTableCommand.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/commands/UpdateCommand.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/AbstractLogicalPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/physical/AbstractPhysicalPlan.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/visitor/CommandVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/visitor/PlanVisitor.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/trees/plans/UpdateCommandTest.java
  regression-test/data/nereids_p0/update/update_unique_table.out
  regression-test/suites/nereids_p0/update/load.groovy
  regression-test/suites/nereids_p0/update/update_unique_table.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#20498 [fix](Nereids) join condition not extract as conjunctions
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/ExpressionRewrite.java
Labels: area/nereids, dev/2.0-beta

#20384 [enhance](cooldown)use cooldown replica first when generating scan node
  be/src/olap/rowset/beta_rowset_reader.cpp
  fe/fe-core/src/main/java/org/apache/doris/catalog/Tablet.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
Labels: area/planner, approved, reviewed

#20502 [doc](catalog-hive) Add the property of hive catalog with kerberos.
  docs/en/docs/lakehouse/multi-catalog/hive.md
  docs/zh-CN/docs/lakehouse/multi-catalog/hive.md
Labels: kind/docs, approved, reviewed

#20504 [typo](doc) Fixed some description of date_format function documentation
  docs/en/docs/sql-manual/sql-functions/date-time-functions/date_format.md
  docs/zh-CN/docs/sql-manual/sql-functions/date-time-functions/date_format.md
Labels: kind/docs, approved, reviewed

#20477 [typo](doc) update spark connnector version compatibility instructions
  docs/en/docs/ecosystem/spark-doris-connector.md
  docs/zh-CN/docs/ecosystem/spark-doris-connector.md
Labels: kind/docs, approved, reviewed

#20522 [Improvement](multi-catalog) paimon supports projection push down
  fe/java-udf/src/main/java/org/apache/doris/jni/PaimonJniScanner.java
Labels: approved, reviewed, dev/2.0-beta

#20525 [fix](executor)Fix emptyoperator may cause node not close
  be/src/pipeline/exec/empty_source_operator.cpp
  be/src/pipeline/exec/empty_source_operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
Labels: approved, reviewed, pipeline, area/pipeline

#20495 [bug](table_function) fix table function node forget to call open function of expr
  be/src/vec/exec/vtable_function_node.h
Labels: approved, reviewed

#20493 [fix](regex) String with Chinese characters matching failed
  be/src/vec/functions/like.cpp
  regression-test/data/query_p0/sql_functions/string_functions/test_string_function_regexp.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_string_function_regexp.groovy
Labels: kind/test, dev/2.0-beta

#20496 [typo](doc) Fix a wrongly written in the release note for 1.2.0 version
  docs/zh-CN/docs/releasenotes/release-1.2.0.md
Labels: kind/docs, approved, reviewed

#20370 [refactor](agg_state) refactor agg_state type to support fixed length object type
  be/src/vec/aggregate_functions/aggregate_function_avg.h
  be/src/vec/aggregate_functions/aggregate_function_count.h
  be/src/vec/aggregate_functions/aggregate_function_min_max.h
  be/src/vec/aggregate_functions/aggregate_function_state_union.h
  be/src/vec/aggregate_functions/aggregate_function_sum.h
  be/src/vec/columns/column_fixed_length_object.h
  be/src/vec/data_types/data_type_agg_state.h
  be/src/vec/data_types/data_type_fixed_length_object.h
  be/src/vec/data_types/serde/data_type_fixedlengthobject_serde.h
  be/src/vec/functions/function_agg_state.h
  be/src/vec/olap/olap_data_convertor.cpp
  be/src/vec/olap/olap_data_convertor.h
Labels: approved, reviewed

#20512 [branch-1.2](hashtable) Check query cancel status during build hash table
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/vset_operation_node.cpp
  be/src/vec/exec/vset_operation_node.h
Labels: area/vectorization, dev/1.2.5

#20482 [improvement](sink) reuse rows buffer in msyql_result_writer
  be/src/util/mysql_row_buffer.cpp
  be/src/util/mysql_row_buffer.h
  be/src/vec/sink/vmysql_result_writer.cpp
  be/src/vec/sink/vmysql_result_writer.h
Labels: dev/2.0-beta

#20501 [fix](stats) Make alter column stats no forward
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterColumnStatsStmt.java
Labels: area/planner

#20508 [fix](nereids)filter and project node should be pushed down through cte
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriter.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/PlanPostProcessors.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleSet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownFilterThroughCTE.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushdownProjectThroughCTE.java
  regression-test/data/nereids_syntax_p0/cte.out
  regression-test/suites/nereids_syntax_p0/cte.groovy
Labels: kind/test, area/nereids, dev/2.0-beta
