Repository apache/doris, pull requests merged in 2023-01, with the labels that each got.

#15543 [chore](regression)add one case for hll unsupported type case
  regression-test/suites/index_p0/test_decimal_bitmap_index_multi_page.groovy
Labels: kind/test

#15505 [Bug](decimalv3) Fix wrong decimalv3 value after insertion
  be/src/util/string_parser.hpp
  regression-test/data/datatype_p0/decimalv3/test_load.out
  regression-test/suites/datatype_p0/decimalv3/test_data/test.csv
  regression-test/suites/datatype_p0/decimalv3/test_load.groovy
Labels: kind/test, usercase, dev/1.2.1

#15535 [fix](merge-on-write) unique key mow tables should require distribution columns be key column
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/DistributionDesc.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/HashDistributionDesc.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/RandomDistributionDesc.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateTableStmtTest.java
Labels: area/planner, approved, reviewed, dev/1.2.1

#15489 [fix](regression-test) fix duplicate columns in yandex_metrica_p2 case
  regression-test/suites/yandex_metrica_p2/load.groovy
Labels: kind/test, approved, reviewed

#15549 [chore](Sink)remove useless OlapTablePartitionParam-related code
  be/src/exec/tablet_info.cpp
  be/src/exec/tablet_info.h
  be/src/vec/sink/vtablet_sink.cpp
  be/src/vec/sink/vtablet_sink.h
Labels: area/vectorization

#15545 [chore](script) add build-for-release.sh
  build-for-release.sh
  docs/en/docs/install/source-install/compilation-with-ldb-toolchain.md
  docs/zh-CN/docs/install/source-install/compilation-with-ldb-toolchain.md
Labels: kind/docs

#15353 [enhancement](compaction) vertical compaction support unique-key mow
  be/src/olap/compaction.cpp
  be/src/olap/merger.cpp
  be/src/vec/olap/vertical_block_reader.cpp
  be/src/vec/olap/vertical_block_reader.h
  be/src/vec/olap/vertical_merge_iterator.cpp
  be/src/vec/olap/vertical_merge_iterator.h
  be/test/olap/rowid_conversion_test.cpp
Labels: area/vectorization, reviewed

#14722 [fix](vec) VMergeIterator add key same label for agg table
  be/src/olap/olap_define.h
  be/src/vec/core/block.cpp
  be/src/vec/core/block.h
  be/src/vec/olap/block_reader.cpp
  be/src/vec/olap/block_reader.h
  be/src/vec/olap/vgeneric_iterators.cpp
  be/src/vec/olap/vgeneric_iterators.h
  be/test/olap/segcompaction_test.cpp
Labels: area/vectorization, reviewed

#15540 [refactor](remove rowblockv2) remove rowblock v2 structure
  be/src/olap/CMakeLists.txt
  be/src/olap/block_column_predicate.cpp
  be/src/olap/row_block2.cpp
  be/src/olap/row_block2.h
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/beta_rowset_reader.h
  be/src/olap/rowset/segment_v2/empty_segment_iterator.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.h
  be/src/olap/schema.cpp
  be/src/util/arrow/row_block.cpp
  be/src/util/arrow/row_block.h
  be/src/vec/olap/vgeneric_iterators.h
  be/test/olap/block_column_predicate_test.cpp
  be/test/runtime/array_test.cpp
  be/test/tools/benchmark_tool.cpp
  be/test/vec/exec/vgeneric_iterators_test.cpp
Labels: area/vectorization

#15550 [Fix](multi catalog)Skip non-vectorized init code for NewFileScanNode.
  be/src/exec/exec_node.cpp
Labels: approved, reviewed, area/multi-catalog

#15510 [bugfix](datetimev2) fix coredump when load datatime data to doris
  be/src/runtime/types.h
  be/src/vec/data_types/data_type_decimal.h
  be/src/vec/data_types/data_type_time_v2.cpp
  be/src/vec/data_types/data_type_time_v2.h
Labels: area/vectorization, dev/1.2.1, affects-1.2

#15473 [fix](nereids) translate agg-dist
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  regression-test/data/nereids_syntax_p0/agg_with_sort.out
  regression-test/suites/nereids_syntax_p0/agg_with_sort.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15552 [refactor](old) remove partition prunner v1
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SetVar.java
  fe/fe-core/src/main/java/org/apache/doris/planner/BackendPartitionedSchemaScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/EsScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/ListPartitionPruner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/RangePartitionPruner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/ScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/StreamLoadPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/ListPartitionPrunerTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/PartitionPruneTestBase.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/RangePartitionPruneTest.java
Labels: area/planner, approved, area/config, kind/refactor, reviewed

#15450 [feature](Nereids): Support any_value/any function.
  fe/fe-core/src/main/java/org/apache/doris/catalog/BuiltinAggregateFunctions.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/AnyValue.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/AggregateFunctionVisitor.java
  regression-test/suites/nereids_syntax_p0/any_value.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15399 [draft] Support spill to disk: implement interfaces for spill block and read block
  be/src/runtime/CMakeLists.txt
  be/src/runtime/block_spill_manager.cpp
  be/src/runtime/block_spill_manager.h
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/core/block_spill_reader.cpp
  be/src/vec/core/block_spill_reader.h
  be/src/vec/core/block_spill_writer.cpp
  be/src/vec/core/block_spill_writer.h
  be/test/CMakeLists.txt
  be/test/vec/core/block_spill_test.cpp
Labels: area/vectorization

#15556 [docs](muti-catalog) update external iceberg system doc
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
Labels: kind/docs, approved, reviewed, area/multi-catalog

#15401 [feature](multi-catalog) support automatic sync hive metastore events
  fe/fe-core/src/main/java/org/apache/doris/catalog/DatabaseIf.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Env.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/ExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/HMSExternalDatabase.java
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/PooledHiveMetaStoreClient.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/DropTableEvent.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/EventFactory.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/IgnoredEvent.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/MetastoreEvent.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/MetastoreEventFactory.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/MetastoreEventType.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/MetastoreEventsProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/MetastoreNotificationException.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/MetastoreNotificationFetchException.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/hive/event/MetastoreTableEvent.java
  fe/fe-core/src/main/java/org/apache/doris/journal/JournalEntity.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
  fe/fe-core/src/main/java/org/apache/doris/persist/OperationType.java
Labels: approved, area/multi-catalog

#15530 [fix](nereids)support nulls first/last in order by clause
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  regression-test/data/query_p0/keyword/order_group.out
  regression-test/suites/query_p0/keyword/order_group.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15554 [vectorized](udaf) fix udaf result is null when has multiple aggs
  be/src/vec/aggregate_functions/aggregate_function_java_udaf.h
  regression-test/data/javaudf_p0/test_javaudaf_mysum_int.out
  regression-test/suites/javaudf_p0/test_javaudaf_mysum_int.groovy
Labels: kind/test, approved, area/vectorization, reviewed, dev/1.2.1

#15561 [typo](doc) add be max jvm heap size config description
  docs/en/docs/admin-manual/config/be-config.md
  docs/zh-CN/docs/admin-manual/config/be-config.md
Labels: kind/docs, approved, reviewed

#15563 [docs](export) fix export data to object storage docs
  docs/en/docs/data-operate/export/export-manual.md
  docs/zh-CN/docs/data-operate/export/export-manual.md
Labels: kind/docs, approved, reviewed

#15557 [Fix](Nereids) fix except and intersect error for statsCalculator
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  regression-test/data/nereids_syntax_p0/set_operation.out
  regression-test/suites/nereids_syntax_p0/set_operation.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15548 [fix](Nereids) get datatype for binary arithmetic
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/BinaryArithmetic.java
  fe/fe-core/src/test/java/org/apache/doris/common/ExceptionChecker.java
Labels: approved, reviewed, area/nereids

#14491 [Enhancement](load) reduce memory by memory size of global delta writer
  be/src/olap/delta_writer.cpp
  be/src/runtime/load_channel.cpp
  be/src/runtime/load_channel.h
  be/src/runtime/load_channel_mgr.cpp
  be/src/runtime/load_channel_mgr.h
  be/src/runtime/tablets_channel.cpp
  be/src/runtime/tablets_channel.h
Labels: approved, reviewed

#15466 [Bug](filter) fix not in(null) return true
  be/src/vec/exec/scan/vscan_node.cpp
  be/src/vec/functions/in.h
  regression-test/data/query_p0/sql_functions/test_in_expr.out
  regression-test/suites/query_p0/sql_functions/test_in_expr.groovy
Labels: area/planner, kind/test, approved, area/sql/function, area/vectorization, reviewed, dev/1.2.1

#15547 [Fix](Nereids)fix aggregation result error when child is empty relation
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/NereidsAnalyzer.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AdjustAggregateNullableForEmptySetJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriteJobExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/AdjustAggregateNullableForEmptySet.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/Avg.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/GroupBitAnd.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/GroupBitOr.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/GroupBitXor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/GroupBitmapXor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/Max.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/Min.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/NullableAggregateFunction.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/Sum.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/Variance.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/VarianceSamp.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/AggregateFunctionVisitor.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/AnalyzeWhereSubqueryTest.java
  regression-test/data/nereids_syntax_p0/agg_with_empty_set.out
  regression-test/suites/nereids_syntax_p0/agg_with_empty_set.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15240 [fix](nereids) binding priority in agg-sort, having, group_by_key
  fe/fe-core/src/main/java/org/apache/doris/catalog/BuiltinAggregateFunctions.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionHelper.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CheckAnalysis.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/BindSlotReferenceTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/CheckAnalysisTest.java
  regression-test/data/nereids_syntax_p0/bind_priority.out
  regression-test/suites/nereids_syntax_p0/bind_priority.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15573 [typo](docs)fix logstash readme url
  extension/logstash/README.md
Labels: approved, reviewed

#15575 [doc](yaml)update the label
  .asf.yaml
Labels: approved, reviewed

#15534 [Fix](Nereids) Use correct column unique id when read data from non-base index.
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotDescriptor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PlanTranslatorContext.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslatorTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/TableFunctionPlanTest.java
  regression-test/data/nereids_syntax_p0/rollup.out
  regression-test/suites/nereids_syntax_p0/rollup.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#15559 [fix](nereids)use DAYS as default unit for DATE_ADD and DATE_SUB function
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  regression-test/data/query_p0/sql_functions/conditional_functions/test_conditional_function.out
  regression-test/suites/query_p0/sql_functions/conditional_functions/test_conditional_function.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15574 [Bug](datetimev2 decimalv3) Fix wrong predicate infer rule
  fe/fe-core/src/main/java/org/apache/doris/rewrite/RoundLiteralInBinaryPredicatesRule.java
  regression-test/data/data_model_p0/duplicate/storage/test_dup_tab_datetime_nullable.out
Labels: approved, reviewed, dev/1.2.1

#15583 [docs](releasenotes)release 1.2.1
  docs/en/docs/releasenotes/release-1.2.1.md
  docs/sidebars.json
  docs/zh-CN/docs/releasenotes/release-1.2.1.md
Labels: kind/docs, approved, reviewed

#15579 [feature](nereids) Support select temp partition
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindRelation.java
  regression-test/data/nereids_syntax_p0/select_partition.out
  regression-test/suites/nereids_syntax_p0/select_partition.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15580 [fix](Nereids) SimplifyArithmeticRule should add constant expr to the head of variables list
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/SimplifyArithmeticRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Expression.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/Count.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/SimplifyArithmeticRuleTest.java
Labels: approved, reviewed, area/nereids

#15590 [docs](fix)fix 1.2.1 release notes
  docs/en/docs/releasenotes/release-1.2.1.md
  docs/zh-CN/docs/releasenotes/release-1.2.1.md
Labels: kind/docs, approved, reviewed

#15578 [bugfix](compaction) fix missing key_bounds in vertical compaction
  be/src/olap/merger.cpp
  be/src/olap/rowset/rowset_writer.h
  be/src/olap/rowset/vertical_beta_rowset_writer.cpp
  be/src/olap/rowset/vertical_beta_rowset_writer.h
Labels: compaction, dev/1.2.1

#15494 [fix](inbitmap) forbid having clause to include in bitmap.
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/suites/query_p0/join/test_bitmap_filter.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.2.1

#15532 [fix](bitmapfilter) fix bitmap filter not pushing down
  be/src/exprs/runtime_filter.cpp
  be/src/vec/exec/scan/vscan_node.cpp
  fe/fe-core/src/main/java/org/apache/doris/planner/RuntimeFilter.java
Labels: area/planner, approved, area/vectorization, reviewed, dev/1.2.1

#15585 [fix](storage-policy) fix some bug
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterPolicyStmt.java
  fe/fe-core/src/main/java/org/apache/doris/policy/StoragePolicy.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/org/apache/doris/task/NotifyUpdateStoragePolicyTask.java
Labels: area/planner, approved, reviewed

#15581 [fix](csv-reader) fix new csv reader's performance issue
  be/src/vec/exec/format/csv/csv_reader.cpp
  be/src/vec/exec/format/csv/csv_reader.h
  be/src/vec/exec/scan/vfile_scanner.h
Labels: kind/test, area/vectorization, area/multi-catalog

#15607 [FIX](Doc): catalog use resource doc error
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
Labels: kind/docs, approved, reviewed

#14405 [improvement](storage-policy) Add check validity when create storage policy.
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/backup/S3Storage.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/S3Resource.java
  fe/fe-core/src/test/java/org/apache/doris/alter/AlterTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/ResourceMgrTest.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/S3ResourceTest.java
  regression-test/suites/cold_heat_separation/policy/alter.groovy
  regression-test/suites/cold_heat_separation/policy/create.groovy
  regression-test/suites/cold_heat_separation/policy/drop.groovy
  regression-test/suites/cold_heat_separation/policy/show.groovy
  regression-test/suites/cold_heat_separation/use_policy/alter_table_add_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/create_table_use_partition_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/create_table_use_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/modify_partition_add_policy.groovy
  regression-test/suites/cold_heat_separation/use_policy/use_default_storage_policy.groovy
Labels: kind/test

#15569 [feature](mark join) Support mark join for hash join node
  be/src/vec/exec/join/process_hash_table_probe.h
  be/src/vec/exec/join/process_hash_table_probe_impl.h
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vjoin_node_base.cpp
  fe/fe-core/src/main/java/org/apache/doris/analysis/JoinOperator.java
  fe/fe-core/src/main/java/org/apache/doris/planner/HashJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/JoinNodeBase.java
  fe/fe-core/src/main/java/org/apache/doris/planner/NestedLoopJoinNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/RuntimeFilterGenerator.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  gensrc/thrift/PlanNodes.thrift
  regression-test/data/correctness/test_subquery_in_disjunction.out
  regression-test/suites/correctness/test_subquery_in_disjunction.groovy
Labels: area/planner, kind/test, approved, area/vectorization, reviewed, dev/1.2.1

#15611 [Bug](execute) fix get next non stop for eos on streaming preagg
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vaggregation_node.h
Labels: approved, area/vectorization, reviewed, dev/1.2.1

#15143 [fix](having-clause) having clause do not works correct with same alias name
  fe/fe-core/src/main/java/org/apache/doris/analysis/ExprSubstitutionMap.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/correctness_p0/test_group_having_alias.out
  regression-test/suites/correctness_p0/test_group_having_alias.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.2.1

#15620 [Enhancement](SparkLoad): avoid BE OOM in push task
  be/src/common/config.h
  be/src/exec/parquet_scanner.cpp
  be/src/olap/push_handler.cpp
  be/src/olap/push_handler.h
Labels: dev/1.2.1

#15479 [enhancement](Nereids) generate colocate join when property is different with require property
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/cascades/CostAndEnforcerJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/ChildrenPropertiesRegulator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/properties/DistributionSpecHash.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/properties/DistributionSpecHashTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/sqltest/JoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/sqltest/SqlTestBase.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/PlanChecker.java
Labels: approved, reviewed, area/nereids

#15621 [chore](vulnerability) fix some high risk vulnerabilities report by bug scanner
  be/src/exprs/aggregate_functions.cpp
  be/src/olap/merger.cpp
  be/src/olap/storage_policy_mgr.cpp
  be/src/olap/utils.cpp
  be/src/pipeline/exec/streaming_aggregation_sink_operator.cpp
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/vec/exec/vmysql_scan_node.cpp
  be/src/vec/exec/vrepeat_node.cpp
  be/src/vec/exec/vschema_scan_node.cpp
  be/src/vec/functions/functions_multi_string_position.cpp
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.2.1

#15597 [Pipeline](load) Support transaction on pipeline engine
  be/src/pipeline/exec/operator.h
  be/src/pipeline/pipeline_fragment_context.cpp
  be/src/pipeline/pipeline_fragment_context.h
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/fragment_mgr.h
  be/src/service/internal_service.cpp
  fe/fe-core/src/main/java/org/apache/doris/load/sync/canal/CanalSyncChannel.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
  gensrc/thrift/PaloInternalService.thrift
Labels: area/load

#15591 [Feature] (Nereids) support un equals conjuncts in un scalar sub query
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/AdjustApplyFromCorrelateToUnCorrelateJob.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateFilterUnderApplyProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PushApplyUnderProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ScalarApplyToJoin.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalApply.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/Utils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/analysis/AnalyzeWhereSubqueryTest.java
  regression-test/data/nereids_syntax_p0/sub_query_correlated.out
  regression-test/data/nereids_syntax_p0/sub_query_diff_old_optimize.out
  regression-test/suites/nereids_syntax_p0/sub_query_correlated.groovy
  regression-test/suites/nereids_syntax_p0/sub_query_diff_old_optimize.groovy
Labels: kind/test, area/nereids

#14896 [feature](Nereids): add ExtractFilterFromJoin rule to support more join condition
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriteJobExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/RuleType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ExtractFilterFromCrossJoin.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/ExtractFilterFromCrossJoinTest.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/sqltest/MultiJoinTest.java
Labels: area/nereids

#15558 [Improvement](topn) runtime prune for topn query
  be/src/olap/iterators.h
  be/src/olap/reader.cpp
  be/src/olap/reader.h
  be/src/olap/rowset/beta_rowset_reader.cpp
  be/src/olap/rowset/rowset_reader_context.h
  be/src/olap/rowset/segment_v2/segment.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.cpp
  be/src/olap/rowset/segment_v2/segment_iterator.h
  be/src/runtime/CMakeLists.txt
  be/src/runtime/query_fragments_ctx.h
  be/src/runtime/runtime_predicate.cpp
  be/src/runtime/runtime_predicate.h
  be/src/vec/common/sort/heap_sorter.cpp
  be/src/vec/common/sort/heap_sorter.h
  be/src/vec/common/sort/sorter.h
  be/src/vec/core/field.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/vsort_node.cpp
  be/src/vec/exec/vsort_node.h
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OriginalPlanner.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SortNode.java
  gensrc/thrift/PlanNodes.thrift
Labels: area/planner, approved, area/vectorization, reviewed, dev/1.2.1

#15639 [vulnerability](CVE-2022-1292) fix CVE-2022-1292
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlHandshakePacket.java
  fe/fe-core/src/test/java/org/apache/doris/mysql/MysqlHandshakePacketTest.java
  thirdparty/CHANGELOG.md
  thirdparty/vars.sh
Labels: affects-1.0, affects-1.1, dev/1.2.1, affects-1.2, vulnerability

#15645 [fix](Nereids): restrict join reorder project.
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/InnerJoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinReorderCommon.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinLogicalJoinTransposeProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinSemiJoinTransposeProject.java
Labels: approved, reviewed, area/nereids

#15635 [enhancement](frontendservice) add retry when create connection to frontend service
  be/src/runtime/client_cache.h
Labels: approved, reviewed, dev/1.2.2

#15567 [fix](join) fix anti join incorrectly outputs null values
  be/src/vec/exec/join/vhash_join_node.cpp
  be/src/vec/exec/join/vnested_loop_join_node.cpp
  be/src/vec/exec/join/vnested_loop_join_node.h
  regression-test/data/correctness_p0/test_null_aware_left_anti_join.out
  regression-test/data/nereids_syntax_p0/null_aware_left_anti_join.out
  regression-test/data/query_p0/join/test_join.out
  regression-test/suites/query_p0/join/test_join.groovy
Labels: kind/test, area/vectorization, dev/1.2.1

#15666 [vulnerability](CVE-2022-1292) fix CVE-2022-1292
  fe/fe-core/src/main/java/org/apache/doris/mysql/MysqlHandshakePacket.java
  fe/fe-core/src/test/java/org/apache/doris/mysql/MysqlHandshakePacketTest.java
  thirdparty/CHANGELOG.md
  thirdparty/vars.sh
Labels: approved, reviewed

#15644 [Bug](decimalv3) fix wrong result for MOD operation
  be/src/vec/core/block.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/ArithmeticExpr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BinaryPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FloatLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SetOperationStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ScalarType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/main/java/org/apache/doris/planner/ScanNode.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateTableAsSelectStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/QueryStmtTest.java
Labels: area/planner, area/vectorization, dev/1.2.1, dev/1.2.2

#15570 [feature](multi-catalog) support postgresql jdbc catalog
  be/src/vec/exec/vjdbc_connector.cpp
  be/src/vec/exec/vjdbc_connector.h
  docker/thirdparties/docker-compose/postgresql/init/01-create-schema.sql
  docker/thirdparties/docker-compose/postgresql/init/02-create-table.sql
  docker/thirdparties/docker-compose/postgresql/init/03-insert.sql
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ShowExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/JdbcExecutor.java
  regression-test/data/jdbc_catalog_p0/test_pg_jdbc_catalog.out
  regression-test/suites/jdbc_catalog_p0/test_mysql_jdbc_catalog.groovy
  regression-test/suites/jdbc_catalog_p0/test_pg_jdbc_catalog.groovy
Labels: kind/docs, kind/test, approved, area/vectorization, reviewed, area/multi-catalog, dev/1.2.1

#15643 [Feature](Nereids): add logical operator || &&
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisLexer.g4
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  regression-test/suites/nereids_syntax_p0/expression.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15608 [fix](Nereids): add information function and fix bugs in schemaScan
  fe/fe-core/src/main/java/org/apache/doris/catalog/BuiltinScalarFunctions.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/FoldConstantRuleOnFE.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/ConnectionId.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/CurrentUser.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/Database.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/User.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/ScalarFunctionVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SchemaScanNode.java
  regression-test/suites/nereids_syntax_p0/information_schema.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#15615 [fix](nereids) Convert to datetime when binary expr's left is date and right is int type
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/TypeCoercion.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/BinaryArithmetic.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalSetOperation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/TypeCoercionUtils.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OriginalPlanner.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/TypeCoercionUtilsTest.java
  regression-test/data/nereids_syntax_p0/test_convert.out
  regression-test/suites/nereids_syntax_p0/test_convert.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#15650 [Refactor](pipeline) refactor the code of channel buffer limit and change the default value
  be/src/common/config.h
  be/src/vec/exec/vexchange_node.cpp
  be/src/vec/runtime/vdata_stream_mgr.cpp
  be/src/vec/runtime/vdata_stream_mgr.h
  be/src/vec/runtime/vdata_stream_recvr.cpp
  be/src/vec/runtime/vdata_stream_recvr.h
  be/test/vec/runtime/vdata_stream_test.cpp
Labels: area/vectorization

#15629 [fix](decimalv2) fix loss of precision when cast to decimalv2 literal
  fe/fe-core/src/main/java/org/apache/doris/analysis/DecimalLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/FloatLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/IntLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/LargeIntLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/StringLiteral.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ScalarType.java
  regression-test/data/query_p0/union/test_union.out
Labels: area/planner, kind/test, approved, reviewed, dev/1.2.1

#15598 [test](Nereids)add nereids performance and syntax test
  regression-test/data/nereids_syntax_p0/sub_query_count_with_const.out
  regression-test/suites/nereids_performance_p0/sub_query_join_where_pushdown.groovy
  regression-test/suites/nereids_syntax_p0/sub_query_count_with_const.groovy
Labels: kind/test, approved, reviewed

#15677 [cherry-pick][feature](string_function) support split_by_string function
  be/src/vec/functions/function_string.cpp
  be/src/vec/functions/function_string.h
  be/test/vec/function/function_string_test.cpp
  docs/en/docs/sql-manual/sql-functions/string-functions/split_by_string.md
  docs/sidebars.json
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/split_by_string.md
  gensrc/script/doris_builtins_functions.py
  regression-test/data/query_p0/sql_functions/string_functions/test_split_by_string.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_split_by_string.groovy
Labels: kind/docs, kind/test, area/sql/function, area/vectorization

#15679 [typo](docs)(function)add sidebar for split_by_string function and delete split_by_char builtins code
  docs/sidebars.json
  gensrc/script/doris_builtins_functions.py
Labels: kind/docs, approved, area/sql/function, reviewed

#15647 [Feature](Nereids)add rlike
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  regression-test/data/nereids_syntax_p0/rlike.out
  regression-test/suites/nereids_syntax_p0/rlike.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15659 [feature](Nereids) support variable type expression
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisLexer.g4
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/FoldConstantRuleOnFE.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/VariableDesc.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/visitor/ExpressionVisitor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/VariableMgr.java
  regression-test/suites/nereids_syntax_p0/system_var.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15317 [enhancement](histogram) optimise aggregate function histogram
  be/src/vec/aggregate_functions/aggregate_function_histogram.cpp
  be/src/vec/aggregate_functions/aggregate_function_histogram.h
  be/src/vec/utils/histogram_helpers.hpp
  be/test/vec/aggregate_functions/agg_histogram_test.cpp
  docs/en/docs/sql-manual/sql-functions/aggregate-functions/histogram.md
  docs/zh-CN/docs/sql-manual/sql-functions/aggregate-functions/histogram.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  regression-test/data/query_p0/sql_functions/aggregate_functions/test_aggregate_histogram.out
  regression-test/suites/query_p0/sql_functions/aggregate_functions/test_aggregate_histogram.groovy
Labels: kind/docs, kind/test, approved, area/vectorization, reviewed

#15490 [enhancement](histogram) add histogram syntax and perstist histogram statistics
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/AlterColumnStatsStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/AnalyzeStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/InternalSchemaInitializer.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/StatsCalculator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/table/Numbers.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisManager.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/AnalysisTaskInfo.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/BaseAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/Bucket.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatistic.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/ColumnStatisticBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/Histogram.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HistogramBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HistogramTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/HiveAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/IcebergAnalysisTask.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/Statistic.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticConstants.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsCache.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsCacheLoader.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticsRepository.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/util/StatisticsUtil.java
  fe/fe-core/src/main/jflex/sql_scanner.flex
  fe/fe-core/src/test/java/org/apache/doris/nereids/util/HyperGraphBuilder.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/AnalysisJobTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/CacheTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/HistogramTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/MVStatisticsTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/StatsDeriveResultTest.java
  regression-test/suites/statistics/alter_col_stats.groovy
Labels: area/planner, kind/test, area/nereids

#15683 [typo](doc) fix Chinese describe
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array.md
  docs/zh-CN/docs/sql-manual/sql-functions/array-functions/array_with_constant.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/split_by_string.md
Labels: kind/docs, approved, reviewed

#15680 [typo](docs)add Q&A to jdbc external table
  docs/en/docs/ecosystem/external-table/jdbc-of-doris.md
  docs/zh-CN/docs/ecosystem/external-table/jdbc-of-doris.md
Labels: kind/docs, approved, reviewed

#15689 [fix](test) remove unstable regression test
  regression-test/suites/nereids_performance_p0/sub_query_join_where_pushdown.groovy
Labels: kind/test

#15670 [opt](multi-catalog) cache and reuse position delete rows in iceberg v2
  be/src/vec/exec/format/format_common.h
  be/src/vec/exec/format/table/iceberg_reader.cpp
  be/src/vec/exec/format/table/iceberg_reader.h
  be/src/vec/exec/scan/new_file_scan_node.cpp
  be/src/vec/exec/scan/new_file_scan_node.h
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/src/vec/exec/scan/vfile_scanner.h
Labels: area/vectorization, area/multi-catalog, dev/1.2.2

#15660 [improvement](multi-catalog) support unsupported column type
  docker/thirdparties/docker-compose/hive/scripts/create_preinstalled_table.hql
  docs/en/docs/advanced/variables.md
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/HiveMetaStoreClientHelper.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/PrimitiveType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ScalarType.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/EsUtil.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  gensrc/thrift/Types.thrift
  regression-test/data/external_catalog_p0/hive/test_hive_other.out
  regression-test/suites/external_catalog_p0/hive/test_hive_other.groovy
Labels: kind/docs, kind/test, area/multi-catalog, dev/1.2.2

#15638 [bugfix](vertical compaction) fix dcheck failed on MOW tablet
  be/src/vec/olap/vertical_merge_iterator.cpp
  regression-test/suites/compaction/test_vertical_compaction_uniq_keys.groovy
Labels: kind/test, area/vectorization, reviewed

#15708 [fix](regression p0) add the alias function hist to histogram and fix p0
  be/src/vec/aggregate_functions/aggregate_function_histogram.cpp
  docs/en/docs/sql-manual/sql-functions/aggregate-functions/histogram.md
  docs/zh-CN/docs/sql-manual/sql-functions/aggregate-functions/histogram.md
  fe/fe-core/src/main/java/org/apache/doris/catalog/FunctionSet.java
  regression-test/suites/query_p0/sql_functions/aggregate_functions/test_aggregate_histogram.groovy
Labels: kind/docs, kind/test, approved, area/vectorization, reviewed

#15706 [fix](meta) fix priv table load bug when upgrading to 1.2.x
  fe/fe-core/src/main/java/org/apache/doris/mysql/privilege/UserPrivTable.java
Labels: dev/1.2.2

#15682 [doc](export) add docs for cancel-export.
  docs/en/docs/data-operate/export/export-manual.md
  docs/en/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/CANCEL-EXPORT.md
  docs/sidebars.json
  docs/zh-CN/docs/data-operate/export/export-manual.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Manipulation-Statements/Manipulation/CANCEL-EXPORT.md
Labels: kind/docs, approved, reviewed

#15667 [refactor] delete non vec load from memtable
  be/src/olap/memtable.cpp
  be/src/olap/memtable.h
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset_writer.h
Labels: approved, reviewed

#15533 [fix](ui): 1. fix component/table can not change pageSize
  ui/src/api/api.ts
  ui/src/components/table/index.tsx
  ui/src/i18n.tsx
  ui/src/pages/configuration/index.tsx
  ui/src/pages/logs/index.tsx
  ui/src/pages/playground/content/components/data-prev.tsx
  ui/src/pages/playground/page-side/index.tsx
  ui/src/pages/playground/tree/index.tsx
  ui/src/pages/query-profile/index.tsx
  ui/src/pages/session/index.tsx
  ui/src/pages/system/index.tsx
  ui/src/utils/lazy.tsx
  ui/src/utils/utils.ts
  ui/tsconfig.json
Labels: approved, reviewed, dev/1.2.1

#15259 [Pipeline] Fix PipScannerContext::can_finish return wrong status
  be/src/pipeline/exec/scan_operator.cpp
  be/src/pipeline/pipeline_task.cpp
  be/src/pipeline/pipeline_task.h
  be/src/vec/exec/scan/pip_scanner_context.h
  be/src/vec/exec/scan/scanner_context.cpp
  be/src/vec/exec/scan/scanner_context.h
  be/src/vec/exec/vbroker_scan_node.h
Labels: approved, area/vectorization, reviewed

#14925 [Feature](audit) add errorCode and errorMessage in audit log
  docs/en/docs/ecosystem/audit-plugin.md
  docs/zh-CN/docs/ecosystem/audit-plugin.md
  fe/fe-core/src/main/java/org/apache/doris/plugin/AuditEvent.java
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
  fe/fe-core/src/main/java/org/apache/doris/qe/QueryState.java
  fe_plugins/auditloader/src/main/java/org/apache/doris/plugin/audit/AuditLoaderPlugin.java
  fe_plugins/auditloader/src/main/java/org/apache/doris/plugin/audit/DorisStreamLoader.java
Labels: kind/docs, kind/api-change, approved, area/plugin, reviewed, dev/1.2.1

#15715 [improvement](bdbje) add more log to make bdbje DatabaseNotFoundException problem easily solved
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBJEJournal.java
Labels: area/bdbje

#15212 [Feature](Materialized-View) support advanced Materialized-View
  be/src/olap/schema_change.cpp
  be/src/vec/exec/scan/new_olap_scanner.cpp
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/alter/RollupJobV2.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Analyzer.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateMaterializedViewStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/Expr.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVColumnBitmapUnionPattern.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVColumnHLLUnionPattern.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/MVColumnItem.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectList.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotRef.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Column.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/MaterializedIndexMeta.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/OlapTable.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/ScalarType.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/mv/AbstractSelectMaterializedIndexRule.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/mv/SelectMaterializedIndexWithAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/planner/MaterializedViewSelector.java
  fe/fe-core/src/main/java/org/apache/doris/planner/OlapScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/mvrewrite/CountFieldToSum.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/mvrewrite/ExprToSlotRefRule.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/mvrewrite/HLLHashToSlotRefRule.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/mvrewrite/SlotRefEqualRule.java
  fe/fe-core/src/main/java/org/apache/doris/rewrite/mvrewrite/ToBitmapToSlotRefRule.java
  fe/fe-core/src/test/java/org/apache/doris/alter/MaterializedViewHandlerTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateMaterializedViewStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/ExprTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/MVColumnBitmapUnionPatternTest.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/MVColumnHLLUnionPatternTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/MaterializedViewFunctionTest.java
  fe/fe-core/src/test/java/org/apache/doris/planner/MaterializedViewSelectorTest.java
  fe/fe-core/src/test/java/org/apache/doris/statistics/MVStatisticsTest.java
  fe/fe-core/src/test/java/org/apache/doris/utframe/DorisAssert.java
  regression-test/data/rollup/test_materialized_view_hll.out
  regression-test/data/rollup/test_materialized_view_hll_with_light_sc.out
  regression-test/data/rollup_p0/test_materialized_view.out
  regression-test/suites/schema_change_p0/test_agg_keys_schema_change.groovy
Labels: area/planner, kind/test, area/vectorization, area/nereids

#15692 [fix](multi-catalog) fix image loading failture when create catalog with resource
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Create/CREATE-CATALOG.md
  fe/fe-core/src/main/cup/sql_parser.cup
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateCatalogStmt.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ShowCreateCatalogStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/HMSResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/external/EsExternalTable.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogFactory.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogIf.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogMgr.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/CatalogProperty.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/EsExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/ExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/HMSExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  fe/fe-core/src/test/java/org/apache/doris/analysis/CreateCatalogStmtTest.java
  fe/fe-core/src/test/java/org/apache/doris/datasource/CatalogMgrTest.java
  regression-test/data/external_catalog_p0/hive/test_catalog_with_resource.out
  regression-test/data/jdbc_catalog_p0/test_mysql_jdbc_catalog.out
  regression-test/data/jdbc_p0/test_jdbc_query_mysql.out
  regression-test/data/jdbc_p0/test_jdbc_query_pg.out
  regression-test/data/query_p0/show/test_show_create_catalog.out
  regression-test/data/query_p0/show/test_show_where.out
  regression-test/suites/external_catalog_p0/hive/test_catalog_with_resource.groovy
  regression-test/suites/jdbc_p0/test_jdbc_query_mysql.groovy
Labels: kind/docs, area/planner, kind/test, dev/1.2.2

#15698 [Bug](bitmap) Fix bitmap_from_string for null constant
  be/src/vec/columns/column_const.cpp
  be/src/vec/functions/function_bitmap.cpp
  regression-test/data/datatype_p0/bitmap/test_bitmap_const.out
  regression-test/suites/datatype_p0/bitmap/test_bitmap_const.groovy
Labels: kind/test, approved, area/sql/function, area/vectorization, reviewed, dev/1.2.2

#15617 [fix](tvf) use virtual-hosted style when s3('uri'='s3://xxx')
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/S3TableValuedFunction.java
Labels: reviewed, dev/1.2.1

#15707 [fix](Nereids) divide operator return type is not same with lagecy anner
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/Divide.java
Labels: approved, reviewed, area/nereids

#15630 [fix](Nereids): add implicit casting for arithmetic expression
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/TypeCoercion.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/BinaryArithmetic.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/UnaryArithmetic.java
  regression-test/data/nereids_syntax_p0/function.out
  regression-test/suites/nereids_syntax_p0/function.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15674 [improvement](decimalv3) Java UDF and array type support DECIMALV3
  be/src/runtime/collection_value.cpp
  be/src/vec/functions/function_string.h
  fe/fe-core/src/main/java/org/apache/doris/analysis/FunctionCallExpr.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/test/java/org/apache/doris/rewrite/RewriteDateLiteralRuleTest.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdafExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfExecutor.java
  fe/java-udf/src/main/java/org/apache/doris/udf/UdfUtils.java
  gensrc/script/doris_builtins_functions.py
Labels: area/planner, area/sql/function, area/vectorization, dev/1.2.1, dev/1.2.2

#15696 [Bug](DECIMALV3) Fix binary predicate between decimalv3 and float
  fe/fe-core/src/main/java/org/apache/doris/analysis/BinaryPredicate.java
  regression-test/data/datatype_p0/decimalv3/test_predicate.out
  regression-test/suites/datatype_p0/decimalv3/test_predicate.groovy
Labels: area/planner, kind/test, dev/1.2.2

#15699 [fix](nereids) Fix the bugs of data distribution calculation on OlapScan
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/implementation/LogicalOlapScanToPhysicalOlapScan.java
  regression-test/data/nereids_syntax_p0/scan_partition.out
  regression-test/suites/nereids_syntax_p0/scan_partition.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15664 [feature](nereids) let set operation syntax campatible with lagecy planner
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/rewrite/logical/LimitPushDownTest.java
  regression-test/data/nereids_syntax_p0/set_operation.out
  regression-test/suites/nereids_syntax_p0/set_operation.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15662 [enhance](Nereids): polish test format, add more comment.
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/JoinReorderCommon.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinLogicalJoinTransposeProject.java
  regression-test/suites/query_p0/aggregate/aggregate_count1.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15724 [ehancement](nereids) Support list parttion prune
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/PruneOlapScanPartition.java
Labels: approved, reviewed, area/nereids

#15693 [fix](predicate) fix be core dump caused by pushing down the double column predicate
  fe/fe-core/src/main/java/org/apache/doris/planner/OriginalPlanner.java
  regression-test/data/query_p0/sql_functions/string_functions/test_split_part.out
  regression-test/suites/query_p0/sql_functions/string_functions/test_split_part.groovy
Labels: area/planner, kind/test, dev/1.2.2

#15751 [refactor](es) remove BE generated dsl for es query
  be/src/exec/es/es_scroll_query.cpp
  be/src/exec/es/es_scroll_query.h
  be/src/vec/exec/scan/new_es_scan_node.cpp
  be/src/vec/exec/scan/new_es_scan_node.h
  docs/en/docs/admin-manual/config/fe-config.md
  docs/en/docs/ecosystem/external-table/doris-on-es.md
  docs/zh-CN/docs/admin-manual/config/fe-config.md
  docs/zh-CN/docs/ecosystem/external-table/doris-on-es.md
  fe/fe-core/src/main/java/org/apache/doris/common/Config.java
  fe/fe-core/src/main/java/org/apache/doris/planner/EsScanNode.java
Labels: kind/docs, area/planner, area/vectorization

#15709 [typo](doc) command of manually trigger compaction incorrect
  docs/zh-CN/docs/admin-manual/http-actions/compaction-action.md
Labels: kind/docs

#15648 [typo](doc) add since dev lable to field function doc
  docs/en/docs/sql-manual/sql-functions/string-functions/field.md
  docs/zh-CN/docs/sql-manual/sql-functions/string-functions/field.md
Labels: kind/docs, reviewed

#15440 [fix](hashjoin) Fix right join pull output block memory overflow
  be/src/vec/exec/join/join_op.h
  be/src/vec/exec/join/process_hash_table_probe.h
  be/src/vec/exec/join/process_hash_table_probe_impl.h
  be/src/vec/exec/join/vhash_join_node.h
Labels: area/vectorization, reviewed, bug/sqlsmith, dev/1.2.1

#15687 [fix](profile) show query profile for pipeline engine
  fe/fe-core/src/main/java/org/apache/doris/common/profile/ProfileTreeBuilder.java
Labels: approved, reviewed

#15612 [feature](vectorized) Support MemoryScratchSink on vectorized engine
  be/src/exec/base_scanner.cpp
  be/src/exec/base_scanner.h
  be/src/exec/data_sink.cpp
  be/src/exec/exec_node.cpp
  be/src/exprs/create_predicate_function.h
  be/src/exprs/hybrid_set.h
  be/src/exprs/runtime_filter.cpp
  be/src/olap/in_list_predicate.h
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/runtime_state.h
  be/src/util/CMakeLists.txt
  be/src/util/arrow/block_convertor.cpp
  be/src/util/arrow/block_convertor.h
  be/src/util/arrow/row_batch.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/functions/in.h
  be/src/vec/sink/vmemory_scratch_sink.cpp
  be/src/vec/sink/vmemory_scratch_sink.h
Labels: approved, area/sql/function, area/vectorization, reviewed, dev/1.2.1

#15653 [fix](planner) disconjunct in sub-query failed when plan it on hash join
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
Labels: area/planner, approved, reviewed, dev/1.2.1

#15564 [mtmv](bugfix) fix replayReplaceTable error when restart fe
  fe/fe-core/src/main/java/org/apache/doris/alter/Alter.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/DatabaseIf.java
Labels: approved, reviewed

#15551 [mtmv](bugfix) fix buildmode missing when restart fe
  fe/fe-core/src/main/java/org/apache/doris/catalog/MaterializedView.java
Labels: approved, reviewed

#15727 [typo](docs)Update sequence-column-manual.md
  docs/zh-CN/docs/data-operate/update-delete/sequence-column-manual.md
Labels: kind/docs, approved, reviewed

#15745 [fix](having) revert 15143 and fix having clause with multi-conditions
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/correctness_p0/test_group_having_alias.out
  regression-test/suites/correctness_p0/test_group_having_alias.groovy
Labels: area/planner, kind/test, approved, reviewed, dev/1.2.2

#15741 [fix]fixed dangerous usage of namespace std
  be/src/agent/task_worker_pool.cpp
  be/src/exec/es/es_predicate.cpp
  be/src/gutil/hash/hash.h
  be/src/gutil/strings/stringpiece.cc
  be/src/gutil/strings/stringpiece.h
  be/src/olap/aggregate_func.cpp
  be/src/olap/in_list_predicate.h
  be/src/olap/task/engine_batch_load_task.h
  be/src/runtime/datetime_value.h
  be/src/runtime/decimalv2_value.h
  be/src/util/cityhash102/city.cc
  be/src/util/hash_util.hpp
  be/src/util/mustache/mustache.cc
  be/src/util/time.cpp
  be/src/util/uid_util.h
  be/src/vec/common/string_ref.h
  be/src/vec/common/strong_typedef.h
  be/src/vec/common/uint128.h
  be/src/vec/core/types.h
  be/src/vec/functions/function_totype.h
  be/src/vec/runtime/vdatetime_value.h
Labels: good first issue, approved, area/sql/function, area/vectorization, reviewed, dev/1.2.2

#15676 [regression](flink)add flink doris connector case
  regression-test/data/flink_connector_p0/flink_connector.out
  regression-test/suites/flink_connector_p0/ddl/create.sql
  regression-test/suites/flink_connector_p0/flink_connector.groovy
Labels: kind/test

#15649 [chore](vulnerability) fix fe high risk vulnerability scanned by bug scanner
  fe/fe-common/src/main/java/org/apache/doris/common/io/BitmapValue.java
  fe/fe-common/src/main/java/org/apache/doris/common/jmockit/FieldReflection.java
  fe/fe-common/src/main/java/org/apache/doris/common/jmockit/MethodReflection.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/BinaryPredicate.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/ColumnPartitionDesc.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/CreateTableStmt.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/Type.java
  fe/fe-core/src/main/java/org/apache/doris/clone/DynamicPartitionScheduler.java
  fe/fe-core/src/main/java/org/apache/doris/common/util/DynamicPartitionUtil.java
  fe/fe-core/src/main/java/org/apache/doris/deploy/impl/LocalFileDeployManager.java
  fe/fe-core/src/main/java/org/apache/doris/external/iceberg/IcebergTableCreationRecordMgr.java
  fe/fe-core/src/main/java/org/apache/doris/httpv2/rest/GetLogFileAction.java
  fe/fe-core/src/main/java/org/apache/doris/load/DppConfig.java
  fe/fe-core/src/main/java/org/apache/doris/load/EtlJobInfo.java
  fe/fe-core/src/main/java/org/apache/doris/persist/TableAddOrDropColumnsInfo.java
  fe/fe-core/src/main/java/org/apache/doris/persist/TableRenameColumnInfo.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SingleNodePlanner.java
  fe/fe-core/src/test/java/org/apache/doris/catalog/CatalogTestUtil.java
  fe/fe-core/src/test/java/org/apache/doris/planner/TableFunctionPlanTest.java
Labels: area/load, area/planner, approved, reviewed, affects-1.0, affects-1.1, affects-1.2, dev/1.2.2

#15657 [Enhancement](metric) add current edit log metric
  docs/zh-CN/docs/admin-manual/maint-monitor/monitor-metrics/metrics.md
  fe/fe-core/src/main/java/org/apache/doris/journal/Journal.java
  fe/fe-core/src/main/java/org/apache/doris/journal/bdbje/BDBJEJournal.java
  fe/fe-core/src/main/java/org/apache/doris/journal/local/LocalJournal.java
  fe/fe-core/src/main/java/org/apache/doris/master/Checkpoint.java
  fe/fe-core/src/main/java/org/apache/doris/metric/LongCounterMetric.java
  fe/fe-core/src/main/java/org/apache/doris/metric/MetricRepo.java
  fe/fe-core/src/main/java/org/apache/doris/persist/EditLog.java
Labels: kind/docs, reviewed

#15681 [fix](schema change) bugfix for light schema change while with rollup
  fe/fe-core/src/main/java/org/apache/doris/alter/SchemaChangeHandler.java
  regression-test/data/rollup_p0/test_rollup_add_column.out
  regression-test/suites/rollup_p0/test_rollup_add_column.groovy
Labels: kind/test, approved, reviewed, dev/1.2.2

#15721 [ehancement](nereids) Support utf8 id
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisLexer.g4
  regression-test/data/nereids_syntax_p0/utf8_id_test.out
  regression-test/suites/nereids_syntax_p0/utf8_id_test.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15735 [fix](nereids)week should be able to recognized as function name in function call context
  fe/fe-core/src/main/antlr4/org/apache/doris/nereids/DorisParser.g4
  regression-test/data/nereids_syntax_p0/test_time_lut_nereids.out
  regression-test/suites/nereids_syntax_p0/test_time_lut_nereids.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15712 [fix](nereids) fix bug in estimation of min/max of Year
  fe/fe-core/src/main/java/org/apache/doris/nereids/stats/ExpressionEstimation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/Utils.java
Labels: area/nereids

#15618 [feature-wip](multi-catalog) add iceberg tvf to read snapshots
  be/src/exec/exec_node.cpp
  be/src/runtime/plan_fragment_executor.cpp
  be/src/vec/CMakeLists.txt
  be/src/vec/exec/scan/vmeta_scan_node.cpp
  be/src/vec/exec/scan/vmeta_scan_node.h
  be/src/vec/exec/scan/vmeta_scanner.cpp
  be/src/vec/exec/scan/vmeta_scanner.h
  fe/fe-core/src/main/java/org/apache/doris/planner/external/MetadataScanNode.java
  fe/fe-core/src/main/java/org/apache/doris/service/FrontendServiceImpl.java
  fe/fe-core/src/main/java/org/apache/doris/statistics/StatisticalType.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/IcebergTableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/MetadataTableValuedFunction.java
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/TableValuedFunctionIf.java
  gensrc/thrift/FrontendService.thrift
  gensrc/thrift/PlanNodes.thrift
Labels: area/planner, kind/test, area/vectorization, area/multi-catalog, dev/1.2.1

#15757 [BugFix](JdbcResource) fix that JdbcResource does not support the jdbcurl of `Oracle` and `SQLServer`
  fe/fe-core/src/main/java/org/apache/doris/catalog/JdbcResource.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/JdbcExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/external/jdbc/JdbcClient.java
  fe/fe-core/src/main/java/org/apache/doris/planner/JdbcScanNode.java
Labels: area/planner, approved, reviewed, area/multi-catalog

#15764 [fix](tvf) cancel strict restrictions on tvf parameters
  fe/fe-core/src/main/java/org/apache/doris/tablefunction/HdfsTableValuedFunction.java
Labels: approved, reviewed, area/multi-catalog

#15770 [deps](hdfs) update libhdfs3 to v2.3.5 to support KMS
  docs/en/docs/ecosystem/external-table/multi-catalog.md
  docs/zh-CN/docs/ecosystem/external-table/multi-catalog.md
  thirdparty/vars.sh
Labels: kind/docs

#15546 [mtmv](regression-test) add mtmv write data regression test
  regression-test/suites/mtmv_p0/test_create_mtmv.groovy
Labels: kind/test, approved, reviewed

#15646 [fix](nereids) bind sort key priority problem
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindSlotReference.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalSubQueryAlias.java
  regression-test/data/nereids_syntax_p0/bind_priority.out
  regression-test/suites/nereids_syntax_p0/bind_priority.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15672 [fix](Nereids): Add varchar literal compare
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/Literal.java
  regression-test/suites/nereids_syntax_p0/function.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15185 [Fix](Nereids)fix type coercion for binary arithmetic
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/expression/rewrite/rules/TypeCoercion.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/TypeCoercionUtils.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/expression/rewrite/TypeCoercionTest.java
  regression-test/data/nereids_syntax_p0/cast.out
  regression-test/suites/nereids_syntax_p0/cast.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15768 [Bug](schema scanner) Fix wrong type in schema scanner
  be/src/exec/schema_scanner/schema_columns_scanner.cpp
Labels: approved, reviewed, dev/1.2.2

#15736 [refactor](hashtable) simplify template args of partitioned hash table
  be/src/vec/common/hash_table/hash_table.h
  be/src/vec/common/hash_table/partitioned_hash_map.h
  be/src/vec/common/hash_table/partitioned_hash_table.h
Labels: area/vectorization

#15624 [feature](spill to disk) Support spill to disk for sort node
  be/src/common/daemon.cpp
  be/src/common/daemon.h
  be/src/runtime/block_spill_manager.cpp
  be/src/runtime/block_spill_manager.h
  be/src/runtime/exec_env_init.cpp
  be/src/runtime/runtime_state.h
  be/src/vec/common/sort/sorter.cpp
  be/src/vec/common/sort/sorter.h
  be/src/vec/common/sort/topn_sorter.cpp
  be/src/vec/common/sort/topn_sorter.h
  be/src/vec/core/block_spill_reader.cpp
  be/src/vec/core/block_spill_reader.h
  be/src/vec/core/block_spill_writer.cpp
  be/src/vec/core/block_spill_writer.h
  be/src/vec/core/sort_cursor.h
  be/src/vec/exec/vsort_node.cpp
  be/src/vec/exprs/vcase_expr.cpp
  be/src/vec/runtime/vdata_stream_recvr.h
  be/src/vec/runtime/vsorted_run_merger.cpp
  be/src/vec/runtime/vsorted_run_merger.h
  be/test/vec/core/block_spill_test.cpp
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
  gensrc/thrift/PaloInternalService.thrift
Labels: area/vectorization

#15787 [chore](fe) update fe snapshot to 1.2 and fix auditloader compile error
  build.sh
  fe/pom.xml
  fe_plugins/pom.xml
Labels: dev/1.2.2

#15753 [chore](thirdparty) fix bug that GSSAPI of libgsasl is disabled
  thirdparty/build-thirdparty.sh
Labels: approved, reviewed, dev/1.2.2

#15767 [refactor](remove row batch) remove impala rowbatch structure
  be/src/exec/exec_node.cpp
  be/src/exec/table_connector.h
  be/src/olap/delta_writer.cpp
  be/src/runtime/CMakeLists.txt
  be/src/runtime/cache/result_cache.h
  be/src/runtime/cache/result_node.h
  be/src/runtime/plan_fragment_executor.cpp
  be/src/runtime/row_batch.cpp
  be/src/runtime/row_batch.h
  be/src/runtime/tablets_channel.cpp
  be/src/util/arrow/block_convertor.h
  be/src/util/arrow/row_batch.cpp
  be/src/util/arrow/row_batch.h
  be/src/vec/core/block.cpp
  be/src/vec/exec/data_gen_functions/vnumbers_tvf.cpp
  be/src/vec/exec/join/vnested_loop_join_node.cpp
  be/src/vec/exec/vaggregation_node.cpp
  be/src/vec/exec/vanalytic_eval_node.cpp
  be/src/vec/exec/vdata_gen_scan_node.cpp
  be/src/vec/exec/vmysql_scan_node.cpp
  be/src/vec/exec/vschema_scan_node.cpp
  be/src/vec/exec/vset_operation_node.h
  be/src/vec/exec/vsort_node.cpp
  be/src/vec/runtime/vsorted_run_merger.cpp
  be/src/vec/sink/vresult_file_sink.cpp
  be/src/vec/sink/vtablet_sink.cpp
  be/src/vec/sink/vtablet_sink.h
  be/test/exprs/binary_predicate_test.cpp
  be/test/exprs/in_op_test.cpp
  be/test/runtime/data_spliter_test.cpp
  be/test/runtime/fragment_mgr_test.cpp
  be/test/vec/core/block_test.cpp
  be/test/vec/exec/vjson_scanner_test.cpp
  be/test/vec/exec/vorc_scanner_test.cpp
  be/test/vec/exec/vparquet_scanner_test.cpp
  be/test/vec/exprs/vexpr_test.cpp
Labels: approved, area/vectorization, reviewed

#15604 [refactor](scan-pool) move scan pool from env to scanner scheduler
  be/src/olap/memtable.cpp
  be/src/olap/memtable_flush_executor.cpp
  be/src/olap/rowset/beta_rowset_writer.cpp
  be/src/olap/rowset/beta_rowset_writer.h
  be/src/olap/rowset/rowset_writer.h
  be/src/runtime/exec_env.h
  be/src/runtime/exec_env_init.cpp
  be/src/runtime/fragment_mgr.cpp
  be/src/runtime/query_fragments_ctx.h
  be/src/vec/exec/scan/new_es_scan_node.cpp
  be/src/vec/exec/scan/new_es_scanner.cpp
  be/src/vec/exec/scan/new_es_scanner.h
  be/src/vec/exec/scan/new_jdbc_scan_node.cpp
  be/src/vec/exec/scan/new_jdbc_scanner.cpp
  be/src/vec/exec/scan/new_jdbc_scanner.h
  be/src/vec/exec/scan/new_odbc_scan_node.cpp
  be/src/vec/exec/scan/new_odbc_scanner.cpp
  be/src/vec/exec/scan/new_odbc_scanner.h
  be/src/vec/exec/scan/new_olap_scanner.cpp
  be/src/vec/exec/scan/new_olap_scanner.h
  be/src/vec/exec/scan/scanner_scheduler.cpp
  be/src/vec/exec/scan/scanner_scheduler.h
  be/src/vec/exec/scan/vfile_scanner.cpp
  be/src/vec/exec/scan/vfile_scanner.h
  be/src/vec/exec/scan/vscanner.cpp
  be/src/vec/exec/scan/vscanner.h
  be/test/runtime/test_env.cc
Labels: area/vectorization, dev/1.2.2

#15728 [Build](cmake) Uniform capitalization keyword of cmakelist
  be/CMakeLists.txt
Labels: approved, reviewed

#15789 [chore](thirdparty) Fix the md5sum of the package brpc-1.2.0.tar.gz
  thirdparty/vars.sh
Labels: approved, reviewed, dev/1.2.2

#15661 [fix](compile) compile failed in Mac with clang14
  thirdparty/build-thirdparty.sh
Labels: approved, reviewed

#15732 [chore](Session) remove unused codes for enable_lateral_view
  fe/fe-core/src/main/java/org/apache/doris/qe/SessionVariable.java
Labels: approved, area/config, reviewed

#15738 [Bug](mv) fix mv selector check group expr && forbid create dup mv with bitmap/…
  fe/fe-core/src/main/java/org/apache/doris/alter/MaterializedViewHandler.java
  fe/fe-core/src/main/java/org/apache/doris/analysis/SelectStmt.java
  regression-test/data/materialized_view_p0/test_dup_mv_abs/test_dup_mv_abs.out
  regression-test/data/materialized_view_p0/test_dup_mv_bin/test_dup_mv_bin.out
  regression-test/data/materialized_view_p0/test_dup_mv_bitmap_hash/test_dup_mv_bitmap_hash.out
  regression-test/data/materialized_view_p0/test_dup_mv_plus/test_dup_mv_plus.out
  regression-test/data/materialized_view_p0/test_dup_mv_year/test_dup_mv_year.out
  regression-test/suites/materialized_view_p0/test_dup_mv_abs/test_dup_mv_abs.groovy
  regression-test/suites/materialized_view_p0/test_dup_mv_bin/test_dup_mv_bin.groovy
  regression-test/suites/materialized_view_p0/test_dup_mv_bitmap_hash/test_dup_mv_bitmap_hash.groovy
  regression-test/suites/materialized_view_p0/test_dup_mv_plus/test_dup_mv_plus.groovy
  regression-test/suites/materialized_view_p0/test_dup_mv_year/test_dup_mv_year.groovy
Labels: area/planner, kind/test, approved, reviewed

#15746 [enhance](Nereids): github action forgot some nereids file.
  .github/workflows/labeler/scope-label-conf.yml
  .github/workflows/scope-label.yml
Labels: approved, reviewed

#15800 [doc] Update be-vscode-dev.md
  docs/en/community/developer-guide/be-vscode-dev.md
Labels: kind/docs, approved, reviewed

#15740 [Feature](Nereids)add relation id to unboundTVFRelation to avoid incorrect group expression comparison
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundOneRowRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/analyzer/UnboundTVFRelation.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/BindFunction.java
  regression-test/data/nereids_syntax_p0/function.out
  regression-test/suites/nereids_syntax_p0/function.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15784 [fix](nereids) orthogonal_bitmap_intersect's return type should be bitmap
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/agg/OrthogonalBitmapIntersect.java
  regression-test/data/nereids_syntax_p0/test_bitmap_function_nereids.out
  regression-test/suites/nereids_syntax_p0/test_bitmap_function_nereids.groovy
Labels: kind/test, approved, reviewed, area/nereids

#15805 [bug](compile) fix vscan node compile error
  be/src/vec/exec/scan/vmeta_scan_node.cpp
  be/src/vec/exec/scan/vmeta_scanner.cpp
  be/src/vec/exec/scan/vmeta_scanner.h
Labels: area/vectorization, reviewed

#15804 [branch-1.1-lts](unique key) disable concurrent flush memtable for unique key
  be/src/olap/delta_writer.cpp
  be/src/olap/memtable_flush_executor.cpp
  be/src/olap/memtable_flush_executor.h
Labels: dev/1.1.6

#15786 [fix](Nereids): move parentExpression in moveOwnership()
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Group.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/memo/Memo.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/Utils.java
Labels: approved, reviewed, area/nereids

#15765 [fix](QueryDetail) fix QueryDetail may be incorrect and null pointer exception
  fe/fe-core/src/main/java/org/apache/doris/qe/ConnectProcessor.java
Labels: approved, reviewed, dev/1.2.2

#15792 [fix](DOE): Fix query _id error and es properties error
  fe/fe-core/src/main/java/org/apache/doris/catalog/EsResource.java
  fe/fe-core/src/main/java/org/apache/doris/catalog/EsTable.java
  fe/fe-core/src/main/java/org/apache/doris/datasource/EsExternalCatalog.java
  fe/fe-core/src/main/java/org/apache/doris/external/elasticsearch/MappingPhase.java
Labels: approved, reviewed, area/multi-catalog, dev/1.2.2

#15714 [fix](nereids)fix some nereids bugs
  fe/fe-core/src/main/java/org/apache/doris/nereids/glue/translator/PhysicalPlanTranslator.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/jobs/batch/NereidsRewriteJobExecutor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/parser/LogicalPlanBuilder.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/processor/post/PlanPostProcessors.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/CheckAnalysis.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/analysis/ResolveOrdinalInOrderByAndGroupBy.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinLogicalJoinTranspose.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/exploration/join/SemiJoinLogicalJoinTransposeProject.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/ApplyPullFilterOnProjectUnderAgg.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/EliminateGroupByConstant.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/rules/rewrite/logical/NormalizeToSlot.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/Ceil.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/functions/scalar/Floor.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/expressions/literal/Literal.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/trees/plans/logical/LogicalAggregate.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/JoinUtils.java
  fe/fe-core/src/main/java/org/apache/doris/nereids/util/TypeCoercionUtils.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SetOperationNode.java
  fe/fe-core/src/main/java/org/apache/doris/planner/SortNode.java
  fe/fe-core/src/test/java/org/apache/doris/nereids/rules/exploration/join/OuterJoinLAsscomProjectTest.java
  regression-test/data/nereids_syntax_p0/function.out
  regression-test/data/nereids_syntax_p0/group_by_constant.out
  regression-test/data/nereids_syntax_p0/join_order.out
  regression-test/data/nereids_syntax_p0/set_operation.out
  regression-test/data/nereids_syntax_p0/type_cast.out
  regression-test/data/query_p0/keyword/order_group.out
  regression-test/suites/nereids_syntax_p0/function.groovy
  regression-test/suites/nereids_syntax_p0/group_by_constant.groovy
  regression-test/suites/nereids_syntax_p0/join.groovy
  regression-test/suites/nereids_syntax_p0/join_order.groovy
  regression-test/suites/nereids_syntax_p0/set_operation.groovy
  regression-test/suites/nereids_syntax_p0/type_cast.groovy
Labels: area/planner, kind/test, approved, reviewed, area/nereids

#15758 [chore](docs) improve docs for ALTER-TABLE-COLUMN
  docs/en/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-COLUMN.md
  docs/zh-CN/docs/sql-manual/sql-reference/Data-Definition-Statements/Alter/ALTER-TABLE-COLUMN.md
Labels: kind/docs, approved, reviewed

#15752 [fix](Nereids) SlotRef's toSql does not work well in non-query statement
  fe/fe-core/src/main/java/org/apache/doris/analysis/SlotRef.java
  fe/fe-core/src/main/java/org/apache/doris/qe/QueryState.java
  fe/fe-core/src/main/java/org/apache/doris/qe/StmtExecutor.java
Labels: area/planner, approved, reviewed
